Repository OpenBB-finance/OpenBB, pull requests merged in 2021-05, with the labels that each got.

#449 Remove old requirements lists as they contain security vulnerabilities
  requirements-old.txt
  requirements-win.txt
Labels: build

#450 Enforce PR labels
  .github/workflows/labels.yml
Labels: build

#451 Pull updated dependencies
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: build

#452 Add option to go to ta menu from crypto
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/binance_model.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
Labels: s-feature

#453 Add gov-contracts
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/government/README.md
  gamestonk_terminal/government/gov_controller.py
  gamestonk_terminal/government/quiverquant_model.py
  gamestonk_terminal/government/quiverquant_view.py
  gamestonk_terminal/prediction_techniques/arima_view.py
  gamestonk_terminal/prediction_techniques/ets_view.py
  gamestonk_terminal/prediction_techniques/knn_view.py
  gamestonk_terminal/prediction_techniques/regression_view.py
Labels: s-feature

#454 Etf menu
  .pre-commit-config.yaml
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/discovery/marketbeat_view.py
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/etf/__init__.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/stockanalysis_model.py
  gamestonk_terminal/fundamental_analysis/business_insider_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/prediction_techniques/arima_view.py
  gamestonk_terminal/residuals_analysis/residuals_model.py
  terminal.py
Labels: m-feature

#458 Reorganize labels to match projects like tensorflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/labels.yml
Labels: type:build

#459 Updating README refs for bug labels
  README.md
Labels: type:docs

#461 Patches
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: type:enhancement

#462 Fix bug #456
  gamestonk_terminal/discovery/finviz_view.py
Labels: type:bug

#463 fix a mess created by making timeseries-cv pip installable
  gamestonk_terminal/prediction_techniques/regression_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: type:bug

#466 update incorrect fred key from config file
  .github/workflows/Mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  gamestonk_terminal/econ/fred_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
Labels: type:bug

#468 Minor improvements to ETF menu
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/stockanalysis_model.py
Labels: type:enhancement

#467 Fix FRED API KEY name #465
  README.md
  requirements-full.txt
Labels: type:bug

#469 Add menu option 'quote'
  gamestonk_terminal/README.md
  gamestonk_terminal/main_helper.py
  terminal.py
Labels: size:S

#470 Fix Screener View and Improve TA Finviz View
  gamestonk_terminal/screener/presets/buffett_like.ini
  gamestonk_terminal/screener/presets/cheap_bottom_dividend.ini
  gamestonk_terminal/screener/presets/cheap_dividend.ini
  gamestonk_terminal/screener/presets/cheap_oversold.ini
  gamestonk_terminal/screener/presets/death_cross.ini
  gamestonk_terminal/screener/presets/golden_cross.ini
  gamestonk_terminal/screener/presets/heavy_inst_ins.ini
  gamestonk_terminal/screener/presets/modified_dreman.ini
  gamestonk_terminal/screener/presets/modified_neff.ini
  gamestonk_terminal/screener/presets/rosenwald.ini
  gamestonk_terminal/screener/presets/rosenwald_gtfo.ini
  gamestonk_terminal/screener/presets/sexy_year.ini
  gamestonk_terminal/screener/presets/template.ini
  gamestonk_terminal/screener/presets/undervalue.ini
  gamestonk_terminal/technical_analysis/finviz_view.py
  gamestonk_terminal/technical_analysis/ta_controller.py
Labels: type:bug

#471 Make `gst` executable
  pyproject.toml
Labels: size:S

#472 Add running terminal on Apple M1 tutorial
  README.md
Labels: type:docs

#473 Add Python 3.9 remove Python 3.7
  .github/workflows/test.yml
Labels: type:build

#474 Attempting to fix requirements as both full Mac and Windows builds are getting stuck
  .github/workflows/Mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  poetry.lock
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: type:build

#476 Move tensorflow into optional
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: type:bug, type:build

#477 Only comment degiro and not entire portfolio menu
  gamestonk_terminal/portfolio/port_controller.py
  terminal.py
Labels: type:bug
