Repository OpenBB-finance/OpenBB, pull requests merged in 2021-09, with the labels that each got.

#727 Disabling tests depending on yf.download to fix the suite failures
  tests/test_discovery/test_discovery_ark_model.py
  tests/test_discovery/test_discovery_ark_view.py
  tests/test_main/test_main_helper.py
Labels: bug, tests

#728 Updating URLs based on changed labels
  README.md
Labels: docs

#730 Updating dependencies and cleaning up
  .github/workflows/test.yml
  .pylintrc
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build

#732 Comment out fa_excel test
  tests/test_fa/test_fa_excel.py
Labels: bug

#731 Add realtime earnings from geekofwallstr
  README.md
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/geekofwallstreet_model.py
  gamestonk_terminal/stocks/discovery/geekofwallstreet_view.py
  gamestonk_terminal/terminal_helper.py
Labels: feat S

#733 reuse patch_pandas_text_adjustment in ca stocks menu
  gamestonk_terminal/stocks/comparison_analysis/marketwatch_view.py
Labels: enhancement

#724 Refactoring crypto menu 2nd part
  gamestonk_terminal/cryptocurrency/coinpaprika_helpers.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/dataframe_helpers.py
  gamestonk_terminal/cryptocurrency/discovery/binance_model.py
  gamestonk_terminal/cryptocurrency/discovery/binance_view.py
  gamestonk_terminal/cryptocurrency/discovery/coinmarketcap_model.py
  gamestonk_terminal/cryptocurrency/discovery/coinmarketcap_view.py
  gamestonk_terminal/cryptocurrency/discovery/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/discovery/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/finbrain_crypto_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/overview/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/overview/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/cryptocurrency/report/crypto_market_view.py
  gamestonk_terminal/cryptocurrency/report/report_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  tests/cassettes/test_cryptocurrency/test_coingecko/test_coin_gainers.yaml
  tests/cassettes/test_cryptocurrency/test_coingecko/test_coin_holding_comapnies.yaml
  tests/cassettes/test_cryptocurrency/test_coingecko/test_coin_losers.yaml
  tests/cassettes/test_cryptocurrency/test_coingecko/test_coin_overview.yaml
  tests/test_cryptocurrency/test_coingecko_crypto.py
  tests/test_cryptocurrency/test_coinpaprika_view.py
Labels: refactor

#734 Fix failing test
  tests/test_cryptocurrency/test_coinpaprika_view.py
Labels: tests

#735 Updating docker build configuration for poetry-full-deps to depend on poetry-deps
  docker/compose.env
  docker/docker-compose.yaml
  docker/gst-poetry-full-deps.dockerfile
Labels: docker

#736 implement gwei feature (ethereum gas fees)
  exports/cryptocurrency/onchain/.gitkeep
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/onchain/__init__.py
  gamestonk_terminal/cryptocurrency/onchain/gasnow_model.py
  gamestonk_terminal/cryptocurrency/onchain/gasnow_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
Labels: feat XS

#737 Add docker documentation
  DOCKER_ADVANCED.md
  README.md
Labels: docs

#738 Simple resources menu refactor
  gamestonk_terminal/resources/resources_controller.py
Labels: refactor

#718 Introduce Jupyter Lab extensions
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  jupyterlab/README.md
  jupyterlab/gst-settings/.eslintignore
  jupyterlab/gst-settings/.eslintrc.js
  jupyterlab/gst-settings/MANIFEST.in
  jupyterlab/gst-settings/README.md
  jupyterlab/gst-settings/RELEASE.md
  jupyterlab/gst-settings/gamestonk_terminal_settings/__init__.py
  jupyterlab/gst-settings/gamestonk_terminal_settings/_version.py
  jupyterlab/gst-settings/install.json
  jupyterlab/gst-settings/package-lock.json
  jupyterlab/gst-settings/package.json
  jupyterlab/gst-settings/pyproject.toml
  jupyterlab/gst-settings/schema/settings.json
  jupyterlab/gst-settings/setup.py
  jupyterlab/gst-settings/src/components/FormInput.tsx
  jupyterlab/gst-settings/src/index.ts
  jupyterlab/gst-settings/src/svg.d.ts
  jupyterlab/gst-settings/src/widget.tsx
  jupyterlab/gst-settings/style/base.css
  jupyterlab/gst-settings/style/index.css
  jupyterlab/gst-settings/style/index.js
  jupyterlab/gst-settings/style/logo.svg
  jupyterlab/gst-settings/style/settings-icon.svg
  jupyterlab/gst-settings/tsconfig.json
  jupyterlab/gst-settings/ui-tests/README.md
  jupyterlab/gst-settings/ui-tests/package.json
  jupyterlab/gst-settings/ui-tests/playwright.config.ts
  jupyterlab/gst-settings/ui-tests/tests/gst-settings.spec.ts
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/.eslintignore
  jupyterlab/gst/.eslintrc.js
  jupyterlab/gst/MANIFEST.in
  jupyterlab/gst/README.md
  jupyterlab/gst/RELEASE.md
  jupyterlab/gst/gamestonk_terminal_launcher/__init__.py
  jupyterlab/gst/gamestonk_terminal_launcher/_version.py
  jupyterlab/gst/install.json
  jupyterlab/gst/package-lock.json
  jupyterlab/gst/package.json
  jupyterlab/gst/pyproject.toml
  jupyterlab/gst/setup.py
  jupyterlab/gst/src/index.ts
  jupyterlab/gst/src/interfaces.ts
  jupyterlab/gst/src/svg.d.ts
  jupyterlab/gst/style/base.css
  jupyterlab/gst/style/index.css
  jupyterlab/gst/style/index.js
  jupyterlab/gst/style/logo.svg
  jupyterlab/gst/style/terminal.svg
  jupyterlab/gst/tsconfig.json
  pyproject.toml
Labels: enhancement, feat L

#739 Allow economy menu to save figures
  gamestonk_terminal/economy/alphavantage_view.py
  gamestonk_terminal/economy/cnn_view.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/feargreed.jpg
  gamestonk_terminal/economy/finnhub_view.py
  gamestonk_terminal/economy/finviz_view.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/economy/wsj_view.py
  gamestonk_terminal/helper_funcs.py
Labels: refactor

#740 Updating dependencies to address pillow security
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build

#742 fix load arguments order
  gamestonk_terminal/stocks/backtesting/bt_controller.py
Labels: bug

#743 Coinbase pro api
  .pre-commit-config.yaml
  README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/coinbase_helpers.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/data/coinbase_gecko_map.json
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinbase_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinbase_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/overview/coinbase_model.py
  gamestonk_terminal/cryptocurrency/overview/coinbase_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/__init__.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_model.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_view.py
  tests/test_cryptocurrency/test_coinbase_view.py
Labels: feat L

#751 Allow for shorthand menu input
  gamestonk_terminal/forex/forex_controller.py
  terminal.py
Labels: feat XS

#748 Refactor port-> po and pa menus
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_parser.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_view.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolios/my_portfolio.csv
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_helper.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_model.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/yahoo_finance_model.py
  tests/test_portfolio_optimization/test_optimizer_view.py
Labels: refactor

#749 Added start date argument to newsapi
  gamestonk_terminal/common/newsapi_view.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: feat XS

#753 Improve docker docs
  DOCKER_ADVANCED.md
  docker/setenv
  website/content/stocks/news/_index.md
Labels: docs, docker

#754 Major brokers refactor into separate menus
  exports/portfolio/.gitkeep
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/ally/ally_model.py
  gamestonk_terminal/portfolio/brokers/ally/ally_view.py
  gamestonk_terminal/portfolio/brokers/ally_api.py
  gamestonk_terminal/portfolio/brokers/alp_api.py
  gamestonk_terminal/portfolio/brokers/alpaca/alpaca_controller.py
  gamestonk_terminal/portfolio/brokers/alpaca/alpaca_model.py
  gamestonk_terminal/portfolio/brokers/alpaca/alpaca_view.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/brokers_helpers.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_model.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_view.py
  gamestonk_terminal/portfolio/brokers/rh_api.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_model.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/content/portfolio/brokers/ally/_index.md
  website/content/portfolio/brokers/ally/balances/_index.md
  website/content/portfolio/brokers/ally/history/_index.md
  website/content/portfolio/brokers/ally/holdings/_index.md
  website/content/portfolio/brokers/ally/movers/_index.md
  website/content/portfolio/brokers/ally/quote/_index.md
  website/content/portfolio/brokers/alpaca/_index.md
  website/content/portfolio/brokers/alpaca/history/_index.md
  website/content/portfolio/brokers/alpaca/holdings/_index.md
  website/content/portfolio/brokers/coinbase/_index.md
  website/content/portfolio/brokers/coinbase/account/_index.md
  website/content/portfolio/brokers/coinbase/deposits/_index.md
  website/content/portfolio/brokers/coinbase/history/_index.md
  website/content/portfolio/brokers/coinbase/orders/_index.md
  website/content/portfolio/brokers/robinhood/_index.md
  website/content/portfolio/brokers/robinhood/history/_index.md
  website/content/portfolio/brokers/robinhood/holdings/_index.md
  website/data/menu/main.yml
Labels: refactor

#758 Fix #755 ba/popularsi bug
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
Labels: bug

#756 Added sources argument to the news command
  gamestonk_terminal/common/newsapi_view.py
  gamestonk_terminal/stocks/README.md
  gamestonk_terminal/stocks/due_diligence/README.md
  gamestonk_terminal/stocks/stocks_controller.py
  website/content/stocks/news/_index.md
Labels: enhancement

#760 Wales alerts
  README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/onchain/whale_alert_model.py
  gamestonk_terminal/cryptocurrency/onchain/whale_alert_view.py
  website/content/cryptocurrency/onchain/whales/_index.md
Labels: feat S

#762 Add Econiverse to resources
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/resources/resources_controller.py
Labels: feat XS

#761 Add fa/analysis command to analyse filings using NLP
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/stocks/fundamental_analysis/eclect_us_model.py
  gamestonk_terminal/stocks/fundamental_analysis/eclect_us_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  website/content/stocks/fundamental_analysis/analysis/_index.md
  website/data/menu/main.yml
Labels: feat XS

#764 Small improvement on fa/analysis and new image for discord bot
  gamestonk_terminal/stocks/fundamental_analysis/eclect_us_model.py
  images/gst_logo_green_white_background.png
Labels: enhancement

#770 Improve main README
  README.md
  gamestonk_terminal/economy/feargreed.jpg
Labels: docs

#769 Improve news to address #767
  gamestonk_terminal/stocks/stocks_controller.py
Labels: enhancement

#766 Adding the Discord Bot
  discordbot/README.md
  discordbot/config_discordbot.py
  discordbot/discordbot.py
  discordbot/economy/currencies.py
  discordbot/economy/economy_menu.py
  discordbot/economy/feargreed.py
  discordbot/economy/futures.py
  discordbot/economy/glbonds.py
  discordbot/economy/indices.py
  discordbot/economy/overview.py
  discordbot/economy/performance.py
  discordbot/economy/usbonds.py
  discordbot/economy/valuation.py
  discordbot/generic_commands.py
  discordbot/helpers.py
  discordbot/images/gst_logo_lockup_rGreen_with_letters.png
  discordbot/images/image.png
  discordbot/images/picture_1.png
  discordbot/images/picture_2.png
  discordbot/images/picture_3.png
  discordbot/images/picture_4.png
  discordbot/images/picture_5.png
  discordbot/images/picture_6.png
  discordbot/images/picture_7.png
  discordbot/stocks/dark_pool_shorts/dpotc.py
  discordbot/stocks/dark_pool_shorts/dps_menu.py
  discordbot/stocks/dark_pool_shorts/ftd.py
  discordbot/stocks/dark_pool_shorts/hsi.py
  discordbot/stocks/dark_pool_shorts/pos.py
  discordbot/stocks/dark_pool_shorts/psi.py
  discordbot/stocks/dark_pool_shorts/shorted.py
  discordbot/stocks/dark_pool_shorts/sidtc.py
  discordbot/stocks/dark_pool_shorts/spos.py
Labels: feat XL, discord
