Repository OpenBB-finance/OpenBB, pull requests merged in 2021-12, with the labels that each got.

#957 Tests
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  tests/cassettes/test_cryptocurrency/test_dd_controller.yaml
  tests/cassettes/test_fa/dcf_view.yaml
  tests/cassettes/test_fa/test_fa_business/test_management.yaml
  tests/test_cryptocurrency/test_dd_controller.py
Labels: tests

#995 Sector and industry analysis
  exports/stocks/sector_industry_analysis/.gitkeep
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/README.md
  gamestonk_terminal/stocks/sector_industry_analysis/__init__.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: feat L

#997 Update jupyter dependencies to mitigate the vulnerabilities
  jupyterlab/documentation/package.json
  jupyterlab/documentation/yarn.lock
  jupyterlab/gst-settings/package.json
  jupyterlab/gst-settings/ui-tests/package.json
  jupyterlab/gst-settings/ui-tests/yarn.lock
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/package.json
  jupyterlab/gst/ui-tests/package.json
  jupyterlab/gst/ui-tests/yarn.lock
  jupyterlab/gst/yarn.lock
  poetry.lock
  pyproject.toml
Labels: jupyterlab, dependencies

#1007 Screener controller big improvements
  gamestonk_terminal/stocks/screener/finviz_model.py
  gamestonk_terminal/stocks/screener/finviz_view.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/screener/yahoofinance_view.py
Labels: enhancement

#1008 Fix mypy hook and Resolve documentation errors
  .pre-commit-config.yaml
  docs/README.md
  docs/code/gamestonk_terminal.cryptocurrency.defi.rst
  docs/code/gamestonk_terminal.cryptocurrency.due_diligence.rst
  docs/code/gamestonk_terminal.cryptocurrency.onchain.rst
  docs/code/gamestonk_terminal.cryptocurrency.overview.rst
  docs/code/gamestonk_terminal.economy.rst
  docs/code/gamestonk_terminal.options.rst
  docs/code/gamestonk_terminal.rst
  docs/code/gamestonk_terminal.stocks.dark_pool_shorts.rst
  docs/code/gamestonk_terminal.stocks.discovery.rst
  docs/code/gamestonk_terminal.stocks.options.rst
  docs/code/gamestonk_terminal.stocks.rst
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/defi/defirate_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_model.py
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
Labels: docs

#1004 (Finally) add prediction abilities to crypto
  gamestonk_terminal/common/prediction_techniques/arima_view.py
  gamestonk_terminal/common/prediction_techniques/ets_view.py
  gamestonk_terminal/common/prediction_techniques/knn_view.py
  gamestonk_terminal/common/prediction_techniques/mc_view.py
  gamestonk_terminal/common/prediction_techniques/neural_networks_view.py
  gamestonk_terminal/common/prediction_techniques/pred_helper.py
  gamestonk_terminal/common/prediction_techniques/regression_view.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/__init__.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
Labels: enhancement

#1010 Hugo Server Image Updates for Stock Screener
  website/content/stocks/options/disp/_index.md
  website/content/stocks/options/vol/_index.md
  website/content/stocks/screener/financial/_index.md
  website/content/stocks/screener/overview/_index.md
  website/content/stocks/screener/ownership/_index.md
  website/content/stocks/screener/performance/_index.md
  website/content/stocks/screener/signals/_index.md
  website/content/stocks/screener/technical/_index.md
  website/content/stocks/screener/valuation/_index.md
  website/content/stocks/screener/view/_index.md
  website/content/stocks/search/_index.md
Labels: website

#1012 Improve comparison analysis controller to not depend on main ticker
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/comparison_analysis/finbrain_model.py
  gamestonk_terminal/stocks/comparison_analysis/finbrain_view.py
  gamestonk_terminal/stocks/comparison_analysis/finviz_compare_view.py
  gamestonk_terminal/stocks/comparison_analysis/marketwatch_view.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: enhancement

#1013 Update etf endpoint for stockanalysis.com
  gamestonk_terminal/etf/stockanalysis_model.py
Labels: bug

#1011 Update requirements-txt files to reflect latest dependency versions
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1015 Add documentation badge to the readme
  README.md
Labels: docs

#961 Feature/price
  gamestonk_terminal/stocks/stocks_helper.py
  website/content/stocks/quote/_index.md
Labels: feat XS

#1020 Discord : fix ImportError
  discordbot/economy/economy_menu.py
Labels: bug

#1021 Add dividend history from yfinance
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/stocks_helper.py
  website/content/stocks/fundamental_analysis/divs/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1022 Remove unused function in av_model
  gamestonk_terminal/stocks/fundamental_analysis/av_model.py
Labels: refactor

#1024 add back end date for `load`
  gamestonk_terminal/stocks/stocks_helper.py
Labels: bug

#1029 Improve UI for intraday plotly candle
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: enhancement

#1030 Fix incorrect type on num argument for dividend command
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: bug

#1019 Sector and Industry Analysis Improvement
  discordbot/requirements.txt
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/stocks/comparison_analysis/marketwatch_model.py
  gamestonk_terminal/stocks/fundamental_analysis/market_watch_model.py
  gamestonk_terminal/stocks/insider/openinsider_model.py
  gamestonk_terminal/stocks/screener/finviz_model.py
  gamestonk_terminal/stocks/screener/yahoofinance_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: enhancement, feat M

#1035 Fix stocks
  gamestonk_terminal/stocks/fundamental_analysis/eclect_us_model.py
  gamestonk_terminal/stocks/fundamental_analysis/market_watch_view.py
Labels: bug

#1036 Improve economy menu
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/economy/alphavantage_view.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/finviz_view.py
  gamestonk_terminal/economy/fred_model.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/economy/nasdaq_view.py
Labels: bug, enhancement

#1034 refactor load command
  gamestonk_terminal/forex/behavioural_analysis/ba_controller.py
  gamestonk_terminal/reports/dark_pool.ipynb
  gamestonk_terminal/reports/similar_analysis.ipynb
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  tests/gamestonk_terminal/stocks/due_diligence/test_business_insider_view.py
  tests/gamestonk_terminal/stocks/due_diligence/test_dd_controller.py
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
Labels: enhancement

#1037 New Sector Analysis Menue
  website/content/stocks/sia/_index.md
  website/content/stocks/sia/clear/_index.md
  website/content/stocks/sia/country/_index.md
  website/content/stocks/sia/cpci/_index.md
  website/content/stocks/sia/cpcs/_index.md
  website/content/stocks/sia/cpic/_index.md
  website/content/stocks/sia/cpis/_index.md
  website/content/stocks/sia/cps/_index.md
  website/content/stocks/sia/exchange/_index.md
  website/content/stocks/sia/industry/_index.md
  website/content/stocks/sia/load/_index.md
  website/content/stocks/sia/metric/_index.md
  website/content/stocks/sia/mktcap/_index.md
  website/content/stocks/sia/sama/_index.md
  website/content/stocks/sia/sector/_index.md
  website/data/menu/main.yml
Labels: website

#1017 Binomial Options Pricing
  .gitignore
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/yfinance_model.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  website/content/stocks/options/binom/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1028 Adds commands for crypto withdrawal fees
  README.md
  gamestonk_terminal/cryptocurrency/onchain/ethgasstation_model.py
  gamestonk_terminal/cryptocurrency/onchain/ethgasstation_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/withdrawalfees_model.py
  gamestonk_terminal/cryptocurrency/overview/withdrawalfees_view.py
  website/content/cryptocurrency/overview/ewf/_index.md
  website/content/cryptocurrency/overview/wf/_index.md
  website/content/cryptocurrency/overview/wfpe/_index.md
  website/data/menu/main.yml
Labels: feat S

#1039 Chavithra/tests draft helpers
  tests/FIXTURES.md
  tests/README.md
  tests/conftest.py
Labels: tests

#1038 Fred menu
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/__init__.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/economy/fred/fred_model.py
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/economy/fred_view.py
  tests/gamestonk_terminal/economy/test_fred_view.py
  website/content/economy/fred/add/_index.md
  website/content/economy/fred/plot/_index.md
  website/content/economy/fred/rmv/_index.md
  website/content/economy/fred/search/_index.md
  website/content/economy/search/_index.md
  website/content/economy/series/_index.md
  website/data/menu/main.yml
Labels: enhancement

#1043 I forgot to add an index to fred website folder
  website/content/economy/fred/_index.md
Labels: bug

#1046 Tests : Stocks + Crypto + Helpers
  tests/FIXTURES.md
  tests/README.md
  tests/gamestonk_terminal/cryptocurrency/cassettes/test_coinbase_view/test_trading_pairs.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/test_pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/overview/test_coinbase_view.py
  tests/gamestonk_terminal/cryptocurrency/overview/test_pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/gamestonk_terminal/economy/test_fred_view.py
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/general1.yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_display_candle.yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-av].yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-iex].yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-yf].yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_load[60-yf].yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_load_ticker.yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_quote.yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_search.yaml
  tests/gamestonk_terminal/stocks/csv/test_stocks_helper/test_load[1440-av].csv
  tests/gamestonk_terminal/stocks/csv/test_stocks_helper/test_load[1440-iex].csv
  tests/gamestonk_terminal/stocks/csv/test_stocks_helper/test_load[1440-yf].csv
  tests/gamestonk_terminal/stocks/csv/test_stocks_helper/test_load[60-yf].csv
  tests/gamestonk_terminal/stocks/csv/test_stocks_helper/test_load_ticker.csv
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_fidelity/test_orders.yaml
  tests/gamestonk_terminal/stocks/discovery/test_ark_model.py
  tests/gamestonk_terminal/stocks/discovery/test_ark_view.py
  tests/gamestonk_terminal/stocks/discovery/test_fidelity_api.py
  tests/gamestonk_terminal/stocks/discovery/test_fidelity_model.py
  tests/gamestonk_terminal/stocks/discovery/test_seeing_alpha_model.py
  tests/gamestonk_terminal/stocks/discovery/test_short_interest_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yield_curve_model.py
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
  tests/gamestonk_terminal/stocks/txt/test_stocks_helper/test_search[False].txt
  tests/gamestonk_terminal/stocks/txt/test_stocks_helper/test_search[True].txt
  tests/gamestonk_terminal/test_terminal_helper.py
  tests/gamestonk_terminal/test_thought_of_the_day.py
  tests/helpers/helpers.py
  tests/helpers/tools.py
Labels: docs, tests, refactor

#1016 Bitquery feature branch
  README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/data/erc20_coins.json
  gamestonk_terminal/cryptocurrency/dataframe_helpers.py
  gamestonk_terminal/cryptocurrency/onchain/bitquery_model.py
  gamestonk_terminal/cryptocurrency/onchain/bitquery_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/terminal_helper.py
  website/content/cryptocurrency/onchain/baas/_index.md
  website/content/cryptocurrency/onchain/dvcp/_index.md
  website/content/cryptocurrency/onchain/lt/_index.md
  website/content/cryptocurrency/onchain/ttcp/_index.md
  website/content/cryptocurrency/onchain/tv/_index.md
  website/content/cryptocurrency/onchain/ueat/_index.md
  website/data/menu/main.yml
Labels: feat L

#1047 Clean up unused functions / iex load
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-iex].yaml
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
Labels: refactor

#1054 Tests : Stocks > Insider
  tests/README.md
  tests/gamestonk_terminal/stocks/csv/test_stocks_helper/test_load[1440-iex].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_av_view.py
  tests/gamestonk_terminal/stocks/insider/cassettes/test_businessinsider_model/test_get_insider_activity.yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_businessinsider_view/test_insider_activity[False].yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_businessinsider_view/test_insider_activity[True].yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_finviz_model/testget_last_insider_activity.yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_finviz_view/test_last_insider_activity.yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_openinsider_model/test_get_open_insider_data.yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_openinsider_view/test_print_insider_data[lcb].yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_openinsider_view/test_print_insider_data[topt].yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_openinsider_view/test_print_insider_filter.yaml
  tests/gamestonk_terminal/stocks/insider/csv/test_businessinsider_model/test_get_insider_activity.csv
  tests/gamestonk_terminal/stocks/insider/csv/test_openinsider_model/test_get_open_insider_data.csv
  tests/gamestonk_terminal/stocks/insider/json/test_finviz_model/testget_last_insider_activity.json
  tests/gamestonk_terminal/stocks/insider/json/test_openinsider_view/test_format_list_func[green_highlight-text_list3].json
  tests/gamestonk_terminal/stocks/insider/json/test_openinsider_view/test_format_list_func[magenta_highlight-text_list2].json
  tests/gamestonk_terminal/stocks/insider/json/test_openinsider_view/test_format_list_func[red_highlight-text_list0].json
  tests/gamestonk_terminal/stocks/insider/json/test_openinsider_view/test_format_list_func[yellow_highlight-text_list1].json
  tests/gamestonk_terminal/stocks/insider/test_businessinsider_model.py
  tests/gamestonk_terminal/stocks/insider/test_businessinsider_view.py
  tests/gamestonk_terminal/stocks/insider/test_finviz_model.py
  tests/gamestonk_terminal/stocks/insider/test_finviz_view.py
  tests/gamestonk_terminal/stocks/insider/test_insider_controller.py
  tests/gamestonk_terminal/stocks/insider/test_openinsider_model.py
  tests/gamestonk_terminal/stocks/insider/test_openinsider_view.py
  tests/gamestonk_terminal/stocks/insider/txt/test_businessinsider_view/test_insider_activity[False].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_businessinsider_view/test_insider_activity[True].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_finviz_view/test_last_insider_activity.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_call_func_empty_df[call_act].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_call_func_empty_df[call_lins].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_call_func_empty_ticker[call_act].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_call_func_empty_ticker[call_lins].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_call_staticmethod[set_preset].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_call_staticmethod[view_available_presets].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_menu_quick_exit.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_menu_system_exit.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_insider_controller/test_switch_help.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_dates[d_date0].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_dates[d_date1].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_dates[d_date2].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_int_in_list[l_possible_vals0-1].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_int_in_list[l_possible_vals1-3].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_open_insider_company_totals[d_company_totals0].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_valid_multiple[1-a].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_valid_multiple[2-4].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_valid_range[-1].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_check_valid_range[1].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_model/test_get_open_insider_link.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_view/test_print_insider_data[lcb].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_view/test_print_insider_data[topt].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_openinsider_view/test_print_insider_filter.txt
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
Labels: docs, tests

#1057 Tests : Stocks > Backtesting + Behavioural Analysis
  tests/gamestonk_terminal/stocks/backtesting/__init__.py
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_model/test_buy_and_hold.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_model/test_ema_cross_strategy.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_model/test_ema_strategy.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_model/test_get_data.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_model/test_rsi_strategy.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_view/test_display_ema_cross.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_view/test_display_rsi_strategy.yaml
  tests/gamestonk_terminal/stocks/backtesting/cassettes/test_bt_view/test_display_simple_ema.yaml
  tests/gamestonk_terminal/stocks/backtesting/csv/test_bt_model/test_get_data.csv
  tests/gamestonk_terminal/stocks/backtesting/test_bt_controller.py
  tests/gamestonk_terminal/stocks/backtesting/test_bt_model.py
  tests/gamestonk_terminal/stocks/backtesting/test_bt_view.py
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_controller/test_menu_quick_exit.txt
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_controller/test_menu_system_exit.txt
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_controller/test_switch_help.txt
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_view/test_display_ema_cross.txt
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_view/test_display_rsi_strategy.txt
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_view/test_display_simple_ema.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/__init__.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_menu_quick_exit.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_menu_system_exit.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_switch_help.txt
  tests/gamestonk_terminal/stocks/government/__init__.py
  tests/gamestonk_terminal/stocks/insider/__init__.py
Labels: tests

#1056 Ux economy
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/paths.py
  terminal.py
  tests/simulator/test_econ.txt
Labels: feat S

#1058 DISC Cleanup
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/marketbeat_model.py
  gamestonk_terminal/stocks/discovery/marketbeat_view.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_model.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_view.py
  tests/gamestonk_terminal/stocks/discovery/test_disc_controller.py
  tests/gamestonk_terminal/stocks/discovery/test_marketbeat_model.py
  tests/gamestonk_terminal/stocks/discovery/test_marketbeat_view.py
  tests/gamestonk_terminal/stocks/discovery/test_seeking_alpha_model.py
  tests/gamestonk_terminal/stocks/discovery/test_seeking_alpha_view.py
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_trading-kwargs_dict4-False].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_trading-kwargs_dict4-True].txt
Labels: refactor

#1059 Ux etfs
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/wsj_view.py
  terminal.py
  tests/simulator/test_etf.txt
Labels: refactor

#1053 Dividend History Chart
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_menu_quick_exit.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_menu_system_exit.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_switch_help.txt
Labels: website

#1061 Workflows + Stocks > Insider
  .github/workflows/test.yml
  gamestonk_terminal/stocks/insider/presets/test.py
Labels: refactor

#1062 Fixing Linting
  .github/workflows/test.yml
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/behavioural_analysis/ba_controller.py
  gamestonk_terminal/forex/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/payoff_controller.py
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  terminal.py
Labels: bug, tests

#1060 Tests : Stock > Prediction Techniques + Doc
  pytest.ini
  tests/README.md
  tests/conftest.py
  tests/gamestonk_terminal/stocks/prediction_techniques/__init__.py
  tests/gamestonk_terminal/stocks/prediction_techniques/conftest.py
  tests/gamestonk_terminal/stocks/prediction_techniques/test_pred_controller.py
  tests/gamestonk_terminal/stocks/prediction_techniques/txt/test_pred_controller/test_menu_quick_exit.txt
  tests/gamestonk_terminal/stocks/prediction_techniques/txt/test_pred_controller/test_menu_system_exit.txt
  tests/gamestonk_terminal/stocks/prediction_techniques/txt/test_pred_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/prediction_techniques/txt/test_pred_controller/test_switch_help.txt
Labels: docs, tests

#1063 Ux: portfolio
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  terminal.py
  tests/simulator/test_port.gst
Labels: refactor

#1064 UX: resources
  gamestonk_terminal/resources/resources_controller.py
  terminal.py
Labels: refactor

#1045 Discordbot: Adding screener preset
  discordbot/run_discordbot.py
  discordbot/stocks/__init__.py
  discordbot/stocks/screener/__init__.py
  discordbot/stocks/screener/financial.py
  discordbot/stocks/screener/historical.py
  discordbot/stocks/screener/overview.py
  discordbot/stocks/screener/ownership.py
  discordbot/stocks/screener/performance.py
  discordbot/stocks/screener/presets.py
  discordbot/stocks/screener/screener_menu.py
  discordbot/stocks/screener/technical.py
  discordbot/stocks/screener/valuation.py
Labels: feat M, discord

#1048 UX upgrade of the Forex menu
  gamestonk_terminal/forex/__init__.py
  gamestonk_terminal/forex/av_model.py
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/forex/behavioural_analysis/__init__.py
  gamestonk_terminal/forex/behavioural_analysis/ba_controller.py
  gamestonk_terminal/forex/exploratory_data_analysis/__init__.py
  gamestonk_terminal/forex/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/fx_view.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/forex/oanda/oanda_model.py
  gamestonk_terminal/forex/oanda/oanda_view.py
  gamestonk_terminal/helper_funcs.py
  scripts/test_forex_av.gst
  scripts/test_forex_base.gst
  scripts/test_forex_oanda.gst
  scripts/test_forex_oanda_base.gst
  terminal.py
Labels: feat L, refactor

#1070 Discordbot: Adding new economy commands
  discordbot/economy/economy_menu.py
  discordbot/economy/energy.py
  discordbot/economy/grains.py
  discordbot/economy/meats.py
  discordbot/economy/metals.py
  discordbot/economy/overview.py
  discordbot/economy/softs.py
Labels: feat S, discord

#1071 uX: fix Econ
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  scripts/test_econ_fred.gst
  scripts/test_etf.gst
Labels: refactor

#1069 Initial implementation of logging
  .dockerignore
  .gitignore
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/loggers.py
  gamestonk_terminal/menu.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/terminal_helper.py
  terminal.py
Labels: feat L

#1073 Hugo Server Updates for Stock Screener Content
  website/content/stocks/screener/financial/_index.md
  website/content/stocks/screener/overview/_index.md
  website/content/stocks/screener/ownership/_index.md
  website/content/stocks/screener/performance/_index.md
  website/content/stocks/screener/technical/_index.md
  website/content/stocks/screener/valuation/_index.md
Labels: website

#1074 Get rid of leading '/' in terminal and add some newlines on quits.
  discordbot/stocks/screener/historical.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/nft/__init__.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  terminal.py
Labels: refactor

#1075 Ux upgrade for reports context
  gamestonk_terminal/reports/reports_controller.py
  scripts/test_reports.gst
  scripts/test_reports_base.gst
  terminal.py
Labels: feat M, refactor

#1076 Upgrades for the UX upgrade for the fa and fa/fmp menus
  discordbot/stocks/screener/historical.py
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  scripts/test_stocks_fa.gst
  scripts/test_stocks_fa_base.gst
  scripts/test_stocks_fa_fmp.gst
  scripts/test_stocks_fa_fmp_base.gst
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_av_view.py
Labels: feat S

#1079 Add some options commands to discord
  discordbot/run_discordbot.py
  discordbot/stocks/__init__.py
  discordbot/stocks/options/__init__.py
  discordbot/stocks/options/calls.py
  discordbot/stocks/options/expirations.py
  discordbot/stocks/options/oi.py
  discordbot/stocks/options/options_menu.py
  discordbot/stocks/options/puts.py
Labels: discord

#1078 improve usage command
  gamestonk_terminal/terminal_helper.py
  terminal.py
Labels: bug

#1080 improve some stuff on ca menu
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
Labels: bug

#1081 Add use ion to plots so it doesn't hang
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/cryptocurrency/defi/llama_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinglass_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/quandl_view.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
Labels: bug

#1083 Remove unnecessary return self.queue
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/payoff_controller.py
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/options/screener_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  scripts/test_forex_oanda_base.gst
  terminal.py
  tests/gamestonk_terminal/stocks/backtesting/test_bt_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_dps_controller.py
  tests/gamestonk_terminal/stocks/discovery/test_disc_controller.py
  tests/gamestonk_terminal/stocks/due_diligence/test_dd_controller.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/test_fmp_controller.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/gamestonk_terminal/stocks/government/test_gov_controller.py
  tests/gamestonk_terminal/stocks/insider/test_insider_controller.py
Labels: refactor

#1087 Discordbot screener
  discordbot/stocks/screener/financial.py
  discordbot/stocks/screener/historical.py
  discordbot/stocks/screener/overview.py
  discordbot/stocks/screener/ownership.py
  discordbot/stocks/screener/performance.py
  discordbot/stocks/screener/presets.py
  discordbot/stocks/screener/presets_custom.py
  discordbot/stocks/screener/presets_default.py
  discordbot/stocks/screener/screener_menu.py
  discordbot/stocks/screener/screener_options.py
  discordbot/stocks/screener/technical.py
  discordbot/stocks/screener/valuation.py
Labels: bug, discord

#1089 Discordbot Technical Analysis
  discordbot/stocks/government/contracts.py
  discordbot/stocks/government/gtrades.py
  discordbot/stocks/government/histcont.py
  discordbot/stocks/government/lastcontracts.py
  discordbot/stocks/government/lasttrades.py
  discordbot/stocks/government/lobbying.py
  discordbot/stocks/government/qtrcontracts.py
  discordbot/stocks/government/topbuys.py
  discordbot/stocks/government/toplobbying.py
  discordbot/stocks/government/topsells.py
  discordbot/stocks/technical_analysis/ad.py
  discordbot/stocks/technical_analysis/adosc.py
  discordbot/stocks/technical_analysis/adx.py
  discordbot/stocks/technical_analysis/aroon.py
  discordbot/stocks/technical_analysis/bbands.py
  discordbot/stocks/technical_analysis/cci.py
  discordbot/stocks/technical_analysis/cg.py
  discordbot/stocks/technical_analysis/donchian.py
  discordbot/stocks/technical_analysis/ema.py
  discordbot/stocks/technical_analysis/fib.py
  discordbot/stocks/technical_analysis/fisher.py
  discordbot/stocks/technical_analysis/hma.py
  discordbot/stocks/technical_analysis/kc.py
  discordbot/stocks/technical_analysis/macd.py
  discordbot/stocks/technical_analysis/obv.py
  discordbot/stocks/technical_analysis/recom.py
  discordbot/stocks/technical_analysis/rsi.py
  discordbot/stocks/technical_analysis/sma.py
  discordbot/stocks/technical_analysis/stoch.py
  discordbot/stocks/technical_analysis/summary.py
  discordbot/stocks/technical_analysis/view.py
  discordbot/stocks/technical_analysis/wma.py
  discordbot/stocks/technical_analysis/zlma.py
Labels: bug, discord

#1090 fix and improve options menu
  discordbot/stocks/options/options_menu.py
Labels: bug, discord

#1082 Bot UX playground
  discordbot/economy/economy_menu.py
  discordbot/generic_commands.py
  discordbot/run_discordbot.py
  discordbot/stocks/dark_pool_shorts/dps_menu.py
  discordbot/stocks/due_diligence/arktrades.py
  discordbot/stocks/due_diligence/dd_menu.py
  discordbot/stocks/options/options_menu.py
  discordbot/stocks/screener/screener_menu.py
  discordbot/stocks/technical_analysis/ta_menu.py
Labels: docs, feat L, discord

#1093 Gov discord
  discordbot/stocks/government/gov_menu.py
  discordbot/stocks/government/lastcontracts.py
  discordbot/stocks/government/lasttrades.py
  discordbot/stocks/government/qtrcontracts.py
Labels: bug, refactor, discord

#1091 fix minor bug
  gamestonk_terminal/stocks/options/options_controller.py
Labels: bug

#1094 Update Procfile for discordbot
  Procfile
Labels: bug, discord

#1096 Minor fixes that saw while showing terminal to my parents
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: bug

#1098 update hyperlinks in readme
  README.md
Labels: docs

#1100 Tests : Stocks > Quantitative Analysis
  tests/gamestonk_terminal/stocks/insider/cassettes/test_finviz_model/test_get_last_insider_activity.yaml
  tests/gamestonk_terminal/stocks/insider/json/test_finviz_model/test_get_last_insider_activity.json
  tests/gamestonk_terminal/stocks/insider/test_finviz_model.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/cassettes/test_factors_model/test_capm_information.yaml
  tests/gamestonk_terminal/stocks/quantitative_analysis/cassettes/test_factors_view/test_capm_view.yaml
  tests/gamestonk_terminal/stocks/quantitative_analysis/cassettes/test_qa_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/quantitative_analysis/json/test_factors_model/test_capm_information.json
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_factors_model.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_factors_view.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_qa_controller.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/txt/test_factors_view/test_capm_view.txt
  tests/gamestonk_terminal/stocks/quantitative_analysis/txt/test_qa_controller/test_print_help.txt
Labels: tests

#1101 Tiny tiny fixes
  discordbot/stocks/dark_pool_shorts/ftd.py
  discordbot/stocks/due_diligence/pt.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: bug

#1104 Updated Hugo Server for Portfolio Menu Refactor
  website/content/portfolio/_index.md
  website/content/portfolio/ar/_index.md
  website/content/portfolio/portfolio_analysis/_index.md
  website/content/portfolio/portfolio_optimization/_index.md
  website/content/portfolio/portfolio_optimization/dividend/_index.md
  website/content/portfolio/portfolio_optimization/ef/_index.md
  website/content/portfolio/portfolio_optimization/effret/_index.md
  website/content/portfolio/portfolio_optimization/equal/_index.md
  website/content/portfolio/portfolio_optimization/maxquadutil/_index.md
  website/content/portfolio/portfolio_optimization/maxsharpe/_index.md
  website/content/portfolio/portfolio_optimization/minvol/_index.md
  website/content/portfolio/portfolio_optimization/mktcap/_index.md
  website/content/portfolio/portfolio_optimization/property/_index.md
  website/content/portfolio/rmr/_index.md
  website/data/menu/main.yml
Labels: docs

#1092 Bump dependencies and resolve dependabot warnings
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  discordbot/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1108 fix gh docs
  website/content/portfolio/portfolio_optimization/_index.md
  website/content/stocks/discovery/_index.md
  website/data/menu/main.yml
Labels: bug

#1107 minor fix to hcorr
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
Labels: bug

#1111 Fix infinite loop bug for some of the controllers that were using legacy code
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: bug

#1112 Have an empty default export
  gamestonk_terminal/common/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/common/technical_analysis/momentum_view.py
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_view.py
  gamestonk_terminal/common/technical_analysis/volatility_view.py
  gamestonk_terminal/common/technical_analysis/volume_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/withdrawalfees_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/sec_view.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/options/yfinance_view.py
Labels: refactor

#1109 NFT feature opensea collection statistics
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/nft/opensea_model.py
  gamestonk_terminal/cryptocurrency/nft/opensea_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  scripts/test_crypto_nft.gst
  tests/gamestonk_terminal/cryptocurrency/nft/cassettes/test_opensea_model/test_get_collection_stats[alien-frens].yaml
  tests/gamestonk_terminal/cryptocurrency/nft/cassettes/test_opensea_model/test_get_collection_stats[cryptopunks].yaml
  tests/gamestonk_terminal/cryptocurrency/nft/cassettes/test_opensea_model/test_get_collection_stats[mutant-ape-yacht-club].yaml
  tests/gamestonk_terminal/cryptocurrency/nft/cassettes/test_opensea_view/test_display_collection_stats.yaml
  tests/gamestonk_terminal/cryptocurrency/nft/csv/test_opensea_model/test_get_collection_stats[alien-frens].csv
  tests/gamestonk_terminal/cryptocurrency/nft/csv/test_opensea_model/test_get_collection_stats[cryptopunks].csv
  tests/gamestonk_terminal/cryptocurrency/nft/csv/test_opensea_model/test_get_collection_stats[mutant-ape-yacht-club].csv
  tests/gamestonk_terminal/cryptocurrency/nft/test_opensea_model.py
  tests/gamestonk_terminal/cryptocurrency/nft/test_opensea_view.py
  tests/gamestonk_terminal/cryptocurrency/nft/txt/test_opensea_view/test_display_collection_stats.txt
  website/content/cryptocurrency/nft/stats/_index.md
Labels: feat XS

#1018 Stock Dashboard
  .gitignore
  .secrets.baseline
  build/conda/conda-3-8-env-full.yaml
  jupyterlab/dashboards/stocks_interactive.ipynb
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat S
