Repository OpenBB-finance/OpenBB, pull requests merged in 2021-07, with the labels that each got.

#521 Coingecko feature branch
  docs/make.bat
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/binance/README.md
  gamestonk_terminal/cryptocurrency/binance/__init__.py
  gamestonk_terminal/cryptocurrency/binance/binance_controller.py
  gamestonk_terminal/cryptocurrency/binance/binance_model.py
  gamestonk_terminal/cryptocurrency/binance/binance_view.py
  gamestonk_terminal/cryptocurrency/coingecko/README.md
  gamestonk_terminal/cryptocurrency/coingecko/__init__.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_coin_model.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_controller.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_helpers.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_overview_model.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/coinmarketcap/README.md
  gamestonk_terminal/cryptocurrency/coinmarketcap/__init__.py
  gamestonk_terminal/cryptocurrency/coinmarketcap/coinmarketcap_controller.py
  gamestonk_terminal/cryptocurrency/coinmarketcap/coinmarketcap_view.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/pycoingecko_view.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  poetry.lock
  tests/test_coingecko_crypto.py
Labels: size:XL

#528 Adds readme link to conda installation directions; Adds drawio app map
  README.md
  docs/application mapping.drawio
Labels: type:docs

#531 Mill Notebook examples
  .github/workflows/test.yml
  .pre-commit-config.yaml
  gamestonk_terminal/cryptocurrency/coingecko/README.md
  notebooks/examples/GME_20210704_191432_due_diligence.html
  notebooks/examples/econ_data_20210704_074122.html
Labels: type:docs

#529 A bunch of bugfixes
  gamestonk_terminal/behavioural_analysis/twitter_view.py
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/comparison_analysis/finbrain_view.py
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/fundamental_analysis/yahoo_finance_view.py
  gamestonk_terminal/government/quiverquant_view.py
  gamestonk_terminal/options/presets/template.ini
  gamestonk_terminal/options/syncretism_view.py
  gamestonk_terminal/papermill/README.md
  gamestonk_terminal/papermill/papermill_controller.py
  gamestonk_terminal/residuals_analysis/ra_controller.py
Labels: type:bug

#532 Improve menu UX
  gamestonk_terminal/backtesting/bt_controller.py
  gamestonk_terminal/behavioural_analysis/ba_controller.py
  gamestonk_terminal/brokers/bro_controller.py
  gamestonk_terminal/brokers/degiro/degiro_controller.py
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/cryptocurrency/binance/binance_controller.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_controller.py
  gamestonk_terminal/cryptocurrency/coinmarketcap/coinmarketcap_controller.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/economy/econ_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/forex/fx_controller.py
  gamestonk_terminal/fundamental_analysis/alpha_vantage/av_controller.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/government/gov_controller.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/papermill/papermill_controller.py
  gamestonk_terminal/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio_optimization/po_controller.py
  gamestonk_terminal/prediction_techniques/pred_controller.py
  gamestonk_terminal/research/res_controller.py
  gamestonk_terminal/residuals_analysis/ra_controller.py
  gamestonk_terminal/resource_collection/rc_controller.py
  gamestonk_terminal/screener/screener_controller.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  terminal.py
Labels: type:enhancement

#533 Add supply and customer feature
  gamestonk_terminal/README.md
  gamestonk_terminal/due_diligence/README.md
  gamestonk_terminal/due_diligence/csimarket_view.py
  gamestonk_terminal/due_diligence/dd_controller.py
Labels: size:S

#534 Small bugs
  gamestonk_terminal/backtesting/bt_helper.py
  gamestonk_terminal/backtesting/bt_view.py
  gamestonk_terminal/etf/README.md
  pyproject.toml
Labels: type:bug

#535 Data export new concept
  exports/discovery/.gitkeep
  exports/due_diligence/.gitkeep
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/due_diligence/stockgrid_dd_view.py
  gamestonk_terminal/helper_funcs.py
Labels: size:S

#538 Fix dd warnings debug output
  gamestonk_terminal/due_diligence/market_watch_view.py
Labels: type:bug

#537 Feature/cryptosentiment
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/data/finbrain_coins.json
  gamestonk_terminal/cryptocurrency/finbrain_crypto_view.py
Labels: size:L, type:enhancement, type:feature

#539 Etf screener
  gamestonk_terminal/README.md
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/etf/etf_config.ini
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/screener_model.py
Labels: size:S

#536 Allow to load data from IEX
  .gitignore
  gamestonk_terminal/README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/due_diligence/README.md
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/due_diligence/sec_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: size:S

#542 Open insider menu
  gamestonk_terminal/insider/README.md
  gamestonk_terminal/insider/insider_controller.py
  gamestonk_terminal/insider/openinsider_view.py
  terminal.py
Labels: size:M

#545 Updating dependencies to pull Sphinx 4.1.0
  poetry.lock
  requirements.txt
Labels: type:build

#546 Updating requirements-full.txt
  requirements-full.txt
Labels: type:build

#547 fix for typos on the template.ini screener
  gamestonk_terminal/screener/presets/template.ini
Labels: type:docs

#549 Pin a specific version of Sphinx in the conda env
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
Labels: type:build

#551 Adding charset-normalizer explicit version setting and adding Sphinx
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: type:build

#553 Improve main readme
  README.md
Labels: type:docs

#554 This should make so that the project is considered as python only
  .gitattributes
Labels: type:docs

#544 Coinpaprika
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/coinpaprika/README.md
  gamestonk_terminal/cryptocurrency/coinpaprika/__init__.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_controller.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: size:L, type:enhancement, type:feature

#548 Add market overview - type data form WSJ
  .gitignore
  exports/etf/movers/.gitkeep
  exports/etf/screeners/.gitkeep
  gamestonk_terminal/README.md
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/economy/econ_controller.py
  gamestonk_terminal/economy/wsj_model.py
  gamestonk_terminal/economy/wsj_view.py
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/screener_model.py
  gamestonk_terminal/etf/wsj_model.py
  gamestonk_terminal/etf/wsj_view.py
  poetry.lock
Labels: size:M, type:enhancement, type:feature

#557 Add initial changelogs. This will be used on landing page
  changelogs/W07_2021.md
  changelogs/W08_2021.md
  changelogs/W09_2021.md
  changelogs/W10_2021.md
  changelogs/W11_2021.md
  changelogs/W12_2021.md
  changelogs/W13_2021.md
  changelogs/W14_2021.md
  changelogs/W15_2021.md
  changelogs/W16_2021.md
  changelogs/W17_2021.md
  changelogs/W18_2021.md
  changelogs/W19_2021.md
  changelogs/W20_2021.md
  changelogs/W21_2021.md
  changelogs/W22_2021.md
  changelogs/W23_2021.md
  changelogs/W24_2021.md
  changelogs/W25_2021.md
  changelogs/W26_2021.md
  changelogs/W27_2021.md
  changelogs/W28_2021.md
  changelogs/W29_2021.md
Labels: type:docs

#556 Backlog updates: `candle` and api keys
  gamestonk_terminal/README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
  terminal.py
Labels: type:enhancement

#559 Add check for reddit key
  gamestonk_terminal/main_helper.py
Labels: type:enhancement

#558 Use requests with pd.read_html for gainers/losers discovery
  gamestonk_terminal/discovery/yahoo_finance_view.py
Labels: type:bug

#561 Open-insider Screener
  .pre-commit-config.yaml
  gamestonk_terminal/README.md
  gamestonk_terminal/insider/README.md
  gamestonk_terminal/insider/insider_controller.py
  gamestonk_terminal/insider/openinsider_model.py
  gamestonk_terminal/insider/openinsider_view.py
  gamestonk_terminal/insider/presets/template.ini
  gamestonk_terminal/insider/presets/whales.ini
Labels: size:L

#560 Options menu updates
  exports/options/.gitkeep
  gamestonk_terminal/README.md
  gamestonk_terminal/cryptocurrency/binance/binance_view.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_view.py
  gamestonk_terminal/options/README.md
  gamestonk_terminal/options/__init__.py
  gamestonk_terminal/options/barchart_view.py
  gamestonk_terminal/options/calculator_model.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/options/op_helpers.py
  gamestonk_terminal/options/syncretism_view.py
  gamestonk_terminal/options/tradier_model.py
  gamestonk_terminal/options/tradier_view.py
  gamestonk_terminal/options/yahoo_view.py
  gamestonk_terminal/options/yfinance_model.py
  gamestonk_terminal/options/yfinance_view.py
  terminal.py
Labels: size:M, type:enhancement

#563 Run papermill kernel from python.
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/fundamental_analysis/market_watch_view.py
  gamestonk_terminal/papermill/README.md
  gamestonk_terminal/papermill/papermill_controller.py
Labels: type:enhancement

#567 Test user internet connection
  terminal.py
Labels: size:XS

#569 Change test for internet connection to avoid bug
  terminal.py
Labels: type:bug

#566 Update FA Menu
  gamestonk_terminal/README.md
  gamestonk_terminal/fundamental_analysis/README.md
  gamestonk_terminal/fundamental_analysis/alpha_vantage/README.md
  gamestonk_terminal/fundamental_analysis/alpha_vantage/av_controller.py
  gamestonk_terminal/fundamental_analysis/av_view.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  notebooks/templates/due_diligence.ipynb
Labels: size:XS, type:feature

#572 Add fibonacci level indicator. Improve TA menu in general.
  gamestonk_terminal/README.md
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/technical_analysis/README.md
  gamestonk_terminal/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/technical_analysis/momentum.py
  gamestonk_terminal/technical_analysis/overlap.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  gamestonk_terminal/technical_analysis/volatility.py
  gamestonk_terminal/technical_analysis/volume.py
Labels: size:S, type:enhancement, type:feature

#573 Fixed glitch reading AlphaVantage API key
  gamestonk_terminal/main_helper.py
Labels: type:bug

#574 Small improvement to papermill notebooks
  notebooks/templates/dark_pool.ipynb
  notebooks/templates/due_diligence.ipynb
  notebooks/templates/econ_data.ipynb
Labels: type:enhancement

#562 Add Sentiment Investor API integration
  README.md
  gamestonk_terminal/behavioural_analysis/README.md
  gamestonk_terminal/behavioural_analysis/ba_controller.py
  gamestonk_terminal/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_view.py
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/sentimentinvestor_view.py
  gamestonk_terminal/main_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: size:L, type:feature

#577 Update poetry to 1.1.7
  .github/workflows/test.yml
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: type:build

#575 Add crypto report
  .github/workflows/test.yml
  .pre-commit-config.yaml
  gamestonk_terminal/papermill/README.md
  gamestonk_terminal/papermill/crypto_market_view.py
  gamestonk_terminal/papermill/dark_pool_view.py
  gamestonk_terminal/papermill/due_diligence_view.py
  gamestonk_terminal/papermill/econ_data_view.py
  gamestonk_terminal/papermill/papermill_controller.py
  gamestonk_terminal/screener/finviz_view.py
  notebooks/examples/aapl_due_diligence_20210729_001048.html
  notebooks/examples/amc_20210726_030345_dark_pool.html
  notebooks/examples/amc_dark_pool_20210728_235316.html
  notebooks/examples/crypto_market_20210729_224921.html
  notebooks/examples/gme_20210726_030502_due_diligence.html
  notebooks/templates/crypto_market.ipynb
  notebooks/templates/dark_pool.ipynb
  notebooks/templates/due_diligence.ipynb
  notebooks/templates/econ_data.ipynb
Labels: size:S

#578 Downgrading packaging per pip conflict with poetry
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: type:build

#576 Feature/fraud indicators
  gamestonk_terminal/README.md
  gamestonk_terminal/fundamental_analysis/README.md
  gamestonk_terminal/fundamental_analysis/av_view.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
Labels: size:S

#580 Add screener checks to confirm that preset is correct
  gamestonk_terminal/screener/finviz_model.py
  gamestonk_terminal/screener/finviz_view.py
  gamestonk_terminal/screener/presets/death_cross.ini
  gamestonk_terminal/screener/screener_controller.py
Labels: size:S

#581 Feature/fraud indicators
  gamestonk_terminal/fundamental_analysis/README.md
  gamestonk_terminal/fundamental_analysis/av_view.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
Labels: size:S, type:feature

#582 Specify the path to .env file for using dotenv
  gamestonk_terminal/config_terminal.py
Labels: type:bug

#583 Add commands to open website of company, and another to open their HQ location
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/fundamental_analysis/yahoo_finance_view.py
Labels: size:S
