Repository OpenBB-finance/OpenBB, pull requests merged in 2021-10, with the labels that each got.

#768 Refactor BA Menu
  gamestonk_terminal/common/behavioural_analysis/finbrain_model.py
  gamestonk_terminal/common/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/common/behavioural_analysis/finnhub_model.py
  gamestonk_terminal/common/behavioural_analysis/finnhub_view.py
  gamestonk_terminal/common/behavioural_analysis/google_model.py
  gamestonk_terminal/common/behavioural_analysis/google_view.py
  gamestonk_terminal/common/behavioural_analysis/reddit_helpers.py
  gamestonk_terminal/common/behavioural_analysis/reddit_model.py
  gamestonk_terminal/common/behavioural_analysis/reddit_view.py
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/common/behavioural_analysis/stocktwits_model.py
  gamestonk_terminal/common/behavioural_analysis/stocktwits_view.py
  gamestonk_terminal/common/behavioural_analysis/twitter_model.py
  gamestonk_terminal/common/behavioural_analysis/twitter_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/finbrain_crypto_view.py
  gamestonk_terminal/forex/behavioural_analysis/ba_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  website/content/stocks/behavioural_analysis/bullbear/_index.md
  website/content/stocks/behavioural_analysis/emerging/_index.md
  website/content/stocks/behavioural_analysis/getdd/_index.md
  website/content/stocks/behavioural_analysis/headlines/_index.md
  website/content/stocks/behavioural_analysis/historical/_index.md
  website/content/stocks/behavioural_analysis/metrics/_index.md
  website/content/stocks/behavioural_analysis/social/_index.md
  website/data/menu/main.yml
Labels: refactor

#772 Refactor export functionality concept
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
Labels: enhancement

#774 Discord Bot: Logging and error output capabilities
  discordbot/config_discordbot.py
  discordbot/economy/currencies.py
  discordbot/economy/economy_menu.py
  discordbot/economy/feargreed.py
  discordbot/economy/futures.py
  discordbot/economy/glbonds.py
  discordbot/economy/indices.py
  discordbot/economy/overview.py
  discordbot/economy/performance.py
  discordbot/economy/usbonds.py
  discordbot/economy/valuation.py
  discordbot/stocks/dark_pool_shorts/dpotc.py
  discordbot/stocks/dark_pool_shorts/dps_menu.py
  discordbot/stocks/dark_pool_shorts/ftd.py
  discordbot/stocks/dark_pool_shorts/hsi.py
  discordbot/stocks/dark_pool_shorts/pos.py
  discordbot/stocks/dark_pool_shorts/psi.py
  discordbot/stocks/dark_pool_shorts/shorted.py
  discordbot/stocks/dark_pool_shorts/sidtc.py
  discordbot/stocks/dark_pool_shorts/spos.py
Labels: feat S

#775 Added risk indicators
  data.txt
  gamestonk_terminal/stocks/quantitative_analysis/README.md
  gamestonk_terminal/stocks/quantitative_analysis/factors_model.py
  gamestonk_terminal/stocks/quantitative_analysis/factors_view.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  website/content/stocks/quantitative_analysis/capm/_index.md
  website/data/menu/main.yml
Labels: feat S

#773 Decentralized finance
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/__init__.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/defipulse_model.py
  gamestonk_terminal/cryptocurrency/defi/defipulse_view.py
  gamestonk_terminal/cryptocurrency/defi/defirate_model.py
  gamestonk_terminal/cryptocurrency/defi/defirate_view.py
  gamestonk_terminal/cryptocurrency/defi/llama_model.py
  gamestonk_terminal/cryptocurrency/defi/llama_view.py
  gamestonk_terminal/cryptocurrency/defi/substack_model.py
  gamestonk_terminal/cryptocurrency/defi/substack_view.py
  gamestonk_terminal/cryptocurrency/onchain/whale_alert_model.py
  website/content/cryptocurrency/defi/_index.md
  website/content/cryptocurrency/defi/borrow/_index.md
  website/content/cryptocurrency/defi/dpi/_index.md
  website/content/cryptocurrency/defi/funding/_index.md
  website/content/cryptocurrency/defi/lending/_index.md
  website/content/cryptocurrency/defi/llama/_index.md
  website/content/cryptocurrency/defi/newsletter/_index.md
  website/content/cryptocurrency/defi/tvl/_index.md
Labels: feat L

#771 Refactor government menu
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/government/quiverquant_model.py
  gamestonk_terminal/stocks/government/quiverquant_view.py
  website/content/stocks/government/buy_congress/_index.md
  website/content/stocks/government/buy_house/_index.md
  website/content/stocks/government/buy_senate/_index.md
  website/content/stocks/government/congress/_index.md
  website/content/stocks/government/contracts/_index.md
  website/content/stocks/government/gtrades/_index.md
  website/content/stocks/government/hist_cont/_index.md
  website/content/stocks/government/house/_index.md
  website/content/stocks/government/last_congress/_index.md
  website/content/stocks/government/last_contracts/_index.md
  website/content/stocks/government/last_house/_index.md
  website/content/stocks/government/last_senate/_index.md
  website/content/stocks/government/last_trades/_index.md
  website/content/stocks/government/lobbying/_index.md
  website/content/stocks/government/qtr_contracts/_index.md
  website/content/stocks/government/qtr_contracts_hist/_index.md
  website/content/stocks/government/raw_congress/_index.md
  website/content/stocks/government/raw_contracts/_index.md
  website/content/stocks/government/raw_house/_index.md
  website/content/stocks/government/raw_senate/_index.md
  website/content/stocks/government/sell_congress/_index.md
  website/content/stocks/government/sell_house/_index.md
  website/content/stocks/government/sell_senate/_index.md
  website/content/stocks/government/senate/_index.md
  website/content/stocks/government/sum_contracts/_index.md
  website/content/stocks/government/top_buys/_index.md
  website/content/stocks/government/top_lobbying/_index.md
  website/content/stocks/government/top_sells/_index.md
  website/data/menu/main.yml
Labels: refactor

#782 Fix options scr bug
  gamestonk_terminal/options/syncretism_model.py
Labels: bug

#781 Updated Portfolio Rf rate.
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_helper.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_model.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
Labels: feat XS

#783 Cleaned up gov underscores
  gamestonk_terminal/stocks/government/gov_controller.py
  website/content/stocks/government/_index.md
  website/content/stocks/government/histcont/_index.md
  website/content/stocks/government/lastcontracts/_index.md
  website/content/stocks/government/lasttrades/_index.md
  website/content/stocks/government/qtrcontracts/_index.md
  website/content/stocks/government/topbuys/_index.md
  website/content/stocks/government/toplobbying/_index.md
  website/content/stocks/government/topsells/_index.md
  website/data/menu/main.yml
Labels: docs

#784 Add ark trades based on ticker
  gamestonk_terminal/stocks/due_diligence/ark_model.py
  gamestonk_terminal/stocks/due_diligence/ark_view.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  website/content/stocks/due_diligence/arktrades/_index.md
  website/data/menu/main.yml
Labels: feat S

#785 Risk Free Line
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  website/content/portfolio/portfolio_optimization/ef/_index.md
Labels: feat S

#788 Fix bug where `last trades` wasn't passing export
  gamestonk_terminal/stocks/government/gov_controller.py
Labels: bug

#787 Add load to dd and add empty returns to arktrades
  gamestonk_terminal/stocks/due_diligence/ark_model.py
  gamestonk_terminal/stocks/due_diligence/ark_view.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
Labels: feat XS

#789 Updating poetry to 1.1.11
  .github/workflows/test.yml
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
Labels: build

#790 Updating black and related packages
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build

#879 Update discord error message when API keys aren't set
  discordbot/discordbot.py
Labels: enhancement, discord

#838 Portfolio Dataframe
  CONTRIBUTING.md
  README.md
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_helper.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/portfolio/reportlab_helpers.py
  gamestonk_terminal/portfolio/yfinance_model.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/factors_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/content/portfolio/add/_index.md
  website/content/portfolio/ar/_index.md
  website/content/portfolio/load/_index.md
  website/content/portfolio/ret/_index.md
  website/content/portfolio/rmv/_index.md
  website/content/portfolio/save/_index.md
  website/content/portfolio/show/_index.md
Labels: feat S

#880 Add protection against user typos or wrong commands
  discordbot/discordbot.py
Labels: feat XS, discord

#882 Improve terminal speed for stocks context
  gamestonk_terminal/stocks/stocks_controller.py
Labels: enhancement

#878 Initial implementation of the Markdown Linter
  .github/workflows/test.yml
  .markdownlintrc
  gamestonk_terminal/options/README.md
Labels: docs, build

#881 Improve discord help command
  discordbot/economy/economy_menu.py
  discordbot/generic_commands.py
  discordbot/stocks/dark_pool_shorts/dps_menu.py
Labels: docs, enhancement, discord

#883 Adding linting to CONTRIBUTING.md
  .github/workflows/test.yml
  .markdownlintrc
  CONTRIBUTING.md
Labels: docs, build

#884 Add markdownlint to all top level markdowns
  .github/workflows/test.yml
  .markdownlintrc
  DOCKER_ADVANCED.md
  README.md
  ROADMAP.md
  TROUBLESHOOT.md
Labels: docs, build

#885 Enable codespell for markdown and reduce exceptions
  .github/workflows/test.yml
  README.md
  changelogs/W23_2021.md
  changelogs/W31_2021.md
  gamestonk_terminal/stocks/insider/openinsider_model.py
  gamestonk_terminal/stocks/insider/presets/test.py
Labels: docs, build

#888 Next batch of Markdown lint fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/test.yml
  .markdownlintrc
  changelogs/W07_2021.md
  changelogs/W27_2021.md
  gamestonk_terminal/common/behavioural_analysis/README.md
  gamestonk_terminal/common/prediction_techniques/FUNE-TUNING-NN-models.md
  gamestonk_terminal/common/prediction_techniques/README-gpu-accel.md
  gamestonk_terminal/common/prediction_techniques/README.md
  gamestonk_terminal/common/technical_analysis/README.md
Labels: docs, build

#889 Update holidays and a few other packages
  .github/workflows/labels.yml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build, dependencies
