Repository OpenBB-finance/OpenBB, pull requests merged in 2021-06, with the labels that each got.

#475 Degiro Integration : fixing issue with dependency
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: type:bug

#479 Adding a check to skip duplicate builds on pull_request/push
  .github/workflows/test.yml
  .github/workflows/windows.yml
  notebooks/templates/due_diligence.ipynb
  notebooks/templates/econ_data.ipynb
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: type:build

#480 Restructuring Anaconda installations
  .github/workflows/mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  conda-environment.yaml
Labels: type:build

#482 Pin jupyter_client==6.1.12
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: type:build

#483 Dependency on black is fixed in pyproject.toml. Mirroring the setting in conda configs
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: type:build

#481 Add quarterly contracts to gov menu
  gamestonk_terminal/government/README.md
  gamestonk_terminal/government/gov_controller.py
  gamestonk_terminal/government/quiverquant_model.py
  gamestonk_terminal/government/quiverquant_view.py
Labels: size:S

#484 Replace y2b tutorial link and fix screener float short option
  README.md
  gamestonk_terminal/screener/presets/template.ini
Labels: size:XS, type:docs

#485 Update conda docs
  README.md
Labels: type:docs

#486 Add corporate lobbying data to government menu
  gamestonk_terminal/government/README.md
  gamestonk_terminal/government/gov_controller.py
  gamestonk_terminal/government/quiverquant_model.py
  gamestonk_terminal/government/quiverquant_view.py
Labels: size:S

#489 Feature/degiro integration
  gamestonk_terminal/portfolio/degiro_model.py
  gamestonk_terminal/portfolio/degiro_view.py
  gamestonk_terminal/portfolio/port_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: size:S

#488 Fixing conda environment creating command
  README.md
Labels: type:docs

#492 Fix error with intraday plotting
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
Labels: type:bug

#494 Install mypy types explicitely
  .github/workflows/test.yml
Labels: type:build

#491 Changing NLP from Flair to VADER
  gamestonk_terminal/behavioural_analysis/README.md
  gamestonk_terminal/behavioural_analysis/twitter_view.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/prediction_techniques/fbprophet_view.py
  gamestonk_terminal/prediction_techniques/pred_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: size:XS, type:enhancement

#495 Add running pylint in a full conda environment
  .github/workflows/test.yml
  gamestonk_terminal/main_helper.py
Labels: type:build

#496 Add Stockgrid io source
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/finra_ats_view.py
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/due_diligence/README.md
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/due_diligence/stockgrid_dd_view.py
  poetry.lock
  pyproject.toml
Labels: size:S, type:enhancement

#500 Fix screener for General.Order and General.Signal
  gamestonk_terminal/screener/finviz_view.py
  gamestonk_terminal/screener/presets/sexy_year.ini
  gamestonk_terminal/screener/presets/template.ini
Labels: type:bug

#501 Fix knn no_shuffle arg and deprecated lr
  gamestonk_terminal/portfolio/port_controller.py
  gamestonk_terminal/prediction_techniques/knn_view.py
  gamestonk_terminal/prediction_techniques/neural_networks_view.py
  gamestonk_terminal/prediction_techniques/pred_helper.py
Labels: type:bug

#502 Add csv option for portfolio
  ROADMAP.md
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/portfolio/CUSTOM_PORT.md
  gamestonk_terminal/portfolio/custom_model.py
  gamestonk_terminal/portfolio/custom_portfolio/portfolio.csv
  gamestonk_terminal/portfolio/port_controller.py
Labels: size:M

#505 Split Brokers from Portfolio Analysis Menu and More
  .gitignore
  .pre-commit-config.yaml
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/brokers/README.md
  gamestonk_terminal/brokers/__init__.py
  gamestonk_terminal/brokers/ally_api.py
  gamestonk_terminal/brokers/alp_api.py
  gamestonk_terminal/brokers/bro_controller.py
  gamestonk_terminal/brokers/brokers_helpers.py
  gamestonk_terminal/brokers/degiro/README.md
  gamestonk_terminal/brokers/degiro/degiro_controller.py
  gamestonk_terminal/brokers/degiro/degiro_model.py
  gamestonk_terminal/brokers/degiro/degiro_view.py
  gamestonk_terminal/brokers/rh_api.py
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/due_diligence/README.md
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/due_diligence/stockgrid_dd_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/portfolio/README.md
  gamestonk_terminal/portfolio/custom_portfolio/portfolio.csv
  gamestonk_terminal/portfolio_analysis/README.md
  gamestonk_terminal/portfolio_analysis/__init__.py
  gamestonk_terminal/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio_analysis/portfolio_parser.py
  gamestonk_terminal/portfolio_analysis/portfolios/my_portfolio.csv
  gamestonk_terminal/portfolio_optimization/README.md
  gamestonk_terminal/portfolio_optimization/po_controller.py
  terminal.py
Labels: size:S, type:bug, type:docs, type:enhancement

#506 Improve-UX
  README.md
  ROADMAP.md
  gamestonk_terminal/main_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: size:S

#507 Refactor main terminal code
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/behavioural_analysis/ba_controller.py
  gamestonk_terminal/behavioural_analysis/reddit_view.py
  gamestonk_terminal/brokers/bro_controller.py
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/due_diligence/README.md
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/due_diligence/reddit_view.py
  gamestonk_terminal/due_diligence/stockgrid_dd_view.py
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/economy/__init__.py
  gamestonk_terminal/economy/econ_controller.py
  gamestonk_terminal/economy/finnhub_view.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/fundamental_analysis/alpha_vantage_view.py
  gamestonk_terminal/fundamental_analysis/fa_helper.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep_view.py
  gamestonk_terminal/fundamental_analysis/yahoo_finance_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/portfolio_optimization/po_controller.py
  gamestonk_terminal/prediction_techniques/pred_controller.py
  gamestonk_terminal/reddit_helpers.py
  gamestonk_terminal/residuals_analysis/ra_controller.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  terminal.py
  tests/test_fred_fred_view.py
Labels: size:L

#508 Removing last mentions of fbprophet and updating dependencies
  TROUBLESHOOT.md
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  docs/code.rst
  gamestonk_terminal/README.md
  gamestonk_terminal/prediction_techniques/README.md
  poetry.lock
  pyproject.toml
  pytest.ini
  requirements-full.txt
  requirements.txt
Labels: type:build

#510 Fix bugs and more refactoring
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/fundamental_analysis/README.md
  gamestonk_terminal/fundamental_analysis/alpha_vantage/README.md
  gamestonk_terminal/fundamental_analysis/alpha_vantage/av_controller.py
  gamestonk_terminal/fundamental_analysis/alpha_vantage/av_view.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep/README.md
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep/fmp_view.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/options/README.md
  gamestonk_terminal/options/barchart_view.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/options/tradier_view.py
  gamestonk_terminal/options/volume_helper.py
  gamestonk_terminal/options/yahoo_view.py
  terminal.py
Labels: type:bug, type:docs, type:refactor

#509 Add Fear And Greed Index command to Economy menu
  README.md
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/economy/cnn_view.py
  gamestonk_terminal/economy/econ_controller.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: size:S

#514 Fix issue that for quotes with suffix .CN was failing
  terminal.py
Labels: type:bug

#519 Bug fixes and code improvements
  README.md
  gamestonk_terminal/backtesting/bt_controller.py
  gamestonk_terminal/behavioural_analysis/ba_controller.py
  gamestonk_terminal/brokers/bro_controller.py
  gamestonk_terminal/brokers/degiro/degiro_controller.py
  gamestonk_terminal/brokers/degiro/degiro_view.py
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/due_diligence/business_insider_view.py
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/due_diligence/market_watch_view.py
  gamestonk_terminal/economy/econ_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/exploratory_data_analysis/eda_api.py
  gamestonk_terminal/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/forex/fx_controller.py
  gamestonk_terminal/fundamental_analysis/alpha_vantage/av_controller.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/government/gov_controller.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio_optimization/po_controller.py
  gamestonk_terminal/prediction_techniques/arima_view.py
  gamestonk_terminal/prediction_techniques/ets_view.py
  gamestonk_terminal/prediction_techniques/knn_view.py
  gamestonk_terminal/prediction_techniques/neural_networks_view.py
  gamestonk_terminal/prediction_techniques/pred_controller.py
  gamestonk_terminal/prediction_techniques/pred_helper.py
  gamestonk_terminal/prediction_techniques/regression_view.py
  gamestonk_terminal/research/res_controller.py
  gamestonk_terminal/residuals_analysis/ra_controller.py
  gamestonk_terminal/resource_collection/rc_controller.py
  gamestonk_terminal/screener/presets/death_cross.ini
  gamestonk_terminal/screener/screener_controller.py
  gamestonk_terminal/technical_analysis/momentum.py
  gamestonk_terminal/technical_analysis/overlap.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  gamestonk_terminal/technical_analysis/trend_indicators.py
  gamestonk_terminal/technical_analysis/volatility.py
  gamestonk_terminal/technical_analysis/volume.py
  terminal.py
Labels: type:bug, type:docs, type:enhancement

#520 Add Options screener
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/stockgrid_view.py
  gamestonk_terminal/due_diligence/README.md
  gamestonk_terminal/due_diligence/stockgrid_dd_view.py
  gamestonk_terminal/fundamental_analysis/alpha_vantage/README.md
  gamestonk_terminal/fundamental_analysis/alpha_vantage/av_view.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/options/README.md
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/options/presets/README.md
  gamestonk_terminal/options/presets/template.ini
  gamestonk_terminal/options/syncretism_view.py
  gamestonk_terminal/screener/README.md
  terminal.py
Labels: size:M

#523 Fix: recommend requirements.txt for Windows
  README.md
Labels: type:docs

#525 Add How to add preset README sections
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/options/presets/README.md
  gamestonk_terminal/options/presets/template.ini
  gamestonk_terminal/options/syncretism_view.py
  gamestonk_terminal/screener/presets/README.md
  gamestonk_terminal/screener/screener_controller.py
Labels: type:docs

#526 Update donation section with patreon
  README.md
  gamestonk_terminal/brokers/ally_api.py
  gamestonk_terminal/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/menu.py
  gamestonk_terminal/portfolio_analysis/portfolio_parser.py
  tests/test_discovery_ark_model.py
  tests/test_pred_neural_networks.py
Labels: type:docs
