Repository OpenBB-finance/OpenBB, pull requests merged in 2021-04, with the labels that each got.

#312 Exception handling for wsb popular function
  gamestonk_terminal/behavioural_analysis/reddit_view.py
Labels: bug

#313 Adding ark_model unit tests
  tests/data/discovery_ark_model.yaml
  tests/test_discovery_ark_model.py
Labels: tests

#314 Add new Screener menu
  ROADMAP.md
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/screener/README.md
  gamestonk_terminal/screener/finviz_view.py
  gamestonk_terminal/screener/presets/README.md
  gamestonk_terminal/screener/presets/sexy_year.ini
  gamestonk_terminal/screener/presets/template.ini
  gamestonk_terminal/screener/screener_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements-win.txt
  requirements.txt
  terminal.py
Labels: l-feature

#315 Add sector/industry/country valuation/performance/spectrum
  ROADMAP.md
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/finviz_view.py
  poetry.lock
  pyproject.toml
Labels: m-feature

#324 Fix build
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/fundamental_analysis/yahoo_finance_api.py
  gamestonk_terminal/residuals_analysis/residuals_api.py
Labels: build

#334 Discovery controller to close figures when in menu
  gamestonk_terminal/discovery/disc_controller.py
Labels: bug

#332 Refactoring Due Diligence controller
  gamestonk_terminal/due_diligence/business_insider_view.py
  gamestonk_terminal/due_diligence/dd_controller.py
  gamestonk_terminal/due_diligence/dd_menu.py
  gamestonk_terminal/due_diligence/financial_modeling_prep_view.py
  gamestonk_terminal/due_diligence/finviz_view.py
  gamestonk_terminal/due_diligence/market_watch_view.py
  gamestonk_terminal/due_diligence/news_view.py
  gamestonk_terminal/due_diligence/quandl_view.py
  gamestonk_terminal/due_diligence/reddit_view.py
  terminal.py
  tests/test_dd_financial_modeling_prep_api.py
  tests/test_dd_financial_modeling_prep_view.py
  tests/test_dd_finviz_view.py
Labels: refactor

#335 Refactor prediction menu to controller, and fbprophet optional
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/prediction_techniques/pred_controller.py
  gamestonk_terminal/prediction_techniques/pred_menu.py
  terminal.py
Labels: bug, refactor

#329 Portfolio optimization
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/portfolio_optimization/README.md
  gamestonk_terminal/portfolio_optimization/__init__.py
  gamestonk_terminal/portfolio_optimization/optimizer_helper.py
  gamestonk_terminal/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio_optimization/po_controller.py
  gamestonk_terminal/screener/README.md
  gamestonk_terminal/screener/screener_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements-old.txt
  requirements-win.txt
  requirements.txt
  terminal.py
Labels: l-feature

#349 Big-ish PO refactoring
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/comparison_analysis/README.md
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/portfolio_optimization/README.md
  gamestonk_terminal/portfolio_optimization/optimizer_helper.py
  gamestonk_terminal/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio_optimization/po_controller.py
  gamestonk_terminal/screener/README.md
  gamestonk_terminal/screener/finviz_view.py
  gamestonk_terminal/screener/screener_controller.py
  gamestonk_terminal/screener/yahoo_finance_view.py
  gamestonk_terminal/technical_analysis/README.md
Labels: s-feature

#347 add market_news and news_article to disc menu
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/seeking_alpha_model.py
  gamestonk_terminal/discovery/seeking_alpha_view.py
Labels: s-feature

#351 add in option chains :)
  README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/options/README.md
  gamestonk_terminal/options/chains_view.py
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/options/volume_view.py
Labels: s-feature

#357 introduce latest ratings changes from MarketBeat
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/marketbeat_model.py
  gamestonk_terminal/discovery/marketbeat_view.py
Labels: s-feature

#358 address statsmodels on poetry #295
  poetry.lock
  pyproject.toml
Labels: bug

#367 Add vega, gamma and theta to option chains display
  gamestonk_terminal/options/chains_view.py
Labels: s-feature

#345 Refactor Fundamental Analysis menu
  gamestonk_terminal/fundamental_analysis/alpha_vantage_controller.py
  gamestonk_terminal/fundamental_analysis/alpha_vantage_view.py
  gamestonk_terminal/fundamental_analysis/business_insider_view.py
  gamestonk_terminal/fundamental_analysis/fa_controller.py
  gamestonk_terminal/fundamental_analysis/fa_menu.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep_controller.py
  gamestonk_terminal/fundamental_analysis/financial_modeling_prep_view.py
  gamestonk_terminal/fundamental_analysis/finviz_view.py
  gamestonk_terminal/fundamental_analysis/market_watch_model.py
  gamestonk_terminal/fundamental_analysis/market_watch_view.py
  gamestonk_terminal/fundamental_analysis/yahoo_finance_view.py
  terminal.py
  tests/data/fa_market_watch_model.yaml
  tests/test_fa_business_insider_view.py
  tests/test_fa_market_watch_model.py
  tests/test_fa_market_watch_view.py
  tests/test_fa_yahoo_finance_view.py
Labels: refactor

#372 Add disc/darkpool command
  ROADMAP.md
  gamestonk_terminal/README.md
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/discovery/finra_ats_view.py
  gamestonk_terminal/due_diligence/finra_view.py
Labels: s-feature

#371 Build updates
  .github/workflows/Mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  gamestonk_terminal/discovery/marketbeat_model.py
  gamestonk_terminal/discovery/seeking_alpha_model.py
  gamestonk_terminal/feature_flags.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: build

#376 Enable Pylint. Turns out it was disabled this whole time.
  .github/workflows/test.yml
  .pylintrc
  gamestonk_terminal/behavioural_analysis/ba_controller.py
  gamestonk_terminal/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/behavioural_analysis/reddit_view.py
  gamestonk_terminal/comparison_analysis/__init__.py
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/comparison_analysis/finbrain_view.py
  gamestonk_terminal/comparison_analysis/market_watch_view.py
  gamestonk_terminal/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/discovery/finviz_view.py
  gamestonk_terminal/discovery/marketbeat_view.py
  gamestonk_terminal/discovery/seeking_alpha_model.py
  gamestonk_terminal/discovery/seeking_alpha_view.py
  gamestonk_terminal/due_diligence/finra_view.py
  gamestonk_terminal/portfolio/port_controller.py
  gamestonk_terminal/portfolio_optimization/optimizer_helper.py
  gamestonk_terminal/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio_optimization/po_controller.py
  gamestonk_terminal/prediction_techniques/ets.py
  gamestonk_terminal/prediction_techniques/neural_networks.py
  gamestonk_terminal/prediction_techniques/pred_controller.py
  gamestonk_terminal/prediction_techniques/pred_helper.py
  gamestonk_terminal/technical_analysis/finviz_view.py
  gamestonk_terminal/technical_analysis/overlap.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  gamestonk_terminal/technical_analysis/tradingview_view.py
  terminal.py
Labels: build, refactor

#360 Forex support through Oanda
  README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/forex/README.md
  gamestonk_terminal/forex/__init.py__
  gamestonk_terminal/forex/fx_controller.py
  gamestonk_terminal/forex/fx_view.py
  gamestonk_terminal/main_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: l-feature

#380 Updating poetry action and version
  .github/workflows/test.yml
Labels: build

#381 Feature/degiro broker
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/portfolio/dg_api.py
  gamestonk_terminal/portfolio/port_controller.py
  gamestonk_terminal/portfolio/portfolio_helpers.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: s-feature

#387 Stocktwits, reddit, and eda integration and added ta options to charts.
  gamestonk_terminal/due_diligence/reddit_view.py
  gamestonk_terminal/forex/README.md
  gamestonk_terminal/forex/fx_controller.py
  gamestonk_terminal/forex/fx_view.py
Labels: m-feature
