Repository OpenBB-finance/OpenBB, pull requests merged in 2021-11, with the labels that each got.

#887 Major improvements to discord architecture
  discordbot/README.md
  discordbot/config_discordbot.py
  discordbot/economy/currencies.py
  discordbot/economy/economy_menu.py
  discordbot/economy/feargreed.py
  discordbot/economy/futures.py
  discordbot/economy/glbonds.py
  discordbot/economy/indices.py
  discordbot/economy/overview.py
  discordbot/economy/performance.py
  discordbot/economy/usbonds.py
  discordbot/economy/valuation.py
  discordbot/stocks/dark_pool_shorts/dpotc.py
  discordbot/stocks/dark_pool_shorts/dps_menu.py
  discordbot/stocks/dark_pool_shorts/ftd.py
  discordbot/stocks/dark_pool_shorts/hsi.py
  discordbot/stocks/dark_pool_shorts/pos.py
  discordbot/stocks/dark_pool_shorts/psi.py
  discordbot/stocks/dark_pool_shorts/shorted.py
  discordbot/stocks/dark_pool_shorts/sidtc.py
  discordbot/stocks/dark_pool_shorts/spos.py
Labels: bug, enhancement, discord

#891 Add a check in dd report to avoid crash
  gamestonk_terminal/reports/due_diligence.ipynb
Labels: bug

#890 Minor style and spelling fixes
  README.md
  gamestonk_terminal/helper_funcs.py
Labels: refactor

#893 Update poetry troubleshoot docs
  TROUBLESHOOT.md
Labels: docs

#892 Fixes 2 minor issues
  gamestonk_terminal/stocks/due_diligence/finviz_view.py
  terminal.py
Labels: bug, enhancement

#894 Small tweaks to DCF and add thepassiveinvestor to requirements
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  requirements-full.txt
  requirements.txt
Labels: bug, enhancement

#895 Update readthedocs creation pipeline #859
  .gitignore
  docs/README.md
  docs/code.rst
  docs/code/gamestonk_terminal.common.behavioural_analysis.rst
  docs/code/gamestonk_terminal.common.prediction_techniques.rst
  docs/code/gamestonk_terminal.common.quantitative_analysis.rst
  docs/code/gamestonk_terminal.common.rst
  docs/code/gamestonk_terminal.common.technical_analysis.rst
  docs/code/gamestonk_terminal.cryptocurrency.defi.rst
  docs/code/gamestonk_terminal.cryptocurrency.discovery.rst
  docs/code/gamestonk_terminal.cryptocurrency.due_diligence.rst
  docs/code/gamestonk_terminal.cryptocurrency.onchain.rst
  docs/code/gamestonk_terminal.cryptocurrency.overview.rst
  docs/code/gamestonk_terminal.cryptocurrency.rst
  docs/code/gamestonk_terminal.cryptocurrency.technical_analysis.rst
  docs/code/gamestonk_terminal.economy.rst
  docs/code/gamestonk_terminal.etf.rst
  docs/code/gamestonk_terminal.forex.behavioural_analysis.rst
  docs/code/gamestonk_terminal.forex.exploratory_data_analysis.rst
  docs/code/gamestonk_terminal.forex.rst
  docs/code/gamestonk_terminal.options.rst
  docs/code/gamestonk_terminal.portfolio.brokers.coinbase.rst
  docs/code/gamestonk_terminal.portfolio.brokers.degiro.rst
  docs/code/gamestonk_terminal.portfolio.brokers.rst
  docs/code/gamestonk_terminal.portfolio.portfolio_analysis.rst
  docs/code/gamestonk_terminal.portfolio.portfolio_optimization.rst
  docs/code/gamestonk_terminal.portfolio.rst
  docs/code/gamestonk_terminal.reports.rst
  docs/code/gamestonk_terminal.resources.rst
  docs/code/gamestonk_terminal.rst
  docs/code/gamestonk_terminal.stocks.backtesting.rst
  docs/code/gamestonk_terminal.stocks.behavioural_analysis.rst
  docs/code/gamestonk_terminal.stocks.comparison_analysis.rst
  docs/code/gamestonk_terminal.stocks.dark_pool_shorts.rst
  docs/code/gamestonk_terminal.stocks.discovery.rst
  docs/code/gamestonk_terminal.stocks.due_diligence.rst
  docs/code/gamestonk_terminal.stocks.fundamental_analysis.financial_modeling_prep.rst
  docs/code/gamestonk_terminal.stocks.fundamental_analysis.rst
  docs/code/gamestonk_terminal.stocks.government.rst
  docs/code/gamestonk_terminal.stocks.insider.presets.rst
  docs/code/gamestonk_terminal.stocks.insider.rst
  docs/code/gamestonk_terminal.stocks.prediction_techniques.rst
  docs/code/gamestonk_terminal.stocks.quantitative_analysis.rst
  docs/code/gamestonk_terminal.stocks.research.rst
  docs/code/gamestonk_terminal.stocks.rst
  docs/code/gamestonk_terminal.stocks.screener.rst
  docs/code/gamestonk_terminal.stocks.technical_analysis.rst
  docs/code/modules.rst
  docs/index.rst
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: docs, build, dependencies

#897 Removing Alpaca support for now. Will add back when Alpaca updates dependencies.
  gamestonk_terminal/README.md
  gamestonk_terminal/portfolio/brokers/README.md
  gamestonk_terminal/portfolio/brokers/alpaca/alpaca_controller.py
  gamestonk_terminal/portfolio/brokers/alpaca/alpaca_model.py
  gamestonk_terminal/portfolio/brokers/alpaca/alpaca_view.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/data/menu/main.yml
Labels: build, dependencies

#898 Discord doc
  discordbot/README.md
  gamestonk_terminal/stocks/fundamental_analysis/eclect_us_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: docs, discord

#900 Next batch of markdownlint cleanup
  .github/workflows/test.yml
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/discovery/README.md
  gamestonk_terminal/cryptocurrency/due_diligence/README.md
  gamestonk_terminal/cryptocurrency/overview/README.md
Labels: docs, build

#901 Another batch of markdownlint updates
  .github/workflows/test.yml
  .markdownlintrc
  gamestonk_terminal/README.md
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/forex/README.md
  gamestonk_terminal/options/presets/README.md
  gamestonk_terminal/portfolio/brokers/README.md
  gamestonk_terminal/portfolio/brokers/degiro/README.md
  gamestonk_terminal/portfolio/portfolio_analysis/README.md
  gamestonk_terminal/portfolio/portfolio_optimization/README.md
  gamestonk_terminal/reports/README.md
  gamestonk_terminal/resources/README.md
  gamestonk_terminal/stocks/behavioural_analysis/README.md
  gamestonk_terminal/stocks/dark_pool_shorts/README.md
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/README.md
  gamestonk_terminal/stocks/screener/presets/README.md
Labels: docs, build

#899 Rename finbrain command to not use source and comment out forex/ba menu
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/forex/forex_controller.py
  website/content/cryptocurrency/headlines/_index.md
  website/data/menu/main.yml
Labels: refactor

#902 Add contributing document to discord
  discordbot/CONTRIBUTING.md
Labels: docs, discord

#904 Add bandit to dev requirements
  poetry.lock
  pyproject.toml
  requirements-full.txt
Labels: dependencies

#903 Redo some forex menu with basic commands
  .github/workflows/test.yml
  .pre-commit-config.yaml
  gamestonk_terminal/forex/av_forex_currencies.csv
  gamestonk_terminal/forex/av_model.py
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/forex/oanda/oanda_model.py
  gamestonk_terminal/forex/oanda/oanda_view.py
  website/content/forex/candle/_index.md
  website/content/forex/load/_index.md
  website/content/forex/quote/_index.md
  website/content/forex/select/_index.md
  website/data/menu/main.yml
Labels: feat S, refactor

#886 Added Report Text
  .gitignore
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_helper.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/portfolio/portfolios/example.csv
  gamestonk_terminal/portfolio/reportlab_helpers.py
  gamestonk_terminal/portfolio/yfinance_model.py
  website/content/portfolio/rmr/_index.md
Labels: feat XS

#905 Update bandit settings and add a wrapper for os clear
  .github/workflows/test.yml
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/defirate_view.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/behavioural_analysis/ba_controller.py
  gamestonk_terminal/forex/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/options/options_controller.py
  gamestonk_terminal/options/payoff_controller.py
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  gamestonk_terminal/terminal_helper.py
  terminal.py
Labels: refactor

#907 Jupyter updates
  .dockerignore
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  jupyterlab/documentation/yarn.lock
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/yarn.lock
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#909 Cleanup READMEs in the code
  gamestonk_terminal/stocks/backtesting/README.md
  gamestonk_terminal/stocks/comparison_analysis/README.md
  gamestonk_terminal/stocks/due_diligence/README.md
  gamestonk_terminal/stocks/fundamental_analysis/README.md
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/README.md
  gamestonk_terminal/stocks/government/README.md
  gamestonk_terminal/stocks/insider/README.md
  gamestonk_terminal/stocks/research/README.md
  gamestonk_terminal/stocks/screener/README.md
  gamestonk_terminal/stocks/technical_analysis/README.md
Labels: docs

#908 Improves load and candle relation + 3 bonus READMEs
  docs/code/gamestonk_terminal.common.technical_analysis.rst
  gamestonk_terminal/common/technical_analysis/trendline_api.py
  gamestonk_terminal/economy/econ_data_helper.py
  gamestonk_terminal/stocks/behavioural_analysis/README.md
  gamestonk_terminal/stocks/dark_pool_shorts/README.md
  gamestonk_terminal/stocks/discovery/README.md
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: bug, docs

#911 Refactor code and terminal menus
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/behavioural_analysis/ba_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/options/options_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/README.md
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: docs, refactor

#912 Refactor remaining READMEs
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/forex/README.md
  gamestonk_terminal/forex/oanda/README.md
  gamestonk_terminal/options/README.md
  gamestonk_terminal/options/options_controller.py
  gamestonk_terminal/options/payoff_controller.py
  gamestonk_terminal/portfolio/README.md
  gamestonk_terminal/portfolio/brokers/README.md
  gamestonk_terminal/portfolio/portfolio_optimization/README.md
  gamestonk_terminal/resources/README.md
  gamestonk_terminal/stocks/prediction_techniques/README.md
  gamestonk_terminal/stocks/quantitative_analysis/README.md
  gamestonk_terminal/stocks/technical_analysis/README.md
Labels: docs

#906 Risk neutral options valuation
  gamestonk_terminal/options/op_helpers.py
  gamestonk_terminal/options/options_controller.py
  gamestonk_terminal/options/yfinance_view.py
  gamestonk_terminal/portfolio/portfolios/cash.csv
  gamestonk_terminal/portfolio/portfolios/james.csv
  gamestonk_terminal/portfolio/portfolios/market.csv
  website/content/options/add/_index.md
  website/content/options/rmv/_index.md
  website/content/options/rnval/_index.md
  website/content/options/show/_index.md
  website/data/menu/main.yml
Labels: feat XS

#914 Use get_user_agent for all requests
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/economy/wsj_model.py
  gamestonk_terminal/etf/stockanalysis_model.py
  gamestonk_terminal/etf/wsj_model.py
  gamestonk_terminal/options/barchart_model.py
  gamestonk_terminal/options/chartexchange_model.py
  gamestonk_terminal/options/fdscanner_model.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_model.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  gamestonk_terminal/stocks/discovery/shortinterest_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
Labels: refactor

#916 Containers v1.7.0
  docker/compose.env
  docker/gst-python.dockerfile
Labels: build, dependencies

#920 Fix ftd encoding bug
  gamestonk_terminal/stocks/dark_pool_shorts/sec_model.py
Labels: bug

#918 Add alpha vantage economy endpoints to Econ menu
  gamestonk_terminal/economy/alphavantage_model.py
  gamestonk_terminal/economy/alphavantage_view.py
  gamestonk_terminal/economy/economy_controller.py
  website/content/economy/cpi/_index.md
  website/content/economy/gdp/_index.md
  website/content/economy/gdpc/_index.md
  website/content/economy/inf/_index.md
  website/content/economy/tyld/_index.md
  website/content/economy/unemp/_index.md
  website/data/menu/main.yml
Labels: feat XS

#924 Remove PR command due to paid paywall
  gamestonk_terminal/stocks/technical_analysis/README.md
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  website/content/common/technical_analysis/pr/_index.md
  website/data/menu/main.yml
Labels: bug

#923 Remove latest news and add Customised news
  .gitignore
  gamestonk_terminal/common/behavioural_analysis/README.md
  gamestonk_terminal/common/prediction_techniques/README.md
  gamestonk_terminal/common/technical_analysis/README.md
  gamestonk_terminal/stocks/discovery/README.md
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_model.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_view.py
  website/content/stocks/discovery/cnews/_index.md
  website/content/stocks/discovery/latest/_index.md
  website/data/menu/main.yml
Labels: feat XS

#926 fix sentiment cmds
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
Labels: bug

#925 Fix spelling and add missing thepassiveinvestor
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_model.py
  gamestonk_terminal/common/technical_analysis/volume_model.py
  gamestonk_terminal/common/technical_analysis/volume_view.py
  gamestonk_terminal/cryptocurrency/defi/llama_model.py
  gamestonk_terminal/economy/alphavantage_view.py
  gamestonk_terminal/economy/finnhub_view.py
  gamestonk_terminal/economy/fred_model.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/options/chartexchange_view.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_view.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_helper.py
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_model.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/stocks/backtesting/bt_model.py
  gamestonk_terminal/stocks/backtesting/bt_view.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/technical_analysis/finviz_model.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  gamestonk_terminal/stocks/technical_analysis/tradingview_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/cassettes/test_cryptocurrency/test_coingecko/test_coin_holding_companies.yaml
  tests/test_cryptocurrency/test_coingecko_crypto.py
Labels: bug, tests, refactor, dependencies

#922 Performance Ratios
  gamestonk_terminal/portfolio/portfolio_helper.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/portfolio/reportlab_helpers.py
Labels: feat XS

#927 Fix report DD
  gamestonk_terminal/reports/due_diligence.ipynb
Labels: bug

#919 Discord Bot: Added ta context
  discordbot/discordbot.py
  discordbot/stocks/technical_analysis/ad.py
  discordbot/stocks/technical_analysis/adosc.py
  discordbot/stocks/technical_analysis/adx.py
  discordbot/stocks/technical_analysis/aroon.py
  discordbot/stocks/technical_analysis/bbands.py
  discordbot/stocks/technical_analysis/cci.py
  discordbot/stocks/technical_analysis/cg.py
  discordbot/stocks/technical_analysis/donchian.py
  discordbot/stocks/technical_analysis/ema.py
  discordbot/stocks/technical_analysis/fib.py
  discordbot/stocks/technical_analysis/fisher.py
  discordbot/stocks/technical_analysis/hma.py
  discordbot/stocks/technical_analysis/kc.py
  discordbot/stocks/technical_analysis/macd.py
  discordbot/stocks/technical_analysis/obv.py
  discordbot/stocks/technical_analysis/recom.py
  discordbot/stocks/technical_analysis/rsi.py
  discordbot/stocks/technical_analysis/sma.py
  discordbot/stocks/technical_analysis/stoch.py
  discordbot/stocks/technical_analysis/summary.py
  discordbot/stocks/technical_analysis/ta_menu.py
  discordbot/stocks/technical_analysis/view.py
  discordbot/stocks/technical_analysis/wma.py
  discordbot/stocks/technical_analysis/zlma.py
Labels: feat L, discord

#928 Validate loaded data
  gamestonk_terminal/portfolio/portfolio_model.py
Labels: feat XS

#930 Yup, incoming NFT context
  gamestonk_terminal/nft/nft_controller.py
  gamestonk_terminal/nft/nftcalendar_model.py
  gamestonk_terminal/nft/nftcalendar_view.py
  terminal.py
  website/content/nft/newest/_index.md
  website/content/nft/ongoing/_index.md
  website/content/nft/today/_index.md
  website/content/nft/upcoming/_index.md
  website/data/menu/main.yml
Labels: feat M

#921 Feature/graph onchain
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/graph_model.py
  gamestonk_terminal/cryptocurrency/defi/graph_view.py
  website/content/cryptocurrency/defi/pairs/_index.md
  website/content/cryptocurrency/defi/pools/_index.md
  website/content/cryptocurrency/defi/stats/_index.md
  website/content/cryptocurrency/defi/swaps/_index.md
  website/content/cryptocurrency/defi/tokens/_index.md
Labels: feat M

#931 Refactor options menu into stocks and others
  exports/options/.gitkeep
  gamestonk_terminal/__init__.py
  gamestonk_terminal/options/__init__.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/options/README.md
  gamestonk_terminal/stocks/options/__init__.py
  gamestonk_terminal/stocks/options/alphaquery_model.py
  gamestonk_terminal/stocks/options/alphaquery_view.py
  gamestonk_terminal/stocks/options/barchart_model.py
  gamestonk_terminal/stocks/options/barchart_view.py
  gamestonk_terminal/stocks/options/calculator_model.py
  gamestonk_terminal/stocks/options/calculator_view.py
  gamestonk_terminal/stocks/options/chartexchange_model.py
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/fdscanner_model.py
  gamestonk_terminal/stocks/options/fdscanner_view.py
  gamestonk_terminal/stocks/options/op_helpers.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/payoff_controller.py
  gamestonk_terminal/stocks/options/presets/README.md
  gamestonk_terminal/stocks/options/presets/high_IV.ini
  gamestonk_terminal/stocks/options/presets/template.ini
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/options/syncretism_model.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  gamestonk_terminal/stocks/options/tradier_model.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/options/yfinance_model.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  terminal.py
Labels: bug, enhancement

#932 Move NFT to inside crypto
  exports/cryptocurrency/nft/.gitkeep
  exports/stocks/options/.gitkeep
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/nft/nftcalendar_model.py
  gamestonk_terminal/cryptocurrency/nft/nftcalendar_view.py
  terminal.py
Labels: refactor

#896 Big Improvement of Hugo Server - Work in Progress
  website/content/stocks/candle/_index.md
  website/content/stocks/dark_pool_shorts/dpotc/_index.md
  website/content/stocks/dark_pool_shorts/ftd/_index.md
  website/content/stocks/dark_pool_shorts/hsi/_index.md
  website/content/stocks/dark_pool_shorts/pos/_index.md
  website/content/stocks/dark_pool_shorts/prom/_index.md
  website/content/stocks/dark_pool_shorts/psi/_index.md
  website/content/stocks/dark_pool_shorts/shorted/_index.md
  website/content/stocks/dark_pool_shorts/sidtc/_index.md
  website/content/stocks/dark_pool_shorts/spos/_index.md
  website/content/stocks/discovery/_index.md
  website/content/stocks/discovery/active/_index.md
  website/content/stocks/discovery/arkord/_index.md
  website/content/stocks/discovery/asc/_index.md
  website/content/stocks/discovery/fds/_index.md
  website/content/stocks/discovery/fipo/_index.md
  website/content/stocks/discovery/ford/_index.md
  website/content/stocks/discovery/gainers/_index.md
  website/content/stocks/discovery/gtech/_index.md
  website/content/stocks/discovery/hotpenny/_index.md
  website/content/stocks/discovery/losers/_index.md
  website/content/stocks/discovery/lowfloat/_index.md
  website/content/stocks/discovery/pipo/_index.md
  website/content/stocks/discovery/trending/_index.md
  website/content/stocks/discovery/ulc/_index.md
  website/content/stocks/discovery/upcoming/_index.md
  website/content/stocks/insider/act/_index.md
  website/content/stocks/insider/blcp/_index.md
  website/content/stocks/insider/blcs/_index.md
  website/content/stocks/insider/blip/_index.md
  website/content/stocks/insider/blis/_index.md
  website/content/stocks/insider/blop/_index.md
  website/content/stocks/insider/blos/_index.md
  website/content/stocks/insider/filter/_index.md
  website/content/stocks/insider/lcb/_index.md
  website/content/stocks/insider/lins/_index.md
  website/content/stocks/insider/lip/_index.md
  website/content/stocks/insider/lis/_index.md
  website/content/stocks/insider/lit/_index.md
  website/content/stocks/insider/load/_index.md
  website/content/stocks/insider/lpsb/_index.md
  website/content/stocks/insider/set/_index.md
  website/content/stocks/insider/tippm/_index.md
  website/content/stocks/insider/tippw/_index.md
  website/content/stocks/insider/tipt/_index.md
  website/content/stocks/insider/tispm/_index.md
  website/content/stocks/insider/tispw/_index.md
  website/content/stocks/insider/tist/_index.md
  website/content/stocks/insider/toppm/_index.md
  website/content/stocks/insider/toppw/_index.md
  website/content/stocks/insider/topt/_index.md
  website/content/stocks/insider/view/_index.md
  website/content/stocks/load/_index.md
  website/content/stocks/news/_index.md
  website/content/stocks/quote/_index.md
Labels: docs

#929 Discordbot Heroku
  Procfile
  discordbot/README.md
  discordbot/requirements.txt
  runtime.txt
Labels: feat XS, discord

#917 Add analytics beacons to hugo and readthedocs
  .github/workflows/gh-pages.yml
  .pylintrc
  docs/_templates/layout.html
  docs/code/gamestonk_terminal.forex.rst
  docs/conf.py
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/themes/hugo-geekdoc/layouts/partials/foot.html
Labels: docs, dependencies

#934 Juputerlab dependencies security updates
  jupyterlab/documentation/yarn.lock
  jupyterlab/gst-settings/package-lock.json
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/package-lock.json
  jupyterlab/gst/yarn.lock
Labels: dependencies

#935 Force usage of tensorflow 2.6.1 because 2.6.2 not available on windows
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, dependencies

#937 Candle colors
  gamestonk_terminal/stocks/stocks_helper.py
Labels: enhancement

#936 Adding the due diligence context
  discordbot/discordbot.py
  discordbot/economy/economy_menu.py
  discordbot/stocks/dark_pool_shorts/dps_menu.py
  discordbot/stocks/due_diligence/analyst.py
  discordbot/stocks/due_diligence/arktrades.py
  discordbot/stocks/due_diligence/customer.py
  discordbot/stocks/due_diligence/dd_menu.py
  discordbot/stocks/due_diligence/est.py
  discordbot/stocks/due_diligence/pt.py
  discordbot/stocks/due_diligence/sec.py
  discordbot/stocks/due_diligence/supplier.py
Labels: feat M, discord

#942 Added Market Cap categorisation for the fds function
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/financedatabase_view.py
  website/content/stocks/discovery/fds/_index.md
Labels: feat XS

#941 Add NASDAQ datalink retail trader dataset
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/nasdaq_model.py
  gamestonk_terminal/stocks/discovery/nasdaq_view.py
  website/content/stocks/discovery/rtat/_index.md
  website/data/menu/main.yml
Labels: feat XS

#943 Add the Big Mac index :)
  gamestonk_terminal/economy/NASDAQ_CountryCodes.csv
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/nasdaq_model.py
  gamestonk_terminal/economy/nasdaq_view.py
  website/content/economy/bigmac/_index.md
  website/data/menu/main.yml
Labels: feat XS

#946 Hugo Server Merge - Nov 15
  website/content/stocks/candle/_index.md
  website/content/stocks/discovery/_index.md
  website/content/stocks/discovery/cnews/_index.md
  website/content/stocks/discovery/rtat/_index.md
  website/content/stocks/due_diligence/analyst/_index.md
  website/content/stocks/due_diligence/arktrades/_index.md
  website/content/stocks/due_diligence/customer/_index.md
  website/content/stocks/due_diligence/est/_index.md
  website/content/stocks/due_diligence/pt/_index.md
  website/content/stocks/due_diligence/rating/_index.md
  website/content/stocks/due_diligence/rot/_index.md
  website/content/stocks/due_diligence/sec/_index.md
  website/content/stocks/due_diligence/supplier/_index.md
  website/content/stocks/fundamental_analysis/analysis/_index.md
  website/content/stocks/fundamental_analysis/balance/_index.md
  website/content/stocks/fundamental_analysis/cal/_index.md
  website/content/stocks/fundamental_analysis/cash/_index.md
  website/content/stocks/fundamental_analysis/dcf/_index.md
  website/content/stocks/fundamental_analysis/earnings/_index.md
  website/content/stocks/fundamental_analysis/fmp/balance/_index.md
  website/content/stocks/fundamental_analysis/fmp/cash/_index.md
  website/content/stocks/fundamental_analysis/fmp/dcf/_index.md
  website/content/stocks/fundamental_analysis/fmp/enterprise/_index.md
  website/content/stocks/fundamental_analysis/fmp/growth/_index.md
  website/content/stocks/fundamental_analysis/fmp/income/_index.md
  website/content/stocks/fundamental_analysis/fmp/metrics/_index.md
  website/content/stocks/fundamental_analysis/fmp/profile/_index.md
  website/content/stocks/fundamental_analysis/fmp/quote/_index.md
  website/content/stocks/fundamental_analysis/fmp/ratios/_index.md
  website/content/stocks/fundamental_analysis/hq/_index.md
  website/content/stocks/fundamental_analysis/income/_index.md
  website/content/stocks/fundamental_analysis/info/_index.md
  website/content/stocks/fundamental_analysis/key/_index.md
  website/content/stocks/fundamental_analysis/mgmt/_index.md
  website/content/stocks/fundamental_analysis/overview/_index.md
  website/content/stocks/fundamental_analysis/score/_index.md
  website/content/stocks/fundamental_analysis/screener/_index.md
  website/content/stocks/fundamental_analysis/shrs/_index.md
  website/content/stocks/fundamental_analysis/sust/_index.md
  website/content/stocks/fundamental_analysis/warnings/_index.md
  website/content/stocks/fundamental_analysis/web/_index.md
  website/content/stocks/government/contracts/_index.md
  website/content/stocks/government/gtrades/_index.md
  website/content/stocks/government/histcont/_index.md
  website/content/stocks/government/lastcontracts/_index.md
  website/content/stocks/government/lasttrades/_index.md
  website/content/stocks/government/lobbying/_index.md
  website/content/stocks/government/qtrcontracts/_index.md
  website/content/stocks/government/toplobbying/_index.md
  website/content/stocks/government/topsells/_index.md
  website/content/stocks/load/_index.md
Labels: docs, website

#947 Hugo fix
  .github/workflows/gh-pages.yml
  website/content/stocks/fundamental_analysis/fmp/balance/_index.md
  website/content/stocks/fundamental_analysis/screener/_index.md
  website/themes/hugo-geekdoc/layouts/partials/foot.html
Labels: bug, website

#945 Add search function to the stocks menu
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  website/content/stocks/search/_index.md
  website/data/menu/main.yml
Labels: feat XS

#944 Fraud error
  gamestonk_terminal/cryptocurrency/defi/defipulse_model.py
  gamestonk_terminal/etf/wsj_view.py
  gamestonk_terminal/forex/fx_view.py
  gamestonk_terminal/forex/oanda/oanda_view.py
  gamestonk_terminal/stocks/discovery/marketbeat_view.py
  gamestonk_terminal/stocks/fundamental_analysis/av_model.py
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  gamestonk_terminal/stocks/fundamental_analysis/market_watch_view.py
  gamestonk_terminal/stocks/insider/openinsider_view.py
  tests/test_fa/test_fa_av_view.py
Labels: bug

#951 fix quiverquant top functions
  gamestonk_terminal/stocks/government/quiverquant_view.py
Labels: bug

#954 Remove payout ratio from key
  gamestonk_terminal/stocks/fundamental_analysis/av_model.py
Labels: bug

#940 Add short data by exchange
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/nyse_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/nyse_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/content/stocks/dark_pool_shorts/volexch/_index.md
  website/data/menu/main.yml
Labels: feat S

#950 Fixes Bybt api change and adds eb and active crypto features
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinglass_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinglass_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
  gamestonk_terminal/cryptocurrency/onchain/glassnode_model.py
  gamestonk_terminal/cryptocurrency/onchain/glassnode_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  website/content/cryptocurrency/due_diligence/active/_index.md
  website/content/cryptocurrency/due_diligence/change/_index.md
  website/content/cryptocurrency/due_diligence/eb/_index.md
  website/data/menu/main.yml
Labels: feat M

#960 Hugo Server Update - Nov 18 2021
  website/content/economy/bigmac/_index.md
  website/content/economy/cpi/_index.md
  website/content/economy/currencies/_index.md
  website/content/economy/energy/_index.md
  website/content/economy/events/_index.md
  website/content/economy/feargreed/_index.md
  website/content/economy/futures/_index.md
  website/content/economy/gdp/_index.md
  website/content/economy/gdpc/_index.md
  website/content/economy/glbonds/_index.md
  website/content/economy/grains/_index.md
  website/content/economy/indices/_index.md
  website/content/economy/inf/_index.md
  website/content/economy/map/_index.md
  website/content/economy/meats/_index.md
  website/content/economy/metals/_index.md
  website/content/economy/overview/_index.md
  website/content/economy/performance/_index.md
  website/content/economy/rtps/_index.md
  website/content/economy/search/_index.md
  website/content/economy/series/_index.md
  website/content/economy/softs/_index.md
  website/content/economy/spectrum/_index.md
  website/content/economy/tyld/_index.md
  website/content/economy/unemp/_index.md
  website/content/economy/usbonds/_index.md
  website/content/economy/valuation/_index.md
  website/content/etf/active/_index.md
  website/content/etf/compare/_index.md
  website/content/etf/decliners/_index.md
  website/content/etf/gainers/_index.md
  website/content/etf/holdings/_index.md
  website/content/etf/overview/_index.md
  website/content/etf/pir/_index.md
  website/content/etf/screener/_index.md
  website/content/etf/search/_index.md
  website/content/stocks/government/topbuys/_index.md
  website/content/stocks/options/calc/_index.md
  website/content/stocks/options/chains/_index.md
  website/content/stocks/options/exp/_index.md
  website/content/stocks/options/grhist/_index.md
  website/content/stocks/options/hist/_index.md
  website/content/stocks/options/info/_index.md
  website/content/stocks/options/load/_index.md
  website/content/stocks/options/oi/_index.md
  website/content/stocks/options/parity/_index.md
  website/content/stocks/options/payoff/add/_index.md
  website/content/stocks/options/payoff/pick/_index.md
  website/content/stocks/options/payoff/plot/_index.md
  website/content/stocks/options/payoff/rmv/_index.md
  website/content/stocks/options/pcr/_index.md
  website/content/stocks/options/plot/_index.md
  website/content/stocks/options/pricing/add/_index.md
  website/content/stocks/options/pricing/rmv/_index.md
  website/content/stocks/options/pricing/rnval/_index.md
  website/content/stocks/options/pricing/show/_index.md
  website/content/stocks/options/scr/_index.md
  website/content/stocks/options/unu/_index.md
  website/content/stocks/options/voi/_index.md
Labels: docs, website

#962 Fix etf/fds function
  TROUBLESHOOT.md
  gamestonk_terminal/etf/financedatabase_view.py
Labels: bug

#963 delete hugo content for deleted `screener` function
  website/content/stocks/fundamental_analysis/screener/_index.md
  website/data/menu/main.yml
Labels: website

#956 Discord Bot: Adding Government Commands
  discordbot/discordbot.py
  discordbot/stocks/government/contracts.py
  discordbot/stocks/government/gov_menu.py
  discordbot/stocks/government/gtrades.py
  discordbot/stocks/government/histcont.py
  discordbot/stocks/government/lastcontracts.py
  discordbot/stocks/government/lasttrades.py
  discordbot/stocks/government/lobbying.py
  discordbot/stocks/government/qtrcontracts.py
  discordbot/stocks/government/topbuys.py
  discordbot/stocks/government/toplobbying.py
  discordbot/stocks/government/topsells.py
Labels: feat M, discord

#965 Patches from discord #bugs
  gamestonk_terminal/stocks/options/fdscanner_model.py
  gamestonk_terminal/stocks/options/fdscanner_view.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/syncretism_view.py
Labels: bug

#966 Update fa to account for suffix, add load
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: bug

#969 Cryptopanic
  README.md
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/overview/cryptopanic_model.py
  gamestonk_terminal/cryptocurrency/overview/cryptopanic_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  website/content/cryptocurrency/overview/news/_index.md
  website/data/menu/main.yml
Labels: feat M

#970 Major dependency updates including deprecation of python 3.7
  .github/workflows/test.yml
  .pylintrc
  build/conda/conda-3-7-env-full.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat L, build, dependencies

#972 Nov 23 Hugo Server Update
  website/content/common/behavioural_analysis/bullbear/_index.md
  website/content/common/behavioural_analysis/getdd/_index.md
  website/content/common/behavioural_analysis/headlines/_index.md
  website/content/common/behavioural_analysis/infer/_index.md
  website/content/common/behavioural_analysis/mentions/_index.md
  website/content/stocks/backtesting/ema/_index.md
  website/content/stocks/backtesting/ema_cross/_index.md
  website/content/stocks/backtesting/rsi/_index.md
  website/content/stocks/comparison_analysis/add/_index.md
  website/content/stocks/comparison_analysis/balance/_index.md
  website/content/stocks/comparison_analysis/cashflow/_index.md
  website/content/stocks/comparison_analysis/financial/_index.md
  website/content/stocks/comparison_analysis/getfinnhub/_index.md
  website/content/stocks/comparison_analysis/getfinviz/_index.md
  website/content/stocks/comparison_analysis/getpoly/_index.md
  website/content/stocks/comparison_analysis/hcorr/_index.md
  website/content/stocks/comparison_analysis/historical/_index.md
  website/content/stocks/comparison_analysis/income/_index.md
  website/content/stocks/comparison_analysis/load/_index.md
  website/content/stocks/comparison_analysis/overview/_index.md
  website/content/stocks/comparison_analysis/ownership/_index.md
  website/content/stocks/comparison_analysis/performance/_index.md
  website/content/stocks/comparison_analysis/select/_index.md
  website/content/stocks/comparison_analysis/sentiment/_index.md
  website/content/stocks/comparison_analysis/technical/_index.md
  website/content/stocks/comparison_analysis/tsne/_index.md
  website/content/stocks/comparison_analysis/valuation/_index.md
  website/content/stocks/comparison_analysis/volume/_index.md
  website/content/stocks/dark_pool_shorts/volexch/_index.md
Labels: docs, website

#973 Update Windows full build
  .github/workflows/windows.yml
Labels: build, dependencies

#974 Updating Jupyter Lab dependencies
  jupyterlab/documentation/yarn.lock
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/yarn.lock
Labels: dependencies

#971 General UI improvements with sorting/filtering on some functions
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/finviz_view.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/discovery/ark_view.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/options/fdscanner_model.py
  gamestonk_terminal/stocks/options/fdscanner_view.py
  gamestonk_terminal/stocks/options/options_controller.py
  website/content/economy/performance/_index.md
  website/content/stocks/discovery/arkord/_index.md
  website/content/stocks/options/unu/_index.md
Labels: enhancement

#975 Updating pylint version to 2.11.1
  .github/workflows/test.yml
Labels: build, dependencies

#977 Enabling f-string enforcement and fixing offenders
  .pylintrc
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/cryptocurrency/coinbase_helpers.py
  gamestonk_terminal/cryptocurrency/dataframe_helpers.py
  gamestonk_terminal/cryptocurrency/onchain/whale_alert_model.py
  gamestonk_terminal/cryptocurrency/overview/cryptopanic_model.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/sec_model.py
  gamestonk_terminal/stocks/discovery/fidelity_view.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: refactor

#978 Enabling markdown linting for DiscordBot
  .github/workflows/test.yml
  discordbot/CONTRIBUTING.md
  discordbot/README.md
Labels: docs

#976 Updating requirements : to prepare for tests improvements
  .github/workflows/mac.yml
  .github/workflows/test.yml
  gamestonk_terminal/cryptocurrency/onchain/ethplorer_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: tests, dependencies

#983 Add mypy types to dev requirements
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#984 Add optional discord dependencies and generate requirements.txt for DiscordBot
  discordbot/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build, dependencies

#985 Enable full mypy
  .github/workflows/test.yml
  gamestonk_terminal/common/prediction_techniques/knn_model.py
  gamestonk_terminal/common/prediction_techniques/mc_model.py
  gamestonk_terminal/common/prediction_techniques/mc_view.py
  gamestonk_terminal/common/prediction_techniques/neural_networks_model.py
  gamestonk_terminal/common/prediction_techniques/pred_helper.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinbase_model.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_model.py
  gamestonk_terminal/stocks/fundamental_analysis/business_insider_model.py
  gamestonk_terminal/stocks/options/calculator_model.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: tests, build

#980 Improve ca NaN handling + update pre-commit
  .pre-commit-config.yaml
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
Labels: enhancement

#981 Add nested completer to all ba functions
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
Labels: enhancement

#982 Add difflib to controllers
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  terminal.py
Labels: enhancement

#986 Updating __init__.py
  gamestonk_terminal/__init__.py
  gamestonk_terminal/common/__init__.py
  gamestonk_terminal/cryptocurrency/__init__.py
  gamestonk_terminal/economy/__init__.py
  gamestonk_terminal/forex/__init__.py
  gamestonk_terminal/portfolio/__init__.py
  gamestonk_terminal/stocks/__init__.py
Labels: dependencies

#988 fix #987
  terminal.py
Labels: bug

#989 Added dcf bug fix
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
Labels: bug

#990 Hugo Server Update - November 26, 2021
  .github/workflows/labels.yml
  website/content/common/behavioural_analysis/messages/_index.md
  website/content/common/behavioural_analysis/popular/_index.md
  website/content/common/behavioural_analysis/popularsi/_index.md
  website/content/common/behavioural_analysis/queries/_index.md
  website/content/common/behavioural_analysis/regions/_index.md
  website/content/common/behavioural_analysis/rise/_index.md
  website/content/common/behavioural_analysis/sentiment/_index.md
  website/content/common/behavioural_analysis/spac_c/_index.md
  website/content/common/behavioural_analysis/stalker/_index.md
  website/content/common/behavioural_analysis/trending/_index.md
  website/content/common/behavioural_analysis/watchlist/_index.md
  website/content/common/behavioural_analysis/wsb/_index.md
  website/content/common/quantitative_analysis/acf/_index.md
  website/content/common/quantitative_analysis/bw/_index.md
  website/content/common/quantitative_analysis/capm/_index.md
  website/content/common/quantitative_analysis/cdf/_index.md
  website/content/common/quantitative_analysis/cusum/_index.md
  website/content/common/quantitative_analysis/data/_index.md
  website/content/common/quantitative_analysis/decompose/_index.md
  website/content/common/quantitative_analysis/hist/_index.md
  website/content/common/quantitative_analysis/kurtosis/_index.md
  website/content/common/quantitative_analysis/load/_index.md
  website/content/common/quantitative_analysis/normality/_index.md
  website/content/common/quantitative_analysis/pick/_index.md
  website/content/common/quantitative_analysis/qqplot/_index.md
  website/content/common/quantitative_analysis/quantile/_index.md
  website/content/common/quantitative_analysis/rolling/_index.md
  website/content/common/quantitative_analysis/skew/_index.md
  website/content/common/quantitative_analysis/spread/_index.md
  website/content/common/quantitative_analysis/summary/_index.md
  website/content/common/quantitative_analysis/unitroot/_index.md
Labels: docs, website

#991 Updating tests : workflows
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: tests

#992 Updating tests : workflows + pre-commit
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: tests

#993 Create comparison analysis report
  gamestonk_terminal/reports/similar_analysis.ipynb
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
Labels: enhancement

#996 fix: rename `askgit` to `mergestat` in GitHub action
  .github/workflows/askgit-data-sync.yml
  .github/workflows/mergestat-data-sync.yml
Labels: bug

#999 Arktrade Bug
  gamestonk_terminal/common/prediction_techniques/regression_model.py
  gamestonk_terminal/stocks/due_diligence/ark_model.py
Labels: bug

#1003 Make an attempt to fix the broken Hugo site analytics
  website/themes/hugo-geekdoc/layouts/partials/foot.html
Labels: bug, docs, website

#1002 Huge Server Update - November 30
  website/content/common/prediction_techniques/conv1d/_index.md
  website/content/common/technical_analysis/adosc/_index.md
  website/content/common/technical_analysis/cg/_index.md
  website/content/common/technical_analysis/donchian/_index.md
  website/content/common/technical_analysis/fisher/_index.md
  website/content/common/technical_analysis/hma/_index.md
  website/content/common/technical_analysis/kc/_index.md
  website/content/common/technical_analysis/wma/_index.md
  website/content/common/technical_analysis/zlma/_index.md
  website/content/stocks/dark_pool_shorts/volexch/_index.md
Labels: docs, website

#1001 Update pre-commit hooks to be up to date for linter
  .pre-commit-config.yaml
Labels: enhancement
