Repository OpenBB-finance/OpenBB, pull requests merged in 2021-08, with the labels that each got.

#584 Fix MarketBeat disc/ratings scraping.
  gamestonk_terminal/discovery/marketbeat_model.py
  gamestonk_terminal/discovery/marketbeat_view.py
  gamestonk_terminal/papermill/crypto_market_view.py
  gamestonk_terminal/papermill/dark_pool_view.py
  gamestonk_terminal/papermill/due_diligence_view.py
  gamestonk_terminal/papermill/econ_data_view.py
Labels: size:S

#585 Rename gr_hist command to grhist
  gamestonk_terminal/options/README.md
  gamestonk_terminal/options/op_controller.py
  gamestonk_terminal/options/syncretism_view.py
Labels: type:enhancement

#632 Allow multiple plotting for economy/fred
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/economy/econ_controller.py
  gamestonk_terminal/economy/fred_view.py
Labels: size:XS

#633 Add JohnnyDankseed finviz presets, and fix some bugs there
  gamestonk_terminal/screener/finviz_model.py
  gamestonk_terminal/screener/presets/5pct_above_low.ini
  gamestonk_terminal/screener/presets/analyst_strong_buy.ini
  gamestonk_terminal/screener/presets/break_out_stocks.ini
  gamestonk_terminal/screener/presets/bull_runs_over_10pct.ini
  gamestonk_terminal/screener/presets/channel_up_and_low_debt_and_sma_50and200.ini
  gamestonk_terminal/screener/presets/continued_momentum_scan.ini
  gamestonk_terminal/screener/presets/golden_cross_penny.ini
  gamestonk_terminal/screener/presets/growth_stocks.ini
  gamestonk_terminal/screener/presets/high_vol_and_low_debt.ini
  gamestonk_terminal/screener/presets/news_scanner.ini
  gamestonk_terminal/screener/presets/oversold.ini
  gamestonk_terminal/screener/presets/oversold_under_3dol.ini
  gamestonk_terminal/screener/presets/oversold_under_5dol.ini
  gamestonk_terminal/screener/presets/potential_reversals.ini
  gamestonk_terminal/screener/presets/recent_growth_and_support.ini
  gamestonk_terminal/screener/presets/short_squeeze_scan.ini
  gamestonk_terminal/screener/presets/simplistic_momentum_scanner_under_7dol.ini
  gamestonk_terminal/screener/presets/stocks_strong_support_levels.ini
  gamestonk_terminal/screener/presets/top_performers_all.ini
  gamestonk_terminal/screener/presets/top_performers_healthcare.ini
  gamestonk_terminal/screener/presets/top_performers_tech.ini
  gamestonk_terminal/screener/presets/under_15dol_stocks.ini
  gamestonk_terminal/screener/presets/unusual_volume.ini
  gamestonk_terminal/screener/presets/value_stocks.ini
  gamestonk_terminal/screener/presets/weak_support_and_top_performers.ini
Labels: type:enhancement

#586 Edit ark_model to get rid of added columns from the json repsonse
  gamestonk_terminal/discovery/ark_model.py
  gamestonk_terminal/discovery/ark_view.py
  tests/data/discovery_ark_model.yaml
Labels: type:bug

#634 Adding a new Docker configuration
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yaml
  docker/docker-compose.yaml
  docker/entry-point-poetry.sh
  docker/entry-point.sh
  docker/gst-deps.dockerfile
  docker/gst-poetry-deps.dockerfile
  docker/gst-poetry.dockerfile
  docker/gst-python.dockerfile
  docker/gst.dockerfile
  docker/setenv
Labels: size:M

#641 Hotfix for jsondecode error in coinpaprika
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_view.py
Labels: type:bug

#642 Change `events` sorting and make `ratings` legacy
  gamestonk_terminal/README.md
  gamestonk_terminal/discovery/README.md
  gamestonk_terminal/discovery/disc_controller.py
  gamestonk_terminal/economy/finnhub_view.py
Labels: type:bug

#643 Fix bug in ca->hcorr
  gamestonk_terminal/comparison_analysis/yahoo_finance_view.py
Labels: type:bug

#645 Temporarily disable ETF menu due to change in website.
  terminal.py
Labels: type:bug

#646 Temporarily disable ETF menu due to change in website.
  terminal.py
Labels: type:bug

#640 Refactored Tests
  .coveragerc
  .gitignore
  gamestonk_terminal/etf/stockanalysis_model.py
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  poetry.lock
  tests/data/json/fa_av_balance.json
  tests/data/json/fa_av_cash.json
  tests/data/json/fa_av_earnings.json
  tests/data/json/fa_av_income.json
  tests/data/json/fa_av_key.json
  tests/data/json/fa_av_overview.json
  tests/test_ba/__init__.py
  tests/test_ba/test_ba_finbrain_api.py
  tests/test_coingecko_crypto.py
  tests/test_cryptocurrency/__init__.py
  tests/test_cryptocurrency/test_coingecko_crypto.py
  tests/test_cryptocurrency/test_coinpaprika_view.py
  tests/test_dd/__init__.py
  tests/test_dd/test_dd_financial_modeling_prep_view.py
  tests/test_dd/test_dd_finviz_view.py
  tests/test_discovery/__init__.py
  tests/test_discovery/test_discovery_ark_api.py
  tests/test_discovery/test_discovery_ark_model.py
  tests/test_discovery/test_discovery_ark_view.py
  tests/test_discovery/test_discovery_fidelity_api.py
  tests/test_discovery/test_discovery_fidelity_model.py
  tests/test_discovery/test_discovery_seeing_alpha_model.py
  tests/test_discovery/test_discovery_short_interest_model.py
  tests/test_fa/__init__.py
  tests/test_fa/test_fa_av_view.py
  tests/test_fa/test_fa_business_insider_view.py
  tests/test_fa/test_fa_controller.py
  tests/test_fa/test_fa_fmp_view.py
  tests/test_fa/test_fa_market_watch_model.py
  tests/test_fa/test_fa_market_watch_view.py
  tests/test_fa/test_fa_yahoo_finance_view.py
  tests/test_fa/test_fa_yield_curve_model.py
  tests/test_main/__init__.py
  tests/test_main/test_main_helper.py
  tests/test_portfolio_optimization/__init__.py
  tests/test_portfolio_optimization/test_optimizer_view.py
Labels: type:tests

#647 Some refactoring + fix stocks/dd/rating command + retire stocks/clear+view commands
  gamestonk_terminal/common/behavioural_analysis/twitter_view.py
  gamestonk_terminal/stocks/README.md
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/README.md
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/finviz_view.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_view.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/due_diligence/financial_modeling_prep_view.py
  gamestonk_terminal/stocks/due_diligence/news_view.py
  gamestonk_terminal/stocks/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/README.md
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/report/report_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/residuals_analysis/ra_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: type:bug

#651 make po work again for stock screener menu
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
Labels: type:bug

#655 Update changelogs
  .github/workflows/test.yml
  changelogs/W10_2021.md
  changelogs/W11_2021.md
  changelogs/W12_2021.md
  changelogs/W13_2021.md
  changelogs/W14_2021.md
  changelogs/W15_2021.md
  changelogs/W16_2021.md
  changelogs/W17_2021.md
  changelogs/W18_2021.md
  changelogs/W19_2021.md
  changelogs/W20_2021.md
  changelogs/W21_2021.md
  changelogs/W22_2021.md
  changelogs/W23_2021.md
  changelogs/W24_2021.md
  changelogs/W25_2021.md
  changelogs/W26_2021.md
  changelogs/W27_2021.md
  changelogs/W28_2021.md
  changelogs/W29_2021.md
  changelogs/W30_2021.md
  changelogs/W31_2021.md
Labels: type:docs

#652 Refactor Economy menu
  exports/economy/.gitkeep
  gamestonk_terminal/economy/alphavantage_model.py
  gamestonk_terminal/economy/alphavantage_view.py
  gamestonk_terminal/economy/cnn_model.py
  gamestonk_terminal/economy/cnn_view.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/finnhub_model.py
  gamestonk_terminal/economy/finnhub_view.py
  gamestonk_terminal/economy/finviz_model.py
  gamestonk_terminal/economy/finviz_view.py
  gamestonk_terminal/economy/fred_model.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/economy/wsj_model.py
  gamestonk_terminal/economy/wsj_view.py
  gamestonk_terminal/stocks/discovery/alpha_vantage_view.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/finviz_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
  tests/test_fred_fred_view.py
Labels: size:M, type:refactor

#654 make oanda practice account work on forex menu
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/forex/fx_view.py
Labels: type:enhancement

#648 Fix ETF Menu + Refactor to new standard
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/etf/etf_config.ini
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/presets/etf_config.ini
  gamestonk_terminal/etf/screener_model.py
  gamestonk_terminal/etf/screener_view.py
  gamestonk_terminal/etf/stockanalysis_model.py
  gamestonk_terminal/etf/stockanalysis_view.py
  terminal.py
  tests/test_cryptocurrency/test_coingecko_crypto.py
Labels: type:bug, type:refactor

#659 add fisher transform to ta menu
  gamestonk_terminal/common/technical_analysis/momentum.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: size:S

#663 add centre of gravity & zlma to ta menu
  gamestonk_terminal/common/technical_analysis/momentum.py
  gamestonk_terminal/common/technical_analysis/overlap.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: size:S

#664 Refactored stock->TA
  gamestonk_terminal/stocks/technical_analysis/finbrain_model.py
  gamestonk_terminal/stocks/technical_analysis/finbrain_view.py
  gamestonk_terminal/stocks/technical_analysis/finnhub_model.py
  gamestonk_terminal/stocks/technical_analysis/finnhub_view.py
  gamestonk_terminal/stocks/technical_analysis/finviz_model.py
  gamestonk_terminal/stocks/technical_analysis/finviz_view.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  gamestonk_terminal/stocks/technical_analysis/tradingview_model.py
  gamestonk_terminal/stocks/technical_analysis/tradingview_view.py
Labels: type:refactor

#658 Options refactor
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/options/barchart_model.py
  gamestonk_terminal/options/barchart_view.py
  gamestonk_terminal/options/calculator_model.py
  gamestonk_terminal/options/calculator_view.py
  gamestonk_terminal/options/op_helpers.py
  gamestonk_terminal/options/options_controller.py
  gamestonk_terminal/options/syncretism_model.py
  gamestonk_terminal/options/syncretism_view.py
  gamestonk_terminal/options/tradier_model.py
  gamestonk_terminal/options/tradier_view.py
  gamestonk_terminal/options/yfinance_model.py
  gamestonk_terminal/options/yfinance_view.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
Labels: type:refactor

#666 Allow to switch between stocks and options contexts
  gamestonk_terminal/options/options_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  terminal.py
Labels: size:XS

#670 update ta doc
  gamestonk_terminal/common/technical_analysis/momentum.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/technical_analysis/README.md
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: type:docs

#669 Implement news command on main stocks menu
  gamestonk_terminal/common/newsapi_view.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/due_diligence/news_view.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: type:refactor

#660 Contributing Document
  CONTRIBUTING.md
Labels: type:docs

#673 Refactor initial dd
  gamestonk_terminal/common/behavioural_analysis/reddit_view.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/due_diligence/csimarket_view.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/due_diligence/finviz_view.py
  gamestonk_terminal/stocks/due_diligence/info_sean_seah.txt
  gamestonk_terminal/stocks/due_diligence/market_watch_view.py
  gamestonk_terminal/stocks/due_diligence/reddit_view.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/market_watch_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/insider/finviz_view.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: type:refactor

#672 Added ReadMe for Tests
  CONTRIBUTING.md
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
Labels: type:docs

#656 Feature/refactoring crypto
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/binance/README.md
  gamestonk_terminal/cryptocurrency/binance/binance_controller.py
  gamestonk_terminal/cryptocurrency/binance/binance_model.py
  gamestonk_terminal/cryptocurrency/binance/binance_view.py
  gamestonk_terminal/cryptocurrency/coingecko/README.md
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_controller.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_overview_model.py
  gamestonk_terminal/cryptocurrency/coingecko/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/coinmarketcap/README.md
  gamestonk_terminal/cryptocurrency/coinmarketcap/coinmarketcap_controller.py
  gamestonk_terminal/cryptocurrency/coinpaprika/README.md
  gamestonk_terminal/cryptocurrency/coinpaprika/__init__.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_controller.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/coinpaprika/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/coinpaprika_helpers.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/data/binance_gecko_map.json
  gamestonk_terminal/cryptocurrency/dataframe_helpers.py
  gamestonk_terminal/cryptocurrency/discovery/README.md
  gamestonk_terminal/cryptocurrency/discovery/__init__.py
  gamestonk_terminal/cryptocurrency/discovery/binance_model.py
  gamestonk_terminal/cryptocurrency/discovery/binance_view.py
  gamestonk_terminal/cryptocurrency/discovery/coinmarketcap_view.py
  gamestonk_terminal/cryptocurrency/discovery/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/discovery/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/README.md
  gamestonk_terminal/cryptocurrency/due_diligence/__init__.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/finbrain_crypto_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/overview/README.md
  gamestonk_terminal/cryptocurrency/overview/__init__.py
  gamestonk_terminal/cryptocurrency/overview/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/overview/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  tests/test_cryptocurrency/test_coingecko_crypto.py
  tests/test_cryptocurrency/test_coinpaprika_view.py
Labels: size:XL

#678 Update pygments version to fix Windows installation
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: type:bug, type:build

#675 Add updated context menu to readme
  README.md
Labels: type:docs

#677 add rolling metrics to eda
  gamestonk_terminal/common/exploratory_data_analysis/rolling.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/exploratory_data_analysis/eda_controller.py
Labels: size:S

#679 Refactor Common/TechnicalAnalysis
  exports/stocks/technical_analysis/.gitkeep
  exports/ta/.gitkeep
  gamestonk_terminal/common/technical_analysis/custom_indicators_model.py
  gamestonk_terminal/common/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/common/technical_analysis/momentum.py
  gamestonk_terminal/common/technical_analysis/momentum_model.py
  gamestonk_terminal/common/technical_analysis/momentum_view.py
  gamestonk_terminal/common/technical_analysis/overlap.py
  gamestonk_terminal/common/technical_analysis/overlap_model.py
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/common/technical_analysis/trend_indicators.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_model.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_view.py
  gamestonk_terminal/common/technical_analysis/trendline_api.py
  gamestonk_terminal/common/technical_analysis/volatility.py
  gamestonk_terminal/common/technical_analysis/volatility_model.py
  gamestonk_terminal/common/technical_analysis/volatility_view.py
  gamestonk_terminal/common/technical_analysis/volume.py
  gamestonk_terminal/common/technical_analysis/volume_model.py
  gamestonk_terminal/common/technical_analysis/volume_view.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: type:refactor

#682 add donchian channels to ta menu
  gamestonk_terminal/common/technical_analysis/volatility_model.py
  gamestonk_terminal/common/technical_analysis/volatility_view.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: size:XS

#684 add wma & hma to ta menu
  gamestonk_terminal/common/technical_analysis/custom_indicators_model.py
  gamestonk_terminal/common/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/common/technical_analysis/overlap_model.py
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: size:S

#683 Add hot penny stocks to discovery menu
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/shortinterest_model.py
  gamestonk_terminal/stocks/discovery/shortinterest_view.py
Labels: size:S

#691 Lock pylint version to 2.9.6 in the rest of CI
  .github/workflows/test.yml
Labels: type:build

#688 add yahoofinance most shorted & undervalued screener
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/yahoofinance_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/yahoofinance_view.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/yahoofinance_model.py
  gamestonk_terminal/stocks/discovery/yahoofinance_view.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/screener/yahoofinance_view.py
Labels: type:feature, size:S

#694 Fix tests
  gamestonk_terminal/common/behavioural_analysis/reddit_view.py
  gamestonk_terminal/common/behavioural_analysis/stocktwits_view.py
  gamestonk_terminal/common/exploratory_data_analysis/eda_api.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/comparison_analysis/finbrain_view.py
  gamestonk_terminal/stocks/comparison_analysis/market_watch_view.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/finra_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/sec_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/shortinterest_model.py
  gamestonk_terminal/stocks/discovery/fidelity_model.py
  gamestonk_terminal/stocks/discovery/marketbeat_model.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_model.py
  gamestonk_terminal/stocks/discovery/seeking_alpha_view.py
  gamestonk_terminal/stocks/discovery/shortinterest_model.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/due_diligence/csimarket_view.py
  gamestonk_terminal/stocks/due_diligence/market_watch_view.py
  gamestonk_terminal/stocks/fundamental_analysis/business_insider_view.py
  gamestonk_terminal/stocks/fundamental_analysis/market_watch_model.py
  gamestonk_terminal/stocks/fundamental_analysis/market_watch_view.py
  gamestonk_terminal/stocks/fundamental_analysis/yield_curve_model.py
  gamestonk_terminal/stocks/government/quiverquant_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/insider/openinsider_model.py
  gamestonk_terminal/stocks/residuals_analysis/ra_controller.py
  gamestonk_terminal/stocks/screener/yahoofinance_view.py
  gamestonk_terminal/stocks/stocks_helper.py
  gamestonk_terminal/stocks/technical_analysis/finnhub_view.py
  gamestonk_terminal/stocks/technical_analysis/tradingview_model.py
  gamestonk_terminal/thought_of_the_day.py
  tests/test_cryptocurrency/test_coingecko_crypto.py
  tests/test_fa/test_fa_av_view.py
  tests/test_fa/test_fa_yield_curve_model.py
Labels: type:build

#692 add Chaikin Osc (A/D Osc) to ta menu
  gamestonk_terminal/common/technical_analysis/volume_model.py
  gamestonk_terminal/common/technical_analysis/volume_view.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: size:XS

#690 Disabling tests that result in access violations
  tests/test_portfolio_optimization/test_optimizer_view.py
Labels: type:tests

#689 Downgrading pywin32 to version 300 because version 301 is broken
  poetry.lock
  requirements-full.txt
  requirements.txt
Labels: type:build

#681 Refactor due-diligence menu to new refactoring style
  gamestonk_terminal/stocks/due_diligence/business_insider_model.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/due_diligence/csimarket_model.py
  gamestonk_terminal/stocks/due_diligence/csimarket_view.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/due_diligence/financial_modeling_prep_view.py
  gamestonk_terminal/stocks/due_diligence/finnhub_model.py
  gamestonk_terminal/stocks/due_diligence/finnhub_view.py
  gamestonk_terminal/stocks/due_diligence/finviz_model.py
  gamestonk_terminal/stocks/due_diligence/finviz_view.py
  gamestonk_terminal/stocks/due_diligence/fmp_model.py
  gamestonk_terminal/stocks/due_diligence/fmp_view.py
  gamestonk_terminal/stocks/due_diligence/marketwatch_model.py
  gamestonk_terminal/stocks/due_diligence/marketwatch_view.py
  notebooks/templates/due_diligence.ipynb
  tests/cassettes/test_dd/test_financial_model/test_rating.yaml
  tests/cassettes/test_main/test_main_helper/test_check_api_keys.yaml
  tests/test_dd/test_dd_financial_modeling_prep_view.py
  tests/test_dd/test_dd_finviz_view.py
Labels: type:refactor

#696 Adding a container running terminal and jupyter
  docker/docker-compose.yaml
  docker/entry-point-poetry-jupyter.sh
  docker/gst-poetry-jupyter.dockerfile
Labels: feat S

#687 Insider refactoring
  exports/stocks/insider/.gitkeep
  gamestonk_terminal/stocks/insider/businessinsider_model.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/insider/finviz_model.py
  gamestonk_terminal/stocks/insider/finviz_view.py
  gamestonk_terminal/stocks/insider/insider_controller.py
Labels: refactor

#704 Fix 404 error
  README.md
Labels: bug, docs

#706 Fix deploy action
  .github/workflows/gh-pages.yml
Labels: bug, build

#708 Fix bug in options -> chains
  gamestonk_terminal/options/options_controller.py
Labels: bug

#700 Improve some of the DPS commands based on user review
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/finra_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/finra_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/quandl_view.py
  gamestonk_terminal/stocks/due_diligence/market_watch_view.py
Labels: enhancement

#707 fix scale for better volume plotting
  gamestonk_terminal/common/technical_analysis/volume_view.py
Labels: enhancement

#709 fix black on accidental push
  tests/test_cryptocurrency/test_coingecko_crypto.py
Labels: bug

#710 removed bug preventing dd reports from running
  notebooks/templates/due_diligence.ipynb
Labels: bug

#711 add Keltner Channels to TA menu
  gamestonk_terminal/common/technical_analysis/momentum_view.py
  gamestonk_terminal/common/technical_analysis/volatility_model.py
  gamestonk_terminal/common/technical_analysis/volatility_view.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: feat S

#712 add yahoofinance growth tech & most active to disc
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/yahoofinance_model.py
  gamestonk_terminal/stocks/discovery/yahoofinance_view.py
Labels: feat S

#713 Fix build by commenting test
  tests/test_cryptocurrency/test_coinpaprika_view.py
Labels: tests, build

#714 Remove funding
  .github/FUNDING.yml
  README.md
Labels: docs

#686 Refactor EDA -> Qa
  exports/stocks/quantitative_analysis/.gitkeep
  gamestonk_terminal/common/exploratory_data_analysis/eda_api.py
  gamestonk_terminal/common/exploratory_data_analysis/rolling.py
  gamestonk_terminal/common/quantitative_analysis/__init__.py
  gamestonk_terminal/common/quantitative_analysis/qa_model.py
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/common/quantitative_analysis/rolling_model.py
  gamestonk_terminal/common/quantitative_analysis/rolling_view.py
  gamestonk_terminal/common/residuals_analysis/residuals_api.py
  gamestonk_terminal/common/residuals_analysis/residuals_model.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_parser.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/stocks/exploratory_data_analysis/__init__.py
  gamestonk_terminal/stocks/exploratory_data_analysis/eda_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/README.md
  gamestonk_terminal/stocks/quantitative_analysis/__init__.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/residuals_analysis/README.md
  gamestonk_terminal/stocks/residuals_analysis/__init__.py
  gamestonk_terminal/stocks/residuals_analysis/ra_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: refactor

#716 Refactor bt to new standard
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/backtesting/bt_helper.py
  gamestonk_terminal/stocks/backtesting/bt_model.py
  gamestonk_terminal/stocks/backtesting/bt_view.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: refactor

#721 Add folders where data can be extracted
  exports/cryptocurrency/discovery/.gitkeep
  exports/cryptocurrency/due_diligence/.gitkeep
  exports/cryptocurrency/overview/.gitkeep
  exports/cryptocurrency/technical_analysis/.gitkeep
  exports/stocks/backtesting/.gitkeep
  exports/stocks/behavioural_analysis/.gitkeep
  exports/stocks/comparison_analysis/.gitkeep
  exports/stocks/dark_pool_shorts/.gitkeep
  exports/stocks/discovery/.gitkeep
  exports/stocks/due_diligence/.gitkeep
  exports/stocks/fundamental_analysis/.gitkeep
  exports/stocks/government/.gitkeep
  exports/stocks/prediction_techniques/.gitkeep
Labels: enhancement

#722 Add structure for website
  .github/workflows/labels.yml
  website/content/common/_index.md
  website/content/common/behavioural_analysis/_index.md
  website/content/common/prediction_techniques/_index.md
  website/content/common/quantitative_analysis/_index.md
  website/content/common/technical_analysis/_index.md
  website/content/cryptocurrency/_index.md
  website/content/cryptocurrency/discovery/_index.md
  website/content/cryptocurrency/due_diligence/_index.md
  website/content/cryptocurrency/overview/_index.md
  website/content/cryptocurrency/report/_index.md
  website/content/economy/_index.md
  website/content/economy/report/_index.md
  website/content/forex/_index.md
  website/content/options/_index.md
  website/content/portfolio/_index.md
  website/content/portfolio/brokers/_index.md
  website/content/portfolio/portfolio_analysis/_index.md
  website/content/portfolio/portfolio_optimization/_index.md
  website/content/stocks/backtesting/_index.md
  website/content/stocks/comparison_analysis/_index.md
  website/content/stocks/dark_pool_shorts/_index.md
  website/content/stocks/discovery/_index.md
  website/content/stocks/discovery/ipo/_index.md
  website/content/stocks/discovery/map/_index.md
  website/content/stocks/due_diligence/_index.md
  website/content/stocks/fundamental_analysis/_index.md
  website/content/stocks/government/_index.md
  website/content/stocks/insider/_index.md
  website/content/stocks/report/_index.md
  website/content/stocks/screener/_index.md
  website/data/menu/main.yml
  website/data/menu/more.yml
Labels: website

#725 Fix hotpenny data acquisition
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/shortinterest_model.py
  gamestonk_terminal/stocks/discovery/shortinterest_view.py
Labels: bug
