Repository OpenBB-finance/OpenBB, pull requests merged in 2021-03, with the labels that each got.

#163 Add colors to financial market watch data, similarly to website
  gamestonk_terminal/fundamental_analysis/market_watch_api.py
  gamestonk_terminal/helper_funcs.py
Labels: s-feature

#165 Adding seaborn dependency to pyproject.toml
  poetry.lock
  pyproject.toml
Labels: bug

#168 Add a Candle Chart
  gamestonk_terminal/fundamental_analysis/trendline_api.py
  gamestonk_terminal/main_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: m-feature

#169 Backtesting prediction
  gamestonk_terminal/README.md
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/prediction_techniques/README.md
  gamestonk_terminal/prediction_techniques/arima.py
  gamestonk_terminal/prediction_techniques/ets.py
  gamestonk_terminal/prediction_techniques/fbprophet.py
  gamestonk_terminal/prediction_techniques/knn.py
  gamestonk_terminal/prediction_techniques/neural_networks.py
  gamestonk_terminal/prediction_techniques/pred_helper.py
  gamestonk_terminal/prediction_techniques/pred_menu.py
  gamestonk_terminal/prediction_techniques/regression.py
  gamestonk_terminal/prediction_techniques/sma.py
Labels: L-feature

#190 Registers pyplot.draw as inputhook for prompt_toolkit
  .github/workflows/Mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/menu.py
Labels: m-feature

#229 RH Portfolio
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/portfolio/README.md
  gamestonk_terminal/portfolio/__init__.py
  gamestonk_terminal/portfolio/port_menu.py
  gamestonk_terminal/portfolio/rh_api.py
  poetry.lock
  pyproject.toml
  terminal.py
Labels: l-feature

#233 Add a thought of the day
  gamestonk_terminal/thought_of_the_day.py
  terminal.py
Labels: s-feature

#237 Compare financials
  ROADMAP.md
  gamestonk_terminal/comparison_analysis/README.md
  gamestonk_terminal/comparison_analysis/ca_controller.py
  gamestonk_terminal/comparison_analysis/ca_menu.py
  gamestonk_terminal/comparison_analysis/market_watch_api.py
  gamestonk_terminal/comparison_analysis/yahoo_finance_api.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/main_helper.py
  terminal.py
Labels: m-feature

#252 Enable median/quantiles around loop of Neural Networks predictions
  ROADMAP.md
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/prediction_techniques/README.md
  gamestonk_terminal/prediction_techniques/neural_networks.py
  gamestonk_terminal/prediction_techniques/pred_helper.py
Labels: m-feature

#259 Add Alpaca Broker
  ROADMAP.md
  gamestonk_terminal/portfolio/README.md
  gamestonk_terminal/portfolio/alp_api.py
  gamestonk_terminal/portfolio/port_controller.py
Labels: m-feature

#267 Add Ally Invest + Merge Portfolios
  ROADMAP.md
  gamestonk_terminal/portfolio/README.md
  gamestonk_terminal/portfolio/ally_api.py
  gamestonk_terminal/portfolio/alp_api.py
  gamestonk_terminal/portfolio/port_controller.py
  gamestonk_terminal/portfolio/portfolio_helpers.py
  gamestonk_terminal/portfolio/rh_api.py
  notebooks/templates/due_diligence.ipynb
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements-old.txt
  requirements-win.txt
  requirements.txt
Labels: s-feature

#281 Adding a Yield Curve model
  gamestonk_terminal/fundamental_analysis/yield_curve_model.py
  gamestonk_terminal/test_helper.py
  tests/data/fa_yield_curve_model.yaml
  tests/test_fa_market_watch_api_unit.py
  tests/test_fa_yield_curve_model.py
  tests/test_thought_of_the_day.py
Labels: m-feature

#294 Add Technical Summary Report from FinBrain + refactor TA menu
  ROADMAP.md
  gamestonk_terminal/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/comparison_analysis/finbrain_api.py
  gamestonk_terminal/main_helper.py
  gamestonk_terminal/technical_analysis/README.md
  gamestonk_terminal/technical_analysis/finbrain_view.py
  gamestonk_terminal/technical_analysis/overlap.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  gamestonk_terminal/technical_analysis/ta_menu.py
  gamestonk_terminal/technical_analysis/trend_indicators.py
  terminal.py
Labels: m-feature

#301 Tradingview recommendation based on technical indicators
  ROADMAP.md
  gamestonk_terminal/technical_analysis/README.md
  gamestonk_terminal/technical_analysis/finbrain_view.py
  gamestonk_terminal/technical_analysis/ta_controller.py
  gamestonk_terminal/technical_analysis/tradingview_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements-old.txt
  requirements-win.txt
  requirements.txt
Labels: m-feature
