Repository OpenBB-finance/OpenBB, pull requests merged in 2022-12, with the labels that each got.

#3658 [Docs] Fred Autogen fix
  .github/workflows/gh-pages.yml
  openbb_terminal/cryptocurrency/due_diligence/ccxt_model.py
  website/controller_doc_classes.py
  website/generate_terminal_markdown.py
Labels: bug, feat S, feat XS

#3661 Creates Stocks Screener SDK Guide
  website/content/sdk/guides/intros/stocks/stocks-screener.md
Labels: docs, feat S, feat M, guides, SDK

#3668 Updated the list of functions. `so` --> `sortino`
  website/content/sdk/guides/intros/quantitative-analysis.md
Labels: feat XS, guides, SDK

#3680 Bug fixing
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/economy/test_economy_controller.py
Labels: bug, feat S, feat M

#3675 Portfolio optimization bug fixes
  openbb_terminal/miscellaneous/portfolio_examples/optimization/OpenBB_Parameters_Template_v1.0.0.xlsx
  openbb_terminal/miscellaneous/scripts/portfolio/test_po_show_plot_rpf.openbb
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio_boolean_args.openbb
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio_po.openbb
  openbb_terminal/portfolio/portfolio_optimization/optimizer_helper.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/Parameter.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_helpers.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_view.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_engine.py
  openbb_terminal/portfolio/portfolio_optimization/po_model.py
  openbb_terminal/portfolio/portfolio_optimization/po_view.py
  openbb_terminal/portfolio/portfolio_optimization/statics.py
Labels: feat L, feat XL

#3690 Fixing the greeks calculations
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/yfinance_model.py
Labels: bug, feat XS

#3701 stocks/fa : remove unused functions from market_watch_view
  openbb_terminal/stocks/fundamental_analysis/market_watch_model.py
  openbb_terminal/stocks/fundamental_analysis/market_watch_view.py
Labels: feat S

#3692 Docker: update installation instruction
  build/docker/build.sh
  build/docker/docker-compose.yaml
  build/docker/openbb.dockerfile
  website/content/terminal/quickstart/installation.md
Labels: feat S

#3676 Redirect users to correct installation tab based on OS
  website/content/sdk/guides/intros/stocks/fundamental-analysis.md
  website/content/sdk/showcase.md
  website/src/theme/Tabs/index.js
  website/yarn.lock
Labels: docs, feat XS

#3684 Remove case sensitive path files
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_messari_model/test_get_fundraising[ETH].txt
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_messari_model/test_get_governance[ETH].txt
Labels: feat XS

#3709 Updates Options SDK Intro
  website/content/sdk/guides/intros/stocks/options.md
Labels: docs, feat S, guides, SDK

#3706 Creates Government SDK Intro Guide
  .github/workflows/test.yml
  website/content/sdk/guides/intros/stocks/government.md
Labels: docs, feat S, guides, SDK

#3679 Updates Stocks Intro Guide for Terminal 2.0
  website/content/terminal/guides/intros/stocks/index.md
Labels: docs, feat M, guides

#3705 Core: move parse_simple_args
  openbb_terminal/core/completer/choices.py
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  openbb_terminal/terminal_controller.py
Labels: feat M

#3720 Remove unused action
  .github/workflows/mergestat-data-sync.yml
Labels: bug, feat XS

#3717 Creates Trading Hours SDK Guide
  website/content/sdk/guides/intros/stocks/trading-hours.md
Labels: docs, feat XS, guides, SDK

#3669 adding basic instructions for the --export feature
  website/content/terminal/guides/advanced/data.md
Labels: docs, feat XS, guides

#3710 Refactor: Reviewpad configuration
  reviewpad.yaml
Labels: feat XS

#3725 Fixes portfolio/bench
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio.openbb
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/statics.py
Labels: bug, feat S, portfolio

#3732 Temporary fix for finviz analyst function
  openbb_terminal/stocks/due_diligence/finviz_model.py
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/stocks/due_diligence/test_finviz_model.py
  tests/openbb_terminal/stocks/due_diligence/test_finviz_view.py
Labels: bug, feat XS

#3730 Fix typo on Advanced User Install section
  website/content/terminal/quickstart/installation.md
Labels: feat XS

#3729 Forecasting Pylint Pre-Commit Error Fixes
  openbb_terminal/forecast/autoarima_model.py
  openbb_terminal/forecast/autoces_model.py
  openbb_terminal/forecast/autoets_model.py
  openbb_terminal/forecast/autoselect_model.py
  openbb_terminal/forecast/mstl_model.py
  openbb_terminal/forecast/rwd_model.py
  openbb_terminal/forecast/seasonalnaive_model.py
Labels: bug, feat XS, forecast

#3721 Update docker-compose.yaml
  build/docker/docker-compose.yaml
Labels: feat XS

#3727 Small fix to export file name
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#3718 Creates Crypto/Discovery SDK Guide.
  website/content/sdk/guides/intros/crypto/discovery.md
  website/content/sdk/guides/intros/crypto/index.md
Labels: docs, feat S, guides, crypto

#3753 replaced deprecated df.append method with pd.concat
  openbb_terminal/stocks/tradinghours/bursa_model.py
Labels: feat XS

#3764 Changing packaging version
  .github/workflows/test.yml
  openbb_terminal/feature_flags.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/test_terminal_helper.py
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[xyz-v1.9.0].txt
Labels: bug, feat XS

#3402 FEAT: EPS and Revenue Estimations from Seeking Alpha
  .github/workflows/test.yml
  .pre-commit-config.yaml
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_fa.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_fa_epsfc.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_fa_revfc.openbb
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/seeking_alpha_model.py
  openbb_terminal/stocks/fundamental_analysis/seeking_alpha_view.py
  tests/openbb_terminal/cryptocurrency/overview/txt/test_overview_controller/test_print_help.txt
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_seeking_alpha_model/test_check_get_estimates_eps.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_seeking_alpha_model/test_check_get_estimates_rev.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_seeking_alpha_model/test_get_seekingalpha_id.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_seeking_alpha_view/test_display_eps_estimation.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_seeking_alpha_view/test_display_rev_estimation.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_seeking_alpha_model/test_check_get_estimates_eps.csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_seeking_alpha_model/test_check_get_estimates_rev.csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_seeking_alpha_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_seeking_alpha_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_seeking_alpha_model/test_get_seekingalpha_id.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_seeking_alpha_view/test_display_eps_estimation.txt
Labels: feat L

#3767 Fixes minor typos in the contributing guidelines
  CONTRIBUTING.md
Labels: docs, feat XS

#3734 Tensorboard Integration + model export location
  openbb_terminal/core/config/paths.py
  openbb_terminal/forecast/brnn_model.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/nbeats_model.py
  openbb_terminal/forecast/nhits_model.py
  openbb_terminal/forecast/rnn_model.py
  openbb_terminal/forecast/tcn_model.py
  openbb_terminal/forecast/tft_model.py
  openbb_terminal/forecast/trans_model.py
Labels: enhancement, feat XS

#3736 making install instructions more clear
  website/content/sdk/quickstart/installation.md
Labels: feat XS

#3603 Add parameter to automatically color a table based on positive and negative numbers
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  tests/openbb_terminal/test_helper_funcs.py
  tests/openbb_terminal/txt/test_helper_funcs/test_print_rich_table.txt
  tests/openbb_terminal/txt/test_helper_funcs/test_print_rich_table[data0].txt
  tests/openbb_terminal/txt/test_helper_funcs/test_print_rich_table[data1].txt
Labels: bug, feat S

#3739 Fix empty equity report
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/stocks/due_diligence/business_insider_model.py
  openbb_terminal/stocks/due_diligence/finviz_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/insider/finviz_model.py
Labels: bug, feat S, notebookreports

#3731 Feat: Add Reviewpad workflows
  reviewpad.yaml
Labels: enhancement

#3486 Addition of exchange holiday functionality under stocks/th
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/tradinghours/pandas_market_cal_model.py
  openbb_terminal/stocks/tradinghours/pandas_market_cal_view.py
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  website/content/terminal/stocks/th/holidays/_index.md
  website/old_content/terminal/stocks/th/_index.md
Labels: feat S

#3743 Docs styling issues
  website/src/theme/CodeBlock/Content/String.js
  website/src/theme/Tabs/index.js
Labels: docs, feat XS

#3768 Update actions cache
  .github/workflows/test.yml
Labels: build, feat XS

#3769 New SDK showcase dashboards
  website/content/sdk/showcase.md
  website/src/components/General/ShowcaseItem.tsx
Labels: docs, feat XS

#3775 [Docs] Fix SDK "openbb..news"
  website/generate_sdk_markdown.py
Labels: feat XS

#3776 Fix wordwrap by default on docs
  website/content/sdk/reference/news.md
  website/src/theme/CodeBlock/Content/String.js
Labels: docs, feat XS

#3785 fix: wordwrap
  website/generate_sdk_markdown.py
  website/generate_terminal_markdown.py
  website/package.json
  website/src/theme/CodeBlock/Content/String.js
Labels: docs, feat XS

#3723 Editing the SDK functions
  openbb_terminal/etf/stockanalysis_model.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/stocks/fundamental_analysis/seeking_alpha_model.py
  openbb_terminal/stocks/insider/businessinsider_view.py
  openbb_terminal/stocks/insider/finviz_model.py
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/insider/openinsider_model.py
  openbb_terminal/stocks/insider/openinsider_view.py
  openbb_terminal/stocks/insider/sdk_helper.py
Labels: feat S

#3782 Add fix for Stocks menu not loading
  openbb_terminal/stocks/stocks_controller.py
Labels: bug, feat XS

#3788 Fix test wordrwap
  tests/website/test_generate_docs.py
Labels: docs, feat XS

#3745 Fixes Portfolio & Forecasting working on Intel Installer
  build/pyinstaller/entitlements.plist
  build/pyinstaller/terminal.spec
  openbb_terminal/forecast/forecast_controller.py
Labels: bug, build, feat XS

#3792 Small options fix + docstring
  openbb_terminal/stocks/insider/sdk_helper.py
  openbb_terminal/stocks/options/yfinance_model.py
Labels: bug, feat XS

#3780 Significantly update the API Keys documentation for the OpenBB Terminal and OpenBB SDK
  website/content/sdk/guides/advanced/api-keys.md
  website/content/terminal/guides/advanced/api-keys.md
Labels: docs, feat L

#3793 hot fix: True Range Feature
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_model.py
Labels: bug, feat XS

#3746 Pyinstaller Hook Fix For Forecast Report
  build/pyinstaller/hooks/pyi_rth_inspect.py
  build/pyinstaller/terminal.spec
  openbb_terminal/reports/reports_controller.py
Labels: bug, build, feat XS, notebookreports, forecast

#3794 Out of the box crypto report
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
  openbb_terminal/reports/templates/crypto.ipynb
Labels: feat M, notebookreports, crypto

#3799 Out of the box forex report
  openbb_terminal/common/technical_analysis/custom_indicators_view.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/reports/templates/forex.ipynb
Labels: feat S, notebookreports

#3802 Out of the box economy report
  openbb_terminal/reports/templates/economy.ipynb
Labels: feat S, notebookreports

#3809 Fix polygon cash statement + fmp stuff
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/polygon_model.py
  openbb_terminal/stocks/options/op_helpers.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_bad_ticker.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[balance-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[balance-True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[income-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[income-True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict0].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict1].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict2].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict3].csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-True].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-True].txt
Labels: bug, feat XL

#3811 Release 2.1.0
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/feature_flags.py
  pyproject.toml
Labels: build, feat XS

#3813 Docker installation used wrong service
  website/content/terminal/quickstart/installation.md
Labels: bug, docs, feat XS

#3814 New installer versions
  website/content/terminal/quickstart/installation.md
Labels: docs, feat XS

#3817 Fix links
  website/content/terminal/quickstart/installation.md
Labels: docs, feat XS

#3812 Fix the greeks calculations of the chain command
  openbb_terminal/stocks/options/yfinance_model.py
Labels: bug, feat XS

#3808 Update blcp display name
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/insider/insider_controller.py
  tests/openbb_terminal/stocks/insider/txt/test_insider_controller/test_print_help.txt
  website/content/terminal/guides/intros/stocks/ins.md
Labels: feat XS

#3804 Fixes ValueError in Cell 21.
  openbb_terminal/reports/templates/economy.ipynb
Labels: feat XS
