Repository OpenBB-finance/OpenBB, pull requests merged in 2022-07, with the labels that each got.

#2020 Adding integration tests to intel mac workflow
  .github/workflows/intel_macos_build.yml
Labels: build

#2025 Update stocks_helper.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#2027 Add in guide to Scripts & Routines
  routines/example_with_inputs.openbb
  routines/template.openbb
  website/content/_index.md
  website/content/terminal/scripts/_index.md
  website/content/terminal/scripts/exe/_index.md
  website/data/menu/main.yml
Labels: docs

#2026 Adds a test for binance key as asked for in #2006
  openbb_terminal/keys_controller.py
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_binance_key[VALIDKEY-False].yaml
Labels: bug

#2028 Fixes #2018 and updates default dates in dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
Labels: bug

#2040 Replace curve brackets by square ones
  openbb_terminal/alternative/covid/covid_view.py
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_model.py
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_view.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/bots/stocks/dark_pool_shorts/json/test_sidtc/test_sidtc_command.json
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_performance[False].txt
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_performance[True].txt
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_valuation[False].txt
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_valuation[True].txt
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_stockgrid_view/test_dark_pool_short_positions.txt
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_stockgrid_view/test_short_interest_days_to_cover.txt
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_stockgrid_view/test_short_interest_volume[True].txt
  website/content/terminal/economy/_index.md
  website/content/terminal/economy/performance/_index.md
  website/content/terminal/economy/valuation/_index.md
  website/content/terminal/stocks/dark_pool_shorts/pos/_index.md
  website/content/terminal/stocks/dark_pool_shorts/sidtc/_index.md
Labels: enhancement

#2036 Fix messari spelling
  openbb_terminal/keys_controller.py
Labels: bug

#2037 Fix misleading documentation for cgtrending
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
Labels: docs

#2039 Fix volatility of crypto
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: bug

#2032 Fix sorting of candle data
  i18n/en.yml
  openbb_terminal/common/quantitative_analysis/qa_view.py
Labels: bug

#2038 Fix trading hours bringing ticker in
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/tradinghours/bursa_model.py
  openbb_terminal/stocks/tradinghours/bursa_view.py
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
Labels: bug

#2045 Making the news command pretty with more data
  openbb_terminal/common/newsapi_view.py
  openbb_terminal/stocks/stocks_controller.py
  website/content/terminal/stocks/news/_index.md
Labels: feat XS

#2033 Add labels automatically when issue is created
  .github/workflows/issue.yml
  .github/workflows/labels.yml
Labels: build

#2029 Adding new portfolio metrics
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  tests/openbb_terminal/portfolio/cassettes/test_portfolio_helper/test_is_ticker.yaml
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/benchmark_returns.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/example_portfolio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/portfolio_returns.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_common_sense_ratio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_information_ratio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tail_ratio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
  tests/openbb_terminal/portfolio/test_portfolio_helper.py
  tests/openbb_terminal/portfolio/test_portfolio_model.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_helper/test_clean_name.txt
  website/content/terminal/portfolio/metric/_index.md
Labels: feat S

#2056 Fixes #2050
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#2051 Fixes #2044 Stocks/Load - Cannot load monthly/weekly interval with Polygon as source.
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#2057 Update data sources json to allow submenu loading
  data_sources_default.json
  tests/openbb_terminal/stocks/dark_pool_shorts/test_dps_controller.py
Labels: bug

#2058 Stop consuming first element of list
  terminal.py
Labels: bug

#2021 Overhaul Portfolio class
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  portfolio/holdings/Public_Equity_Orderbook.xlsx
  portfolio/holdings/bitcoin.csv
  portfolio/holdings/example.csv
  portfolio/holdings/market.csv
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_model/test_accounts.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_model/test_deposits.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_model/test_orders.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_view/test_accounts.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_view/test_deposits.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_view/test_orders.yaml
  tests/openbb_terminal/portfolio/cassettes/test_portfolio_helper/test_is_ticker.yaml
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_common_sense_ratio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tail_ratio.csv
  tests/openbb_terminal/portfolio/test_portfolio_controller.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
Labels: feat M

#2067 Get rid of datetime and market open closes in default stock load
  openbb_terminal/stocks/mappings/Mic_Codes.csv
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_common_sense_ratio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tail_ratio.csv
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: feat XS

#2071 Fixes portfolio_model.py tests
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_common_sense_ratio.csv
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tail_ratio.csv
  tests/openbb_terminal/portfolio/test_portfolio_model.py
Labels: bug

#2043 Economic calendar command
  data_sources_default.json
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/investingcom_model.py
  openbb_terminal/economy/investingcom_view.py
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_economic_calendar[countries0-importances0-categories0-from_date0-to_date0].yaml
  tests/openbb_terminal/economy/cassettes/test_investingcom_view/test_display_economic_calendar.yaml
  tests/openbb_terminal/economy/cassettes/test_investingcom_view/test_display_yieldcurve.yaml
  tests/openbb_terminal/economy/test_investingcom_model.py
  tests/openbb_terminal/economy/test_investingcom_view.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/economy/txt/test_investingcom_view/test_display_economic_calendar.txt
  tests/openbb_terminal/economy/txt/test_investingcom_view/test_display_yieldcurve.txt
  website/content/terminal/economy/ecocal/_index.md
  website/data/menu/main.yml
Labels: feat S

#2065 Portoflio : add pa export command for Degiro
  i18n/en.yml
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_model.py
  openbb_terminal/portfolio/brokers/degiro/degiro_view.py
  tests/openbb_terminal/portfolio/brokers/degiro/test_degiro_controller.py
  tests/openbb_terminal/portfolio/brokers/degiro/txt/test_degiro_controller/test_print_help.txt
  tests/openbb_terminal/portfolio/brokers/degiro/txt/test_degiro_view/test_help_display.txt
Labels: feat XS

#2069 Creates a controller to specify sources
  data_sources_default.json
  i18n/en.yml
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/options/options_controller.py
  terminal.py
  tests/openbb_terminal/test_settings_controller.py
Labels: feat S

#2074 Allow user to set flair - request from Twitter user @crisciceroe
  i18n/en.yml
  openbb_terminal/helper_funcs.py
  openbb_terminal/settings_controller.py
Labels: feat XS

#2076 Fix introduced regression
  openbb_terminal/forex/forex_controller.py
Labels: bug

#2077 Fix oanda key issue
  openbb_terminal/keys_controller.py
Labels: bug

#2073 Add Crypto discovery, onchain and overview menu
  website/content/terminal/crypto/disc/_index.md
  website/content/terminal/crypto/onchain/_index.md
  website/content/terminal/crypto/ov/_index.md
  website/content/terminal/stocks/_index.md
Labels: docs

#2079 Fix FA tests
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
Labels: bug

#2080 Corrected wording
  i18n/en.yml
  openbb_terminal/portfolio/portfolio_controller.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
Labels: docs

#2083 Add in DeFi, DD and NFT guides from the Crypto menu
  website/content/_index.md
  website/content/terminal/crypto/_index.md
  website/content/terminal/crypto/dd/_index.md
  website/content/terminal/crypto/dd/pi/_index.md
  website/content/terminal/crypto/defi/_index.md
  website/content/terminal/crypto/nft/_index.md
  website/content/terminal/crypto/tools/aprtoapy/_index.md
  website/content/terminal/scripts/_index.md
Labels: docs

#2086 Add buttons linking to the installation page
  website/data/menu/more.yml
  website/themes/hugo-geekdoc/layouts/partials/head/others.html
  website/themes/hugo-geekdoc/layouts/partials/site-header.html
Labels: docs

#2087 adding data range for VaR
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug

#2088 Fixes error message on portfolio menu help
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
Labels: bug

#2082 Update jupyterlab deps to resolve dependabot alerts
  jupyterlab/documentation/gamestonk_terminal_documentation/__init__.py
  jupyterlab/documentation/gamestonk_terminal_documentation/_version.py
  jupyterlab/documentation/package.json
  jupyterlab/documentation/yarn.lock
  jupyterlab/openbb-settings/package.json
  jupyterlab/openbb-settings/ui-tests/yarn.lock
  jupyterlab/openbb-settings/yarn.lock
  jupyterlab/openbb/package.json
  jupyterlab/openbb/ui-tests/yarn.lock
  jupyterlab/openbb/yarn.lock
Labels: jupyterlab, dependencies

#2095 [Bugfix#2094] Fix handling of balances when user has no tokens.
  openbb_terminal/cryptocurrency/onchain/ethplorer_model.py
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_get_address_info_no_token_scenario.yaml
  tests/openbb_terminal/cryptocurrency/onchain/test_ethplorer_model.py
Labels: bug

#2104 Make sec fillings link clickable in report
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/reports/equity.ipynb
Labels: enhancement

#2105 Tests : Cryptocurrency > Helpers > test_load_none
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_load_none[btc-usd].yaml
  tests/openbb_terminal/cryptocurrency/test_cryptocurrency_helpers.py
Labels: bug

#2103 Remove cumulative returns functionalities
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_view.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  website/content/terminal/portfolio/cret/_index.md
  website/data/menu/main.yml
Labels: bug

#2070 Document : Change Docker container desktop pass-through
  DOCKER_ADVANCED.md
Labels: docs

#2113 Remove defirate scraping
  i18n/en.yml
  openbb_terminal/cryptocurrency/defi/defi_api.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/defi/defirate_model.py
  openbb_terminal/cryptocurrency/defi/defirate_view.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_model/test_get_borrow_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_model/test_get_funding_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_model/test_get_lending_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_view/test_display_borrow_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_view/test_display_funding_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_view/test_display_lending_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defirate_model/test_get_borrow_rates.csv
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defirate_model/test_get_funding_rates.csv
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defirate_model/test_get_lending_rates.csv
  tests/openbb_terminal/cryptocurrency/defi/test_defi_controller.py
  tests/openbb_terminal/cryptocurrency/defi/test_defirate_model.py
  tests/openbb_terminal/cryptocurrency/defi/test_defirate_view.py
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
  website/content/terminal/crypto/defi/_index.md
  website/content/terminal/crypto/defi/borrow/_index.md
  website/content/terminal/crypto/defi/funding/_index.md
  website/content/terminal/crypto/defi/lending/_index.md
  website/data/menu/main.yml
Labels: bug

#2111 Changing with the times
  openbb_terminal/README.md
Labels: docs

#2108 Allow to build reports without arguments
  openbb_terminal/reports/reports_controller.py
Labels: bug

#2100 Help translate terminal language
  i18n/en.yml
  i18n/help_translation.ipynb
  terminal.py
Labels: feat S

#2066 Guess game - Easter egg
  guess_game.json
  openbb_terminal/feature_flags.py
  terminal.py
Labels: feat XS

#2114 fix typo - change 'seaarch' to 'search'
  openbb_terminal/economy/economy_controller.py
  website/content/terminal/economy/fred/_index.md
Labels: docs

#2091 Allow direct orderbook export from degiro paexport to portfolio load command
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_model.py
  openbb_terminal/portfolio/brokers/degiro/degiro_view.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  portfolio/holdings/paexport_degiro.csv
Labels: bug, enhancement

#2112 Fix Economy/Plot - Does not read stored datasets properly
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/economy_helpers.py
  openbb_terminal/economy/yfinance_model.py
  website/content/terminal/economy/plot/_index.md
Labels: bug

#2106 Release/1.6.0
  .github/workflows/windows.yml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  build/pyinstaller/terminal.spec
  openbb_terminal/cryptocurrency/overview/withdrawalfees_model.py
  openbb_terminal/feature_flags.py
  openbb_terminal/sources_controller.py
  pyproject.toml
  scripts/test_crypto_defi.openbb
  scripts/test_stocks_dps.openbb
Labels: build

#2122 [Feature] (XS DevOps) Add jupyterlab build folders to .gitignore.
  .gitignore
Labels: build, jupyterlab

#2127 Fix ycrv to allow raw display and export when source is FRED
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
Labels: bug, enhancement

#2118 Add in Portfolio Guide and update the Getting Started guide
  website/content/_index.md
  website/content/terminal/portfolio/_index.md
Labels: docs

#2135 Fix link for Quantitative Analysis
  website/content/terminal/economy/_index.md
Labels: docs

#2136 Fixed a few typos
  jupyterlab/documentation/README.md
  jupyterlab/openbb-settings/README.md
  jupyterlab/openbb/README.md
  website/README.md
Labels: docs

#2137 improve readme file for terminal
  openbb_terminal/README.md
Labels: docs

#2123 better match for econ param parse to dict
  openbb_terminal/economy/econdb_model.py
Labels: bug

#2144 Small improvement in Telegram script
  bots/telegram/run_telegram.py
Labels: refactor

#2150 Fix stuff
  i18n/en.yml
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/keys_controller.py
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: bug

#2153 Update copy for docs on Why free
  website/content/_index.md
Labels: docs

#2154 Updates crypto load docs to match last load refactor
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  website/content/terminal/crypto/load/_index.md
Labels: docs

#2160 Fixed DCF Handling
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
Labels: bug

#2157 Update GST to OpenBB in _index.md
  website/content/api/_index.md
Labels: docs

#2173 Fix volatility
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#2176 Add chains via yahoo finance
  data_sources_default.json
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_get_full_option_chain.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_display_chains.yaml
  tests/openbb_terminal/stocks/options/test_options_controller.py
  tests/openbb_terminal/stocks/options/test_yfinance_model.py
  tests/openbb_terminal/stocks/options/test_yfinance_view.py
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_1.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_10.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_11.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_12.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_13.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_14.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_15.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_16.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_17.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_18.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_2.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_3.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_4.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_5.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_6.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_7.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_8.txt
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_get_full_option_chain_9.txt
  website/content/terminal/stocks/options/chains/_index.md
Labels: enhancement, feat S

#2155 fix tokenomics error
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
  openbb_terminal/cryptocurrency/due_diligence/messari_view.py
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_coin_chart.yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_get_coins.yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_load_none[btc-usd].yaml
  tests/openbb_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/openbb_terminal/cryptocurrency/txt/test_cryptocurrency_helpers/test_coin_chart.txt
Labels: bug

#2159 Fix 2099 - add crypto funding rate
  i18n/en.yml
  openbb_terminal/cryptocurrency/due_diligence/coinglass_model.py
  openbb_terminal/cryptocurrency/due_diligence/coinglass_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  scripts/test_crypto_dd.openbb
  tests/openbb_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_print_help.txt
  tests/openbb_terminal/stocks/insider/txt/test_insider_controller/test_print_help.txt
  website/content/terminal/crypto/dd/fundrate/_index.md
  website/content/terminal/crypto/dd/oi/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2174 Survey command and info, more documentation and bugfixes
  i18n/en.yml
  openbb_terminal/terminal_helper.py
  terminal.py
  website/content/_index.md
  website/data/menu/more.yml
Labels: docs

#2145 Added a Historical Beta Regression Plot
  i18n/en.yml
  openbb_terminal/stocks/quantitative_analysis/beta_model.py
  openbb_terminal/stocks/quantitative_analysis/beta_view.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  scripts/test_stocks_qa.openbb
  tests/openbb_terminal/stocks/quantitative_analysis/json/test_beta_model/test_beta_model.json
  tests/openbb_terminal/stocks/quantitative_analysis/test_beta_model.py
  tests/openbb_terminal/stocks/quantitative_analysis/test_qa_controller.py
  tests/openbb_terminal/stocks/quantitative_analysis/txt/test_qa_controller/test_print_help.txt
  website/content/terminal/common/qa/beta/_index.md
Labels: feat XS

#2179 [Bugfix/TradeBalance] Fix parameter name for TradeBalance and handle 'null' response from EconDB API
  openbb_terminal/economy/econdb_model.py
  website/content/terminal/economy/macro/_index.md
Labels: bug

#2180 Clenow Volatility Adjusted Momentum
  i18n/en.yml
  openbb_terminal/common/technical_analysis/momentum_model.py
  openbb_terminal/common/technical_analysis/momentum_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  website/content/terminal/common/ta/clenow/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2184 [Bugfix/Stocks/KeyMetricsExport] Add export call to FA key metrics controller
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
Labels: enhancement

#2197 Small danglewood bugs
  guess_game.json
  openbb_terminal/economy/alphavantage_view.py
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/settings_controller.py
  openbb_terminal/stocks/dark_pool_shorts/yahoofinance_model.py
Labels: bug

#2203 Added ycrv command
  openbb_terminal/economy/economy_api.py
  openbb_terminal/stocks/quantitative_analysis/beta_model.py
Labels: bug

#2202 Added fixes for coinbase
  openbb_terminal/keys_controller.py
  tests/openbb_terminal/test_keys_controller.py
Labels: bug

#2205 Fix coinbase function in crypto/ov
  openbb_terminal/cryptocurrency/overview/coinbase_model.py
  openbb_terminal/cryptocurrency/overview/coinbase_view.py
Labels: bug

#2204 Improved verbosity of dd rating failure, and add color to the chart
  openbb_terminal/stocks/due_diligence/fmp_model.py
  openbb_terminal/stocks/due_diligence/fmp_view.py
  tests/openbb_terminal/stocks/due_diligence/txt/test_fmp_view/test_rating.txt
Labels: bug

#2192 News from feedparser + Binance API key check fix
  data_sources_default.json
  i18n/en.yml
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/common/feedparser_view.py
  openbb_terminal/custom/prediction_techniques/pred_controller.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/quantitative_analysis/beta_model.py
  openbb_terminal/stocks/stocks_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: bug, feat XS

#2206 Fix insider
  openbb_terminal/stocks/insider/businessinsider_view.py
Labels: bug

#2215 Update forex_api.py
  openbb_terminal/forex/forex_api.py
Labels: enhancement, API
