Repository OpenBB-finance/OpenBB, pull requests merged in 2022-09, with the labels that each got.

#2476 fix ta command issues #2457
  openbb_terminal/forex/technical_analysis/ta_controller.py
Labels: bug

#2472 fix: Issue 2458
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/common/quantitative_analysis/rolling_view.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/custom/quantitative_analysis/qa_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  tests/openbb_terminal/forex/quantitative_analysis/test_qa_controller.py
  tests/openbb_terminal/stocks/quantitative_analysis/test_qa_controller.py
Labels: bug

#2481 [bug] Fix SettingWithCopyWarning and export error
  openbb_terminal/common/behavioural_analysis/google_model.py
  openbb_terminal/common/behavioural_analysis/google_view.py
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/yfinance_model.py
  tests/openbb_terminal/common/behavioural_analysis/cassettes/test_google_view/test_display_queries_export[AAPL-10-].yaml
  tests/openbb_terminal/common/behavioural_analysis/test_google_view.py
  tests/openbb_terminal/common/behavioural_analysis/txt/test_google_view/test_display_queries_export[AAPL-10-].txt
  tests/openbb_terminal/common/behavioural_analysis/txt/test_google_view/test_display_queries_export[AAPL-10-csv].txt
  tests/openbb_terminal/test_helper_funcs.py
Labels: enhancement

#2435 allow to do 'macro TB' instead of 'macro -p TB'
  openbb_terminal/economy/economy_controller.py
Labels: enhancement

#2489 add -f to load if not present
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/reports/equity.ipynb
Labels: bug

#2488 Add yf for fa/earnings
  data_sources_default.json
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
Labels: feat XS

#2495 [bug] fixes cmc top coins issue #2470
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
Labels: bug

#2325 com2ann: Convert type comments into Python type hints
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/thought_of_the_day.py
Labels: enhancement

#2445 Adding optional columns before compute with columns.
  openbb_terminal/portfolio/portfolio_model.py
Labels: portfolio

#2498 Get rid of option expirations in the past for Nasdaq + bugs
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_controller.py
Labels: bug

#2492 added wiki command
  i18n/en.yml
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  terminal.py
  website/content/_index.md
Labels: feat XS

#2505 Intel installer bug fix
  .github/workflows/intel_macos_build.yml
  build/pyinstaller/entitlements.plist
Labels: build

#2483 Improve ux experience through auto completer
  openbb_terminal/custom_prompt_toolkit.py
  openbb_terminal/economy/economy_controller.py
Labels: feat XL

#2454 Add heatmap function to stocks disc
  .pre-commit-config.yaml
  i18n/en.yml
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/finviz_model.py
  openbb_terminal/stocks/discovery/finviz_view.py
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  website/content/terminal/stocks/disc/heatmap/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2502 New path for logs
  openbb_terminal/core/config/constants.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/log/generation/directories.py
  openbb_terminal/loggers.py
  tests/openbb_terminal/core/log/generation/test_directories.py
Labels: feat S

#2504 M1 macos build system
  .github/workflows/m1_macos_build.yml
Labels: build

#2521 Release/1.8.0
  .github/workflows/intel_macos_build.yml
  build/nsis/setup.nsi
  openbb_terminal/feature_flags.py
  pyproject.toml
Labels: build

#2143 Add ETF support for portfolio allocation command
  openbb_terminal/helper_funcs.py
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/portfolio/brokers/degiro/degiro_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  portfolio/holdings/paexport_degiro.csv
Labels: enhancement

#2525 Adding feedparser to spec file
  build/pyinstaller/terminal.spec
Labels: bug

#2515 API key and WSB bug fix
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/keys_controller.py
Labels: bug

#2526 Release/1.8.1
  build/nsis/setup.nsi
  openbb_terminal/feature_flags.py
  pyproject.toml
Labels: build

#2527 Revert back version
  build/nsis/setup.nsi
  openbb_terminal/feature_flags.py
  pyproject.toml
Labels: bug

#2508 New path for .env
  openbb_terminal/config_terminal.py
  openbb_terminal/core/config/constants.py
  openbb_terminal/core/config/make_paths.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/keys_controller.py
  openbb_terminal/settings_controller.py
  terminal.py
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
Labels: feat S

#2528 Some docs improvements
  website/config.toml
  website/content/_index.md
  website/data/menu/more.yml
  website/themes/hugo-geekdoc/layouts/partials/head/others.html
  website/themes/hugo-geekdoc/layouts/partials/menu-bundle.html
  website/themes/hugo-geekdoc/layouts/partials/site-header.html
  website/themes/hugo-geekdoc/static/favicon/android-chrome-192x192.png
  website/themes/hugo-geekdoc/static/favicon/android-chrome-512x512.png
  website/themes/hugo-geekdoc/static/favicon/apple-touch-icon.png
  website/themes/hugo-geekdoc/static/favicon/browserconfig.xml
  website/themes/hugo-geekdoc/static/favicon/favicon-16x16.png
  website/themes/hugo-geekdoc/static/favicon/favicon-32x32.png
  website/themes/hugo-geekdoc/static/favicon/favicon.ico
  website/themes/hugo-geekdoc/static/favicon/mstile-144x144.png
  website/themes/hugo-geekdoc/static/favicon/mstile-150x150.png
  website/themes/hugo-geekdoc/static/favicon/mstile-310x150.png
  website/themes/hugo-geekdoc/static/favicon/mstile-310x310.png
  website/themes/hugo-geekdoc/static/favicon/mstile-70x70.png
  website/themes/hugo-geekdoc/static/favicon/site.webmanifest
Labels: docs

#2523 Fix CMD log to be a well-formed JSON string
  openbb_terminal/parent_classes.py
Labels: analytics

#2539 [Bug] Crypto/DeFi/pools - Error: display_uni_pools() got an unexpected keyword argument 'descend'
  openbb_terminal/cryptocurrency/defi/graph_view.py
Labels: bug

#2530 Patching news command
  openbb_terminal/common/feedparser_model.py
Labels: bug

#2540 Removes nftcalendar.io commands
  data_sources_default.json
  i18n/en.yml
  openbb_terminal/cryptocurrency/nft/nft_api.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/nft/nftcalendar_model.py
  openbb_terminal/cryptocurrency/nft/nftcalendar_view.py
  scripts/test_crypto_nft.openbb
  tests/openbb_terminal/cryptocurrency/nft/test_nft_controller.py
  tests/openbb_terminal/cryptocurrency/nft/txt/test_nft_controller/test_print_help.txt
  website/content/terminal/crypto/nft/_index.md
  website/content/terminal/crypto/nft/newest/_index.md
  website/content/terminal/crypto/nft/ongoing/_index.md
  website/content/terminal/crypto/nft/today/_index.md
  website/content/terminal/crypto/nft/upcoming/_index.md
  website/data/menu/main.yml
Labels: bug

#2510 Added export to stocks/qa/beta
  openbb_terminal/stocks/quantitative_analysis/beta_view.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug

#2475 [bug] nft price model
  openbb_terminal/cryptocurrency/nft/nftpricefloor_model.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_view.py
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_model/test_get_collections.yaml
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_model/test_get_floor_price[cryptopunks].yaml
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_view/test_display_collections.yaml
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_view/test_display_floor_price.yaml
  tests/openbb_terminal/cryptocurrency/nft/csv/test_nftpricefloor_model/test_get_collections.csv
  tests/openbb_terminal/cryptocurrency/nft/csv/test_nftpricefloor_model/test_get_floor_price[cryptopunks].csv
  tests/openbb_terminal/cryptocurrency/nft/txt/test_nftpricefloor_view/test_display_collections.txt
Labels: bug

#2543 I fixed the heatmap function but forgot the colors
  openbb_terminal/stocks/discovery/finviz_view.py
Labels: enhancement

#2544 Comment out etf screener for short term
  openbb_terminal/etf/etf_controller.py
  tests/openbb_terminal/etf/txt/test_etf_controller/test_print_help.txt
Labels: bug

#2545 adding warning to news
  openbb_terminal/common/feedparser_model.py
Labels: bug

#2550 Fixing #2536
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug

#2509 New path for styles and add timezone as environment variable
  .github/workflows/test.yml
  openbb_terminal/config_terminal.py
  openbb_terminal/core/config/make_paths.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/feature_flags.py
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/timezone.openbb
  styles/default/light.mplrc.json
  terminal.py
Labels: feat XS

#2551 Removing custom menu
  openbb_terminal/custom/__init__.py
  openbb_terminal/custom/custom_api.py
  openbb_terminal/custom/custom_controller.py
  openbb_terminal/custom/custom_model.py
  openbb_terminal/custom/custom_view.py
  openbb_terminal/custom/prediction_techniques/__init__.py
  openbb_terminal/custom/prediction_techniques/pred_api.py
  openbb_terminal/custom/prediction_techniques/pred_controller.py
  openbb_terminal/custom/quantitative_analysis/__init__.py
  openbb_terminal/custom/quantitative_analysis/qa_api.py
  openbb_terminal/custom/quantitative_analysis/qa_controller.py
Labels: enhancement

#2284 #2212 Removed hist and trend comamnds from /stocks/ba
  openbb_terminal/reports/equity.ipynb
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/test_ba_controller.py
Labels: enhancement

#2557 Friday night bugs
  openbb_terminal/cryptocurrency/overview/loanscan_view.py
  openbb_terminal/stocks/due_diligence/business_insider_view.py
  openbb_terminal/stocks/due_diligence/dd_controller.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/government/gov_controller.py
  openbb_terminal/stocks/government/quiverquant_model.py
  openbb_terminal/stocks/government/quiverquant_view.py
  tests/openbb_terminal/cryptocurrency/overview/txt/test_loanscan_view/test_display_crypto_rates.txt
  tests/openbb_terminal/stocks/due_diligence/test_business_insider_view.py
  tests/openbb_terminal/stocks/due_diligence/test_dd_controller.py
  tests/openbb_terminal/stocks/due_diligence/txt/test_business_insider_view/test_estimates.txt
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_yahoo_finance_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_shareholders].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_buys-kwargs_dict1].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func_empty_df[display_government_buys-kwargs_dict1].txt
  website/content/terminal/stocks/dd/est/_index.md
Labels: bug

#2554 updating drafter version
  .github/workflows/draft.yml
Labels: bug

#2563 Pylint
  .github/workflows/test.yml
  .pylintrc
  openbb_terminal/stocks/discovery/seeking_alpha_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  runtime.txt
Labels: enhancement

#2569 Improving styles loading
  openbb_terminal/core/config/make_paths.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/helper_classes.py
  terminal.py
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
Labels: feat XS

#2581 Update docs link to openbb.co/docs
  README.md
Labels: docs

#2178 Integrate live feeds from Pyth
  i18n/en.yml
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/pyth_model.py
  openbb_terminal/cryptocurrency/pyth_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
Labels: feat S

#2568 Updating feature flags : logs
  i18n/en.yml
  openbb_terminal/core/config/paths.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/feature_flags.py
  tests/openbb_terminal/test_featflags_controller.py
Labels: feat XS

#2588 Minor fixes in API usage
  openbb_terminal/api.py
  openbb_terminal/config_terminal.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug, API

#2567 Add path for custom_imports outside the terminal
  openbb_terminal/config_terminal.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/dashboards/futures.ipynb
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/parent_classes.py
  styles/user/.gitkeep
  terminal.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_load_custom_output[path1].txt
Labels: feat XS

#2585 Fix bugs for news (SSL, sources) and fred (SSL)
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/economy/fred_model.py
  scripts/test_news.openbb
  terminal.py
  tests/openbb_terminal/common/cassettes/test_feedparser_model/test_get_news[-].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_model/test_get_news[Apple-].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_model/test_get_news[Apple-bloomberg.com].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_model/test_get_news[TSLA-bloomberg cnn].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_model/test_get_news[asdf$#-].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_view/test_display_news[Apple].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_view/test_display_news[Coal].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_view/test_display_news[].yaml
  tests/openbb_terminal/common/cassettes/test_feedparser_view/test_display_news[asdf&-$].yaml
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[-].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[Apple-].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[Apple-bloomberg.com].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[TSLA-bloomberg cnn].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[asdf$#-].csv
  tests/openbb_terminal/common/test_feedparser_model.py
  tests/openbb_terminal/common/test_feedparser_view.py
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Apple].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Coal].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[asdf&%$].txt
Labels: bug

#2570 fresh reports fix
  openbb_terminal/api.py
  openbb_terminal/config_terminal.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/reports/crypto.ipynb
  openbb_terminal/reports/economy.ipynb
  openbb_terminal/reports/equity.ipynb
  openbb_terminal/reports/etf.ipynb
  openbb_terminal/reports/forex.ipynb
  openbb_terminal/reports/portfolio.ipynb
  openbb_terminal/reports/reports_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, feat S

#2566 Fix a bug and refactor stock helpers
  openbb_terminal/cryptocurrency/defi/graph_model.py
  openbb_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_model.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/economy/finviz_model.py
  openbb_terminal/etf/technical_analysis/ta_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/parent_classes.py
  openbb_terminal/rich_config.py
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_model.py
  openbb_terminal/stocks/stock_statics.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_models.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  openbb_terminal/stocks/tradinghours/bursa_model.py
  tests/openbb_terminal/etf/technical_analysis/test_ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
Labels: bug

#2614 stocks/dps bug fixes
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/dark_pool_shorts/finra_model.py
  openbb_terminal/stocks/dark_pool_shorts/finra_view.py
  tests/openbb_terminal/stocks/dark_pool_shorts/test_dps_controller.py
Labels: bug

#2493 refactor: convert for loops into list and dict comprehensions
  custom_pre_commit/check_doc.py
  custom_pre_commit/check_reserved_args.py
  openbb_terminal/common/behavioural_analysis/stocktwits_model.py
  openbb_terminal/common/quantitative_analysis/qa_model.py
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/cryptocurrency/defi/terramoney_fcd_model.py
  openbb_terminal/cryptocurrency/discovery/dappradar_model.py
  openbb_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  openbb_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/forex/oanda/oanda_model.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/reports/economy.ipynb
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/behavioural_analysis/cramer_model.py
  openbb_terminal/stocks/dark_pool_shorts/shortinterest_model.py
  openbb_terminal/stocks/discovery/seeking_alpha_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/market_watch_model.py
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/thought_of_the_day.py
Labels: refactor

#2584 Fix exports
  openbb_terminal/stocks/fundamental_analysis/eclect_us_model.py
  openbb_terminal/stocks/fundamental_analysis/eclect_us_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_eclect_us_model/test_get_filings_analysis.csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_eclect_us_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_eclect_us_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
Labels: bug

#2610 Portfolio controller fixes
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
Labels: bug, portfolio

#2615 Bug/2590 error setting exp
  openbb_terminal/stocks/options/options_controller.py
Labels: bug

#2613 Fixing the voi command
  openbb_terminal/stocks/options/yfinance_view.py
Labels: bug

#2592 Be able to change user data folder and add path for exports
  i18n/en.yml
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/dashboards/futures.ipynb
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/settings_controller.py
  openbb_terminal/stocks/fundamental_analysis/dcf_model.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  terminal.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
  tests/openbb_terminal/test_helper_funcs.py
Labels: feat S

#2617 fix typo
  openbb_terminal/cryptocurrency/defi/defi_controller.py
Labels: bug

#2631 Update pull_request_template.md
  .github/pull_request_template.md
Labels: docs

#2632 New path for routines
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  terminal.py
Labels: feat XS

#2630 Fixed bad source default
  openbb_terminal/cryptocurrency/due_diligence/cryptopanic_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/overview/cryptopanic_model.py
Labels: bug

#2628 Added recom error handling
  openbb_terminal/stocks/technical_analysis/tradingview_model.py
  openbb_terminal/stocks/technical_analysis/tradingview_view.py
Labels: bug

#2494 Refactor CONTRIBUTING GUIDELINES
  CONTRIBUTING.md
  README.md
Labels: feat S

#2627 Removed ford command
  i18n/en.yml
  openbb_terminal/api.py
  openbb_terminal/stocks/discovery/disc_controller.py
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  website/content/api/stocks/disc/ford/_index.md
  website/content/terminal/stocks/disc/ford/_index.md
  website/data/menu/main.yml
Labels: bug

#2635 Improved futures dashboard
  openbb_terminal/dashboards/futures.ipynb
Labels: enhancement

#2646 New path for data_sources_default.json
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/feature_flags.py
  openbb_terminal/rich_config.py
  openbb_terminal/sources_controller.py
Labels: feat XS

#2634 New path for presets
  openbb_terminal/config_terminal.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/etf/screener/screener_controller.py
  openbb_terminal/etf/screener/screener_model.py
  openbb_terminal/feature_flags.py
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/insider/openinsider_model.py
  openbb_terminal/stocks/insider/openinsider_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
  openbb_terminal/stocks/screener/finviz_model.py
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/screener/screener_view.py
  openbb_terminal/stocks/screener/yahoofinance_model.py
  openbb_terminal/stocks/screener/yahoofinance_view.py
  terminal.py
  tests/openbb_terminal/etf/screener/cassettes/test_screener_model/test_etf_screener[etf_config.ini].yaml
  tests/openbb_terminal/etf/screener/cassettes/test_screener_view/test_view_screener[etf_config.ini-10-Expense-False].yaml
  tests/openbb_terminal/etf/screener/cassettes/test_screener_view/test_view_screener[etf_config.ini-5-Assets-True].yaml
  tests/openbb_terminal/etf/screener/cassettes/test_screener_view/test_view_screener[etf_config.ini-7-Volume-True].yaml
  tests/openbb_terminal/etf/screener/csv/test_screener_model/test_etf_screener[etf_config.ini].csv
  tests/openbb_terminal/etf/screener/test_screener_model.py
  tests/openbb_terminal/etf/screener/test_screener_view.py
  tests/openbb_terminal/etf/screener/txt/test_screener_view/test_view_screener[etf_config.ini-10-Expense-False].txt
  tests/openbb_terminal/etf/screener/txt/test_screener_view/test_view_screener[etf_config.ini-5-Assets-True].txt
  tests/openbb_terminal/etf/screener/txt/test_screener_view/test_view_screener[etf_config.ini-7-Volume-True].txt
  tests/openbb_terminal/stocks/insider/test_insider_controller.py
  tests/openbb_terminal/stocks/insider/test_openinsider_model.py
  tests/openbb_terminal/stocks/insider/test_openinsider_view.py
  tests/openbb_terminal/stocks/options/test_screener_controller.py
  tests/openbb_terminal/stocks/options/test_syncretism_model.py
  tests/openbb_terminal/stocks/options/test_syncretism_view.py
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_available_presets[high_IV.ini].txt
  tests/openbb_terminal/stocks/screener/test_finviz_model.py
  tests/openbb_terminal/stocks/screener/test_screener_controller.py
  tests/openbb_terminal/stocks/screener/test_yahoofinance_view.py
Labels: feat S

#2644 Fixes econometric menu integrated tests
  openbb_terminal/econometrics/econometrics_controller.py
Labels: bug

#2648 Update README.md
  openbb_terminal/README.md
Labels: bug

#2647 Etf fix
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/stockanalysis_view.py
Labels: bug

#2650 Fixed the bug in crypto/dd/oi
  openbb_terminal/cryptocurrency/due_diligence/coinglass_model.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug

#2651 Fixed the bug and refactored updating active data
  openbb_terminal/econometrics/econometrics_controller.py
Labels: bug, enhancement

#2625 integration test fix for crypto disc
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
Labels: bug

#2624 fixing integration tests for crypto defi
  openbb_terminal/cryptocurrency/defi/defi_controller.py
Labels: bug

#2657 FIxes topbuys
  openbb_terminal/stocks/government/quiverquant_model.py
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_buys-kwargs_dict1].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func_empty_df[display_government_buys-kwargs_dict1].txt
Labels: bug

#2655 Fixes integrated tests for alt and economy
  openbb_terminal/alternative/oss/runa_model.py
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/yfinance_model.py
Labels: bug

#2658 Last stocks int
  openbb_terminal/stocks/insider/openinsider_model.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  openbb_terminal/stocks/screener/screener_controller.py
Labels: bug

#2659 Fix bad api output
  openbb_terminal/api.py
Labels: bug

#2500 Add End of Day Historical Data to FA : https://eodhistoricaldata.com/r/?ref=869U7F4J to
  data_sources_default.json
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/fundamental_analysis/eodhd_model.py
  openbb_terminal/stocks/fundamental_analysis/eodhd_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
Labels: enhancement

#2667 fix get_df for output in stocks/disc
  openbb_terminal/stocks/discovery/disc_helpers.py
Labels: enhancement

#2670 Added integration tests fixes
  openbb_terminal/common/behavioural_analysis/google_model.py
Labels: bug

#2665 Portfolio bundle fix
  openbb_terminal/common/quantitative_analysis/qa_model.py
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_view.py
  openbb_terminal/portfolio/portfolio_view.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  portfolio/optimization/OpenBB_Parameters_Template_v1.0.0.xlsx
  scripts/test_portfolio.openbb
  scripts/test_portfolio_boolean_args.openbb
Labels: bug

#2663 Fixed shrs command -h
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: bug

#2680 Fixes bug that makes reports INACCESSIBLE
  openbb_terminal/reports/reports_controller.py
Labels: bug

#2664 Fix charmap flair issue on windows
  tests/openbb_terminal/test_settings_controller.py
Labels: bug

#2683 fix: error #2676
  openbb_terminal/config_plot.py
Labels: bug

#2666 Fixed ccxt
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#2677 Fix google trends. Error: The request failed: Google returned a response with code 429.
  openbb_terminal/common/behavioural_analysis/google_model.py
  openbb_terminal/common/behavioural_analysis/google_view.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
Labels: bug

#2671 Bug/2583
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/helpers_denomination.py
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/sector_industry_analysis/stockanalysis_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_financials[ABBV-balance-sheet].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_financials[ABBV-cash-flow].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_financials[ABBV-financials].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_financials[ABBV-balance-sheet].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_financials[ABBV-cash-flow].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_financials[ABBV-financials].csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_yahoo_finance_model.py
  tests/openbb_terminal/test_helpers_denomination.py
Labels: bug
