Repository OpenBB-finance/OpenBB, pull requests merged in 2022-11, with the labels that each got.

#3224 Fix 3188 - UX for `Feature Engineering` functions
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_model.py
  website/content/terminal/forecast/atr/_index.md
  website/content/terminal/forecast/sto/_index.md
Labels: bug, feat S

#3210 Fix Some Econometrics Bugs
  openbb_terminal/econometrics/econometrics_controller.py
  website/content/terminal/econometrics/coint/_index.md
Labels: bug

#3228 Fixing 6 crypto bugs
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
Labels: bug, crypto

#3178 Fix SDK plot colors without needing openbb.stocks.candle
  openbb_terminal/sdk.py
Labels: bug

#3222 Updating crypto integration tests
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_dd.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_defi.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_disc.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_nft.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_onchain.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_ov.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_qa.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_ta.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_tools.openbb
Labels: bug, crypto

#3230 Spoooooky bugs - Futures menu ++
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/economy/alphavantage_view.py
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/sdk.py
Labels: bug

#3114 refactor: divide load() for each currency data source
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: enhancement

#3221 Fix 3192
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug

#3237 Fix typo in crypto load autocompletion
  openbb_terminal/cryptocurrency/crypto_controller.py
Labels: bug

#3233 Add clear -p and --param to autocomplete
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
Labels: bug

#3229 3 more crypto fixes
  openbb_terminal/cryptocurrency/onchain/bitquery_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
Labels: bug, crypto

#3241 Fix 3191
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug

#2989 Adds crypto features missing in SDK
  openbb_terminal/cryptocurrency/due_diligence/ccxt_model.py
  openbb_terminal/cryptocurrency/due_diligence/ccxt_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_view.py
  openbb_terminal/sdk.py
Labels: bug

#3078 improved integration tests
  openbb_terminal/miscellaneous/scripts/dashboards/test_dashboards_base.openbb
  openbb_terminal/miscellaneous/scripts/econometrics/test_econometrics_base.openbb
  openbb_terminal/miscellaneous/scripts/econometrics/test_econometrics_panel.openbb
  openbb_terminal/miscellaneous/scripts/econometrics/test_econometrics_ts.openbb
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_base.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_qa.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_ta.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_forecast.openbb
Labels: tests

#3250 fix #3236
  openbb_terminal/stocks/stocks_controller.py
Labels: bug

#3158 Update DOCKER_README.md
  openbb_terminal/DOCKER_README.md
Labels: docs

#3246 Some fixes on crypto
  openbb_terminal/cryptocurrency/discovery/dappradar_model.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_model.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_view.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_disc.openbb
  openbb_terminal/rich_config.py
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coin_list-kwargs5].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coins-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coins-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coins_for_given_exchange-kwargs6].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_mapping_matrix_for_exchange-kwargs7].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_trending_coins-kwargs4].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_coins-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_losers-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_trending-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_coin_list-kwargs5].csv
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_coins-kwargs1].csv
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_coins-kwargs2].csv
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].csv
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_trending_coins-kwargs4].csv
  tests/openbb_terminal/cryptocurrency/discovery/json/test_pycoingecko_model/test_call_func[get_coins_for_given_exchange-kwargs6].json
  tests/openbb_terminal/cryptocurrency/discovery/json/test_pycoingecko_model/test_call_func[get_mapping_matrix_for_exchange-kwargs7].json
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_coins-kwargs0].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_losers-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_trending-kwargs3].txt
Labels: bug

#3263 Formatting, first image is not given a new line.
  website/content/terminal/futures/_index.md
Labels: bug, docs

#3259 Adds SDK Guide for Forex Menu
  website/content/SDK/forex/_index.md
Labels: docs, guides

#3267 Fixed docs
  website/data/menu/main.yml
Labels: bug

#3265 Changed where sdk events points to
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/sdk.py
Labels: bug

#3261 Fixed links
  openbb_terminal/reports/reports_controller.py
Labels: bug

#3225 Added capitalization fixes for stock/search
  openbb_terminal/stocks/stock_statics.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_search[False].txt
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_search[True].txt
Labels: bug

#3180 [SDK] Allow silencing verbose output in commands that use stocks/load
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_models.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[tickers0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[tickers1].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[BLK].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[ES].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[OJ].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[YI].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[tickers0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[tickers1].yaml
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_curve_futures[ticker1].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[tickers0].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[tickers1].csv
  tests/openbb_terminal/futures/test_yfinance_model.py
  tests/openbb_terminal/futures/test_yfinance_view.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[BLK].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[OJ].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[YI].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_etf_description[ARKF].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_etf_description[ARKW].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[tickers0].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[tickers1].txt
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[False].yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[True].yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_sec_view/test_fails_to_deliver[False].txt
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_sec_view/test_fails_to_deliver[True].txt
Labels: enhancement, SDK

#3209 remove funds overview
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  website/content/terminal/funds/_index.md
  website/data/menu/main.yml
Labels: bug

#3240 Fix 3190
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug

#3271 Forecast Report updates + API standardization for defaults
  openbb_terminal/forecast/autoets_model.py
  openbb_terminal/forecast/autoets_view.py
  openbb_terminal/forecast/expo_model.py
  openbb_terminal/forecast/expo_view.py
  openbb_terminal/forecast/tft_model.py
  openbb_terminal/forecast/tft_view.py
  openbb_terminal/forecast/theta_model.py
  openbb_terminal/forecast/theta_view.py
  openbb_terminal/reports/templates/forecast.ipynb
  website/content/SDK/forecast/expo/_index.md
  website/content/SDK/forecast/tft/_index.md
  website/content/SDK/forecast/theta/_index.md
Labels: enhancement

#3270 Fix metric format
  openbb_terminal/portfolio/portfolio_view.py
Labels: bug

#3234 Refactor the QA Raw Command
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/stock_statics.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/forex/quantitative_analysis/test_qa_controller.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/test_helpers.py
  website/content/terminal/common/qa/raw/_index.md
Labels: bug

#3272 Removed the --raw option from economy/plot
  openbb_terminal/economy/economy_controller.py
  website/content/terminal/economy/plot/_index.md
Labels: bug

#3274 Reset the auto-complete options in custom prompt
  openbb_terminal/custom_prompt_toolkit.py
Labels: enhancement

#3285 Handle Bad Environment Variables
  openbb_terminal/base_helpers.py
  openbb_terminal/config_plot.py
  openbb_terminal/config_terminal.py
  openbb_terminal/feature_flags.py
Labels: bug, enhancement

#3179 Improve UX when wrong command is selected
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
Labels: bug, enhancement

#3284 Improves Error Handling for option.grhist
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
Labels: bug

#3260 Fixes Issues with Forex
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/forex/oanda/oanda_model.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: bug

#3269 Fix 3018
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/pyth_model.py
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto.openbb
Labels: bug

#3244 More Fixes to Crypto + key sort
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/coinpaprika_model.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_model.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
  openbb_terminal/keys_model.py
  tests/openbb_terminal/cryptocurrency/overview/txt/test_pycoingecko_view/test_coin_exchanges.txt
Labels: bug

#3287 Adds Verbosity to Error Message Warnings and Fixes my Issue when No Variables Present.
  openbb_terminal/base_helpers.py
  openbb_terminal/config_plot.py
  openbb_terminal/feature_flags.py
Labels: bug

#3288 [Bug]stocks/options/unu needs the '/' treat #2939
  openbb_terminal/stocks/options/options_controller.py
Labels: bug

#3279 `crypto/prt` fixes
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  openbb_terminal/forecast/autoets_model.py
Labels: bug, crypto

#3231 Fixing crypto commands `hold`, `ttcp`, `contracts`, and `hm`
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
Labels: bug, crypto

#3291 removing explicit `statsforecast` version from conda and fixing numpy
  build/conda/conda-3-9-env-full.yaml
  poetry.lock
  pyproject.toml
Labels: bug

#3303 Fix #3235 Equity reports
  openbb_terminal/reports/templates/equity.ipynb
Labels: bug

#3307 #3290 fix heatmap make it pertyyy
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
Labels: bug

#3305 Added fixes to economy report
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/sdk.py
Labels: bug

#3302 Updated check for new user
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/terminal_controller.py
Labels: bug, enhancement

#3238 Fixes Issues with the OSS Menu
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/sources_controller.py
  website/content/terminal/alternative/covid/country/_index.md
  website/content/terminal/alternative/oss/rs/_index.md
  website/data/menu/main.yml
Labels: bug

#3295 #3264 fixing some autocomplete on historical
  openbb_terminal/futures/futures_controller.py
Labels: enhancement

#3293 Bugs
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/reports/templates/economy.ipynb
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_print_help.txt
Labels: bug

#3275 fix(stocks): --show-all accessing out of range index on vis (#3249)
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
Labels: bug

#3299 Refactors Econometrics and Forecast load commands and controller
  openbb_terminal/common/common_model.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_model.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/sdk.py
  tests/openbb_terminal/econometrics/csv/test_econometrics_model/test_load[sunspots-data_files1-data_examples1].csv
  tests/openbb_terminal/econometrics/csv/test_econometrics_model/test_load[wage_panel-data_files0-data_examples0].csv
  tests/openbb_terminal/econometrics/test_econometrics_model.py
  tests/openbb_terminal/econometrics/test_econometrics_view.py
  tests/openbb_terminal/forecast/test_forecast_model.py
Labels: bug, enhancement

#3242 Fix 3184
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug

#3306 Moves futures.csv to the misc folder
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/dashboards/voila/futures.csv
  openbb_terminal/dashboards/voila/futures.ipynb
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/miscellaneous/futures/futures.csv
Labels: bug

#3297 [Bug] /forex/qa/ $ line --draw #3076
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/helper_classes.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  tests/openbb_terminal/common/quantitative_analysis/test_qa_view.py
  website/content/terminal/common/qa/_index.md
  website/content/terminal/common/qa/line/_index.md
Labels: bug

#3281 Small pyproject changes
  pyproject.toml
Labels: build, SDK

#3286 Fix Various portfolio/po issues
  openbb_terminal/custom_prompt_toolkit.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/portfolio_examples/optimization/dany.ini
  openbb_terminal/miscellaneous/portfolio_examples/optimization/dd.ini
  openbb_terminal/miscellaneous/portfolio_examples/optimization/james.ini
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_helpers.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_statics.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_view.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  tests/openbb_terminal/portfolio/portfolio_optimization/txt/test_po_controller/test_print_help.txt
Labels: bug

#3312 fixing macd and a few others
  openbb_terminal/common/technical_analysis/momentum_view.py
Labels: bug

#3319 `futures/curve` capitalization fix
  openbb_terminal/futures/futures_controller.py
Labels: bug

#3308 fix [Bug] Screeners - Autocomplete of Stock Screener
  openbb_terminal/stocks/screener/screener_controller.py
  tests/openbb_terminal/stocks/screener/test_screener_controller.py
Labels: bug

#3304 Refactored quote command
  openbb_terminal/sdk.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_models.py
  openbb_terminal/stocks/stocks_views.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
Labels: bug

#3251 Poetry : remove optional dependencies + set papermill 2.4.0
  poetry.lock
  pyproject.toml
Labels: feat S

#3144 Fix economy bugs
  openbb_terminal/economy/commodity_model.py
  openbb_terminal/economy/commodity_view.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/parent_classes.py
  openbb_terminal/rich_config.py
  openbb_terminal/sources_controller.py
  tests/conftest.py
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bgod[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_dwat[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_dwat[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_granger[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_index.txt
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  website/content/terminal/economy/eval/_index.md
Labels: bug

#3330 [UX improvement] Adding in docs URL to help commands on terminal
  openbb_terminal/forecast/expo_model.py
  openbb_terminal/forecast/forecast_controller.py
  website/content/terminal/forecast/autoets/_index.md
  website/content/terminal/forecast/brnn/_index.md
  website/content/terminal/forecast/expo/_index.md
  website/content/terminal/forecast/linregr/_index.md
  website/content/terminal/forecast/nbeats/_index.md
  website/content/terminal/forecast/nhits/_index.md
  website/content/terminal/forecast/regr/_index.md
  website/content/terminal/forecast/rnn/_index.md
  website/content/terminal/forecast/tcn/_index.md
  website/content/terminal/forecast/tft/_index.md
  website/content/terminal/forecast/theta/_index.md
  website/content/terminal/forecast/trans/_index.md
Labels: enhancement

#3324 Adds guide for Technical Analysis SDK module
  website/content/SDK/common/ta/_index.md
Labels: guides, SDK

#3321 Adds guide for QA module of the SDK
  website/content/SDK/common/_index.md
Labels: docs, guides, SDK

#3315 Adds Intro Guide to ETF SDK Module
  website/content/SDK/etf/_index.md
Labels: docs, guides, SDK

#3343 Pin mypy to 0.982 on GitHub workflows
  .github/workflows/test.yml
Labels: tests

#3329 Delete OpenBB Terminal.bat
  OpenBB Terminal.bat
Labels: enhancement

#3298 Adds Intro Guide for the Stock Options SDK Module
  website/content/SDK/stocks/options/_index.md
Labels: docs, SDK

#3340 [FEAT] StatsForecast SeasonalNaive forecasting model
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/seasonalnaive_model.py
  openbb_terminal/forecast/seasonalnaive_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/sdk.py
  tests/openbb_terminal/forecast/test_seasonalnaive_model.py
  tests/openbb_terminal/forecast/test_seasonalnaive_view.py
  website/content/terminal/forecast/seasonalnaive/_index.md
  website/data/menu/main.yml
Labels: feat S

#3337 [FEAT] StatsForecast AutoCES forecasting model
  openbb_terminal/forecast/autoces_model.py
  openbb_terminal/forecast/autoces_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/sdk.py
  tests/openbb_terminal/forecast/test_autoces_model.py
  tests/openbb_terminal/forecast/test_autoces_view.py
  website/content/terminal/forecast/autoces/_index.md
  website/data/menu/main.yml
Labels: feat S

#3350 Attribute pyth
  openbb_terminal/miscellaneous/data_sources_default.json
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
Labels: bug

#3204 Portfolio menu bug fixes
  openbb_terminal/common/quantitative_analysis/qa_model.py
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio.openbb
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio_po.openbb
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  openbb_terminal/reports/reports_model.py
  openbb_terminal/reports/templates/portfolio.ipynb
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  tests/openbb_terminal/reports/test_reports_controller.py
  tests/openbb_terminal/reports/txt/test_reports_controller/test_print_help.txt
  website/content/terminal/portfolio/holdp/_index.md
  website/content/terminal/portfolio/holdv/_index.md
Labels: bug, portfolio

#3352 Integrated tests failure output to CSV
  .gitignore
  openbb_terminal/terminal_controller.py
Labels: enhancement

#3309 initial commit - colin please fix tests
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/forex_helper.py
Labels: feat M

#3332 Papermill installer specific version
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/windows10_build.yml
Labels: build

#3353 Stock Integrated Tests
  openbb_terminal/common/technical_analysis/volume_model.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  openbb_terminal/stocks/quantitative_analysis/beta_model.py
  openbb_terminal/stocks/screener/yahoofinance_model.py
Labels: bug

#3316 Adding some test coverage
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/reports/templates/economy.ipynb
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_show_indices.txt
  tests/openbb_terminal/economy/txt/test_economy_controller/test_show_treasury.txt
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[symbols0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[tickers0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[ES].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[YI].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols1].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[tickers0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[tickers1].yaml
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_curve_futures[symbol0].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[symbols0].csv
  tests/openbb_terminal/futures/test_futures_controller.py
  tests/openbb_terminal/futures/test_yfinance_model.py
  tests/openbb_terminal/futures/test_yfinance_view.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[YI].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols0].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols1].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[tickers1].txt
  website/content/SDK/crypto/dd/change/_index.rst
  website/content/SDK/crypto/dd/eb/_index.rst
  website/content/SDK/crypto/ov/altindex/_index.rst
  website/content/SDK/economy/macro/_index.rst
  website/content/SDK/economy/treasury/_index.rst
  website/content/SDK/etf/candle/_index.rst
  website/content/SDK/forex/load/_index.rst
  website/content/SDK/stocks/ca/hcorr/_index.rst
  website/content/SDK/stocks/ca/hist/_index.rst
  website/content/SDK/stocks/candle/_index.rst
Labels: tests

#3289 SDK : faster and simpler architecture
  CONTRIBUTING.md
  openbb_terminal/config_terminal.py
  openbb_terminal/core/library/__init__.py
  openbb_terminal/core/library/breadcrumb.py
  openbb_terminal/core/library/metadata.py
  openbb_terminal/core/library/operation.py
  openbb_terminal/core/library/trail_map.py
  openbb_terminal/dashboards/voila/crypto.ipynb
  openbb_terminal/dashboards/voila/currencies.ipynb
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/dashboards/voila/vsurf.ipynb
  openbb_terminal/decorators.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
  openbb_terminal/sdk.py
  tests/openbb_terminal/sdk/test_sdk.py
  tests/openbb_terminal/test_sdk.py
  website/content/SDK/economy/_index.md
  website/content/SDK/forex/_index.md
  website/content/SDK/keys/_index.md
  website/content/SDK/stocks/_index.md
Labels: feat L

#3344 Fix `perf -p 1y`, returns nan% and empty cells
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  website/content/terminal/portfolio/perf/_index.md
Labels: bug, portfolio

#3359 hugo hotfix
  website/content/SDK/common/qa/es/_index.rst
  website/content/SDK/common/qa/var/_index.rst
  website/content/SDK/crypto/dd/active/_index.rst
  website/content/SDK/crypto/dd/change/_index.rst
  website/content/SDK/crypto/dd/close/_index.rst
  website/content/SDK/crypto/dd/eb/_index.rst
  website/content/SDK/crypto/dd/gh/_index.rst
  website/content/SDK/crypto/dd/mcapdom/_index.rst
  website/content/SDK/crypto/dd/mt/_index.rst
  website/content/SDK/crypto/dd/nonzero/_index.rst
  website/content/SDK/crypto/load/_index.rst
  website/content/SDK/crypto/onchain/btc_supply/_index.rst
  website/content/SDK/crypto/onchain/btc_transac/_index.rst
  website/content/SDK/crypto/onchain/hr/_index.rst
  website/content/SDK/crypto/ov/altindex/_index.rst
  website/content/SDK/crypto/ov/btcrb/_index.rst
  website/content/SDK/economy/events/_index.rst
  website/content/SDK/economy/macro/_index.rst
  website/content/SDK/economy/treasury/_index.rst
  website/content/SDK/etf/candle/_index.rst
  website/content/SDK/etf/load/_index.rst
  website/content/SDK/etf/news/_index.rst
  website/content/SDK/forex/candle/_index.rst
  website/content/SDK/forex/load/_index.rst
  website/content/SDK/futures/curve/_index.rst
  website/content/SDK/futures/historical/_index.rst
  website/content/SDK/portfolio/holdp/_index.rst
  website/content/SDK/portfolio/holdv/_index.rst
  website/content/SDK/portfolio/perf/_index.rst
  website/content/SDK/stocks/ba/cnews/_index.rst
  website/content/SDK/stocks/ba/hist/_index.rst
  website/content/SDK/stocks/ba/trend/_index.rst
  website/content/SDK/stocks/ca/hcorr/_index.rst
  website/content/SDK/stocks/ca/hist/_index.rst
  website/content/SDK/stocks/ca/volume/_index.rst
  website/content/SDK/stocks/candle/_index.rst
  website/content/SDK/stocks/dd/pt/_index.rst
  website/content/SDK/stocks/disc/dividends/_index.rst
  website/content/SDK/stocks/disc/ipo/_index.rst
  website/content/SDK/stocks/dps/ftd/_index.rst
  website/content/SDK/stocks/fa/mktcap/_index.rst
  website/content/SDK/stocks/ins/act/_index.rst
  website/content/SDK/stocks/load/_index.rst
  website/content/SDK/stocks/options/pcr/_index.rst
  website/content/SDK/stocks/screener/historical/_index.rst
Labels: docs

#3351 Improve Forex Helper
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/reports/templates/forex.ipynb
Labels: bug

#3345 Moves the content into the right file/location
  website/content/SDK/common/_index.md
  website/content/SDK/common/qa/_index.md
Labels: docs, guides

#3320 Fixing windows build by updating `pyproject.toml` and commenting out one integration test
  .github/workflows/windows10_build.yml
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_options.openbb
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, build

#3333 Fixing `crytpo/ov/stables` bugs
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
Labels: bug, crypto

#3335 `crypto/ov/categories` sort options
  openbb_terminal/cryptocurrency/overview/overview_controller.py
Labels: bug, crypto

#3322 Removing autocomplete for all limit
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/alternative/oss/oss_controller.py
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/etf/discovery/disc_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/portfolio/brokers/ally/ally_controller.py
  openbb_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/due_diligence/dd_controller.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/government/gov_controller.py
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/stocks_controller.py
Labels: bug

#3156 Feature/attribution toolkit
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio.openbb
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  requirements.txt
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  website/content/terminal/portfolio/attrib/_index.md
  website/data/menu/main.yml
Labels: feat L, portfolio

#3378 Remove mockings
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_filter_log_line_2.txt
Labels: analytics

#3317 [FEAT] Automatic Statistical Forecasting
  openbb_terminal/forecast/autoselect_model.py
  openbb_terminal/forecast/autoselect_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  tests/openbb_terminal/forecast/test_autoselect_model.py
  tests/openbb_terminal/forecast/test_autoselect_view.py
  website/content/terminal/forecast/autoselect/_index.md
  website/data/menu/main.yml
Labels: feat XS

#3339 [FEAT] StatsForecast RandomWalkWithDrift forecasting model
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/rwd_model.py
  openbb_terminal/forecast/rwd_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  tests/openbb_terminal/forecast/test_rwd_model.py
  tests/openbb_terminal/forecast/test_rwd_view.py
  website/content/terminal/forecast/rwd/_index.md
  website/data/menu/main.yml
Labels: feat S

#3354 Sdk dates
  openbb_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  openbb_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
  openbb_terminal/cryptocurrency/onchain/blockchain_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/blockchaincenter_model.py
  openbb_terminal/cryptocurrency/overview/blockchaincenter_view.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_model/test_get_trending[2021-12-21-9-10].yaml
  tests/openbb_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_model/test_get_trending[start0-9-10].yaml
  tests/openbb_terminal/common/behavioural_analysis/csv/test_sentimentinvestor_model/test_get_trending[2021-12-21-9-10].csv
  tests/openbb_terminal/common/behavioural_analysis/test_sentimentinvestor_model.py
  tests/openbb_terminal/common/behavioural_analysis/test_sentimentinvestor_view.py
  tests/openbb_terminal/cryptocurrency/onchain/test_blockchain_view.py
  tests/openbb_terminal/cryptocurrency/overview/test_blockchaincenter_view.py
  website/content/SDK/crypto/dd/active/_index.rst
  website/content/SDK/crypto/dd/change/_index.rst
  website/content/SDK/crypto/dd/eb/_index.rst
  website/content/SDK/crypto/dd/gh/_index.rst
  website/content/SDK/crypto/dd/nonzero/_index.rst
  website/content/SDK/crypto/load/_index.rst
  website/content/SDK/crypto/onchain/btc_supply/_index.rst
  website/content/SDK/crypto/onchain/btc_transac/_index.rst
  website/content/SDK/crypto/onchain/hr/_index.rst
  website/content/SDK/crypto/ov/altindex/_index.rst
  website/content/SDK/etf/candle/_index.rst
  website/content/SDK/etf/load/_index.rst
  website/content/SDK/stocks/ba/trend/_index.rst
  website/content/SDK/stocks/candle/_index.rst
  website/content/SDK/stocks/load/_index.rst
Labels: bug, SDK

#3336 [FEAT] StatsForecast AutoARIMA forecasting model
  openbb_terminal/forecast/autoarima_model.py
  openbb_terminal/forecast/autoarima_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  tests/openbb_terminal/forecast/test_autoarima_model.py
  tests/openbb_terminal/forecast/test_autoarima_view.py
  website/content/terminal/forecast/autoarima/_index.md
  website/data/menu/main.yml
Labels: feat S

#3338 [FEAT] StatsForecast MSTL forecasting model
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/mstl_model.py
  openbb_terminal/forecast/mstl_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  tests/openbb_terminal/forecast/test_mstl_model.py
  tests/openbb_terminal/forecast/test_mstl_view.py
  website/content/terminal/forecast/mstl/_index.md
  website/data/menu/main.yml
Labels: feat S

#3410 fix dashboard imports
  openbb_terminal/dashboards/voila/crypto.ipynb
  openbb_terminal/dashboards/voila/currencies.ipynb
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/dashboards/voila/vsurf.ipynb
Labels: bug

#3419 Change common trails to no trails
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
Labels: feat L, SDK

#3346 Fix economy plot
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/economy/plot_view.py
  openbb_terminal/reports/templates/economy.ipynb
  tests/openbb_terminal/economy/test_economy_controller.py
Labels: bug, feat S

#3417 fix hugo
  website/config.toml
  website/data/menu/main.yml
Labels: bug, feat XS

#3420 SDK bugs
  openbb_terminal/economy/finviz_model.py
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/etf/discovery/wsj_model.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/due_diligence/business_insider_view.py
Labels: bug, feat XS, SDK

#3414 Refactor option chain for sdk
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  openbb_terminal/stocks/options/pricing/pricing_controller.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/openbb_terminal/stocks/options/test_yfinance_model.py
Labels: feat S, feat L, SDK

#3379 Refactoring econometrics for SDK usability
  .pre-commit-config.yaml
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/econometrics/econometrics_helpers.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/econometrics/regression_model.py
  openbb_terminal/econometrics/regression_view.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  tests/openbb_terminal/econometrics/csv/test_econometrics_model/test_get_granger_causality[time_series_y0-time_series_x0-3].csv
  tests/openbb_terminal/econometrics/csv/test_econometrics_model/test_get_granger_causality[time_series_y1-time_series_x1-2].csv
  tests/openbb_terminal/econometrics/csv/test_econometrics_model/test_get_granger_causality[time_series_y2-time_series_x2-1].csv
  tests/openbb_terminal/econometrics/test_econometrics_model.py
  tests/openbb_terminal/econometrics/test_econometrics_view.py
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bgod[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bgod[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bgod[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_coint[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_coint[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_coint[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_compare.txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_desc[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_desc[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_desc[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_dwat[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_dwat[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_dwat[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_granger[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_granger[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_granger[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_index.txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_norm[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_norm[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_norm[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_norm[other3].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_ols[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_ols[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_ols[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_panel[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_panel[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_root[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_root[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_root[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_root[other3].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_show[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_show[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_show[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_show[other3].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_type[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_type[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_type[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_type[other3].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_type[other4].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_type[other5].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_view/test_get_engle_granger_two_step_cointegration_test[datasets0-True-False].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_view/test_get_engle_granger_two_step_cointegration_test[datasets1-False-False].txt
Labels: refactor, feat XL, SDK

#3381 Forecasting sdk and environment changes
  build/conda/conda-3-9-env-full.yaml
  openbb_terminal/SDK_README.md
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, feat XS, SDK

#3429 SDK : use _chart for views
  openbb_terminal/core/library/breadcrumb.py
  openbb_terminal/core/library/metadata.py
  openbb_terminal/core/library/operation.py
  openbb_terminal/core/library/trail_map.py
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
Labels: feat S, feat M

#3421 Fixing `exit` command on forecast menu
  openbb_terminal/forecast/autoselect_model.py
  openbb_terminal/forecast/forecast_controller.py
Labels: bug, feat XS

#3436 Top100docs
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/wsj_model.py
  openbb_terminal/economy/yfinance_model.py
  openbb_terminal/stocks/fundamental_analysis/finviz_model.py
  openbb_terminal/stocks/options/alphaquery_model.py
  openbb_terminal/stocks/options/fdscanner_model.py
  openbb_terminal/stocks/stocks_helper.py
Labels: feat XS

#3440 SDK mapping refactors + FA refactor
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/sdk_helpers.py
Labels: feat S, feat XS, SDK

#3441 Add choices generation
  openbb_terminal/core/completer/choices.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
Labels: feat S

#3433 Fix Bugs
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/alternative/covid/covid_model.py
  openbb_terminal/alternative/covid/covid_view.py
Labels: feat XS

#3384 Audit SDK and View/Model functions
  .gitignore
  openbb_terminal/core/scripts/sdk_audit.py
  openbb_terminal/cryptocurrency/overview/overview_api.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_model.py
  openbb_terminal/stocks/stocks_view.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
Labels: feat S

#3426 Oanda Bug
  .pre-commit-config.yaml
  openbb_terminal/forex/oanda/oanda_controller.py
Labels: bug, feat XS

#3444 Fix reports after SDK changes
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/forex.ipynb
Labels: bug, feat S, feat XS, SDK

#3447 Fix for `covid` cases `export`
  openbb_terminal/alternative/covid/covid_view.py
Labels: bug, feat XS

#3435 Fix forecast report to use `_chart`
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  openbb_terminal/reports/templates/forecast.ipynb
Labels: bug, feat S

#3439 Fixing `crypto/onchain/baas` signature, docstring, and arguments
  openbb_terminal/cryptocurrency/onchain/bitquery_model.py
  openbb_terminal/cryptocurrency/onchain/bitquery_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
Labels: bug, feat XS, crypto

#3437 Small `SDK_README.md` changes
  openbb_terminal/SDK_README.md
Labels: docs, feat XS

#3455 Update sdk on forecast dashboard `_chart`
  openbb_terminal/dashboards/voila/forecast.ipynb
Labels: bug, feat XS

#3475 Choices Generation : Forex
  openbb_terminal/core/completer/choices.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/oanda/oanda_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/forex/technical_analysis/ta_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/forex/quantitative_analysis/test_qa_controller.py
  tests/openbb_terminal/forex/technical_analysis/test_ta_controller.py
Labels: feat S

#3474 Fixing various bugs
  openbb_terminal/core/completer/choices.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/screener/screener_helper.py
  openbb_terminal/stocks/screener/yahoofinance_model.py
  openbb_terminal/stocks/screener/yahoofinance_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[df0].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_dupont[df0].txt
Labels: bug, feat S, feat M, do not merge, feat XS

#3450 Making the SDK more intuitive.
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/sdk_helpers.py
  openbb_terminal/forex/sdk_helpers.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/fundamental_analysis/sdk_helpers.py
Labels: feat S, feat XS, SDK

#3460 Changing options legends sizes
  openbb_terminal/stocks/options/nasdaq_view.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/options/yfinance_view.py
Labels: bug, feat XS

#3443 Portfolio optimization - plot, show and load endpoints
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/miscellaneous/portfolio_examples/optimization/example.ini
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio_po.openbb
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_helper.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_engine.py
  openbb_terminal/portfolio/portfolio_optimization/po_model.py
  openbb_terminal/portfolio/portfolio_optimization/po_view.py
  openbb_terminal/portfolio/portfolio_optimization/statics.py
  tests/openbb_terminal/portfolio/portfolio_optimization/txt/test_po_controller/test_print_help.txt
Labels: bug, feat XL, portfolio, SDK

#3487 Trailmap fix
  openbb_terminal/miscellaneous/library/trail_map.csv
Labels: bug, feat XS, SDK

#3488 Fix #3485
  openbb_terminal/miscellaneous/library/trail_map.csv
Labels: feat XS

#3483 Fixes to Automated Builds
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/windows10_build.yml
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
Labels: bug, feat S, build

#3489 Add a single unit test to check sdk import
  tests/openbb_terminal/test_sdk.py
Labels: tests, feat XS

#3434 Fix crypto 3327
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/crypto_models.py
  openbb_terminal/cryptocurrency/crypto_views.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[bitcoin-CoinPaprika-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[bt-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[bt-CoinGecko-symbol].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[bt-CoinPaprika-symbol].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[bt-Coinbase-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[bt-Coinbase-symbol].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[btc-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[btc-CoinGecko-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[btc-CoinPaprika-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[btc-Coinbase-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[doge-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[doge-CoinGecko-name].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[doge-CoinPaprika-name].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[doge-Coinbase-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[doge-Coinbase-name].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[polka-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_models/test_find[polka-Coinbase-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[bt-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[bt-CoinGecko-symbol].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[bt-CoinPaprika-symbol].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[bt-Coinbase-symbol].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[btc-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[btc-CoinGecko-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[btc-CoinPaprika-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[btc-Coinbase-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[doge-Binance-id].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[doge-CoinGecko-name].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[doge-CoinPaprika-name].yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_crypto_views/test_find[doge-Coinbase-name].yaml
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[bitcoin-CoinPaprika-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[bt-CoinGecko-symbol].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[bt-CoinPaprika-symbol].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[btc-Binance-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[btc-CoinGecko-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[btc-Coinbase-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[doge-Binance-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[doge-CoinGecko-name].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[doge-CoinPaprika-name].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[doge-Coinbase-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[polka-Binance-id].csv
  tests/openbb_terminal/cryptocurrency/csv/test_crypto_models/test_find[polka-Coinbase-id].csv
  tests/openbb_terminal/cryptocurrency/test_crypto_models.py
  tests/openbb_terminal/cryptocurrency/test_crypto_views.py
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[bt-Binance-id].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[bt-CoinGecko-symbol].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[bt-CoinPaprika-symbol].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[bt-Coinbase-symbol].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[btc-Binance-id].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[btc-CoinGecko-id].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[btc-CoinPaprika-id].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[btc-Coinbase-id].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[doge-Binance-id].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[doge-CoinGecko-name].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[doge-CoinPaprika-name].txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_views/test_find[doge-Coinbase-name].txt
Labels: bug, feat XL, crypto

#3499 Add missing qa functions `capm`, `beta`, `cusum`, `acf`, `qqplot`, `hist`, `line`
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/quantitative_analysis/beta_view.py
  tests/openbb_terminal/common/quantitative_analysis/test_qa_view.py
Labels: feat XS

#3477 Stocks Suggestor Repair
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/alternative/oss/oss_controller.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/due_diligence/coinglass_model.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_model.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/cryptocurrency/tools/tools_controller.py
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/brokers/ally/ally_controller.py
  openbb_terminal/portfolio/brokers/bro_controller.py
  openbb_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  openbb_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/stocks/backtesting/bt_controller.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/due_diligence/dd_controller.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/government/gov_controller.py
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/pricing/pricing_controller.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/research/res_controller.py
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/openbb_terminal/cryptocurrency/nft/test_nft_controller.py
  tests/openbb_terminal/cryptocurrency/overview/test_overview_controller.py
  tests/openbb_terminal/futures/test_futures_controller.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
Labels: feat L, feat XL

#3497 Add keys examples in docstrings
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/library/trail_map.csv
Labels: docs, feat M, SDK

#3480 More sdk enhancements
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/discovery/sdk_helpers.py
  openbb_terminal/cryptocurrency/overview/coinpaprika_model.py
  openbb_terminal/cryptocurrency/overview/coinpaprika_view.py
  openbb_terminal/cryptocurrency/overview/sdk_helpers.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/stocks/comparison_analysis/sdk_helpers.py
  openbb_terminal/stocks/options/chartexchange_model.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/options_sdk_helper.py
Labels: feat S, feat M, feat XS, SDK

#3509 Report fixes
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
Labels: bug, feat XS

#3407 Sdk markdown generation
  .github/workflows/gh-pages.yml
  .gitignore
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/gen-docs.yml
  website/generate_sdk_markdown.py
Labels: docs, enhancement, feat S, feat XL, feat XS

#3522 Suppress logs for dashboards
  openbb_terminal/dashboards/dashboards_controller.py
Labels: bug, feat XS, dashboards, analytics

#3523 Fix crypto/dd/eb in SDK
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
Labels: bug, feat S, feat XS, SDK

#3535 Make docs go fast....maybe?
  .github/workflows/test.yml
Labels: enhancement, feat XS

#3525 Add clenow and demark to SDK
  openbb_terminal/common/technical_analysis/momentum_model.py
  openbb_terminal/common/technical_analysis/momentum_view.py
  openbb_terminal/miscellaneous/library/trail_map.csv
Labels: bug, feat XS

#3524 Fix incorrect date typing in signatures
  openbb_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  openbb_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  openbb_terminal/common/newsapi_model.py
  openbb_terminal/common/newsapi_view.py
  openbb_terminal/common/technical_analysis/overlap_view.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
  openbb_terminal/cryptocurrency/due_diligence/messari_view.py
  openbb_terminal/cryptocurrency/due_diligence/santiment_model.py
  openbb_terminal/cryptocurrency/due_diligence/santiment_view.py
  openbb_terminal/cryptocurrency/onchain/blockchain_view.py
  openbb_terminal/cryptocurrency/overview/blockchaincenter_model.py
  openbb_terminal/cryptocurrency/overview/blockchaincenter_view.py
  openbb_terminal/cryptocurrency/overview/glassnode_model.py
  openbb_terminal/cryptocurrency/overview/glassnode_view.py
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/forex/polygon_model.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/stocks/behavioural_analysis/finnhub_model.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  openbb_terminal/stocks/dark_pool_shorts/sec_view.py
  openbb_terminal/stocks/discovery/finnhub_model.py
  openbb_terminal/stocks/due_diligence/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/insider/businessinsider_view.py
  openbb_terminal/stocks/options/alphaquery_model.py
Labels: feat M

#3536 Change back the test runs
  .github/workflows/test.yml
Labels: tests, feat XS

#3538 Fix linter issue
  .github/workflows/gh-pages.yml
  openbb_terminal/SDK_README.md
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/stocks/options/chartexchange_model.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  openbb_terminal/terminal_helper.py
  pyproject.toml
  website/content/sdk/quickstart/installation.md
Labels: bug, feat XS

#3528 Get data by default on pt_chart
  openbb_terminal/stocks/due_diligence/business_insider_model.py
  openbb_terminal/stocks/due_diligence/business_insider_view.py
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_business_insider_view/test_price_target_from_analysts_raw.yaml
  tests/openbb_terminal/stocks/due_diligence/txt/test_business_insider_view/test_price_target_from_analysts_raw.txt
Labels: bug, feat XL, feat XS, SDK

#3445 Filtering duplicate logs
  openbb_terminal/core/library/operation.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/log/generation/path_tracking_file_handler.py
  openbb_terminal/cryptocurrency/pyth_model.py
Labels: feat XS

#3540 Adds missing commands to QA; moves it out of Stocks; to be like TA
  website/content/sdk/guides/intros/quantitative-analysis.md
Labels: feat S, feat XS, guides

#3544 Improve version check
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/test_terminal_helper.py
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[2.0.0-2.0.0rc1].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[2.0.0rc1-2.0.0].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[2.0.0rc1-2.0.0rc2].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[2.0.0rc2-2.0.0rc1].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[3.41.99-3.41.99].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[3.41.99-3.41.99rc1].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[3.41.99-88.123.456].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[8.10.01-8.1.01].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[88.123.456-3.41.99].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[v0.0.1-v0.0.1].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[v0.0.1-v0.0.2].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[v0.0.2-v0.0.1].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[v1.10.0-v1.9.0].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[v1.9.0-v1.10.0].txt
  tests/openbb_terminal/txt/test_terminal_helper/test_check_for_updates[xyz-v1.9.0].txt
Labels: enhancement, feat S

#3542 Many improvements to the documentation
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  openbb_terminal/DOCKER_README.md
  openbb_terminal/README.md
  website/content/sdk/guides/intros/forecast.md
  website/content/sdk/guides/intros/portfolio/index.md
  website/content/sdk/guides/intros/portfolio/po.md
  website/content/sdk/guides/intros/stocks/behavioral-analysis.md
  website/content/sdk/guides/intros/stocks/discovery.md
  website/content/sdk/guides/intros/stocks/fundamental-analysis.md
  website/content/sdk/quickstart/faq.md
  website/content/sdk/quickstart/requirements.md
  website/content/terminal/guides/advanced/_category_.json
  website/content/terminal/guides/advanced/changing_sources.md
  website/content/terminal/guides/advanced/customizing_the_terminal.md
  website/content/terminal/guides/advanced/scripts_and_routines.md
  website/content/terminal/guides/basics/_category_.json
  website/content/terminal/guides/basics/data.md
  website/content/terminal/guides/basics/keys.md
  website/content/terminal/guides/basics/menus_commands.md
  website/content/terminal/guides/basics/structure.md
  website/content/terminal/guides/intros/_category_.json
  website/content/terminal/guides/intros/crypto/dd.md
  website/content/terminal/guides/intros/crypto/defi.md
  website/content/terminal/guides/intros/crypto/disc.md
  website/content/terminal/guides/intros/crypto/index.md
  website/content/terminal/guides/intros/crypto/nft.md
  website/content/terminal/guides/intros/crypto/onchain.md
  website/content/terminal/guides/intros/crypto/ov.md
  website/content/terminal/guides/intros/forecast.md
  website/content/terminal/guides/intros/reports.md
  website/content/terminal/guides/intros/scripts.md
  website/content/terminal/index.md
  website/content/terminal/quickstart/data.md
  website/content/terminal/quickstart/faq.md
  website/content/terminal/quickstart/installation.md
  website/content/terminal/quickstart/menus.md
  website/content/terminal/quickstart/requirements.md
  website/content/terminal/quickstart/scripts.md
  website/content/terminal/quickstart/troubleshooting.md
  website/src/theme/Footer/index.js
Labels: docs, feat XL

#3548 edits for `pip install openbbterminal[extras]` --> pip install openbb[extras]
  website/content/sdk/quickstart/installation.md
Labels: docs, feat XS

#3550 SDK import no extras warning
  openbb_terminal/core/library/trail_map.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/miscellaneous/library/trail_map_optimization.csv
  openbb_terminal/reports/reports_controller.py
Labels: feat S

#3547 Fixes some things with SDK Guide for CA, and adds an additional example
  website/content/sdk/guides/intros/stocks/comparison-analysis.md
Labels: feat XS

#3556 Fix SDK - `openbb.ta.ma_chart` - Command fails if index column is not labeled: "date".
  openbb_terminal/common/technical_analysis/overlap_view.py
Labels: bug, feat XS, SDK

#3554 Fixing Forecast SDK with data from other menus
  openbb_terminal/forecast/forecast_model.py
  openbb_terminal/forecast/helpers.py
  website/content/sdk/guides/intros/forecast.md
Labels: bug, feat XS

#3557 Fix [Bug] SDK - `openbb.crpyto.ov.stables` - Error: 'rank' (works in Terminal though)
  openbb_terminal/cryptocurrency/overview/pycoingecko_model.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_pycoingecko_view/test_coin_stablecoins.yaml
  tests/openbb_terminal/cryptocurrency/overview/test_pycoingecko_view.py
  tests/openbb_terminal/cryptocurrency/overview/txt/test_pycoingecko_view/test_coin_stablecoins.txt
Labels: bug, feat S, SDK
