Repository OpenBB-finance/OpenBB, pull requests merged in 2022-05, with the labels that each got.

#1745 Adding stock price comparison via -c flag
  openbb_terminal/common/behavioural_analysis/twitter_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/test_ba_controller.py
Labels: enhancement

#1746 Adds an additional ~50 global or sector indices; improves global coverage and autocomplete.
  openbb_terminal/economy/yfinance_model.py
Labels: feat XS

#1757 Polygon stock load
  .pre-commit-config.yaml
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-polygon].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[60-polygon].yaml
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[1440-polygon].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-polygon].csv
  tests/openbb_terminal/stocks/test_stocks_helper.py
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
  website/content/terminal/stocks/codes/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1759 Allow exporting from stocks/ca/hcorr
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  tests/openbb_terminal/stocks/comparison_analysis/test_ca_controller.py
Labels: bug

#1707 Add Logger Tests
  openbb_terminal/core/log/collection/s3_sender.py
  openbb_terminal/core/log/generation/expired_files.py
  tests/FIXTURES.md
  tests/openbb_terminal/core/log/collection/cassettes/test_s3_sender/test_fetch_presigned_url.yaml
  tests/openbb_terminal/core/log/collection/test_log_sender.py
  tests/openbb_terminal/core/log/collection/test_logging_clock.py
  tests/openbb_terminal/core/log/collection/test_s3_sender.py
  tests/openbb_terminal/core/log/conftest.py
  tests/openbb_terminal/core/log/generation/test_directories.py
  tests/openbb_terminal/core/log/generation/test_expired_files.py
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
  tests/openbb_terminal/core/log/generation/test_path_tracking_file_handler.py
  tests/openbb_terminal/core/log/generation/test_settings.py
  tests/openbb_terminal/core/log/test_constants.py
  tests/openbb_terminal/economy/test_cnn_model.py
  tests/openbb_terminal/test_loggers.py
Labels: tests

#1760 Improves PO controller from UX perspective
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  tests/openbb_terminal/portfolio/portfolio_optimization/test_po_controller.py
  tests/openbb_terminal/portfolio/portfolio_optimization/txt/test_po_controller/test_print_help.txt
Labels: feat S

#1763 Fix some linting errors
  openbb_terminal/cryptocurrency/onchain/ethplorer_view.py
  openbb_terminal/keys_controller.py
Labels: enhancement

#1767 Fix bugs, remove feargeed and improve help messages
  bots/cmds/economy_cmds.py
  bots/common/commands_dict.py
  bots/common/help_text.py
  bots/economy/feargreed.py
  bots/helpers.py
  bots/requirements.txt
  bots/telegram/run_telegram.py
  docs/code/gamestonk_terminal.economy.rst
  openbb_terminal/common/behavioural_analysis/stocktwits_view.py
  openbb_terminal/cryptocurrency/defi/defirate_model.py
  openbb_terminal/cryptocurrency/onchain/whale_alert_model.py
  openbb_terminal/cryptocurrency/onchain/whale_alert_view.py
  openbb_terminal/economy/cnn_model.py
  openbb_terminal/economy/cnn_view.py
  openbb_terminal/economy/economy_api.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/keys_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_economy.openbb
  scripts/test_stocks_ba.openbb
  tests/bots/economy/cassettes/test_feargreed/test_feargreed_command.yaml
  tests/bots/economy/test_feargreed.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_model/test_get_borrow_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_model/test_get_funding_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_model/test_get_lending_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_view/test_display_borrow_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_view/test_display_funding_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defirate_view/test_display_lending_rates.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defirate_model/test_get_borrow_rates.csv
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defirate_model/test_get_funding_rates.csv
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defirate_model/test_get_lending_rates.csv
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defirate_view/test_display_borrow_rates.txt
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defirate_view/test_display_funding_rates.txt
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defirate_view/test_display_lending_rates.txt
  tests/openbb_terminal/economy/cassettes/test_cnn_model/test_get_feargreed_report.yaml
  tests/openbb_terminal/economy/cassettes/test_cnn_view/test_get_feargreed_report.yaml
  tests/openbb_terminal/economy/test_cnn_model.py
  tests/openbb_terminal/economy/test_cnn_view.py
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/txt/test_cnn_model/test_get_feargreed_report[None].txt
  tests/openbb_terminal/economy/txt/test_cnn_model/test_get_feargreed_report[index].txt
  tests/openbb_terminal/economy/txt/test_cnn_model/test_get_feargreed_report[sps].txt
  tests/openbb_terminal/economy/txt/test_cnn_view/test_get_feargreed_report.txt
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/test_terminal_helper.py
  website/content/bots/discord/econ/_index.md
  website/content/bots/discord/econ/feargreed/_index.md
  website/content/terminal/economy/feargreed/_index.md
  website/data/menu/main.yml
Labels: bug

#1769 Bump project version to 1.2.0
  pyproject.toml
Labels: dependencies

#1770 Fix rich tables treating loss as a small value
  openbb_terminal/helper_funcs.py
  pyproject.toml
Labels: bug

#1775 Fix API table
  openbb_terminal/README.md
Labels: docs

#1777 crypto pred mc command number arg error fix
  openbb_terminal/cryptocurrency/prediction_techniques/pred_controller.py
Labels: bug

#1779 controller start set in datetime when load data from iex source
  openbb_terminal/parent_classes.py
Labels: bug

#1761 stock search error fix
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#1780 Duplicated code remove
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
Labels: bug

#1786 fix coindix api call error
  openbb_terminal/cryptocurrency/defi/coindix_model.py
Labels: bug

#1787 fix crypto/disc/drnft error
  openbb_terminal/cryptocurrency/discovery/dappradar_model.py
Labels: bug

#1774 Add stock fundamentals from polygon
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/polygon_model.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_bad_ticker.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[balance-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[balance-True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[income-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[income-True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_bad_ticker.csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict0].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict1].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict2].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict3].csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_polygon_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_polygon_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-True].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-True].txt
Labels: feat XS

#1788 Simplify way to generate report templates
  openbb_terminal/jupyter/reports/equity.ipynb
  openbb_terminal/jupyter/widget_helpers.py
Labels: enhancement

#1709 Add terminal-wide report command
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/cryptocurrency/tools/tools_controller.py
  openbb_terminal/custom/custom_controller.py
  openbb_terminal/custom/prediction_techniques/pred_controller.py
  openbb_terminal/custom/quantitative_analysis/qa_controller.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/prediction/pred_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/etf/discovery/disc_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/prediction_techniques/pred_controller.py
  openbb_terminal/etf/screener/screener_controller.py
  openbb_terminal/etf/technical_analysis/ta_controller.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/oanda/oanda_controller.py
  openbb_terminal/forex/prediction_techniques/pred_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/forex/technical_analysis/ta_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/jupyter/dashboards/dashboards_controller.py
  openbb_terminal/jupyter/reports/reports_controller.py
  openbb_terminal/keys_controller.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/brokers/bro_controller.py
  openbb_terminal/portfolio/portfolio_analysis/pa_controller.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  terminal.py
Labels: feat L

#1743 Refactored Crypto Tests
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_get_coins.yaml
  tests/openbb_terminal/cryptocurrency/csv/test_cryptocurrency_helpers/test_create_closet_match_df.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/test_glassnode_view.py
  tests/openbb_terminal/cryptocurrency/json/test_cryptocurrency_helpers/test_load_coins_list.json
  tests/openbb_terminal/cryptocurrency/json/test_cryptocurrency_helpers/test_read_data_file.json
  tests/openbb_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/openbb_terminal/cryptocurrency/txt/test_cryptocurrency_helpers/test_coin_chart.txt
  tests/openbb_terminal/cryptocurrency/txt/test_cryptocurrency_helpers/test_get_coins.txt
Labels: tests

#1792 Update README - Very minor grammatical typos
  README.md
Labels: enhancement

#1790 change view_vwap to specify date range
  openbb_terminal/common/technical_analysis/overlap_model.py
  openbb_terminal/common/technical_analysis/overlap_view.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
Labels: bug

#1795 Fix crypto loading for Binance
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: bug

#1697 Trading hours stock feature
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/tradinghours/README.md
  openbb_terminal/stocks/tradinghours/__init__.py
  openbb_terminal/stocks/tradinghours/bursa_model.py
  openbb_terminal/stocks/tradinghours/bursa_view.py
  openbb_terminal/stocks/tradinghours/data/__init__.py
  openbb_terminal/stocks/tradinghours/data/bursa_open_hours.json
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  openbb_terminal/stocks/tradinghours/tradinghours_helper.py
  terminal.py
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
  website/content/terminal/stocks/_index.md
  website/content/terminal/stocks/tradinghours/_index.md
  website/content/terminal/stocks/tradinghours/all/_index.md
  website/content/terminal/stocks/tradinghours/closed/_index.md
  website/content/terminal/stocks/tradinghours/exchange/_index.md
  website/content/terminal/stocks/tradinghours/open/_index.md
  website/content/terminal/stocks/tradinghours/symbol/_index.md
  website/data/menu/main.yml
Labels: feat S

#1799 Add /crypto/ta/kc implementation
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
Labels: bug

#1800 Fixes 1636 - hugo docs showing white bg
  website/content/_index.md
  website/content/gst_logo_lockup_rGreen_with_letters.png
  website/content/terminal/stocks/_index.md
  website/content/terminal/stocks/tradinghours/_index.md
  website/data/menu/main.yml
  website/themes/hugo-geekdoc/static/custom.css
Labels: docs

#1803 Fix regression bug introduced by #1709 regarding support command
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/cryptocurrency/tools/tools_controller.py
  openbb_terminal/custom/custom_controller.py
  openbb_terminal/custom/prediction_techniques/pred_controller.py
  openbb_terminal/custom/quantitative_analysis/qa_controller.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/prediction/pred_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/etf/discovery/disc_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/prediction_techniques/pred_controller.py
  openbb_terminal/etf/screener/screener_controller.py
  openbb_terminal/etf/technical_analysis/ta_controller.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/oanda/oanda_controller.py
  openbb_terminal/forex/prediction_techniques/pred_controller.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  openbb_terminal/forex/technical_analysis/ta_controller.py
  openbb_terminal/jupyter/dashboards/dashboards_controller.py
  openbb_terminal/jupyter/reports/reports_controller.py
  openbb_terminal/keys_controller.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/brokers/bro_controller.py
  openbb_terminal/portfolio/portfolio_analysis/pa_controller.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
  openbb_terminal/stocks/stocks_controller.py
  terminal.py
Labels: bug

#1802 Fixes 1793 - Bring stocks ta new commands to crypto
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
Labels: bug

#1804 Improve overall UX
  openbb_terminal/feature_flags.py
  openbb_terminal/rich_config.py
  openbb_terminal/terminal_helper.py
  terminal.py
Labels: docs, enhancement

#1801 Fixes 1798 - mt command
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
  openbb_terminal/cryptocurrency/due_diligence/messari_view.py
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_available_timeseries.yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_coin_tokenomics[aave].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_fundraising[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_governance[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_investors[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_links[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_marketcap_dominance[btc-1d-2022-01-10-2022-03-08].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_messari_timeseries[btc-1d-2022-01-10-2022-03-08-sply.circ].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_project_product_info[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_roadmap[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_team[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_available_timeseries.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_coin_tokenomics[aave].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_marketcap_dominance[btc-1d-2022-01-10-2022-03-08].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_messari_timeseries[btc-1d-2022-01-10-2022-03-08-sply.circ].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/test_messari_model.py
Labels: bug

#1805 Reports and Dashboards to be one level above
  openbb_terminal/__init__.py
  openbb_terminal/api.py
  openbb_terminal/dashboards/__init__.py
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/widget_helpers.py
  openbb_terminal/dashboards/widgets/card.j2
  openbb_terminal/dashboards/widgets/currencies.json
  openbb_terminal/dashboards/widgets/style.css
  openbb_terminal/jupyter/dashboards/chains.ipynb
  openbb_terminal/jupyter/dashboards/correlation.ipynb
  openbb_terminal/jupyter/dashboards/crypto.ipynb
  openbb_terminal/jupyter/dashboards/currencies.ipynb
  openbb_terminal/jupyter/dashboards/shortdata.ipynb
  openbb_terminal/jupyter/dashboards/stocks.ipynb
  openbb_terminal/jupyter/dashboards/vsurf.ipynb
  openbb_terminal/jupyter/jupyter_controller.py
  openbb_terminal/jupyter/reports/crypto_market.ipynb
  openbb_terminal/jupyter/reports/dark_pool.ipynb
  openbb_terminal/jupyter/reports/due_dilligence.ipynb
  openbb_terminal/jupyter/reports/econ_data.ipynb
  openbb_terminal/jupyter/reports/equity.ipynb
  openbb_terminal/jupyter/reports/similar_analysis.ipynb
  openbb_terminal/reports/.ipynb_checkpoints/test-checkpoint.html
  openbb_terminal/reports/OpenBB_reports_logo.png
  openbb_terminal/reports/README.md
  openbb_terminal/reports/__init__.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/reports/stored/.gitkeep
  openbb_terminal/reports/stored/20220512_040312_equity_NVDA.html
  openbb_terminal/reports/widget_helpers.py
  openbb_terminal/reports/widgets/card.j2
  openbb_terminal/reports/widgets/report.css
  openbb_terminal/reports/widgets/report.j2
  openbb_terminal/reports/widgets/row.j2
  openbb_terminal/reports/widgets/style.css
  terminal.py
  tests/openbb_terminal/jupyter/dashboards/__init__.py
  tests/openbb_terminal/jupyter/dashboards/test_dashboards_controller.py
  tests/openbb_terminal/jupyter/dashboards/txt/test_dashboards_controller/test_print_help.txt
  tests/openbb_terminal/jupyter/test_jupyter_controller.py
  tests/openbb_terminal/jupyter/txt/test_jupyter_controller/test_print_help.txt
Labels: enhancement

#1806 OpenBB Terminal blended signature
  .gitignore
  openbb_terminal/rich_config.py
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_available_timeseries.yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_coin_tokenomics[aave].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_fundraising[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_governance[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_investors[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_links[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_marketcap_dominance[btc-1d-2022-01-10-2022-03-08].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_messari_timeseries[btc-1d-2022-01-10-2022-03-08-sply.circ].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_project_product_info[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_roadmap[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_messari_model/test_get_team[eth].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_available_timeseries.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_coin_tokenomics[aave].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_marketcap_dominance[BTC-1d-2022-01-10-2022-03-08].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_messari_timeseries[BTC-1d-2022-01-10-2022-03-08-sply.circ].csv
Labels: enhancement

#1807 Update project version
  pyproject.toml
Labels: build, installer

#1812 Re-add notebooks removed by #1805
  openbb_terminal/dashboards/chains.ipynb
  openbb_terminal/dashboards/correlation.ipynb
  openbb_terminal/dashboards/crypto.ipynb
  openbb_terminal/dashboards/currencies.ipynb
  openbb_terminal/dashboards/shortdata.ipynb
  openbb_terminal/dashboards/stocks.ipynb
  openbb_terminal/dashboards/vsurf.ipynb
  openbb_terminal/reports/equity.ipynb
Labels: bug

#1811 Updates a small typo in index list of economy/yfinance_model.py & also adds additional indices to the list.
  openbb_terminal/economy/yfinance_model.py
Labels: feat XS

#1813 Improve main terminal menu + small alignments
  openbb_terminal/feature_flags.py
  openbb_terminal/forex/forex_controller.py
  terminal.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: feat XS

#1773 Add comparisons between the portfolio and benchmark including an orderbook sheet
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  openbb_terminal/portfolio/portfolios/bitcoin.csv
  openbb_terminal/portfolio/portfolios/cash.csv
  openbb_terminal/portfolio/portfolios/example.csv
  openbb_terminal/portfolio/portfolios/market.csv
  portfolio/holdings/Public_Equity_Orderbook.xlsx
  portfolio/holdings/bitcoin.csv
  portfolio/holdings/example.csv
  portfolio/holdings/market.csv
  scripts/test_port.openbb
  scripts/test_portfolio.openbb
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_fundraising[ETH]_1.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_fundraising[ETH]_2.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_fundraising[ETH]_3.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_governance[ETH]_1.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_investors[ETH].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_investors[ETH]_1.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_links[ETH].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_project_product_info[ETH].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_project_product_info[ETH]_1.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_project_product_info[ETH]_2.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_project_product_info[ETH]_3.csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_roadmap[ETH].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_team[ETH].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_messari_model/test_get_team[ETH]_1.csv
  tests/openbb_terminal/portfolio/test_portfolio_controller.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  website/content/terminal/portfolio/add/_index.md
  website/content/terminal/portfolio/alloc/_index.md
  website/content/terminal/portfolio/bench/_index.md
  website/content/terminal/portfolio/build/_index.md
  website/content/terminal/portfolio/init/_index.md
  website/content/terminal/portfolio/load/_index.md
  website/content/terminal/portfolio/perf/_index.md
  website/content/terminal/portfolio/save/_index.md
  website/content/terminal/portfolio/show/_index.md
  website/data/menu/main.yml
Labels: feat M

#1768 Feature/hedge
  bots/stocks/options/hist.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/hedge/hedge_model.py
  openbb_terminal/stocks/options/hedge/hedge_view.py
  openbb_terminal/stocks/options/options_api.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/payoff_controller.py
  openbb_terminal/stocks/options/pricing/pricing_controller.py
  openbb_terminal/stocks/options/screen/__init__.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_view/test_view_historical_greeks.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_view/test_view_screener_output.yaml
  tests/openbb_terminal/stocks/options/test_options_controller.py
  tests/openbb_terminal/stocks/options/test_payoff_controller.py
  tests/openbb_terminal/stocks/options/test_pricing_controller.py
  tests/openbb_terminal/stocks/options/test_screener_controller.py
  tests/openbb_terminal/stocks/options/test_syncretism_model.py
  tests/openbb_terminal/stocks/options/test_syncretism_view.py
  tests/openbb_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output.txt
  website/content/terminal/stocks/options/hedge/_index.md
  website/content/terminal/stocks/options/hedge/add/_index.md
  website/content/terminal/stocks/options/hedge/list/_index.md
  website/content/terminal/stocks/options/hedge/pick/_index.md
  website/content/terminal/stocks/options/hedge/rmv/_index.md
  website/content/terminal/stocks/options/hedge/sop/_index.md
  website/data/menu/main.yml
Labels: feat M

#1816 Add a luna crash custom reports
  .gitignore
  openbb_terminal/custom_reports/lunar_crash/coin_highs.png
  openbb_terminal/custom_reports/lunar_crash/luna_crash.html
  openbb_terminal/custom_reports/lunar_crash/luna_supply.png
  openbb_terminal/custom_reports/lunar_crash/luna_terra.png
  openbb_terminal/custom_reports/lunar_crash/lunatics.ipynb
  openbb_terminal/custom_reports/lunar_crash/tvl.png
  openbb_terminal/custom_reports/lunar_crash/ust_terra.png
  openbb_terminal/reports/widget_helpers.py
Labels: feat XS

#1832 Tidy up autoloading in places
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/parent_classes.py
Labels: feat XS

#1734 Feature/yieldcurve
  openbb_terminal/config_terminal.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/investingcom_model.py
  openbb_terminal/economy/investingcom_view.py
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/test_investingcom_model.py
  tests/openbb_terminal/economy/test_investingcom_view.py
  tests/openbb_terminal/economy/txt/test_econdb_view/test_show_treasuries[instruments0-maturities0-monthly-2020-01-01-2020-02-03].txt
  tests/openbb_terminal/economy/txt/test_econdb_view/test_show_treasuries[instruments1-maturities1-annually-2015-01-04-2015-01-28].txt
  tests/openbb_terminal/economy/txt/test_econdb_view/test_show_treasuries[instruments2-maturities2-weekly-2018-06-05-2018-07-06].txt
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  website/data/menu/main.yml
Labels: feat XS

#1818 Portfolio improvements
  openbb_terminal/helper_funcs.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  website/content/terminal/economy/ycrv/_index.md
  website/content/terminal/economy/yield/_index.md
  website/content/terminal/portfolio/al/_index.md
  website/content/terminal/portfolio/cret/_index.md
  website/content/terminal/portfolio/dd/_index.md
  website/content/terminal/portfolio/distr/_index.md
  website/content/terminal/portfolio/dret/_index.md
  website/content/terminal/portfolio/holdp/_index.md
  website/content/terminal/portfolio/holdv/_index.md
  website/content/terminal/portfolio/maxdd/_index.md
  website/content/terminal/portfolio/metric/_index.md
  website/content/terminal/portfolio/mret/_index.md
  website/content/terminal/portfolio/rbeta/_index.md
  website/content/terminal/portfolio/rmr/_index.md
  website/content/terminal/portfolio/rolling/_index.md
  website/content/terminal/portfolio/rsharpe/_index.md
  website/content/terminal/portfolio/rsort/_index.md
  website/content/terminal/portfolio/rvol/_index.md
  website/content/terminal/portfolio/sh/_index.md
  website/content/terminal/portfolio/so/_index.md
  website/content/terminal/portfolio/summary/_index.md
  website/content/terminal/portfolio/yret/_index.md
  website/data/menu/main.yml
Labels: bug, feat M

#1840 Deprecate stocks/dps/volexch
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  tests/openbb_terminal/stocks/dark_pool_shorts/test_dps_controller.py
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_dps_controller/test_print_help.txt
  website/data/menu/main.yml
Labels: bug

#1841 Fix backtesting tz
  openbb_terminal/stocks/backtesting/bt_model.py
  openbb_terminal/stocks/backtesting/bt_view.py
Labels: bug

#1837 Add in the Getting Started guide
  guides/getting_started.md
  guides/getting_started/getting_started.md
  guides/getting_started/keys/images/.gitkeep
  guides/getting_started/keys/sub_level_template.md
  guides/getting_started/scripts/images/.gitkeep
  guides/getting_started/scripts/sub_level_template.md
  guides/getting_started/settings/images/.gitkeep
  guides/getting_started/settings/sub_level_template.md
  guides/images/.gitkeep
  guides/images/amazon_candle_chart.png
  guides/images/api_keys.png
  guides/images/macos/mac_os_installation.png
  guides/images/macos/malicious_software_warning.png
  guides/images/macos/option_one_warning_fix.png
  guides/images/macos/option_two_warning_fix.png
  guides/images/main_menu.png
  guides/images/stocks_menu.png
  guides/images/support_command.png
  guides/images/windows/run_anyway.png
  guides/images/windows/run_the_terminal.png
  guides/images/windows/windows_protected_your_pc.png
Labels: docs

#1853 Bounty Hunter mood: 11 bugs fixed
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/government/gov_controller.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/yfinance_view.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: bug

#1854 Added the legend
  openbb_terminal/stocks/options/yfinance_view.py
Labels: bug

#1846 Support command redirects to Support page on Website
  openbb_terminal/helper_funcs.py
Labels: enhancement

#1851 Time-series forecasting (Exponential Smoothing) with Darts Integration
  i18n/en.yml
  openbb_terminal/README.md
  openbb_terminal/common/prediction_techniques/ets_view.py
  openbb_terminal/common/prediction_techniques/expo_model.py
  openbb_terminal/common/prediction_techniques/expo_view.py
  openbb_terminal/common/prediction_techniques/pred_helper.py
  openbb_terminal/stocks/prediction_techniques/pred_api.py
  openbb_terminal/stocks/prediction_techniques/pred_controller.py
  openbb_terminal/stocks/stocks_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_stocks_pred.openbb
  website/content/terminal/common/prediction_techniques/expo/_index.md
  website/data/menu/main.yml
Labels: feat S

#1859 Fix scientific notation for zeros and options greeks
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/options/options_api.py
  openbb_terminal/stocks/options/yfinance_view.py
Labels: bug

#1864 Refactor main menu to have: Settings and Feature Flags menus
  .github/workflows/test.yml
  .pre-commit-config.yaml
  i18n/README.md
  i18n/en.yml
  openbb_terminal/featflags_controller.py
  openbb_terminal/settings_controller.py
  openbb_terminal/stocks/insider/openinsider_view.py
  openbb_terminal/timezone.openbb
  terminal.py
  tests/openbb_terminal/stocks/insider/cassettes/test_openinsider_view/test_print_insider_data.yaml
  tests/openbb_terminal/stocks/insider/cassettes/test_openinsider_view/test_print_insider_filter.yaml
  tests/openbb_terminal/stocks/insider/txt/test_insider_controller/test_print_help.txt
  tests/openbb_terminal/stocks/insider/txt/test_openinsider_view/test_print_insider_filter.txt
  tests/openbb_terminal/test_featflags_controller.py
  tests/openbb_terminal/test_settings_controller.py
Labels: enhancement

#1863 This PR uploads Guides (.md and images) for Behavioural Analysis and Trading Hours
  .pre-commit-config.yaml
  guides/stocks/behavioural_analysis/images/ba_headlines.png
  guides/stocks/behavioural_analysis/images/ba_hist.png
  guides/stocks/behavioural_analysis/images/ba_jctr.png
  guides/stocks/behavioural_analysis/images/ba_sentiment.png
  guides/stocks/behavioural_analysis/images/ba_snews.png
  guides/stocks/behavioural_analysis/images/behavioural_analysis1.png
  guides/stocks/behavioural_analysis/images/behavioural_analysis2.png
  guides/stocks/behavioural_analysis/introduction_to_behavioural_analysis.md
  guides/stocks/trading_hours/images/trading_hours1.png
  guides/stocks/trading_hours/images/trading_hours2.png
  guides/stocks/trading_hours/introduction_to_trading_hours.md
Labels: docs

#1855 Improved fraud function
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[df0].txt
  website/content/terminal/stocks/fundamental_analysis/fraud/_index.md
Labels: bug, enhancement

#1871 Clean up forex menu. Add in polygon load
  .pre-commit-config.yaml
  i18n/en.yml
  openbb_terminal/forex/data/polygon_tickers.csv
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/forex/fxempire_model.py
  openbb_terminal/forex/fxempire_view.py
  openbb_terminal/forex/polygon_model.py
  tests/openbb_terminal/forex/cassettes/test_fxempire_model/test_forwards.yaml
  tests/openbb_terminal/forex/cassettes/test_fxempire_model/test_forwards_not_known.yaml
  tests/openbb_terminal/forex/cassettes/test_fxempire_view/test_forwards.yaml
  tests/openbb_terminal/forex/cassettes/test_fxempire_view/test_forwards_not_known.yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_bad_symbols.yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[EURUSD].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[USDEUR].yaml
  tests/openbb_terminal/forex/csv/test_fxempire_model/test_forwards.csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[EURUSD].csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[USDEUR].csv
  tests/openbb_terminal/forex/test_forex_controller.py
  tests/openbb_terminal/forex/test_polygon_model.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
  tests/openbb_terminal/forex/txt/test_fxempire_view/test_forwards.txt
  tests/openbb_terminal/forex/txt/test_polygon_model/test_bad_symbols.txt
  website/content/terminal/forex/candle/_index.md
  website/content/terminal/forex/from/_index.md
  website/content/terminal/forex/load/_index.md
  website/data/menu/main.yml
Labels: feat S

#1875 Fix economy/fred bug
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_view.py
Labels: bug

#1876 Allow for reports an easy exit when something fails and other fixes
  openbb_terminal/helper_funcs.py
  openbb_terminal/reports/equity.ipynb
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/due_diligence/marketwatch_model.py
Labels: bug, enhancement

#1880 Get rid of qa interval warning
  openbb_terminal/stocks/stocks_controller.py
Labels: bug

#1881 Oops this should be fixed
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_bad_symbols.yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[EURUSD].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[USDEUR].yaml
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[EURUSD].csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[USDEUR].csv
Labels: bug

#1885 Update pred deps and instructions
  .pre-commit-config.yaml
  bots/requirements.txt
  openbb_terminal/README.md
  openbb_terminal/common/prediction_techniques/expo_model.py
  openbb_terminal/common/prediction_techniques/expo_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_coin_api_load.yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_coin_api_load_df_for_ta.yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_coin_chart.yaml
  tests/openbb_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_yieldcurve[germany].yaml
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_yieldcurve[portugal].yaml
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_yieldcurve[spain].yaml
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_yieldcurve[united states].yaml
  tests/openbb_terminal/economy/test_investingcom_model.py
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_bad_symbols.yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[EURUSD].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[USDEUR].yaml
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[EURUSD].csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[USDEUR].csv
Labels: docs, dependencies

#1888 Fix tests and bump pandas version
  .github/workflows/test.yml
  bots/requirements.txt
  openbb_terminal/alternative/covid/covid_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_trending-kwargs3].txt
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_bad_symbols.yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_bad_symbols[BADTICKER-2022-02-20-2022-03-15].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[EURUSD-2022-02-20-2022-03-15].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[EURUSD].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[USDEUR-2022-02-20-2022-03-15].yaml
  tests/openbb_terminal/forex/cassettes/test_polygon_model/test_get_historical[USDEUR].yaml
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[EURUSD-2022-02-20-2022-03-15].csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[EURUSD].csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[USDEUR-2022-02-20-2022-03-15].csv
  tests/openbb_terminal/forex/csv/test_polygon_model/test_get_historical[USDEUR].csv
  tests/openbb_terminal/forex/test_polygon_model.py
  tests/openbb_terminal/forex/txt/test_polygon_model/test_bad_symbols[BADTICKER-2022-02-20-2022-03-15].txt
  tests/openbb_terminal/forex/txt/test_polygon_model/test_bad_symbols[GCUYGCYUFGDCUTYFCYUF-2022-02-20-2022-03-15].txt
  tests/openbb_terminal/stocks/comparison_analysis/txt/test_finviz_compare_view/test_screener[False].txt
  tests/openbb_terminal/stocks/comparison_analysis/txt/test_finviz_compare_view/test_screener[True].txt
Labels: bug, dependencies
