Repository OpenBB-finance/OpenBB, pull requests merged in 2022-10, with the labels that each got.

#2682 Improved sorting capabilities in the news function
  openbb_terminal/api.py
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/common/feedparser_view.py
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[-].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[Apple-].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[Apple-bloomberg.com].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[TSLA-bloomberg cnn].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[asdf$#-].csv
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Apple].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Coal].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[asdf&%$].txt
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
Labels: bug

#2689 Fix ec macro
  openbb_terminal/helpers_denomination.py
Labels: bug

#2693 ssl fix
  openbb_terminal/stocks/behavioural_analysis/cramer_model.py
Labels: bug, build

#2699 Fix typo in config.toml
  website/config.toml
Labels: docs

#2698 fix: bug #2691
  openbb_terminal/economy/econdb_model.py
Labels: bug, hacktoberfest

#2705 Fix key error bug
  openbb_terminal/helpers_denomination.py
Labels: bug

#2702 Add record session into routine capabiltiies
  i18n/en.yml
  openbb_terminal/parent_classes.py
  terminal.py
Labels: feat S, hacktoberfest

#2704 Improved error handling for crypto commands
  openbb_terminal/cryptocurrency/discovery/dappradar_model.py
  openbb_terminal/cryptocurrency/discovery/dappradar_view.py
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_dappradar_view/test_call_func[display_top_dexes-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_dappradar_view/test_call_func[display_top_nfts-kwargs0].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_dappradar_view/test_call_func_empty_df[display_top_dapps-kwargs3-get_top_dapps].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_dappradar_view/test_call_func_empty_df[display_top_dexes-kwargs2-get_top_dexes].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_dappradar_view/test_call_func_empty_df[display_top_games-kwargs1-get_top_games].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_dappradar_view/test_call_func_empty_df[display_top_nfts-kwargs0-get_top_nfts].txt
Labels: bug

#2706 Automatically Create and Build Docker
  .github/workflows/docker.yml
  docker/compose.env
  docker/docker-compose.yaml
Labels: enhancement, docker, hacktoberfest

#2708 Data Sources Default Installer Bug Fix
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/feature_flags.py
  terminal.py
Labels: bug, build

#2700 Portfolio binary bug fix
  build/pyinstaller/terminal.spec
Labels: bug, build

#2709 put ticker on clenow func
  openbb_terminal/common/technical_analysis/momentum_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
Labels: enhancement, hacktoberfest

#2711 fix bitquery crypto funcs
  openbb_terminal/cryptocurrency/onchain/bitquery_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
Labels: bug, hacktoberfest

#2687 fixed typos in example for Jupyter notebook
  website/content/api/_index.md
Labels: bug, hacktoberfest

#2713 Cleans plotting functionality for stocks/sia/metric
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_view.py
Labels: bug, hacktoberfest

#2710 replace ln and ld by search
  data_sources_default.json
  i18n/en.yml
  openbb_terminal/etf/etf_controller.py
  tests/openbb_terminal/etf/cassettes/test_etf_controller/test_call_candle.yaml
  tests/openbb_terminal/etf/cassettes/test_etf_controller/test_call_load.yaml
  tests/openbb_terminal/etf/test_etf_controller.py
  tests/openbb_terminal/etf/txt/test_etf_controller/test_call_candle.txt
  tests/openbb_terminal/etf/txt/test_etf_controller/test_print_help.txt
  website/content/terminal/etf/ld/_index.md
  website/content/terminal/etf/search/_index.md
  website/data/menu/main.yml
Labels: enhancement, hacktoberfest

#2714 Docker revisions 2.0
  .github/workflows/docker.yml
  docker/docker-compose.yaml
Labels: docker

#2717 Sources Bug Fix Revert
  openbb_terminal/core/config/paths_helper.py
Labels: bug, build

#2718 Data Sources Fix for Installer: Second Try
  openbb_terminal/rich_config.py
  openbb_terminal/sources_controller.py
Labels: bug, build

#2694 Release 1.9.0
  build/nsis/setup.nsi
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/brokers/degiro/degiro_model.py
  openbb_terminal/settings_controller.py
  openbb_terminal/thought_of_the_day.py
  pyproject.toml
Labels: build

#2678 Update pandas dependencies
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#2721 Added error handling
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#2723 #2684 [CT] Improve stocks/sia error handling, abstract duplicate code
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
  tests/openbb_terminal/stocks/sector_industry_analysis/test_sia_controller.py
Labels: bug

#2735 refreshes some screenshots of the main menu on the core landing page.
  website/content/_index.md
Labels: docs, guides

#2726 Run "pre-commit autoupdate"
  .pre-commit-config.yaml
Labels: enhancement

#2739 Refactor alphavantage commands in economy menu
  openbb_terminal/economy/alphavantage_model.py
  openbb_terminal/economy/alphavantage_view.py
  openbb_terminal/keys_model.py
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_cpi.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_gdp_capita.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_inflation.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_real_gdp.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_sector_data.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_treasury_yield.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_model/test_get_unemployment.yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_cpi[False].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_cpi[True].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_gdp_capita[False].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_gdp_capita[True].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_inflation[False].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_inflation[True].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_real_gdp[False].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_real_gdp[True].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_treasury_yield[False].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_treasury_yield[True].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_unemployment[False].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_display_unemployment[True].yaml
  tests/openbb_terminal/economy/cassettes/test_alphavantage_view/test_realtime_performance_sector.yaml
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_cpi.csv
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_gdp_capita.csv
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_inflation.csv
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_real_gdp.csv
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_sector_data.csv
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_treasury_yield.csv
  tests/openbb_terminal/economy/csv/test_alphavantage_model/test_get_unemployment.csv
  tests/openbb_terminal/economy/test_alphavantage_model.py
  tests/openbb_terminal/economy/test_alphavantage_view.py
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_cpi[False].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_cpi[True].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_gdp_capita[False].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_gdp_capita[True].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_inflation[False].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_inflation[True].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_real_gdp[False].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_real_gdp[True].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_treasury_yield[False].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_treasury_yield[True].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_unemployment[False].txt
  tests/openbb_terminal/economy/txt/test_alphavantage_view/test_display_unemployment[True].txt
Labels: tests, refactor

#2738 fix(docs): added margin between sections
  website/content/_index.md
  website/themes/hugo-geekdoc/layouts/partials/head/others.html
Labels: docs

#2743 Cleaned out pred remenants
  i18n/en.yml
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/terminal_helper.py
  terminal.py
Labels: enhancement

#2737 minor styling updates
  openbb_terminal/stocks/insider/insider_controller.py
  styles/default/dark.richstyle.json
  tests/openbb_terminal/stocks/insider/txt/test_insider_controller/test_print_help.txt
Labels: enhancement, hacktoberfest

#2716 Set multiple API keys at once on OpenBB SDK
  openbb_terminal/api.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  tests/openbb_terminal/test_featflags_controller.py
Labels: feat XS, hacktoberfest

#2558 Autogenerated screenshots and plotshots
  images/background.png
  images/openbb_horizontal_logo.png
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
Labels: feat XS

#2736 allow to run a routine that has just been saved
  terminal.py
Labels: feat XS, hacktoberfest

#2744 Removed duplicate dependencies
  build/conda/conda-3-9-env-full.yaml
  build/conda/conda-3-9-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: enhancement

#2745 Fix test_glassnode_view.py pytest failing
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_glassnode_model/test_get_close_price[BTC-2020-10-02-2022-01-07].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_glassnode_view/test_display_btc_rainbow.yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_glassnode_model/test_get_close_price[BTC-2020-10-02-2022-01-07].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/test_glassnode_model.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_glassnode_view.py
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_glassnode_view/test_display_btc_rainbow.txt
Labels: bug, hacktoberfest

#2742 reformat
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/keys_model.py
Labels: bug, hacktoberfest

#2740 Make it easier for users to configure their terminal colors
  i18n/en.yml
  openbb_terminal/helper_classes.py
  openbb_terminal/settings_controller.py
Labels: feat XS, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2750 Update Darts to 0.22
  build/conda/conda-3-9-env-full.yaml
  openbb_terminal/forecast/brnn_model.py
  openbb_terminal/forecast/brnn_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/helper_funcs.py
  website/content/terminal/forecast/brnn/_index.md
Labels: enhancement

#2751 Added back dashboards (sorry Didier)
  .gitignore
  openbb_terminal/dashboards/voila/chains.ipynb
  openbb_terminal/dashboards/voila/correlation.ipynb
  openbb_terminal/dashboards/voila/crypto.ipynb
  openbb_terminal/dashboards/voila/currencies.ipynb
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/dashboards/voila/futures.ipynb
  openbb_terminal/dashboards/voila/shortdata.ipynb
  openbb_terminal/dashboards/voila/stocks.ipynb
  openbb_terminal/dashboards/voila/vsurf.ipynb
Labels: bug

#2696 New OpenBB SDK documentation
  openbb_terminal/API_README.md
Labels: docs

#2725 PO_controller refactoring and tests
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  terminal.py
  tests/openbb_terminal/portfolio/portfolio_optimization/test_po_controller.py
Labels: enhancement, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2749 Fix /stocks/options/hist
  openbb_terminal/stocks/options/chartexchange_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug, HACKTOBERFEST

#2447 Add 3 Token Terminal commands
  data_sources_default.json
  i18n/en.yml
  openbb_terminal/config_terminal.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/due_diligence_api.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_model.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_view.py
  openbb_terminal/cryptocurrency/overview/overview_api.py
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/overview/tokenterminal_model.py
  openbb_terminal/cryptocurrency/overview/tokenterminal_view.py
  openbb_terminal/feature_flags.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/sources_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/conftest.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/overview/test_overview_controller.py
  tests/openbb_terminal/cryptocurrency/overview/txt/test_overview_controller/test_print_help.txt
  website/content/terminal/crypto/dd/desc/_index.md
  website/content/terminal/crypto/dd/funot/_index.md
  website/content/terminal/crypto/ov/fun/_index.md
  website/data/menu/main.yml
Labels: feat S

#2760 Order Documentation Navigation Sidebar Alphabetically
  website/data/menu/main.yml
Labels: docs, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2771 Change funds load from investpy to investiny to fix 403 error
  openbb_terminal/mutual_funds/investpy_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2768 Fix of issue #2767: list comprehension and del after that, instead of…
  openbb_terminal/dashboards/voila/stocks.ipynb
Labels: bug, HACKTOBERFEST

#2765 Annualize clenow momentum
  openbb_terminal/common/technical_analysis/momentum_model.py
Labels: feat XS, HACKTOBERFEST

#2772 boop
  website/data/menu/main.yml
Labels: bug

#2781 Fix keys menu: tokenterminal & shroom bug fix
  openbb_terminal/api.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  tests/openbb_terminal/cassettes/test_keys_controller/test_call_shroom[other1].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_call_tokenterminal[other1].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_shroom_key[args0-False-True-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_shroom_key[args1-False-False-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_shroom_key[args2-True-True-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_tokenterminal_key[args0-False-True-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_tokenterminal_key[args1-False-False-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_tokenterminal_key[args2-True-True-defined, test failed].yaml
  tests/openbb_terminal/test_keys_controller.py
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/txt/test_keys_model/test_set_shroom_key[args0-False-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_shroom_key[args1-False-False-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_shroom_key[args2-True-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_shroom_key[args3-False-True-not defined].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_tokenterminal_key[args0-False-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_tokenterminal_key[args1-False-False-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_tokenterminal_key[args2-True-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_tokenterminal_key[args3-False-True-not defined].txt
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2783 Fixes bug with plotting the date column
  openbb_terminal/forecast/forecast_controller.py
Labels: bug

#2773 Add demark indicator to stocks/ta
  i18n/en.yml
  openbb_terminal/common/technical_analysis/momentum_model.py
  openbb_terminal/common/technical_analysis/momentum_view.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  website/content/terminal/common/ta/demark/_index.md
  website/data/menu/main.yml
Labels: enhancement, HACKTOBERFEST

#2774 Mpf log
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  website/content/terminal/crypto/candle/_index.md
  website/content/terminal/crypto/chart/_index.md
  website/content/terminal/stocks/candle/_index.md
  website/data/menu/main.yml
Labels: enhancement, HACKTOBERFEST

#2789 Added path fix
  openbb_terminal/forecast/forecast_controller.py
Labels: bug

#2795 Introduction Guide for the Stocks SDK
  website/content/api/stocks/_index.md
Labels: docs, guides, API

#2791 Fix screenshot not finding images
  openbb_terminal/helper_funcs.py
Labels: bug, HACKTOBERFEST

#2801 Remove stored folder
  stored/aapl_stock_data.pkl
  stored/tsla_stock_data.pkl
Labels: enhancement

#2755 Populate model functions with check_api_key decorator
  openbb_terminal/alternative/oss/github_model.py
  openbb_terminal/common/behavioural_analysis/finnhub_model.py
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  openbb_terminal/common/behavioural_analysis/twitter_model.py
  openbb_terminal/common/newsapi_model.py
  openbb_terminal/cryptocurrency/defi/smartstake_model.py
  openbb_terminal/cryptocurrency/discovery/coinmarketcap_model.py
  openbb_terminal/cryptocurrency/due_diligence/binance_model.py
  openbb_terminal/cryptocurrency/due_diligence/coinglass_model.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
  openbb_terminal/cryptocurrency/due_diligence/santiment_model.py
  openbb_terminal/cryptocurrency/onchain/bitquery_model.py
  openbb_terminal/cryptocurrency/onchain/whale_alert_model.py
  openbb_terminal/cryptocurrency/overview/cryptopanic_model.py
  openbb_terminal/economy/finnhub_model.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/economy/investingcom_model.py
  openbb_terminal/economy/investingcom_view.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/nasdaq_view.py
  openbb_terminal/forex/polygon_model.py
  openbb_terminal/stocks/behavioural_analysis/finnhub_model.py
  openbb_terminal/stocks/comparison_analysis/finnhub_model.py
  openbb_terminal/stocks/comparison_analysis/polygon_model.py
  openbb_terminal/stocks/dark_pool_shorts/quandl_model.py
  openbb_terminal/stocks/dark_pool_shorts/quandl_view.py
  openbb_terminal/stocks/discovery/finnhub_model.py
  openbb_terminal/stocks/discovery/nasdaq_model.py
  openbb_terminal/stocks/due_diligence/finnhub_model.py
  openbb_terminal/stocks/due_diligence/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/eodhd_model.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/polygon_model.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/stocks_models.py
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_economic_calendar[united states-high-Employment-2022-7-7-2022-7-8].yaml
  tests/openbb_terminal/economy/cassettes/test_investingcom_model/test_get_yieldcurve[united states].yaml
  tests/openbb_terminal/economy/test_investingcom_model.py
Labels: API

#2790 Forecast i8n name changes
  i18n/en.yml
  openbb_terminal/forecast/forecast_controller.py
Labels: enhancement, feat XS

#2806 Numpy Version Change for Installer Fix
  build/conda/conda-3-9-env-full.yaml
  build/pyinstaller/terminal.spec
  poetry.lock
  pyproject.toml
Labels: bug, build

#2805 Fixed warning message
  openbb_terminal/forecast/forecast_model.py
Labels: bug, HACKTOBERFEST

#2810 Small fixes
  i18n/en.yml
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  scripts/test_economy.openbb
  scripts/test_stocks_ba.openbb
  scripts/test_stocks_disc.openbb
  scripts/test_stocks_dps.openbb
  scripts/test_stocks_pred.openbb
  scripts/test_stocks_ta.openbb
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
Labels: bug, HACKTOBERFEST

#2811 Add --export to load functions
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/parent_classes.py
Labels: enhancement, HACKTOBERFEST

#2819 Enhances error handling in economy menu
  openbb_terminal/economy/commodity_model.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/wsj_model.py
Labels: bug

#2809 Fixed plotting command
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_view.py
  tests/openbb_terminal/forecast/test_forecast_view.py
Labels: bug, enhancement, HACKTOBERFEST

#2823 Fix fund bug and add forecast menu command
  i18n/en.yml
  openbb_terminal/mutual_funds/investpy_model.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
Labels: bug, enhancement

#2818 Improves the forex menu to include the `forecast` command
  i18n/en.yml
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: enhancement, HACKTOBERFEST

#2821 Big Fix: 2815. Updated if condition that was raising exception
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: bug

#2808 Fixed iteritems deprecated message #2807
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
Labels: bug

#2766 Regression Models Explainability (XAI) using SHAP
  i18n/en.yml
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/linregr_view.py
  openbb_terminal/forecast/regr_view.py
Labels: feat S, HACKTOBERFEST

#2813 Stocks Menu SDK Introduction - Revised.
  website/content/api/stocks/_index.md
Labels: docs, guides, API, HACKTOBERFEST

#2621 Fix bug of not being able to save Portfolio param file
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2827 fix: numeric_only deprecated FutureWarning message
  openbb_terminal/stocks/due_diligence/business_insider_view.py
Labels: bug

#2747 Degiro fix
  openbb_terminal/keys_model.py
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_model.py
  openbb_terminal/portfolio/brokers/degiro/degiro_view.py
  tests/openbb_terminal/portfolio/brokers/degiro/test_degiro_controller.py
  tests/openbb_terminal/portfolio/brokers/degiro/test_degiro_model.py
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/txt/test_keys_model/test_set_degiro_key[args0-False-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_degiro_key[args1-False-False-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_degiro_key[args2-True-True-defined, test failed].txt
Labels: bug, HACKTOBERFEST

#2837 Moving `terminal.py` file
  .github/workflows/test.yml
  .pre-commit-config.yaml
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/etf/screener/screener_model.py
  openbb_terminal/feature_flags.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/portfolio_analysis/pa_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/stocks/insider/openinsider_model.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/screener/finviz_model.py
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/screener/screener_view.py
  openbb_terminal/stocks/screener/yahoofinance_model.py
  openbb_terminal/terminal_controller.py
  terminal.py
  tests/openbb_terminal/test_terminal_controller.py
  tests/test_terminal.py
Labels: feat S

#2840 Move `i18n` into `openbb_terminal`
  openbb_terminal/feature_flags.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/i18n/help_translation.ipynb
Labels: feat S

#2844 Fixed stocks dashboard tz issue
  .github/workflows/gh-pages.yml
  openbb_terminal/dashboards/voila/stocks.ipynb
Labels: bug

#2830 Add cboe top of book
  data_sources_default.json
  openbb_terminal/api.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/cboe_model.py
  openbb_terminal/stocks/cboe_view.py
  openbb_terminal/stocks/stocks_controller.py
  scripts/test_stocks.openbb
  tests/openbb_terminal/stocks/cassettes/test_cboe_model/test_top_of_book.yaml
  tests/openbb_terminal/stocks/cassettes/test_cboe_view/test_top_of_book.yaml
  tests/openbb_terminal/stocks/cassettes/test_cboe_view/test_top_of_book_bad_ticker.yaml
  tests/openbb_terminal/stocks/test_cboe_model.py
  tests/openbb_terminal/stocks/test_cboe_view.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/txt/test_cboe_view/test_top_of_book.txt
  tests/openbb_terminal/stocks/txt/test_cboe_view/test_top_of_book_bad_ticker.txt
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
  website/content/terminal/stocks/tob/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2843 Updated vsurf and forecast API call
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/dashboards/voila/vsurf.ipynb
Labels: bug

#2848 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: docs

#2845 Fix hashrate
  openbb_terminal/api.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_model.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_model.py
Labels: bug

#2853 Notify users of old `darts` version
  openbb_terminal/forecast/forecast_controller.py
Labels: enhancement, HACKTOBERFEST

#2856 Moving `styles` into `openbb_terminal` folder.
  openbb_terminal/helper_classes.py
  openbb_terminal/miscellaneous/styles/default/Consolas.ttf
  openbb_terminal/miscellaneous/styles/default/dark.mpfstyle.json
  openbb_terminal/miscellaneous/styles/default/dark.mplrc.json
  openbb_terminal/miscellaneous/styles/default/dark.mplstyle
  openbb_terminal/miscellaneous/styles/default/dark.richstyle.json
  openbb_terminal/miscellaneous/styles/default/light.mpfstyle.json
  openbb_terminal/miscellaneous/styles/default/light.mplrc.json
  openbb_terminal/miscellaneous/styles/default/light.mplstyle
  openbb_terminal/miscellaneous/styles/default/light.richstyle.json
Labels: feat S, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2838 Fixed crypto dashboard
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/dashboards/voila/crypto.ipynb
Labels: bug

#2859 Moving `exports` into `openbb_terminal` folder.
  openbb_terminal/forecast/forecast_model.py
  openbb_terminal/miscellaneous/exports/alternative/covid/.gitkeep
  openbb_terminal/miscellaneous/exports/common/behavioural_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/common/prediction_techniques/.gitkeep
  openbb_terminal/miscellaneous/exports/common/quantitative_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/common/technical_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/custom/.gitkeep
  openbb_terminal/miscellaneous/exports/econometrics/.gitkeep
  openbb_terminal/miscellaneous/exports/economy/.gitkeep
  openbb_terminal/miscellaneous/exports/etf/movers/.gitkeep
  openbb_terminal/miscellaneous/exports/etf/screeners/.gitkeep
  openbb_terminal/miscellaneous/exports/mutual_funds/.gitkeep
  openbb_terminal/miscellaneous/exports/portfolio/.gitkeep
  openbb_terminal/miscellaneous/exports/portfolio/views/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/backtesting/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/behavioural_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/comparison_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/dark_pool_shorts/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/discovery/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/due_diligence/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/fundamental_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/government/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/insider/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/options/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/prediction_techniques/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/quantitative_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/raw_data/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/sector_industry_analysis/.gitkeep
  openbb_terminal/miscellaneous/exports/stocks/technical_analysis/.gitkeep
  openbb_terminal/stocks/options/yfinance_view.py
Labels: feat S, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2861 Fix of #2833
  openbb_terminal/reports/equity.ipynb
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2832 Exception: variable coin referenced before assignment
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: bug, crypto, HACKTOBERFEST

#2828 Workflow Changes for New Machines
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/windows10_build.yml
Labels: build

#2873 Fixed `crypto/dd/mkt` controller uses bad parameter names
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2872 Semantics
  README.md
Labels: docs, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2857 Moving `portfolio` and `data_sources_default.json` into `openbb_terminal` folder.
  build/pyinstaller/terminal.spec
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/portfolio_examples/allocation/.gitkeep
  openbb_terminal/miscellaneous/portfolio_examples/allocation/50_30_10_10_Portfolio.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/allocation/60_40_Portfolio.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/allocation/Fixed_Income_Portfolio.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/allocation/OpenBB_Portfolio_Template_v1.0.0.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/allocation/Public_Equity_Portfolio.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/allocation/SP_500_Portfolio.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/holdings/Public_Equity_Orderbook.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/holdings/Public_Equity_Orderbook_No_Categorization.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/holdings/bitcoin.csv
  openbb_terminal/miscellaneous/portfolio_examples/holdings/example.csv
  openbb_terminal/miscellaneous/portfolio_examples/holdings/market.csv
  openbb_terminal/miscellaneous/portfolio_examples/optimization/.gitkeep
  openbb_terminal/miscellaneous/portfolio_examples/optimization/OpenBB_Parameters_Template_v1.0.0.xlsx
  openbb_terminal/miscellaneous/portfolio_examples/optimization/defaults.ini
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/rich_config.py
  openbb_terminal/sources_controller.py
Labels: feat S, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2858 Moving `custom_imports` into `openbbterminal` folder.
  custom_imports/forecasting/.gitkeep
  custom_imports/stocks/.gitkeep
  custom_imports/stocks/btc.csv/discovery/.gitkeep
  custom_imports/stocks/btc.csv/due_diligence/.gitkeep
  custom_imports/stocks/btc.csv/nft/.gitkeep
  custom_imports/stocks/btc.csv/onchain/.gitkeep
  custom_imports/stocks/btc.csv/overview/.gitkeep
  custom_imports/stocks/btc.csv/technical_analysis/.gitkeep
  custom_imports/stocks/test.csv
  openbb_terminal/dashboards/voila/futures.csv
  openbb_terminal/dashboards/voila/futures.ipynb
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_model.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
  website/content/terminal/forecast/_index.md
Labels: feat S, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2880 Clean up docker documentation
  DOCKER_ADVANCED.md
Labels: docs, docker, HACKTOBERFEST

#2877 Fixed bug in calling function get_balance and added enhancements
  openbb_terminal/cryptocurrency/due_diligence/binance_model.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug, HACKTOBERFEST

#2874 Attempting to improve accuracy of latest version message
  openbb_terminal/terminal_helper.py
Labels: bug

#2870 Prompt toolkit better handling
  openbb_terminal/custom_prompt_toolkit.py
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2754 Adding documentation for builds and integration tests
  CONTRIBUTING.md
  build/README.md
  scripts/README.md
Labels: build

#2559 Enhance economy menu with custom math functions
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/economy_helpers.py
  openbb_terminal/miscellaneous/i18n/en.yml
  tests/openbb_terminal/economy/test_economy_helpers.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/economy/txt/test_economy_helpers/test_bad_create_new_entry.txt
  tests/openbb_terminal/economy/txt/test_economy_helpers/test_bad_create_new_entry_bad_query.txt
  website/content/terminal/economy/eval/_index.md
  website/data/menu/main.yml
Labels: enhancement

#2892 installer + hacktoberfest labels
  .github/workflows/labels.yml
Labels: installer, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2890 Initialize econonmetrics choices so that -h can be used
  openbb_terminal/econometrics/econometrics_controller.py
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2889 Eliminate `update` for packaged app
  openbb_terminal/terminal_controller.py
Labels: feat XS, installer, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2871 Added error handling
  openbb_terminal/cryptocurrency/due_diligence/binance_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/reports/equity.ipynb
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2883 Updating Integration Tests Path
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/windows10_build.yml
Labels: bug, build, HACKTOBERFEST

#2869 Allows oanda menu to be entered and updates no key message
  openbb_terminal/decorators.py
  openbb_terminal/forex/forex_controller.py
Labels: bug, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2884 Allow users to export `predictions` into raw `csv`
  openbb_terminal/forecast/brnn_view.py
  openbb_terminal/forecast/expo_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/linregr_view.py
  openbb_terminal/forecast/nbeats_view.py
  openbb_terminal/forecast/nhits_view.py
  openbb_terminal/forecast/regr_view.py
  openbb_terminal/forecast/rnn_view.py
  openbb_terminal/forecast/tcn_view.py
  openbb_terminal/forecast/tft_view.py
  openbb_terminal/forecast/theta_view.py
  openbb_terminal/forecast/trans_model.py
  openbb_terminal/forecast/trans_view.py
  website/content/terminal/forecast/brnn/_index.md
  website/content/terminal/forecast/expo/_index.md
  website/content/terminal/forecast/linregr/_index.md
  website/content/terminal/forecast/nbeats/_index.md
  website/content/terminal/forecast/nhits/_index.md
  website/content/terminal/forecast/regr/_index.md
  website/content/terminal/forecast/rnn/_index.md
  website/content/terminal/forecast/tcn/_index.md
  website/content/terminal/forecast/tft/_index.md
  website/content/terminal/forecast/theta/_index.md
  website/content/terminal/forecast/trans/_index.md
Labels: feat S, HACKTOBERFEST

#2885 Adding installation method to api readme
  openbb_terminal/API_README.md
Labels: API, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2695 SDK logs
  openbb_terminal/api.py
  openbb_terminal/config_terminal.py
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/decorators.py
  openbb_terminal/loggers.py
  openbb_terminal/terminal_controller.py
Labels: feat S, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#2876 Fixes Streamlit
  openbb_terminal/dashboards/stream/forecast.py
Labels: bug

#2894 Allow for newly exported files to be loaded
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_model.py
Labels: bug, enhancement

#2893 SDK logs improved
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/decorators.py
  openbb_terminal/sdk.py
Labels: enhancement, SDK

#2907 Fix internationalization dictionary not being loaded
  openbb_terminal/feature_flags.py
Labels: bug, HACKTOBERFEST, i18n

#2916 Make tests work with the pip package
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/sdk.py
  pyproject.toml
  tests/formatting/test_best_practices.py
  tests/openbb_terminal/api/test_api.py
  tests/openbb_terminal/sdk/test_sdk.py
Labels: tests

#2922 Added error handling
  openbb_terminal/mutual_funds/investpy_model.py
  openbb_terminal/mutual_funds/investpy_view.py
Labels: bug

#2910 Fixing Crypto/Defi/DPI Bug
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/defi/defipulse_model.py
  openbb_terminal/cryptocurrency/defi/defipulse_view.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defipulse_model/test_get_defipulse_index.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_defipulse_view/test_display_defipulse.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_defipulse_model/test_get_defipulse_index.csv
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defipulse_view/test_display_defipulse.txt
Labels: bug, crypto, HACKTOBERFEST

#2923 SDK - fix for objects logging
  openbb_terminal/decorators.py
Labels: bug, SDK

#2896 Add stocksera source to `stocks/dps/ctb`
  openbb_terminal/config_terminal.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/test_stocks_dps.openbb
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_model.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_stocksera_model/test_get_cost_to_borrow.yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_stocksera_view/test_cost_to_borrow.yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/csv/test_stocksera_model/test_get_cost_to_borrow.csv
  tests/openbb_terminal/stocks/dark_pool_shorts/test_stocksera_model.py
  tests/openbb_terminal/stocks/dark_pool_shorts/test_stocksera_view.py
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_dps_controller/test_print_help.txt
  website/content/terminal/stocks/dps/ctb/_index.md
Labels: feat XS

#2899 Add intro command + improve plot style + internationalisation consistency
  .github/workflows/test.yml
  openbb_terminal/keys_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/styles/default/dark.mplstyle
  openbb_terminal/rich_config.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_controller.py
Labels: refactor, HACKTOBERFEST

#2834 Removed warning when importing API
  openbb_terminal/sdk.py
Labels: enhancement

#2924 Update `eval` help command
  openbb_terminal/economy/economy_controller.py
  website/content/terminal/economy/eval/_index.md
Labels: docs

#2929 Plot style
  openbb_terminal/miscellaneous/styles/default/dark.mplstyle
Labels: enhancement

#2932 Alswe command name change
  .github/workflows/test.yml
  .pre-commit-config.yaml
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/mutual_funds/mutual_fund_controller.py
Labels: bug

#2969 Fixes some James bugs
  openbb_terminal/stocks/backtesting/bt_model.py
  openbb_terminal/stocks/due_diligence/csimarket_model.py
  openbb_terminal/stocks/due_diligence/csimarket_view.py
  openbb_terminal/stocks/government/quiverquant_view.py
  openbb_terminal/stocks/quantitative_analysis/beta_model.py
  openbb_terminal/stocks/quantitative_analysis/beta_view.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_model.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_model/test_get_customers.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_model/test_get_customers_invalid.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_model/test_get_suppliers.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_model/test_get_suppliers_invalid.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_view/test_get_customers.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_view/test_get_customers_invalid.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_view/test_get_suppliers.yaml
  tests/openbb_terminal/stocks/due_diligence/cassettes/test_csimarket_view/test_get_suppliers_invalid.yaml
  tests/openbb_terminal/stocks/due_diligence/csv/test_csimarket_model/test_get_customers.csv
  tests/openbb_terminal/stocks/due_diligence/csv/test_csimarket_model/test_get_customers_invalid.csv
  tests/openbb_terminal/stocks/due_diligence/csv/test_csimarket_model/test_get_suppliers.csv
  tests/openbb_terminal/stocks/due_diligence/csv/test_csimarket_model/test_get_suppliers_invalid.csv
  tests/openbb_terminal/stocks/due_diligence/txt/test_csimarket_view/test_get_customers.txt
  tests/openbb_terminal/stocks/due_diligence/txt/test_csimarket_view/test_get_suppliers.txt
  tests/openbb_terminal/stocks/due_diligence/txt/test_csimarket_view/test_get_suppliers_invalid.txt
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
Labels: bug

#2936 Economic calendar
  .pre-commit-config.yaml
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/nasdaq_view.py
  openbb_terminal/miscellaneous/data_sources_default.json
  tests/openbb_terminal/economy/cassettes/test_nasdaq_model/test_get_economic_calendar.yaml
  tests/openbb_terminal/economy/cassettes/test_nasdaq_model/test_get_economic_calendar_bad_country_name.yaml
  tests/openbb_terminal/economy/cassettes/test_nasdaq_view/test_display_economic_calendar.yaml
  tests/openbb_terminal/economy/cassettes/test_nasdaq_view/test_display_economic_calendar_bad_country.yaml
  tests/openbb_terminal/economy/csv/test_nasdaq_model/test_get_economic_calendar.csv
  tests/openbb_terminal/economy/csv/test_nasdaq_model/test_get_economic_calendar_bad_country_name.csv
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/test_nasdaq_model.py
  tests/openbb_terminal/economy/test_nasdaq_view.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_economic_calendar.txt
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_economic_calendar_bad_country.txt
  website/content/terminal/economy/events/_index.md
Labels: feat XS

#2980 Fix "Target not AdjClose" warning incorrectly appearing
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug

#2978 Emacross name change part 2
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/sdk.py
  openbb_terminal/stocks/backtesting/bt_controller.py
  openbb_terminal/stocks/backtesting/bt_model.py
  openbb_terminal/stocks/backtesting/bt_view.py
  tests/openbb_terminal/stocks/backtesting/cassettes/test_bt_model/test_emacross_strategy.yaml
  tests/openbb_terminal/stocks/backtesting/cassettes/test_bt_view/test_display_emacross.yaml
  tests/openbb_terminal/stocks/backtesting/test_bt_controller.py
  tests/openbb_terminal/stocks/backtesting/test_bt_model.py
  tests/openbb_terminal/stocks/backtesting/test_bt_view.py
  tests/openbb_terminal/stocks/backtesting/txt/test_bt_controller/test_print_help.txt
  tests/openbb_terminal/stocks/backtesting/txt/test_bt_view/test_display_emacross.txt
  website/content/SDK/stocks/bt/emacross/_index.md
  website/content/terminal/stocks/bt/emacross/_index.md
  website/data/menu/main.yml
Labels: bug, do not merge

#2972 Fix integration tests
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
Labels: bug, tests

#2987 Spacc command name change (part 2)
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/test_stocks_ba.openbb
  openbb_terminal/sdk.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  website/content/SDK/stocks/ba/spacc/_index.md
  website/content/terminal/common/ba/spacc/_index.md
  website/data/menu/main.yml
Labels: bug

#2758 New futures controller
  openbb_terminal/futures/__init__.py
  openbb_terminal/futures/futures.csv
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/test_futures.openbb
  openbb_terminal/sdk.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[tickers0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[tickers1].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[BLK].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[ES].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[OJ].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[tickers0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[tickers1].yaml
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_curve_futures[ticker0].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_curve_futures[ticker1].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[tickers0].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[tickers1].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_search_futures[agriculture].csv
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_search_futures[metals].csv
  tests/openbb_terminal/futures/test_futures_controller.py
  tests/openbb_terminal/futures/test_yfinance_model.py
  tests/openbb_terminal/futures/test_yfinance_view.py
  tests/openbb_terminal/futures/txt/test_futures_controller/test_print_help.txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[BLK].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[OJ].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_etf_description[ARKF].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_etf_description[ARKW].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[tickers0].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[tickers1].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_search[agriculture].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_search[metals].txt
  website/content/terminal/futures/_index.md
  website/content/terminal/futures/curve/_index.md
  website/content/terminal/futures/historical/_index.md
  website/content/terminal/futures/search/_index.md
  website/data/menu/main.yml
Labels: feat M

#2991 Starting to go through my bugs
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/discovery/ark_model.py
  openbb_terminal/stocks/discovery/ark_view.py
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/seeking_alpha_view.py
  openbb_terminal/stocks/insider/businessinsider_view.py
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/insider/openinsider_model.py
  openbb_terminal/stocks/insider/openinsider_view.py
  openbb_terminal/stocks/screener/screener_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/insider/txt/test_openinsider_model/test_get_open_insider_link.txt
Labels: bug

#2946 Adding more integration tests
  openbb_terminal/miscellaneous/scripts/test_crypto_pred.openbb
  openbb_terminal/miscellaneous/scripts/test_etf.openbb
  openbb_terminal/miscellaneous/scripts/test_etf_ca.openbb
  openbb_terminal/miscellaneous/scripts/test_etf_pred.openbb
  openbb_terminal/miscellaneous/scripts/test_etf_scr.openbb
  openbb_terminal/miscellaneous/scripts/test_forex_base.openbb
  openbb_terminal/miscellaneous/scripts/test_forex_load.openbb
  openbb_terminal/miscellaneous/scripts/test_forex_pred.openbb
  openbb_terminal/miscellaneous/scripts/test_forex_qa.openbb
  openbb_terminal/miscellaneous/scripts/test_forex_ta.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_ba.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_bt.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_ca.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_dd.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_disc.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_dps.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_fa.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_gov.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_ins.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_options.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_qa.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_scr.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_ta.openbb
  openbb_terminal/miscellaneous/scripts/test_stocks_th.openbb
Labels: tests

#2928 Docker Documentation
  docker/README.md
  docker/python.dockerfile
Labels: docs, docker

#2933 infoswe command name change
  .github/workflows/test.yml
  .pre-commit-config.yaml
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/mutual_funds/mutual_fund_controller.py
Labels: bug

#2986 Changing reddit_sent command name (part 2)
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/scripts/test_stocks_ba.openbb
  openbb_terminal/sdk.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  website/content/SDK/stocks/ba/redditsent/_index.md
  website/content/terminal/common/ba/redditsent/_index.md
  website/data/menu/main.yml
Labels: bug

#2999 fix for #2953 Qty and Year showing up as floats instead of int
  openbb_terminal/stocks/government/quiverquant_view.py
Labels: bug

#2998 Fixed bug giving exception when calling balance in crypto
  openbb_terminal/cryptocurrency/due_diligence/binance_view.py
Labels: feat S

#2993 Bugs 2.0
  .pre-commit-config.yaml
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/stockanalysis_model.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_compare_etfs[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_compare_etfs[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_all_names_symbols.yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etfs_by_name[oil].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-True].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-True].yaml
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_compare_etfs[symbols0].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_compare_etfs[symbols1].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKW].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKW].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etfs_by_name[oil].csv
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols.json
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols_1.json
  tests/openbb_terminal/etf/screener/csv/test_screener_model/test_etf_screener[etf_config.ini].csv
  tests/openbb_terminal/etf/screener/txt/test_screener_view/test_view_screener[etf_config.ini-10-Expense-False].txt
  tests/openbb_terminal/etf/screener/txt/test_screener_view/test_view_screener[etf_config.ini-5-Assets-True].txt
  tests/openbb_terminal/etf/screener/txt/test_screener_view/test_view_screener[etf_config.ini-7-Volume-True].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_comparisons[symbols0].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_comparisons[symbols1].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKQ].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKW].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-False].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-True].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-False].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-True].txt
Labels: bug

#2973 Logging : detect pypi install + PIIS filtering
  openbb_terminal/config_terminal.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/custom_reports/lunar_crash/lunatics.ipynb
  openbb_terminal/forecast/forecast.ipynb
  openbb_terminal/miscellaneous/i18n/help_translation.ipynb
  tests/openbb_terminal/core/log/generation/json/test_formatter_with_exceptions/test_extract_log_extra.json
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_calculate_level_name[False-False].txt
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_calculate_level_name[False-name].txt
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_calculate_level_name[True-True].txt
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_filter_log_line.txt
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_filter_log_line_1.txt
  tests/openbb_terminal/core/log/generation/txt/test_formatter_with_exceptions/test_filter_log_line_2.txt
Labels: feat S

#2992 Allowing integration tests to be run by menu
  openbb_terminal/miscellaneous/scripts/alternative/test_alt_covid.openbb
  openbb_terminal/miscellaneous/scripts/alternative/test_alt_oss.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_dd.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_defi.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_disc.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_nft.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_onchain.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_ov.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_ta.openbb
  openbb_terminal/miscellaneous/scripts/cryptocurrency/test_crypto_tools.openbb
  openbb_terminal/miscellaneous/scripts/econometrics/test_econometrics_panel.openbb
  openbb_terminal/miscellaneous/scripts/econometrics/test_econometrics_ts.openbb
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
  openbb_terminal/miscellaneous/scripts/etf/test_etf.openbb
  openbb_terminal/miscellaneous/scripts/etf/test_etf_ca.openbb
  openbb_terminal/miscellaneous/scripts/etf/test_etf_disc.openbb
  openbb_terminal/miscellaneous/scripts/etf/test_etf_ta.openbb
  openbb_terminal/miscellaneous/scripts/forecast/test_forecast.openbb
  openbb_terminal/miscellaneous/scripts/forecast/test_forecast_advanced.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_av.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_base.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_load.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_oanda.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_oanda_base.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_qa.openbb
  openbb_terminal/miscellaneous/scripts/forex/test_forex_ta.openbb
  openbb_terminal/miscellaneous/scripts/mutual_funds/test_funds.openbb
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio.openbb
  openbb_terminal/miscellaneous/scripts/portfolio/test_portfolio_boolean_args.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_base.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_crypto.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_economy.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_equity.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_etf.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_forex.openbb
  openbb_terminal/miscellaneous/scripts/reports/test_reports_portfolio.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_ba.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_bt.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_ca.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_dd.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_disc.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_dps.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_fa.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_fa_base.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_gov.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_ins.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_options.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_options_payoff.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_options_pricing.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_options_screen.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_qa.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_scr.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_sia.openbb
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_ta.openbb
Labels: bug, build

#3002 made key secret pairs required params
  openbb_terminal/keys_controller.py
Labels: enhancement

#3011 SDK to be logged as config parameter
  openbb_terminal/config_terminal.py
  openbb_terminal/core/log/generation/settings.py
  openbb_terminal/sdk.py
Labels: analytics

#3012 Fixed issues with Futures menu
  openbb_terminal/futures/futures_helper.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/sdk.py
Labels: bug

#3010 Fix etf broken commands
  openbb_terminal/etf/stockanalysis_model.py
  tests/openbb_terminal/etf/cassettes/test_etf_controller/test_call_candle.yaml
  tests/openbb_terminal/etf/cassettes/test_etf_controller/test_call_load.yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_compare_etfs[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_compare_etfs[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_all_names_symbols.yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etfs_by_name[oil].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-True].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-True].yaml
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKQ].csv
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols.json
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols_1.json
  tests/openbb_terminal/etf/txt/test_etf_controller/test_call_candle.txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKQ].txt
Labels: bug

#2831 OpenBBUserDataFolder Guide
  website/content/_index.md
  website/content/terminal/common/_index.md
Labels: docs, guides, HACKTOBERFEST

#3022 Ta/atr function
  openbb_terminal/common/technical_analysis/volatility_model.py
  openbb_terminal/common/technical_analysis/volatility_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/sdk.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
Labels: feat XS

#3036 Removes Black and Mypy from normal build
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#3021 Removed cramer
  openbb_terminal/sdk.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  website/content/SDK/stocks/ba/cramer/_index.md
  website/content/SDK/stocks/ba/cramer_ticker/_index.md
  website/content/terminal/common/ba/jcdr/_index.md
  website/content/terminal/common/ba/jctr/_index.md
  website/data/menu/main.yml
Labels: bug

#2902 Switches all multi input arguments to comma separation
  .pre-commit-config.yaml
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/investingcom_model.py
  openbb_terminal/economy/investingcom_view.py
  openbb_terminal/economy/yfinance_model.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/etf/test_etf_controller.py
  website/content/terminal/economy/fred/_index.md
  website/content/terminal/economy/index/_index.md
  website/content/terminal/economy/macro/_index.md
  website/content/terminal/economy/plot/_index.md
  website/content/terminal/economy/treasury/_index.md
Labels: enhancement

#3046 Increase number of columns to `show` in data set
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/forecast_view.py
  website/content/terminal/forecast/show/_index.md
Labels: enhancement, feat XS, HACKTOBERFEST

#3037 Fix bitcoin rainbow
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
Labels: bug

#3058 Enhance look and readability of `corr` heatmap (UX)
  openbb_terminal/forecast/forecast_view.py
Labels: enhancement, feat S, HACKTOBERFEST

#3061 Spelling correction
  website/content/terminal/stocks/ins/_index.md
Labels: docs, guides, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED

#3067 Fix: replaced the prediction techniques links with foecasting menu links
  website/content/terminal/crypto/_index.md
  website/content/terminal/economy/_index.md
  website/content/terminal/etf/_index.md
  website/content/terminal/forex/_index.md
  website/content/terminal/stocks/_index.md
Labels: docs
