Repository OpenBB-finance/OpenBB, pull requests merged in 2022-02, with the labels that each got.

#1258 Upgrade jupyterlab extension deps to mitigate vulns
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  discordbot/requirements.txt
  jupyterlab/documentation/package.json
  jupyterlab/documentation/yarn.lock
  jupyterlab/gst-settings/package.json
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/package.json
  jupyterlab/gst/yarn.lock
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/gamestonk_terminal/stocks/dark_pool_shorts/json/test_finra_model/test_getATSdata_1.json
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_finra_model.py
Labels: dependencies

#1269 Adding VaR and Adjusted VaR
  gamestonk_terminal/common/quantitative_analysis/qa_model.py
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/txt/test_qa_controller/test_print_help.txt
  website/content/common/quantitative_analysis/var/_index.md
Labels: feat S

#1295 Explicitly resolve marked package to a secure version
  jupyterlab/documentation/package.json
  jupyterlab/documentation/yarn.lock
  jupyterlab/gst-settings/package.json
  jupyterlab/gst-settings/yarn.lock
  jupyterlab/gst/package.json
  jupyterlab/gst/yarn.lock
Labels: dependencies

#1279 Improved crypto handling
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/discovery/dappradar_model.py
  gamestonk_terminal/cryptocurrency/onchain/bitquery_model.py
  gamestonk_terminal/cryptocurrency/onchain/bitquery_view.py
  gamestonk_terminal/cryptocurrency/overview/cryptopanic_model.py
  gamestonk_terminal/cryptocurrency/overview/cryptopanic_view.py
  scripts/test_crypto_disc.gst
  tests/gamestonk_terminal/cryptocurrency/discovery/txt/test_dappradar_model/test__make_request_status_400.txt
  tests/gamestonk_terminal/cryptocurrency/discovery/txt/test_dappradar_model/test__make_request_value_error.txt
Labels: refactor

#1298 Added show_index
  gamestonk_terminal/etf/stockanalysis_view.py
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
Labels: bug

#1297 Debug Patch
  gamestonk_terminal/parent_classes.py
  terminal.py
Labels: bug

#1302 Fix Debug
  gamestonk_terminal/decorators.py
  gamestonk_terminal/jupyter/reports/reports_controller.py
  gamestonk_terminal/parent_classes.py
  tests/gamestonk_terminal/test_debug_mode.py
Labels: bug, enhancement

#1280 Portfolio class
  gamestonk_terminal/portfolio/portfolio_api.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/portfolio/portfolios/bitcoin.csv
  gamestonk_terminal/portfolio/portfolios/example.csv
  gamestonk_terminal/portfolio/portfolios/james.csv
  gamestonk_terminal/portfolio/yfinance_model.py
  tests/gamestonk_terminal/portfolio/test_portfolio_controller.py
  tests/gamestonk_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  website/content/portfolio/al/_index.md
  website/content/portfolio/build/_index.md
  website/content/portfolio/dd/_index.md
  website/content/portfolio/init/_index.md
  website/content/portfolio/rmv/_index.md
  website/content/portfolio/rolling/_index.md
  website/data/menu/main.yml
Labels: refactor

#1304 Improve create_dataframe
  gamestonk_terminal/economy/alphavantage_view.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
Labels: enhancement

#1310 Fix bugs
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_model.py
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/economy/nasdaq_view.py
  gamestonk_terminal/etf/screener/screener_view.py
  gamestonk_terminal/forex/oanda/oanda_model.py
  gamestonk_terminal/forex/oanda/oanda_view.py
  run_scripts.sh
  scripts/test_jupyter_base.gst
Labels: bug

#1313 Implement keys menu
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/decorators.py
  gamestonk_terminal/keys_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/terminal_helper.py
  terminal.py
  tests/gamestonk_terminal/test_terminal_helper.py
Labels: enhancement, feat S

#1314 Remove Tabulate
  discordbot/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1278 Crypto Base
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/parent_classes.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_call_load.txt
  tests/gamestonk_terminal/cryptocurrency/test_crypto_controller.py
  tests/gamestonk_terminal/cryptocurrency/txt/test_crypto_controller/test_call_load.txt
Labels: refactor

#1305 Style forex
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/forex/oanda/oanda_view.py
  gamestonk_terminal/helper_classes.py
Labels: enhancement, refactor

#1316 add settings menu
  gamestonk_terminal/config_plot.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/settings_controller.py
  terminal.py
Labels: feat M

#1317 Fix small issues
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/settings_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/finra_model.py
  gamestonk_terminal/stocks/dark_pool_shorts/finra_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[False].yaml
  tests/gamestonk_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[True].yaml
  tests/gamestonk_terminal/stocks/dark_pool_shorts/txt/test_sec_view/test_fails_to_deliver[False].txt
  tests/gamestonk_terminal/stocks/dark_pool_shorts/txt/test_sec_view/test_fails_to_deliver[True].txt
Labels: bug

#1320 Add tradingview command to ta controller
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  website/content/common/technical_analysis/tv/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1319 Add logo to about us command
  gamestonk_terminal/terminal_helper.py
  images/gst_letters.png
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
  tests/gamestonk_terminal/test_terminal_helper.py
Labels: feat XS

#1315 Style common TA
  gamestonk_terminal/api.py
  gamestonk_terminal/common/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/common/technical_analysis/momentum_view.py
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_view.py
  gamestonk_terminal/common/technical_analysis/volatility_view.py
  gamestonk_terminal/common/technical_analysis/volume_view.py
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/etf/technical_analysis/ta_controller.py
  gamestonk_terminal/forex/oanda/oanda_view.py
  gamestonk_terminal/helper_classes.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/stocks_api.py
  gamestonk_terminal/stocks/technical_analysis/ta_api.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  styles/default/dark.mplrc.json
  tests/gamestonk_terminal/etf/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_ta_controller.py
Labels: enhancement, refactor

#1329 Fixed ETF overview table
  gamestonk_terminal/etf/stockanalysis_view.py
Labels: bug

#1330 Remove unkept `rtearn`
  gamestonk_terminal/stocks/discovery/disc_api.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/geekofwallstreet_model.py
  gamestonk_terminal/stocks/discovery/geekofwallstreet_view.py
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_geekofwallstreet_model/test_get_realtime_earnings.yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_geekofwallstreet_view/test_get_realtime_earnings.yaml
  tests/gamestonk_terminal/stocks/discovery/test_disc_controller.py
  tests/gamestonk_terminal/stocks/discovery/test_geekofwallstreet_model.py
  tests/gamestonk_terminal/stocks/discovery/test_geekofwallstreet_view.py
  tests/gamestonk_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  website/content/stocks/discovery/rtearn/_index.md
  website/data/menu/main.yml
Labels: refactor

#1311 funds + custom
  gamestonk_terminal/custom/custom_controller.py
  gamestonk_terminal/custom/custom_view.py
  gamestonk_terminal/helper_classes.py
  gamestonk_terminal/mutual_funds/investpy_view.py
Labels: enhancement, refactor

#1333 Brotli Wording
  tests/conftest.py
Labels: enhancement

#1328 Add external axes mode to covid charts
  gamestonk_terminal/alternative/covid/covid_view.py
Labels: feat XS

#1335 Plot updates in common BA
  gamestonk_terminal/common/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/common/behavioural_analysis/google_view.py
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/common/behavioural_analysis/twitter_view.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_api.py
  tests/gamestonk_terminal/common/behavioural_analysis/test_sentimentinvestor_view.py
  tests/gamestonk_terminal/common/behavioural_analysis/txt/test_sentimentinvestor_view/test_display_historical_empty_df.txt
  tests/gamestonk_terminal/common/behavioural_analysis/txt/test_sentimentinvestor_view/test_display_historical_supported_ticker.txt
  tests/gamestonk_terminal/common/behavioural_analysis/txt/test_sentimentinvestor_view/test_display_trending.txt
  tests/gamestonk_terminal/common/behavioural_analysis/txt/test_sentimentinvestor_view/test_display_trending_empty_df.txt
Labels: enhancement, feat S, refactor

#1336 Adds Discord Bot to Hugo Server Documentation
  website/content/_index.md
  website/content/bot/_index.md
  website/content/bot/discord/_index.md
  website/data/menu/main.yml
Labels: docs

#1337 Dev-dependencies : adding pytest-cov
  discordbot/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1312 Refactored terminal.py
  .terminal.py.swp
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/defipulse_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/blockchain_view.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/rich_config.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/due_diligence/fmp_model.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_model.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_view.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  gamestonk_terminal/stocks/stocks_helper.py
  gamestonk_terminal/terminal_helper.py
  run_scripts.sh
  scripts/test_port.gst
  terminal.py
  tests/gamestonk_terminal/cryptocurrency/defi/csv/test_defipulse_model/test_get_defipulse_index.csv
  tests/gamestonk_terminal/cryptocurrency/defi/txt/test_defipulse_view/test_display_defipulse.txt
Labels: enhancement

#1341 Add StockAnalysis (multi-year) to the Sector & Industry Analysis menu
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/stockanalysis_model.py
  gamestonk_terminal/stocks/sector_industry_analysis/stockanalysis_view.py
  scripts/test_stocks_sia.gst
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks0-re-sa_keys0-annual-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks1-rec-sa_keys1-quarterly-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[ncf-sa_keys2-Netherlands-Technology-None-annual-3-Large-CF].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[rec-sa_keys1-Germany-Technology-None-trailing-13-Large-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_change_type_dataframes.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks0-re-sa_keys0-annual-IS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks1-rec-sa_keys1-quarterly-BS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_match_length_dataframes.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_match_length_dataframes_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[ncf-sa_keys2-Netherlands-Technology-None-annual-3-Large-CF]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[ncf-sa_keys2-Netherlands-Technology-None-annual-3-Large-CF]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_3.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_4.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_5.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_6.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_7.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_8.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[rec-sa_keys1-Germany-Technology-None-trailing-13-Large-BS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/json/test_stockanalysis_view/test_display_plots_financials[ncf-sa_keys2-Netherlands-Technology-None-annual-3-Large-CF].json
  tests/gamestonk_terminal/stocks/sector_industry_analysis/json/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS].json
  tests/gamestonk_terminal/stocks/sector_industry_analysis/json/test_stockanalysis_view/test_display_plots_financials[rec-sa_keys1-Germany-Technology-None-trailing-13-Large-BS].json
  tests/gamestonk_terminal/stocks/sector_industry_analysis/test_stockanalysis_model.py
  tests/gamestonk_terminal/stocks/sector_industry_analysis/test_stockanalysis_view.py
  tests/gamestonk_terminal/stocks/sector_industry_analysis/txt/test_sia_controller/test_print_help.txt
  website/content/stocks/sia/_index.md
  website/content/stocks/sia/bs/_index.md
  website/content/stocks/sia/cf/_index.md
  website/content/stocks/sia/is/_index.md
  website/content/stocks/sia/metric/_index.md
  website/content/stocks/sia/visualise/_index.md
Labels: enhancement, feat M

#1323 Etf refactor
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/yfinance_view.py
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/helper_classes.py
  styles/default/dark.mplrc.json
  styles/default/light.mplrc.json
  tests/gamestonk_terminal/etf/test_etf_controller.py
  tests/gamestonk_terminal/etf/test_yfinance_view.py
  tests/gamestonk_terminal/etf/txt/test_etf_controller/test_call_candle.txt
Labels: refactor

#1338 stocks/fa Tables were not showing the indices...
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_calendar_earnings].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_dividends].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_hq].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_info].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_shareholders].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_sustainability].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_website].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_shareholders.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_call_func[get_calendar_earnings].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_call_func[get_dividends].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_call_func[get_info].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_call_func[get_sustainability].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_shareholders.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_shareholders_1.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_shareholders_2.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_model/test_call_func[get_hq].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_model/test_call_func[get_website].txt
Labels: bug

#1339 readme links fix
  discordbot/README.md
Labels: bug, docs

#1346 Fix bug Sentiment Investment Trend
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
Labels: bug

#1327 fix bug (shortterm) and refine error message if ticker missing
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_view.py
  gamestonk_terminal/decorators.py
  gamestonk_terminal/jupyter/reports/crypto_market.ipynb
  gamestonk_terminal/jupyter/reports/due_diligence.ipynb
  gamestonk_terminal/jupyter/reports/reports_controller.py
  gamestonk_terminal/jupyter/reports/similar_analysis.ipynb
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: bug

#1347 bugs
  gamestonk_terminal/economy/finviz_view.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug

#1348 oopsy prints
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug

#1324 Options refactor
  gamestonk_terminal/stocks/options/alphaquery_view.py
  gamestonk_terminal/stocks/options/calculator_view.py
  gamestonk_terminal/stocks/options/chartexchange_model.py
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  gamestonk_terminal/stocks/options/tradier_model.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  tests/gamestonk_terminal/stocks/options/cassettes/test_chartexchange_model/test_get_option_history.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_chartexchange_view/test_display_raw.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_get_historical_options.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_get_option_chains.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_last_price.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_option_expirations.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_display_chains.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_display_historical.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_plot_oi.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_plot_volume_open_interest.yaml
  tests/gamestonk_terminal/stocks/options/csv/test_tradier_model/test_get_historical_options.csv
  tests/gamestonk_terminal/stocks/options/csv/test_tradier_model/test_get_option_chains.csv
  tests/gamestonk_terminal/stocks/options/json/test_tradier_model/test_last_price.json
  tests/gamestonk_terminal/stocks/options/json/test_tradier_model/test_option_expirations.json
  tests/gamestonk_terminal/stocks/options/test_alphaquery_view.py
  tests/gamestonk_terminal/stocks/options/test_calculator_view.py
  tests/gamestonk_terminal/stocks/options/test_syncretism_view.py
  tests/gamestonk_terminal/stocks/options/test_tradier_model.py
  tests/gamestonk_terminal/stocks/options/test_tradier_view.py
  tests/gamestonk_terminal/stocks/options/test_yfinance_view.py
  tests/gamestonk_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output.txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-False--1--1].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-True--1--1].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-True-80.0-90.0].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[True-False--1--1].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[True-False-80.0-90.0].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_historical.txt
Labels: refactor

#1349 Improve StockAnalysis functions
  gamestonk_terminal/stocks/sector_industry_analysis/stockanalysis_view.py
Labels: enhancement

#1355 Fix stocks asthetic style
  gamestonk_terminal/parent_classes.py
  gamestonk_terminal/stocks/comparison_analysis/finbrain_view.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/finra_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/nyse_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/sec_view.py
  gamestonk_terminal/stocks/dark_pool_shorts/stockgrid_view.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/government/quiverquant_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  gamestonk_terminal/stocks/stocks_helper.py
  styles/default/dark.mplstyle
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
Labels: enhancement

#1289 Add Luna cir supply command from Smartstake
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/smartstake_model.py
  gamestonk_terminal/cryptocurrency/defi/smartstake_view.py
  gamestonk_terminal/keys_controller.py
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_smartstake_model/test_get_luna_supply_stats[30].yaml
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_smartstake_model/test_get_luna_supply_stats[60].yaml
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_smartstake_model/test_get_luna_supply_stats[90].yaml
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_smartstake_view/test_display_luna_circ_supply_change.yaml
  tests/gamestonk_terminal/cryptocurrency/defi/csv/test_smartstake_model/test_get_luna_supply_stats[30].csv
  tests/gamestonk_terminal/cryptocurrency/defi/csv/test_smartstake_model/test_get_luna_supply_stats[60].csv
  tests/gamestonk_terminal/cryptocurrency/defi/csv/test_smartstake_model/test_get_luna_supply_stats[90].csv
  tests/gamestonk_terminal/cryptocurrency/defi/test_defi_controller.py
  tests/gamestonk_terminal/cryptocurrency/defi/test_smartstake_model.py
  tests/gamestonk_terminal/cryptocurrency/defi/test_smartstake_view.py
  tests/gamestonk_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
  tests/gamestonk_terminal/cryptocurrency/defi/txt/test_smartstake_view/test_display_luna_circ_supply_change.txt
  website/content/cryptocurrency/defi/lcsc/_index.md
  website/data/menu/main.yml
Labels: feat S

#1374 Hugo server fixes
  website/content/bot/_index.md
  website/content/jupyter/_index.md
  website/themes/hugo-geekdoc/layouts/partials/menu-bundle.html
  website/themes/hugo-geekdoc/layouts/partials/menu.html
  website/themes/hugo-geekdoc/layouts/partials/page-header.html
  website/themes/hugo-geekdoc/layouts/partials/search.html
  website/themes/hugo-geekdoc/layouts/partials/site-header.html
Labels: docs

#1372 Fix Stocks Due Dilliegence Supplier bug
  gamestonk_terminal/stocks/due_diligence/csimarket_model.py
  tests/gamestonk_terminal/stocks/due_diligence/txt/test_csimarket_model/test_get_suppliers.txt
  tests/gamestonk_terminal/stocks/due_diligence/txt/test_csimarket_view/test_get_suppliers.txt
Labels: bug

#1383 Clean up FA menu printing
  gamestonk_terminal/stocks/fundamental_analysis/business_insider_view.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_view.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_shareholders].txt
Labels: bug

#1391 Squishy the bugs
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  tests/gamestonk_terminal/economy/fred/test_fred_controller.py
Labels: bug

#1388 Portfolio optimization bugs
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  tests/gamestonk_terminal/portfolio/portfolio_optimization/test_po_controller.py
Labels: bug

#1400 Fix main.yml
  website/data/menu/main.yml
Labels: docs

#1401 extra ref in main
  website/data/menu/main.yml
Labels: bug, website

#1369 Fix bugs Stocks Candle moving average
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  tests/gamestonk_terminal/stocks/test_stocks_controller.py
Labels: bug

#1408 Bump tensorflow version to mitigate vulnerabilities
  bots/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1413 Bump all deps following breaking changes in multiple libraries
  bots/requirements.txt
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1414 Tests : Cryptocurrency>Onchain>Ethplorer
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_address_history-kwargs4].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_address_info-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_token_decimals-kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_token_historical_price-kwargs7].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_token_historical_price-kwargs8].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_token_history-kwargs6].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_token_history-kwargs7].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_token_info-kwargs5].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_top_token_holders-kwargs3].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_call_func[get_top_tokens-kwargs2].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_model/test_get_tx_info.yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_address_history-kwargs3].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_address_info-kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_token_historical_prices-kwargs7].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_token_history-kwargs6].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_token_info-kwargs4].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_top_token_holders-kwargs2].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_top_tokens-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_ethplorer_view/test_call_func[display_tx_info-kwargs5].yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/test_ethplorer_model.py
  tests/gamestonk_terminal/cryptocurrency/onchain/test_ethplorer_view.py
Labels: tests

#1392 Fix visualise sia metric
  gamestonk_terminal/common/behavioural_analysis/twitter_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_ba_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/dark_pool_shorts/cassettes/test_dps_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_workbook.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_xls.yaml
  tests/gamestonk_terminal/stocks/government/cassettes/test_gov_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/quantitative_analysis/cassettes/test_qa_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[ncf-sa_keys2-Netherlands-Technology-None-annual-3-Large-CF].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[rec-sa_keys1-Germany-Technology-None-trailing-13-Large-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_2.csv
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
Labels: bug

#1406 Fix hashrate chart legend position
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
Labels: bug

#1409 Fix bug crypto whales
  gamestonk_terminal/cryptocurrency/onchain/whale_alert_model.py
  gamestonk_terminal/cryptocurrency/onchain/whale_alert_view.py
Labels: bug

#1354 Refactored menu
  .terminal.py.swp
  gamestonk_terminal/jupyter/dashboards/shortdata.ipynb
  terminal.py
  tests/.test_terminal.py.swp
  tests/gamestonk_terminal/txt/test_menu/test_menu[False-False-None-path1].txt
  tests/gamestonk_terminal/txt/test_menu/test_menu[False-True-alt_covid-path2].txt
  tests/gamestonk_terminal/txt/test_menu/test_menu[True-False-None-None].txt
  tests/test_terminal.py
  tests/txt/test_terminal/test_menu[False-False-None-path1].txt
  tests/txt/test_terminal/test_menu[False-True-alt_covid-path2].txt
  tests/txt/test_terminal/test_menu[True-False-None-None].txt
Labels: refactor

#1412 Fix header messages command
  gamestonk_terminal/common/behavioural_analysis/stocktwits_view.py
Labels: bug

#1411 Fix pipo & fipo limit arguments
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/finnhub_view.py
  tests/gamestonk_terminal/stocks/discovery/test_disc_controller.py
  tests/gamestonk_terminal/stocks/discovery/test_finnhub_view.py
Labels: bug

#1296 Stock table
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
Labels: dashboards

#1417 Fixed QA exit bug
  .terminal.py.swp
  gamestonk_terminal/stocks/.stocks_controller.py.swp
  gamestonk_terminal/stocks/stocks_controller.py
Labels: bug

#1415 Improve integrated tests
  .gitignore
  terminal.py
  tests/.test_terminal.py.swp
  tests/test_terminal.py
  tests/txt/test_terminal/test_menu[False-False-False-None-path1].txt
  tests/txt/test_terminal/test_menu[False-True-False-alt_covid-path2].txt
  tests/txt/test_terminal/test_menu[False-True-True-alt_covid-path3].txt
  tests/txt/test_terminal/test_menu[True-False-False-None-None].txt
Labels: tests

#1416 Crypto heatmaps
  bots/requirements.txt
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_crypto_ov.gst
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coin_list-kwargs5].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coins-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coins-kwargs2].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_coins_for_given_exchange-kwargs6].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_mapping_matrix_for_exchange-kwargs7].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_call_func[get_trending_coins-kwargs4].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_get_coins[kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_model/test_get_coins[kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_coin_list-kwargs5].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_coins-kwargs1].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_coins-kwargs2].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_trending_coins-kwargs4].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_get_coins[kwargs0].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_get_coins[kwargs1].csv
  tests/gamestonk_terminal/cryptocurrency/discovery/json/test_pycoingecko_model/test_call_func[get_coins_for_given_exchange-kwargs6].json
  tests/gamestonk_terminal/cryptocurrency/discovery/json/test_pycoingecko_model/test_call_func[get_mapping_matrix_for_exchange-kwargs7].json
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_overview_controller/test_print_help.txt
  website/content/cryptocurrency/overview/hm/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1422 Add gst logo with letters only
  images/gst_logo_lockup_rGreen_with_letters_only.png
Labels: docs

#1423 Line custom markers to highlight events of interest
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/custom/quantitative_analysis/qa_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  website/content/common/quantitative_analysis/line/_index.md
Labels: feat XS

#1424 Update sia and historical charts
  gamestonk_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  gamestonk_terminal/stocks/screener/yahoofinance_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/stockanalysis_view.py
  tests/gamestonk_terminal/stocks/sector_industry_analysis/txt/test_sia_controller/test_print_help.txt
Labels: bug, feat XS
