Repository OpenBB-finance/OpenBB, pull requests merged in 2022-06, with the labels that each got.

#1874 Bug/crypto defi vaults command broken #1822
  openbb_terminal/cryptocurrency/defi/coindix_model.py
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_get_coins.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_coindix_model/test_get_defi_vaults.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_coindix_view/test_display_defi_vaults.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_coindix_model/test_get_defi_vaults.csv
  tests/openbb_terminal/cryptocurrency/defi/txt/test_coindix_view/test_display_defi_vaults.txt
  website/content/terminal/cryptocurrency/defi/vaults/_index.md
Labels: bug

#1868 Add in Hugo docs for Trading Hours and Behavioural Analysis
  website/content/terminal/common/behavioural_analysis/_index.md
  website/content/terminal/common/behavioural_analysis/interest/_index.md
  website/content/terminal/common/behavioural_analysis/jcdr/_index.md
  website/content/terminal/common/behavioural_analysis/jctr/_index.md
  website/content/terminal/common/behavioural_analysis/snews/_index.md
  website/content/terminal/stocks/behavioural_analysis/jcdr/_index.md
  website/content/terminal/stocks/behavioural_analysis/jctr/_index.md
  website/content/terminal/stocks/tradinghours/_index.md
  website/data/menu/main.yml
Labels: docs

#1890 Lock pylint version
  .github/workflows/test.yml
  bots/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, dependencies

#1842 Added plots for tickers
  openbb_terminal/jupyter/reports/stored/20220404_092139_crypto_market.html
  openbb_terminal/jupyter/reports/stored/20220404_100708_crypto_market.html
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  website/content/terminal/portfolio/po/ef/_index.md
Labels: bug

#1891 Improve the Hugo documentation to be more accessible and user-friendly
  website/config.toml
  website/content/_index.md
  website/content/api/_index.md
  website/content/bots/_index.md
  website/content/bots/discord/_index.md
  website/content/terminal/_index.md
  website/content/terminal/stocks/_index.md
  website/content/terminal/stocks/prediction_techniques/_index.md
  website/content/terminal/stocks/quantitative_analysis/_index.md
  website/data/menu/main.yml
  website/themes/hugo-geekdoc/layouts/shortcodes/toc.html
Labels: docs

#1895 Make documentation link front and center in readme
  README.md
Labels: docs

#1894 Fix a broken link to the load page
  website/content/terminal/stocks/quote/_index.md
Labels: bug

#1896 Removing expo model from predictions until forecast menu (mac dependancy issue)
  i18n/en.yml
  openbb_terminal/common/prediction_techniques/expo_model.py
  openbb_terminal/common/prediction_techniques/expo_view.py
  openbb_terminal/stocks/prediction_techniques/pred_api.py
  openbb_terminal/stocks/prediction_techniques/pred_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  website/content/terminal/common/prediction_techniques/expo/_index.md
  website/data/menu/main.yml
Labels: dependencies

#1897 Fix a broken link to Jupyter directions
  openbb_terminal/README.md
Labels: bug

#1900 Skip predictions in reports if prediction package is missing.
  openbb_terminal/reports/equity.ipynb
Labels: bug, enhancement

#1903 Fix multiple crypto bugs
  openbb_terminal/cryptocurrency/due_diligence/finbrain_crypto_view.py
  openbb_terminal/cryptocurrency/due_diligence/messari_view.py
  openbb_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  openbb_terminal/cryptocurrency/overview/coinpaprika_view.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_glassnode_view.py
  website/data/menu/main.yml
Labels: bug

#1901 Add on feature flag for 'smart' loading
  i18n/en.yml
  openbb_terminal/featflags_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/parent_classes.py
Labels: enhancement

#1908 Clarify values by re-ordering rows in enterprise value report
  openbb_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/financial_modeling_prep/txt/test_fmp_view/test_check_output[False-display_enterprise-kwargs_dict2].txt
  tests/openbb_terminal/stocks/fundamental_analysis/financial_modeling_prep/txt/test_fmp_view/test_check_output[True-display_enterprise-kwargs_dict2].txt
Labels: enhancement

#1909 Release/1.4.0
  .pre-commit-config.yaml
  bots/requirements.txt
  build/pyinstaller/frozendict/VERSION
  build/pyinstaller/property_cached/__init__.py
  build/pyinstaller/property_cached/_version.txt
  build/pyinstaller/terminal.spec
  build/pyinstaller/user_agent/__init__.py
  build/pyinstaller/user_agent/base.py
  build/pyinstaller/user_agent/cli.py
  build/pyinstaller/user_agent/data/smartphone_dev_ext.json
  build/pyinstaller/user_agent/data/smartphone_dev_id.json
  build/pyinstaller/user_agent/data/tablet_dev_ext.json
  build/pyinstaller/user_agent/data/tablet_dev_id.json
  build/pyinstaller/user_agent/device.py
  build/pyinstaller/user_agent/error.py
  build/pyinstaller/user_agent/warning.py
  build/pyinstaller/vaderSentiment/__init__.py
  build/pyinstaller/vaderSentiment/emoji_utf8_lexicon.txt
  build/pyinstaller/vaderSentiment/vaderSentiment.py
  build/pyinstaller/vaderSentiment/vader_lexicon.txt
  openbb_terminal/feature_flags.py
  openbb_terminal/settings_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_stocks_bt.openbb
  scripts/test_stocks_pred.openbb
  terminal.py
Labels: bug, build

#1911 adds Introduction to Hedge Submenu Guide
  website/content/terminal/stocks/options/hedge/_index.md
Labels: website

#1913 Add argument to remove masking for heatmap in hcorr and print correlations to command line
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  tests/openbb_terminal/stocks/comparison_analysis/test_ca_controller.py
  website/content/terminal/stocks/comparison_analysis/hcorr/_index.md
Labels: enhancement

#1914 Fixes bug #1907 scraping management data
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_business_insider_model/test_get_management.csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_display_management[False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_display_management[True].txt
Labels: bug

#1917 Fix trailing coma typo
  openbb_terminal/reports/equity.ipynb
Labels: bug

#1915 adds Introduction to Options Screener Guide and renames the folder to 'screen'
  website/content/terminal/stocks/options/scr/_index.md
  website/content/terminal/stocks/options/screen/_index.md
  website/data/menu/main.yml
Labels: docs

#1838 refactoring load, changed chart to candle
  i18n/en.yml
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  openbb_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_coin_chart.yaml
  tests/openbb_terminal/cryptocurrency/cassettes/test_cryptocurrency_helpers/test_get_coins.yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/test_crypto_controller.py
  tests/openbb_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/openbb_terminal/cryptocurrency/txt/test_cryptocurrency_helpers/test_coin_chart.txt
Labels: refactor

#1919 Adds Introduction to the Options Menu Guide
  routines/options_demo.openbb
  website/content/terminal/stocks/options/_index.md
  website/content/terminal/stocks/options/hedge/_index.md
  website/content/terminal/stocks/options/pricing/_index.md
  website/content/terminal/stocks/options/screen/_index.md
Labels: docs

#1922 Changing no data label and test files
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_display_management_nodata.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/test_business_insider_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_display_management_nodata.txt
Labels: bug

#1926 Release/1.5.0
  .gitignore
  LICENSE
  build/pyinstaller/build4mac.sh
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  build/pyinstaller/setup_icons.applescript
  build/pyinstaller/terminal.spec
  images/dmg_volume.icns
  images/openbb_dmg_background.png
  images/openbb_dmg_background@2x.png
  images/openbb_folder_icon.icns
  openbb_terminal/jupyter/reports/stored/20220404_092139_crypto_market.html
  openbb_terminal/jupyter/reports/stored/20220404_100708_crypto_market.html
  pyproject.toml
  terminal.py
  website/content/_index.md
Labels: build

#1930 Updated Tickers.csv
  bots/files/tickers.csv
Labels: bug

#1920 Update logs rotation
  openbb_terminal/core/log/generation/path_tracking_file_handler.py
  terminal.py
Labels: feat XS, logging, analytics

#1929 Updated install instruction for `jupyterlab`
  jupyterlab/README.md
Labels: bug

#1939 Match to USA if no exchange suffix is present
  openbb_terminal/stocks/stocks_helper.py
Labels: bug

#1941 Update docs for the load command
  website/content/terminal/portfolio/load/_index.md
Labels: docs

#1943 Fixing future warnings bug by switching from append to concat.
  openbb_terminal/stocks/dark_pool_shorts/finra_model.py
Labels: bug

#1951 Fix show ticker issue
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
Labels: bug

#1952 Fixed cntrld issue
  openbb_terminal/parent_classes.py
  terminal.py
Labels: bug

#1953 Fixed risk free bug
  openbb_terminal/portfolio/portfolio_controller.py
Labels: bug

#1954 Fixes Blank Report Bug
  openbb_terminal/reports/reports_controller.py
Labels: bug

#1948 Fixed warnings bug which does not display data if there is an inf value data point
  openbb_terminal/helper_funcs.py
Labels: bug

#1957 Fix crypto/defi/vaults not showing for default and -k lp
  openbb_terminal/cryptocurrency/defi/coindix_model.py
  openbb_terminal/cryptocurrency/defi/coindix_view.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_coindix_model/test_get_defi_vaults.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_coindix_view/test_display_defi_vaults.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_coindix_model/test_get_defi_vaults.csv
  tests/openbb_terminal/cryptocurrency/defi/txt/test_coindix_view/test_display_defi_vaults.txt
Labels: bug

#1931 Adds Introduction to the Stocks Insider Trading Menu
  routines/gov_demo.openbb
  routines/insider_demo.openbb
  website/content/terminal/stocks/government/_index.md
  website/content/terminal/stocks/insider/_index.md
Labels: docs

#1950 Adds Introduction Guide to Stock Screener
  openbb_terminal/economy/yfinance_model.py
  routines/discovery_demo.openbb
  routines/stock_screener_demo.openbb
  website/content/terminal/stocks/screener/_index.md
Labels: enhancement

#1956 Fixing fails to deliver bug and resulting NaN values in dataframe bug
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_sec_model/test_get_fails_to_deliver[1].yaml
Labels: bug

#1947 Fixing scorr and sentiment dataframe indexing bug
  openbb_terminal/stocks/comparison_analysis/finbrain_model.py
Labels: bug

#1973 Add in Introduction to ETFs
  website/content/terminal/etf/_index.md
  website/content/terminal/etf/ld/_index.md
  website/content/terminal/etf/ln/_index.md
  website/content/terminal/etf/load/_index.md
  website/content/terminal/etf/summary/_index.md
  website/data/menu/main.yml
Labels: docs

#1966 Add in Econometrics guide and routine
  routines/econometrics_demo.openbb
  website/content/terminal/econometrics/_index.md
Labels: docs

#1964 Adds Introduction Guide to the Technical Analysis Menu
  routines/ta_demo.openbb
  website/content/terminal/common/technical_analysis/_index.md
Labels: docs

#1975 Add diff output to black workflow step
  .github/workflows/test.yml
Labels: enhancement

#1981 fixed crypto load
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/cryptocurrency/txt/test_cryptocurrency_helpers/test_coin_chart.txt
Labels: bug

#1979 Add in Introduction to Funds guide
  website/content/_index.md
  website/content/terminal/common/behavioural_analysis/_index.md
  website/content/terminal/funds/_index.md
  website/content/terminal/stocks/options/_index.md
Labels: docs

#1965 [Bug] crypto/defi/sratio: Remove scientific notation in Chart title
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
Labels: bug

#1976 [Bug] Broken ETF functionalities
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/stockanalysis_model.py
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_compare_etfs[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_compare_etfs[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_all_names_symbols.yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etfs_by_name[oil].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-True].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-True].yaml
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_compare_etfs[symbols0].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_compare_etfs[symbols1].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKW].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKW].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etfs_by_name[oil].csv
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols.json
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols_1.json
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_display_etf_by_name[ARKQ].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_display_etf_by_name[ARKW].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_comparisons[symbols0].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_comparisons[symbols1].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKQ].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKW].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-False].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-True].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-False].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-True].txt
Labels: bug

#1987 disnake intents patch
  bots/README.md
  bots/menus/menu.py
Labels: docs, discord

#1923 Fixing default view and ascending order in cglosers and cggainers
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_model.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_view.py
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_coins-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_losers-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_trending-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].csv
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_coins-kwargs0].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_losers-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_trending-kwargs3].txt
Labels: bug

#1980 Removes command govp from crypto/defi
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
Labels: bug

#1988 [Bug] ta/bbands: when value contains a decimal: error: argument -s/--std: invalid check_positive value: '4.5'
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
Labels: enhancement

#1986 Handle errors when tickers can't be loaded
  openbb_terminal/stocks/comparison_analysis/marketwatch_model.py
  openbb_terminal/stocks/comparison_analysis/marketwatch_view.py
  openbb_terminal/stocks/fundamental_analysis/market_watch_model.py
  openbb_terminal/stocks/fundamental_analysis/market_watch_view.py
Labels: bug

#1990 Fixed bad URL to options screener intro
  website/content/terminal/stocks/options/_index.md
Labels: bug

#1970 Add Introduction to Cryptocurrency Guide & Fix crypto/find
  guides/crypto/top_level_menu.md
  openbb_terminal/cryptocurrency/crypto_controller.py
Labels: docs

#1998 Fixes stock price and metrics in #1993
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: bug

#2000 Fixed typo - SCI --> SIC
  website/content/terminal/stocks/codes/_index.md
Labels: enhancement

#2001 Adds Stocks/DD Guide
  routines/dd_demo.openbb
  website/content/terminal/stocks/due_diligence/_index.md
Labels: docs

#2004 Warning messages in #2002
  requirements-full.txt
  requirements.txt
Labels: bug

#1971 Changing menu dialogue for keys menu to be more apparent on how to add an api key
  i18n/en.yml
Labels: enhancement

#1996 Improve economy menu
  i18n/en.yml
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/yfinance_view.py
  openbb_terminal/reports/equity.ipynb
  openbb_terminal/reports/reports_controller.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
Labels: enhancement

#1984 New Feature Financial Analysis, checks Yahoo if no data at Alpha Advantage.
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/polygon_model.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_balance_sheet-kwargs_dict4].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_balance_sheet-kwargs_dict5].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_cash_flow-kwargs_dict6].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_cash_flow-kwargs_dict7].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_earnings-kwargs_dict8].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_earnings-kwargs_dict9].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_income_statement-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_income_statement-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_key-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[False-display_overview-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_balance_sheet-kwargs_dict4].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_balance_sheet-kwargs_dict5].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_cash_flow-kwargs_dict6].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_cash_flow-kwargs_dict7].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_earnings-kwargs_dict8].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_earnings-kwargs_dict9].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_income_statement-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_income_statement-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_key-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_av_view/test_check_output[True-display_overview-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_model/test_check_output[get_financials-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict0].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict2].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict3].csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_balance_sheet-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_cash_flow-kwargs_dict6].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_cash_flow-kwargs_dict7].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_earnings-kwargs_dict8].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_earnings-kwargs_dict9].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_income_statement-kwargs_dict2].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[False-display_key-kwargs_dict1].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_balance_sheet-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_cash_flow-kwargs_dict6].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_cash_flow-kwargs_dict7].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_earnings-kwargs_dict8].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_earnings-kwargs_dict9].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_key-kwargs_dict1].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_overview-kwargs_dict0].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-True].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-True].txt
Labels: enhancement

#2017 Fix yf FA quarterly issue
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: bug

#2016 Add in Economy Guide to the website
  website/content/terminal/economy/_index.md
Labels: docs
