Repository OpenBB-finance/OpenBB, pull requests merged in 2022-01, with the labels that each got.

#1118 reset different coin from dd controller on crypto
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
Labels: bug

#1115 Fix to dcf command
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  scripts/test_stocks_fa.gst
Labels: bug

#1120 Revert DD report with pickle dataframe being stored
  gamestonk_terminal/economy/econ_data_helper.py
  gamestonk_terminal/reports/due_diligence.ipynb
Labels: feat XS

#1114 Discordbot/expiry reactions
  discordbot/reaction_helper.py
  discordbot/stocks/options/hist.py
  discordbot/stocks/options/oi.py
  discordbot/stocks/options/opt_cmd.py
  discordbot/stocks/options/options_menu.py
  discordbot/stocks/options/vol.py
Labels: feat S

#1122 Add whatif scenario feature
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/backtesting/bt_view.py
  scripts/test_stocks_bt.gst
  tests/gamestonk_terminal/stocks/backtesting/txt/test_bt_controller/test_print_help.txt
  website/content/stocks/backtesting/whatif/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1106 Mutual funds
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  exports/mutual_funds/.gitkeep
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/mutual_funds/__init__.py
  gamestonk_terminal/mutual_funds/investpy_model.py
  gamestonk_terminal/mutual_funds/investpy_view.py
  gamestonk_terminal/mutual_funds/mutual_fund_controller.py
  gamestonk_terminal/mutual_funds/yfinance_model.py
  gamestonk_terminal/mutual_funds/yfinance_view.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_funds.gst
  terminal.py
  website/content/funds/_index.md
  website/content/funds/country/_index.md
  website/content/funds/equity/_index.md
  website/content/funds/info/_index.md
  website/content/funds/load/_index.md
  website/content/funds/overview/_index.md
  website/content/funds/plot/_index.md
  website/content/funds/search/_index.md
  website/content/funds/sector/_index.md
  website/data/menu/main.yml
Labels: feat S

#1124 Handle KeyboardInterrupt on user input read
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/etf/discovery/disc_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/prediction_techniques/pred_controller.py
  gamestonk_terminal/etf/screener/screener_controller.py
  gamestonk_terminal/etf/technical_analysis/ta_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/mutual_funds/mutual_fund_controller.py
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/reports/reports_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/payoff_controller.py
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/options/screener_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  gamestonk_terminal/terminal_helper.py
  terminal.py
Labels: feat XS

#1113 Improve hugo docs
  website/.gitignore
  website/README.md
  website/config.toml
  website/content/_index.md
  website/content/common/quantitative_analysis/load/_index.md
  website/content/portfolio/_index.md
  website/content/stocks/candle/_index.md
  website/content/stocks/comparison_analysis/load/_index.md
  website/content/stocks/dark_pool_shorts/ftd/_index.md
  website/content/stocks/insider/load/_index.md
  website/content/stocks/news/_index.md
  website/content/stocks/quote/_index.md
  website/public/main-5e7fc0c942.min.css
  website/public/main-cc3cbe901b.min.css
  website/themes/hugo-geekdoc/assets/sprites/geekdoc.svg
  website/themes/hugo-geekdoc/layouts/_default/baseof.html
  website/themes/hugo-geekdoc/layouts/partials/menu-bundle.html
  website/themes/hugo-geekdoc/layouts/partials/menu.html
  website/themes/hugo-geekdoc/layouts/partials/page-header.html
  website/themes/hugo-geekdoc/layouts/partials/search.html
  website/themes/hugo-geekdoc/layouts/partials/site-footer.html
  website/themes/hugo-geekdoc/layouts/partials/site-header.html
  website/themes/hugo-geekdoc/static/katex-38042a7abd.min.css
  website/themes/hugo-geekdoc/static/katex-4ff918ea95.min.css
  website/themes/hugo-geekdoc/static/main-5e7fc0c942.min.css
  website/themes/hugo-geekdoc/static/main-cc3cbe901b.min.css
Labels: docs

#1128 Feature(crypto): network hashrate
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  scripts/test_crypto_onchain.gst
  website/content/cryptocurrency/onchain/hr/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1129 Fix Hugo server assets
  website/README.md
  website/config.toml
  website/content/common/quantitative_analysis/load/_index.md
  website/content/stocks/candle/_index.md
  website/content/stocks/comparison_analysis/load/_index.md
  website/content/stocks/dark_pool_shorts/ftd/_index.md
  website/content/stocks/insider/load/_index.md
  website/content/stocks/news/_index.md
  website/content/stocks/quote/_index.md
Labels: docs

#1130 Hugo darkmode fix
  website/content/funds/_index.md
  website/themes/hugo-geekdoc/layouts/_default/baseof.html
  website/themes/hugo-geekdoc/layouts/partials/site-footer.html
  website/themes/hugo-geekdoc/static/main-5e7fc0c942.min.css
  website/themes/hugo-geekdoc/static/main-cc3cbe901b.min.css
Labels: docs

#1131 Tests : Stocks > Research + Screener
  tests/gamestonk_terminal/stocks/research/__init__.py
  tests/gamestonk_terminal/stocks/research/test_res_controller.py
  tests/gamestonk_terminal/stocks/research/txt/test_res_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/screener/__init__.py
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[financial-2].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[financial].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[overview-2].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[overview].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[ownership-2].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[ownership].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[performance-2].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[performance].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[technical-2].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[technical].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[valuation-2].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[valuation].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data_no_limit.yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data_no_preset_loaded.yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_view/test_screener[False].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_view/test_screener[True].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_view/test_screener_sort_matches[sort0].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_finviz_view/test_screener_sort_matches[sort1].yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_yahoofinance_view/test_historical.yaml
  tests/gamestonk_terminal/stocks/screener/cassettes/test_yahoofinance_view/test_historical_no_d_signals.yaml
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[MOCK_DATA_TYPE].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[financial].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[overview].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[ownership].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[performance].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[technical].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[valuation].csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_limit.csv
  tests/gamestonk_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_preset_loaded.csv
  tests/gamestonk_terminal/stocks/screener/test_finviz_model.py
  tests/gamestonk_terminal/stocks/screener/test_finviz_view.py
  tests/gamestonk_terminal/stocks/screener/test_screener_controller.py
  tests/gamestonk_terminal/stocks/screener/test_yahoofinance_view.py
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener[False].txt
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener[True].txt
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[sort0].txt
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[sort1].txt
  tests/gamestonk_terminal/stocks/screener/txt/test_screener_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/screener/txt/test_yahoofinance_view/test_historical.txt
  tests/gamestonk_terminal/stocks/screener/txt/test_yahoofinance_view/test_historical_no_d_signals.txt
Labels: tests

#1126 improve usage of timezone in terminal
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  gamestonk_terminal/timezone.gst
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_sec_view.py
Labels: feat XS

#1127 Add insider presets
  gamestonk_terminal/stocks/insider/presets/Agriculture.ini
  gamestonk_terminal/stocks/insider/presets/Agro-Chemicals.ini
  gamestonk_terminal/stocks/insider/presets/Air-Transportation.ini
  gamestonk_terminal/stocks/insider/presets/Apparel.ini
  gamestonk_terminal/stocks/insider/presets/Banks.ini
  gamestonk_terminal/stocks/insider/presets/Brokers.ini
  gamestonk_terminal/stocks/insider/presets/Building-Materials.ini
  gamestonk_terminal/stocks/insider/presets/Business-Services.ini
  gamestonk_terminal/stocks/insider/presets/Closed-End-Funds.ini
  gamestonk_terminal/stocks/insider/presets/Construction.ini
  gamestonk_terminal/stocks/insider/presets/Credit-Industry.ini
  gamestonk_terminal/stocks/insider/presets/Durable-Goods.ini
  gamestonk_terminal/stocks/insider/presets/Electronics.ini
  gamestonk_terminal/stocks/insider/presets/Furniture.ini
  gamestonk_terminal/stocks/insider/presets/Gold-Silver.ini
  gamestonk_terminal/stocks/insider/presets/Grocery.ini
  gamestonk_terminal/stocks/insider/presets/Ground-Freight.ini
  gamestonk_terminal/stocks/insider/presets/Guided-Missiles.ini
  gamestonk_terminal/stocks/insider/presets/Health.ini
  gamestonk_terminal/stocks/insider/presets/Hotels.ini
  gamestonk_terminal/stocks/insider/presets/Insurance-Agents.ini
  gamestonk_terminal/stocks/insider/presets/Insurance-Carriers.ini
  gamestonk_terminal/stocks/insider/presets/Investment-Offices.ini
  gamestonk_terminal/stocks/insider/presets/Legal.ini
  gamestonk_terminal/stocks/insider/presets/Lumber.ini
  gamestonk_terminal/stocks/insider/presets/Manufacturing.ini
  gamestonk_terminal/stocks/insider/presets/Mining.ini
  gamestonk_terminal/stocks/insider/presets/Mortgages.ini
  gamestonk_terminal/stocks/insider/presets/Nondurable-Goods.ini
  gamestonk_terminal/stocks/insider/presets/Personal-Credit.ini
  gamestonk_terminal/stocks/insider/presets/Pharmaceuticals.ini
  gamestonk_terminal/stocks/insider/presets/Professional-Services.ini
  gamestonk_terminal/stocks/insider/presets/Railroads.ini
  gamestonk_terminal/stocks/insider/presets/Real-Estate.ini
  gamestonk_terminal/stocks/insider/presets/Restaurants.ini
  gamestonk_terminal/stocks/insider/presets/Retail-Stores.ini
  gamestonk_terminal/stocks/insider/presets/Retail-Trade.ini
  gamestonk_terminal/stocks/insider/presets/Tobacco.ini
  gamestonk_terminal/stocks/insider/presets/Utility-Communications.ini
  gamestonk_terminal/stocks/insider/presets/Utility-Gas.ini
  gamestonk_terminal/stocks/insider/presets/Wholesale-Trade.ini
Labels: feat XS

#1133 Add prediction to economy/fred
  gamestonk_terminal/common/prediction_techniques/ets_view.py
  gamestonk_terminal/common/prediction_techniques/mc_view.py
  gamestonk_terminal/common/prediction_techniques/pred_helper.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/economy/fred/prediction/__init__.py
  gamestonk_terminal/economy/fred/prediction/pred_controller.py
  scripts/test_economy_fred_pred.gst
  tests/gamestonk_terminal/economy/fred/__init__.py
  tests/gamestonk_terminal/economy/fred/cassettes/test_fred_model/test_check_output[get_series_data-kwargs_dict1].yaml
  tests/gamestonk_terminal/economy/fred/cassettes/test_fred_model/test_check_output[get_series_notes-kwargs_dict0].yaml
  tests/gamestonk_terminal/economy/fred/cassettes/test_fred_model/test_load_data[get_series_data-kwargs_dict0].yaml
  tests/gamestonk_terminal/economy/fred/cassettes/test_fred_model/test_output[check_series_id-kwargs_dict0].yaml
  tests/gamestonk_terminal/economy/fred/csv/test_fred_model/test_check_output[get_series_data-kwargs_dict1].csv
  tests/gamestonk_terminal/economy/fred/csv/test_fred_model/test_check_output[get_series_notes-kwargs_dict0].csv
  tests/gamestonk_terminal/economy/fred/csv/test_fred_model/test_load_data[get_series_data-kwargs_dict0].csv
  tests/gamestonk_terminal/economy/fred/json/test_fred_model/test_output[check_series_id-kwargs_dict0].json
  tests/gamestonk_terminal/economy/fred/test_fred_model.py
  tests/gamestonk_terminal/economy/test_fred_view.py
  tests/gamestonk_terminal/stocks/options/test_screener_controller.py
  website/content/economy/fred/_index.md
  website/data/menu/main.yml
Labels: feat S

#1135 Fixing tradier
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/options/op_helpers.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/tradier_model.py
  gamestonk_terminal/stocks/stocks_helper.py
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_get_historical_options.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_get_option_chains.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_last_price.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_model/test_option_expirations.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_display_chains.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_display_historical.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_plot_oi.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_tradier_view/test_plot_volume_open_interest.yaml
  tests/gamestonk_terminal/stocks/options/csv/test_tradier_model/test_get_historical_options.csv
  tests/gamestonk_terminal/stocks/options/csv/test_tradier_model/test_get_option_chains.csv
  tests/gamestonk_terminal/stocks/options/json/test_tradier_model/test_last_price.json
  tests/gamestonk_terminal/stocks/options/json/test_tradier_model/test_option_expirations.json
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-False--1--1].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-True--1--1].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-True-80.0-90.0].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_chains[True-False--1--1].txt
  tests/gamestonk_terminal/stocks/options/txt/test_tradier_view/test_display_historical.txt
Labels: bug

#1137 improve additional info of stocks
  gamestonk_terminal/stocks/stocks_helper.py
Labels: bug

#1139 Qa update
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_qa_controller.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/txt/test_qa_controller/test_print_help.txt
  website/content/common/quantitative_analysis/line/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1123 Refactored Reports
  .gitignore
  gamestonk_terminal/__init__.py
  gamestonk_terminal/jupyter/README.md
  gamestonk_terminal/jupyter/__init__.py
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
  gamestonk_terminal/jupyter/jupyter_controller.py
  gamestonk_terminal/jupyter/reports/crypto_market.ipynb
  gamestonk_terminal/jupyter/reports/dark_pool.ipynb
  gamestonk_terminal/jupyter/reports/due_diligence.ipynb
  gamestonk_terminal/jupyter/reports/econ_data.ipynb
  gamestonk_terminal/jupyter/reports/reports_controller.py
  gamestonk_terminal/jupyter/reports/similar_analysis.ipynb
  gamestonk_terminal/jupyter/reports/stored/.gitkeep
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_jupyter_base.gst
  scripts/test_reports.gst
  terminal.py
Labels: refactor, jupyterlab

#1144 Fixing bug : Technical Analysis > TradingView
  gamestonk_terminal/stocks/technical_analysis/tradingview_model.py
Labels: bug

#1145 Tests : Stocks > Option + Technical Analysis + Screener
  tests/conftest.py
  tests/gamestonk_terminal/stocks/options/test_options_controller.py
  tests/gamestonk_terminal/stocks/options/test_pricing_controller.py
  tests/gamestonk_terminal/stocks/screener/test_finviz_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/__init__.py
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finbrain_model/test_get_technical_summary_report.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finbrain_view/test_technical_summary_report.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finviz_model/test_get_finviz_image.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finviz_view/test_view.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_tradingview_model/test_get_tradingview_recommendation[1d].yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_tradingview_model/test_get_tradingview_recommendation[].yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_tradingview_view/test_print_recommendation.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/csv/test_finnhub_model/test_get_pattern_recognition.csv
  tests/gamestonk_terminal/stocks/technical_analysis/csv/test_tradingview_model/test_get_tradingview_recommendation[1d].csv
  tests/gamestonk_terminal/stocks/technical_analysis/csv/test_tradingview_model/test_get_tradingview_recommendation[].csv
  tests/gamestonk_terminal/stocks/technical_analysis/test_finbrain_model.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_finbrain_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_finnhub_model.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_finnhub_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_finviz_model.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_finviz_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_tradingview_model.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_tradingview_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_finbrain_model/test_get_technical_summary_report.txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_finbrain_view/test_technical_summary_report.txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_finnhub_view/test_plot_pattern_recognition.txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_tradingview_view/test_print_recommendation.txt
Labels: tests

#1140 interactive line chart and annotation
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: feat XS

#1142 New alternative data context + first sub context (Covid)
  exports/alternative/covid/.gitkeep
  gamestonk_terminal/alternative/__init__.py
  gamestonk_terminal/alternative/alt_controller.py
  gamestonk_terminal/alternative/covid/__init__.py
  gamestonk_terminal/alternative/covid/countries.txt
  gamestonk_terminal/alternative/covid/covid_controller.py
  gamestonk_terminal/alternative/covid/covid_model.py
  gamestonk_terminal/alternative/covid/covid_view.py
  gamestonk_terminal/helper_funcs.py
  scripts/test_alt_covid.gst
  terminal.py
  website/content/alternative/_index.md
  website/content/alternative/covid/_index.md
  website/content/alternative/covid/cases/_index.md
  website/content/alternative/covid/deaths/_index.md
  website/content/alternative/covid/ov/_index.md
  website/content/alternative/covid/rates/_index.md
  website/content/alternative/covid/slopes/_index.md
  website/data/menu/main.yml
Labels: feat S

#1119 Crypto menu refactor
  discordbot/requirements.txt
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/data/README.md
  gamestonk_terminal/cryptocurrency/data/coingecko_coins.json
  gamestonk_terminal/cryptocurrency/data/coinpaprika_coins.json
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/helper_funcs.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/README.md
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/top_defi_coins.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_ath.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_atl.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_bc.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_dev.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_info.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_market.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_score.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_social.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_coin_web.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_pycoingecko_view/overview.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/test_pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/helpers/helpers.py
  website/content/_index.md
  website/content/cryptocurrency/coins/_index.md
  website/content/cryptocurrency/due_diligence/chart/_index.md
  website/content/cryptocurrency/load/_index.md
  website/content/cryptocurrency/overview/cgcompanies/_index.md
  website/data/menu/main.yml
Labels: feat M

#1146 Crypto Tool: Calculate potential returns
  .gitignore
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/etf/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_model/test_get_coin_potential_returns[algorand-bitcoin].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_model/test_get_coin_potential_returns[solana-ethereum].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_pycoingecko_view/test_display_collection_stats.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_pycoingecko_model/test_get_coin_potential_returns[algorand-bitcoin].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_pycoingecko_model/test_get_coin_potential_returns[solana-ethereum].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_pycoingecko_model.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_pycoingecko_view/test_display_collection_stats.txt
  tests/helpers/helpers.py
  website/content/cryptocurrency/prt/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1151 Fixes issue with loading from qa + improve line log plot
  gamestonk_terminal/common/behavioural_analysis/reddit_view.py
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/mutual_funds/investpy_model.py
  gamestonk_terminal/stocks/due_diligence/business_insider_view.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/insider/openinsider_model.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  tests/gamestonk_terminal/stocks/due_diligence/cassettes/test_business_insider_view/test_estimates.yaml
  tests/gamestonk_terminal/stocks/due_diligence/cassettes/test_business_insider_view/test_price_target_from_analysts_TSLA.yaml
  tests/gamestonk_terminal/stocks/due_diligence/cassettes/test_business_insider_view/test_price_target_from_analysts_raw.yaml
  tests/gamestonk_terminal/stocks/due_diligence/test_business_insider_view.py
  tests/gamestonk_terminal/stocks/due_diligence/txt/test_business_insider_view/test_estimates.txt
  tests/gamestonk_terminal/stocks/due_diligence/txt/test_business_insider_view/test_price_target_from_analysts_raw.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_calendar_earnings].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_dividends].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_hq].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_info].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_sustainability].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_website].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_shareholders.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_call_func[get_calendar_earnings].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_call_func[get_info].csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_shareholders.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_shareholders_1.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_shareholders_2.csv
Labels: bug

#1152 introduce routines concept
  routines/.gitkeep
  routines/README.md
  routines/didier_gme_job.gst
Labels: feat XS

#1154 Update README
  .markdownlintrc
  README.md
Labels: docs

#1157 Bug in economy/fred -> plot
  gamestonk_terminal/economy/fred/fred_controller.py
Labels: bug

#1155 Feature (crypto): Altcoin season index
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/overview/blockchaincenter_model.py
  gamestonk_terminal/cryptocurrency/overview/blockchaincenter_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincenter_model/test_get_altcoin_index[30-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincenter_model/test_get_altcoin_index[365-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincenter_model/test_get_altcoin_index[90-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincenter_view/test_get_altcoin_index.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincentral_model/test_get_altcoin_index[30-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincentral_model/test_get_altcoin_index[365-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincentral_model/test_get_altcoin_index[90-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_blockchaincentral_view/test_get_altcoin_index.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_blockchaincenter_model/test_get_altcoin_index[30-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_blockchaincenter_model/test_get_altcoin_index[365-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_blockchaincenter_model/test_get_altcoin_index[90-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_blockchaincentral_model/test_get_altcoin_index[30-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_blockchaincentral_model/test_get_altcoin_index[365-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_blockchaincentral_model/test_get_altcoin_index[90-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/overview/test_blockchaincenter_model.py
  tests/gamestonk_terminal/cryptocurrency/overview/test_blockchaincenter_view.py
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_blockchaincenter_view/test_get_altcoin_index.txt
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_blockchaincentral_view/test_get_altcoin_index.txt
  website/content/cryptocurrency/overview/altindex/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1162 testing for pygments fix
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, build

#1163 improve log plot
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
Labels: refactor

#1166 Added installation docs section (WSL)
  README.md
  tests/README.md
Labels: docs

#1134 Step towards portfolio allocation analysis
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_analysis/portfolio_view.py
  gamestonk_terminal/portfolio/portfolio_analysis/yfinance_model.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolios/market.csv
  gamestonk_terminal/portfolio/yfinance_model.py
Labels: enhancement

#1147 Remove all non-functioning interval options from Glassnode API
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_model.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
Labels: feat XS

#1168 print_help when jump back to previous menu
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/parent_classes.py
  terminal.py
Labels: feat XS

#1148 Refactor common/ta for easier report usage
  discordbot/stocks/technical_analysis/adx.py
  discordbot/stocks/technical_analysis/aroon.py
  discordbot/stocks/technical_analysis/bbands.py
  discordbot/stocks/technical_analysis/cci.py
  discordbot/stocks/technical_analysis/cg.py
  discordbot/stocks/technical_analysis/donchian.py
  discordbot/stocks/technical_analysis/ema.py
  discordbot/stocks/technical_analysis/fib.py
  discordbot/stocks/technical_analysis/fisher.py
  discordbot/stocks/technical_analysis/hma.py
  discordbot/stocks/technical_analysis/kc.py
  discordbot/stocks/technical_analysis/macd.py
  discordbot/stocks/technical_analysis/obv.py
  discordbot/stocks/technical_analysis/rsi.py
  discordbot/stocks/technical_analysis/sma.py
  discordbot/stocks/technical_analysis/stoch.py
  discordbot/stocks/technical_analysis/wma.py
  discordbot/stocks/technical_analysis/zlma.py
  gamestonk_terminal/common/technical_analysis/custom_indicators_model.py
  gamestonk_terminal/common/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/common/technical_analysis/momentum_model.py
  gamestonk_terminal/common/technical_analysis/momentum_view.py
  gamestonk_terminal/common/technical_analysis/overlap_model.py
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_model.py
  gamestonk_terminal/common/technical_analysis/trend_indicators_view.py
  gamestonk_terminal/common/technical_analysis/volatility_model.py
  gamestonk_terminal/common/technical_analysis/volatility_view.py
  gamestonk_terminal/common/technical_analysis/volume_model.py
  gamestonk_terminal/common/technical_analysis/volume_view.py
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/etf/technical_analysis/ta_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  testdf.csv
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finbrain_model/test_get_technical_summary_report.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finbrain_view/test_technical_summary_report.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finviz_model/test_get_finviz_image.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_finviz_view/test_view.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_tradingview_model/test_get_tradingview_recommendation[1d].yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_tradingview_model/test_get_tradingview_recommendation[].yaml
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_tradingview_view/test_print_recommendation.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/csv/test_tradingview_model/test_get_tradingview_recommendation[1d].csv
  tests/gamestonk_terminal/stocks/technical_analysis/csv/test_tradingview_model/test_get_tradingview_recommendation[].csv
  tests/gamestonk_terminal/stocks/technical_analysis/csv/testdf.csv
  tests/gamestonk_terminal/stocks/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_finbrain_model/test_get_technical_summary_report.txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_finbrain_view/test_technical_summary_report.txt
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_tradingview_view/test_print_recommendation.txt
Labels: refactor

#1158 Feature (crypto): BTC rainbow chart
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  scripts/test_crypto_ov.gst
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_glassnode_model/test_get_close_price[BTC-24h-1601596800-1641573787].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_glassnode_view/test_display_btc_rainbow.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_glassnode_model/test_get_close_price[BTC-24h-1601596800-1641573787].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_glassnode_model.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_glassnode_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_glassnode_view/test_display_btc_rainbow.txt
  website/content/cryptocurrency/overview/btcrb/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1165 Coindix
  gamestonk_terminal/cryptocurrency/defi/coindix_model.py
  gamestonk_terminal/cryptocurrency/defi/coindix_view.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  website/content/cryptocurrency/defi/vaults/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1173 Add logging w decorators
  .github/workflows/test.yml
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/decorators.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/loggers.py
  gamestonk_terminal/stocks/discovery/yahoofinance_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_glassnode_view.py
  tests/gamestonk_terminal/stocks/screener/test_finviz_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/technical_analysis/txt/test_tradingview_view/test_print_recommendation.txt
  tests/helpers/helpers.py
Labels: feat L

#1176 Volatility surface
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/yfinance_model.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  scripts/test_stocks_options.gst
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_iv_surface].yaml
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_iv_surface].csv
  tests/gamestonk_terminal/stocks/options/test_yfinance_model.py
  tests/gamestonk_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
  website/content/stocks/options/vsurf/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1171 Correlation Dashboard
  .pre-commit-config.yaml
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/jupyter/dashboards/correlation.ipynb
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_closing].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_dividend].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_info].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_iv_surface].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_price].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[option_expirations].yaml
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_closing].csv
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_iv_surface].csv
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[get_info].json
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[get_price].json
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[option_expirations].json
Labels: jupyterlab, dashboards

#1170 Add an API wrapper for terminal functions to be used in python
  gamestonk_terminal/api.py
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/cryptocurrency/pycoingecko_helpers.py
  gamestonk_terminal/helper_classes.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/__init__.py
  gamestonk_terminal/stocks/backtesting/bt_api.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_api.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_api.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_api.py
  gamestonk_terminal/stocks/discovery/__init__.py
  gamestonk_terminal/stocks/discovery/disc_api.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_api.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_api.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_api.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_api.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/government/quiverquant_model.py
  gamestonk_terminal/stocks/insider/insider_api.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/options/options_api.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_api.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/factors_view.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_api.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/screener/screener_api.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_api.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_api.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_api.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
Labels: feat XL, notebookreports

#1178 Updated Debug Mode
  gamestonk_terminal/config_terminal.py
Labels: bug

#1181 Fix test failing on main
  .pre-commit-config.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_iv_surface].yaml
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_iv_surface].csv
Labels: bug, tests

#1177 Added labels
  gamestonk_terminal/jupyter/dashboards/correlation.ipynb
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
Labels: jupyterlab, dashboards

#1182 Fixed DCF
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
Labels: bug

#1184 Fix tests
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_workbook.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_xls.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_closing].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_dividend].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_info].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_iv_surface].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_price].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[option_expirations].yaml
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_closing].csv
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_iv_surface].csv
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[get_info].json
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[get_price].json
  tests/gamestonk_terminal/stocks/options/test_yfinance_view.py
Labels: tests

#1185 Better pre-commit
  .github/workflows/test.yml
  custom_pre_commit/debug_mode.py
  discordbot/requirements.txt
  gamestonk_terminal/jupyter/dashboards/correlation.ipynb
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
  gamestonk_terminal/jupyter/reports/crypto_market.ipynb
  gamestonk_terminal/jupyter/reports/dark_pool.ipynb
  gamestonk_terminal/jupyter/reports/due_diligence.ipynb
  gamestonk_terminal/jupyter/reports/econ_data.ipynb
  gamestonk_terminal/jupyter/reports/similar_analysis.ipynb
  poetry.lock
  pyproject.toml
Labels: enhancement, refactor, jupyterlab, dependencies, notebookreports, dashboards

#1188 Brotli.py check
  .github/workflows/test.yml
  .zshrc
  discordbot/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  tests/conftest.py
Labels: feat XS, dependencies

#1190 Fix + improve efficient frontier
  gamestonk_terminal/portfolio/portfolio_optimization/optimizer_view.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  requirements.txt
Labels: bug, enhancement

#1189 Add dividend calendar from nasdaq
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/discovery/nasdaq_model.py
  gamestonk_terminal/stocks/discovery/nasdaq_view.py
  scripts/test_stocks_disc.gst
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_nasdaq_view/test_display_dividend_calendar.yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_nasdaq_view/test_display_top_retail.yaml
  tests/gamestonk_terminal/stocks/discovery/test_nasdaq_model.py
  tests/gamestonk_terminal/stocks/discovery/test_nasdaq_view.py
  tests/gamestonk_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_nasdaq_view/test_display_dividend_calendar.txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_nasdaq_view/test_display_top_retail.txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_nasdaq_view/test_display_top_retail[False].txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_nasdaq_view/test_display_top_retail[True].txt
  website/content/stocks/discovery/divcal/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1191 Create pull_request_template.md
  .github/pull_request_template.md
Labels: docs

#1196 Fix silly issue with sia controller
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  tests/gamestonk_terminal/stocks/options/test_yfinance_model.py
Labels: bug

#1192 Update CONTRIBUTING.MD
  CONTRIBUTING.md
Labels: docs

#1187 Remember Contexts
  gamestonk_terminal/alternative/alt_controller.py
  gamestonk_terminal/alternative/covid/covid_controller.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_controller.py
  gamestonk_terminal/cryptocurrency/due_diligence/dd_controller.py
  gamestonk_terminal/cryptocurrency/nft/nft_controller.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred/fred_controller.py
  gamestonk_terminal/economy/fred/prediction/pred_controller.py
  gamestonk_terminal/etf/discovery/disc_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/etf/prediction_techniques/pred_controller.py
  gamestonk_terminal/etf/screener/screener_controller.py
  gamestonk_terminal/etf/technical_analysis/ta_controller.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/jupyter/jupyter_controller.py
  gamestonk_terminal/jupyter/reports/reports_controller.py
  gamestonk_terminal/mutual_funds/mutual_fund_controller.py
  gamestonk_terminal/parent_classes.py
  gamestonk_terminal/portfolio/brokers/ally/ally_controller.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/backtesting/bt_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/fmp_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/payoff_controller.py
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/options/screener_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/research/res_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  terminal.py
Labels: feat S, refactor

#1194 Add resources to main contexts
  gamestonk_terminal/__init__.py
  gamestonk_terminal/alternative/alt_controller.py
  gamestonk_terminal/cryptocurrency/README.md
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/discovery/README.md
  gamestonk_terminal/cryptocurrency/due_diligence/README.md
  gamestonk_terminal/cryptocurrency/overview/README.md
  gamestonk_terminal/economy/README.md
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/etf/README.md
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/README.md
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/oanda/README.md
  gamestonk_terminal/mutual_funds/README.md
  gamestonk_terminal/mutual_funds/mutual_fund_controller.py
  gamestonk_terminal/resources/README.md
  gamestonk_terminal/resources/__init__.py
  gamestonk_terminal/stocks/README.md
  gamestonk_terminal/stocks/backtesting/README.md
  gamestonk_terminal/stocks/behavioural_analysis/README.md
  gamestonk_terminal/stocks/comparison_analysis/README.md
  gamestonk_terminal/stocks/dark_pool_shorts/README.md
  gamestonk_terminal/stocks/discovery/README.md
  gamestonk_terminal/stocks/due_diligence/README.md
  gamestonk_terminal/stocks/fundamental_analysis/README.md
  gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/README.md
  gamestonk_terminal/stocks/government/README.md
  gamestonk_terminal/stocks/insider/README.md
  gamestonk_terminal/stocks/options/README.md
  gamestonk_terminal/stocks/prediction_techniques/README.md
  gamestonk_terminal/stocks/quantitative_analysis/README.md
  gamestonk_terminal/stocks/research/README.md
  gamestonk_terminal/stocks/screener/README.md
  gamestonk_terminal/stocks/sector_industry_analysis/README.md
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/README.md
  terminal.py
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_closing].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_dividend].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_info].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_iv_surface].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[get_price].yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_model/test_get_closing[option_expirations].yaml
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_closing].csv
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_get_closing[get_iv_surface].csv
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[get_info].json
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[get_price].json
  tests/gamestonk_terminal/stocks/options/json/test_yfinance_model/test_get_closing[option_expirations].json
Labels: docs, feat XS

#1200 Alternative API
  .zshrc
  gamestonk_terminal/alternative/alt_api.py
  gamestonk_terminal/alternative/covid/covid_api.py
  gamestonk_terminal/alternative/covid/covid_view.py
  gamestonk_terminal/api.py
Labels: enhancement

#1201 Fix Main Tests
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: bug

#1197 Terra luna
  gamestonk_terminal/cryptocurrency/dataframe_helpers.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/terramoney_fcd_model.py
  gamestonk_terminal/cryptocurrency/defi/terramoney_fcd_view.py
  gamestonk_terminal/helper_funcs.py
  website/content/cryptocurrency/defi/gacc/_index.md
  website/content/cryptocurrency/defi/govp/_index.md
  website/content/cryptocurrency/defi/sinfo/_index.md
  website/content/cryptocurrency/defi/sratio/_index.md
  website/content/cryptocurrency/defi/sreturn/_index.md
  website/content/cryptocurrency/defi/validators/_index.md
  website/data/menu/main.yml
Labels: feat M

#1199 Fixes issue #1195
  README.md
Labels: docs

#1205 nftcalendar.io "No data found" fix
  gamestonk_terminal/cryptocurrency/nft/nftcalendar_model.py
Labels: bug

#1143 Several fixes
  gamestonk_terminal/etf/stockanalysis_model.py
  gamestonk_terminal/etf/stockanalysis_view.py
  gamestonk_terminal/jupyter/reports/reports_controller.py
  gamestonk_terminal/parent_classes.py
  tests/gamestonk_terminal/etf/__init__.py
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_model/test_get_all_names_symbols.yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview.yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKQ].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKW].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview.yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-False].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-True].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-False].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-True].yaml
  tests/gamestonk_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW].yaml
  tests/gamestonk_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKQ].csv
  tests/gamestonk_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKW].csv
  tests/gamestonk_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols.json
  tests/gamestonk_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols_1.json
  tests/gamestonk_terminal/etf/test_stockanalysis_model.py
  tests/gamestonk_terminal/etf/test_stockanalysis_view.py
  tests/gamestonk_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-False].txt
  tests/gamestonk_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-True].txt
  tests/gamestonk_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-False].txt
  tests/gamestonk_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-True].txt
Labels: tests

#1207 Add Vsurf Z-index options
  gamestonk_terminal/jupyter/reports/reports_controller.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/yfinance_model.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  website/content/stocks/options/vsurf/_index.md
Labels: enhancement

#1198 DCF Refactoring and Improvements
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_static.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_dcf_model/test_others_in_sector.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_dcf_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_dcf_view.py
  website/content/stocks/fundamental_analysis/dcf/_index.md
Labels: refactor

#1206 Crypto APIs
  gamestonk_terminal/alternative/covid/covid_api.py
  gamestonk_terminal/api.py
  gamestonk_terminal/cryptocurrency/crypto_api.py
  gamestonk_terminal/cryptocurrency/defi/defi_api.py
  gamestonk_terminal/cryptocurrency/discovery/discovery_api.py
  gamestonk_terminal/cryptocurrency/due_diligence/due_diligence_api.py
  gamestonk_terminal/cryptocurrency/nft/nft_api.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_api.py
  gamestonk_terminal/cryptocurrency/overview/overview_api.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_api.py
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_api.py
Labels: enhancement, jupyterlab

#1193 Custom data context
  custom_imports/test.csv
  exports/custom/.gitkeep
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/custom/__init__.py
  gamestonk_terminal/custom/custom_controller.py
  gamestonk_terminal/custom/custom_model.py
  gamestonk_terminal/custom/custom_view.py
  gamestonk_terminal/custom/prediction_techniques/__init__.py
  gamestonk_terminal/custom/prediction_techniques/pred_controller.py
  gamestonk_terminal/custom/quantitative_analysis/__init__.py
  gamestonk_terminal/custom/quantitative_analysis/qa_controller.py
  terminal.py
  tests/gamestonk_terminal/custom/__init__.py
  tests/gamestonk_terminal/custom/csv/test_custom_model/test_test_empty_load.csv
  tests/gamestonk_terminal/custom/csv/test_custom_model/test_test_load[test.csv].csv
  tests/gamestonk_terminal/custom/test_custom_controller.py
  tests/gamestonk_terminal/custom/test_custom_model.py
  tests/gamestonk_terminal/custom/txt/test_custom_controller/test_info_no_data.txt
  tests/gamestonk_terminal/custom/txt/test_custom_controller/test_print_help.txt
  website/content/custom/_index.md
  website/content/custom/info/_index.md
  website/content/custom/load/_index.md
  website/content/custom/plot/_index.md
  website/content/custom/show/_index.md
  website/data/menu/main.yml
Labels: feat M

#1175 Adding the historical endpoint from sentiment investor
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_api.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
Labels: feat S

#1210 reverse dataframe for correct usage of candle
  gamestonk_terminal/forex/av_model.py
Labels: bug

#1214 ba bug
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
Labels: bug

#1209 Vsurf Dashboard
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
  gamestonk_terminal/jupyter/dashboards/vsurf.ipynb
  gamestonk_terminal/stocks/comparison_analysis/ca_api.py
  gamestonk_terminal/stocks/options/options_api.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  gamestonk_terminal/stocks/stocks_api.py
  website/content/jupyter/dashboards/correlations/_index.md
  website/content/jupyter/dashboards/stocks/_index.md
  website/content/jupyter/dashboards/vsurf/_index.md
Labels: jupyterlab, dashboards

#1213 Improve plotly interface for plots
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: enhancement

#1215 Expanded GST API
  gamestonk_terminal/api.py
  gamestonk_terminal/cryptocurrency/crypto_api.py
  gamestonk_terminal/custom/custom_api.py
  gamestonk_terminal/custom/prediction_techniques/pred_api.py
  gamestonk_terminal/custom/quantitative_analysis/qa_api.py
  gamestonk_terminal/economy/economy_api.py
  gamestonk_terminal/economy/fred/fred_api.py
  gamestonk_terminal/etf/discovery/disc_api.py
  gamestonk_terminal/etf/etf_api.py
  gamestonk_terminal/etf/prediction_techniques/pred_api.py
  gamestonk_terminal/etf/screener/screener_api.py
  gamestonk_terminal/etf/technical_analysis/ta_api.py
  gamestonk_terminal/stocks/stocks_api.py
Labels: enhancement, jupyterlab

#1217 Refactored Call Resources
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/mutual_funds/mutual_fund_controller.py
  gamestonk_terminal/parent_classes.py
  gamestonk_terminal/stocks/stocks_controller.py
Labels: refactor

#1220 make whatif works for decrease as well
  gamestonk_terminal/stocks/backtesting/bt_view.py
Labels: bug

#1218 Finish API
  gamestonk_terminal/api.py
  gamestonk_terminal/forex/forex_api.py
  gamestonk_terminal/forex/oanda/oanda_api.py
  gamestonk_terminal/mutual_funds/mutual_fund_api.py
  gamestonk_terminal/portfolio/brokers/ally/ally_api.py
  gamestonk_terminal/portfolio/brokers/bro_api.py
  gamestonk_terminal/portfolio/brokers/bro_controller.py
  gamestonk_terminal/portfolio/brokers/coinbase/coinbase_api.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_api.py
  gamestonk_terminal/portfolio/brokers/robinhood/robinhood_api.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_api.py
  gamestonk_terminal/portfolio/portfolio_api.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_api.py
Labels: enhancement, jupyterlab

#1224 Fix Price Target Bug
  gamestonk_terminal/stocks/due_diligence/business_insider_model.py
Labels: bug

#1222 Add scroll zoom to plotly candle
  gamestonk_terminal/stocks/stocks_helper.py
Labels: enhancement

#1227 Adds Blockchain source and two BTC commands
  gamestonk_terminal/cryptocurrency/onchain/blockchain_model.py
  gamestonk_terminal/cryptocurrency/onchain/blockchain_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  scripts/test_crypto_onchain.gst
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_blockchain_model/test_get_btc_circulating_supply.yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_blockchain_model/test_get_btc_confirmed_transactions.yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_blockchain_view/test_display_btc_circulating_supply.yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/cassettes/test_blockchain_view/test_display_btc_confirmed_transactions.yaml
  tests/gamestonk_terminal/cryptocurrency/onchain/csv/test_blockchain_model/test_get_btc_circulating_supply.csv
  tests/gamestonk_terminal/cryptocurrency/onchain/csv/test_blockchain_model/test_get_btc_confirmed_transactions.csv
  tests/gamestonk_terminal/cryptocurrency/onchain/test_blockchain_model.py
  tests/gamestonk_terminal/cryptocurrency/onchain/test_blockchain_view.py
  tests/gamestonk_terminal/cryptocurrency/onchain/txt/test_blockchain_view/test_display_btc_circulating_supply.txt
  tests/gamestonk_terminal/cryptocurrency/onchain/txt/test_blockchain_view/test_display_btc_confirmed_transactions.txt
  website/content/cryptocurrency/onchain/btccp/_index.md
  website/content/cryptocurrency/onchain/btcct/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1226 Options Chain Dashboard
  .github/workflows/test.yml
  gamestonk_terminal/jupyter/dashboards/chains.ipynb
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  website/content/jupyter/dashboards/chains/_index.md
  website/data/menu/main.yml
Labels: dashboards

#1229 fix hugo
  website/content/jupyter/dashboards/_index.md
  website/content/jupyter/reports/_index.md
  website/data/menu/main.yml
Labels: bug

#1225 Vsurf Improvements
  gamestonk_terminal/jupyter/dashboards/vsurf.ipynb
Labels: dashboards

#1230 Adds features to check crypto-related hacks
  gamestonk_terminal/cryptocurrency/overview/overview_controller.py
  gamestonk_terminal/cryptocurrency/overview/rekt_model.py
  gamestonk_terminal/cryptocurrency/overview/rekt_view.py
  scripts/test_crypto_ov.gst
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_model/test_get_crypto_hack[bitmart-rekt].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_model/test_get_crypto_hack[cryptocom-rekt].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_model/test_get_crypto_hack[polynetwork-rekt].yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_model/test_get_crypto_hack_slugs.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_model/test_get_crypto_hacks.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_view/test_get_crypto_hack.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/cassettes/test_rekt_view/test_get_crypto_hacks.yaml
  tests/gamestonk_terminal/cryptocurrency/overview/csv/test_rekt_model/test_get_crypto_hacks.csv
  tests/gamestonk_terminal/cryptocurrency/overview/json/test_rekt_model/test_get_crypto_hack_slugs.json
  tests/gamestonk_terminal/cryptocurrency/overview/test_rekt_model.py
  tests/gamestonk_terminal/cryptocurrency/overview/test_rekt_view.py
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_rekt_model/test_get_crypto_hack[bitmart-rekt].txt
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_rekt_model/test_get_crypto_hack[cryptocom-rekt].txt
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_rekt_model/test_get_crypto_hack[polynetwork-rekt].txt
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_rekt_view/test_get_crypto_hack.txt
  tests/gamestonk_terminal/cryptocurrency/overview/txt/test_rekt_view/test_get_crypto_hacks.txt
  website/content/cryptocurrency/overview/ch/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1234 GST Import Error
  gamestonk_terminal/jupyter/dashboards/vsurf.ipynb
Labels: bug

#1232 Chain Multiselect Option
  gamestonk_terminal/jupyter/dashboards/chains.ipynb
Labels: dashboards

#1237 #1236
  gamestonk_terminal/stocks/fundamental_analysis/dcf_static.py
Labels: bug

#1238 Add a FINRA shortdata dashboard
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/jupyter/dashboards/shortdata.ipynb
  tests/gamestonk_terminal/jupyter/__init__.py
  tests/gamestonk_terminal/jupyter/dashboards/__init__.py
  tests/gamestonk_terminal/jupyter/dashboards/test_dashboard_controller.py
  tests/gamestonk_terminal/jupyter/dashboards/txt/test_dashboard_controller/test_print_help.txt
  tests/gamestonk_terminal/jupyter/test_jupter_controller.py
  tests/gamestonk_terminal/jupyter/txt/test_jupter_controller/test_print_help.txt
  website/content/jupyter/dashboards/_index.md
  website/content/jupyter/dashboards/shortdata/_index.md
  website/content/jupyter/reports/_index.md
  website/data/menu/main.yml
Labels: dashboards

#1239 Refactored Dashboards to Class Based Views
  gamestonk_terminal/jupyter/dashboards/correlation.ipynb
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
  gamestonk_terminal/jupyter/dashboards/vsurf.ipynb
Labels: bug, enhancement, dashboards

#1235 Remove More Tabulate
  CONTRIBUTING.md
  gamestonk_terminal/common/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/stocks/government/quiverquant_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/insider/finviz_view.py
  gamestonk_terminal/stocks/options/barchart_view.py
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/fdscanner_view.py
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  gamestonk_terminal/stocks/screener/finviz_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  gamestonk_terminal/stocks/technical_analysis/tradingview_view.py
  gamestonk_terminal/terminal_helper.py
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_contracts-kwargs_dict5-True].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_last_contracts-kwargs_dict3-False].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_last_contracts-kwargs_dict3-True].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_last_government-kwargs_dict0-False].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_last_government-kwargs_dict0-True].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_qtr_contracts-kwargs_dict7-True].txt
  tests/gamestonk_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_top_lobbying-kwargs_dict9-True].txt
  tests/gamestonk_terminal/stocks/insider/txt/test_finviz_view/test_last_insider_activity.txt
  tests/gamestonk_terminal/stocks/options/test_chartexchange_view.py
  tests/gamestonk_terminal/stocks/options/test_fdscanner_view.py
  tests/gamestonk_terminal/stocks/options/test_pricing_controller.py
  tests/gamestonk_terminal/stocks/options/txt/test_barchart_view/test_print_options_data.txt
  tests/gamestonk_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[False].txt
  tests/gamestonk_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[True].txt
  tests/gamestonk_terminal/stocks/options/txt/test_fdscanner_view/test_display_options[False].txt
  tests/gamestonk_terminal/stocks/options/txt/test_fdscanner_view/test_display_options[True].txt
  tests/gamestonk_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output[False].txt
  tests/gamestonk_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output[True].txt
  tests/gamestonk_terminal/stocks/screener/test_finviz_view.py
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener[True].txt
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[sort0].txt
  tests/gamestonk_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[sort1].txt
Labels: enhancement

#1204 Allocation Command
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_view.py
  website/content/portfolio/_index.md
  website/content/portfolio/al/_index.md
Labels: feat S

#1241 Improve DCF
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
Labels: enhancement

#1243 Fixing graph for allocation command
  gamestonk_terminal/portfolio/portfolio_view.py
Labels: enhancement

#1245 Updating docker containers and dependencies
  discordbot/requirements.txt
  docker/compose.env
  docker/gst-python.dockerfile
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/gamestonk_terminal/cryptocurrency/overview/test_blockchaincenter_model.py
  tests/gamestonk_terminal/etf/test_etf_controller.py
  tests/gamestonk_terminal/stocks/backtesting/test_bt_model.py
  tests/gamestonk_terminal/stocks/backtesting/test_bt_view.py
  tests/gamestonk_terminal/stocks/comparison_analysis/test_finviz_compare_view.py
  tests/gamestonk_terminal/stocks/comparison_analysis/test_yahoo_finance_model.py
  tests/gamestonk_terminal/stocks/comparison_analysis/test_yahoo_finance_view.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_dps_controller.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_sec_view.py
  tests/gamestonk_terminal/stocks/discovery/test_ark_model.py
  tests/gamestonk_terminal/stocks/discovery/test_ark_view.py
  tests/gamestonk_terminal/stocks/due_diligence/test_ark_model.py
  tests/gamestonk_terminal/stocks/due_diligence/test_ark_view.py
  tests/gamestonk_terminal/stocks/due_diligence/test_business_insider_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_dcf_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_dcf_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_eclect_us_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_view.py
  tests/gamestonk_terminal/stocks/government/test_gov_controller.py
  tests/gamestonk_terminal/stocks/options/test_yfinance_model.py
  tests/gamestonk_terminal/stocks/options/test_yfinance_view.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_factors_model.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_factors_view.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_qa_controller.py
  tests/gamestonk_terminal/stocks/screener/test_yahoofinance_view.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/stocks/test_stocks_controller.py
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
Labels: docker, dependencies

#1233 DCF Description
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  website/content/stocks/fundamental_analysis/dcf/_index.md
Labels: enhancement

#1246 portfolio: Small feature + controller tests
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_model.py
  gamestonk_terminal/portfolio/portfolio_view.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/gamestonk_terminal/portfolio/test_portfolio_controller.py
  tests/gamestonk_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  website/content/portfolio/mdd/_index.md
  website/data/menu/main.yml
Labels: tests, feat XS

#1250 Fix Pandas Warning
  gamestonk_terminal/stocks/discovery/ark_model.py
  gamestonk_terminal/stocks/discovery/ark_view.py
Labels: bug

#1249 Allow Custom Flairs
  CONTRIBUTING.md
  gamestonk_terminal/alternative/covid/covid_view.py
  gamestonk_terminal/common/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/common/prediction_techniques/pred_helper.py
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/cryptocurrency/defi/llama_view.py
  gamestonk_terminal/cryptocurrency/defi/terramoney_fcd_view.py
  gamestonk_terminal/cryptocurrency/overview/rekt_view.py
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/mutual_funds/investpy_view.py
  gamestonk_terminal/mutual_funds/yfinance_view.py
  gamestonk_terminal/stocks/discovery/ark_view.py
  gamestonk_terminal/stocks/discovery/fidelity_view.py
  gamestonk_terminal/stocks/discovery/nasdaq_view.py
  gamestonk_terminal/stocks/government/quiverquant_view.py
  gamestonk_terminal/stocks/insider/businessinsider_view.py
  gamestonk_terminal/stocks/insider/finviz_view.py
  gamestonk_terminal/stocks/insider/openinsider_view.py
  gamestonk_terminal/stocks/options/barchart_view.py
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/fdscanner_view.py
  gamestonk_terminal/stocks/options/pricing_controller.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  gamestonk_terminal/stocks/screener/finviz_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  gamestonk_terminal/stocks/technical_analysis/tradingview_view.py
  gamestonk_terminal/terminal_helper.py
  tests/conftest.py
  tests/gamestonk_terminal/stocks/options/test_pricing_controller.py
Labels: enhancement

#1221 Update pre commit
  .gitignore
  .pre-commit-config.yaml
  custom_pre_commit/check_config_terminal.py
  custom_pre_commit/debug_mode.py
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/decorators.py
  terminal.py
Labels: enhancement

#1248 Remove Tabulate
  gamestonk_terminal/common/behavioural_analysis/finbrain_view.py
  gamestonk_terminal/common/behavioural_analysis/google_view.py
  gamestonk_terminal/common/behavioural_analysis/reddit_view.py
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/common/behavioural_analysis/stocktwits_view.py
  gamestonk_terminal/common/prediction_techniques/arima_view.py
  gamestonk_terminal/common/prediction_techniques/pred_helper.py
  gamestonk_terminal/common/technical_analysis/custom_indicators_view.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/defi/coindix_view.py
  gamestonk_terminal/cryptocurrency/defi/defipulse_view.py
  gamestonk_terminal/cryptocurrency/defi/defirate_view.py
  gamestonk_terminal/cryptocurrency/defi/graph_view.py
  gamestonk_terminal/cryptocurrency/defi/substack_view.py
  gamestonk_terminal/cryptocurrency/discovery/coinmarketcap_view.py
  gamestonk_terminal/cryptocurrency/discovery/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/discovery/pycoingecko_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/binance_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinbase_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_view.py
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_discover.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_gainers.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_losers.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_recently_added.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_top_defi_coins.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_top_dex.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_top_volume_coins.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/TestCoinGeckoAPI.test_coin_yfarms.yaml
  tests/gamestonk_terminal/cryptocurrency/discovery/test_pycoingecko_view.py
Labels: enhancement

#1253 Tests : fixing a date dependent test
  tests/gamestonk_terminal/stocks/options/csv/test_yfinance_model/test_call_func[get_iv_surface].csv
  tests/gamestonk_terminal/stocks/options/test_yfinance_model.py
Labels: tests

#1257 Improved Debugging
  gamestonk_terminal/decorators.py
  terminal.py
Labels: enhancement

#1263 Fix Chains
  gamestonk_terminal/jupyter/dashboards/chains.ipynb
Labels: bug

#1254 Added Greeks
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/stocks/options/op_helpers.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_plot_oi.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_plot_plot.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_plot_vol.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_plot_volume_open_interest.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_risk_neutral_vals.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_show_binom.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_show_greeks.yaml
  tests/gamestonk_terminal/stocks/options/cassettes/test_yfinance_view/test_show_parity.yaml
  tests/gamestonk_terminal/stocks/options/test_yfinance_view.py
  tests/gamestonk_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
  website/content/stocks/options/greeks/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1264 Add support for the flair to be hidden
  gamestonk_terminal/helper_funcs.py
Labels: feat S

#1266 Fixed intraday tickers
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
Labels: bug

#1268 Methods logging for controllers
  gamestonk_terminal/decorators.py
Labels: enhancement

#1271 Bankruptcy Scores
  .github/workflows/test.yml
  .pre-commit-config.yaml
  gamestonk_terminal/stocks/fundamental_analysis/av_model.py
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/json/test_av_model/test_get_fraud_ratios.json
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_av_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[ratios0-nan-nan].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[ratios1-0.1-0.2].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[ratios2-0.1-0.2].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[ratios3-1-0.2].txt
  website/content/stocks/fundamental_analysis/fraud/_index.md
Labels: bug, enhancement

#1272 API Fix and Vsurf Improvements
  gamestonk_terminal/forex/oanda/oanda_model.py
  gamestonk_terminal/jupyter/dashboards/vsurf.ipynb
Labels: bug, dashboards

#1275 Fixed quote bug
  gamestonk_terminal/stocks/stocks_helper.py
Labels: bug

#1267 Base Stock Controller
  gamestonk_terminal/parent_classes.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/government/gov_controller.py
  gamestonk_terminal/stocks/insider/insider_controller.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/quantitative_analysis/qa_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/technical_analysis/ta_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_dps_controller.py
  tests/gamestonk_terminal/stocks/government/test_gov_controller.py
  tests/gamestonk_terminal/stocks/insider/test_insider_controller.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_qa_controller.py
  tests/gamestonk_terminal/stocks/test_stocks_controller.py
Labels: refactor

#1274 Improve Jupyter and API
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/stocks/options/op_helpers.py
  tests/gamestonk_terminal/api/test_api.py
  website/content/jupyter/dashboards/chains/_index.md
  website/content/jupyter/dashboards/correlations/_index.md
  website/content/jupyter/dashboards/shortdata/_index.md
  website/content/jupyter/dashboards/stocks/_index.md
  website/content/jupyter/dashboards/vsurf/_index.md
Labels: enhancement, dashboards

#1276 Tests : Stocks > Sector Industry Analysis
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_companies_per_country_in_industry.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_countries[-Conglomerates].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_countries[-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_countries[Uranium-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_sectors[-France].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_sectors[-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_sectors[Uranium-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/test_financedatabase_model.py
Labels: tests

#1160 [Bug] Fix degiro controller
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_model.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  tests/gamestonk_terminal/portfolio/brokers/__init__.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test___init__.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_api.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_controller.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_model.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_view.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/txt/test_degiro_controller/test_print_help.txt
  tests/gamestonk_terminal/portfolio/brokers/degiro/txt/test_degiro_view/test_help_display.txt
Labels: bug, enhancement

#1262 Add check_supported and trending endpoint from Sentiment Investor
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  gamestonk_terminal/common/behavioural_analysis/sentimentinvestor_view.py
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/cryptocurrency/overview/pycoingecko_model.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/terminal_helper.py
  tests/README.md
  tests/gamestonk_terminal/cassettes/test_terminal_helper/test_check_api_keys.yaml
  tests/gamestonk_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_model/test_check_supported_ticker[BTC-USD].yaml
  tests/gamestonk_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_model/test_check_supported_ticker[BTC].yaml
  tests/gamestonk_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_model/test_get_historical[AAPL-2020-12-1-2020-12-7-100].yaml
  tests/gamestonk_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_model/test_get_trending[start0-9-10].yaml
  tests/gamestonk_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_view/test_display_historical.yaml
  tests/gamestonk_terminal/common/behavioural_analysis/cassettes/test_sentimentinvestor_view/test_display_trending.yaml
  tests/gamestonk_terminal/common/behavioural_analysis/csv/test_sentimentinvestor_model/test_get_historical[AAPL-2020-12-1-2020-12-7-100].csv
  tests/gamestonk_terminal/common/behavioural_analysis/csv/test_sentimentinvestor_model/test_get_trending[start0-9-10].csv
  tests/gamestonk_terminal/common/behavioural_analysis/json/test_sentimentinvestor_model/test_check_supported_ticker[BTC-USD].json
  tests/gamestonk_terminal/common/behavioural_analysis/json/test_sentimentinvestor_model/test_check_supported_ticker[BTC].json
  tests/gamestonk_terminal/common/behavioural_analysis/test_sentimentinvestor_model.py
  tests/gamestonk_terminal/common/behavioural_analysis/test_sentimentinvestor_view.py
  tests/gamestonk_terminal/common/behavioural_analysis/txt/test_sentimentinvestor_view/test_display_historical.txt
  tests/gamestonk_terminal/common/behavioural_analysis/txt/test_sentimentinvestor_view/test_display_trending.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  website/content/common/behavioural_analysis/emerging/_index.md
  website/content/common/behavioural_analysis/hist/_index.md
  website/content/common/behavioural_analysis/historical/_index.md
  website/content/common/behavioural_analysis/metrics/_index.md
  website/content/common/behavioural_analysis/popularsi/_index.md
  website/content/common/behavioural_analysis/social/_index.md
  website/content/common/behavioural_analysis/trend/_index.md
  website/data/menu/main.yml
Labels: enhancement, feat XS

#1281 Improve Stocks Dashboard
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
Labels: dashboards

#1285 some fixes
  gamestonk_terminal/common/behavioural_analysis/twitter_model.py
  gamestonk_terminal/common/behavioural_analysis/twitter_view.py
  gamestonk_terminal/common/prediction_techniques/pred_helper.py
  gamestonk_terminal/cryptocurrency/dataframe_helpers.py
  gamestonk_terminal/cryptocurrency/discovery/coinmarketcap_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/glassnode_view.py
  gamestonk_terminal/cryptocurrency/onchain/onchain_controller.py
  gamestonk_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  gamestonk_terminal/custom/custom_controller.py
  gamestonk_terminal/custom/prediction_techniques/pred_controller.py
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/economy/fred/prediction/pred_controller.py
  gamestonk_terminal/etf/prediction_techniques/pred_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/jupyter/dashboards/chains.ipynb
  gamestonk_terminal/jupyter/dashboards/correlation.ipynb
  gamestonk_terminal/jupyter/dashboards/shortdata.ipynb
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
  gamestonk_terminal/jupyter/dashboards/vsurf.ipynb
  gamestonk_terminal/stocks/fundamental_analysis/av_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/options/op_helpers.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  gamestonk_terminal/stocks/prediction_techniques/pred_controller.py
  gamestonk_terminal/stocks/stocks_controller.py
  terminal.py
  tests/gamestonk_terminal/custom/txt/test_custom_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: bug

#1270 Added logger to baseclass controller
  gamestonk_terminal/parent_classes.py
  terminal.py
  tests/gamestonk_terminal/cryptocurrency/defi/test_defi_controller.py
  tests/gamestonk_terminal/economy/fred/test_fred_controller.py
  tests/gamestonk_terminal/economy/test_economy_controller.py
  tests/gamestonk_terminal/etf/discovery/test_disc_controller.py
  tests/gamestonk_terminal/etf/prediction_techniques/test_pred_controller.py
  tests/gamestonk_terminal/etf/screener/test_screener_controller.py
  tests/gamestonk_terminal/etf/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/etf/test_etf_controller.py
  tests/gamestonk_terminal/jupyter/dashboards/test_dashboard_controller.py
  tests/gamestonk_terminal/jupyter/test_jupter_controller.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_controller.py
  tests/gamestonk_terminal/portfolio/test_portfolio_controller.py
  tests/gamestonk_terminal/stocks/backtesting/test_bt_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/comparison_analysis/test_ca_controller.py
  tests/gamestonk_terminal/stocks/dark_pool_shorts/test_dps_controller.py
  tests/gamestonk_terminal/stocks/discovery/test_disc_controller.py
  tests/gamestonk_terminal/stocks/due_diligence/test_dd_controller.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/financial_modeling_prep/test_fmp_controller.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/gamestonk_terminal/stocks/government/test_gov_controller.py
  tests/gamestonk_terminal/stocks/insider/test_insider_controller.py
  tests/gamestonk_terminal/stocks/options/test_options_controller.py
  tests/gamestonk_terminal/stocks/options/test_payoff_controller.py
  tests/gamestonk_terminal/stocks/options/test_pricing_controller.py
  tests/gamestonk_terminal/stocks/options/test_screener_controller.py
  tests/gamestonk_terminal/stocks/prediction_techniques/test_pred_controller.py
  tests/gamestonk_terminal/stocks/quantitative_analysis/test_qa_controller.py
  tests/gamestonk_terminal/stocks/research/test_res_controller.py
  tests/gamestonk_terminal/stocks/screener/test_screener_controller.py
  tests/gamestonk_terminal/stocks/sector_industry_analysis/test_sia_controller.py
  tests/gamestonk_terminal/stocks/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/stocks/test_stocks_controller.py
Labels: enhancement, logging, analytics

#1291 Tests : Cryptocurrency > Due Diligence
  gamestonk_terminal/cryptocurrency/due_diligence/coinbase_view.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_model/test_call_func[get_product_stats-kwargs4].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_model/test_call_func[get_trades-kwargs2].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_model/test_call_func[get_trading_pair_info-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_model/test_call_func[show_available_pairs_for_given_symbol-kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_model/test_get_order_book.yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_view/test_call_func[display_order_book-kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_view/test_call_func[display_stats-kwargs3].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinbase_view/test_call_func[display_trades-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[basic_coin_info-kwargs6].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[basic_coin_info-kwargs7].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[basic_coin_info-kwargs8].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_coin-kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_coin_events_by_id-kwargs2].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_coin_exchanges_by_id-kwargs3].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_coin_markets_by_id-kwargs4].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_coin_twitter_timeline-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_ohlc_historical-kwargs5].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_model/test_call_func[get_tickers_info_for_coin-kwargs6].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_view/test_call_func[display_basic-kwargs5].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_view/test_call_func[display_events-kwargs1].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_view/test_call_func[display_exchanges-kwargs2].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_view/test_call_func[display_markets-kwargs3].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_view/test_call_func[display_price_supply-kwargs4].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/cassettes/test_coinpaprika_view/test_call_func[display_twitter-kwargs0].yaml
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinbase_model/test_call_func[get_candles-kwargs3].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinbase_model/test_call_func[get_product_stats-kwargs4].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinbase_model/test_call_func[get_trades-kwargs2].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinbase_model/test_call_func[get_trading_pair_info-kwargs1].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinbase_model/test_get_order_book.csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinbase_model/test_get_order_book_1.csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[basic_coin_info-kwargs6].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[basic_coin_info-kwargs7].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[basic_coin_info-kwargs8].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_coin_events_by_id-kwargs2].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_coin_exchanges_by_id-kwargs3].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_coin_markets_by_id-kwargs4].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_coin_twitter_timeline-kwargs1].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_ohlc_historical-kwargs5].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_tickers_info_for_coin-kwargs6].csv
  tests/gamestonk_terminal/cryptocurrency/due_diligence/json/test_coinbase_model/test_call_func[show_available_pairs_for_given_symbol-kwargs0]_1.json
  tests/gamestonk_terminal/cryptocurrency/due_diligence/json/test_coinbase_model/test_get_order_book_3.json
  tests/gamestonk_terminal/cryptocurrency/due_diligence/json/test_coinpaprika_model/test_call_func[get_coin-kwargs0].json
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_coinbase_model.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_coinbase_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_coinpaprika_model.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_coinpaprika_view.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/test_glassnode_model.py
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_coinbase_model/test_call_func[show_available_pairs_for_given_symbol-kwargs0].txt
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_coinbase_model/test_get_order_book_2.txt
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_coinpaprika_model/test_call_func[validate_coin-kwargs6].txt
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_coinpaprika_model/test_call_func[validate_coin-kwargs6]_1.txt
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_coinpaprika_model/test_call_func[validate_coin-kwargs7].txt
  tests/gamestonk_terminal/cryptocurrency/due_diligence/txt/test_coinpaprika_model/test_call_func[validate_coin-kwargs7]_1.txt
Labels: tests
