Repository OpenBB-finance/OpenBB, pull requests merged in 2022-08, with the labels that each got.

#2188 Futures Dashboard
  custom_imports/dashboards/futures.csv
  i18n/en.yml
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/futures.ipynb
  openbb_terminal/reports/widget_helpers.py
  openbb_terminal/stocks/government/quiverquant_view.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_contracts-kwargs_dict5].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_buys-kwargs_dict1].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_sells-kwargs_dict2].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_hist_contracts-kwargs_dict8].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_last_contracts-kwargs_dict3].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_last_government-kwargs_dict0].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_qtr_contracts-kwargs_dict6].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_qtr_contracts-kwargs_dict7].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_top_lobbying-kwargs_dict9].txt
Labels: dashboards

#2239 Futures Improvement
  custom_imports/dashboards/futures.csv
Labels: enhancement, dashboards

#2229 Updating intel macos build system
  .github/workflows/intel_macos_build.yml
Labels: build

#2234 Fix degiro keys setup and improve 2FA authentication
  openbb_terminal/keys_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/brokers/degiro/degiro_view.py
Labels: bug, enhancement

#2246 Fixed Jim Cramer
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
Labels: bug

#2243 Fixes #2220 by replacing Nan with 0 to allow rounding
  openbb_terminal/cryptocurrency/overview/overview_controller.py
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
Labels: bug

#2228 Windows10 build system
  .github/workflows/windows10_build.yml
Labels: build

#2225 Ecocal improve
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/investingcom_model.py
  openbb_terminal/economy/investingcom_view.py
  tests/openbb_terminal/economy/txt/test_investingcom_view/test_display_economic_calendar.txt
Labels: enhancement

#2244 added dcf growth
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: enhancement

#2250 Forgot to staple notarization to file
  .github/workflows/intel_macos_build.yml
Labels: build

#2238 Adds santiment to keys menu in response to #2224
  openbb_terminal/keys_controller.py
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_messari_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_santiment_key[VALIDKEY-False].yaml
  tests/openbb_terminal/test_keys_controller.py
Labels: feat S

#2251 Updating docker configuration
  docker/compose.env
  docker/openbbterminal-python.dockerfile
Labels: docker

#2265 Fixes ecocal command
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/investingcom_model.py
Labels: bug

#2266 Remove portfolio optimisation shortcut
  i18n/en.yml
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/marketwatch_model.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/comparison_analysis/test_ca_controller.py
  tests/openbb_terminal/stocks/comparison_analysis/txt/test_ca_controller/test_print_help.txt
  tests/openbb_terminal/stocks/options/test_screener_controller.py
  tests/openbb_terminal/stocks/options/txt/test_screener_controller/test_print_help.txt
  tests/openbb_terminal/stocks/screener/test_screener_controller.py
  tests/openbb_terminal/stocks/screener/txt/test_screener_controller/test_print_help.txt
Labels: bug, enhancement

#2268 Rename ecocal to events and fix categories filtering
  i18n/en.yml
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/investingcom_view.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  website/content/terminal/economy/ecocal/_index.md
  website/content/terminal/economy/events/_index.md
  website/data/menu/main.yml
Labels: bug, enhancement

#2273 Adds Intro Guide to QA menu
  website/content/terminal/common/qa/_index.md
Labels: guides

#2279 Removed second copy of pylint
  .pre-commit-config.yaml
Labels: bug

#2277 Adding draft release workflow
  .github/release-drafter.yml
  .github/workflows/draft.yml
Labels: build

#2280 Fixes insider stats export
  openbb_terminal/stocks/insider/insider_controller.py
  openbb_terminal/stocks/insider/openinsider_view.py
Labels: bug

#2281 Fix econ index documentation
  website/content/terminal/economy/index/_index.md
Labels: bug

#2227 Lock Scipy to 1.8.1. Fixes OpenBB-finance/OpenBBTerminal#2226
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug

#2282 Fixed bad yfinance urls
  openbb_terminal/stocks/discovery/yahoofinance_model.py
  tests/openbb_terminal/stocks/discovery/csv/test_yahoofinance_model/test_call_func[get_gtech].csv
  tests/openbb_terminal/stocks/discovery/csv/test_yahoofinance_model/test_call_func[get_ugs].csv
Labels: bug

#2286 Added yfinance as a source and converted to pandas read_html
  data_sources_default.json
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/discovery/ark_model.py
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/disc_helpers.py
  openbb_terminal/stocks/discovery/shortinterest_model.py
  openbb_terminal/stocks/discovery/shortinterest_view.py
  openbb_terminal/stocks/discovery/yahoofinance_model.py
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_model/test_add_order_total.yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_model/test_get_ark_orders.yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_view/test_ark_orders_view[kwargs_dict0-True].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_view/test_ark_orders_view[kwargs_dict1-False].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_view/test_ark_orders_view[kwargs_dict2-False].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_view/test_ark_orders_view[kwargs_dict3-False].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_view/test_ark_orders_view[kwargs_dict4-False].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_shortinterest_view/test_hot_penny_stocks.yaml
  tests/openbb_terminal/stocks/discovery/csv/test_ark_model/test_add_order_total.csv
  tests/openbb_terminal/stocks/discovery/csv/test_ark_model/test_get_ark_orders.csv
  tests/openbb_terminal/stocks/discovery/csv/test_shortinterest_model/test_get_low_float.csv
  tests/openbb_terminal/stocks/discovery/csv/test_shortinterest_model/test_get_today_hot_penny_stocks.csv
  tests/openbb_terminal/stocks/discovery/test_ark_view.py
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/discovery/txt/test_ark_view/test_ark_orders_view[kwargs_dict0-True].txt
  tests/openbb_terminal/stocks/discovery/txt/test_ark_view/test_ark_orders_view[kwargs_dict1-False].txt
  tests/openbb_terminal/stocks/discovery/txt/test_ark_view/test_ark_orders_view[kwargs_dict2-False].txt
  tests/openbb_terminal/stocks/discovery/txt/test_ark_view/test_ark_orders_view[kwargs_dict3-False].txt
  tests/openbb_terminal/stocks/discovery/txt/test_ark_view/test_ark_orders_view[kwargs_dict4-False].txt
  tests/openbb_terminal/stocks/discovery/txt/test_shortinterest_view/test_hot_penny_stocks.txt
  website/content/terminal/stocks/disc/hotpenny/_index.md
Labels: bug, enhancement

#2294 Fix chains
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
Labels: bug

#2295 Options tradier fix
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_binom-other_args23-yfinance_view.show_binom-called_args23-called_kwargs23].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_calc-other_args0-calculator_view.view_calculator-called_args0-called_kwargs0].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_calc-other_args1-calculator_view.view_calculator-called_args1-called_kwargs1].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_chains-other_args13-tradier_view.display_chains-called_args13-called_kwargs13].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_chains-other_args14-yfinance_view.display_chains-called_args14-called_kwargs14].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_grhist-other_args6-syncretism_view.view_historical_greeks-called_args6-called_kwargs6].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_grhist-other_args7-syncretism_view.view_historical_greeks-called_args7-called_kwargs7].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_grhist-other_args8--called_args8-called_kwargs8].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_hist-other_args10-chartexchange_view.display_raw-called_args10-called_kwargs10].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_hist-other_args11-tradier_view.display_historical-called_args11-called_kwargs11].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_hist-other_args12--called_args12-called_kwargs12].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_info-other_args5-barchart_view.print_options_data-called_args5-called_kwargs5].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_load-other_args9--called_args9-called_kwargs9].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_oi-other_args19-yfinance_view.plot_oi-called_args19-called_kwargs19].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_oi-other_args20-tradier_view.plot_oi-called_args20-called_kwargs20].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_parity-other_args22-yfinance_view.show_parity-called_args22-called_kwargs22].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_pcr-other_args4-alphaquery_view.display_put_call_ratio-called_args4-called_kwargs4].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_plot-other_args21-yfinance_view.plot_plot-called_args21-called_kwargs21].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_pricing-other_args24-pricing_controller.PricingController-called_args24-called_kwargs24].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_screen-other_args25-screener_controller.ScreenerController-called_args25-called_kwargs25].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_unu-other_args2--called_args2-called_kwargs2].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_unu-other_args3-fdscanner_view.display_options-called_args3-called_kwargs3].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_voi-other_args17-yfinance_view.plot_volume_open_interest-called_args17-called_kwargs17].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_voi-other_args18-tradier_view.plot_volume_open_interest-called_args18-called_kwargs18].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_vol-other_args15-yfinance_view.plot_vol-called_args15-called_kwargs15].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func[call_vol-other_args16-tradier_view.plot_vol-called_args16-called_kwargs16].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_exit-queue0-expected_queue0].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_exit-queue1-expected_queue1].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_help-queue3-expected_queue3].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_home-queue2-expected_queue2].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_quit-queue4-expected_queue4].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_quit-queue5-expected_queue5].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_reset-queue6-expected_queue6].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_func_expect_queue[call_reset-queue7-expected_queue7].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_options_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/options/test_options_controller.py
Labels: bug

#2303 Switch away from df append
  openbb_terminal/common/behavioural_analysis/twitter_model.py
Labels: bug

#2304 Polygon candle from UTC to EST
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-polygon].csv
Labels: bug

#2305 FIxed report generation
  openbb_terminal/reports/equity.ipynb
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_model.py
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_view.py
  openbb_terminal/stocks/due_diligence/business_insider_model.py
  openbb_terminal/stocks/due_diligence/business_insider_view.py
Labels: bug

#2301 Hides warning for API not being a terminal in jupyter lab
  openbb_terminal/cryptocurrency/crypto_api.py
  openbb_terminal/cryptocurrency/due_diligence/cryptopanic_view.py
  openbb_terminal/cryptocurrency/due_diligence/santiment_view.py
  openbb_terminal/menu.py
  terminal.py
Labels: bug

#2300 Release 1.7.0
  .github/workflows/intel_macos_build.yml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/stocks/stocks_controller.py
  pyproject.toml
Labels: build

#2278 Scale text size with size of box in crypto/ov/hm
  openbb_terminal/cryptocurrency/overview/pycoingecko_view.py
Labels: feat XS

#2318 updated API list to include Santiment and Crypto Panic
  website/content/_index.md
Labels: docs, guides

#2292 Refactored for etf commands
  openbb_terminal/etf/discovery/wsj_model.py
  openbb_terminal/etf/discovery/wsj_view.py
  openbb_terminal/etf/etf_api.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/financedatabase_model.py
  openbb_terminal/etf/financedatabase_view.py
  openbb_terminal/etf/stockanalysis_model.py
  openbb_terminal/etf/stockanalysis_view.py
  openbb_terminal/etf/yfinance_view.py
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKW].csv
  tests/openbb_terminal/etf/test_etf_controller.py
  tests/openbb_terminal/etf/test_stockanalysis_view.py
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKQ].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKW].txt
Labels: API

#2007 replace pip in message
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
Labels: bug

#2297 Adds a test for oanda key in keys_controller.py
  openbb_terminal/keys_controller.py
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_oanda_key[VALIDKEY-False].yaml
Labels: feat XS

#2326 fix x-small: pyupgrade --py38-plus
  .github/workflows/test.yml
Labels: tests

#2260 Added econometrics
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/econometrics/econometrics_helpers.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/econometrics/regression_model.py
  openbb_terminal/econometrics/regression_view.py
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_bgod[regression_variables0-data0-True-3].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_bgod[regression_variables1-data1-True-1].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_bols[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_bpag[regression_variables0-data0-True].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_bpag[regression_variables1-data1-True].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_comparison[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_fdols[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_fe[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_ols[regression_variables0-data0-True].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_ols[regression_variables1-data1-False].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_pols[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_re[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/csv/test_regression_model/test_get_regression_data[regression_variables0-data0].csv
  tests/openbb_terminal/econometrics/json/test_regression_model/test_get_dwat[regression_variables0-data0-True].json
  tests/openbb_terminal/econometrics/json/test_regression_model/test_get_dwat[regression_variables1-data1-True].json
  tests/openbb_terminal/econometrics/test_econometrics_model.py
  tests/openbb_terminal/econometrics/test_econometrics_view.py
  tests/openbb_terminal/econometrics/test_regression_model.py
  tests/openbb_terminal/econometrics/test_regression_view.py
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bgod[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bgod[other2].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other0].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other1].txt
  tests/openbb_terminal/econometrics/txt/test_econometrics_controller/test_call_bpag[other2].txt
  tests/openbb_terminal/econometrics/txt/test_regression_view/test_display_bgod[regression_variables0-data0-False-1].txt
  tests/openbb_terminal/econometrics/txt/test_regression_view/test_display_bgod[regression_variables1-data1-False-2].txt
  tests/openbb_terminal/econometrics/txt/test_regression_view/test_display_bpag[regression_variables0-data0-False].txt
  tests/openbb_terminal/econometrics/txt/test_regression_view/test_display_bpag[regression_variables1-data1-False].txt
Labels: API

#2208 Update latest allowed python version to 3.10.x
  poetry.lock
  pyproject.toml
Labels: enhancement

#2309 More Options Tradier Fixes
  openbb_terminal/stocks/options/chartexchange_model.py
  openbb_terminal/stocks/options/chartexchange_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/options/tradier_view.py
  tests/openbb_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-False--1--1].txt
  tests/openbb_terminal/stocks/options/txt/test_tradier_view/test_display_chains[False-True--1--1].txt
  tests/openbb_terminal/stocks/options/txt/test_tradier_view/test_display_chains[True-False--1--1].txt
Labels: bug

#2311 Country debt
  i18n/en.yml
  openbb_terminal/economy/commodity_model.py
  openbb_terminal/economy/commodity_view.py
  openbb_terminal/economy/economy_controller.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  website/content/terminal/economy/cdebt/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2291 Fund refactor
  openbb_terminal/mutual_funds/avanza_model.py
  openbb_terminal/mutual_funds/avanza_view.py
  openbb_terminal/mutual_funds/investpy_model.py
  openbb_terminal/mutual_funds/investpy_view.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/mutual_funds/yfinance_model.py
  openbb_terminal/mutual_funds/yfinance_view.py
Labels: API

#2339 Exit bot ad
  openbb_terminal/terminal_helper.py
Labels: docs

#2350 Fixes Forex Quote
  .github/workflows/test.yml
  .pre-commit-config.yaml
  openbb_terminal/README.md
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/common/quantitative_analysis/qa_model.py
  openbb_terminal/economy/yfinance_model.py
  openbb_terminal/forex/av_view.py
  openbb_terminal/stocks/technical_analysis/tradingview_view.py
  routines/example.openbb
  website/content/terminal/common/qa/decompose/_index.md
  website/content/terminal/common/ta/recom/_index.md
  website/content/terminal/crypto/dd/_index.md
  website/content/terminal/crypto/defi/_index.md
  website/content/terminal/stocks/dd/_index.md
  website/content/terminal/stocks/fa/fraud/_index.md
  website/content/terminal/stocks/options/pricing/rnval/_index.md
Labels: bug

#2353 Allow search to have multiple words
  openbb_terminal/stocks/stocks_controller.py
Labels: enhancement

#2355 mktcap start -> start date
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: bug

#2356 Fix TA integration script
  openbb_terminal/common/technical_analysis/overlap_view.py
  openbb_terminal/common/technical_analysis/volatility_view.py
  openbb_terminal/stocks/technical_analysis/tradingview_model.py
  tests/openbb_terminal/stocks/technical_analysis/csv/test_tradingview_model/test_get_tradingview_recommendation[].csv
Labels: bug

#2357 Added fixes from the general integration tests
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/prediction_techniques/pred_controller.py
  openbb_terminal/custom/prediction_techniques/pred_controller.py
  openbb_terminal/economy/prediction/pred_controller.py
  openbb_terminal/etf/prediction_techniques/pred_controller.py
  openbb_terminal/forex/prediction_techniques/pred_controller.py
  openbb_terminal/forex/technical_analysis/ta_controller.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/prediction_techniques/pred_controller.py
  openbb_terminal/stocks/screener/finviz_model.py
  openbb_terminal/stocks/screener/finviz_view.py
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/screener/test_finviz_model.py
  tests/openbb_terminal/stocks/screener/test_finviz_view.py
Labels: bug

#2359 Small change + small bug fix
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/dark_pool_shorts/test_dps_controller.py
Labels: bug, enhancement

#2361 stocks/disc had a sort_col
  openbb_terminal/stocks/discovery/disc_controller.py
Labels: bug

#2368 Fixed breaking changes to hotpenny
  openbb_terminal/stocks/discovery/shortinterest_view.py
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_av_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_cmc_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_finnhub_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_fmp_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_fred_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_news_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_polygon_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_quandl_key[VALIDKEY-False].yaml
  tests/openbb_terminal/cassettes/test_keys_controller/test_check_tradier_key[VALIDKEY-False].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_shortinterest_view/test_hot_penny_stocks.yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_shortinterest_view/test_low_float.yaml
  tests/openbb_terminal/stocks/discovery/txt/test_shortinterest_view/test_hot_penny_stocks.txt
  tests/openbb_terminal/stocks/discovery/txt/test_shortinterest_view/test_low_float.txt
Labels: bug

#2369 fix: Issue #2319
  openbb_terminal/portfolio/portfolio_optimization/yahoo_finance_model.py
Labels: bug

#2379 [docs] removed -s flag from documentation
  website/content/terminal/stocks/options/_index.md
  website/content/terminal/stocks/options/hist/_index.md
  website/content/terminal/stocks/options/load/_index.md
  website/content/terminal/stocks/options/oi/_index.md
  website/content/terminal/stocks/options/voi/_index.md
  website/content/terminal/stocks/options/vol/_index.md
Labels: docs

#2384 Stocks/BA/Popular - Error: 'NoneType' object has no attribute 'name' Error: 'list' object has no attribute 'empty'
  openbb_terminal/common/behavioural_analysis/reddit_model.py
Labels: bug

#2264 Improve SIA experience as based on feedback
  openbb_terminal/decorators.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
  tests/openbb_terminal/stocks/sector_industry_analysis/cassettes/test_sia_controller/test_menu_without_queue_completion.yaml
  tests/openbb_terminal/stocks/sector_industry_analysis/json/test_financedatabase_model/test_get_industries[-].json
  tests/openbb_terminal/stocks/sector_industry_analysis/json/test_financedatabase_model/test_get_sectors[-].json
  tests/openbb_terminal/stocks/sector_industry_analysis/test_sia_controller.py
  tests/openbb_terminal/stocks/sector_industry_analysis/txt/test_sia_controller/test_print_help.txt
Labels: enhancement

#2302 Adds relative strength percentile to stocks/ta
  i18n/en.yml
  openbb_terminal/stocks/technical_analysis/rsp_model.py
  openbb_terminal/stocks/technical_analysis/rsp_view.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  scripts/test_stocks_ta.openbb
  tests/openbb_terminal/stocks/technical_analysis/cassettes/test_rsp_model/test_get_rsp_image.yaml
  tests/openbb_terminal/stocks/technical_analysis/cassettes/test_rsp_view/test_view[TSLA].yaml
  tests/openbb_terminal/stocks/technical_analysis/cassettes/test_rsp_view/test_view[].yaml
  tests/openbb_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/technical_analysis/csv/test_rsp_model/test_get_rsp_image.csv
  tests/openbb_terminal/stocks/technical_analysis/csv/test_rsp_model/test_get_rsp_image_1.csv
  tests/openbb_terminal/stocks/technical_analysis/csv/test_rsp_model/test_get_rsp_image_2.csv
  tests/openbb_terminal/stocks/technical_analysis/csv/test_rsp_model/test_get_rsp_image_3.csv
  tests/openbb_terminal/stocks/technical_analysis/test_rsp_model.py
  tests/openbb_terminal/stocks/technical_analysis/test_rsp_view.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
  tests/openbb_terminal/stocks/technical_analysis/txt/test_rsp_view/test_view[TSLA].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_rsp_view/test_view[].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  website/content/terminal/common/ta/rsp/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2388 Bug fixes
  openbb_terminal/cryptocurrency/overview/overview_controller.py
Labels: bug

#2387 Bug fixes
  openbb_terminal/cryptocurrency/overview/loanscan_model.py
  tests/openbb_terminal/cryptocurrency/overview/csv/test_loanscan_model/test_get_rates[borrow].csv
  tests/openbb_terminal/cryptocurrency/overview/csv/test_loanscan_model/test_get_rates[supply].csv
Labels: bug

#2389 More verbose error
  openbb_terminal/stocks/dark_pool_shorts/finra_view.py
Labels: bug

#2390 Fix income statement bad headers
  openbb_terminal/stocks/fundamental_analysis/polygon_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict3].csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-False].txt
Labels: bug

#2391 Fixed issues with x axis ordering
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
Labels: bug

#2393 Changed cdebt to edebt with wording fixes
  i18n/en.yml
  openbb_terminal/economy/commodity_view.py
  openbb_terminal/economy/economy_controller.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  website/content/terminal/economy/edebt/_index.md
  website/data/menu/main.yml
Labels: bug

#2396 Fixed blacklitterman export
  exports/portfolio/views/.gitkeep
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
Labels: bug

#2395 Fixed issue with crypto dd tk command
  openbb_terminal/cryptocurrency/due_diligence/messari_model.py
Labels: bug

#2397 Add nasdaq as an options source
  data_sources_default.json
  openbb_terminal/stocks/options/alphaquery_view.py
  openbb_terminal/stocks/options/calculator_view.py
  openbb_terminal/stocks/options/chartexchange_view.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/hedge/hedge_view.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/nasdaq_view.py
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_api.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/pricing/pricing_controller.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/openbb_terminal/stocks/options/test_yfinance_view.py
  tests/openbb_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
Labels: feat M

#2401 Fixed polygon quarterly
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/polygon_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict0].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_polygon_model/test_check_output[get_financials-kwargs_dict2].csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[income-True].txt
Labels: bug

#2402 feat m: [Crypto/DD] Add Coinglass Liquidations
  i18n/en.yml
  openbb_terminal/cryptocurrency/due_diligence/coinglass_model.py
  openbb_terminal/cryptocurrency/due_diligence/coinglass_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  scripts/test_crypto_dd.openbb
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_coinglass_model/test_call_func[get_funding_rate-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_coinglass_model/test_call_func[get_liquidations-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_coinglass_model/test_call_func[get_open_interest_per_exchange-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_coinglass_model/test_call_func[get_funding_rate-kwargs1].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_coinglass_model/test_call_func[get_liquidations-kwargs0].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_coinglass_model/test_call_func[get_open_interest_per_exchange-kwargs2].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/test_coinglass_model.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_dd_controller.py
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_print_help.txt
  website/content/terminal/crypto/dd/liquidations/_index.md
  website/data/menu/main.yml
Labels: feat M

#2392 Fix missing polygon api
  openbb_terminal/stocks/stocks_helper.py
Labels: enhancement

#2366 Refactoring crypto load
  i18n/en.yml
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/openbb_terminal/cryptocurrency/test_cryptocurrency_helpers.py
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
  website/content/terminal/crypto/load/_index.md
Labels: refactor

#2375 NFTs - added floor price and collections commands
  i18n/en.yml
  openbb_terminal/cryptocurrency/nft/nft_controller.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_model.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_view.py
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_model/test_get_collections.yaml
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_model/test_get_floor_price[cryptopunks].yaml
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_view/test_display_collections.yaml
  tests/openbb_terminal/cryptocurrency/nft/cassettes/test_nftpricefloor_view/test_display_floor_price.yaml
  tests/openbb_terminal/cryptocurrency/nft/csv/test_nftpricefloor_model/test_get_collections.csv
  tests/openbb_terminal/cryptocurrency/nft/csv/test_nftpricefloor_model/test_get_floor_price[cryptopunks].csv
  tests/openbb_terminal/cryptocurrency/nft/test_nft_controller.py
  tests/openbb_terminal/cryptocurrency/nft/test_nftpricefloor_model.py
  tests/openbb_terminal/cryptocurrency/nft/test_nftpricefloor_view.py
  tests/openbb_terminal/cryptocurrency/nft/txt/test_nft_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/nft/txt/test_nftpricefloor_view/test_display_collections.txt
  tests/openbb_terminal/cryptocurrency/nft/txt/test_nftpricefloor_view/test_display_floor_price.txt
  website/content/terminal/crypto/nft/collections/_index.md
  website/content/terminal/crypto/nft/fp/_index.md
  website/data/menu/main.yml
Labels: feat S

#2409 fix get fred data (2406)
  openbb_terminal/economy/fred_model.py
Labels: bug

#2408 Fixes portfolio load file prompt
  openbb_terminal/portfolio/portfolio_controller.py
Labels: bug

#2414 Updates Fundamental Analysis Demo Routine - Routine now requires ticker argument
  routines/fa_demo.openbb
Labels: bug

#2415 Hugo docs
  website/config.toml
  website/content/_index.md
  website/data/menu/more.yml
  website/public/index.html
  website/public/main-5e7fc0c942.min.css
  website/public/main-cc3cbe901b.min.css
  website/static/openbb_logo.svg
  website/themes/hugo-geekdoc/layouts/_default/baseof.html
  website/themes/hugo-geekdoc/layouts/partials/content.html
  website/themes/hugo-geekdoc/layouts/partials/head/others.html
  website/themes/hugo-geekdoc/layouts/partials/menu.html
  website/themes/hugo-geekdoc/layouts/partials/page-header.html
  website/themes/hugo-geekdoc/layouts/partials/search.html
  website/themes/hugo-geekdoc/layouts/partials/site-footer.html
  website/themes/hugo-geekdoc/layouts/partials/site-header.html
  website/themes/hugo-geekdoc/static/main-5e7fc0c942.min.css
  website/themes/hugo-geekdoc/static/main-cc3cbe901b.min.css
Labels: docs

#2418 Added fix for ttm issue
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
Labels: bug

#2386 add bullrun.com.br as source for research
  i18n/en.yml
  openbb_terminal/stocks/research/res_controller.py
  tests/openbb_terminal/stocks/research/test_res_controller.py
  tests/openbb_terminal/stocks/research/txt/test_res_controller/test_print_help.txt
  website/content/terminal/stocks/res/bullrun/_index.md
  website/data/menu/main.yml
Labels: feat XS

#2421 Fix economy/fred start date
  data_sources_default.json
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
Labels: bug

#2425 Minor fix for FRED
  openbb_terminal/economy/economy_controller.py
Labels: bug

#2426 fix etf/compare
  openbb_terminal/etf/stockanalysis_model.py
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_all_names_symbols.yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etf_overview[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_model/test_get_etfs_by_name[oil].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_display_etf_by_name[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols0].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_comparisons[symbols1].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKQ].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_holdings[ARKW].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKQ-True].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-False].yaml
  tests/openbb_terminal/etf/cassettes/test_stockanalysis_view/test_view_overview[ARKW-True].yaml
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_holdings[ARKW].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKQ].csv
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etf_overview[ARKW].csv
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_comparisons[symbols0].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_comparisons[symbols1].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKQ].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_holdings[ARKW].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-False].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKQ-True].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-False].txt
  tests/openbb_terminal/etf/txt/test_stockanalysis_view/test_view_overview[ARKW-True].txt
Labels: bug

#2427 Readme update
  README.md
Labels: docs

#2420 Fixes issue #2419
  exports/common/behavioural_analysis/.gitkeep
  exports/common/prediction_techniques/.gitkeep
  exports/common/quantitative_analysis/.gitkeep
  exports/common/technical_analysis/.gitkeep
Labels: bug

#2413 Updates website with degiro documentation
  website/content/terminal/portfolio/bro/degiro/_index.md
  website/content/terminal/portfolio/bro/degiro/cancel/_index.md
  website/content/terminal/portfolio/bro/degiro/companynews/_index.md
  website/content/terminal/portfolio/bro/degiro/create/_index.md
  website/content/terminal/portfolio/bro/degiro/hold/_index.md
  website/content/terminal/portfolio/bro/degiro/lastnews/_index.md
  website/content/terminal/portfolio/bro/degiro/login/_index.md
  website/content/terminal/portfolio/bro/degiro/logout/_index.md
  website/content/terminal/portfolio/bro/degiro/lookup/_index.md
  website/content/terminal/portfolio/bro/degiro/paexport/_index.md
  website/content/terminal/portfolio/bro/degiro/pending/_index.md
  website/content/terminal/portfolio/bro/degiro/topnews/_index.md
  website/content/terminal/portfolio/bro/degiro/update/_index.md
  website/data/menu/main.yml
Labels: docs

#2430 bug: Fix liquidations data. fixes OpenBB-finance/OpenBBTerminal#2429
  openbb_terminal/cryptocurrency/due_diligence/coinglass_model.py
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_coinglass_model/test_call_func[get_liquidations-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_coinglass_model/test_call_func[get_liquidations-kwargs0].csv
Labels: bug

#2327 fix x-small: Add Python 3.10 and 3.11 release candidate to testing
  .github/workflows/test.yml
Labels: feat XS

#2330 feat x-small: pre-commit autoupdate ; pre-commit run --all-files
  .pre-commit-config.yaml
  openbb_terminal/dashboards/correlation.ipynb
  openbb_terminal/dashboards/shortdata.ipynb
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
Labels: enhancement

#2441 Adds Australian Sector Indexes and some others.
  openbb_terminal/economy/yfinance_model.py
Labels: enhancement

#2438 Makes running exe files more robust
  routines/fa_demo.openbb
  terminal.py
Labels: feat S

#2437 Allow home access "/" from anywhere
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
Labels: bug

#2439 Improve export folder to custom one
  openbb_terminal/settings_controller.py
  website/content/_index.md
Labels: bug

#2440 allow percentages for EconDB as required by user
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/economy_controller.py
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_aggregated_macro_data[parameters0-countries0--2020-01-01-2020-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_aggregated_macro_data[parameters0-countries0-2020-01-01-2020-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_aggregated_macro_data[parameters1-countries1--2018-01-01-2019-01-01-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_aggregated_macro_data[parameters1-countries1-2018-01-01-2019-01-01-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_aggregated_macro_data[parameters2-countries2--2010-01-01-2010-10-08-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_aggregated_macro_data[parameters2-countries2-2010-01-01-2010-10-08-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_macro_data[EMP-Germany--2020-01-01-2020-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_macro_data[EMP-Germany-2020-01-01-2020-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_macro_data[GDP-France--2015-01-01-2020-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_macro_data[GDP-France-2015-01-01-2020-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_macro_data[RGDP-United States--2005-05-05-2006-01-01-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_macro_data[RGDP-United States-2005-05-05-2006-01-01-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_treasuries[instruments0-maturities0-monthly-2020-01-01-2020-04-05].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_treasuries[instruments1-maturities1-annually-2015-01-04-2015-01-28].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_model/test_get_treasuries[instruments2-maturities2-weekly-2018-06-05-2018-07-06].yaml
  tests/openbb_terminal/economy/test_econdb_model.py
Labels: enhancement

#2442 Fix stocks/news
  i18n/en.yml
  openbb_terminal/common/newsapi_view.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: bug

#2446 Fix: issue #2372
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
Labels: bug

#2436 forex quote to use yahoo finance instead
  data_sources_default.json
  openbb_terminal/forex/forex_controller.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
  website/content/terminal/forex/quote/_index.md
Labels: feat XS

#2233 Overlay Portfolio and Benchmark Returns Distributions
  openbb_terminal/portfolio/portfolio_view.py
Labels: enhancement

#2448 improve exit message
  openbb_terminal/terminal_helper.py
Labels: docs

#2432 Fixes getting into qa or pred from crypto controller
  openbb_terminal/common/quantitative_analysis/rolling_view.py
  openbb_terminal/cryptocurrency/crypto_controller.py
Labels: bug

#2434 Improve income command for plotting
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
Labels: bug

#2465 Improve readme
  README.md
Labels: docs

#2451 Bug: Fix same-day error for portfolio historical trades.
  openbb_terminal/portfolio/portfolio_model.py
Labels: bug

#2466 Fix onchain issues
  openbb_terminal/cryptocurrency/onchain/bitquery_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/onchain/whale_alert_view.py
Labels: bug

#2467 Fix etf function get_all_names_symbols
  openbb_terminal/etf/stockanalysis_model.py
  tests/openbb_terminal/etf/csv/test_stockanalysis_model/test_get_etfs_by_name[oil].csv
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols.json
  tests/openbb_terminal/etf/json/test_stockanalysis_model/test_get_all_names_symbols_1.json
Labels: bug

#2019 Add new premium source End of Day Historical Data
  data_sources_default.json
  openbb_terminal/config_terminal.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: enhancement

#2473 Fix light terminal stylesheet that would prevent using it in notebooks
  openbb_terminal/config_terminal.py
  styles/default/light.mplrc.json
Labels: bug, jupyterlab, notebookreports, dashboards, API
