Repository OpenBB-finance/OpenBB, pull requests merged in 2022-03, with the labels that each got.

#1428 Fix plot stocks/options/grhist
  gamestonk_terminal/stocks/options/syncretism_view.py
Labels: bug

#1429 Fix bug stocks candle
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: bug

#1430 Fix bug "Warning: Input is not a terminal" when using API
  gamestonk_terminal/stocks/dark_pool_shorts/__init__.py
Labels: bug

#1431 Fix bug setting CMC api key not working under keys menu
  gamestonk_terminal/keys_controller.py
Labels: bug

#1433 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: docs

#1421 Sentiment News correlation with Stock price
  bots/requirements.txt
  gamestonk_terminal/common/behavioural_analysis/finnhub_view.py
  gamestonk_terminal/common/newsapi_model.py
  gamestonk_terminal/common/newsapi_view.py
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/economy/fred/fred_view.py
  gamestonk_terminal/etf/etf_api.py
  gamestonk_terminal/etf/etf_controller.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_api.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/finnhub_model.py
  gamestonk_terminal/stocks/behavioural_analysis/finnhub_view.py
  gamestonk_terminal/stocks/options/syncretism_view.py
  gamestonk_terminal/stocks/stocks_api.py
  gamestonk_terminal/stocks/stocks_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/gamestonk_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
  tests/gamestonk_terminal/economy/cassettes/test_nasdaq_view/test_display_big_mac_index.yaml
  tests/gamestonk_terminal/economy/txt/test_nasdaq_view/test_display_big_mac_index[True0].txt
  tests/gamestonk_terminal/economy/txt/test_nasdaq_view/test_display_big_mac_index[True1].txt
  tests/gamestonk_terminal/etf/cassettes/test_etf_controller/test_call_candle.yaml
  tests/gamestonk_terminal/etf/cassettes/test_etf_controller/test_call_load.yaml
  tests/gamestonk_terminal/etf/test_etf_controller.py
  tests/gamestonk_terminal/etf/txt/test_etf_controller/test_call_candle.txt
  tests/gamestonk_terminal/portfolio/brokers/degiro/txt/test_degiro_controller/test_print_help.txt
  tests/gamestonk_terminal/portfolio/brokers/degiro/txt/test_degiro_view/test_help_display.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_ba_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_finnhub_model/test_get_ipo_calendar.yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/csv/test_finnhub_model/test_get_ipo_calendar.csv
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_finnhub_model.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/gamestonk_terminal/stocks/test_stocks_controller.py
  website/content/stocks/behavioural_analysis/snews/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1434 Add demo and remove roadmap
  README.md
  ROADMAP.md
  website/content/bot/discord/dd/_index.md
  website/content/bot/discord/disc/_index.md
  website/content/bot/discord/dps/_index.md
  website/content/bot/discord/econ/_index.md
  website/content/bot/discord/etf/_index.md
  website/content/bot/discord/gov/_index.md
  website/content/bot/discord/misc/_index.md
  website/content/bot/discord/options/_index.md
  website/content/bot/discord/price/_index.md
  website/content/bot/discord/screener/_index.md
  website/content/bot/discord/sia/_index.md
  website/content/bot/discord/ta/_index.md
Labels: docs

#1435 Fix the cramer function
  gamestonk_terminal/stocks/discovery/cramer_model.py
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_model/test_get_orders[False].yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_model/test_get_orders[True].yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_view/test_get_orders[False].yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_view/test_get_orders[True].yaml
  tests/gamestonk_terminal/stocks/discovery/csv/test_cramer_model/test_get_orders[False].csv
  tests/gamestonk_terminal/stocks/discovery/csv/test_cramer_model/test_get_orders[True].csv
  tests/gamestonk_terminal/stocks/discovery/txt/test_cramer_view/test_get_orders[False].txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_cramer_view/test_get_orders[True].txt
Labels: bug

#1418 Groupme Bot
  bots/cmds/dps_cmds.py
  bots/cmds/economy_cmds.py
  bots/cmds/options_cmds.py
  bots/cmds/screener_cmds.py
  bots/cmds/ta_cmds.py
  bots/common/commands_dict.py
  bots/economy/indices.py
  bots/economy/overview.py
  bots/groupme/groupme_helpers.py
  bots/groupme/run_groupme.py
  bots/helpers.py
  bots/run_discordbot.py
  bots/stocks/government/contracts.py
  bots/stocks/screener/financial.py
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/stocks/.stocks_controller.py.swp
Labels: discord

#1436 Documentation
  README.md
  gamestonk_terminal/README.md
  gamestonk_terminal/keys_controller.py
Labels: docs

#1437 Implement market cap command
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  scripts/test_stocks_fa.gst
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_mktcap.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_calendar_earnings].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_dividends].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_mktcap].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_shareholders].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_sustainability].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_mktcap.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_model/test_get_mktcap_1.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_calendar_earnings].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_info].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_mktcap].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_shareholders].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_sustainability].txt
  website/content/bot/_index.md
  website/content/bot/discord/_index.md
  website/content/stocks/fundamental_analysis/mktcap/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1440 Fix merge
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  scripts/test_stocks_fa.gst
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_mktcap.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_calendar_earnings].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_dividends].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_mktcap].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_shareholders].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_splits].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_sustainability].yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_mktcap.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_yahoo_finance_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_model/test_get_mktcap_1.txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_info].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_mktcap].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_shareholders].txt
  website/content/bot/_index.md
  website/content/bot/discord/_index.md
  website/content/stocks/fundamental_analysis/mktcap/_index.md
  website/data/menu/main.yml
Labels: bug

#1447 Added dark mode
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  website/content/jupyter/dashboards/chains/_index.md
  website/content/jupyter/dashboards/correlations/_index.md
  website/content/jupyter/dashboards/shortdata/_index.md
  website/content/jupyter/dashboards/stocks/_index.md
  website/content/jupyter/dashboards/vsurf/_index.md
Labels: dashboards

#1446 fix: reduce `GITHUB_PER_PAGE` to `25` for `mergestat` data sync
  .github/workflows/mergestat-data-sync.yml
Labels: bug

#1439 feat(web): Replace subversion by wget tarball and install full dependencies to make it working
  gamestonk_terminal_web/Dockerfile
Labels: build

#1449 fix no normalization in historical comparison analysis
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  tests/gamestonk_terminal/stocks/comparison_analysis/test_ca_controller.py
Labels: bug

#1453 Sentiment investor key is unused, only token is used
  custom_pre_commit/check_config_terminal.py
  docker/setenv
  jupyterlab/gst-settings/schema/settings.json
Labels: bug

#1455 Allow for .gst routines to have variable inputs
  routines/example.gst
  routines/example_with_inputs.gst
  terminal.py
Labels: feat M

#1458 Telegram Bot
  bots/helpers.py
  bots/telegram/run_telegram.py
Labels: feat L

#1463 Interest from google trends correlated with stock price
  gamestonk_terminal/common/behavioural_analysis/google_view.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  scripts/test_stocks_ba.gst
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  website/content/stocks/behavioural_analysis/interest/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1465 Slack Bot
  bots/helpers.py
  bots/requirements.txt
  bots/slack/run_slack.py
  bots/telegram/run_telegram.py
  poetry.lock
  pyproject.toml
  website/content/bot/_index.md
  website/content/bot/groupme/_index.md
  website/content/bot/slack/_index.md
  website/content/bot/telegram/_index.md
  website/data/menu/main.yml
Labels: feat L

#1457 Add in Cramer recs by Ticker
  gamestonk_terminal/stocks/behavioural_analysis/ba_api.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/cramer_model.py
  gamestonk_terminal/stocks/behavioural_analysis/cramer_view.py
  gamestonk_terminal/stocks/discovery/cramer_view.py
  gamestonk_terminal/stocks/discovery/disc_api.py
  gamestonk_terminal/stocks/discovery/disc_controller.py
  scripts/test_stocks_ba.gst
  stored/aapl_stock_data.pkl
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_cramer_ticker.yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_orders[False].yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_orders[True].yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_cramer_ticker[False].yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_cramer_ticker[True].yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_get_orders[False].yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_get_orders[True].yaml
  tests/gamestonk_terminal/stocks/behavioural_analysis/csv/test_cramer_model/test_get_cramer_ticker.csv
  tests/gamestonk_terminal/stocks/behavioural_analysis/csv/test_cramer_model/test_get_orders[False].csv
  tests/gamestonk_terminal/stocks/behavioural_analysis/csv/test_cramer_model/test_get_orders[True].csv
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_cramer_model.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_cramer_view.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_cramer_ticker[False].txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_cramer_ticker[True].txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_get_orders[False].txt
  tests/gamestonk_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_get_orders[True].txt
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_model/test_get_orders.yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_model/test_get_orders__no_inverse.yaml
  tests/gamestonk_terminal/stocks/discovery/cassettes/test_cramer_model/test_get_orders_inverse.yaml
  tests/gamestonk_terminal/stocks/discovery/csv/test_cramer_model/test_get_orders[False].csv
  tests/gamestonk_terminal/stocks/discovery/csv/test_cramer_model/test_get_orders[True].csv
  tests/gamestonk_terminal/stocks/discovery/test_cramer_view.py
  tests/gamestonk_terminal/stocks/discovery/txt/test_cramer_view/test_get_orders[False].txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_cramer_view/test_get_orders[True].txt
  tests/gamestonk_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  website/content/stocks/behavioural_analysis/jcdr/_index.md
  website/content/stocks/behavioural_analysis/jctr/_index.md
  website/content/stocks/discovery/cramer/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1469 [Bug] Fixes axis in gdapps command
  gamestonk_terminal/cryptocurrency/defi/llama_view.py
Labels: bug

#1470 Add a blue butterfly to a list of available flairs
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
Labels: feat XS

#1462 Econometrics notebooks API
  gamestonk_terminal/api.py
  gamestonk_terminal/econometrics/econometrics_api.py
  gamestonk_terminal/econometrics/econometrics_model.py
  gamestonk_terminal/parent_classes.py
  website/content/_index.md
  website/content/api/_index.md
  website/content/terminal/econometrics/coint/_index.md
  website/content/terminal/stocks/behavioural_analysis/jcdr/_index.md
  website/content/terminal/stocks/behavioural_analysis/jctr/_index.md
  website/data/menu/main.yml
Labels: feat S

#1471 Improve initial hugo server content
  website/content/_index.md
  website/content/terminal/_index.md
Labels: docs, website

#1473 Options binom percent
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/yfinance_view.py
  website/content/terminal/stocks/options/binom/_index.md
Labels: bug

#1452 Add avanza mutual fund data and commands
  gamestonk_terminal/mutual_funds/avanza_fund_ID.csv
  gamestonk_terminal/mutual_funds/avanza_model.py
  gamestonk_terminal/mutual_funds/avanza_view.py
  gamestonk_terminal/mutual_funds/mutual_fund_controller.py
Labels: feat S

#1454 Fix bug Real Time Performance
  gamestonk_terminal/economy/alphavantage_view.py
  tests/gamestonk_terminal/economy/txt/test_alphavantage_view/test_realtime_performance_sector[True0].txt
  tests/gamestonk_terminal/economy/txt/test_alphavantage_view/test_realtime_performance_sector[True1].txt
Labels: bug

#1475 Extended Dupont
  gamestonk_terminal/stocks/fundamental_analysis/av_model.py
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/stocks_helper.py
  scripts/test_stocks_fa.gst
  tests/gamestonk_terminal/stocks/fundamental_analysis/cassettes/test_av_model/test_get_dupont.yaml
  tests/gamestonk_terminal/stocks/fundamental_analysis/csv/test_av_model/test_get_dupont.csv
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_av_model.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_av_view.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_av_view/test_dupont[df0].txt
  tests/gamestonk_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  website/content/terminal/stocks/fundamental_analysis/dupont/_index.md
  website/content/terminal/stocks/fundamental_analysis/fraud/_index.md
Labels: feat XS

#1476 Update black in poetry + update requirements files
  .pre-commit-config.yaml
  build/conda/conda-3-8-env-full.yaml
  build/conda/conda-3-8-env.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: dependencies

#1477 Improve Dupont and Fraud Commands
  gamestonk_terminal/stocks/fundamental_analysis/av_view.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  website/content/terminal/stocks/fundamental_analysis/dupont/_index.md
Labels: enhancement

#1474 Add command location to plots
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_classes.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/parent_classes.py
  gamestonk_terminal/settings_controller.py
  gamestonk_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/gamestonk_terminal/stocks/behavioural_analysis/test_ba_controller.py
Labels: feat XS

#1484 MergeStat data sync, reduce per-page to `15` to avoid rate-limit issue
  .github/workflows/mergestat-data-sync.yml
Labels: bug

#1485 Add execute routines command to main menu
  gamestonk_terminal/alternative/covid/covid_view.py
  gamestonk_terminal/helper_funcs.py
  terminal.py
Labels: feat XS

#1486 Add links to get API keys when no args provided and fix bugs
  gamestonk_terminal/keys_controller.py
Labels: bug, feat XS

#1483 added script as appName
  terminal.py
Labels: feat XS, logging

#1482 Fixed crypto bugs and set default source as cp
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  gamestonk_terminal/cryptocurrency/due_diligence/pycoingecko_model.py
  gamestonk_terminal/parent_classes.py
Labels: bug

#1489 Customisable export
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/keys_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/terminal_helper.py
  terminal.py
Labels: feat M

#1480 This one WEIRD trick will reduce new bot code by 90%
  bots/common/commands_dict.py
  bots/common/helpers.py
  bots/groupme/run_groupme.py
  bots/slack/run_slack.py
  bots/stocks/candle.py
  bots/telegram/run_telegram.py
  tests/helpers/__init__.py
Labels: refactor, discord

#1487 Code Without Documentation BANNED (Contributors Outraged)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  custom_pre_commit/check_doc.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/jupyter/dashboards/dashboards_controller.py
  gamestonk_terminal/portfolio/portfolio_analysis/pa_controller.py
  gamestonk_terminal/portfolio/portfolio_controller.py
  gamestonk_terminal/portfolio/portfolio_optimization/po_controller.py
  gamestonk_terminal/resources/resources_controller.py
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/options/screener_controller.py
  gamestonk_terminal/stocks/screener/screener_controller.py
  terminal.py
  tests/gamestonk_terminal/jupyter/dashboards/test_dashboard_controller.py
  tests/gamestonk_terminal/portfolio/portfolio_analysis/test_pa_controller.py
  tests/gamestonk_terminal/portfolio/portfolio_optimization/test_po_controller.py
  tests/gamestonk_terminal/stocks/comparison_analysis/test_ca_controller.py
  tests/gamestonk_terminal/stocks/options/test_screener_controller.py
  tests/gamestonk_terminal/stocks/screener/test_screener_controller.py
  website/content/terminal/common/behavioural_analysis/jcdr/_index.md
  website/content/terminal/common/behavioural_analysis/jctr/_index.md
  website/content/terminal/cryptocurrency/due_diligence/mcapdom/_index.md
  website/content/terminal/forex/from/_index.md
  website/content/terminal/forex/oanda/_index.md
  website/content/terminal/forex/oanda/calendar/_index.md
  website/content/terminal/forex/oanda/cancel/_index.md
  website/content/terminal/forex/oanda/candles/_index.md
  website/content/terminal/forex/oanda/closetrade/_index.md
  website/content/terminal/forex/oanda/orderbook/_index.md
  website/content/terminal/forex/oanda/pending/_index.md
  website/content/terminal/forex/oanda/positionbook/_index.md
  website/content/terminal/forex/oanda/positions/_index.md
  website/content/terminal/stocks/sia/period/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1497 Data Collection
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/loggers.py
Labels: feat XS, logging

#1495 Make exe command more robust #1494
  gamestonk_terminal/helper_funcs.py
  terminal.py
Labels: bug

#1498 Allow for custom filename save
  gamestonk_terminal/helper_funcs.py
Labels: feat S

#1500 Data Collection : Settings
  gamestonk_terminal/settings_controller.py
Labels: feat XS, analytics

#1502 Data Collection : Settings
  gamestonk_terminal/settings_controller.py
Labels: feat XS, analytics

#1503 Fix Passive Investor report
  gamestonk_terminal/etf/etf_controller.py
  tests/gamestonk_terminal/etf/cassettes/test_etf_controller/test_call_candle.yaml
  tests/gamestonk_terminal/etf/cassettes/test_etf_controller/test_call_load.yaml
  tests/gamestonk_terminal/etf/test_etf_controller.py
  tests/gamestonk_terminal/etf/txt/test_etf_controller/test_call_candle.txt
Labels: feat XS

#1506 Allow to add comments to routines and re-add removed code about inputs on routines
  terminal.py
Labels: feat XS

#1513 Several bugfixes and routines allowed multiple calls to same arg
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/dark_pool_shorts/dps_controller.py
  gamestonk_terminal/stocks/due_diligence/dd_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/fa_controller.py
  gamestonk_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  routines/example_with_inputs_saved.gst
  terminal.py
Labels: feat S

#1517 Adds command to get anchor protocol stats
  gamestonk_terminal/cryptocurrency/defi/cryptosaurio_model.py
  gamestonk_terminal/cryptocurrency/defi/cryptosaurio_view.py
  gamestonk_terminal/cryptocurrency/defi/defi_controller.py
  gamestonk_terminal/cryptocurrency/defi/terraengineer_view.py
  scripts/test_crypto_defi.gst
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_cryptosaurio_model/test_get_anchor_data[terra13kc0x8kr3sq8226myf4nmanmn2mrk9s5s9wsnz].yaml
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_cryptosaurio_model/test_get_anchor_data[terra1tmnqgvg567ypvsvk6rwsga3srp7e3lg6u0elp8].yaml
  tests/gamestonk_terminal/cryptocurrency/defi/cassettes/test_cryptosaurio_view/test_display_anchor_data.yaml
  tests/gamestonk_terminal/cryptocurrency/defi/csv/test_cryptosaurio_model/test_get_anchor_data[terra13kc0x8kr3sq8226myf4nmanmn2mrk9s5s9wsnz].csv
  tests/gamestonk_terminal/cryptocurrency/defi/test_cryptosaurio_model.py
  tests/gamestonk_terminal/cryptocurrency/defi/test_cryptosaurio_view.py
  tests/gamestonk_terminal/cryptocurrency/defi/txt/test_cryptosaurio_view/test_display_anchor_data.txt
  tests/gamestonk_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
  website/content/terminal/cryptocurrency/defi/anchor/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1519 Update Folders in Pylint
  .github/workflows/test.yml
  .pre-commit-config.yaml
  bots/etf/whatetf.py
  bots/groupme/groupme_helpers.py
  bots/helpers.py
  bots/stocks/options/cc_hist.py
  bots/stocks/options/hist.py
  bots/stocks/options/overview.py
  bots/stocks/technical_analysis/ad.py
  bots/stocks/technical_analysis/adosc.py
  bots/stocks/technical_analysis/aroon.py
  bots/stocks/technical_analysis/bbands.py
  bots/stocks/technical_analysis/cci.py
  bots/stocks/technical_analysis/fisher.py
  bots/stocks/technical_analysis/kc.py
  bots/stocks/technical_analysis/obv.py
  bots/stocks/technical_analysis/rsi.py
  bots/stocks/technical_analysis/stoch.py
  bots/telegram/run_telegram.py
Labels: bug

#1520 Insider bug
  gamestonk_terminal/stocks/insider/finviz_view.py
  tests/gamestonk_terminal/stocks/insider/cassettes/test_finviz_view/test_last_insider_activity.yaml
  tests/gamestonk_terminal/stocks/insider/cassettes/test_finviz_view/test_last_insider_activity_none.yaml
  tests/gamestonk_terminal/stocks/insider/test_finviz_view.py
  tests/gamestonk_terminal/stocks/insider/txt/test_finviz_view/test_last_insider_activity.txt
  tests/gamestonk_terminal/stocks/insider/txt/test_finviz_view/test_last_insider_activity_none.txt
Labels: bug

#1491 Fix multiple bugs
  gamestonk_terminal/common/quantitative_analysis/qa_view.py
  gamestonk_terminal/jupyter/reports/crypto_market.ipynb
  gamestonk_terminal/jupyter/reports/due_diligence.ipynb
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/options_controller.py
  gamestonk_terminal/stocks/options/tradier_view.py
  tests/gamestonk_terminal/stocks/options/cassettes/test_chartexchange_view/test_display_raw.yaml
  tests/gamestonk_terminal/stocks/options/test_chartexchange_view.py
  tests/gamestonk_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[False].txt
  tests/gamestonk_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[True].txt
Labels: bug

#1526 Added coverage to actions
  .coverage.Colins-Air.indiana.edu.21211.834887
  .github/workflows/codecov.yml
Labels: enhancement

#1531 Improve graph design for Sia's metric and remove legend
  gamestonk_terminal/stocks/sector_industry_analysis/financedatabase_view.py
  website/content/terminal/stocks/sia/metric/_index.md
Labels: feat XS

#1532 Add TA and test coverage for the Forex context
  gamestonk_terminal/common/technical_analysis/trend_indicators_view.py
  gamestonk_terminal/forex/forex_api.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/technical_analysis/__init__.py
  gamestonk_terminal/forex/technical_analysis/ta_api.py
  gamestonk_terminal/forex/technical_analysis/ta_controller.py
  scripts/test_forex_ta.gst
  tests/gamestonk_terminal/forex/__init__.py
  tests/gamestonk_terminal/forex/cassettes/test_av_model/test_get_historical[CHF-USD].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_model/test_get_historical[EUR-USD].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_model/test_get_historical[GBP-EUR].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_model/test_get_historical[USD-JPY].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_view/test_display_quote[CHF-USD].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_view/test_display_quote[EUR-USD].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_view/test_display_quote[GBP-EUR].yaml
  tests/gamestonk_terminal/forex/cassettes/test_av_view/test_display_quote[USD-JPY].yaml
  tests/gamestonk_terminal/forex/csv/test_av_model/test_get_historical[CHF-USD].csv
  tests/gamestonk_terminal/forex/csv/test_av_model/test_get_historical[EUR-USD].csv
  tests/gamestonk_terminal/forex/csv/test_av_model/test_get_historical[GBP-EUR].csv
  tests/gamestonk_terminal/forex/csv/test_av_model/test_get_historical[USD-JPY].csv
  tests/gamestonk_terminal/forex/technical_analysis/__init__.py
  tests/gamestonk_terminal/forex/technical_analysis/csv/test_ta_controller/data_df.csv
  tests/gamestonk_terminal/forex/technical_analysis/test_ta_api.py
  tests/gamestonk_terminal/forex/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/forex/technical_analysis/txt/test_ta_controller/test_print_help[2021-12-01].txt
  tests/gamestonk_terminal/forex/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/gamestonk_terminal/forex/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  tests/gamestonk_terminal/forex/test_av_model.py
  tests/gamestonk_terminal/forex/test_av_view.py
  tests/gamestonk_terminal/forex/test_forex_api.py
  tests/gamestonk_terminal/forex/test_forex_controller.py
  tests/gamestonk_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: feat M

#1536 Rip codecov 2022-2022
  .github/workflows/codecov.txt
Labels: tests

#1539 Fixes cryptocurrency menu not collapsing on hugo docs
  website/data/menu/main.yml
Labels: docs

#1534 Error handling for custom files when folder not present.
  .coverage.Colins-Air.indiana.edu.21211.834887
  gamestonk_terminal/parent_classes.py
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
  tests/gamestonk_terminal/stocks/txt/test_stocks_helper/test_load_custom[custom_imports/stocks/test.csv].txt
  tests/gamestonk_terminal/stocks/txt/test_stocks_helper/test_load_custom[none].txt
  tests/gamestonk_terminal/stocks/txt/test_stocks_helper/test_load_custom_output_wrong_path[random_folder/test69.csv].txt
Labels: refactor

#1540 Delete codecov.txt
  .github/workflows/codecov.txt
Labels: tests

#1538 Logging : refactor log generation/collection
  bots/requirements.txt
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/log/__init__.py
  gamestonk_terminal/log/collection/__init__.py
  gamestonk_terminal/log/collection/log_sender.py
  gamestonk_terminal/log/collection/logging_clock.py
  gamestonk_terminal/log/collection/s3_sender.py
  gamestonk_terminal/log/generation/__init__.py
  gamestonk_terminal/log/generation/directories.py
  gamestonk_terminal/log/generation/formatter_with_exceptions.py
  gamestonk_terminal/log/generation/path_tracking_file_handler.py
  gamestonk_terminal/log/generation/settings.py
  gamestonk_terminal/loggers.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
  tests/README.md
Labels: feat M

#1541 Small economy add-ons
  gamestonk_terminal/economy/economy_controller.py
  gamestonk_terminal/economy/fred_model.py
  gamestonk_terminal/economy/fred_view.py
  gamestonk_terminal/economy/yfinance_view.py
  tests/gamestonk_terminal/economy/cassettes/test_fred_model/test_yield_curve[date0].yaml
  tests/gamestonk_terminal/economy/cassettes/test_fred_model/test_yield_curve_none[None].yaml
  tests/gamestonk_terminal/economy/cassettes/test_fred_model/test_yield_curve_weekend[date0].yaml
  tests/gamestonk_terminal/economy/cassettes/test_yfinance_view/test_show_indices[indices0-1d-2022-01-01-2022-02-02-Adj Close-False-False].yaml
  tests/gamestonk_terminal/economy/cassettes/test_yfinance_view/test_show_indices[indices1-1wk-2020-06-06-2020-07-07-Close-False-False].yaml
  tests/gamestonk_terminal/economy/cassettes/test_yfinance_view/test_show_indices[indices2-1mo-2015-01-01-2015-02-02-Volume-False-False].yaml
  tests/gamestonk_terminal/economy/cassettes/test_yfinance_view/test_show_indices[indices3-3mo-2010-01-01-2016-02-06-High-False-True].yaml
  tests/gamestonk_terminal/economy/cassettes/test_yfinance_view/test_show_indices_returns[indices0-1m-2022-03-18-2022-03-21-Adj Close-True-False].yaml
  tests/gamestonk_terminal/economy/csv/test_fred_model/test_yield_curve[date0].csv
  tests/gamestonk_terminal/economy/csv/test_fred_model/test_yield_curve_none[None].csv
  tests/gamestonk_terminal/economy/test_fred_model.py
  tests/gamestonk_terminal/economy/test_yfinance_view.py
  tests/gamestonk_terminal/economy/txt/test_economy_controller/test_print_help.txt
  website/content/terminal/economy/index/_index.md
  website/content/terminal/economy/yield/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1543 Logging : fix feature flag
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/log/generation/directories.py
  tests/gamestonk_terminal/economy/test_fred_model.py
Labels: feat XS, logging

#1545 Logging : disabling logging clock
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/loggers.py
Labels: bug, logging

#1546 Log tweaks
  gamestonk_terminal/log/generation/formatter_with_exceptions.py
  gamestonk_terminal/parent_classes.py
Labels: feat XS, analytics

#1518 Update vis command from sia so that it adjusts for currency
  gamestonk_terminal/stocks/fundamental_analysis/dcf_model.py
  gamestonk_terminal/stocks/fundamental_analysis/dcf_view.py
  gamestonk_terminal/stocks/sector_industry_analysis/sia_controller.py
  gamestonk_terminal/stocks/sector_industry_analysis/stockanalysis_model.py
  gamestonk_terminal/stocks/sector_industry_analysis/stockanalysis_view.py
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_companies_per_country_in_industry.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_companies_per_country_in_sector.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_companies_per_industry_in_country.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_companies_per_industry_in_sector.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_companies_per_sector_in_country.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_countries[-Conglomerates].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_countries[-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_countries[Uranium-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_industries[-Conglomerates].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_industries[-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_industries[France-Energy].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_industries[France-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_sectors[-France].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_sectors[-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_sectors[Uranium-].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_model/test_get_stocks_data.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_country_in_industry.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_country_in_sector.yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_industry_in_sector[False-True].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_industry_in_sector[True-False].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_industry_in_sector[True-True].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_sector_in_country[-False].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_sector_in_country[-True].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_financedatabase_view/test_display_companies_per_sector_in_country[Small Cap-False].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks0-re-sa_keys0-annual-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks1-rec-sa_keys1-quarterly-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/cassettes/test_stockanalysis_view/test_display_plots_financials[rec-sa_keys1-Germany-Technology-None-trailing-13-Large-BS].yaml
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_change_type_dataframes.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks0-re-sa_keys0-annual-IS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks1-rec-sa_keys1-quarterly-BS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks2-ncf-sa_keys2-annual-CF]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks3-ni-sa_keys3-quarterly-IS]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS].csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_get_stocks_data[stocks4-tle-sa_keys4-trailing-BS]_2.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_match_length_dataframes.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_model/test_match_length_dataframes_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_1.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_3.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_4.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_6.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/csv/test_stockanalysis_view/test_display_plots_financials[re-sa_keys0-United States-None-Credit Services-annual-12-Large-IS]_8.csv
  tests/gamestonk_terminal/stocks/sector_industry_analysis/test_stockanalysis_view.py
  website/content/terminal/stocks/sia/vis/_index.md
Labels: feat S

#1547 fix terminal path and pii protection
  gamestonk_terminal/log/generation/formatter_with_exceptions.py
  gamestonk_terminal/parent_classes.py
Labels: bug

#1537 Discord Bot Documentation Update For Intraday T/A
  website/content/bots/discord/dd/borrowed/_index.md
  website/content/bots/discord/econ/repo/_index.md
  website/content/bots/discord/options/smile/_index.md
  website/content/bots/discord/ta/ad/_index.md
  website/content/bots/discord/ta/adosc/_index.md
  website/content/bots/discord/ta/adx/_index.md
  website/content/bots/discord/ta/aroon/_index.md
  website/content/bots/discord/ta/bbands/_index.md
  website/content/bots/discord/ta/cci/_index.md
  website/content/bots/discord/ta/cg/_index.md
  website/content/bots/discord/ta/donchian/_index.md
  website/content/bots/discord/ta/ema/_index.md
  website/content/bots/discord/ta/fib/_index.md
  website/content/bots/discord/ta/fisher/_index.md
  website/content/bots/discord/ta/hma/_index.md
  website/content/bots/discord/ta/kc/_index.md
  website/content/bots/discord/ta/ma/_index.md
  website/content/bots/discord/ta/macd/_index.md
  website/content/bots/discord/ta/obv/_index.md
  website/content/bots/discord/ta/rsi/_index.md
  website/content/bots/discord/ta/sma/_index.md
  website/content/bots/discord/ta/stoch/_index.md
  website/content/bots/discord/ta/wma/_index.md
  website/content/bots/discord/ta/zlma/_index.md
  website/data/menu/main.yml
Labels: website

#1548 Couple style things + close some issues
  gamestonk_terminal/stocks/comparison_analysis/ca_controller.py
  gamestonk_terminal/stocks/options/barchart_view.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/stocks_helper.py
  poetry.lock
  requirements-full.txt
  requirements.txt
  tests/gamestonk_terminal/stocks/comparison_analysis/txt/test_ca_controller/test_print_help.txt
  tests/gamestonk_terminal/stocks/options/cassettes/test_barchart_view/test_print_options_data.yaml
  tests/gamestonk_terminal/stocks/options/txt/test_barchart_view/test_print_options_data.txt
  tests/gamestonk_terminal/stocks/test_stocks_helper.py
  website/content/terminal/stocks/comparison_analysis/historical/_index.md
Labels: bug, enhancement

#1549 Logging : Cleaning feature
  gamestonk_terminal/log/collection/log_sender.py
  gamestonk_terminal/log/collection/logging_clock.py
  gamestonk_terminal/log/collection/s3_sender.py
  gamestonk_terminal/log/constants.py
  gamestonk_terminal/log/generation/directories.py
  gamestonk_terminal/log/generation/expired_files.py
  gamestonk_terminal/log/generation/formatter_with_exceptions.py
  gamestonk_terminal/log/generation/path_tracking_file_handler.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_controller.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_model.py
  gamestonk_terminal/portfolio/brokers/degiro/degiro_view.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_controller.py
  tests/gamestonk_terminal/portfolio/brokers/degiro/test_degiro_model.py
Labels: feat XS, logging

#1550 forgot comma
  gamestonk_terminal/parent_classes.py
Labels: bug

#1552 more formatting errors
  gamestonk_terminal/log/generation/formatter_with_exceptions.py
Labels: bug

#1544 Add YahooFinance to forex load
  gamestonk_terminal/forex/av_model.py
  gamestonk_terminal/forex/av_view.py
  gamestonk_terminal/forex/data/av_forex_currencies.csv
  gamestonk_terminal/forex/data/yahoofinance_forex.json
  gamestonk_terminal/forex/forex_api.py
  gamestonk_terminal/forex/forex_controller.py
  gamestonk_terminal/forex/forex_helper.py
  gamestonk_terminal/forex/oanda/oanda_controller.py
  gamestonk_terminal/forex/technical_analysis/ta_controller.py
  scripts/test_forex_load.gst
  tests/gamestonk_terminal/forex/technical_analysis/test_ta_controller.py
  tests/gamestonk_terminal/forex/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  tests/gamestonk_terminal/forex/test_forex_controller.py
  tests/gamestonk_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: feat S

#1553 Logging : Disable Log Collection on CI
  .github/workflows/mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/log/generation/expired_files.py
  gamestonk_terminal/log/generation/path_tracking_file_handler.py
Labels: feat XS, logging

#1554 Fixed Dashboard Tables
  gamestonk_terminal/jupyter/dashboards/stocks.ipynb
Labels: bug

#1533 Add YahooFinance to crypto load
  gamestonk_terminal/cryptocurrency/crypto_api.py
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/cryptocurrency_helpers.py
  gamestonk_terminal/cryptocurrency/data/yahoofinance_coins.json
  gamestonk_terminal/cryptocurrency/technical_analysis/ta_controller.py
  gamestonk_terminal/parent_classes.py
  scripts/test_crypto_defi.gst
  tests/gamestonk_terminal/cryptocurrency/test_cryptocurrency_helpers.py
Labels: feat S

#1558 Log Collection : fixes
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/log/collection/s3_sender.py
  gamestonk_terminal/log/generation/expired_files.py
  gamestonk_terminal/log/generation/path_tracking_file_handler.py
Labels: bug

#1559 Fixing tests
  .github/workflows/mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
Labels: bug

#1560 Fix main tests
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: bug

#1557 Add qa to updated crypto menu
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/cryptocurrency/quantitative_analysis/__init__.py
  gamestonk_terminal/cryptocurrency/quantitative_analysis/qa_controller.py
  tests/gamestonk_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
Labels: enhancement

#1563 Fix regression in prediction menu
  gamestonk_terminal/common/prediction_techniques/regression_model.py
  gamestonk_terminal/common/prediction_techniques/regression_view.py
Labels: bug

#1564 Log Collection : Change endpoint
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/log/collection/log_sender.py
  gamestonk_terminal/log/collection/s3_sender.py
  gamestonk_terminal/log/constants.py
  gamestonk_terminal/log/generation/path_tracking_file_handler.py
  gamestonk_terminal/log/generation/settings.py
  gamestonk_terminal/loggers.py
Labels: feat XS, logging

#1568 Allows to export when using installer
  gamestonk_terminal/helper_funcs.py
Labels: feat XS

#1567 Log Collection : Enabling
  gamestonk_terminal/config_terminal.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/log_collection.md
  gamestonk_terminal/reporting.md
Labels: feat XS, logging

#1569 Fix reversed options hist
  gamestonk_terminal/stocks/options/chartexchange_view.py
  tests/gamestonk_terminal/stocks/options/cassettes/test_chartexchange_view/test_display_raw.yaml
  tests/gamestonk_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[False].txt
  tests/gamestonk_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[True].txt
Labels: bug

#1565 Apply dynamic magnitude (KMBTP) to y-axis plots
  gamestonk_terminal/common/technical_analysis/overlap_view.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/stocks/options/chartexchange_view.py
  gamestonk_terminal/stocks/options/tradier_view.py
  gamestonk_terminal/stocks/stocks_helper.py
Labels: enhancement

#1525 Create a packaged app bundle with Pyinstaller
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  bots/requirements.txt
  build/pyinstaller/GTFF_DEFAULTS.json
  build/pyinstaller/build4mac.sh
  build/pyinstaller/frozendict/VERSION
  build/pyinstaller/macOS_package_assets/Gamestonk Terminal/Gamestonk Terminal
  build/pyinstaller/macOS_package_assets/README.TXT
  build/pyinstaller/property_cached/__init__.py
  build/pyinstaller/property_cached/_version.txt
  build/pyinstaller/terminal.spec
  build/pyinstaller/user_agent/__init__.py
  build/pyinstaller/user_agent/base.py
  build/pyinstaller/user_agent/cli.py
  build/pyinstaller/user_agent/data/smartphone_dev_ext.json
  build/pyinstaller/user_agent/data/smartphone_dev_id.json
  build/pyinstaller/user_agent/data/tablet_dev_ext.json
  build/pyinstaller/user_agent/data/tablet_dev_id.json
  build/pyinstaller/user_agent/device.py
  build/pyinstaller/user_agent/error.py
  build/pyinstaller/user_agent/warning.py
  build/pyinstaller/vaderSentiment/__init__.py
  build/pyinstaller/vaderSentiment/emoji_utf8_lexicon.txt
  build/pyinstaller/vaderSentiment/vaderSentiment.py
  build/pyinstaller/vaderSentiment/vader_lexicon.txt
  gamestonk_terminal/cryptocurrency/crypto_controller.py
  gamestonk_terminal/feature_flags.py
  gamestonk_terminal/helper_funcs.py
  gamestonk_terminal/jupyter/dashboards/currencies.ipynb
  gamestonk_terminal/jupyter/dashboards/widget_helpers.py
  gamestonk_terminal/jupyter/dashboards/widgets/card.j2
  gamestonk_terminal/jupyter/dashboards/widgets/currencies.json
  gamestonk_terminal/jupyter/dashboards/widgets/style.css
  gamestonk_terminal/loggers.py
  gamestonk_terminal/terminal_helper.py
  images/GamestonkTerminal.icns
  images/dmg_background.png
  images/gst_app.ico
  images/splashscreen.png
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: feat XL

#1580 Logging : masOS+DiscordBot
  gamestonk_terminal/log/collection/log_sender.py
  gamestonk_terminal/log/collection/s3_sender.py
  gamestonk_terminal/log/generation/directories.py
  gamestonk_terminal/loggers.py
Labels: feat XS, logging

#1585 Fix gov & economy failed test
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/finviz_model.py
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/stocks/government/quiverquant_view.py
  openbb_terminal/stocks/screener/presets/README.md
  tests/openbb_terminal/common/behavioural_analysis/test_finbrain_view.py
  tests/openbb_terminal/economy/test_finviz_view.py
  tests/openbb_terminal/economy/test_wsj_view.py
  tests/openbb_terminal/stocks/insider/test_openinsider_view.py
  tests/openbb_terminal/stocks/sector_industry_analysis/test_sia_controller.py
Labels: feat XS

#1581 Fix multiple bugs: Add ylabels to bt menu & Fix reports bug
  gamestonk_terminal/stocks/backtesting/bt_view.py
Labels: bug

#1588 Fix small rsi bug
  openbb_terminal/jupyter/reports/crypto_market.ipynb
  openbb_terminal/jupyter/reports/reports_controller.py
Labels: bug

#1589 Updating JupyterLab dependencies
  jupyterlab/documentation/yarn.lock
  jupyterlab/openbb-settings/yarn.lock
  jupyterlab/openbb/yarn.lock
Labels: jupyterlab, dependencies

#1586 Re-add installer README after name change
  README.md
  images/installation/api_keys_part_1.png
  images/installation/api_keys_part_2.png
  images/installation/macos/mac_os_installation.png
  images/installation/macos/malicious_software_warning.png
  images/installation/macos/option_one_warning_fix.png
  images/installation/macos/option_two_warning_fix.png
  images/installation/windows/run_anyway.png
  images/installation/windows/run_the_terminal.png
  images/installation/windows/windows_protected_your_pc.png
  images/legacy/GamestonkLogo.png
  images/legacy/GamestonkTerminal.icns
  images/legacy/dmg_background.png
  images/legacy/gst_app.ico
  images/legacy/gst_letters.png
  images/legacy/gst_logo.png
  images/legacy/gst_logo_green_white_background.png
  images/legacy/gst_logo_lockup_rGreen_with_letters.png
  images/legacy/gst_logo_lockup_rGreen_with_letters_only.png
  images/legacy/gst_logo_rGreen.png
  images/legacy/logo.png
  images/legacy/splashscreen.png
  images/openbb_gradient.png
  openbb_terminal/README.md
Labels: docs

#1584 Installer fixes
  .github/workflows/test.yml
  CONTRIBUTING.md
  build/pyinstaller/OBBFF_DEFAULTS.json
  build/pyinstaller/OPENBB_DEFAULTS.json
  build/pyinstaller/build4mac.sh
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  build/pyinstaller/terminal.spec
  gamestonk_terminal/jupyter/reports/stored/20220221_171840_due_diligence_GME.html
  gamestonk_terminal/jupyter/reports/stored/20220221_172032_due_diligence_GME.html
  gamestonk_terminal/jupyter/reports/stored/20220314_133622_due_diligence_aapl.html
  images/openbb.icns
  images/openbb_icon.ico
  images/openbb_splashscreen.png
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/finviz_model.py
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/jupyter/reports/crypto_market.ipynb
  openbb_terminal/jupyter/reports/reports_controller.py
  openbb_terminal/log/generation/directories.py
  openbb_terminal/loggers.py
  openbb_terminal/stocks/government/quiverquant_view.py
  scripts/test_econometrics_panel.openbb
  scripts/test_econometrics_ts.openbb
  scripts/test_economy.openbb
  scripts/test_jupyter_base.openbb
  scripts/test_reports.openbb
  scripts/test_stocks_disc.openbb
  terminal.py
  tests/openbb_terminal/common/behavioural_analysis/test_finbrain_view.py
  tests/openbb_terminal/economy/test_finviz_view.py
  tests/openbb_terminal/economy/test_wsj_view.py
  tests/openbb_terminal/stocks/insider/test_openinsider_view.py
  tests/openbb_terminal/stocks/sector_industry_analysis/test_sia_controller.py
  tests/test_terminal.py
Labels: feat L

#1590 Fix packaged app default feature flags
  build/pyinstaller/OPENBB_DEFAULTS.json
Labels: feat XS, logging

#1593 Website : Links
  website/README.md
  website/content/terminal/econometrics/export/_index.md
  website/public/404.html
  website/public/categories/index.xml
  website/public/en.search-data.min.json
  website/public/index.html
  website/public/index.xml
  website/public/js/en.search.min.4494f709841e4bb8d461fca7dae52e566ce2ef03413da09e9f453eb335812cfb.js
  website/public/sitemap.xml
  website/public/stocks/candle/index.html
  website/public/stocks/candle/index.xml
  website/public/stocks/discover_stocks/index.html
  website/public/stocks/discover_stocks/index.xml
  website/public/stocks/discover_stocks/ipo/index.html
  website/public/stocks/discover_stocks/ipo/index.xml
  website/public/stocks/discover_stocks/map/index.html
  website/public/stocks/discover_stocks/map/index.xml
  website/public/stocks/index.html
  website/public/stocks/index.xml
  website/public/stocks/load/index.html
  website/public/stocks/load/index.xml
  website/public/tags/index.xml
Labels: docs

#1592 Updating dependencies and putting kaleido into a shibajail
  .github/workflows/mac.yml
  .github/workflows/test.yml
  .github/workflows/windows.yml
  bots/requirements.txt
  poetry.lock
  pyproject.toml
  pytest.ini
  requirements-full.txt
  requirements.txt
  tests/bots/common/test_helpers.py
  tests/bots/economy/test_currencies.py
  tests/bots/economy/test_energy.py
  tests/bots/economy/test_feargreed.py
  tests/bots/economy/test_futures.py
  tests/bots/economy/test_futures_coms.py
  tests/bots/economy/test_glbonds.py
  tests/bots/economy/test_grains.py
  tests/bots/economy/test_indices.py
  tests/bots/economy/test_meats.py
  tests/bots/economy/test_metals.py
  tests/bots/economy/test_overview.py
  tests/bots/economy/test_performance.py
  tests/bots/economy/test_softs.py
  tests/bots/economy/test_usbonds.py
  tests/bots/economy/test_valuation.py
  tests/bots/etf/test_holdings.py
  tests/bots/etf/test_tops.py
  tests/bots/etf/test_whatetf.py
  tests/openbb_terminal/stocks/technical_analysis/test_tradingview_view.py
  tests/test_terminal.py
Labels: dependencies

#1591 Redo images and update the README
  images/installation/macos/mac_os_installation.png
  images/installation/macos/malicious_software_warning.png
  images/installation/macos/option_one_warning_fix.png
  images/installation/macos/option_two_warning_fix.png
  images/installation/windows/run_anyway.png
  images/installation/windows/run_the_terminal.png
  images/installation/windows/windows_protected_your_pc.png
  openbb_terminal/README.md
Labels: docs

#1594 Updating and renaming Docker images
  .gitignore
  OpenBB Terminal.bat
  docker/compose.env
  docker/docker-compose.yaml
  docker/entry-point-poetry-jupyter.sh
  docker/extension.sh
  docker/gst-deps.dockerfile
  docker/gst-poetry-deps.dockerfile
  docker/gst-poetry-full-deps.dockerfile
  docker/gst-poetry-full.dockerfile
  docker/gst-poetry-jupyter.dockerfile
  docker/gst-poetry.dockerfile
  docker/gst.dockerfile
  docker/openbbterminal-deps.dockerfile
  docker/openbbterminal-poetry-deps.dockerfile
  docker/openbbterminal-poetry-full-deps.dockerfile
  docker/openbbterminal-poetry-full.dockerfile
  docker/openbbterminal-poetry-jupyter.dockerfile
  docker/openbbterminal-poetry.dockerfile
  docker/openbbterminal-python.dockerfile
  docker/openbbterminal.dockerfile
  openbb_terminal/README.md
Labels: docker, dependencies

#1595 Fix API Keys images not showing in README
  openbb_terminal/README.md
Labels: docs, feat XS

#1598 Bug : fix #1597
  openbb_terminal/common/behavioural_analysis/reddit_view.py
Labels: bug

#1562 Add Raspberry PI installation
  openbb_terminal/README.md
Labels: docs
