Repository OpenBB-finance/OpenBB, pull requests merged in 2022-04, with the labels that each got.

#1604 Update README.md
  jupyterlab/README.md
Labels: docs, jupyterlab

#1606 chore: updated the readme, removed the use of the slang Karen and Gan…
  README.md
Labels: docs

#1609 Rename Gamestonk Terminal to OpenBB Terminal in the web version
  openbb_terminal_web/README.md
Labels: docs

#1611 Get into oanda submenu
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/forex/oanda/oanda_controller.py
  openbb_terminal/keys_controller.py
Labels: bug

#1614 Edit portfolio `value` for add as well as a spelling error
  .pre-commit-config.yaml
  openbb_terminal/portfolio/portfolio_controller.py
Labels: bug

#1615 Shorten CI Time
  .github/workflows/test.yml
Labels: tests

#1619 Add star history to readme page
  README.md
Labels: docs

#1617 Powerful stock search
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_display_candle.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-av].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-iex].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-yf].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[60-yf].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_ticker.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[False-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[True-False].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[True-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_quote.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_search.yaml
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[1440-iex].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-yf].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_ticker.csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[False-True].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[True-False].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[True-True].csv
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_search[False].txt
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_search[True].txt
  website/content/terminal/stocks/search/_index.md
Labels: feat S

#1622 Added helpful messages to twitter model
  openbb_terminal/common/behavioural_analysis/twitter_model.py
Labels: docs

#1613 Fix logging for users that don't rename parent folder to OpenBBTerminal
  openbb_terminal/core/__init__.py
  openbb_terminal/core/config/__init__.py
  openbb_terminal/core/config/constants.py
  openbb_terminal/core/log/__init__.py
  openbb_terminal/core/log/collection/__init__.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/log/collection/logging_clock.py
  openbb_terminal/core/log/collection/s3_sender.py
  openbb_terminal/core/log/constants.py
  openbb_terminal/core/log/generation/__init__.py
  openbb_terminal/core/log/generation/directories.py
  openbb_terminal/core/log/generation/expired_files.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/core/log/generation/path_tracking_file_handler.py
  openbb_terminal/core/log/generation/settings.py
  openbb_terminal/feature_flags.py
  openbb_terminal/loggers.py
  openbb_terminal/settings_controller.py
Labels: bug

#1627 Crypto cannot load some crypto pairs
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/jupyter/reports/crypto_market.ipynb
Labels: bug

#1630 Update test documentation with examples
  tests/README.md
Labels: docs

#1632 Fixed issue generating crypto report
  openbb_terminal/cryptocurrency/overview/coinpaprika_model.py
  openbb_terminal/jupyter/dashboards/vsurf.ipynb
  openbb_terminal/jupyter/reports/crypto_market.ipynb
  openbb_terminal/jupyter/reports/dark_pool.ipynb
Labels: bug

#1633 Added check for valid Coinbase product, including delisted checking
  openbb_terminal/portfolio/brokers/coinbase/coinbase_model.py
Labels: bug

#1635 Fixinttests
  openbb_terminal/stocks/comparison_analysis/finviz_compare_model.py
  openbb_terminal/stocks/options/syncretism_view.py
  openbb_terminal/stocks/screener/finviz_model.py
Labels: bug

#1640 Resolve dependency issues
  bots/requirements.txt
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
Labels: bug, dependencies

#1639 fix #1645 and #1574
  openbb_terminal/economy/prediction/pred_controller.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
Labels: bug

#1649 Fix divcal timeout
  openbb_terminal/stocks/discovery/nasdaq_model.py
  scripts/test_stocks_disc.openbb
Labels: bug

#1655 Updating advanced docker documentation to reference the new container
  DOCKER_ADVANCED.md
  README.md
  openbb_terminal/README.md
Labels: docs

#1660 Fixes Fraud Command
  openbb_terminal/decorators.py
  openbb_terminal/stocks/fundamental_analysis/av_model.py
Labels: bug

#1651 Update similarity report
  openbb_terminal/jupyter/reports/similar_analysis.ipynb
  openbb_terminal/jupyter/widgets/report.css
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
Labels: bug, feat XS

#1652 Adds QA and Pred to forex
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/prediction_techniques/__init__.py
  openbb_terminal/forex/prediction_techniques/pred_api.py
  openbb_terminal/forex/prediction_techniques/pred_controller.py
  openbb_terminal/forex/quantitative_analysis/__init__.py
  openbb_terminal/forex/quantitative_analysis/qa_api.py
  openbb_terminal/forex/quantitative_analysis/qa_controller.py
  scripts/test_forex_pred.openbb
  scripts/test_forex_qa.openbb
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
  tests/openbb_terminal/forex/quantitative_analysis/__init__.py
  tests/openbb_terminal/forex/quantitative_analysis/cassettes/test_qa_controller/test_call_load.yaml
  tests/openbb_terminal/forex/quantitative_analysis/test_qa_api.py
  tests/openbb_terminal/forex/quantitative_analysis/test_qa_controller.py
  tests/openbb_terminal/forex/quantitative_analysis/txt/test_qa_controller/test_print_help.txt
  tests/openbb_terminal/forex/test_forex_controller.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: feat M

#1662 Add pytest.mark.linux to test_plot_oi
  tests/openbb_terminal/stocks/options/test_tradier_view.py
Labels: tests

#1657 Incorrect Env Names
  openbb_terminal/config_plot.py
Labels: bug

#1665 Add a pytest.mark.linux to test_display_defi_tvl
  tests/openbb_terminal/cryptocurrency/defi/test_llama_view.py
Labels: tests

#1661 Updates anchor command to display earnings
  openbb_terminal/cryptocurrency/defi/cryptosaurio_model.py
  openbb_terminal/cryptocurrency/defi/cryptosaurio_view.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_cryptosaurio_model/test_get_anchor_data[terra13kc0x8kr3sq8226myf4nmanmn2mrk9s5s9wsnz].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_cryptosaurio_view/test_display_anchor_data.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_cryptosaurio_model/test_get_anchor_data[terra13kc0x8kr3sq8226myf4nmanmn2mrk9s5s9wsnz].csv
  tests/openbb_terminal/cryptocurrency/defi/txt/test_cryptosaurio_view/test_display_anchor_data.txt
Labels: feat XS

#1646 Closing in on 90% Bot Coverage
  bots/config_discordbot.py
  bots/discord/helpers.py
  bots/economy/reverse_repo.py
  bots/etf/whatetf.py
  bots/files/bg-dark_openbb.png
  bots/requirements.txt
  bots/run_discordbot.py
  bots/stocks/due_diligence/borrowed.py
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/jupyter/reports/crypto_market.ipynb
  poetry.lock
  requirements-full.txt
  requirements.txt
  tests/bots/discord/__init__.py
  tests/bots/discord/test_helpers.py
  tests/bots/discord/txt/test_helpers/test_fancy_traceback.txt
  tests/bots/stocks/screener/cassettes/test_overview/test_overview_command.yaml
  tests/bots/stocks/screener/cassettes/test_ownership/test_historical_command.yaml
  tests/bots/stocks/screener/cassettes/test_performance/test_performance_command.yaml
  tests/bots/stocks/screener/cassettes/test_technical/test_technical_command.yaml
  tests/bots/stocks/screener/cassettes/test_valuation/test_valuation_command.yaml
  tests/bots/stocks/screener/json/test_presets_custom/test_presets_custom_command.json
  tests/bots/stocks/screener/json/test_presets_default/test_presets_default_command.json
  tests/bots/stocks/screener/test_overview.py
  tests/bots/stocks/screener/test_ownership.py
  tests/bots/stocks/screener/test_performance.py
  tests/bots/stocks/screener/test_presets_custom.py
  tests/bots/stocks/screener/test_presets_default.py
  tests/bots/stocks/screener/test_technical.py
  tests/bots/stocks/screener/test_valuation.py
  tests/bots/stocks/technical_analysis/cassettes/test_cci/test_cci_command[--False-False-False].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_cci/test_cci_command[2022-01-01-2022-04-01-True-True-True].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_cci/test_cci_invalid[ZZZZ].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_fib/test_fib_command[--False-False-False].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_fib/test_fib_command[2022-01-01-2022-04-01-True-True-True].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_fib/test_fib_invalid[ZZZZ].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_fisher/test_fisher_command[--False-False-False].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_fisher/test_fisher_command[2022-01-01-2022-04-01-True-True-True].yaml
  tests/bots/stocks/technical_analysis/cassettes/test_fisher/test_fisher_invalid[ZZZZ].yaml
  tests/bots/test_helper.py
  tests/bots/test_run_discordbot.py
  tests/conftest.py
Labels: tests

#1653 Adding Necessary files to fix the windows installer splash screen
  .gitignore
  build/nsis/assets/Installer_horizontal.bmp
  build/nsis/assets/Installer_horizontal2.png
  build/nsis/assets/Installer_horizontall.png
  build/nsis/assets/Installer_vertical#2.png
  build/nsis/assets/Installer_vertical.png
  build/nsis/assets/Installer_vertical2.bmp
  build/nsis/assets/Splashscreen #2.png
  build/nsis/assets/Splashscreen.png
  build/nsis/assets/openbb_icon.ico
  build/nsis/license.txt
  build/nsis/setup.nsi
  build/pyinstaller/build4mac.sh
  build/pyinstaller/terminal_mac.spec
  build/pyinstaller/terminal_windows.spec
  openbb_terminal/feature_flags.py
  openbb_terminal/keys_controller.py
  openbb_terminal/settings_controller.py
  terminal.py
Labels: bug

#1668 Starts crypto tools menu
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/tools/__init__.py
  openbb_terminal/cryptocurrency/tools/tools_api.py
  openbb_terminal/cryptocurrency/tools/tools_controller.py
  openbb_terminal/cryptocurrency/tools/tools_helpers.py
  openbb_terminal/cryptocurrency/tools/tools_model.py
  openbb_terminal/cryptocurrency/tools/tools_view.py
  openbb_terminal/helper_funcs.py
  scripts/test_crypto_tools.openbb
  tests/openbb_terminal/cryptocurrency/test_crypto_controller.py
  tests/openbb_terminal/cryptocurrency/tools/__init__.py
  tests/openbb_terminal/cryptocurrency/tools/csv/test_tools_model/test_calculate_apy[100-12].csv
  tests/openbb_terminal/cryptocurrency/tools/csv/test_tools_model/test_calculate_il[100-200-50-1000].csv
  tests/openbb_terminal/cryptocurrency/tools/test_tools_controller.py
  tests/openbb_terminal/cryptocurrency/tools/test_tools_model.py
  tests/openbb_terminal/cryptocurrency/tools/test_tools_view.py
  tests/openbb_terminal/cryptocurrency/tools/txt/test_tools_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/tools/txt/test_tools_view/test_display_apy.txt
  tests/openbb_terminal/cryptocurrency/tools/txt/test_tools_view/test_display_il.txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
  website/content/terminal/cryptocurrency/tools/_index.md
  website/content/terminal/cryptocurrency/tools/aprtoapy/_index.md
  website/content/terminal/cryptocurrency/tools/il/_index.md
  website/data/menu/main.yml
Labels: feat M

#1687 Deeleeramone indices
  openbb_terminal/economy/yfinance_model.py
Labels: feat XS

#1663 Add cost to borrow of stocks. Data from IBKR
  openbb_terminal/stocks/dark_pool_shorts/dps_api.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/dark_pool_shorts/ibkr_model.py
  openbb_terminal/stocks/dark_pool_shorts/ibkr_view.py
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_dps_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_dps_controller/test_print_help.txt
  website/content/terminal/stocks/dark_pool_shorts/ctb/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1666 Adding everything from Risk Metrics PR based on new main branch
  openbb_terminal/common/quantitative_analysis/qa_model.py
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  scripts/test_port.openbb
  scripts/test_stocks_qa.openbb
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
  tests/openbb_terminal/stocks/quantitative_analysis/txt/test_qa_controller/test_print_help.txt
  website/content/terminal/common/quantitative_analysis/om/_index.md
  website/content/terminal/common/quantitative_analysis/sh/_index.md
  website/content/terminal/common/quantitative_analysis/so/_index.md
  website/content/terminal/portfolio/om/_index.md
  website/content/terminal/portfolio/sh/_index.md
  website/content/terminal/portfolio/so/_index.md
Labels: feat M

#1696 Tests for Coinbase broker functions
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_model/test_accounts.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_model/test_deposits.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_model/test_orders.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_view/test_accounts.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_view/test_deposits.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/cassettes/test_coinbase_view/test_orders.yaml
  tests/openbb_terminal/portfolio/brokers/coinbase/csv/test_coinbase_model/test_accounts.csv
  tests/openbb_terminal/portfolio/brokers/coinbase/csv/test_coinbase_model/test_deposits.csv
  tests/openbb_terminal/portfolio/brokers/coinbase/csv/test_coinbase_model/test_get_accounts.csv
  tests/openbb_terminal/portfolio/brokers/coinbase/csv/test_coinbase_model/test_orders.csv
  tests/openbb_terminal/portfolio/brokers/coinbase/test_coinbase_controller.py
  tests/openbb_terminal/portfolio/brokers/coinbase/test_coinbase_model.py
  tests/openbb_terminal/portfolio/brokers/coinbase/test_coinbase_view.py
  tests/openbb_terminal/portfolio/brokers/coinbase/txt/test_coinbase_view/test_accounts.txt
  tests/openbb_terminal/portfolio/brokers/coinbase/txt/test_coinbase_view/test_deposits.txt
  tests/openbb_terminal/portfolio/brokers/coinbase/txt/test_coinbase_view/test_orders.txt
Labels: tests

#1705 drop duplicates
  openbb_terminal/stocks/discovery/seeking_alpha_view.py
Labels: bug

#1691 Requests using style fix
  openbb_terminal/common/behavioural_analysis/finbrain_model.py
  openbb_terminal/common/behavioural_analysis/sentimentinvestor_model.py
  openbb_terminal/common/behavioural_analysis/stocktwits_model.py
  openbb_terminal/common/newsapi_model.py
  openbb_terminal/cryptocurrency/defi/smartstake_model.py
  openbb_terminal/cryptocurrency/overview/cryptopanic_model.py
  openbb_terminal/economy/alphavantage_model.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/forex/av_model.py
  openbb_terminal/stocks/comparison_analysis/finbrain_model.py
  openbb_terminal/stocks/dark_pool_shorts/stockgrid_model.py
  openbb_terminal/stocks/fundamental_analysis/av_model.py
Labels: enhancement

#1708 Fix ETF screener #1704
  openbb_terminal/etf/screener/screener_model.py
Labels: bug

#1721 Fx forward rates
  .pre-commit-config.yaml
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/fxempire_model.py
  openbb_terminal/forex/fxempire_view.py
  scripts/test_forex_base.openbb
  tests/openbb_terminal/forex/cassettes/test_fxempire_model/test_forwards.yaml
  tests/openbb_terminal/forex/cassettes/test_fxempire_model/test_forwards_not_known.yaml
  tests/openbb_terminal/forex/cassettes/test_fxempire_view/test_forwards.yaml
  tests/openbb_terminal/forex/cassettes/test_fxempire_view/test_forwards_not_known.yaml
  tests/openbb_terminal/forex/csv/test_fxempire_model/test_forwards.csv
  tests/openbb_terminal/forex/csv/test_fxempire_model/test_forwards_not_known.csv
  tests/openbb_terminal/forex/test_fxempire_model.py
  tests/openbb_terminal/forex/test_fxempire_view.py
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
  tests/openbb_terminal/forex/txt/test_fxempire_view/test_forwards.txt
  tests/openbb_terminal/forex/txt/test_fxempire_view/test_forwards_not_known.txt
  website/content/terminal/forex/fwd/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1724 Add performance table on load (stocks)
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_ba_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_dps_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/due_diligence/txt/test_finnhub_view/test_rating_over_time.txt
  tests/openbb_terminal/stocks/government/cassettes/test_gov_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/insider/test_insider_controller.py
  tests/openbb_terminal/stocks/quantitative_analysis/cassettes/test_qa_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/technical_analysis/cassettes/test_ta_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/technical_analysis/txt/test_finnhub_view/test_plot_pattern_recognition.txt
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: enhancement

#1723 Adds ross index
  openbb_terminal/alternative/oss/oss_controller.py
  openbb_terminal/alternative/oss/runa_model.py
  openbb_terminal/alternative/oss/runa_view.py
  openbb_terminal/cryptocurrency/overview/rekt_model.py
  scripts/test_alt_oss.openbb
  tests/openbb_terminal/alternative/oss/cassettes/test_runa_model/test_get_startups.yaml
  tests/openbb_terminal/alternative/oss/cassettes/test_runa_view/test_display_rossindex.yaml
  tests/openbb_terminal/alternative/oss/csv/test_runa_model/test_get_startups.csv
  tests/openbb_terminal/alternative/oss/test_runa_model.py
  tests/openbb_terminal/alternative/oss/test_runa_view.py
  tests/openbb_terminal/alternative/oss/txt/test_oss_controller/test_print_help.txt
  tests/openbb_terminal/alternative/oss/txt/test_runa_view/test_display_rossindex.txt
  website/content/terminal/alternative/oss/rossidx/_index.md
  website/data/menu/main.yml
Labels: feat XS

#1735 [Bug] Incorrect log for reddit keys. #1733 fix
  openbb_terminal/keys_controller.py
Labels: bug

#1738 fixed misspelled f-string
  openbb_terminal/stocks/prediction_techniques/pred_controller.py
Labels: refactor

#1736 updated Linux installation instructions
  openbb_terminal/README.md
Labels: docs

#1742 Update linux&macOS conda install docs
  openbb_terminal/README.md
Labels: docs

#1737 Fix user path
  bots/requirements.txt
  build/pyinstaller/build4mac.sh
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  build/pyinstaller/terminal.spec
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/fundamental_analysis/dcf_model.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  scripts/test_etf.openbb
  scripts/test_stocks_fa.openbb
  terminal.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_model/test_get_fama_coe.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_model/test_get_fama_raw.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_model/test_get_historical_5.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_model/test_others_in_sector.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_workbook.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_xls.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_dcf_model/test_get_fama_raw.csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_dcf_model/test_get_historical_5.csv
Labels: bug, refactor, build

#1710 Add crypto DD commands
  openbb_terminal/config_terminal.py
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/cryptocurrency/data/santiment_slugs.json
  openbb_terminal/cryptocurrency/due_diligence/cryptopanic_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/due_diligence_api.py
  openbb_terminal/cryptocurrency/due_diligence/santiment_model.py
  openbb_terminal/cryptocurrency/due_diligence/santiment_view.py
  openbb_terminal/cryptocurrency/overview/cryptopanic_model.py
  openbb_terminal/stocks/due_diligence/dd_api.py
  scripts/test_crypto_dd.openbb
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_cryptopanic_view/test_display_news.yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_santiment_model/test_get_github_activity[BTC-True-1d-2022-01-10-2022-03-08].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/cassettes/test_santiment_model/test_get_github_activity[BTC-True-1d-2022-01-10T00-00-00Z-2022-03-08T00-00-00Z].yaml
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_santiment_model/test_get_github_activity[BTC-True-1d-2022-01-10-2022-03-08].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/test_cryptopanic_view.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_santiment_model.py
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_cryptopanic_view/test_display_news.txt
  tests/openbb_terminal/cryptocurrency/due_diligence/txt/test_dd_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/overview/txt/test_overview_controller/test_print_help.txt
  website/content/terminal/cryptocurrency/due_diligence/gh/_index.md
  website/content/terminal/cryptocurrency/due_diligence/news/_index.md
  website/data/menu/main.yml
Labels: feat S

#1747 Fixing Typing
  bots/groupme/groupme_helpers.py
  openbb_terminal/config_terminal.py
  openbb_terminal/core/log/collection/s3_sender.py
  openbb_terminal/feature_flags.py
Labels: bug

#1722 Try a "smart" load of tickers
  openbb_terminal/parent_classes.py
Labels: enhancement

#1744 Add command to determine Reddit sentiment about a ticker/company.
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
  website/content/terminal/common/behavioural_analysis/reddit_sent/_index.md
  website/data/menu/main.yml
Labels: feat S

#1748 Fixing sudo command
  openbb_terminal/README.md
Labels: docs

#1750 Adding new funds to the avanza fund list
  openbb_terminal/mutual_funds/avanza_fund_ID.csv
Labels: enhancement

#1749 minor output formatting
  openbb_terminal/stocks/stocks_helper.py
Labels: enhancement
