Repository OpenBB-finance/OpenBB, pull requests merged in 2023-10, with the labels that each got.

#5501 Hotfix/v4-rename-sec-model: Renames `obb.stocks.fa.sec` -> `obb.stocks.fa.filings`
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/fa/fa_router.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/platform/provider/openbb_provider/standard_models/company_filings.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_filings.py
  openbb_platform/providers/fmp/openbb_fmp/models/sec_filings.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_company_filings_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat L

#5504 Hotfix/int tests python fixture
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/forex/integration/test_forex_python.py
  openbb_platform/extensions/futures/integration/test_futures_python.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/platform/core/tests/app/test_command_runner.py
Labels: feat S, v4

#5499 Hotfix/data processing int tests
  openbb_platform/extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
  openbb_platform/extensions/charting/openbb_charting/core/plotly_ta/ta_helpers.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/qa/integration/test_qa_api.py
  openbb_platform/extensions/qa/openbb_qa/qa_router.py
  openbb_platform/extensions/ta/integration/test_ta_api.py
  openbb_platform/extensions/ta/openbb_ta/ta_helpers.py
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/platform/core/openbb_core/api/router/commands.py
Labels: feat M, v4

#5506 hotfix/fix-pylint-errors: Fixes a couple of pylint errors
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/options/tradier_model.py
Labels: bug, feat XS

#5488 Feature/add etf holding performance
  .github/workflows/linting.yml
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/fmp_model.py
  openbb_terminal/etf/fmp_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/etf/test_etf.openbb
  openbb_terminal/miscellaneous/sources/openbb_default.json
  tests/openbb_terminal/etf/cassettes/test_fmp_model/test_get_etf_holdings[ARKK].yaml
  tests/openbb_terminal/etf/cassettes/test_fmp_model/test_get_etf_holdings[VTI].yaml
  tests/openbb_terminal/etf/cassettes/test_fmp_model/test_get_holdings_pct_change[2023-09-01-2022-09-01-ARKK].yaml
  tests/openbb_terminal/etf/cassettes/test_fmp_model/test_get_stock_price_change[2023-09-01-2022-09-01-TSLA].yaml
  tests/openbb_terminal/etf/cassettes/test_fmp_view/test_view_etf_holdings_performance[2023-09-01-2022-09-01-TSLA].yaml
  tests/openbb_terminal/etf/csv/test_fmp_model/test_get_holdings_pct_change[2023-09-01-2022-09-01-ARKK].csv
  tests/openbb_terminal/etf/csv/test_fmp_model/test_get_stock_price_change[2023-09-01-2022-09-01-TSLA].csv
  tests/openbb_terminal/etf/json/test_fmp_model/test_get_etf_holdings[ARKK].json
  tests/openbb_terminal/etf/test_fmp_model.py
  tests/openbb_terminal/etf/test_fmp_view.py
  tests/openbb_terminal/etf/txt/test_etf_controller/test_print_help.txt
Labels: feat M, HACKTOBERFEST

#5511 Feature/integration tests python data processing cmds
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/qa/integration/test_qa_python.py
  openbb_platform/extensions/ta/integration/test_ta_python.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
Labels: feat L, v4

#5512 try except ftw
  openbb_platform/platform/core/openbb_core/app/charting_service.py
Labels: feat XS, v4

#5526 Feature/int tests data processing
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/qa/integration/test_qa_api.py
  openbb_platform/extensions/qa/integration/test_qa_python.py
  openbb_platform/extensions/ta/integration/test_ta_api.py
  openbb_platform/extensions/ta/integration/test_ta_python.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
Labels: feat L, v4

#5523 hotfix/v4-fix-cones - Bug fixes for ta.cones() and ta.demark()
  openbb_platform/extensions/ta/openbb_ta/ta_helpers.py
  openbb_platform/extensions/ta/openbb_ta/ta_router.py
Labels: bug, feat XS, platform, v4

#5525 Feature/basic auth
  openbb_platform/platform/core/README.md
  openbb_platform/platform/core/openbb_core/api/app_loader.py
  openbb_platform/platform/core/openbb_core/api/auth/user.py
  openbb_platform/platform/core/openbb_core/api/dependency/coverage.py
  openbb_platform/platform/core/openbb_core/api/dependency/system.py
  openbb_platform/platform/core/openbb_core/api/dependency/user.py
  openbb_platform/platform/core/openbb_core/api/model/access_token.py
  openbb_platform/platform/core/openbb_core/api/model/token_response.py
  openbb_platform/platform/core/openbb_core/api/rest_api.py
  openbb_platform/platform/core/openbb_core/api/router/account.py
  openbb_platform/platform/core/openbb_core/api/router/commands.py
  openbb_platform/platform/core/openbb_core/api/router/coverage.py
  openbb_platform/platform/core/openbb_core/api/router/system.py
  openbb_platform/platform/core/openbb_core/api/router/user.py
  openbb_platform/platform/core/openbb_core/app/model/preferences.py
  openbb_platform/platform/core/openbb_core/app/repository/__init__.py
  openbb_platform/platform/core/openbb_core/app/repository/abstract/__init__.py
  openbb_platform/platform/core/openbb_core/app/repository/abstract/access_token_repository.py
  openbb_platform/platform/core/openbb_core/app/repository/abstract/repository.py
  openbb_platform/platform/core/openbb_core/app/repository/abstract/user_settings_repository.py
  openbb_platform/platform/core/openbb_core/app/repository/base/__init__.py
  openbb_platform/platform/core/openbb_core/app/repository/base/in_memory_repository.py
  openbb_platform/platform/core/openbb_core/app/repository/in_memory/__init__.py
  openbb_platform/platform/core/openbb_core/app/repository/in_memory/access_token_repository.py
  openbb_platform/platform/core/openbb_core/app/repository/in_memory/user_settings_repository.py
  openbb_platform/platform/core/openbb_core/app/router.py
  openbb_platform/platform/core/openbb_core/app/service/auth_service.py
  openbb_platform/platform/core/openbb_core/app/service/user_service.py
  openbb_platform/platform/core/openbb_core/app/static/account.py
  openbb_platform/platform/core/openbb_core/env.py
  openbb_platform/platform/core/poetry.lock
  openbb_platform/platform/core/pyproject.toml
  openbb_platform/platform/core/tests/api/test_auth/test_user_auth.py
  openbb_platform/platform/core/tests/api/test_dependency/test_coverage.py
  openbb_platform/platform/core/tests/api/test_dependency/test_system.py
  openbb_platform/platform/core/tests/api/test_dependency/test_user.py
  openbb_platform/platform/core/tests/api/test_router/test_router_coverage.py
  openbb_platform/platform/core/tests/api/test_router/test_router_system.py
  openbb_platform/platform/core/tests/api/test_router/test_router_user.py
  openbb_platform/platform/core/tests/app/repository/abstract/__init__.py
  openbb_platform/platform/core/tests/app/repository/abstract/test_access_token_repository.py
  openbb_platform/platform/core/tests/app/repository/abstract/test_repository.py
  openbb_platform/platform/core/tests/app/repository/abstract/test_user_settings_repository.py
  openbb_platform/platform/core/tests/app/repository/base/__init__.py
  openbb_platform/platform/core/tests/app/repository/base/test_in_memory_repository.py
  openbb_platform/platform/core/tests/app/repository/in_memory/__init__.py
  openbb_platform/platform/core/tests/app/repository/in_memory/test_access_token_repository.py
  openbb_platform/platform/core/tests/app/repository/in_memory/test_user_settings_repository.py
  openbb_platform/platform/core/tests/app/service/test_user_service.py
Labels: feat XL, v4

#5510 Add EXTENSIONS.md
  .github/workflows/linting.yml
  openbb_platform/EXTENSIONS.md
  openbb_platform/PROVIDERS.md
  openbb_platform/extensions/README.md
  openbb_platform/providers/README.md
Labels: feat XS

#5531 Hotfix/wrong instantiations
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/qa/integration/test_qa_api.py
  openbb_platform/extensions/qa/integration/test_qa_python.py
  openbb_platform/extensions/ta/integration/test_ta_api.py
  openbb_platform/extensions/ta/integration/test_ta_python.py
  openbb_platform/extensions/tests/__init__.py
  openbb_platform/extensions/tests/test_integration_tests_api.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/__init__.py
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Labels: feat L, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED, platform

#5532 Unit tests for `command_runner.py`
  openbb_platform/platform/core/openbb_core/app/command_runner.py
  openbb_platform/platform/core/tests/app/test_command_runner.py
Labels: feat S, HACKTOBERFEST, v4

#5533 Change template to add platform considerations
  .github/pull_request_template.md
Labels: feat XS, HACKTOBERFEST, v4

#5494 Test coverage of providers and params on integration tests
  .github/workflows/platform-api-integration-test.yml
  openbb_platform/extensions/__init__.py
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/forex/integration/test_forex_api.py
  openbb_platform/extensions/forex/integration/test_forex_python.py
  openbb_platform/extensions/futures/integration/test_futures_api.py
  openbb_platform/extensions/futures/integration/test_futures_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/qa/integration/test_qa_api.py
  openbb_platform/extensions/qa/integration/test_qa_python.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/ta/integration/test_ta_python.py
  openbb_platform/extensions/tests/__init__.py
  openbb_platform/extensions/tests/test_integration_tests_api.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/__init__.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/platform/core/tests/__init__.py
  openbb_platform/platform/core/tests/api/test_auth/test_user_auth.py
  openbb_platform/platform/core/tests/app/test_platform_router.py
  openbb_platform/platform/core/tests/test_query.py
  openbb_platform/tests/conftest.py
  pytest.ini
Labels: enhancement, tests, feat XL, HACKTOBERFEST, HACKTOBERFEST-ACCEPTED, platform, v4

#5536 Add the v4 tests to default branch
  .github/workflows/platform-api-integration-test.yml
  .github/workflows/platform-integration-test.yml
Labels: feat S, tests

#5541 Ultima Insights description update
  website/content/terminal/usage/guides/api-keys.md
Labels: feat XS

#5534 Add OECD Provider for economy extension
  openbb_platform/CONTRIBUTING.md
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/econometrics.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/qa.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/provider/openbb_provider/standard_models/gdpforecast.py
  openbb_platform/platform/provider/openbb_provider/standard_models/gdpnom.py
  openbb_platform/platform/provider/openbb_provider/standard_models/gdpreal.py
  openbb_platform/platform/provider/pyproject.toml
  openbb_platform/providers/oecd/README.md
  openbb_platform/providers/oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdpforecast.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdpnom.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdpreal.py
  openbb_platform/providers/oecd/openbb_oecd/utils/constants.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/oecd/pyproject.toml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdgdp_forecast_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdgdp_nom_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdgdp_real_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
  openbb_terminal/economy/oecd_model.py
Labels: feat XL, HACKTOBERFEST-ACCEPTED

#5543 Updating showcase page
  website/content/sdk/showcase.md
Labels: feat XS

#5530 add new bot command autopost docs
  website/content/bot/reference/discord/autopost/add.md
  website/content/bot/reference/discord/autopost/feeds.md
  website/content/bot/reference/discord/autopost/index.mdx
  website/content/bot/reference/discord/autopost/list.md
  website/content/bot/reference/discord/autopost/manage.md
  website/content/bot/usage/customizing/server.md
Labels: feat S

#5524 Feature/add-v4-standard-models - Add some standard models for future use.
  .pre-commit-config.yaml
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/module_map.json
  openbb_platform/platform/core/tests/api/test_auth/test_user_auth.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_countries.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_historical_nav.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_holdings.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_info.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_search.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_sectors.py
  openbb_platform/platform/provider/openbb_provider/standard_models/gdpreal.py
  openbb_platform/platform/provider/openbb_provider/standard_models/historical_eps.py
  openbb_platform/platform/provider/openbb_provider/standard_models/index_constituents.py
  openbb_platform/platform/provider/openbb_provider/standard_models/index_info.py
  openbb_platform/platform/provider/openbb_provider/standard_models/index_sectors.py
  openbb_platform/platform/provider/openbb_provider/standard_models/industry_pe.py
  openbb_platform/platform/provider/openbb_provider/standard_models/market_movers.py
  openbb_platform/platform/provider/openbb_provider/standard_models/recent_performance.py
  openbb_platform/platform/provider/openbb_provider/standard_models/sector_pe.py
  openbb_platform/platform/provider/openbb_provider/standard_models/sector_performance.py
  openbb_platform/platform/provider/openbb_provider/standard_models/stock_search.py
  openbb_platform/providers/cboe/openbb_cboe/models/futures_curve.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_search.py
  openbb_platform/providers/cboe/openbb_cboe/models/stock_search.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdpforecast.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdpnom.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdpreal.py
  openbb_terminal/economy/oecd_model.py
  pyproject.toml
Labels: feat M

#5544 Small QA to rename SDK to Platform
  openbb_platform/extensions/crypto/README.md
  openbb_platform/extensions/econometrics/README.md
  openbb_platform/extensions/economy/README.md
  openbb_platform/extensions/fixedincome/README.md
  openbb_platform/extensions/forex/README.md
  openbb_platform/extensions/futures/README.md
  openbb_platform/extensions/news/README.md
  openbb_platform/extensions/qa/README.md
  openbb_platform/extensions/stocks/README.md
  openbb_platform/extensions/ta/README.md
  openbb_platform/openbb/__init__.py
  openbb_platform/platform/core/README.md
  openbb_platform/platform/core/openbb_core/api/rest_api.py
  openbb_platform/platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/platform/core/tests/app/service/test_hub_service.py
  openbb_platform/providers/alpha_vantage/README.md
  openbb_platform/providers/benzinga/README.md
  openbb_platform/providers/cboe/README.md
  openbb_platform/providers/fmp/README.md
  openbb_platform/providers/fred/README.md
  openbb_platform/providers/intrinio/README.md
  openbb_platform/providers/polygon/README.md
  openbb_platform/providers/quandl/README.md
  openbb_platform/providers/yfinance/README.md
Labels: feat XS, platform

#5549 Standard convention for multi-ticker symbols
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/econometrics.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/qa.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/core/tests/api/test_auth/test_user_auth.py
  openbb_platform/platform/provider/openbb_provider/standard_models/crypto_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/forex_historical.py
Labels: feat XL, platform

#5548 Fix buggy docstring in python package methods
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/econometrics.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/qa.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/core/openbb_core/app/static/decorators.py
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/platform/core/tests/api/test_auth/test_user_auth.py
Labels: feat XL, v4

#5547 Charting extension integration tests
  openbb_platform/extensions/charting/integration/test_charting_api.py
  openbb_platform/extensions/charting/integration/test_charting_python.py
  openbb_platform/extensions/ta/integration/test_ta_api.py
  openbb_platform/extensions/tests/test_integration_tests_api.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Labels: feat L, HACKTOBERFEST, v4

#5540 Make Intrinio options chains great again
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/econometrics.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/qa.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/provider/openbb_provider/standard_models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
Labels: enhancement, feat XL, platform

#5555 Hotfix/fix post tests
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/econometrics/openbb_econometrics/utils.py
  openbb_platform/extensions/qa/integration/test_qa_api.py
  openbb_platform/extensions/qa/integration/test_qa_python.py
  openbb_platform/extensions/ta/integration/test_ta_api.py
  openbb_platform/extensions/ta/integration/test_ta_python.py
Labels: feat S, tests, HACKTOBERFEST, platform

#5558 obbject tests
  noxfile.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/platform/core/integration/test_obbject.py
  openbb_platform/platform/core/tests/app/model/test_obbject.py
  openbb_platform/platform/provider/openbb_provider/abstract/fetcher.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
Labels: feat S, HACKTOBERFEST, v4

#5553 Hotfix/ultima improvements
  openbb_terminal/common/ultima_newsmonitor_model.py
  openbb_terminal/common/ultima_newsmonitor_view.py
Labels: feat XS

#5563 Fix most tests and bugs
  openbb_platform/extensions/futures/integration/test_futures_api.py
  openbb_platform/extensions/futures/integration/test_futures_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/fred_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/polygon/openbb_polygon/models/stock_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Labels: bug, feat S, tests, HACKTOBERFEST, platform

#5564 Fix `fixedincome` integration tests
  openbb_platform/providers/fred/openbb_fred/models/us_yield_curve.py
Labels: feat XS, v4

#5561 change to model_dum() instead
  openbb_platform/providers/alpha_vantage/tests/test_alpha_vantage_fetchers.py
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/quandl/tests/test_quandl_fetchers.py
  openbb_platform/providers/tests/utils/unit_tests_generator.py
  openbb_platform/providers/tradingeconomics/tests/test_tradingeconomics_fetchers.py
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: feat XS

#5562 Fixing charting api integration tests
  openbb_platform/extensions/charting/integration/test_charting_api.py
  openbb_platform/extensions/charting/openbb_charting/core/openbb_figure.py
Labels: feat S

#5503 fix: Modify 'load' behavior to append data to existing sheet
  openbb_terminal/helper_funcs.py
Labels: feat XS, HACKTOBERFEST

#5560 Passing tests
  .gitignore
  openbb_platform/extensions/charting/integration/test_charting_api.py
  openbb_platform/extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/forex/integration/test_forex_api.py
  openbb_platform/extensions/forex/integration/test_forex_python.py
  openbb_platform/extensions/futures/integration/test_futures_api.py
  openbb_platform/extensions/futures/integration/test_futures_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/ta/openbb_ta/ta_router.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/platform/provider/openbb_provider/standard_models/global_news.py
  openbb_platform/platform/provider/openbb_provider/standard_models/income_statement.py
  openbb_platform/platform/provider/openbb_provider/standard_models/options_chains.py
  openbb_platform/platform/provider/openbb_provider/utils/helpers.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/global_news.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_platform/providers/cboe/openbb_cboe/models/stock_search.py
  openbb_platform/providers/cboe/openbb_cboe/utils/helpers.py
  openbb_platform/providers/fmp/openbb_fmp/models/global_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/stock_news.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_stock_news_fetcher.yaml
  openbb_platform/providers/fred/openbb_fred/models/us_yield_curve.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/fred_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/polygon/openbb_polygon/models/forex_pairs.py
  openbb_platform/providers/polygon/openbb_polygon/models/stock_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Labels: feat M, tests, HACKTOBERFEST, platform

#5567 Fix econcal endpoint
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/platform/core/openbb_core/api/router/commands.py
  openbb_platform/platform/provider/openbb_provider/standard_models/economic_calendar.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
Labels: feat XS, HACKTOBERFEST

#5535 Fixes FMP index endpoint to get 1 day interval data
  openbb_platform/platform/provider/openbb_provider/standard_models/major_indices_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/major_indices_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_major_indices_historical_fetcher.yaml
Labels: feat XL, HACKTOBERFEST, platform

#5568 Publish versions `a3` to Pypi
  .github/pull_request_template.md
  openbb_platform/PUBLISH.md
  openbb_platform/dev_publish.py
Labels: feat XS

#5576 Automated examples
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/econometrics.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/qa.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
Labels: enhancement, feat XL, HACKTOBERFEST, platform, v4

#5546 feature/v4-biztoc-provider: Adds Biztoc provider and GlobalNews
  openbb_platform/dev_install.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/poetry.lock
  openbb_platform/providers/biztoc/README.md
  openbb_platform/providers/biztoc/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/global_news.py
  openbb_platform/providers/biztoc/openbb_biztoc/utils/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/utils/helpers.py
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/biztoc/pyproject.toml
  openbb_platform/providers/biztoc/tests/__init__.py
  openbb_platform/providers/biztoc/tests/record/http/test_biztoc_fetchers/test_biztoc_global_news_fetcher.yaml
  openbb_platform/providers/biztoc/tests/test_biztoc_fetchers.py
  openbb_platform/pyproject.toml
Labels: feat XL, platform, v4

#5587 Updating Ultima urls
  openbb_terminal/keys_controller.py
  openbb_terminal/miscellaneous/models/all_api_keys.json
  website/content/terminal/usage/guides/api-keys.md
Labels: docs, feat XS

#5589 feature/v4-pypi nightly
  openbb_platform/dev_utils/dev_install.py
  openbb_platform/dev_utils/dev_publish.py
  openbb_platform/dev_utils/nightly.py
  openbb_platform/dev_utils/poetry_update.py
Labels: feat S

#5592 export credentials as json
  openbb_platform/providers/alpha_vantage/tests/test_alpha_vantage_fetchers.py
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/quandl/tests/test_quandl_fetchers.py
  openbb_platform/providers/tests/utils/unit_tests_generator.py
  openbb_platform/providers/tradingeconomics/tests/test_tradingeconomics_fetchers.py
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: feat XS

#5591 fix: A value is trying to be set on a copy of a slice from a DataFrame
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
Labels: feat XS

#5598 Update README.md with new demo
  README.md
Labels: docs, feat XS

#5597 Check for wrong, changed, or outdated params.
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/tests/test_integration_tests_api.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Labels: enhancement, tests, feat XS, platform, v4

#5608 4.0.0a4 PyPI publishing
  openbb_platform/PUBLISH.md
  openbb_platform/README.md
  openbb_platform/extensions/charting/poetry.lock
  openbb_platform/extensions/charting/pyproject.toml
  openbb_platform/extensions/crypto/pyproject.toml
  openbb_platform/extensions/econometrics/pyproject.toml
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/pyproject.toml
  openbb_platform/extensions/fixedincome/pyproject.toml
  openbb_platform/extensions/forex/pyproject.toml
  openbb_platform/extensions/futures/pyproject.toml
  openbb_platform/extensions/news/pyproject.toml
  openbb_platform/extensions/qa/pyproject.toml
  openbb_platform/extensions/stocks/pyproject.toml
  openbb_platform/extensions/ta/pyproject.toml
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/platform/core/pyproject.toml
  openbb_platform/platform/provider/pyproject.toml
  openbb_platform/poetry.lock
  openbb_platform/providers/alpha_vantage/pyproject.toml
  openbb_platform/providers/benzinga/pyproject.toml
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/biztoc/pyproject.toml
  openbb_platform/providers/cboe/pyproject.toml
  openbb_platform/providers/fmp/pyproject.toml
  openbb_platform/providers/fred/pyproject.toml
  openbb_platform/providers/intrinio/pyproject.toml
  openbb_platform/providers/oecd/pyproject.toml
  openbb_platform/providers/polygon/pyproject.toml
  openbb_platform/providers/quandl/pyproject.toml
  openbb_platform/providers/tradingeconomics/pyproject.toml
  openbb_platform/providers/yfinance/pyproject.toml
  openbb_platform/pyproject.toml
Labels: feat M

#5609 Add ETF extension to v4
  openbb_platform/extensions/etf/README.md
  openbb_platform/extensions/etf/openbb_etf/__init__.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/etf/tests/.gitkeep
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_search_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat XL, extensions, v4

#5610 Add ETF historical price from yfinance
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/cpi.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_historical.py
  openbb_platform/platform/provider/openbb_provider/utils/descriptions.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/py.typed
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: feat M, platform, extensions, v4

#5613 Test docstrings
  noxfile.py
  openbb_platform/extensions/ta/openbb_ta/ta_router.py
  openbb_platform/integration/test_docstring_examples.py
  openbb_platform/integration/utils/helpers.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/platform/provider/openbb_provider/standard_models/dividend_calendar.py
  openbb_platform/platform/provider/openbb_provider/standard_models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/tests/record/http/test_tradingeconomics_fetchers/test_te_earnings_calendar_fetcher.yaml
Labels: enhancement, tests, feat XL, platform, v4

#5611 Clean up the newly created ETF extension
  openbb_platform/dev_install.py
  openbb_platform/extensions/charting/openbb_charting/py.typed
  openbb_platform/extensions/crypto/openbb_crypto/py.typed
  openbb_platform/extensions/econometrics/openbb_econometrics/py.typed
  openbb_platform/extensions/economy/openbb_economy/py.typed
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/py.typed
  openbb_platform/extensions/fixedincome/openbb_fixedincome/py.typed
  openbb_platform/extensions/forex/openbb_forex/py.typed
  openbb_platform/extensions/futures/openbb_futures/py.typed
  openbb_platform/extensions/news/openbb_news/py.typed
  openbb_platform/extensions/qa/openbb_qa/py.typed
  openbb_platform/extensions/stocks/openbb_stocks/py.typed
  openbb_platform/extensions/ta/openbb_ta/py.typed
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/openbb/py.typed
  openbb_platform/platform/core/openbb_core/py.typed
  openbb_platform/platform/provider/openbb_provider/py.typed
Labels: feat S, extensions, v4

#5593 user preferences descriptions
  openbb_platform/platform/core/README.md
Labels: feat XS

#5508 Hotfix/econometrics export filename fix
  openbb_terminal/econometrics/econometrics_controller.py
Labels: feat XS

#5601 FIX #5600 Updated the Twitter logo to X logo
  website/src/components/Icons/Twitter.tsx
Labels: feat XS

#5623 Fix typo errors in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: feat XS

#5624 Change Ultima paragraph
  website/content/terminal/usage/guides/api-keys.md
Labels: docs, feat XS

#5604 Patch 1
  website/src/css/custom.css
Labels: feat XS

#5588 Add didiers to_records method
  openbb_platform/platform/core/openbb_core/app/model/obbject.py
Labels: feat XS

#5618 Feature/v4-price-performance: % returns for various horizons, comparable across multiple tickers.
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_price_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat S, platform

#5627 Add light blue banner, blue when clicking sidebar + fix link in docusaurus.config.js
  website/content/pro/main-menu/data-connectors/single-widget.md
  website/docusaurus.config.js
  website/src/css/custom.css
  website/src/theme/Navbar/Layout/index.js
Labels: docs, feat XS

#5605 Feature/ipo-calendar: V4 IPO Calendar
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/calendar_ipo.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/calendar_ipo.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_calendar_ipo_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: feat M, v4

#5580 Hotfix/fix-v4-economic-calendar: Add FMP to Econ Calendar and fix some TE bugs
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/economic_calendar.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_economic_calendar_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/tests/record/http/test_tradingeconomics_fetchers/test_tradingeconomics_economic_calendar_fetcher.yaml
  openbb_platform/providers/tradingeconomics/tests/test_tradingeconomics_fetchers.py
Labels: feat M

#5616 Feature/disc router
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/disc/__init__.py
  openbb_platform/extensions/etf/openbb_etf/disc/disc_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_performance.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/models/active.py
  openbb_platform/providers/wsj/openbb_wsj/models/gainers.py
  openbb_platform/providers/wsj/openbb_wsj/models/losers.py
Labels: feat S, tests, platform, extensions, v4

#5620 Add ETF info and sector exposure from FMP
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_info.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_sectors.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_sectors.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/fmp/openbb_fmp/utils/py.typed
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_info_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_search_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_sectors_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_price_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: feat XL, platform, v4
