Repository OpenBB-finance/OpenBB, pull requests merged in 2023-09, with the labels that each got.

#5397 Auto build sdk
  openbb_sdk/openbb/__init__.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/stocks_disc.py
  openbb_sdk/openbb/package/stocks_dps.py
  openbb_sdk/openbb/package/stocks_gov.py
  openbb_sdk/openbb/package/stocks_ins.py
  openbb_sdk/sdk/core/README.md
  openbb_sdk/sdk/core/openbb_core/app/env.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/core/openbb_core/app/static/utils.py
  openbb_sdk/sdk/core/tests/app/static/test_package_builder.py
  openbb_sdk/sdk/core/tests/app/static/test_static_utils.py
Labels: feat L, v4

#5399 Flag to disable API authentication
  openbb_sdk/sdk/core/README.md
  openbb_sdk/sdk/core/openbb_core/api/router/commands.py
  openbb_sdk/sdk/core/openbb_core/env.py
Labels: feat XS

#5404 Fix snake case
  openbb_sdk/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_search.py
  openbb_sdk/providers/fmp/openbb_fmp/models/balance_sheet_growth.py
  openbb_sdk/providers/fmp/openbb_fmp/models/income_statement_growth.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_eod.py
  openbb_sdk/providers/fmp/openbb_fmp/models/price_target.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_insider_trading.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_quote.py
  openbb_sdk/sdk/provider/openbb_provider/abstract/data.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/options_chains.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/price_target.py
  openbb_sdk/sdk/provider/openbb_provider/utils/helpers.py
Labels: feat S, v4

#5369 Work on Contributing Guidelines
  CONTRIBUTING.md
  openbb_sdk/CONTRIBUTING.md
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/stocks.py
Labels: feat M, v4

#5396 Services refactor
  openbb_sdk/sdk/core/openbb_core/api/dependency/system.py
  openbb_sdk/sdk/core/openbb_core/api/dependency/user.py
  openbb_sdk/sdk/core/openbb_core/api/router/commands.py
  openbb_sdk/sdk/core/openbb_core/app/charting_service.py
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
  openbb_sdk/sdk/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_sdk/sdk/core/openbb_core/app/logs/logging_service.py
  openbb_sdk/sdk/core/openbb_core/app/logs/models/logging_settings.py
  openbb_sdk/sdk/core/openbb_core/app/model/obbject.py
  openbb_sdk/sdk/core/openbb_core/app/model/system_settings.py
  openbb_sdk/sdk/core/openbb_core/app/service/system_service.py
  openbb_sdk/sdk/core/openbb_core/app/service/user_service.py
  openbb_sdk/sdk/core/openbb_core/app/static/account.py
  openbb_sdk/sdk/core/tests/api/dependency/test_system.py
  openbb_sdk/sdk/core/tests/api/dependency/test_user.py
  openbb_sdk/sdk/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_sdk/sdk/core/tests/app/logs/test_logging_service.py
  openbb_sdk/sdk/core/tests/app/model/test_obbject.py
  openbb_sdk/sdk/core/tests/app/service/test_system_service.py
  openbb_sdk/sdk/core/tests/app/test_charting_manager.py
  openbb_sdk/sdk/core/tests/app/test_charting_service.py
  openbb_sdk/sdk/core/tests/app/test_command_runner.py
Labels: feat M, v4

#5402 Router cleanup
  openbb_sdk/sdk/core/openbb_core/app/router.py
Labels: feat S, v4

#5408 add version to built packages
  openbb_sdk/openbb/__init__.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/sdk/core/openbb_core/app/static/build_utils.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/core/tests/app/static/test_build_utils.py
Labels: feat XS

#5401 feature/sdk v4 bug fixes - Fixing some bugs
  openbb_sdk/extensions/economy/openbb_economy/economy_router.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/providers/cboe/openbb_cboe/utils/cboe_companies.json
  openbb_sdk/sdk/provider/openbb_provider/standard_models/major_indices_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/stock_historical.py
Labels: feat S, v4

#5414 Hotfix/add hub keys
  openbb_sdk/sdk/core/openbb_core/app/service/hub_service.py
Labels: feat XS

#5415 Move .env location
  openbb_sdk/sdk/core/README.md
  openbb_sdk/sdk/core/openbb_core/env.py
  openbb_sdk/sdk/core/tests/app/logs/handlers/test_posthog_handler.py
Labels: feat XS, v4

#5394 Starting to port econometrics to v4
  .github/workflows/sdkv4-core.yml
  openbb_sdk/extensions/econometrics/README.md
  openbb_sdk/extensions/econometrics/openbb_econometrics/__init__.py
  openbb_sdk/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_sdk/extensions/econometrics/openbb_econometrics/utils.py
  openbb_sdk/extensions/econometrics/poetry.lock
  openbb_sdk/extensions/econometrics/pyproject.toml
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/econometrics.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/pyproject.toml
  openbb_sdk/sdk/core/openbb_core/app/model/obbject.py
  openbb_sdk/sdk/core/openbb_core/app/utils.py
  openbb_sdk/sdk/core/tests/app/test_utils.py
Labels: feat XL, v4

#5420 fix missing descriptions
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/providers/alpha_vantage/openbb_alpha_vantage/models/stock_historical.py
  openbb_sdk/providers/benzinga/openbb_benzinga/models/stock_news.py
  openbb_sdk/providers/cboe/openbb_cboe/models/european_index_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/major_indices_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_historical.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/global_news.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_historical.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_news.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_news.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/available_indices.py
  openbb_sdk/sdk/core/openbb_core/app/provider_interface.py
  openbb_sdk/sdk/core/openbb_core/app/query.py
Labels: feat S, v4

#5421 hotfix/provider-bugs-economy-router Restore Quandl functions in Economy router.
  openbb_sdk/extensions/economy/openbb_economy/economy_router.py
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/module_map.json
Labels: bug, feat M, v4

#5419 Fix/provider-bugs-intrinio: fix bad API key response for options symbols
  openbb_sdk/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_sdk/providers/intrinio/openbb_intrinio/utils/helpers.py
Labels: bug, feat M, v4

#5430 Feature/improved helpers
  openbb_sdk/sdk/core/openbb_core/app/model/obbject.py
  openbb_sdk/sdk/core/openbb_core/app/utils.py
  openbb_sdk/sdk/core/tests/app/model/test_obbject.py
Labels: enhancement, feat S, SDK, v4

#5417 Hotfix/logs on account
  openbb_sdk/sdk/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_sdk/sdk/core/openbb_core/app/logs/logging_service.py
  openbb_sdk/sdk/core/openbb_core/app/static/account.py
  openbb_sdk/sdk/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_sdk/sdk/core/tests/app/logs/test_logging_service.py
Labels: feat XS, v4

#5432 Improve readme header
  README.md
  images/openbb-logo-dark.svg
  images/openbb-logo-light.svg
Labels: feat XS

#5436 Hotfix/readme title
  README.md
  images/openbb-logo-dark.svg
  images/openbb-logo-light.svg
  website/content/sdk/usage/basics/index.md
Labels: feat S

#5439 Hotfix/weird logs
  openbb_terminal/core/models/credentials_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/cryptocurrency/onchain/bitquery_model.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/loggers.py
Labels: feat XS

#5443 change magic code to display cell
  openbb_sdk/extensions/magics/openbb_magics/__init__.py
Labels: feat XS

#5433 Test for provider field duplication check
  .coveragerc
  noxfile.py
  openbb_sdk/poetry.lock
  openbb_sdk/providers/__init__.py
  openbb_sdk/providers/tests/.gitkeep
  openbb_sdk/providers/tests/__init__.py
  openbb_sdk/providers/tests/test_provider_field_dupes.py
  openbb_sdk/pyproject.toml
Labels: feat M, do not merge, v4

#5446 Hotfix/pywry 0.6.1
  build/pyinstaller/.env
  build/pyinstaller/setup_icons_post.applescript
  build/pyinstaller/terminal.spec
  openbb_terminal/common/technical_analysis/overlap_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/portfolio/portfolio_view.py
  openbb_terminal/stocks/stocks_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#5452 Hotfix/tests passing
  openbb_sdk/providers/cboe/openbb_cboe/models/european_index_historical.py
  openbb_sdk/providers/cboe/tests/test_cboe_fetchers.py
  openbb_sdk/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/dividend_calendar.py
  openbb_sdk/providers/fmp/openbb_fmp/models/forex_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_ownership.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_splits.py
  openbb_sdk/providers/fmp/openbb_fmp/models/treasury_rates.py
  openbb_sdk/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_stock_historical_fetcher.yaml
  openbb_sdk/providers/fmp/tests/test_fmp_fetchers.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_historical.py
  openbb_sdk/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_sdk/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/forex_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/forex_pairs.py
  openbb_sdk/providers/polygon/openbb_polygon/models/major_indices_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_historical.py
  openbb_sdk/providers/polygon/tests/test_polygon_fetchers.py
  openbb_sdk/providers/tests/utils/unit_test_generator.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/futures_curve.py
  openbb_sdk/providers/yfinance/tests/test_yfinance_fetchers.py
  tests/openbb_terminal/alternative/covid/test_covid_controller.py
  tests/openbb_terminal/alternative/oss/test_oss_controller.py
  tests/openbb_terminal/alternative/test_alt_controller.py
  tests/openbb_terminal/cryptocurrency/defi/test_defi_controller.py
  tests/openbb_terminal/cryptocurrency/discovery/test_discovery_controller.py
  tests/openbb_terminal/cryptocurrency/nft/test_nft_controller.py
  tests/openbb_terminal/cryptocurrency/onchain/test_onchain_controller.py
  tests/openbb_terminal/cryptocurrency/tools/test_tools_controller.py
  tests/openbb_terminal/futures/test_futures_controller.py
  tests/openbb_terminal/mutual_funds/test_mutual_fund_controller.py
  tests/openbb_terminal/portfolio/brokers/degiro/test_degiro_controller.py
  tests/openbb_terminal/portfolio/test_portfolio_controller.py
  tests/openbb_terminal/reports/test_reports_controller.py
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/insider/test_openinsider_view.py
Labels: feat S

#5449 Update readme
  openbb_sdk/CONTRIBUTING.md
  openbb_sdk/README.md
  openbb_sdk/sdk/core/README.md
Labels: feat S, v4

#5447 Hotfix/fix-cboe-regressions
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/providers/cboe/openbb_cboe/models/european_index_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/major_indices_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_info.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/stock_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/stock_historical.py
Labels: feat M, SDK, v4

#5448 Metadata input scaling
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
  openbb_sdk/sdk/core/openbb_core/app/model/metadata.py
  openbb_sdk/sdk/core/tests/app/model/test_metadata.py
Labels: feat S, v4

#5456 add try except on metadata computing
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
Labels: feat XS

#5450 Print message if yahoo finance load fails
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_model.py
Labels: feat XS

#5440 Hotfix stock screener
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/screener/screener_view.py
Labels: bug, feat XS

#5459 Hotfix/ext map test
  noxfile.py
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/econometrics.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/fixedincome.py
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/futures.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/qa.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_ca.py
  openbb_sdk/openbb/package/stocks_dd.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/openbb/package/ta.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/tests/test_extension_map.py
Labels: feat XL

#5461 Hotfix/fix-quandl-regression
  openbb_sdk/providers/quandl/openbb_quandl/models/cot_search.py
Labels: bug, feat XS, SDK, v4

#5464 Standardize `date` and `datetime` for all historical models
  openbb_sdk/providers/cboe/openbb_cboe/models/major_indices_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/forex_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_historical.py
  openbb_sdk/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_historical_fetcher.yaml
  openbb_sdk/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_forex_historical_fetcher.yaml
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/forex_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/major_indices_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/utils/helpers.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/forex_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/major_indices_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/stock_historical.py
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_futures_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_stock_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/test_yfinance_fetchers.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/crypto_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/forex_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/major_indices_historical.py
Labels: feat M

#5455 Hotfix/fix yfinance sdk4
  openbb_sdk/providers/cboe/openbb_cboe/models/major_indices_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/forex_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_historical.py
  openbb_sdk/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_historical_fetcher.yaml
  openbb_sdk/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_forex_historical_fetcher.yaml
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/forex_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/major_indices_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/utils/helpers.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/forex_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/major_indices_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/stock_historical.py
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_futures_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_stock_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/test_yfinance_fetchers.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/crypto_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/forex_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/major_indices_historical.py
Labels: bug, feat M, SDK, v4

#5462 Include extensions in package __repr__
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/fixedincome.py
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_ca.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/sdk/core/openbb_core/app/static/app_factory.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
Labels: feat S

#5463 Release/4.0.0a2
  openbb_sdk/README.md
  openbb_sdk/extensions/charting/poetry.lock
  openbb_sdk/extensions/charting/pyproject.toml
  openbb_sdk/extensions/crypto/poetry.lock
  openbb_sdk/extensions/crypto/pyproject.toml
  openbb_sdk/extensions/econometrics/poetry.lock
  openbb_sdk/extensions/econometrics/pyproject.toml
  openbb_sdk/extensions/economy/poetry.lock
  openbb_sdk/extensions/economy/pyproject.toml
  openbb_sdk/extensions/fixedincome/poetry.lock
  openbb_sdk/extensions/fixedincome/pyproject.toml
  openbb_sdk/extensions/forex/poetry.lock
  openbb_sdk/extensions/forex/pyproject.toml
  openbb_sdk/extensions/futures/poetry.lock
  openbb_sdk/extensions/futures/pyproject.toml
  openbb_sdk/extensions/news/poetry.lock
  openbb_sdk/extensions/news/pyproject.toml
  openbb_sdk/extensions/qa/poetry.lock
  openbb_sdk/extensions/qa/pyproject.toml
  openbb_sdk/extensions/stocks/poetry.lock
  openbb_sdk/extensions/stocks/pyproject.toml
  openbb_sdk/extensions/ta/poetry.lock
  openbb_sdk/extensions/ta/pyproject.toml
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/poetry.lock
  openbb_sdk/providers/alpha_vantage/poetry.lock
  openbb_sdk/providers/alpha_vantage/pyproject.toml
  openbb_sdk/providers/benzinga/poetry.lock
  openbb_sdk/providers/benzinga/pyproject.toml
  openbb_sdk/providers/cboe/poetry.lock
  openbb_sdk/providers/cboe/pyproject.toml
  openbb_sdk/providers/fmp/poetry.lock
  openbb_sdk/providers/fmp/pyproject.toml
  openbb_sdk/providers/fred/poetry.lock
  openbb_sdk/providers/fred/pyproject.toml
  openbb_sdk/providers/intrinio/poetry.lock
  openbb_sdk/providers/intrinio/pyproject.toml
  openbb_sdk/providers/polygon/poetry.lock
  openbb_sdk/providers/polygon/pyproject.toml
  openbb_sdk/providers/quandl/poetry.lock
  openbb_sdk/providers/quandl/pyproject.toml
  openbb_sdk/providers/yfinance/poetry.lock
  openbb_sdk/providers/yfinance/pyproject.toml
  openbb_sdk/pyproject.toml
  openbb_sdk/sdk/core/poetry.lock
  openbb_sdk/sdk/core/pyproject.toml
  openbb_sdk/sdk/provider/poetry.lock
  openbb_sdk/sdk/provider/pyproject.toml
Labels: feat XL, v4

#5475 Hotfix/replace nans
  openbb_sdk/providers/fred/openbb_fred/models/ameribor_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/estr_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/fed_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/iorb_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/sofr_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/sonia_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/ameribor_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/estr_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/fed_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/iorb_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/sofr_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/sonia_rates.py
Labels: feat XS, v4

#5478 Feature/integration marker
  noxfile.py
  openbb_sdk/extensions/crypto/integration/test_crypto_api.py
  openbb_sdk/extensions/crypto/integration/test_crypto_python.py
  openbb_sdk/extensions/econometrics/integration/test_econometrics_api.py
  openbb_sdk/extensions/econometrics/tests/.gitkeep
  openbb_sdk/extensions/economy/integration/test_economy_api.py
  openbb_sdk/extensions/economy/integration/test_economy_python.py
  openbb_sdk/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_sdk/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_sdk/extensions/forex/integration/test_forex_api.py
  openbb_sdk/extensions/forex/integration/test_forex_python.py
  openbb_sdk/extensions/futures/integration/test_futures_api.py
  openbb_sdk/extensions/futures/integration/test_futures_python.py
  openbb_sdk/extensions/news/integration/test_news_api.py
  openbb_sdk/extensions/news/integration/test_news_python.py
  openbb_sdk/extensions/qa/integration/test_qa_api.py
  openbb_sdk/extensions/stocks/integration/test_stocks_api.py
  openbb_sdk/extensions/stocks/integration/test_stocks_python.py
  openbb_sdk/extensions/ta/integration/test_ta_api.py
Labels: feat S

#5479 Tinny improvements on `OBBject.to_dataframe()` method
  openbb_sdk/sdk/core/openbb_core/app/model/obbject.py
Labels: feat XS

#5469 Feature/integration tests
  noxfile.py
  openbb_sdk/extensions/charting/integration/.gitkeep
  openbb_sdk/extensions/crypto/integration/test_crypto_api.py
  openbb_sdk/extensions/crypto/integration/test_crypto_python.py
  openbb_sdk/extensions/econometrics/integration/test_econometrics_api.py
  openbb_sdk/extensions/econometrics/tests/.gitkeep
  openbb_sdk/extensions/economy/integration/test_economy_api.py
  openbb_sdk/extensions/economy/integration/test_economy_python.py
  openbb_sdk/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_sdk/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_sdk/extensions/forex/integration/test_forex_api.py
  openbb_sdk/extensions/forex/integration/test_forex_python.py
  openbb_sdk/extensions/futures/integration/test_futures_api.py
  openbb_sdk/extensions/futures/integration/test_futures_python.py
  openbb_sdk/extensions/news/integration/test_news_api.py
  openbb_sdk/extensions/news/integration/test_news_python.py
  openbb_sdk/extensions/qa/integration/test_qa_api.py
  openbb_sdk/extensions/stocks/integration/test_stocks_api.py
  openbb_sdk/extensions/stocks/integration/test_stocks_python.py
  openbb_sdk/extensions/ta/integration/test_ta_api.py
  openbb_sdk/extensions/tests/utils/integration_test_generator.py
  openbb_sdk/extensions/tests/utils/integration_tests_api_generator.py
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/econometrics.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/futures.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/qa.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/openbb/package/ta.py
  openbb_sdk/providers/cboe/tests/.gitkeep
  openbb_sdk/providers/fmp/tests/.gitkeep
  openbb_sdk/providers/fred/tests/.gitkeep
  openbb_sdk/providers/intrinio/tests/.gitkeep
  openbb_sdk/providers/polygon/tests/.gitkeep
  openbb_sdk/providers/quandl/tests/.gitkeep
  openbb_sdk/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_crypto_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_forex_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_futures_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_major_indices_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_stock_historical_fetcher.yaml
  openbb_sdk/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_stock_news_fetcher.yaml
  openbb_sdk/sdk/core/openbb_core/app/router.py
  pyproject.toml
Labels: enhancement, tests, feat XL, SDK, v4

#5471 OBBject updates for python package
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/extension_map.json
  openbb_sdk/openbb/package/fixedincome.py
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_ca.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/sdk/core/README.md
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
  openbb_sdk/sdk/core/openbb_core/app/model/obbject.py
  openbb_sdk/sdk/core/openbb_core/app/model/preferences.py
  openbb_sdk/sdk/core/openbb_core/app/static/container.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
Labels: feat XL, v4

#5482 Remove old scripts and update the readme
  .gitignore
  noxfile.py
  openbb_sdk/CONTRIBUTING.md
  openbb_sdk/README.md
  openbb_sdk/install_all.bat
  openbb_sdk/install_all.sh
  openbb_sdk/providers/tests/test_provider_field_dupes.py
  openbb_sdk/tests/test_extension_map.py
  openbb_terminal/cryptocurrency/onchain/bitquery_model.py
  pyproject.toml
Labels: docs, feat XS

#5491 Hotfix/crypto hist yf
  openbb_sdk/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_sdk/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_sdk/providers/polygon/openbb_polygon/utils/helpers.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/forex_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/futures_curve.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/major_indices_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/stock_historical.py
  openbb_sdk/sdk/provider/openbb_provider/query_executor.py
  openbb_sdk/sdk/provider/openbb_provider/utils/errors.py
Labels: feat XS, v4

#5492 Switch off reviewpad because we have been rate limited
  reviewpad.yaml.backup
Labels: build, feat XS

#5495 Pin financedatabase
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug, feat XS

#5486 hotfix/forecast-make-intraday-work: An attempt to make intraday data work with forecast functions
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/timegpt_model.py
Labels: feat XS

#5500 Update finvizfinance
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#5477 Feature/charting service unit tests
  openbb_platform/platform/core/openbb_core/app/charting_service.py
  openbb_platform/platform/core/tests/app/test_charting_service.py
Labels: feat M, v4
