Repository OpenBB-finance/OpenBB, pull requests merged in 2023-06, with the labels that each got.

#5098 hotfix/ XAxis Dateindex format
  openbb_terminal/core/plots/plotly_helper.py
Labels: feat XS

#5097 hotfix/ca-sentiment-raw-date: Fixes #5095
  openbb_terminal/stocks/comparison_analysis/finbrain_view.py
Labels: feat XS

#5092 fixes stocks/fa integration test file
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_fa.openbb
Labels: bug, tests, feat XS

#5086 Feature/futures curve history
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[YI].txt
Labels: feat S

#5105 Avoid pandas' SettingWithCopyWarning
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#5101 hotfix/fa-yfinance-plot - makes `stocks/fa/income --plot` output match everything else.
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
Labels: bug, feat XS

#5111 hotfix/deprecate-options-screener: Sunsets deprecated Options screener
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/econometrics_sdk_model.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_options.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_options_screen_ca.openbb
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/miscellaneous/stocks/options/README.md
  openbb_terminal/miscellaneous/stocks/options/high_iv.ini
  openbb_terminal/miscellaneous/stocks/options/iv_below_20day.ini
  openbb_terminal/miscellaneous/stocks/options/liquid_otm.ini
  openbb_terminal/miscellaneous/stocks/options/spy_30_delta.ini
  openbb_terminal/miscellaneous/stocks/options/template.ini
  openbb_terminal/sdk.py
  openbb_terminal/stocks/options/intrinio_model.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/screen/__init__.py
  openbb_terminal/stocks/options/screen/screener_controller.py
  openbb_terminal/stocks/options/screen/syncretism_model.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_model/test_get_historical_greeks[False].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_model/test_get_historical_greeks[True].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_model/test_get_screener_output.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_view/test_view_historical_greeks.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_syncretism_view/test_view_screener_output.yaml
  tests/openbb_terminal/stocks/options/csv/test_syncretism_model/test_get_historical_greeks.csv
  tests/openbb_terminal/stocks/options/csv/test_syncretism_model/test_get_historical_greeks[False].csv
  tests/openbb_terminal/stocks/options/csv/test_syncretism_model/test_get_historical_greeks[True].csv
  tests/openbb_terminal/stocks/options/csv/test_syncretism_model/test_get_screener_output.csv
  tests/openbb_terminal/stocks/options/csv/test_syncretism_model/test_get_screener_output_30_delta_spy.csv
  tests/openbb_terminal/stocks/options/ini/high_iv.ini
  tests/openbb_terminal/stocks/options/ini/spy_30_delta.ini
  tests/openbb_terminal/stocks/options/test_options_controller.py
  tests/openbb_terminal/stocks/options/test_screener_controller.py
  tests/openbb_terminal/stocks/options/test_syncretism_model.py
  tests/openbb_terminal/stocks/options/test_syncretism_view.py
  tests/openbb_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
  tests/openbb_terminal/stocks/options/txt/test_screener_controller/test_print_help.txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_available_presets[high_IV.ini].txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_available_presets[spy_30_delta.ini].txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_available_presets[template.ini].txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output.txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output[False].txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output[True].txt
  tests/openbb_terminal/stocks/options/txt/test_syncretism_view/test_view_screener_output_error.txt
Labels: bug, feat XL

#5102 feature/ Set profile on identify
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/loggers.py
Labels: feat XS

#5122 hotfix/ bump Pywry fixes High CPU usage
  openbb_terminal/core/plots/backend.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4975 Vscode/Github Codespaces dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  README.md
Labels: feat S

#5119 adds VIX9D and VIX3M to index list
  openbb_terminal/economy/yfinance_model.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_show_indices.txt
Labels: enhancement, feat XS

#5124 hotfix/ tables `pd.to_numeric`
  frontend-components/tables/src/utils/utils.ts
  openbb_terminal/core/plots/table.html
  openbb_terminal/helper_funcs.py
Labels: feat M

#5125 small typo fix in contributing guidlines
  CONTRIBUTING.md
Labels: feat XS

#5132 Fix help and question
  openbb_terminal/terminal_controller.py
Labels: bug, feat XS

#5133 Fix wrapping
  openbb_terminal/cryptocurrency/defi/terramoney_fcd_view.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_account_growth-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_account_growth-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_account_staking_info-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_gov_proposals-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_staking_ratio_history-kwargs4].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_staking_returns_history-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_staking_returns_history-kwargs5].yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_terramoney_fcd_view/test_call_func[display_validators-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/defi/test_terramoney_fcd_view.py
  tests/openbb_terminal/cryptocurrency/defi/txt/test_terramoney_fcd_view/test_call_func[display_account_growth-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/defi/txt/test_terramoney_fcd_view/test_call_func[display_account_staking_info-kwargs0].txt
  tests/openbb_terminal/cryptocurrency/defi/txt/test_terramoney_fcd_view/test_call_func[display_gov_proposals-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/defi/txt/test_terramoney_fcd_view/test_call_func[display_staking_returns_history-kwargs3].txt
  tests/openbb_terminal/cryptocurrency/defi/txt/test_terramoney_fcd_view/test_call_func[display_validators-kwargs1].txt
Labels: bug, feat XL

#4067 Adds crypto fees revenue command
  openbb_terminal/core/sdk/controllers/crypto_sdk_controller.py
  openbb_terminal/core/sdk/models/crypto_sdk_model.py
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/models/portfolio_sdk_model.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/cryptocurrency/defi/llama_model.py
  openbb_terminal/cryptocurrency/defi/llama_view.py
  openbb_terminal/cryptocurrency/discovery/cryptostats_model.py
  openbb_terminal/cryptocurrency/discovery/cryptostats_view.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_llama_view/test_display_defi_protocols.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_llama_view/test_display_defi_tvl.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_llama_view/test_display_grouped_defi_protocols.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_llama_view/test_display_historical_tvl.yaml
  tests/openbb_terminal/cryptocurrency/defi/test_llama_view.py
  tests/openbb_terminal/cryptocurrency/defi/txt/test_llama_view/test_display_defi_protocols.txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_discovery_controller/test_print_help.txt
Labels: feat XL

#5134 Add index names so import works
  openbb_terminal/fixedincome/fred_model.py
  openbb_terminal/fixedincome/fred_view.py
Labels: feat XS

#5136 hotfix/fix-screener: Fix for #5135
  openbb_terminal/stocks/screener/finviz_model.py
Labels: bug, feat XS

#5137 Fix income and cash flow statements
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/stock_statics.py
  tests/openbb_terminal/stocks/fundamental_analysis/record/screen/test_yahoo_finance_view/test_display_fundamentals_balance_sheet.json
  tests/openbb_terminal/stocks/fundamental_analysis/test_yahoo_finance_view.py
  website/content/terminal/reference/stocks/fa/balance.md
  website/content/terminal/reference/stocks/fa/cash.md
Labels: bug, feat XS

#5139 Fix balance sheet
  openbb_terminal/stocks/stock_statics.py
Labels: bug, feat XS

#5141 Move askobb to cmd and change question to prompt
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/portfolio/portfolio_optimization/po_view.py
  openbb_terminal/stocks/databento_model.py
  openbb_terminal/terminal_controller.py
Labels: feat XS

#5145 hotfix/docs-faq-debug-mode: Adds debug mode instructions for Terminal and SDK
  website/content/sdk/faqs/developer_issues.md
  website/content/terminal/faqs/data_sources.md
  website/content/terminal/faqs/developer_issues.md
Labels: docs, enhancement, feat XS, SDK

#5147 added error handling
  openbb_terminal/stocks/fundamental_analysis/av_model.py
Labels: feat XS

#5146 Small enhancements
  openbb_terminal/economy/finviz_view.py
  openbb_terminal/economy/oecd_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/government/quiverquant_model.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_performance[False].txt
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_performance[True].txt
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_valuation[False].txt
  tests/openbb_terminal/economy/txt/test_finviz_view/test_display_valuation[True].txt
  tests/openbb_terminal/stocks/comparison_analysis/txt/test_ca_controller/test_print_help.txt
Labels: feat XS

#5153 Query askobb on api openbb co
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
Labels: feat XS

#5155 hotfix/options-chains-guide: Adds SDK intro guide for Options Chains
  openbb_terminal/stocks/options/options_chains_model.py
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_10.json
  website/content/sdk/usage/intros/stocks/options-chains.md
Labels: docs, feat M, SDK

#5160 hotfix/options-stats-index-rename: renames the index column to 'strike' when `get_stats('strike')`
  openbb_terminal/stocks/options/options_chains_model.py
Labels: bug, feat XS

#5163 Fix shrs table
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
Labels: bug, feat XS

#5168 Release/3.1.0
  .github/release-drafter.yml
  .github/workflows/windows10_build.yml
  build/docker/compose.env
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/models/portfolio_sdk_model.py
  openbb_terminal/parent_classes.py
  openbb_terminal/sdk.py
  pyproject.toml
  tests/openbb_terminal/stocks/options/test_intrinio_model.py
  website/content/terminal/changelog/version2_0_0.mdx
  website/content/terminal/changelog/version2_1_0.mdx
  website/content/terminal/changelog/version2_2_0.mdx
  website/content/terminal/changelog/version2_3_0.mdx
  website/content/terminal/changelog/version2_3_1.mdx
  website/content/terminal/changelog/version2_4_0.mdx
  website/content/terminal/changelog/version2_4_1.mdx
  website/content/terminal/changelog/version2_5_0.mdx
  website/content/terminal/changelog/version2_5_1.mdx
  website/content/terminal/changelog/version3_0_0.mdx
  website/content/terminal/changelog/version3_0_1.mdx
  website/content/terminal/changelog/version3_1_0.mdx
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/windows.md
Labels: feat S

#5170 hotfix/fix-options-skew: Fixes columns not subtracting
  openbb_terminal/stocks/options/options_chains_model.py
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_9.json
Labels: bug, feat XS, SDK

#5180 hotfix / TA ma's empty if not enough data for window
  openbb_terminal/core/plots/plotly_ta/data_classes.py
  tests/openbb_terminal/stocks/options/cassettes/test_nasdaq_model/test_load_options.yaml
Labels: feat XL

#5029 Adds Topledger on-chain data
  openbb_terminal/core/sdk/controllers/crypto_sdk_controller.py
  openbb_terminal/core/sdk/models/crypto_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/onchain/topledger_model.py
  openbb_terminal/cryptocurrency/onchain/topledger_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/cryptocurrency/test_onchain.openbb
  openbb_terminal/miscellaneous/sources/openbb_default.json
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_onchain_controller/test_print_help.txt
Labels: feat M
