Repository OpenBB-finance/OpenBB, pull requests merged in 2023-07, with the labels that each got.

#5195 hotfix / Save session on oauth login
  openbb_terminal/core/models/profile_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/reports/templates/economy.ipynb
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/stocks/options/cassettes/test_nasdaq_model/test_load_options.yaml
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_8.json
Labels: feat S

#5196 hotfix/docs-sdk-forex: Fixes #5194
  website/content/sdk/usage/intros/forex.md
Labels: bug, docs, feat S, SDK

#5185 hotfix/economy-index-list: Adds Six Indices to the `economy/index` List
  openbb_terminal/economy/yfinance_model.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_show_indices.txt
Labels: enhancement, feat XS

#5188 hotfix/fix-intrinio-load:
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_model.py
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[1440-Intrinio].csv
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_8.json
Labels: bug, feat XS

#5165 feature/examples-optionsChains: Add Notebook example: optionsChains
  examples/README.md
  examples/optionsChains.ipynb
  openbb_terminal/stocks/options/options_controller.py
Labels: docs, feat XL, SDK

#5199 hotfix/fix-stocks-screener: Fixes the random column header artifacts
  openbb_terminal/stocks/screener/finviz_model.py
Labels: bug, feat XS

#5203 Hotfix / Switch `download_plotly_js` to run in thread
  openbb_terminal/core/plots/backend.py
Labels: feat XS

#5202 [Update] bump langchain and llama
  openbb_terminal/helper_funcs.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#5181 Remove `economy/rtps` and `stocks/ta/rsp`
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/economy_sdk_model.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/economy/alphavantage_model.py
  openbb_terminal/economy/alphavantage_view.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/miscellaneous/gpt_index/data/economy_rtps.txt
  openbb_terminal/miscellaneous/gpt_index/data/stocks_ta_rsp.txt
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/economy/test_economy.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_ta.openbb
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/sdk.py
  openbb_terminal/stocks/technical_analysis/rsp_model.py
  openbb_terminal/stocks/technical_analysis/rsp_view.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/economy/test_alphavantage_model.py
  tests/openbb_terminal/economy/test_alphavantage_view.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/stocks/technical_analysis/test_rsp_model.py
  tests/openbb_terminal/stocks/technical_analysis/test_rsp_view.py
  tests/openbb_terminal/stocks/technical_analysis/test_ta_controller.py
  website/content/sdk/reference/economy/index.md
  website/content/sdk/reference/economy/rtps.md
  website/content/sdk/reference/stocks/ta/rsp.md
  website/content/terminal/reference/economy/rtps.md
  website/content/terminal/reference/stocks/ta/rsp.md
  website/content/terminal/usage/intros/common/ta.md
Labels: feat L

#5204 Get oanda back to forex sources to fix the menu
  openbb_terminal/forex/forex_helper.py
Labels: bug, feat XS

#5209 Feature/docstring generation
  openbb_sdk/openbb_sdk_core/openbb_sdk_core/api/rest_api.py
  openbb_sdk/openbb_sdk_core/openbb_sdk_core/app/provider_interface.py
  openbb_sdk/openbb_sdk_core/openbb_sdk_core/app/static/coverage.py
  openbb_sdk/openbb_sdk_core/openbb_sdk_core/app/static/package_builder.py
Labels: docs, feat S

#5214 hotfix / Moving Averages Export
  openbb_terminal/common/technical_analysis/overlap_view.py
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_buys-kwargs_dict1].txt
  tests/openbb_terminal/stocks/government/txt/test_quiverquant_view/test_call_func[display_government_sells-kwargs_dict2].txt
Labels: feat XS

#5192 Fix prompt typo
  openbb_terminal/core/session/banner.txt
  tests/openbb_terminal/session/txt/test_session_controller/test_display_welcome_message.txt
Labels: bug, feat XS

#5219 adds note indicating V3.1.0 is required for loops and keywords
  website/content/terminal/usage/guides/scripts-and-routines.md
Labels: docs, feat XS, guides

#5221 Update routine tags
  openbb_terminal/core/session/constants.py
Labels: feat XS

#5173 Adds a matlab like `hold on` to plot on same axis
  openbb_terminal/config_terminal.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/stock_statics.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/test_helper_funcs.py
  website/content/terminal/usage/guides/plot-holds.md
Labels: feat M

#5233 Release Cleanup
  .github/workflows/unit-test.yml
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols1].txt
Labels: feat S

#5237 Add missing wraps decorator in filter_call
  openbb_sdk/sdk/core/openbb_core/app/static/filters.py
Labels: feat XS

#5236 add public routines flag
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
  tests/openbb_terminal/session/test_hub_model.py
Labels: feat XS

#5250 Fix/reports
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#5253 hotfix/docs-sdk-basics-headTitle: fix headTitle
  website/content/sdk/usage/basics/index.md
Labels: bug, docs, feat XS

#5252 hotfix/economy-report-duplicate-table: fixes duplicate tables.
  openbb_terminal/reports/templates/economy.ipynb
Labels: bug, feat XS, notebookreports

#5261 Hotfix/ locking when deploying streamlit app
  openbb_terminal/core/plots/no_import.py
  openbb_terminal/dashboards/streamlit_run.py
Labels: feat XS

#5254 Feature/field description
  openbb_sdk/extensions/economy/openbb_economy/economy_router.py
Labels: feat XS

#5262 hotfix/gdp-units - better GDP units
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/oecd_model.py
  openbb_terminal/economy/oecd_view.py
  tests/openbb_terminal/economy/cassettes/test_oecd_model/test_get_gdp.yaml
  tests/openbb_terminal/economy/csv/test_oecd_model/test_get_gdp.csv
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/test_oecd_model.py
  tests/openbb_terminal/economy/test_oecd_view.py
Labels: feat XS
