Repository OpenBB-finance/OpenBB, pull requests merged in 2023-05, with the labels that each got.

#4940 Fixed incorrect data display using `stocks/fa/est` command
  README.md
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_business_insider_model/test_get_estimates_year_estimates.csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_business_insider_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_estimates.txt
Labels: feat S

#4944 Adds type to the version on the SystemModel
  openbb_terminal/core/models/system_model.py
Labels: bug, feat XS

#4937 Adds options helper function for DTE, updates SDK trail map to not use yFinance.
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/stocks/options/op_helpers.py
Labels: enhancement, feat XS, SDK

#4945 Correct sentence in the SDK portfolio intro documentation
  website/content/sdk/usage/intros/portfolio/index.md
Labels: feat XS, guides

#4917 Hotfix/docs Updates Terminal Intro for Options, Creates Terminal Intro for Mutual Funds
  website/content/terminal/faqs/general_operation.md
  website/content/terminal/usage/intros/mutualfunds.md
  website/content/terminal/usage/intros/stocks/options/index.md
  website/content/terminal/usage/intros/stocks/options/pricing.md
Labels: docs, feat M

#4866 Fix `--std` argument in bbands command
  openbb_terminal/core/plots/plotly_ta/plugins/volatility_plugin.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
Labels: bug, feat XS

#4948 Fix Index not showing for FMP
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_balance_sheet-kwargs_dict4].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_cash_flow-kwargs_dict5].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_discounted_cash_flow-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_enterprise-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_financial_ratios-kwargs_dict7].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_financial_statement_growth-kwargs_dict8].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_income_statement-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_key_metrics-kwargs_dict6].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[False-display_profile-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_balance_sheet-kwargs_dict4].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_cash_flow-kwargs_dict5].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_discounted_cash_flow-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_enterprise-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_financial_ratios-kwargs_dict7].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_financial_statement_growth-kwargs_dict8].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_income_statement-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_key_metrics-kwargs_dict6].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_check_output[True-display_profile-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_cash_flow-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_discounted_cash_flow-kwargs_dict2].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_financial_ratios-kwargs_dict7].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_financial_statement_growth-kwargs_dict8].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_key_metrics-kwargs_dict6].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_profile-kwargs_dict0].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_cash_flow-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_discounted_cash_flow-kwargs_dict2].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_financial_ratios-kwargs_dict7].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_financial_statement_growth-kwargs_dict8].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_key_metrics-kwargs_dict6].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_profile-kwargs_dict0].txt
Labels: bug, feat XL

#4952 Remove commas from i18n
  openbb_terminal/miscellaneous/i18n/en.yml
  tests/openbb_terminal/alternative/txt/test_alt_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/txt/test_crypto_controller/test_print_help.txt
  tests/openbb_terminal/etf/cassettes/test_etf_controller/test_call_load.yaml
  tests/openbb_terminal/etf/txt/test_etf_controller/test_print_help.txt
  tests/openbb_terminal/forex/cassettes/test_forex_controller/test_call_load[other_args0].yaml
  tests/openbb_terminal/forex/cassettes/test_forex_controller/test_call_load[other_args1].yaml
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: bug, feat L

#4949 hotfix/docs-api-keys-title - Changes title of page from "Settings & API Keys" to "Setting API Keys"
  website/content/terminal/usage/guides/api-keys.md
Labels: feat XS

#4953 Hotfix/stocks quote help description: replaces help dialogue description for `--ticker`.
  openbb_terminal/stocks/stocks_controller.py
Labels: feat XS

#4959 Removing wrong transposition
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/eodhd_view.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
Labels: feat XS

#4956 Fixed `--help` arg not working for some commands in `keys` menu
  openbb_terminal/keys_controller.py
Labels: feat XS

#4954 hotfix/stock-screener-remove-delimiter: Gets rid of commas in Company column.
  openbb_terminal/stocks/screener/finviz_model.py
  openbb_terminal/stocks/screener/finviz_view.py
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[overview].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_limit.csv
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[False].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[True].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[MOCK_SORT].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[Ticker].txt
Labels: bug, feat L

#4971 Hotfix/kill cov
  .github/workflows/unit-test.yml
Labels: feat XS

#4968 Fixed column names for `economy\performance` and `economy\valuation`
  openbb_terminal/economy/finviz_model.py
Labels: feat XS

#4922 fixing equity report issue
  openbb_terminal/reports/templates/equity.ipynb
Labels: feat S

#4964 Updates SDK Intro Guide for Fundamental Analysis Module's Recent Changes
  website/content/sdk/usage/intros/stocks/fundamental-analysis.md
Labels: docs, feat M, guides, SDK

#4967 Updates Terminal Intro Guide for Economy Menu's Recent Changes.
  website/content/terminal/usage/intros/economy.md
Labels: docs, feat M, guides

#4845 Fixed `search` command issues
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
Labels: feat XS

#4974 Docs/Terminal FAQ: adds libzlma workaround.
  website/content/terminal/faqs/launching.md
Labels: docs, feat XS

#4927 Hotfix/routine default file overwrite
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/session/test_routines_handler.py
Labels: feat M

#4981 hotfix/fix-edebt: Patches economy/edebt and updates tests
  openbb_terminal/economy/commodity_model.py
  tests/openbb_terminal/economy/cassettes/test_commodity_model/test_get_debt.yaml
  tests/openbb_terminal/economy/cassettes/test_commodity_view/test_display_debt.yaml
  tests/openbb_terminal/economy/csv/test_commodity_model/test_get_debt.csv
  tests/openbb_terminal/economy/test_commodity_model.py
  tests/openbb_terminal/economy/test_commodity_view.py
  tests/openbb_terminal/economy/txt/test_commodity_view/test_display_debt.txt
Labels: bug, feat XL

#4994 hotfix/forecast-export: Fixes Forecast Menu's Export Command.
  openbb_terminal/forecast/forecast_controller.py
Labels: bug, feat XS, forecast

#4992 Hotfix/ stocks/fa/dcf
  openbb_terminal/stocks/fundamental_analysis/dcf_model.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_dcf_model.py
Labels: bug, feat XS

#4990 Fixed `date` format for `crypto.dd.twitter` and `crypto.dd.events` in SDK
  openbb_terminal/cryptocurrency/due_diligence/coinpaprika_model.py
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_coin_events_by_id-kwargs2].csv
  tests/openbb_terminal/cryptocurrency/due_diligence/csv/test_coinpaprika_model/test_call_func[get_coin_twitter_timeline-kwargs1].csv
Labels: feat S

#4989 Updated `pytrends` dependency in config files and remove temp workaround
  openbb_terminal/common/behavioural_analysis/google_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4983 Removes Instances of Global Pandas Display Setting Being Set in `fmp_view`
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
Labels: bug, feat XS

#4991 Fixed equity report
  openbb_terminal/reports/templates/equity.ipynb
Labels: feat XS

#4976 [Bug] Restores Portfolio Optimization Parameters Template File
  openbb_terminal/miscellaneous/portfolio/parameters_template.xlsx
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_helpers.py
Labels: bug, feat XS, portfolio

#4973 Hotfix/databento + bugs
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/finviz_compare_model.py
  openbb_terminal/stocks/databento_model.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/stock_statics.py
  tests/openbb_terminal/stocks/cassettes/test_databento_model/test_stock_load.yaml
  tests/openbb_terminal/stocks/csv/test_databento_model/test_stock_load.csv
  tests/openbb_terminal/stocks/test_databento_model.py
Labels: bug, feat S

#4998 Fix windows integration coverage workflow
  .github/workflows/integration-test.yml
  .github/workflows/macos-build.yml
  .github/workflows/windows10_build.yml
Labels: bug, tests, feat XS

#4815 Adding GARCH
  openbb_terminal/core/sdk/models/econometrics_sdk_model.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/econometrics/test_econometrics.openbb
  openbb_terminal/sdk.py
  requirements.txt
Labels: feat M

#4996 Tables component: Clear filters
  frontend-components/tables/src/components/Table/ColumnHeader.tsx
  frontend-components/tables/src/components/Table/FilterColumns.tsx
  openbb_terminal/core/plots/table.html
Labels: feat XS

#4999 Add linux docker launch command notes
  website/content/terminal/installation/docker.md
Labels: docs, feat XS

#4864 First introduction of news_biztoc — A new partnership with BizToc.com
  openbb_terminal/common/biztoc_model.py
  openbb_terminal/common/biztoc_view.py
  openbb_terminal/common/news_sdk_helper.py
  openbb_terminal/core/sdk/models/keys_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/parent_classes.py
  openbb_terminal/sdk.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/test_keys_model.py
  website/content/terminal/usage/guides/api-keys.md
Labels: feat M

#5001 Fix api-key md file in docs
  website/content/terminal/usage/guides/api-keys.md
Labels: bug, feat XS

#5002 Keyboard hotkey macros to website docs
  website/content/terminal/usage/guides/keyboard-hotkey-macros.md
Labels: docs, feat XS

#4979 feature/heikin-ashi-candles: Adds a flag for Heikin Ashi Candles on stocks/candle
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_stocks.openbb
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  website/content/terminal/usage/intros/stocks/index.md
Labels: enhancement, feat XS

#5004 fix biztoc print on launch
  openbb_terminal/common/biztoc_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/terminal_controller.py
Labels: bug, feat XS

#4951 Feature/improve posthog logs
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/log/generation/settings.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/loggers.py
  tests/openbb_terminal/core/log/conftest.py
  tests/openbb_terminal/core/log/generation/test_settings.py
  tests/openbb_terminal/test_loggers.py
  website/content/bot/usage/customizing/server.md
Labels: feat S

#5017 Hotfix / Fix `reset` command error force closing terminal
  openbb_terminal/core/models/system_model.py
Labels: feat XS

#5021 Update gamma command in docs
  website/content/bot/reference/discord/options/gamma.md
  website/content/bot/reference/telegram/options/gamma.md
Labels: feat XS

#5022 hotfix/ Installer Backend
  openbb_terminal/core/plots/backend.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#5028 fixing min-mix stikes on options
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_view.py
  openbb_terminal/stocks/options/yfinance_view.py
Labels: feat XS

#5034 Removal of Interactive Charts Legacy Web Modules
  openbb_terminal/core/plots/assets/icon.png
  openbb_terminal/core/plots/old_table.html
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/css/fonts/FiraCode-Regular.ttf
  openbb_terminal/core/plots/web/css/fonts/FiraCode-VF.ttf
  openbb_terminal/core/plots/web/css/style.css
  openbb_terminal/core/plots/web/css/table.css
  openbb_terminal/core/plots/web/helpers.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/core/plots/web/main_table.js
  openbb_terminal/core/plots/web/popups.js
Labels: feat XL

#5033 Fix file edge case
  openbb_terminal/core/integration_tests/integration_test_coverage.py
Labels: bug, feat XS

#5045 Remove \n from insider table
  openbb_terminal/stocks/insider/openinsider_model.py
Labels: bug, feat XS

#5037 Adds `primaryUsage` to Posthog logs
  openbb_terminal/core/models/profile_model.py
  openbb_terminal/loggers.py
Labels: feat XS

#5048 100% coverage for fixed income integration tests
  openbb_terminal/miscellaneous/integration_tests_scripts/fixedincome/test_fixedincome.openbb
Labels: feat XS

#5051 Increases Integration Tests Coverage
  openbb_terminal/miscellaneous/integration_tests_scripts/economy/test_economy.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/etf/test_ca.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/etf/test_etf.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/mutual_funds/test_mutual_fund.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_ca.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_disc.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_fa.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_stocks.openbb
Labels: feat S

#5056 Preserve stock ticker suffix
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_controller.py
Labels: bug, feat XS

#5024 Hotfix/docs-sdk-basics: Updates SDK basics page.
  website/content/sdk/installation.md
  website/content/sdk/usage/basics/index.md
  website/content/sdk/usage/guides/api-keys.md
  website/content/sdk/usage/guides/changing-sources.md
  website/content/sdk/usage/guides/chart-styling.md
  website/content/sdk/usage/guides/data.md
  website/content/sdk/usage/intros/stocks/insiders.md
  website/content/terminal/installation/pypi.md
  website/content/terminal/usage/guides/api-keys.md
Labels: docs, feat L, guides, SDK

#5060 fix integration test for fixedincome controller
  openbb_terminal/miscellaneous/integration_tests_scripts/fixedincome/test_fixedincome.openbb
Labels: feat XS

#5064 hotfix/ Options Historical + Crypto candles
  .gitignore
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/stocks/options/chartexchange_view.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/tradier_view.py
Labels: feat XS

#5055 Fix `/keys` status does not update after logging in
  openbb_terminal/keys_controller.py
Labels: feat XS

#5065 Fixes Description on Fixedincome
  openbb_terminal/fixedincome/fred_view.py
Labels: feat XS

#5018 Adds test for collinearity to the `econometrics` menu
  openbb_terminal/core/sdk/models/econometrics_sdk_model.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/econometrics/test_econometrics.openbb
  openbb_terminal/sdk.py
Labels: feat S

#5067 Hotfix/reddit spacc
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/helper_funcs.py
Labels: feat XS

#5061 Feature/ultima top headlines
  openbb_terminal/common/ultima_newsmonitor_model.py
  openbb_terminal/common/ultima_newsmonitor_view.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_model.py
  openbb_terminal/stocks/stocks_view.py
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[AAPL].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[FCX].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[TSLA].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[asdf$#].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[AAPL].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[FCX].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[TSLA].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[asdf&-$].yaml
  tests/openbb_terminal/common/csv/test_ultima_newsmonitor_model/test_get_news[AAPL].csv
  tests/openbb_terminal/common/csv/test_ultima_newsmonitor_model/test_get_news[FCX].csv
  tests/openbb_terminal/common/csv/test_ultima_newsmonitor_model/test_get_news[TSLA].csv
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[AAPL].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[FCX].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[TSLA].txt
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
Labels: feat XL

#5057 Creates examples folder for SDK Notebook examples
  examples/README.md
  examples/copperToGoldRatio.ipynb
  examples/loadHistoricalPriceData.ipynb
  examples/realizedVolatilityModels.ipynb
  examples/usdLiquidityIndex.ipynb
Labels: docs, feat XL, SDK

#5063 Editing some routine enhancements
  openbb_terminal/helper_funcs.py
  openbb_terminal/routine_functions.py
  openbb_terminal/terminal_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  tests/openbb_terminal/routines/test_routines.py
Labels: feat M

#5075 Update download link on update version text
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[AAPL].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[FCX].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[TSLA].txt
Labels: feat XS

#5049 Add more futures to curve (and probably some more bugs)
  generate_sdk.py
  openbb_terminal/fixedincome/fixedincome_controller.py
  openbb_terminal/fixedincome/fred_model.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/stocks/options/intrinio_model.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_helper.py
Labels: bug, feat XS

#5005 OpenBB Script Routines major improvement
  openbb_terminal/core/integration_tests/integration_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/routine_functions.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  tests/openbb_terminal/common/test_ultima_newsmonitor_view.py
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[AAPL].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[FCX].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[TSLA].txt
  tests/openbb_terminal/cryptocurrency/nft/txt/test_nft_controller/test_print_help.txt
  tests/openbb_terminal/mutual_funds/test_mstarpy_view.py
  tests/openbb_terminal/routines/test_routines.py
  website/content/terminal/usage/guides/scripts-and-routines.md
Labels: feat L

#5073 Install Page: adds reference to the YAML files for Python 3.8 and 3.10
  website/content/terminal/installation/pypi.md
  website/content/terminal/installation/source.md
Labels: docs, feat XS

#5077 Upload routine to hub on stop
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[AAPL].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[FCX].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[TSLA].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[asdf&-$].yaml
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[AAPL].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[FCX].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[TSLA].txt
Labels: feat XL

#5082 hotfix/ Dashboards random issue with theme not loading
  openbb_terminal/dashboards/streamlit_run.py
Labels: feat XS

#5084 hotfix/integration-test-fixes - patches integration tests: stocks/test_insider and test_screener
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_insider.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_screener.openbb
Labels: tests, feat XS
