Repository OpenBB-finance/OpenBB, pull requests merged in 2023-12, with the labels that each got.

#5841 Google Colab Install Notebook
  README.md
  examples/README.md
  examples/googleColab.ipynb
Labels: docs, feat XL, platform

#5844 Small change in extensions doc
  openbb_platform/README.md
  website/content/platform/extensions/data_extensions.md
Labels: feat XS

#5846 Test router models
  openbb_platform/extensions/tests/test_routers.py
  openbb_platform/extensions/tests/utils/router_testers.py
Labels: feat S, tests, platform, v4

#5851 Hotfix/unskip tests
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_query.py
  openbb_platform/core/tests/provider/abstract/test_fetcher.py
  openbb_platform/core/tests/provider/test_query_executor.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_yield_curve_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  openbb_platform/providers/stockgrid/tests/record/http/test_stockgrid_fetchers/test_stockgrid_short_volume_fetcher.yaml
  openbb_platform/providers/stockgrid/tests/test_stockgrid_fetchers.py
  openbb_platform/tests/test_extension_map.py
Labels: feat L

#5853 Pointing to the dev section of the docs instead
  website/content/platform/index.md
Labels: feat XS

#5855 hotfix/readme-url: Update CONTRIBUTING.md URL - Fix for #5850
  CONTRIBUTING.md
Labels: bug, docs, feat XS

#5857 hotfix/update-descriptions: updates some descriptions
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/regulators/openbb_regulators/cftc/cftc_router.py
  openbb_platform/extensions/regulators/openbb_regulators/sec/sec_router.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_yield_curve_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  website/metadata/platform_v4_seo_metadata.json
Labels: bug, feat S

#5839 hotfix/fix-fundamentals-symbol-validator: Fixes error created by validator.
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement.py
Labels: feat XS

#5854 fix: minor typos in the docs
  CONTRIBUTING.md
  build/README.md
  build/pyinstaller/macOS/darwin/Resources/conclusion.html
  build/pyinstaller/macOS/darwin/Resources/uninstall.sh
  examples/v3/README.md
  openbb_platform/CONTRIBUTING.md
  openbb_platform/README.md
  openbb_platform/core/README.md
  openbb_platform/extensions/README.md
  openbb_platform/extensions/charting/README.md
Labels: feat XS

#5856 Update CPI docstring
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
Labels: feat XS

#5861 Feature/add version
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
Labels: feat XS, platform

#5828 Add sector news route and test placeholders
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/news/openbb_news/news_router.py
Labels: feat XS, v4

#5824 Ultima Sector News Fetcher
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/models/sector_news.py
  openbb_platform/providers/ultima/tests/test_ultima_fetchers.py
Labels: feat S

#5865 Introduce integration test modularity
  openbb_platform/extensions/charting/integration/test_charting_api.py
  openbb_platform/extensions/charting/integration/test_charting_python.py
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_api.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/extensions/technical/integration/test_technical_api.py
  openbb_platform/extensions/technical/integration/test_technical_python.py
  openbb_platform/extensions/tests/conftest.py
  openbb_platform/extensions/tests/test_docstring_examples.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/integration_tests_api_generator.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/integration/utils/helpers.py
Labels: enhancement, feat L, tests, platform, v4

#5867 hotfix/uvicorn-docs: Update Command Syntax - Fixes #5858
  website/content/platform/development/contributor-guidelines/quality_assurance.md
  website/content/platform/development/index.md
Labels: docs, feat XS, platform

#5863 feature/intrinio-equity-search: Adds Intrinio to `obb.equity.search()`
  openbb_platform/core/openbb_core/provider/standard_models/equity_search.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_search.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_equity_search_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: feat S, platform, v4

#5845 feature/yfinance-multi-ticker: Adds support to openbb-yfinance for multi-ticker download.
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/market_indices.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_crypto_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_market_indices_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: feat XL, platform, v4

#5757 feature/sec-etf-holdings: Adds ETF holdings from SEC provider
  openbb_platform/core/openbb_core/provider/standard_models/etf_holdings.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/sec/openbb_sec/models/py.typed
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
  openbb_platform/providers/sec/openbb_sec/utils/py.typed
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_etf_holdings_fetcher.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Labels: feat XL, platform, extensions, v4

#5776 Feature/us-treasury-prices: Adds Treasury Prices to Fixed Income
  openbb_platform/core/openbb_core/provider/standard_models/treasury_prices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/government_us/openbb_government_us/utils/helpers.py
  openbb_platform/providers/government_us/tests/record/http/test_government_us_fetchers/test_government_us_treasury_prices_fetcher.yaml
  openbb_platform/providers/government_us/tests/test_government_us_fetchers.py
Labels: feat M, platform, extensions, v4

#5790 feature/nasdaq-equity-search: Adds Nasdaq provider for `obb.equity.search()`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_search.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_equity_search_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: feat XL, platform, v4

#5872 Allow yf to be run in joblib parallel
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: feat XS

#5878 Limit mypy v3 linting to only the diff of the PR
  .github/workflows/linting.yml
Labels: tests, feat XS

#5873 Use custom parametrize from news menu tests
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/ultima/tests/record/http/test_ultima_fetchers/test_ultima_company_news_fetcher.yaml
  openbb_platform/providers/ultima/tests/record/http/test_ultima_fetchers/test_ultima_sector_news_fetcher.yaml
Labels: feat M, tests, v4

#5874 Command Schema
  openbb_platform/core/openbb_core/api/router/helpers/__init__.py
  openbb_platform/core/openbb_core/api/router/helpers/coverage_helpers.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/tests/app/static/test_coverage.py
Labels: feat S, platform, v4

#5877 Parameterize `obbject.to_df` with `index` and `sort_by`
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/tests/app/model/test_obbject.py
Labels: feat XS

#5876 Changes to the `obb.fixedincome.corporate.hqm()` output
  .github/pull_request_template.md
  openbb_platform/providers/fred/openbb_fred/models/hqm.py
Labels: feat XS

#5879 Refactor method in RegistryMap
  openbb_platform/core/openbb_core/provider/registry_map.py
Labels: feat XS, platform

#5882 Remove Literal from providers in OBBject
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Labels: feat XS, platform

#5883 Fix version
  openbb_platform/core/openbb_core/app/version.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug, feat XS, platform, v4

#5880 Refactor package builder
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/build_utils.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/console.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/app/static/utils/linters.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/app/static/test_build_utils.py
  openbb_platform/core/tests/app/static/test_filters.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/core/tests/app/static/utils/test_linters.py
  openbb_platform/openbb/__init__.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators.py
  openbb_platform/openbb/package/regulators_sec.py
Labels: feat XL, platform

#5886 Small refactor on `economy.fred.search()`
  openbb_platform/providers/fred/openbb_fred/models/search.py
Labels: feat XS

#5888 Fix bug. Add router test.
  openbb_platform/extensions/tests/test_routers.py
  openbb_platform/extensions/tests/utils/router_testers.py
Labels: bug, tests, feat XS, platform, v4

#5892 separate pylint between platform + terminal
  .github/workflows/linting.yml
Labels: tests, feat XS

#5890 Add REST API docs page with advanced settings configuration
  .secrets.baseline
  website/content/platform/installation.md
  website/content/platform/usage/index.md
  website/content/platform/usage/rest_api.md
Labels: docs, feat S

#5891 docs/fix-example: fix a v3 syntax example
  website/content/sdk/data-available/etf.md
Labels: bug, docs, feat XS

#5885 Adds federal reserve data points
  openbb_platform/core/openbb_core/provider/standard_models/money_measures.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_rates.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/providers/federal_reserve/README.md
  openbb_platform/providers/federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/fed_rates.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/money_measures.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/federal_reserve/pyproject.toml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fed_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_money_measures_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_treasury_rates_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
  openbb_platform/pyproject.toml
Labels: feat XL, v4

#5899 Add econometrics API tests
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
Labels: feat S, tests, platform, v4

#5895 Fix pylint scope
  .github/workflows/linting.yml
Labels: feat XS

#5896 hotfix / asyncio lock in python REPL
  openbb_platform/core/openbb_core/provider/utils/helpers.py
Labels: feat XS

#5794 feature/financials - PR for working on structure of financial statements.
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow.py
  openbb_platform/core/openbb_core/provider/standard_models/financial_ratios.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement.py
  openbb_platform/core/openbb_core/provider/standard_models/reported_financials.py
  openbb_platform/core/openbb_core/provider/utils/descriptions.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_balance_sheet_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_income_statement_fetcher.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_ratios.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/reported_financials.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_financial_ratios_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_reported_financials_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_balance_sheet_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_income_statement_fetcher.yaml
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
Labels: feat XL, platform, v4

#5904 docs/legacy-install: Add warning at top of page - Instructions on this page are for installing the Terminal
  website/content/platform/installation.md
  website/content/terminal/installation/pypi.md
  website/content/terminal/installation/source.md
Labels: docs, feat XS
