Repository OpenBB-finance/OpenBB, pull requests merged in 2023-03, with the labels that each got.

#4357 Fix issue 4316
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/forex/polygon_model.py
  openbb_terminal/stocks/options/options_controller.py
  tests/conftest.py
Labels: feat XS

#4359 merge release into develop
  .github/workflows/gh-pages.yml
  .github/workflows/unit-test.yml
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/feature_flags.py
  openbb_terminal/forex/polygon_model.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/conftest.py
  website/content/terminal/quickstart/installation.md
Labels: feat XS

#4360 Fixing SDK login
  openbb_terminal/session/sdk_session.py
Labels: bug, feat XS

#4365 Unpin old version of jsonschema
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS, dependencies

#4366 Hotfix/docs pip install
  website/content/sdk/quickstart/installation.md
Labels: bug, docs, feat XS

#3942 Hotfix/bug #3837
  openbb_terminal/cryptocurrency/discovery/dappradar_model.py
  openbb_terminal/cryptocurrency/discovery/dappradar_view.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_model.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_view.py
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_coins-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_losers-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_trending-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].csv
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_coins-kwargs0].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_losers-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_trending-kwargs3].txt
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_shroom_view/test_display_dapp_stats.txt
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[financial].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[overview].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[ownership].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[performance].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[technical].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[valuation].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data_no_limit.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data_no_preset_loaded.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener[False].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener[True].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener_sort_matches[MOCK_SORT].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener_sort_matches[Ticker].yaml
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[financial].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[overview].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[ownership].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[performance].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[technical].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[valuation].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_limit.csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_preset_loaded.csv
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[False].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[True].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[MOCK_SORT].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[Ticker].txt
Labels: feat XL

#4368 Release/2.5.1
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/docker/openbb.dockerfile
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/cryptocurrency/discovery/dappradar_model.py
  openbb_terminal/cryptocurrency/discovery/dappradar_view.py
  openbb_terminal/cryptocurrency/discovery/discovery_controller.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_model.py
  openbb_terminal/cryptocurrency/discovery/pycoingecko_view.py
  openbb_terminal/feature_flags.py
  openbb_terminal/session/sdk_session.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_coins-kwargs0].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_losers-kwargs2].yaml
  tests/openbb_terminal/cryptocurrency/discovery/cassettes/test_pycoingecko_view/test_call_func[display_trending-kwargs3].yaml
  tests/openbb_terminal/cryptocurrency/discovery/csv/test_pycoingecko_model/test_call_func[get_gainers_or_losers-kwargs3].csv
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_coins-kwargs0].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_gainers-kwargs1].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_losers-kwargs2].txt
  tests/openbb_terminal/cryptocurrency/discovery/txt/test_pycoingecko_view/test_call_func[display_trending-kwargs3].txt
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_shroom_view/test_display_dapp_stats.txt
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[financial].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[overview].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[ownership].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[performance].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[technical].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data[valuation].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data_no_limit.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_model/test_get_screener_data_no_preset_loaded.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener[False].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener[True].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener_sort_matches[MOCK_SORT].yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_finviz_view/test_screener_sort_matches[Ticker].yaml
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[financial].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[overview].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[ownership].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[performance].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[technical].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data[valuation].csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_limit.csv
  tests/openbb_terminal/stocks/screener/csv/test_finviz_model/test_get_screener_data_no_preset_loaded.csv
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[False].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[True].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[MOCK_SORT].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[Ticker].txt
  website/content/sdk/quickstart/installation.md
  website/content/terminal/quickstart/installation.md
Labels: feat XL

#4370 release -> dev
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/docker/openbb.dockerfile
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/feature_flags.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/content/terminal/quickstart/installation.md
Labels: feat XS

#4371 Hotfix/rvol model
  openbb_terminal/common/technical_analysis/volatility_model.py
Labels: enhancement, feat XS

#4379 hotfix/Fix troubleshooting and adding lines
  website/content/terminal/quickstart/installation.md
  website/content/terminal/quickstart/troubleshooting.md
Labels: docs, feat XS

#4381 Merge main into develop
  openbb_terminal/fixedincome/commercial_paper.xlsx
  openbb_terminal/fixedincome/corporate_spot_rates.xlsx
  openbb_terminal/fixedincome/ice_bofa_indices.xlsx
  poetry.lock
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/fixedincome/csv/test_ecb_model/test_get_series_data.csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-YahooFinance].csv
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[None].txt
  tests/openbb_terminal/stocks/technical_analysis/txt/test_ta_controller/test_print_help[start0].txt
  website/content/terminal/quickstart/installation.md
  website/content/terminal/quickstart/troubleshooting.md
Labels: feat XL

#4387 hotfix/economy-charts
  CONTRIBUTING.md
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/table.html
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/fixedincome/commercial_paper.xlsx
  openbb_terminal/fixedincome/corporate_spot_rates.xlsx
  openbb_terminal/fixedincome/ice_bofa_indices.xlsx
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict4].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict6].csv
Labels: feat M

#4390 hotfix whisper folder check
  openbb_terminal/forecast/whisper_model.py
Labels: bug, feat XS

#4389 hotfix/Add needed libs to Full Test Suite workflows
  .github/workflows/unit-test.yml
Labels: feat XS

#4403 Fix funds country choices
  openbb_terminal/helper_funcs.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
Labels: bug, feat XS

#4378 Update helper_classes.py bug on line 126
  openbb_terminal/helper_classes.py
Labels: feat XS

#4405 Make the UI a little cleaner
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/backtesting/bt_controller.py
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/backtesting/txt/test_bt_controller/test_print_help.txt
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_cramer_ticker[True].txt
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_quandl_view/test_short_interest[False-True].txt
  tests/openbb_terminal/stocks/dark_pool_shorts/txt/test_quandl_view/test_short_interest[True-True].txt
  tests/openbb_terminal/stocks/discovery/csv/test_ark_model/test_add_order_total.csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_financials[ABBV-balance-sheet].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_financials[ABBV-cash-flow].csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_financials[ABBV-financials].csv
  tests/openbb_terminal/stocks/options/txt/test_tradier_view/test_display_historical.txt
  tests/openbb_terminal/stocks/screener/csv/test_ark_model/test_get_ark_trades_by_ticker.csv
Labels: feat M

#4406 Fix typo in conftest.py
  tests/openbb_terminal/forecast/conftest.py
Labels: feat XS

#4410 Allow `stocks/load --file` from anywhere
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_controller.py
Labels: bug, feat XS

#4408 Fixes #4351 - Data displays in chronological order(recent to older) a…
  openbb_terminal/stocks/insider/businessinsider_model.py
Labels: feat XS

#4419 Update default sources
  openbb_terminal/miscellaneous/data_sources_default.json
Labels: bug, feat S

#4414 Hotfix/guides `about keys` URL patch
  openbb_terminal/terminal_helper.py
Labels: bug, docs, feat XS

#4411 Fix `Stocks/Candle --raw` - sort choices are not the columns.
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/stocks/stock_statics.py
Labels: bug, feat XS

#4413 `fixedincome/treasury` some fixes
  openbb_terminal/fixedincome/fixedincome_controller.py
  openbb_terminal/fixedincome/oecd_model.py
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[long].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[long_forecast].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[short].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[short_forecast].yaml
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[long].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[long_forecast].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[short].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[short_forecast].csv
Labels: feat S

#4421 Fix nulls in fa commands from FMP
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
Labels: bug, feat XS

#4431 Fix ff breaking terminal
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#4432 Fix .env reading before loading
  openbb_terminal/config_terminal.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/sdk.py
  terminal.py
Labels: bug, feat XS

#4430 Fix dcf messages for non-us companies
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: bug, feat XS

#4429 Fix wrong version number
  generate_sdk.py
  openbb_terminal/config_terminal.py
  openbb_terminal/feature_flags.py
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/account/test_account_model.py
  tests/openbb_terminal/forecast/test_forecast_controller.py
  tests/openbb_terminal/session/test_user.py
  tests/openbb_terminal/test_terminal_helper.py
Labels: bug, feat XS

#4428 Patch reports
  generate_sdk.py
  openbb_terminal/core/sdk/models/fixedincome_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/core/session/session_model.py
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
  openbb_terminal/sdk.py
Labels: bug, feat M, notebookreports

#4433 Fix fa/income bugs + update integration tests
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_stocks_fa.openbb
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/stock_statics.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug, feat XS

#4438 Improve integration tests
  openbb_terminal/miscellaneous/integration_tests_scripts/cryptocurrency/test_crypto_ov.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/cryptocurrency/test_crypto_ta.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/econometrics/test_econometrics_base.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/forex/test_forex_av.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/forex/test_forex_qa.openbb
Labels: feat XS

#4218 Fix portfolio and benchmark length matching
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/portfolio/portfolio_helper.py
Labels: bug, feat XS, portfolio

#4391 Update contributing guide (added a new feature while doing so)
  .github/workflows/unit-test.yml
  CONTRIBUTING.md
  openbb_terminal/cryptocurrency/technical_analysis/ta_controller.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
Labels: feat M

#4382 Update documentation with more detailed installation instructions, requirements and more
  pyproject.toml
  website/content/sdk/faq.md
  website/content/sdk/guides/advanced/api-keys.md
  website/content/sdk/guides/advanced/changing-sources.md
  website/content/sdk/guides/advanced/data.md
  website/content/sdk/installation.md
  website/content/sdk/quickstart/_category_.json
  website/content/sdk/quickstart/installation.md
  website/content/sdk/quickstart/requirements.md
  website/content/sdk/reference/_category_.json
  website/content/terminal/faq.md
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/guides/advanced/changing-sources.md
  website/content/terminal/guides/advanced/customizing-the-terminal.md
  website/content/terminal/guides/advanced/data.md
  website/content/terminal/guides/advanced/scripts-and-routines.md
  website/content/terminal/guides/basics/index.md
  website/content/terminal/installation/_category_.json
  website/content/terminal/installation/docker.md
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/source.md
  website/content/terminal/installation/windows.md
  website/content/terminal/quickstart/_category_.json
  website/content/terminal/quickstart/installation.md
  website/content/terminal/quickstart/requirements.md
  website/content/terminal/reference/_category_.json
  website/pypi.md
  website/src/components/General/InstallerButton.tsx
  website/src/components/General/TerminalInstallerRedirect.tsx
  website/src/css/custom.css
  website/src/theme/Tabs/index.js
Labels: docs, feat XL

#4445 Update routines upload
  openbb_terminal/core/session/hub_model.py
Labels: bug, feat XS

#4448 Hotfix/Temp Plots Backend html files
  openbb_terminal/config_terminal.py
  openbb_terminal/core/plots/backend.py
Labels: feat XS

#4452 Fix the log collection preference name
  CONTRIBUTING.md
  openbb_terminal/core/integration_tests/integration_controller.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/models/preferences_model.py
Labels: feat XS

#4454 Move start plot backend
  openbb_terminal/config_terminal.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/sdk.py
  openbb_terminal/terminal_controller.py
Labels: feat XS

#4450 Integration tests for etf/ta
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/technical_analysis/ta_controller.py
  openbb_terminal/miscellaneous/integration_tests_scripts/etf/test_etf_ta.openbb
Labels: tests, feat XS

#4456 Handle pydantic ValidationError reading .env
  openbb_terminal/core/models/credentials_model.py
  openbb_terminal/core/session/credentials_handler.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/env_handler.py
Labels: bug, feat XS

#4451 Fix docs path for docker and pypi
  .github/workflows/nightly-pypi.yml
  build/docker/openbb.dockerfile
Labels: feat XS

#4464 docs: fix typo
  website/content/terminal/guides/intros/crypto/defi.md
Labels: feat XS

#4461 Update SDK_README.md
  openbb_terminal/SDK_README.md
Labels: feat XS

#4468 Fix preferences handler bug + dataclass repr
  openbb_terminal/core/models/credentials_model.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/session/credentials_handler.py
  openbb_terminal/core/session/preferences_handler.py
Labels: bug, feat XS

#4470 Patch flag for log collection
  CONTRIBUTING.md
  openbb_terminal/core/integration_tests/integration_controller.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/models/preferences_model.py
Labels: bug, feat XS, analytics

#4469 Fix `stocks/fa/fraud` command
  openbb_terminal/stocks/fundamental_analysis/av_model.py
Labels: bug, feat XS

#4466 docs: typo fix
  website/content/terminal/installation/docker.md
Labels: feat XS

#4471 Hotfix/Table html inf loop
  openbb_terminal/core/plots/backend.py
Labels: feat XS

#4474 Patch UserModel on logs
  openbb_terminal/core/log/generation/settings_logger.py
Labels: bug, feat XS, analytics

#4475 Prefix OPENBB_ for .env vars
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/models/credentials_model.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/session/credentials_handler.py
  openbb_terminal/core/session/env_handler.py
  openbb_terminal/core/session/preferences_handler.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_helper.py
Labels: bug, feat S

#4476 Change `SessionId` to uuid-like format
  openbb_terminal/loggers.py
Labels: feat XS

#4472 Authentication QA fixes
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/session/hub_model.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args0-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args1-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args2-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args3-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args4-True].txt
  tests/openbb_terminal/session/test_hub_model.py
Labels: bug, feat XS, account

#4478 Update reddit connection client
  openbb_terminal/common/behavioural_analysis/reddit_helpers.py
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/stocks/behavioural_analysis/test_ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
Labels: bug, feat M, refactor, dependencies

#4490 Fix Pandas Warning
  openbb_terminal/common/quantitative_analysis/qa_view.py
Labels: feat XS

#4479 Remove matplotlib references
  openbb_terminal/alternative/covid/covid_view.py
  openbb_terminal/common/behavioural_analysis/google_view.py
  openbb_terminal/common/behavioural_analysis/twitter_view.py
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/cryptocurrency/defi/llama_view.py
  openbb_terminal/cryptocurrency/due_diligence/coinglass_view.py
  openbb_terminal/cryptocurrency/due_diligence/finbrain_crypto_view.py
  openbb_terminal/cryptocurrency/due_diligence/glassnode_view.py
  openbb_terminal/cryptocurrency/due_diligence/messari_view.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_view.py
  openbb_terminal/cryptocurrency/onchain/shroom_view.py
  openbb_terminal/cryptocurrency/overview/blockchaincenter_view.py
  openbb_terminal/cryptocurrency/overview/glassnode_view.py
  openbb_terminal/cryptocurrency/overview/loanscan_view.py
  openbb_terminal/cryptocurrency/overview/tokenterminal_view.py
  openbb_terminal/economy/alphavantage_view.py
  openbb_terminal/etf/fmp_view.py
  openbb_terminal/forex/oanda/oanda_view.py
  openbb_terminal/futures/databento_view.py
  openbb_terminal/parent_classes.py
  openbb_terminal/rich_config.py
  openbb_terminal/sdk.py
  openbb_terminal/stocks/behavioural_analysis/finnhub_view.py
  openbb_terminal/stocks/comparison_analysis/finbrain_view.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/dark_pool_shorts/quandl_view.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_view.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/government/quiverquant_view.py
  openbb_terminal/stocks/insider/businessinsider_view.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
Labels: feat S, refactor

#4493 Hotfix/fred
  openbb_terminal/economy/economy_controller.py
  tests/openbb_terminal/economy/test_economy_controller.py
Labels: feat XS

#4498 Remove old SDK files
  openbb_terminal/core/library/__init__.py
  openbb_terminal/core/library/breadcrumb.py
  openbb_terminal/core/library/metadata.py
  openbb_terminal/core/library/operation.py
  openbb_terminal/core/library/trail_map.py
Labels: feat M

#4500 Hotfix/Interactive in `featflags` menu
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/session/preferences_handler.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/stocks_view.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args0-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args1-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args2-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args3-False].txt
Labels: feat XS

#4505 Fixed the stock/load selection items
  openbb_terminal/stocks/stocks_controller.py
Labels: feat XS

#4482 Deprecating some functions and removing old unused code
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/portfolio/brokers/ally/ally_controller.py
  openbb_terminal/portfolio/brokers/ally/ally_model.py
  openbb_terminal/portfolio/brokers/ally/ally_view.py
  openbb_terminal/portfolio/brokers/bro_controller.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/behavioural_analysis/cramer_model.py
  openbb_terminal/stocks/behavioural_analysis/cramer_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/pricing/pricing_controller.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/options/yfinance_view.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/stocks/behavioural_analysis/test_cramer_model.py
  tests/openbb_terminal/stocks/behavioural_analysis/test_cramer_view.py
  tests/openbb_terminal/stocks/options/test_options_controller.py
  tests/openbb_terminal/stocks/options/test_pricing_controller.py
  tests/openbb_terminal/stocks/options/test_yfinance_view.py
  tests/openbb_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
  website/old_content/terminal/portfolio/bro/ally/_index.md
  website/old_content/terminal/portfolio/bro/ally/balances/_index.md
  website/old_content/terminal/portfolio/bro/ally/history/_index.md
  website/old_content/terminal/portfolio/bro/ally/holdings/_index.md
  website/old_content/terminal/portfolio/bro/ally/movers/_index.md
  website/old_content/terminal/portfolio/bro/ally/quote/_index.md
Labels: feat XL

#4506 Hotfix - `get_monitors()` error when no enumerators available
  openbb_terminal/helper_funcs.py
Labels: feat XS

#4504 Improve Loading Custom Files
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_helper.py
Labels: feat XS

#4503 Made fa/pt more accurate
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_plt.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_raw.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_price_target_from_analysts_raw.txt
Labels: feat XL

#4440 Update dev deps
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  .pylintrc
  openbb_terminal/alternative/realestate/landRegistry_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/keys_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
Labels: feat XS

#4512 Fixed crypto dashboard
  openbb_terminal/dashboards/voila/crypto.ipynb
Labels: bug, feat XS

#4513 Improve handling for dot in ticker
  openbb_terminal/reports/reports_controller.py
Labels: bug, feat XS

#4511 Removed duplicate chart
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/yfinance_view.py
  openbb_terminal/helper_funcs.py
  tests/openbb_terminal/economy/test_economy_controller.py
Labels: feat S

#4516 Adds Error Handling to the options class
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  tests/openbb_terminal/stocks/options/test_op_helpers.py
Labels: feat S

#4518 Fix Finviz Error
  openbb_terminal/stocks/fundamental_analysis/finviz_model.py
Labels: feat XS

#4519 Hotfix/3591
  openbb_terminal/portfolio/portfolio_view.py
Labels: feat XS

#4536 Update "visualize_output" function
  openbb_terminal/helper_classes.py
Labels: feat XS

#4524 Fixing `fa/` bugs
  .pre-commit-config.yaml
  generate_sdk.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/sdk.py
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/finviz_model.py
  openbb_terminal/stocks/fundamental_analysis/finviz_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_csimarket_model/test_get_customers.csv
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_csimarket_model/test_get_suppliers.csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_display_fraud[df0].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_csimarket_view/test_get_customers.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_csimarket_view/test_get_suppliers.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_display_filings.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_rating.txt
  tests/test_generate_sdk.py
Labels: bug, feat XL

#4509 Add login command
  openbb_terminal/account/account_controller.py
  openbb_terminal/account/account_model.py
  openbb_terminal/base_helpers.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/sdk_session.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  terminal.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_download.txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_list.txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args0-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args1-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args2-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args3-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args4-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/session/txt/test_session_controller/test_get_user_input.txt
  tests/openbb_terminal/session/txt/test_session_controller/test_get_user_input_with_save.txt
Labels: feat M

#4534 Fix show version flag not being saved in .env
  tests/test_generate_sdk.py
Labels: bug, feat XS

#4497 Update crypto newsletter substack to RSS. fixes #4496
  openbb_terminal/cryptocurrency/defi/substack_model.py
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_substack_model/test_get_newsletters.yaml
  tests/openbb_terminal/cryptocurrency/defi/cassettes/test_substack_view/test_display_newsletters.yaml
  tests/openbb_terminal/cryptocurrency/defi/csv/test_substack_model/test_get_newsletters.csv
  tests/openbb_terminal/cryptocurrency/defi/txt/test_substack_view/test_display_newsletters.txt
Labels: feat XL

#4547 Fixes the Upcoming Command
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/seeking_alpha_model.py
  openbb_terminal/stocks/discovery/seeking_alpha_view.py
  tests/openbb_terminal/stocks/discovery/cassettes/test_seeking_alpha_model/test_get_next_earnings.yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_seeking_alpha_view/test_upcoming_earning_release_dates.yaml
  tests/openbb_terminal/stocks/discovery/csv/test_seeking_alpha_model/test_get_next_earnings.csv
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/discovery/txt/test_seeking_alpha_view/test_upcoming_earning_release_dates.txt
Labels: feat L

#4467 Feature/In-Chart Volume, Streamlit TA Indicators
  .gitattributes
  .github/workflows/unit-test.yml
  openbb_terminal/alternative/covid/covid_view.py
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/common/technical_analysis/custom_indicators_view.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/base.py
  openbb_terminal/core/plots/plotly_ta/data_classes.py
  openbb_terminal/core/plots/plotly_ta/plugins/custom_indicators_plugin.py
  openbb_terminal/core/plots/plotly_ta/plugins/momentum_plugin.py
  openbb_terminal/core/plots/plotly_ta/plugins/overlap_plugin.py
  openbb_terminal/core/plots/plotly_ta/plugins/trend_indicators_plugin.py
  openbb_terminal/core/plots/plotly_ta/plugins/volatility_plugin.py
  openbb_terminal/core/plots/plotly_ta/plugins/volume_plugin.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/helpers.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/core/plots/web/popups.js
  openbb_terminal/core/session/current_user.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/stream/Forecasting.py
  openbb_terminal/dashboards/stream/forecast.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/dashboards/voila/chains.ipynb
  openbb_terminal/dashboards/voila/crypto.ipynb
  openbb_terminal/dashboards/voila/currencies.ipynb
  openbb_terminal/dashboards/voila/futures.ipynb
  openbb_terminal/dashboards/voila/vsurf.ipynb
  openbb_terminal/dashboards/widget_helpers.py
  openbb_terminal/dashboards/widgets/card.j2
  openbb_terminal/dashboards/widgets/currencies.json
  openbb_terminal/dashboards/widgets/style.css
  openbb_terminal/economy/fred_view.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/stocks/options/chartexchange_view.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/options/yfinance_view.py
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-YahooFinance].csv
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fa_controller/test_call_func[call_sec-marketwatch_view.sec_filings-other_args37-called_with37].yaml
  website/controller_doc_classes.py
Labels: feat XL

#4549 Fix build workflow on Intel macs
  .github/workflows/intel_macos_build.yml
Labels: feat XS

#4550 Fix M1 CI
  .github/workflows/m1_macos_build.yml
Labels: feat XS

#4491 Adds `BaseModel` and `SystemModel`
  generate_sdk.py
  openbb_terminal/config_terminal.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/models/__init__.py
  openbb_terminal/core/models/base_model.py
  openbb_terminal/core/models/credentials_model.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/models/profile_model.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/models/user_model.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/core/session/current_system.py
  openbb_terminal/core/session/env_handler.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/system_handler.py
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/loggers.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/rich_config.py
  openbb_terminal/sdk.py
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_helper.py
  terminal.py
  tests/conftest.py
  tests/openbb_terminal/stocks/discovery/cassettes/test_seeking_alpha_model/test_get_next_earnings.yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_seeking_alpha_view/test_upcoming_earning_release_dates.yaml
  tests/openbb_terminal/stocks/discovery/csv/test_seeking_alpha_model/test_get_next_earnings.csv
  tests/openbb_terminal/stocks/discovery/txt/test_seeking_alpha_view/test_upcoming_earning_release_dates.txt
  tests/openbb_terminal/test_loggers.py
  tests/openbb_terminal/test_terminal_helper.py
Labels: feat M

#4563 Economy menu bugs <> making the integration test work
  openbb_terminal/common/quantitative_analysis/qa_view.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/oecd_model.py
  openbb_terminal/economy/oecd_view.py
  openbb_terminal/miscellaneous/integration_tests_scripts/economy/test_economy.openbb
Labels: bug, feat M, tests

#4571 fix windows build
  tests/openbb_terminal/mutual_funds/record/http/test_mstrapy_model/test_search_funds.yaml
  tests/openbb_terminal/mutual_funds/record/http/test_mstrapy_model/test_search_funds[NYSE-US-1-expected_columns2].yaml
  tests/openbb_terminal/mutual_funds/record/http/test_mstrapy_model/test_search_funds[NYSEARCA:VUG-US-1-expected_columns2].yaml
  tests/openbb_terminal/mutual_funds/record/http/test_mstrapy_model/test_search_funds[UNH-US-1-expected_columns1].yaml
  tests/openbb_terminal/mutual_funds/record/http/test_mstrapy_model/test_search_funds[Vanguard-US-1-expected_columns0].yaml
  tests/openbb_terminal/mutual_funds/record/object_hash/test_mstrapy_model/test_search_funds.json
  tests/openbb_terminal/mutual_funds/record/object_hash/test_mstrapy_model/test_search_funds[NYSE-US-1-expected_columns2].json
  tests/openbb_terminal/mutual_funds/record/object_hash/test_mstrapy_model/test_search_funds[NYSEARCA:VUG-US-1-expected_columns2].json
  tests/openbb_terminal/mutual_funds/record/object_hash/test_mstrapy_model/test_search_funds[UNH-US-1-expected_columns1].json
Labels: bug, feat S

#4561 hotfix/PyWry Linux Wheels-Import Error Handing
  .github/workflows/unit-test.yml
  .gitignore
  build/docker/openbb.dockerfile
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/no_import.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/dashboards/dashboards_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat S

#4565 Hub | Add sources sync
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/models/__init__.py
  openbb_terminal/core/models/sources_model.py
  openbb_terminal/core/models/user_model.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/core/session/sources_handler.py
  openbb_terminal/core/sources/utils.py
  openbb_terminal/dashboards/voila/chains.ipynb
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/rich_config.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
Labels: feat XL, account

#4580 Fix pytest writing to .env
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/test_settings_controller.py
Labels: bug, tests, feat XS

#4577 Fix mocking
  openbb_terminal/alternative/alt_controller.py
  tests/openbb_terminal/mutual_funds/record/screen/test_mstrapy_view/test_display_historical[loaded_fund0-2020-01-01-2020-12-31-kwargs0].json
  tests/openbb_terminal/mutual_funds/test_mstrapy_model.py
  tests/openbb_terminal/mutual_funds/test_mstrapy_view.py
  tests/openbb_terminal/mutual_funds/test_mutual_fund_controller.py
Labels: bug, feat XS

#4581 Release -> develop
  .github/workflows/gh-pages.yml
  .github/workflows/integration-test.yml
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/no_import.py
  openbb_terminal/dashboards/voila/chains.ipynb
  openbb_terminal/forecast/helpers.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/stocks/options/high_iv.ini
  openbb_terminal/miscellaneous/stocks/options/iv_below_20day.ini
  openbb_terminal/terminal_helper.py
  pyproject.toml
  tests/openbb_terminal/stocks/options/ini/spy_30_delta.ini
  tests/openbb_terminal/stocks/options/ini/template.ini
  website/content/terminal/usage/guides/data.md
  website/controller_doc_classes.py
  website/docusaurus.config.js
Labels: feat M

#4576 Added sources
  openbb_terminal/stocks/fundamental_analysis/sdk_helpers.py
Labels: feat XS

#4574 Fixes crypto ov issue
  openbb_terminal/miscellaneous/i18n/en.yml
  tests/openbb_terminal/cryptocurrency/overview/txt/test_overview_controller/test_print_help.txt
Labels: feat XS

#4548 Hotfix/3596
  openbb_terminal/common/behavioural_analysis/reddit_helpers.py
  openbb_terminal/common/behavioural_analysis/reddit_model.py
  openbb_terminal/common/behavioural_analysis/reddit_view.py
Labels: feat M

#4598 Update Readme for new install links
  README.md
Labels: feat XS

#4590 Fix grammatical error in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: feat XS

#4546 Hub | Add colors, sources sync
  .gitignore
  openbb_terminal/account/account_controller.py
  openbb_terminal/account/account_model.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/models/__init__.py
  openbb_terminal/core/models/base_model.py
  openbb_terminal/core/models/credentials_model.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/models/sources_model.py
  openbb_terminal/core/models/user_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/env_handler.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/core/session/sources_handler.py
  openbb_terminal/core/session/system_handler.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/core/sources/utils.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/rich_config.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/test_account_model.py
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/cassettes/test_keys_model/test_set_av_key[args0-False-True-defined, test passed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_av_key[args1-False-False-defined, test passed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_av_key[args2-True-True-defined, test passed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_av_key[args3-False-True-not defined].yaml
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/session/test_local_model.py
  tests/openbb_terminal/session/test_sdk_session.py
  tests/openbb_terminal/session/test_session_controller.py
  tests/openbb_terminal/session/test_user.py
  tests/openbb_terminal/session/txt/test_sdk_session/test_whoami.txt
  tests/openbb_terminal/txt/test_keys_model/test_set_av_key[args0-False-True-defined, test passed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_av_key[args2-True-True-defined, test passed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_av_key[args3-False-True-not defined].txt
Labels: feat L, account

#4602 refactor: reviewpad configuration
  reviewpad.yaml
Labels: enhancement

#4578 Table improvements
  frontend-components/tables/index.html
  frontend-components/tables/src/App.tsx
  frontend-components/tables/src/components/Select.tsx
  frontend-components/tables/src/components/Table/ColumnHeader.tsx
  frontend-components/tables/src/components/Table/Export.tsx
  frontend-components/tables/src/components/Table/FilterColumns.tsx
  frontend-components/tables/src/components/Table/Pagination.tsx
  frontend-components/tables/src/components/Table/Timestamp.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  frontend-components/tables/src/utils/useDarkMode.tsx
  frontend-components/tables/tailwind.config.cjs
  openbb_terminal/core/plots/table.html
Labels: feat M

#4596 Remove Oanda from forex sources
  openbb_terminal/forex/forex_helper.py
  openbb_terminal/miscellaneous/data_sources_default.json
  tests/openbb_terminal/forex/txt/test_forex_controller/test_print_help.txt
Labels: bug, feat L

#4597 Update settings logger
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/core/models/base_model.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/sdk/sdk_helpers.py
Labels: feat S, analytics

#4462 Adds eval, lags, corr and season commands to the econometrics menu
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/econometrics/econometrics_helpers.py
  openbb_terminal/econometrics/econometrics_model.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/econometrics/test_econometrics_base.openbb
Labels: feat M

#4195 Adjust for stock splits in portfolio engine
  openbb_terminal/portfolio/portfolio_engine.py
Labels: feat XS

#4607 bump pywry to 0.4.1
  openbb_terminal/core/plots/plotly_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4603 Catch tweetnews exceptions
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#4583 fix: trying new bg color
  website/content/bot/changelog/version1_0_0.mdx
  website/content/bot/changelog/version1_0_1.mdx
  website/content/bot/changelog/version1_0_2.mdx
  website/content/bot/changelog/version1_0_3.mdx
  website/content/bot/changelog/version1_0_4.mdx
  website/content/bot/changelog/version1_0_5.mdx
  website/content/bot/changelog/version1_0_6.mdx
  website/content/bot/changelog/version1_0_7.mdx
  website/content/bot/changelog/version1_0_8.mdx
  website/content/bot/index.md
  website/content/bot/installation/discord.md
  website/content/bot/installation/installation.md
  website/content/bot/installation/telegram.md
  website/content/terminal/changelog/version2_0_0.mdx
  website/content/terminal/changelog/version2_1_0.mdx
  website/content/terminal/changelog/version2_2_0.mdx
  website/content/terminal/changelog/version2_3_0.mdx
  website/content/terminal/changelog/version2_3_1.mdx
  website/content/terminal/changelog/version2_4_0.mdx
  website/content/terminal/changelog/version2_4_1.mdx
  website/content/terminal/changelog/version2_5_0.mdx
  website/content/terminal/installation/docker.md
  website/content/terminal/installation/index.md
  website/generate_sdk_markdown.py
  website/src/components/General/LinkCard.tsx
  website/src/components/General/ReferenceCard.tsx
  website/src/components/Icons/Apple.tsx
  website/src/components/Icons/Docker.tsx
  website/src/components/Icons/Source.tsx
  website/src/components/Icons/Windows.tsx
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/theme/ColorModeToggle/index.js
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/Footer/index.js
  website/src/theme/Navbar/Logo/index.js
  website/src/theme/NotFound.js
  website/src/theme/SearchBar/index.js
  website/static/img/404.png
  website/static/img/bot_bg_light.png
  website/static/img/sdk_bg_light.png
  website/static/img/sdk_bot_light.png
  website/static/img/terminal_bg_light.png
  website/utils/initialAlgoliaCrawler.js
Labels: feat M

#4612 Changes the order of source for `fa/overview`
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/stocks/fundamental_analysis/finviz_model.py
Labels: feat XS

#4615 Remove old `index.md` bot docs
  website/content/bot/installation.md
  website/content/bot/reference/discord/alerts/index.md
  website/content/bot/reference/discord/autopost/index.md
  website/content/bot/reference/discord/charts/index.md
  website/content/bot/reference/discord/crypto/defi/index.md
  website/content/bot/reference/discord/crypto/index.md
  website/content/bot/reference/discord/darkpool/index.md
  website/content/bot/reference/discord/discovery/index.md
  website/content/bot/reference/discord/duedilligence/index.md
  website/content/bot/reference/discord/economy/index.md
  website/content/bot/reference/discord/etfs/index.md
  website/content/bot/reference/discord/flow/index.md
  website/content/bot/reference/discord/fun/index.md
  website/content/bot/reference/discord/general/index.md
  website/content/bot/reference/discord/government/index.md
  website/content/bot/reference/discord/info/index.md
  website/content/bot/reference/discord/nft/index.md
  website/content/bot/reference/discord/options/index.md
  website/content/bot/reference/discord/pop/index.md
  website/content/bot/reference/discord/screeners/index.md
  website/content/bot/reference/discord/short_data/index.md
  website/content/bot/reference/telegram/charts/index.md
  website/content/bot/reference/telegram/crypto/index.md
  website/content/bot/reference/telegram/darkpool/index.md
  website/content/bot/reference/telegram/discovery/index.md
  website/content/bot/reference/telegram/duediligence/index.md
  website/content/bot/reference/telegram/economy/index.md
  website/content/bot/reference/telegram/etf/index.md
  website/content/bot/reference/telegram/flow/flow/index.md
  website/content/bot/reference/telegram/flow/flowsum/index.md
  website/content/bot/reference/telegram/flow/index.md
  website/content/bot/reference/telegram/fun/index.md
  website/content/bot/reference/telegram/general/index.md
  website/content/bot/reference/telegram/government/index.md
  website/content/bot/reference/telegram/info/index.md
  website/content/bot/reference/telegram/nft/index.md
  website/content/bot/reference/telegram/options/index.md
  website/content/bot/reference/telegram/overview/index.md
  website/content/bot/reference/telegram/screeners/index.md
  website/content/bot/reference/telegram/screeners/scr/index.md
  website/content/bot/reference/telegram/short_data/index.md
Labels: feat M

#4616 hotfix/Update index.md
  website/content/sdk/index.md
  website/content/terminal/index.md
Labels: docs, feat XS

#4341 Feature/pkginstall
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/macos_build.yml
  build/pyinstaller/build4mac.sh
  build/pyinstaller/macOS/.gitignore
  build/pyinstaller/macOS/build-macos.sh
  build/pyinstaller/macOS/darwin/Distribution
  build/pyinstaller/macOS/darwin/Resources/LICENSE.txt
  build/pyinstaller/macOS/darwin/Resources/background-light.png
  build/pyinstaller/macOS/darwin/Resources/background.png
  build/pyinstaller/macOS/darwin/Resources/banner.png
  build/pyinstaller/macOS/darwin/Resources/conclusion.html
  build/pyinstaller/macOS/darwin/Resources/uninstall.sh
  build/pyinstaller/macOS/darwin/Resources/welcome.html
  build/pyinstaller/macOS/darwin/scripts/postinstall
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
Labels: feat L

#4613 Hotfix/options plot-smile
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/css/style.css
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/core/plots/web/popups.js
  openbb_terminal/stocks/options/yfinance_view.py
Labels: feat S

#4610 Add mutual funds to sdk
  openbb_terminal/common/behavioural_analysis/reddit_helpers.py
  openbb_terminal/core/sdk/models/__init__.py
  openbb_terminal/core/sdk/models/funds_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/mutual_funds/avanza_model.py
  openbb_terminal/mutual_funds/mstarpy_model.py
  openbb_terminal/mutual_funds/mstarpy_view.py
  openbb_terminal/sdk.py
  tests/openbb_terminal/mutual_funds/test_mstrapy_model.py
Labels: bug, feat M

#4637 Feature/upgrade poetry
  .github/workflows/code-coverage.yml
  .github/workflows/gh-pages.yml
  .github/workflows/integration-test.yml
  .github/workflows/unit-test.yml
  build/docker/openbb.dockerfile
Labels: feat XS

#4636 Hotfix/ Empty Interactive Tables
  frontend-components/tables/src/App.tsx
  frontend-components/tables/src/components/Table/index.tsx
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/table.html
  openbb_terminal/core/plots/web/bar_menus.js
Labels: feat XS

#4579 Fix Stocks Load
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_model.py
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-AlphaVantage].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-Intrinio].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-YahooFinance].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[60-YahooFinance].yaml
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[1440-YahooFinance].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-YahooFinance].csv
  tests/openbb_terminal/stocks/test_stocks_helper.py
Labels: bug, feat XL

#4642 Re-record unit test
  tests/openbb_terminal/alternative/oss/record/http/test_github_model/test_get_github_data.yaml
  tests/openbb_terminal/alternative/oss/record/http/test_github_model/test_search_repos.yaml
Labels: bug, feat M

#4625 Handling log supression
  openbb_terminal/core/session/current_system.py
  openbb_terminal/core/session/system_handler.py
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/stream/Forecasting.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/reports/reports_model.py
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
Labels: feat XL
