Repository OpenBB-finance/OpenBB, pull requests merged in 2023-01, with the labels that each got.

#3862 Change `openbb.stocks.fa.dcf` to `openbb.stocks.fa.dcfc` within Docs
  website/content/sdk/guides/intros/stocks/fundamental-analysis.md
Labels: feat XS

#3850 Display daily returns as bar chart with color=red for negative return…
  openbb_terminal/portfolio/portfolio_view.py
Labels: feat XS

#3844 fixes #3843 eclect screen typo
  openbb_terminal/stocks/fundamental_analysis/eclect_us_view.py
Labels: feat XS

#3841 Adds command to check top hackernews stories
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/alternative/hackernews_model.py
  openbb_terminal/alternative/hackernews_view.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map.csv
  tests/openbb_terminal/alternative/cassettes/test_hackernews_model/test_get_stories[10].yaml
  tests/openbb_terminal/alternative/cassettes/test_hackernews_model/test_get_stories[5].yaml
  tests/openbb_terminal/alternative/cassettes/test_hackernews_view/test_display_stories.yaml
  tests/openbb_terminal/alternative/csv/test_hackernews_model/test_get_stories[10].csv
  tests/openbb_terminal/alternative/csv/test_hackernews_model/test_get_stories[5].csv
  tests/openbb_terminal/alternative/test_hackernews_model.py
  tests/openbb_terminal/alternative/test_hackernews_view.py
  tests/openbb_terminal/alternative/txt/test_alt_controller/test_print_help.txt
  tests/openbb_terminal/alternative/txt/test_hackernews_view/test_display_stories.txt
Labels: feat L

#3859 update_loaded made more readable
  openbb_terminal/econometrics/econometrics_controller.py
Labels: feat XS

#3866 Dependancy updates: Darts --> `0.23.0` & thepassiveinvestor --> `1.0.11`
  openbb_terminal/forecast/forecast_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: enhancement, feat XS

#3858 stocks/fa/analysis returns empty dataframe instead of error when no data
  openbb_terminal/stocks/fundamental_analysis/eclect_us_model.py
Labels: feat XS

#3871 Fixing timezone not updating within same terminal session
  openbb_terminal/helper_funcs.py
Labels: feat XS

#3874 Fix emacross with Polygon as source
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_bt.openbb
  openbb_terminal/stocks/stocks_model.py
Labels: feat XS

#3867 Adds historical end date on the ca menu
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_view/test_display_historical_with_end.yaml
  tests/openbb_terminal/stocks/comparison_analysis/test_ca_controller.py
  tests/openbb_terminal/stocks/comparison_analysis/test_yahoo_finance_view.py
  tests/openbb_terminal/test_helper_funcs.py
Labels: feat L

#3876 Fix Stocks/QA/beta
  openbb_terminal/stocks/quantitative_analysis/beta_model.py
  openbb_terminal/stocks/quantitative_analysis/qa_controller.py
Labels: bug, feat XS

#3881 Fix plot look when using eval and add query to choices
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/plot_view.py
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
Labels: bug, feat S

#3898 Fix plot look when using eval and add query to choices (#3881)
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/plot_view.py
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
Labels: feat S

#3899 Testing Gitflow
  .github/workflows/linting.yml
  .github/workflows/unit-test.yml
  tests/test_helpers.py
Labels: feat XS

#3900 Feature/gitflow
  .github/workflows/test.yml
  .github/workflows/unit-test.yml
  tests/test_helpers.py
Labels: feat XS

#3905 Lock ruff version so that new lints dont break our CI
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: feat XS

#3909 GItflow Implementations
  .github/workflows/unit-test.yml
Labels: feat XS

#3911 Feature/gitflow
  .github/workflows/unit-test.yml
  gitflow.py
Labels: feat XS

#3914 Feature/gitflow
  .github/workflows/nightly-build.yml
  .github/workflows/unit-test.yml
Labels: feat XS

#3921 Feature/gitflow
  .github/workflows/nightly-build.yml
  CONTRIBUTING.md
Labels: feat XS

#3920 poetry add ccxt@latest
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build, feat XS

#3888 Add crypto dd functions to sdk
  openbb_terminal/cryptocurrency/due_diligence/sdk_helper.py
  openbb_terminal/miscellaneous/library/trail_map.csv
Labels: feat S, SDK

#3922 Gitflow - Autodoc
  .github/workflows/gh-pages.yml
  .github/workflows/linting.yml
  .github/workflows/unit-test.yml
  CONTRIBUTING.md
  gitflow.py
  tests/test_helpers.py
Labels: feat XS

#3928 Hotfix/dots sources
  website/content/terminal/guides/advanced/api-keys.md
Labels: docs, feat S

#3937 Update dependency: grpcio
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#3935 Rebase develop?
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
Labels: bug, feat XS

#3885 Issue #3882 Fixed
  openbb_terminal/stocks/stocks_helper.py
  openbb_terminal/stocks/stocks_model.py
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[AlphaVantage-False-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[AlphaVantage-True-False].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[AlphaVantage-True-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[Polygon-False-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[Polygon-True-False].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[Polygon-True-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[YahooFinance-False-True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[YahooFinance-True-False].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_week_or_month[YahooFinance-True-True].yaml
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[AlphaVantage-False-True].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[AlphaVantage-True-False].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[AlphaVantage-True-True].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[Polygon-False-True].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[Polygon-True-False].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[Polygon-True-True].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[YahooFinance-False-True].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[YahooFinance-True-False].csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load_week_or_month[YahooFinance-True-True].csv
  tests/openbb_terminal/stocks/test_stocks_helper.py
Labels: feat XL

#3948 GitFlow - improve check for changes
  .github/workflows/branch-name-check.yml
  .github/workflows/unit-test.yml
Labels: feat XS

#3932 Fixed failing badge not used anymore
  README.md
Labels: docs, feat XS

#3931 Fix portfolio returns
  CONTRIBUTING.md
  openbb_terminal/miscellaneous/integration_tests_scripts/portfolio/test_portfolio_po.openbb
  openbb_terminal/portfolio/metrics_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_engine.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_view.py
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[symbols0].yaml
  tests/openbb_terminal/stocks/backtesting/cassettes/test_bt_model/test_buy_and_hold.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_display_candle.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[1440-IEXCloud].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[60-YahooFinance].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_ticker.yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[True].yaml
Labels: feat M

#3951 Put yf.info behind an exchange flag on `load`
  openbb_terminal/parent_classes.py
  website/content/terminal/guides/basics/index.md
  website/content/terminal/guides/intros/stocks/index.md
Labels: feat S

#3949 Last Price Bug into Previous Close #3865
  openbb_terminal/stocks/stocks_helper.py
Labels: feat XS

#3938 Add multiple countries option to events
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/nasdaq_model.py
  openbb_terminal/economy/nasdaq_view.py
  openbb_terminal/miscellaneous/integration_tests_scripts/economy/test_economy.openbb
  tests/openbb_terminal/economy/csv/test_nasdaq_model/test_get_economic_calendar.csv
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_economic_calendar.txt
Labels: feat S

#3979 Minor Fix for branch name check
  .github/workflows/branch-name-check.yml
  .github/workflows/unit-test.yml
Labels: feat XS

#3984 Linting fix
  .github/workflows/branch-name-check.yml
  .github/workflows/linting.yml
Labels: feat XS

#3956 Update sma.md
  website/content/sdk/reference/ta/sma.md
Labels: feat XS

#3955 Update overlap_model.py
  openbb_terminal/common/technical_analysis/overlap_model.py
Labels: feat XS

#3971 Update vwap.md - wrong type hint
  website/content/sdk/reference/ta/vwap.md
Labels: feat XS

#3970 Update overlap_model.py - wrong typehint
  openbb_terminal/common/technical_analysis/overlap_model.py
Labels: feat XS

#3985 Add extra error handling for yf in etf
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/etf/etf_helper.py
Labels: bug, feat XS

#3965 Fix the news command and making it more stable
  openbb_terminal/stocks/stocks_controller.py
Labels: bug, feat XS

#3963 Hotfix/bug #3945
  openbb_terminal/stocks/dark_pool_shorts/sec_model.py
Labels: bug, feat XS

#3986 revert
  build/conda/conda-3-9-env-full.yaml
Labels: feat XS

#3987 Test1
  build/conda/conda-3-9-env-full.yaml
Labels: feat XS

#3966 Fix #3787
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_optimization/yahoo_finance_model.py
Labels: bug, feat XS, portfolio

#3997 Add ticker to the load export file
  openbb_terminal/parent_classes.py
Labels: feat XS

#3993 Fix integration tests bugs
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/defi/substack_model.py
  openbb_terminal/cryptocurrency/onchain/bitquery_model.py
  openbb_terminal/etf/etf_controller.py
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/stocks/backtesting/bt_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/insider/openinsider_model.py
  openbb_terminal/stocks/sector_industry_analysis/stockanalysis_model.py
Labels: bug, feat XS

#4005 Change .env loading priority
  openbb_terminal/core/config/paths.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_controller.py
Labels: bug, feat S, installer

#4002 [FIX] Pytorch-lightning trainer conflict with TQDM progress bar
  openbb_terminal/forecast/helpers.py
  tests/openbb_terminal/forecast/test_forecast_model.py
Labels: bug, feat XS

#4006 Fix historical futures plot axes
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  openbb_terminal/miscellaneous/integration_tests_scripts/futures/test_futures.openbb
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[symbols0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[ES].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[YI].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols1].yaml
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[symbols0].csv
  tests/openbb_terminal/futures/test_futures_controller.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols0].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols1].txt
Labels: bug, feat XL

#4010 Fix M1 build
  build/pyinstaller/hooks/hook-xgboost.py
Labels: feat XS, installer

#4016 merge the release changes into develop
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/windows10_build.yml
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  build/pyinstaller/terminal.spec
  openbb_terminal/feature_flags.py
  openbb_terminal/futures/yfinance_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/futures/cassettes/test_yfinance_model/test_get_historical_futures[symbols0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[ES].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[YI].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols0].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols1].yaml
  tests/openbb_terminal/futures/csv/test_yfinance_model/test_get_historical_futures[symbols0].csv
  tests/openbb_terminal/futures/test_yfinance_model.py
  tests/openbb_terminal/futures/test_yfinance_view.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols0].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_historical[symbols1].txt
  website/content/terminal/quickstart/installation.md
Labels: feat XL

#3910 Adds filings function to the Stocks menu
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/miscellaneous/scripts/stocks/test_stocks_filings.openbb
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_model/test_valid_df[get_filings-kwargs_dict10].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fmp_view/test_display_filings.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/test_fmp_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fmp_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_model/test_valid_df[get_filings-kwargs_dict10].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_display_filings.txt
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
  website/content/sdk/guides/intros/stocks/index.md
  website/content/terminal/guides/intros/stocks/index.md
Labels: feat XL

#4019 Feature - Added Integration Test Automation
  .github/workflows/integration-test.yml
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/windows10_build.yml
Labels: feat S

#4023 Feature/excel sheets
  .github/workflows/intel_macos_build.yml
  .github/workflows/linting.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/mac.yml
  .github/workflows/nightly-build.yml
  .github/workflows/test.yml
  .github/workflows/unit-test.yml
  .github/workflows/windows.yml
  build/conda/conda-3-9-env-full.yaml
  openbb_terminal/featflags_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/parent_classes.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
Labels: enhancement, feat S

#3980 Quantile Anomaly Detection on Timeseries
  openbb_terminal/forecast/anom_model.py
  openbb_terminal/forecast/anom_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  tests/openbb_terminal/forecast/test_anom_model.py
  tests/openbb_terminal/forecast/test_anom_view.py
Labels: feat S

#4027 Hotfix --> develop
  .github/workflows/gh-pages.yml
  .github/workflows/nightly-build.yml
Labels: feat XS

#4032 Add back pull request to linting action
  .github/workflows/linting.yml
  build/conda/conda-3-9-env-full.yaml
Labels: build, feat XS

#4013 Fix terminal exit after `--sort p/e`
  openbb_terminal/stocks/screener/screener_controller.py
Labels: bug, feat XS

#4036 Small typo in docs
  website/content/terminal/guides/basics/index.md
Labels: docs, feat XS

#4029 Hotfix/fix equity reports
  openbb_terminal/reports/templates/equity.ipynb
Labels: bug, feat XS, notebookreports

#4025 Hotfix/fix integration tests
  build/pyinstaller/hooks/hook-xgboost.py
  openbb_terminal/cryptocurrency/onchain/shroom_model.py
  openbb_terminal/cryptocurrency/onchain/shroom_view.py
  openbb_terminal/miscellaneous/integration_tests_scripts/forex/test_forex_load.openbb
  openbb_terminal/miscellaneous/integration_tests_scripts/mutual_funds/test_funds.openbb
  openbb_terminal/miscellaneous/scripts/economy/test_economy.openbb
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/portfolio_analysis/portfolio_model.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  openbb_terminal/stocks/comparison_analysis/ca_controller.py
  openbb_terminal/stocks/comparison_analysis/marketwatch_model.py
  openbb_terminal/stocks/government/quiverquant_model.py
  openbb_terminal/stocks/stocks_helper.py
  tests/conftest.py
  tests/openbb_terminal/cryptocurrency/onchain/test_shroom_model.py
  tests/openbb_terminal/cryptocurrency/onchain/test_shroom_view.py
Labels: feat S, tests

#3999 Deprecate reddit commands taking too long to connect to PushshiftAPI
  openbb_terminal/common/behavioural_analysis/google_view.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/portfolio/portfolio_engine.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_ba_controller/test_print_help.txt
Labels: feat XS

#4048 Avoid running build on hotfix branches
  .github/workflows/build-release.yml
Labels: feat XS

#4046 Logging login
  openbb_terminal/core/log/generation/common.py
  openbb_terminal/core/log/generation/custom_logger.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/core/log/generation/user_logger.py
  openbb_terminal/session/user.py
  openbb_terminal/terminal_controller.py
Labels: feat S, analytics

#4031 Upgrade dependencies for bug and for security vulnerabilities.
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build, feat XS, dependencies

#4056 Fix login bug and decouple some logic
  openbb_terminal/session/sdk_session.py
  openbb_terminal/session/session_controller.py
  openbb_terminal/session/session_model.py
Labels: bug, feat S

#4058 `openbb.economy.fred_ids` to always return dataframe
  openbb_terminal/economy/fred_model.py
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict0].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict1].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict2].yaml
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict0].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict1].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict2].csv
  tests/openbb_terminal/economy/test_fred_model.py
Labels: bug, feat XL

#4072 SDK Docs: Clarifies the `Stocks.CA.Balance` example by including, `timeframe = '2021'`
  website/content/sdk/guides/intros/stocks/comparison-analysis.md
Labels: docs, feat XS, SDK

#4063 Fix incorrect column label in nasdaq_model.py
  openbb_terminal/economy/nasdaq_model.py
  tests/openbb_terminal/economy/csv/test_nasdaq_model/test_get_economic_calendar.csv
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_big_mac_index[False].txt
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_big_mac_index[True0].txt
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_big_mac_index[True1].txt
  tests/openbb_terminal/economy/txt/test_nasdaq_view/test_display_economic_calendar.txt
Labels: feat XS

#4078 Fix UK Economy/Macro Y10YD bug
  openbb_terminal/economy/econdb_model.py
Labels: bug, feat XS

#4088 Update commands with --sheet-name that didn't work
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/sector_industry_analysis/sia_controller.py
  tests/openbb_terminal/stocks/sector_industry_analysis/test_sia_controller.py
Labels: feat XS

#4089 Adds auto completion to `news`
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_controller.py
Labels: bug, feat XS

#4087 Hotfix/Windows-CLI
  .github/workflows/windows10_build.yml
  build/pyinstaller/terminal.spec
  openbb_terminal/core/integration_tests/integration_controller.py
Labels: feat S

#4077 Adds end date to `forex/load`
  openbb_terminal/forex/av_model.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/forex/forex_helper.py
  tests/openbb_terminal/forex/cassettes/test_forex_controller/test_call_load[other_args0].yaml
  tests/openbb_terminal/forex/cassettes/test_forex_controller/test_call_load[other_args1].yaml
  tests/openbb_terminal/forex/csv/test_forex_controller/test_call_load[other_args0].csv
  tests/openbb_terminal/forex/csv/test_forex_controller/test_call_load[other_args1].csv
  tests/openbb_terminal/forex/test_forex_controller.py
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_contracts-kwargs_dict5].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_government_buys-kwargs_dict1].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_government_sells-kwargs_dict2].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_government_trading-kwargs_dict4].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_hist_contracts-kwargs_dict8].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_last_contracts-kwargs_dict3].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_last_government-kwargs_dict0].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_lobbying-kwargs_dict10].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_qtr_contracts-kwargs_dict6].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_qtr_contracts-kwargs_dict7].yaml
  tests/openbb_terminal/stocks/government/cassettes/test_quiverquant_view/test_call_func[display_top_lobbying-kwargs_dict9].yaml
Labels: bug, feat XL
