Repository OpenBB-finance/OpenBB, pull requests merged in 2023-02, with the labels that each got.

#4097 Fix update check
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/test_terminal_helper.py
Labels: feat XS

#4094 Hotfix/Options Last Price, source = Tradier if api key
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/yfinance_model.py
Labels: feat XS

#4104 Feature/merge from main
  .github/workflows/gh-pages.yml
  .github/workflows/windows10_build.yml
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/miscellaneous/integration_tests_scripts/stocks/test_stocks_filings.openbb
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/stocks/options/options_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_orders[False].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_get_orders[False].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_get_orders[True].yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load_ticker.yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_model/test_get_sp500_comps_tsne.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_workbook.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_dcf_view/test_create_xls.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_calendar_earnings].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_dividends].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_hq].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_splits].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_sustainability].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_website].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_mktcap.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_shareholders.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_calendar_earnings].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_dividends].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_splits].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_sustainability].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_closing].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_dividend].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_info].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_iv_surface].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_price].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[option_expirations].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_get_option_chain.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_plot_plot.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_risk_neutral_vals.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_show_binom.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_show_greeks.yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_show_parity.yaml
  tests/openbb_terminal/stocks/options/csv/test_yfinance_model/test_call_func[get_closing].csv
  tests/openbb_terminal/stocks/options/csv/test_yfinance_model/test_call_func[get_iv_surface].csv
  tests/openbb_terminal/stocks/options/json/test_yfinance_model/test_call_func[get_price].json
  tests/openbb_terminal/stocks/options/json/test_yfinance_model/test_call_func[option_expirations].json
  tests/openbb_terminal/stocks/options/txt/test_yfinance_model/test_option_expirations_no_dates.txt
  website/content/sdk/showcase.md
  website/content/terminal/quickstart/installation.md
Labels: feat XL

#4109 Merge release into develop
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/feature_flags.py
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_closing].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_model/test_call_func[get_iv_surface].yaml
  tests/openbb_terminal/stocks/options/csv/test_yfinance_model/test_call_func[get_iv_surface].csv
  website/content/terminal/quickstart/installation.md
Labels: feat M

#4099 Improve website readme
  website/README.md
Labels: docs, tests, feat XS

#4116 Update labels and release drafter
  .github/release-drafter.yml
  .github/workflows/labels.yml
Labels: feat XS

#4115 Automate Publishing to Pypi
  .github/workflows/pypi.yml
Labels: feat XS

#3969 New functionality for UK Sold house price data
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/alternative/realestate/__init__.py
  openbb_terminal/alternative/realestate/landRegistry_model.py
  openbb_terminal/alternative/realestate/landRegistry_view.py
  openbb_terminal/alternative/realestate/realestate_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/alternative/test_alt_realestate.openbb
  openbb_terminal/miscellaneous/library/trail_map.csv
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/alternative/realestate/test_landRegistry_model.py
  tests/openbb_terminal/alternative/txt/test_alt_controller/test_print_help.txt
Labels: feat M

#4123 Adding CMD Flags to Docs Generation
  website/generate_terminal_markdown.py
Labels: feat XS

#4068 Feature/mstarpy
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/mutual_funds/avanza_model.py
  openbb_terminal/mutual_funds/avanza_view.py
  openbb_terminal/mutual_funds/mstarpy_model.py
  openbb_terminal/mutual_funds/mstarpy_view.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  openbb_terminal/mutual_funds/mutual_funds_utils.py
  openbb_terminal/terminal_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_cramer_ticker.yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_orders[False].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_model/test_get_orders[True].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_cramer_ticker[False].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_cramer_ticker[True].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_get_orders[False].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/cassettes/test_cramer_view/test_get_orders[True].yaml
  tests/openbb_terminal/stocks/behavioural_analysis/csv/test_cramer_model/test_get_orders[False].csv
  tests/openbb_terminal/stocks/behavioural_analysis/csv/test_cramer_model/test_get_orders[True].csv
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_get_orders[False].txt
  tests/openbb_terminal/stocks/behavioural_analysis/txt/test_cramer_view/test_get_orders[True].txt
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_model/test_get_historical.yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_model/test_get_sp500_comps_tsne.yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_view/test_display_correlation.yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_view/test_display_volume.yaml
  tests/openbb_terminal/stocks/comparison_analysis/csv/test_yahoo_finance_model/test_get_historical.csv
  tests/openbb_terminal/stocks/comparison_analysis/csv/test_yahoo_finance_model/test_get_sp500_comps_tsne.csv
  tests/openbb_terminal/stocks/comparison_analysis/test_yahoo_finance_model.py
Labels: feat XL

#4125 Fix `economy/macro --transform`
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/economy_controller.py
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters0-countries0--2020-01-01-2020-10-02--False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters0-countries0-2020-01-01-2020-10-02-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters1-countries1-2010-01-01-2019-01-01-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters1-countries1-TOYA-2010-01-01-2019-01-01--False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters2-countries2-2016-01-01-2016-10-10-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters2-countries2-TPOP-2016-01-01-2016-10-10-EUR-False].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters3-countries3-TUSD-2016-01-01-2016-10-10-USD-True].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_treasuries[instruments0-maturities0-monthly-2020-01-01-2020-02-03].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_treasuries[instruments1-maturities1-annually-2015-01-04-2015-01-28].yaml
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_treasuries[instruments2-maturities2-weekly-2018-06-05-2018-07-06].yaml
  tests/openbb_terminal/economy/test_econdb_view.py
Labels: feat XL

#4126 Change integration tests environment variables + add option
  openbb_terminal/core/integration_tests/integration_controller.py
Labels: tests, feat XS

#4065 Feat/i18n translations to Russian Lang
  openbb_terminal/miscellaneous/i18n/ru.yml
Labels: feat XL

#4147 Fix portfolio engine assigning close values to the wrong tickers
  openbb_terminal/portfolio/portfolio_engine.py
Labels: feat XS

#4079 Fix load a benchmark that isn't in the list of limited choices + yf.Ticker().info bugs
  openbb_terminal/miscellaneous/integration_tests_scripts/portfolio/test_portfolio.openbb
  openbb_terminal/portfolio/allocation_model.py
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_engine.py
  openbb_terminal/portfolio/portfolio_model.py
  openbb_terminal/portfolio/portfolio_view.py
Labels: bug, feat M

#3964 Fix portfolio/summary command (issue #3960)
  openbb_terminal/portfolio/portfolio_model.py
Labels: bug, feat XS, portfolio

#4163 Removing timezone on export xlsx
  openbb_terminal/helper_funcs.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_TSLA.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_raw.yaml
  tests/openbb_terminal/test_helper_funcs.py
Labels: feat XL

#4160 Removed Pyupgrade From CI
  .github/workflows/linting.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4165 [Snyk] Upgrade @radix-ui/react-popover from 1.0.2 to 1.0.3
  website/package-lock.json
  website/package.json
Labels: feat S

#4156 Remove duplicate `ruff` selection of `pycodestyle` warnings (`W`)
  pyproject.toml
Labels: feat XS

#4145 Fix portfolio optimization Ticker.info bug
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/portfolio/portfolio_optimization/yahoo_finance_model.py
Labels: bug, feat XS, portfolio

#4149 Showing `portfolio` portfolios after optimizing in `po` now works, cash comment removed from `portfolio` docs and Parameter file info added
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_optimization/po_controller.py
  tests/openbb_terminal/portfolio/portfolio_optimization/txt/test_po_controller/test_print_help.txt
  website/content/terminal/guides/intros/portfolio/index.md
Labels: feat XS

#4171 Rewrite crypto/ov controller cassettes
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_cls.yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_exit-queue0-expected_queue0].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_exit-queue1-expected_queue1].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_help-queue3-expected_queue3].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_home-queue2-expected_queue2].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_quit-queue4-expected_queue4].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_quit-queue5-expected_queue5].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_reset-queue6-expected_queue6].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_call_func_expect_queue[call_reset-queue7-expected_queue7].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_menu_with_queue[queue0-expected0].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_menu_with_queue[queue1-expected1].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_print_help.yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_switch[-expected_queue0].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_switch[-help-expected_queue1].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_switch[h-expected_queue4].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_switch[help-help-expected_queue2].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_switch[q-expected_queue3].yaml
  tests/openbb_terminal/cryptocurrency/overview/cassettes/test_overview_controller/test_switch[r-expected_queue5].yaml
  tests/openbb_terminal/cryptocurrency/overview/test_overview_controller.py
Labels: feat XL

#4173 Remove legacy macro endpoints with no country parameter
  openbb_terminal/miscellaneous/library/trail_map.csv
Labels: bug, feat XS, SDK

#4172 Update the documentation so the importance of API keys is more clear
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/guides/basics/index.md
Labels: feat S

#4158 Adjust timezone for AV when interval < 1d
  openbb_terminal/forex/av_model.py
  openbb_terminal/forex/forex_controller.py
  openbb_terminal/keys_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_TSLA.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_raw.yaml
Labels: feat XL

#4143 Routine remote storage
  openbb_terminal/account/account_controller.py
  openbb_terminal/account/account_model.py
  openbb_terminal/account/account_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/session/hub_model.py
  openbb_terminal/session/local_model.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/test_account_model.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_download.txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_list.txt
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/session/test_local_model.py
  tests/openbb_terminal/session/test_session_model.py
Labels: feat L

#4187 Tests : mocking yfinance tzcache
  tests/conftest.py
  tests/openbb_terminal/economy/cassettes/test_econdb_view/test_show_macro_data[parameters3-countries3-TUSD-2016-01-01-2016-10-10-USD-True].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_historical[symbols0].yaml
  tests/openbb_terminal/stocks/backtesting/cassettes/test_bt_model/test_buy_and_hold.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_display_candle.yaml
  tests/openbb_terminal/stocks/cassettes/test_stocks_helper/test_load[60-YahooFinance].yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_model/test_get_historical.yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_view/test_display_historical_with_end.yaml
  tests/openbb_terminal/stocks/comparison_analysis/cassettes/test_yahoo_finance_view/test_display_volume.yaml
  tests/openbb_terminal/stocks/comparison_analysis/csv/test_yahoo_finance_model/test_get_historical.csv
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[60-YahooFinance].csv
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[False].yaml
  tests/openbb_terminal/stocks/dark_pool_shorts/cassettes/test_sec_view/test_fails_to_deliver[True].yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_ark_view/test_ark_orders_view[kwargs_dict2-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_dividends].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_call_func[get_splits].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_model/test_get_mktcap.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_dividends].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_mktcap].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_splits].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_yahoo_finance_model/test_get_mktcap.csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_dcf_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_info].txt
  tests/openbb_terminal/stocks/insider/cassettes/test_businessinsider_view/test_insider_activity[False].yaml
  tests/openbb_terminal/stocks/options/cassettes/test_yfinance_view/test_show_parity.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_view/test_display_ark_trades_default.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_view/test_display_ark_trades_no_tab.yaml
  tests/openbb_terminal/stocks/screener/csv/test_ark_model/test_get_ark_trades_by_ticker.csv
Labels: feat XL

#4184 Point register to dev
  openbb_terminal/session/hub_model.py
  openbb_terminal/session/session_controller.py
  openbb_terminal/session/user.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/session/txt/test_session_controller/test_display_welcome_message.txt
  tests/openbb_terminal/session/txt/test_user/test_whoami[True-True].txt
Labels: bug, feat XS

#4189 Hotfix/banner spaced
  openbb_terminal/session/banner.txt
  tests/openbb_terminal/session/txt/test_session_controller/test_display_welcome_message.txt
Labels: feat XS

#4178 [FEAT] Additional metrics for evaluating forecasting (RMSE+ MSE)
  .gitignore
  build/conda/conda-3-9-env-full.yaml
  openbb_terminal/forecast/brnn_model.py
  openbb_terminal/forecast/brnn_view.py
  openbb_terminal/forecast/expo_model.py
  openbb_terminal/forecast/expo_view.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/linregr_model.py
  openbb_terminal/forecast/linregr_view.py
  openbb_terminal/forecast/nbeats_model.py
  openbb_terminal/forecast/nbeats_view.py
  openbb_terminal/forecast/nhits_model.py
  openbb_terminal/forecast/nhits_view.py
  openbb_terminal/forecast/regr_model.py
  openbb_terminal/forecast/regr_view.py
  openbb_terminal/forecast/rnn_model.py
  openbb_terminal/forecast/rnn_view.py
  openbb_terminal/forecast/tcn_model.py
  openbb_terminal/forecast/tcn_view.py
  openbb_terminal/forecast/tft_model.py
  openbb_terminal/forecast/tft_view.py
  openbb_terminal/forecast/theta_model.py
  openbb_terminal/forecast/theta_view.py
  openbb_terminal/forecast/trans_model.py
  openbb_terminal/forecast/trans_view.py
Labels: enhancement, feat S

#4191 Add merge group to allow for merge queue
  .github/workflows/linting.yml
  .github/workflows/unit-test.yml
Labels: feat XS

#4190 Fix some account bugs
  openbb_terminal/account/account_controller.py
  openbb_terminal/account/account_model.py
Labels: bug, feat XS

#4183 Restores numeric values
  openbb_terminal/helper_funcs.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_TSLA.yaml
  tests/openbb_terminal/test_helper_funcs.py
Labels: enhancement, feat S

#4076 Updating poetry to v1.3.2 and dependencies
  .github/workflows/windows10_build.yml
Labels: feat XS

#4170 Feature/some cleaning
  openbb_terminal/economy/econ_data_helper.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/economy/test_econ_data_helper.py
  tests/openbb_terminal/stocks/backtesting/test_bt_model.py
  tests/openbb_terminal/stocks/backtesting/test_bt_view.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
Labels: enhancement, feat M

#4188 [FEAT] Nightly Build slack Notifications
  .github/workflows/README.md
  .github/workflows/integration-test.yml
  .github/workflows/intel_macos_build.yml
  .github/workflows/m1_macos_build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/test.yml
  .github/workflows/windows10_build.yml
Labels: feat M

#4207 Fix sdk guest not loading keys
  openbb_terminal/core/config/paths.py
  openbb_terminal/sdk.py
  openbb_terminal/terminal_controller.py
Labels: bug, feat XS

#4194 Update PR Template and Contributing guidelines
  .github/pull_request_template.md
  .github/workflows/linting.yml
  .github/workflows/unit-test.yml
  CONTRIBUTING.md
Labels: feat S

#4210 Hotfix/sdk-trailmaps `portfolio.po` deprecated functions, fix `stocks.disc.filings`, `stocks.fa.sec_fmp`
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/miscellaneous/library/trail_map_optimization.csv
Labels: feat XS

#4208 Adds algolia to docs
  website/content/terminal/quickstart/installation.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/components/General/InstallerButton.tsx
  website/src/css/custom.css
  website/src/theme/ColorModeToggle/index.js
  website/src/theme/Tabs/index.js
  website/yarn.lock
Labels: docs, feat XL

#4193 Return a dataframe from stocks search, removed export to file system (#3923)
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
  website/content/sdk/reference/stocks/search.md
Labels: feat XS

#4211 Fix wrongly formatted values on `stocks/fa/cash`
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_cash_flow-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_cash_flow-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_income_statement-kwargs_dict3].txt
Labels: bug, feat XS

#4229 Changed poetry version for docker build
  build/docker/openbb.dockerfile
Labels: feat XS

#4206 Login on the SDK using the OpenBB Personal Access Token
  openbb_terminal/config_terminal.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/session/hub_model.py
  openbb_terminal/session/sdk_session.py
  openbb_terminal/session/session_model.py
  tests/openbb_terminal/cassettes/test_keys_model/test_set_openbb_key[args0-False-True-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_openbb_key[args1-False-False-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_openbb_key[args2-True-True-defined, test failed].yaml
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/session/test_sdk_session.py
  tests/openbb_terminal/session/txt/test_sdk_session/test_whoami.txt
  tests/openbb_terminal/session/txt/test_sdk_session/test_whoami_guest.txt
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/openbb_terminal/test_keys_controller.py
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args0-False-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args1-False-False-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args2-True-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args3-False-True-not defined].txt
Labels: feat M

#4216 Fix generate_portfolio SDK usage example
  openbb_terminal/portfolio/portfolio_model.py
Labels: bug, feat XS, portfolio, SDK

#4197 Set guest by default and put authentication behind environment variable
  .github/workflows/mac.yml
  .github/workflows/unit-test.yml
  .github/workflows/windows.yml
  build/pyinstaller/terminal.spec
  openbb_terminal/account/account_controller.py
  openbb_terminal/base_helpers.py
  openbb_terminal/config_terminal.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/parent_classes.py
  openbb_terminal/sdk.py
  openbb_terminal/session/hub_model.py
  openbb_terminal/session/sdk_session.py
  openbb_terminal/session/session_controller.py
  openbb_terminal/session/session_model.py
  openbb_terminal/session/user.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_view.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  terminal.py
  tests/conftest.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/cassettes/test_keys_model/test_set_openbb_key[args0-False-True-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_openbb_key[args1-False-False-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_openbb_key[args2-True-True-defined, test failed].yaml
  tests/openbb_terminal/session/conftest.py
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/session/test_sdk_session.py
  tests/openbb_terminal/session/test_session_controller.py
  tests/openbb_terminal/session/test_session_model.py
  tests/openbb_terminal/session/txt/test_sdk_session/test_whoami.txt
  tests/openbb_terminal/session/txt/test_sdk_session/test_whoami_guest.txt
  tests/openbb_terminal/session/txt/test_session_controller/test_get_user_input.txt
  tests/openbb_terminal/session/txt/test_session_controller/test_get_user_input_with_save.txt
  tests/openbb_terminal/session/txt/test_user/test_whoami[True-True].txt
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_price_target_from_analysts_plt.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_price_target_from_analysts_raw.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_info].txt
  tests/openbb_terminal/test_base_helpers.py
  tests/openbb_terminal/test_keys_controller.py
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/test_sdk.py
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args0-False-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args1-False-False-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args2-True-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_openbb_key[args3-False-True-not defined].txt
Labels: feat XL, authentication

#4233 Block logout command if no auth enabled
  openbb_terminal/terminal_controller.py
Labels: bug, feat XS, authentication

#4232 Hotfix/Splashscreen Staying up on Windows installer
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
Labels: feat XS

#4231 Fixes bad yFinance candles with auto_adjust=True
  openbb_terminal/stocks/stocks_model.py
  tests/openbb_terminal/stocks/csv/test_stocks_helper/test_load[1440-YahooFinance].csv
Labels: bug, feat XS, dependencies

#4240 Release/2.4.0
  .github/workflows/unit-test.yml
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/feature_flags.py
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/miscellaneous/library/trail_map_forecasting.csv
  openbb_terminal/terminal_controller.py
  pyproject.toml
  website/content/terminal/quickstart/installation.md
Labels: feat M

#4243 Algolia fix
  website/docusaurus.config.js
Labels: feat XS

#4244 Hotfix/algolia smth
  website/docusaurus.config.js
Labels: feat XS

#4251 Updated many images and adjusted many wrong pieces of documentation
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/guides/basics/index.md
  website/content/terminal/guides/intros/common/ba.md
  website/content/terminal/guides/intros/common/qa.md
  website/content/terminal/guides/intros/common/ta.md
  website/content/terminal/guides/intros/crypto/dd.md
  website/content/terminal/guides/intros/crypto/defi.md
  website/content/terminal/guides/intros/crypto/disc.md
  website/content/terminal/guides/intros/crypto/index.md
  website/content/terminal/guides/intros/crypto/nft.md
  website/content/terminal/guides/intros/crypto/onchain.md
  website/content/terminal/guides/intros/crypto/ov.md
  website/content/terminal/guides/intros/econometrics.md
  website/content/terminal/guides/intros/economy.md
  website/content/terminal/guides/intros/etf.md
  website/content/terminal/guides/intros/forex.md
  website/content/terminal/guides/intros/futures.md
  website/content/terminal/guides/intros/portfolio/index.md
  website/content/terminal/guides/intros/portfolio/po.md
  website/content/terminal/guides/intros/stocks/comparison.md
  website/content/terminal/guides/intros/stocks/dark-pool-shorts.md
  website/content/terminal/guides/intros/stocks/disc.md
  website/content/terminal/guides/intros/stocks/fa.md
  website/content/terminal/guides/intros/stocks/gov.md
  website/content/terminal/guides/intros/stocks/index.md
  website/content/terminal/guides/intros/stocks/ins.md
  website/content/terminal/guides/intros/stocks/options/hedge.md
  website/content/terminal/guides/intros/stocks/options/index.md
  website/content/terminal/guides/intros/stocks/options/pricing.md
  website/content/terminal/guides/intros/stocks/options/screener.md
  website/content/terminal/guides/intros/stocks/screener.md
  website/content/terminal/guides/intros/stocks/sia.md
  website/content/terminal/guides/intros/stocks/tradinghours.md
Labels: feat L

#4254 Fix the stuff
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/guides/basics/index.md
  website/content/terminal/guides/intros/common/ba.md
  website/content/terminal/guides/intros/common/qa.md
  website/content/terminal/guides/intros/common/ta.md
  website/content/terminal/guides/intros/crypto/dd.md
  website/content/terminal/guides/intros/crypto/defi.md
  website/content/terminal/guides/intros/crypto/disc.md
  website/content/terminal/guides/intros/crypto/index.md
  website/content/terminal/guides/intros/crypto/nft.md
  website/content/terminal/guides/intros/crypto/onchain.md
  website/content/terminal/guides/intros/crypto/ov.md
  website/content/terminal/guides/intros/econometrics.md
  website/content/terminal/guides/intros/economy.md
  website/content/terminal/guides/intros/etf.md
  website/content/terminal/guides/intros/forex.md
  website/content/terminal/guides/intros/futures.md
  website/content/terminal/guides/intros/portfolio/index.md
  website/content/terminal/guides/intros/portfolio/po.md
  website/content/terminal/guides/intros/stocks/comparison.md
  website/content/terminal/guides/intros/stocks/dark-pool-shorts.md
  website/content/terminal/guides/intros/stocks/disc.md
  website/content/terminal/guides/intros/stocks/fa.md
  website/content/terminal/guides/intros/stocks/gov.md
  website/content/terminal/guides/intros/stocks/index.md
  website/content/terminal/guides/intros/stocks/ins.md
  website/content/terminal/guides/intros/stocks/options/hedge.md
  website/content/terminal/guides/intros/stocks/options/index.md
  website/content/terminal/guides/intros/stocks/options/pricing.md
  website/content/terminal/guides/intros/stocks/options/screener.md
  website/content/terminal/guides/intros/stocks/screener.md
  website/content/terminal/guides/intros/stocks/sia.md
  website/content/terminal/guides/intros/stocks/tradinghours.md
Labels: feat XS

#4253 Feature/doc updates
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/guides/basics/index.md
  website/content/terminal/guides/intros/common/ba.md
  website/content/terminal/guides/intros/common/qa.md
  website/content/terminal/guides/intros/common/ta.md
  website/content/terminal/guides/intros/crypto/dd.md
  website/content/terminal/guides/intros/crypto/defi.md
  website/content/terminal/guides/intros/crypto/disc.md
  website/content/terminal/guides/intros/crypto/index.md
  website/content/terminal/guides/intros/crypto/nft.md
  website/content/terminal/guides/intros/crypto/onchain.md
  website/content/terminal/guides/intros/crypto/ov.md
  website/content/terminal/guides/intros/econometrics.md
  website/content/terminal/guides/intros/economy.md
  website/content/terminal/guides/intros/etf.md
  website/content/terminal/guides/intros/forex.md
  website/content/terminal/guides/intros/futures.md
  website/content/terminal/guides/intros/portfolio/index.md
  website/content/terminal/guides/intros/portfolio/po.md
  website/content/terminal/guides/intros/stocks/comparison.md
  website/content/terminal/guides/intros/stocks/dark-pool-shorts.md
  website/content/terminal/guides/intros/stocks/disc.md
  website/content/terminal/guides/intros/stocks/fa.md
  website/content/terminal/guides/intros/stocks/gov.md
  website/content/terminal/guides/intros/stocks/index.md
  website/content/terminal/guides/intros/stocks/ins.md
  website/content/terminal/guides/intros/stocks/options/hedge.md
  website/content/terminal/guides/intros/stocks/options/index.md
  website/content/terminal/guides/intros/stocks/options/pricing.md
  website/content/terminal/guides/intros/stocks/options/screener.md
  website/content/terminal/guides/intros/stocks/screener.md
  website/content/terminal/guides/intros/stocks/sia.md
  website/content/terminal/guides/intros/stocks/tradinghours.md
Labels: feat L

#4234 Minor fixes on login
  openbb_terminal/base_helpers.py
  openbb_terminal/session/sdk_session.py
  openbb_terminal/session/session_model.py
  pyproject.toml
  terminal.py
Labels: feat XS

#3358 SDK Auto-Generation/Refactor
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
  TROUBLESHOOT.md
  build/docker/openbb.dockerfile
  generate_sdk.py
  openbb_terminal/SDK_README.md
  openbb_terminal/sdk.py
  openbb_terminal/sdk_core/__init__.py
  openbb_terminal/sdk_core/controllers/__init__.py
  openbb_terminal/sdk_core/controllers/alt_sdk_controller.py
  openbb_terminal/sdk_core/controllers/crypto_sdk_controller.py
  openbb_terminal/sdk_core/controllers/etf_sdk_controller.py
  openbb_terminal/sdk_core/controllers/forex_sdk_controller.py
  openbb_terminal/sdk_core/controllers/portfolio_sdk_controller.py
  openbb_terminal/sdk_core/controllers/stocks_sdk_controller.py
  openbb_terminal/sdk_core/models/__init__.py
  openbb_terminal/sdk_core/models/alt_sdk_model.py
  openbb_terminal/sdk_core/models/crypto_sdk_model.py
  openbb_terminal/sdk_core/models/econometrics_sdk_model.py
  openbb_terminal/sdk_core/models/economy_sdk_model.py
  openbb_terminal/sdk_core/models/etf_sdk_model.py
  openbb_terminal/sdk_core/models/forecast_sdk_model.py
  openbb_terminal/sdk_core/models/forex_sdk_model.py
  openbb_terminal/sdk_core/models/futures_sdk_model.py
  openbb_terminal/sdk_core/models/keys_sdk_model.py
  openbb_terminal/sdk_core/models/portfolio_sdk_model.py
  openbb_terminal/sdk_core/models/qa_sdk_model.py
  openbb_terminal/sdk_core/models/stocks_sdk_model.py
  openbb_terminal/sdk_core/models/ta_sdk_model.py
  openbb_terminal/sdk_core/sdk_helpers.py
  openbb_terminal/sdk_core/sdk_init.py
  openbb_terminal/sdk_core/trail_map.csv
  openbb_terminal/sdk_core/trail_map_forecasting.csv
  openbb_terminal/sdk_core/trail_map_optimization.csv
  openbb_terminal/sdk_core/trailmap.py
  openbb_terminal/stocks/fundamental_analysis/finviz_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/README.md
  tests/conftest.py
  tests/openbb_terminal/forecast/conftest.py
  website/content/sdk/quickstart/installation.md
  website/content/terminal/quickstart/faq.md
  website/content/terminal/quickstart/installation.md
Labels: refactor, feat XL

#4262 Update SDK Docs Generation
  generate_sdk.py
  openbb_terminal/forecast/forecast_view.py
  openbb_terminal/sdk.py
  openbb_terminal/sdk_core/models/forecast_sdk_model.py
  openbb_terminal/sdk_core/trail_map_forecasting.csv
  openbb_terminal/sdk_core/trailmap.py
  tests/website/test_generate_docs.py
  website/generate_sdk_markdown.py
Labels: feat M

#4260 Feature/improve docs
  README.md
  pyproject.toml
  website/content/sdk/quickstart/pypi.md
Labels: docs, feat S

#4269 Hotfix/SDK Version Dunder
  generate_sdk.py
  openbb_terminal/sdk.py
  openbb_terminal/sdk_core/sdk_helpers.py
  openbb_terminal/sdk_core/trailmap.py
  tests/openbb_terminal/test_sdk.py
Labels: feat XS

#4271 Update api-keys.md
  website/content/terminal/guides/advanced/api-keys.md
Labels: feat XS

#4267 Small typos on readme
  README.md
Labels: docs, feat XS

#4236 Code Coverage
  .github/workflows/code-coverage.yml
  .github/workflows/unit-test.yml
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/cryptocurrency/test_crypto_models.py
  tests/openbb_terminal/cryptocurrency/test_crypto_views.py
  tests/openbb_terminal/economy/test_economy_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_call_func[display_info].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_yahoo_finance_view/test_display_info.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/test_business_insider_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_yahoo_finance_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_price_target_from_analysts_raw.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_yahoo_finance_view/test_call_func[display_info].txt
Labels: feat L

#4273 SDK Added about() for methods and class, fixed pypi.md
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/reports/reports_controller.py
  openbb_terminal/sdk_core/sdk_helpers.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/terminal_controller.py
  website/content/sdk/quickstart/pypi.md
Labels: feat S

#4266 Adds Personal Access Token Commands
  openbb_terminal/account/account_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/session/hub_model.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/session/test_hub_model.py
Labels: feat M

#4274 Release/2.4.1
  build/docker/compose.env
  build/docker/docker-compose.yaml
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/feature_flags.py
  pyproject.toml
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/quickstart/installation.md
Labels: feat XS

#4292 Fix `--help` for `stocks/candle`, `stocks/tob` and `stocks/news`
  openbb_terminal/stocks/stocks_controller.py
Labels: bug, feat XS

#4291 Fix spelling mistake in portfolio menu help message
  openbb_terminal/portfolio/portfolio_controller.py
Labels: bug, feat XS, portfolio

#4289 fix variable name
  openbb_terminal/reports/reports_model.py
Labels: feat XS

#4256 Update api-keys.md
  website/content/terminal/guides/advanced/api-keys.md
Labels: feat XS

#4298 Fix Unit Test
  .github/workflows/unit-test.yml
Labels: feat XS

#4300 Hotfix/sdk-docs-ta
  openbb_terminal/sdk_core/trailmap.py
Labels: feat XS

#4301 Hotfix/sdk-ta-docs
  openbb_terminal/sdk_core/trailmap.py
Labels: feat XS

#4294 Hotfix for SIA menu
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
Labels: bug, feat XS

#4304 Fixes Failing AutoDocs
  openbb_terminal/portfolio/attribution_model.py
  openbb_terminal/stocks/sector_industry_analysis/financedatabase_model.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/portfolio/txt/test_portfolio_controller/test_print_help.txt
Labels: feat XS

#4307 Speed up pytest with xdist plugin
  .github/workflows/unit-test.yml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/.tmp
  tests/openbb_terminal/cryptocurrency/discovery/test_pycoingecko_model.py
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/test_sdk.py
Labels: feat XS

#4217 Display correct risk free rate in the portfolio menu help message
  openbb_terminal/portfolio/portfolio_controller.py
Labels: bug, feat XS, portfolio

#4142 Fixes #3873 and adds generic naming to financial statements
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/stock_statics.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[balance-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[balance-True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[income-False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_polygon_view/test_display_fundamentals[income-True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_balance_sheet-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_cash_flow-kwargs_dict6].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_cash_flow-kwargs_dict7].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_income_statement-kwargs_dict2].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_av_view/test_check_output[True-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_cash_flow-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[False-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_balance_sheet-kwargs_dict4].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_cash_flow-kwargs_dict5].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fmp_view/test_check_output[True-display_income_statement-kwargs_dict3].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_polygon_view/test_display_fundamentals[balance-True].txt
Labels: bug, enhancement, feat XL

#4296 Handle `end_date` with `CCXT` source when loading crypto
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: bug, feat XS, crypto

#4312 Allow entering into the sources menu
  openbb_terminal/core/config/paths.py
  tests/openbb_terminal/test_sources.py
Labels: feat XS

#4315 Nightly Publish to Pypi
  .github/workflows/nightly-build.yml
  .github/workflows/nightly-pypi.yml
  .github/workflows/pypi.yml
Labels: feat XS

#4317 Set query arg in economy/eval as required
  openbb_terminal/economy/economy_controller.py
  website/content/terminal/reference/economy/eval.md
Labels: feat XS

#4299 User UUID to use the designated column instead
  openbb_terminal/core/library/operation.py
  openbb_terminal/core/log/generation/custom_logger.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/core/log/generation/settings.py
  openbb_terminal/core/log/generation/user_logger.py
  openbb_terminal/loggers.py
  openbb_terminal/sdk_core/sdk_helpers.py
  openbb_terminal/session/sdk_session.py
  tests/openbb_terminal/core/log/conftest.py
  tests/openbb_terminal/core/log/generation/json/test_formatter_with_exceptions/test_extract_log_extra.json
  tests/openbb_terminal/core/log/generation/test_formatter_with_exceptions.py
  tests/openbb_terminal/core/log/generation/test_settings.py
  tests/openbb_terminal/test_loggers.py
Labels: feat XS, analytics

#4297 Auto login on the SDK if local session is found
  openbb_terminal/sdk.py
  openbb_terminal/session/sdk_session.py
Labels: feat XS

#3757 Add tweet news in terminal toolbar
  openbb_terminal/config_terminal.py
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/feature_flags.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/styles/user/openbb.richstyle.json
  openbb_terminal/parent_classes.py
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/cassettes/test_helper_funcs/test_update_news_from_tweet_to_be_displayed.yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_twitter_key[test_access_token-False-False-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_twitter_key[test_access_token-False-True-defined, test failed].yaml
  tests/openbb_terminal/cassettes/test_keys_model/test_set_twitter_key[test_access_token-True-True-defined, test failed].yaml
  tests/openbb_terminal/test_helper_funcs.py
  tests/openbb_terminal/test_keys_controller.py
  tests/openbb_terminal/test_keys_model.py
  tests/openbb_terminal/txt/test_helper_funcs/test_update_news_from_tweet_to_be_displayed.txt
  tests/openbb_terminal/txt/test_keys_model/test_set_twitter_key[REPLACE_ME-False-True-not defined].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_twitter_key[test_access_token-False-False-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_twitter_key[test_access_token-False-True-defined, test failed].txt
  tests/openbb_terminal/txt/test_keys_model/test_set_twitter_key[test_access_token-True-True-defined, test failed].txt
Labels: feat L

#4293 Adding databento as a source
  openbb_terminal/config_terminal.py
  openbb_terminal/futures/databento_view.py
  openbb_terminal/futures/futures_controller.py
  openbb_terminal/futures/sdk_helper.py
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/sdk.py
  openbb_terminal/sdk_core/models/forecast_sdk_model.py
  openbb_terminal/sdk_core/models/futures_sdk_model.py
  openbb_terminal/sdk_core/models/keys_sdk_model.py
  openbb_terminal/sdk_core/models/portfolio_sdk_model.py
  openbb_terminal/sdk_core/sdk_init.py
  openbb_terminal/sdk_core/trail_map.csv
  openbb_terminal/sdk_core/trail_map_forecasting.csv
  openbb_terminal/sdk_core/trail_map_optimization.csv
  openbb_terminal/stocks/databento_model.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/futures/txt/test_futures_controller/test_print_help.txt
  tests/openbb_terminal/stocks/cassettes/test_databento_model/test_stock_load.yaml
  tests/openbb_terminal/stocks/csv/test_databento_model/test_stock_load.csv
  tests/openbb_terminal/stocks/test_databento_model.py
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: feat XL

#4328 Update so that image links to website
  README.md
Labels: feat XS

#4327 Patch Equity Report
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/stocks/options/nasdaq_model.py
Labels: feat XS

#4329 Make integration tests more responsive
  openbb_terminal/core/integration_tests/integration_controller.py
Labels: tests, feat XS

#4324 Changes the default data source for crypto.load
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: feat XS

#4325 Additional check for empty dataframe for `stocks load`
  openbb_terminal/stocks/comparison_analysis/sdk_helpers.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/economy/cassettes/test_yfinance_model/test_get_index[cac40-3mo-2010-01-01-2016-02-06-High].yaml
  tests/openbb_terminal/economy/cassettes/test_yfinance_model/test_get_index[dowjones-1mo-2015-01-01-2015-02-02-Volume].yaml
  tests/openbb_terminal/economy/cassettes/test_yfinance_model/test_get_index[nasdaq-1wk-2020-06-06-2020-07-07-Close].yaml
  tests/openbb_terminal/economy/cassettes/test_yfinance_model/test_get_index[sp500-1d-2022-01-01-2022-02-02-Adj Close].yaml
Labels: feat S

#4071 Add fixed income menu
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/fixedincome/commercial_paper.xlsx
  openbb_terminal/fixedincome/corporate_spot_rates.xlsx
  openbb_terminal/fixedincome/ecb_model.py
  openbb_terminal/fixedincome/ecb_view.py
  openbb_terminal/fixedincome/econdb_model.py
  openbb_terminal/fixedincome/econdb_view.py
  openbb_terminal/fixedincome/fixedincome_controller.py
  openbb_terminal/fixedincome/fred_model.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/ice_bofa_indices.xlsx
  openbb_terminal/fixedincome/oecd_model.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/fixedincome/yfinance_model.py
  openbb_terminal/fixedincome/yfinance_view.py
  openbb_terminal/fixedincome/~$ice_bofa_indices.xlsx
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/integration_tests_scripts/fixedincome/test_fixedincome.openbb
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/sdk.py
  openbb_terminal/sdk_core/models/__init__.py
  openbb_terminal/sdk_core/models/economy_sdk_model.py
  openbb_terminal/sdk_core/models/fixedincome_sdk_model.py
  openbb_terminal/sdk_core/sdk_init.py
  openbb_terminal/sdk_core/trail_map.csv
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/economy/test_fred_model.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
  tests/openbb_terminal/fixedincome/cassettes/test_ecb_model/test_get_ecb_yield_curve.yaml
  tests/openbb_terminal/fixedincome/cassettes/test_ecb_model/test_get_series_data.yaml
  tests/openbb_terminal/fixedincome/cassettes/test_fred_model/test_yield_curve[False].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_fred_model/test_yield_curve[True].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[long].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[long_forecast].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[short].yaml
  tests/openbb_terminal/fixedincome/cassettes/test_oecd_model/test_get_interest_rates[short_forecast].yaml
  tests/openbb_terminal/fixedincome/csv/test_ecb_model/test_get_ecb_yield_curve.csv
  tests/openbb_terminal/fixedincome/csv/test_ecb_model/test_get_series_data.csv
  tests/openbb_terminal/fixedincome/csv/test_fred_model/test_yield_curve[False].csv
  tests/openbb_terminal/fixedincome/csv/test_fred_model/test_yield_curve[True].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[long].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[long_forecast].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[short].csv
  tests/openbb_terminal/fixedincome/csv/test_oecd_model/test_get_interest_rates[short_forecast].csv
  tests/openbb_terminal/fixedincome/test_ecb_model.py
  tests/openbb_terminal/fixedincome/test_fixedincome_controller.py
  tests/openbb_terminal/fixedincome/test_fred_model.py
  tests/openbb_terminal/fixedincome/test_oecd_model.py
  tests/openbb_terminal/fixedincome/txt/test_fixedincome_controller/test_print_help.txt
  website/content/sdk/guides/intros/fixedincome.md
  website/content/terminal/guides/intros/fixedincome.md
Labels: enhancement, feat XL

#4330 frozendict removal for build
  build/pyinstaller/terminal.spec
Labels: feat XS

#4338 Hotfix/File Exists Error on `test_directories`
  openbb_terminal/core/log/generation/directories.py
Labels: feat XS

#4334 Add options greeks to the SDK
  openbb_terminal/miscellaneous/library/trail_map.csv
  openbb_terminal/sdk_core/controllers/stocks_sdk_controller.py
  openbb_terminal/sdk_core/models/stocks_sdk_model.py
  openbb_terminal/stocks/options/options_sdk_helper.py
Labels: bug, feat XS, SDK

#4333 Add reverse fx choices to forex load
  openbb_terminal/forex/forex_controller.py
Labels: bug, feat XS

#4318 Got the correct papermill
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4349 Fix long/short issue and fix transform issue
  openbb_terminal/economy/econdb_model.py
  openbb_terminal/fixedincome/oecd_model.py
Labels: feat XS

#4350 Introduce CPI (Consumer Price Index) functionality
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/economy/datasets/cpi.csv
  openbb_terminal/economy/datasets/harmonized_cpi.csv
  openbb_terminal/economy/economy_controller.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/miscellaneous/data_sources_default.json
  openbb_terminal/miscellaneous/i18n/en.yml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_check_output[get_series_data-kwargs_dict1].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_check_output[get_series_notes-kwargs_dict0].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_cpi[get_cpi-kwargs_dict4].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_cpi[get_cpi-kwargs_dict6].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict0].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict1].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict2].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_load_data[get_series_data-kwargs_dict0].yaml
  tests/openbb_terminal/economy/cassettes/test_fred_model/test_output[check_series_id-kwargs_dict0].yaml
  tests/openbb_terminal/economy/csv/test_fred_model/test_check_output[get_series_data-kwargs_dict1].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_check_output[get_series_notes-kwargs_dict0].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict0].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict1].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict2].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict3].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict4].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict5].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_cpi[get_cpi-kwargs_dict6].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict0].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_get_series_ids[get_series_ids-kwargs_dict1].csv
  tests/openbb_terminal/economy/csv/test_fred_model/test_load_data[get_series_data-kwargs_dict0].csv
  tests/openbb_terminal/economy/json/test_fred_model/test_output[check_series_id-kwargs_dict0].json
  tests/openbb_terminal/economy/test_fred_model.py
  tests/openbb_terminal/economy/txt/test_economy_controller/test_print_help.txt
Labels: feat XL

#4342 Feature - Disable unit test on draft PR
  .github/workflows/README.md
  .github/workflows/unit-test.yml
Labels: feat XS

#4263 Updating Docs Pages and Intro Guides.
  website/content/sdk/guides/advanced/api-keys.md
  website/content/sdk/guides/intros/stocks/fundamental-analysis.md
  website/content/sdk/quickstart/api-keys.md
  website/content/sdk/quickstart/faq.md
  website/content/sdk/quickstart/installation.md
  website/content/sdk/quickstart/requirements.md
  website/content/sdk/quickstart/troubleshooting.md
  website/content/terminal/guides/advanced/api-keys.md
  website/content/terminal/guides/advanced/data.md
  website/content/terminal/guides/advanced/scripts-and-routines.md
  website/content/terminal/guides/intros/common/ba.md
  website/content/terminal/guides/intros/fixedincome.md
  website/content/terminal/guides/intros/stocks/index.md
  website/content/terminal/quickstart/api-keys.md
  website/content/terminal/quickstart/faq.md
  website/content/terminal/quickstart/installation.md
  website/content/terminal/quickstart/requirements.md
  website/content/terminal/quickstart/troubleshooting.md
Labels: docs, feat XL, guides, SDK

#4323 [Feature] Automatic Video Analysis with NLP 📺
  .github/workflows/intel_macos_build.yml
  .gitignore
  build/pyinstaller/hooks/hook-whisper.py
  build/pyinstaller/terminal.spec
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/sdk/models/economy_sdk_model.py
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/core/sdk/trail_map_forecasting.csv
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/whisper_model.py
  openbb_terminal/forecast/whisper_utils.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/sdk.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat M, forecast

#4356 Fix short name
  openbb_terminal/stocks/tradinghours/tradinghours_controller.py
Labels: feat XS
