Repository OpenBB-finance/OpenBB, pull requests merged in 2023-11, with the labels that each got.

#5537 Bug fixes in financial statements
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/platform/provider/openbb_provider/standard_models/balance_sheet.py
  openbb_platform/platform/provider/openbb_provider/standard_models/cash_flow.py
  openbb_platform/platform/provider/openbb_provider/standard_models/earnings_call_transcript.py
  openbb_platform/platform/provider/openbb_provider/standard_models/income_statement.py
  openbb_platform/platform/provider/openbb_provider/standard_models/stock_insider_trading.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/stock_insider_trading.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_balance_sheet_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_earnings_call_transcript_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_income_statement_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_stock_insider_trading_fetcher.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_income_statement_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_balance_sheet_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_income_statement_fetcher.yaml
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher.yaml
Labels: feat XL, platform, v4

#5646 fix docs
  website/content/bot/reference/discord/alerts/index.mdx
  website/content/bot/reference/discord/autopost/index.mdx
  website/content/bot/reference/discord/charts/index.mdx
  website/content/bot/reference/discord/crypto/index.mdx
  website/content/bot/reference/discord/darkpool/index.mdx
  website/content/bot/reference/discord/discovery/index.mdx
  website/content/bot/reference/discord/duedilligence/index.mdx
  website/content/bot/reference/discord/economy/index.mdx
  website/content/bot/reference/discord/etf/index.mdx
  website/content/bot/reference/discord/flow/index.mdx
  website/content/bot/reference/discord/fun/index.mdx
  website/content/bot/reference/discord/general/index.mdx
  website/content/bot/reference/discord/government/index.mdx
  website/content/bot/reference/discord/index.mdx
  website/content/bot/reference/discord/info/index.mdx
  website/content/bot/reference/discord/nft/index.mdx
  website/content/bot/reference/discord/options/index.mdx
  website/content/bot/reference/discord/pop/index.mdx
  website/content/bot/reference/discord/screeners/index.mdx
  website/content/bot/reference/discord/short_data/index.mdx
  website/content/bot/reference/generate_index.py
  website/content/bot/reference/telegram/charts/index.mdx
  website/content/bot/reference/telegram/crypto/index.mdx
  website/content/bot/reference/telegram/darkpool/index.mdx
  website/content/bot/reference/telegram/discovery/index.mdx
  website/content/bot/reference/telegram/duediligence/index.mdx
  website/content/bot/reference/telegram/economy/index.mdx
  website/content/bot/reference/telegram/etf/index.mdx
  website/content/bot/reference/telegram/flow/index.mdx
  website/content/bot/reference/telegram/fun/index.mdx
  website/content/bot/reference/telegram/general/index.mdx
  website/content/bot/reference/telegram/government/index.mdx
  website/content/bot/reference/telegram/index.mdx
  website/content/bot/reference/telegram/info/index.mdx
  website/content/bot/reference/telegram/nft/index.mdx
  website/content/bot/reference/telegram/options/index.mdx
  website/content/bot/reference/telegram/overview/index.mdx
  website/content/bot/reference/telegram/screeners/index.mdx
  website/content/bot/reference/telegram/short_data/index.mdx
Labels: feat XL

#5658 Fix the redirect for intro to the correct url for docs
  openbb_terminal/terminal_controller.py
Labels: feat XS

#5615 Contributing guidelines
  openbb_platform/CONTRIBUTING.md
Labels: feat M

#5659 Add ETF holdings performance with FMP data
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_holdings_performance.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings_performance.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_holdings_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat M, platform, v4

#5642 Feature/fmp-stock-search: Add FMP as provider to `obb.stocks.search()`
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/stock_search.py
  openbb_platform/providers/fmp/openbb_fmp/utils/definitions.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_stock_search_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat M, platform, v4

#5628 economy.calendar nasdaq
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/platform/provider/openbb_provider/standard_models/economic_calendar.py
  openbb_platform/providers/nasdaq/README.md
  openbb_platform/providers/nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/helpers.py
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/nasdaq/pyproject.toml
  openbb_platform/providers/nasdaq/tests/__init__.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_economic_calendar_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/pyproject.toml
Labels: feat XL, v4

#5665 Update settings.md
  website/content/pro/settings.md
Labels: docs, feat XS

#5667 fix front matter
  website/content/pro/dashboards/index.md
  website/content/pro/dashboards/report.md
  website/content/pro/main-menu/data-connectors/single-widget.md
Labels: docs, feat XS

#5672 Feature/v4-dividend-calendar: Adds Nasdaq dividend calendar and moves the command out of fundamental_analysis
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/fa/fa_router.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/calendar_dividend.py
  openbb_platform/platform/provider/openbb_provider/standard_models/calendar_ipo.py
  openbb_platform/platform/provider/openbb_provider/standard_models/dividend_calendar.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/calendar_dividend.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_calendar_dividend_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_dividend_calendar_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/helpers.py
  openbb_platform/providers/nasdaq/pyproject.toml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_calendar_dividend_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_calendar_ipo_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: feat XL, platform, v4

#5660 Add disc endpoints
  openbb_platform/dev_install.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/disc/disc_router.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/econometrics.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/futures.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/qa.py
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/openbb/package/ta.py
  openbb_platform/platform/provider/openbb_provider/standard_models/filings.py
  openbb_platform/platform/provider/openbb_provider/standard_models/top_retail.py
  openbb_platform/platform/provider/openbb_provider/standard_models/upcoming_release_days.py
  openbb_platform/poetry.lock
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/disc_filings.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_filings_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_top_retail_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
  openbb_platform/providers/quandl/openbb_quandl/models/top_retail.py
  openbb_platform/providers/quandl/tests/test_quandl_fetchers.py
  openbb_platform/providers/seeking_alpha/README.md
  openbb_platform/providers/seeking_alpha/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/upcoming_release_days.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/utils/__init__.py
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/seeking_alpha/pyproject.toml
  openbb_platform/providers/seeking_alpha/tests/__init__.py
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_upcoming_release_days_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/test_seeking_alpha_fetchers.py
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/pyproject.toml
Labels: tests, feat XL, platform, v4

#5673 Fix installation of dependencies in Platform integration tests
  .github/workflows/platform-api-integration-test.yml
Labels: tests, feat XS, v4

#5652 #5633 adding comma every 1000
  openbb_terminal/cryptocurrency/discovery/cryptostats_view.py
Labels: feat XS

#5669 Hotfix/reports model render report sanitize inputs
  openbb_terminal/reports/reports_model.py
Labels: feat XS

#5670 feature/compare-etf-countries: Add multi-ticker support to etf_countries
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_countries.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_countries.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_countries_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat S, platform, v4

#5668 hotfix/fix-econ-cal: Nasdaq Econ Calendar Fetcher
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_economic_calendar_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: bug, feat L, platform, v4

#5677 Feature/v4-unusual-options: Adds unusual options endpoint.
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/options/options_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/options_unusual.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_unusual.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_unusual_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: feat M, platform, v4

#5676 hotfix/fix-gov-histcont: Fix #5650 - /stocks/gov/histcont
  openbb_terminal/stocks/government/quiverquant_view.py
Labels: bug, feat XS

#5675 hotfix/stock-screener-sort: Fix for #5671 - sort by `fwdp/e` in Stock Screener
  openbb_terminal/stocks/screener/screener_controller.py
Labels: bug, feat XS

#5681 hotfix/fmp-disc-filings: Update FMP fetcher to use the V4 endpoint.
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/platform/provider/openbb_provider/standard_models/filings.py
  openbb_platform/providers/fmp/openbb_fmp/models/disc_filings.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_filings_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat L, platform, v4

#5678 Fix price performance not parsed correctly when there is only 1 ticker
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings_performance.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
Labels: bug, feat XS, v4

#5679 Add crypto search standard model and FMP data for it
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/crypto_search.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_search.py
  openbb_platform/providers/fmp/openbb_fmp/models/py.typed
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_search_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat L, crypto, v4

#5684 Apply renaming to news data
  openbb_platform/PROVIDERS.md
  openbb_platform/dev_install.py
  openbb_platform/extensions/charting/openbb_charting/charting_router.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/platform/core/openbb_core/app/provider_interface.py
  openbb_platform/platform/provider/openbb_provider/standard_models/company_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/benzinga/tests/record/http/test_benzinga_fetchers/test_benzinga_company_news_fetcher.yaml
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/treasury_rates.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_company_news_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_company_news_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/ultima/README.md
  openbb_platform/providers/ultima/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/models/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/models/company_news.py
  openbb_platform/providers/ultima/openbb_ultima/py.typed
  openbb_platform/providers/ultima/openbb_ultima/utils/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/utils/helpers.py
  openbb_platform/providers/ultima/poetry.lock
  openbb_platform/providers/ultima/pyproject.toml
  openbb_platform/providers/ultima/tests/__init__.py
  openbb_platform/providers/ultima/tests/record/http/test_ultima_fetchers/test_ultima_company_news_fetcher.yaml
  openbb_platform/providers/ultima/tests/test_ultima_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_company_news_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
  openbb_platform/pyproject.toml
Labels: refactor, feat XL, v4

#5473 Feature/v4-market-snapshots: Adds full market snapshots
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/platform/provider/openbb_provider/standard_models/market_snapshots.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_snapshots.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_market_snapshots_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_snapshots.py
  openbb_platform/providers/polygon/openbb_polygon/utils/helpers.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_market_snapshots_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Labels: feat XL, platform, v4

#5617 Feature/polygon-stock-quote: Add NBBO Quotes, with historical, to `obb.stocks.quote()`
  openbb_platform/extensions/stocks/integration/test_stocks_api.py
  openbb_platform/extensions/stocks/integration/test_stocks_python.py
  openbb_platform/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/stock_nbbo.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/stock_nbbo.py
  openbb_platform/providers/polygon/openbb_polygon/utils/helpers.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_stock_nbbo_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Labels: feat M, platform, v4

#5682 hotfix/update-quandl-to-nasdaq: Merge Quandl + Nasdaq
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/platform/provider/openbb_provider/standard_models/cot.py
  openbb_platform/platform/provider/openbb_provider/standard_models/sp500_multiples.py
  openbb_platform/poetry.lock
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot_search.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/series_ids.py
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/nasdaq/pyproject.toml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_cot_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_sp500_multiples_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
  openbb_platform/providers/quandl/README.md
  openbb_platform/providers/quandl/__init__.py
  openbb_platform/providers/quandl/openbb_quandl/__init__.py
  openbb_platform/providers/quandl/openbb_quandl/models/__init__.py
  openbb_platform/providers/quandl/openbb_quandl/models/sp500_multiples.py
  openbb_platform/providers/quandl/openbb_quandl/models/top_retail.py
  openbb_platform/providers/quandl/openbb_quandl/utils/__init__.py
  openbb_platform/providers/quandl/poetry.lock
  openbb_platform/providers/quandl/pyproject.toml
  openbb_platform/providers/quandl/tests/__init__.py
  openbb_platform/providers/quandl/tests/record/http/test_quandl_fetchers/test_quandl_cot_fetcher.yaml
  openbb_platform/providers/quandl/tests/record/http/test_quandl_fetchers/test_quandl_sp500_multiples_fetcher.yaml
  openbb_platform/providers/quandl/tests/test_quandl_fetchers.py
  openbb_platform/pyproject.toml
Labels: feat XL, platform, v4

#5453 Add more input types to data processing commands
  openbb_platform/platform/core/openbb_core/app/static/filters.py
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/platform/core/openbb_core/app/utils.py
  openbb_platform/platform/core/tests/app/static/test_filters.py
  openbb_platform/platform/core/tests/app/static/test_package_builder.py
  openbb_platform/platform/core/tests/app/test_utils.py
  openbb_platform/platform/provider/openbb_provider/abstract/data.py
Labels: feat M, v4

#5685 Pin openai
  poetry.lock
  pyproject.toml
Labels: bug, feat XS

#5687 Rename Forex to Currency
  openbb_platform/CONTRIBUTING.md
  openbb_platform/EXTENSIONS.md
  openbb_platform/dev_install.py
  openbb_platform/extensions/currency/README.md
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/__init__.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/currency/openbb_currency/price/__init__.py
  openbb_platform/extensions/currency/openbb_currency/price/price_router.py
  openbb_platform/extensions/currency/openbb_currency/py.typed
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/currency/pyproject.toml
  openbb_platform/extensions/currency/tests/.gitkeep
  openbb_platform/extensions/forex/tests/.gitkeep
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/forex.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/platform/provider/openbb_provider/standard_models/currency_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/currency_pairs.py
  openbb_platform/platform/provider/poetry.lock
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_pairs.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_pairs_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/currency_pairs.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_currency_pairs_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/tests/utils/credentials_schema.py
  openbb_platform/providers/tests/utils/unit_tests_generator.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_currency_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
  openbb_platform/pyproject.toml
Labels: feat L, platform, v4

#5686 Hotfix/fix-fmp-market-snapshots - make fields optional again.
  openbb_platform/providers/fmp/openbb_fmp/models/market_snapshots.py
Labels: bug, feat XS, platform, v4

#5468 Clarified stocks/ta empty recom object message
  openbb_terminal/stocks/technical_analysis/tradingview_view.py
Labels: feat XS

#5169 improved market cap value extraction
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
Labels: feat XS

#5695 Rename Fixed Income
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/spreads/__init__.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/spreads/spreads_router.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/module_map.json
Labels: feat XL, platform, v4

#5699 Feature/files-for-igor: Adding a few standard models for Igor
  openbb_platform/platform/provider/openbb_provider/standard_models/bond_prices.py
  openbb_platform/platform/provider/openbb_provider/standard_models/bond_reference.py
  openbb_platform/platform/provider/openbb_provider/standard_models/bond_trades.py
  openbb_platform/platform/provider/openbb_provider/utils/descriptions.py
Labels: feat M, platform, v4

#5703 Add devtools metapackage
  openbb_platform/dev_install.py
  openbb_platform/extensions/devtools/README.md
  openbb_platform/extensions/devtools/integration/.gitkeep
  openbb_platform/extensions/devtools/openbb_devtools/__init__.py
  openbb_platform/extensions/devtools/pyproject.toml
Labels: feat XS, v4

#5702 Rename econometrics commands to be more verbose
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
Labels: feat M, v4

#5706 Expose command to model map
  openbb_platform/openbb/package/stocks.py
  openbb_platform/openbb/package/stocks_ca.py
  openbb_platform/openbb/package/stocks_fa.py
  openbb_platform/openbb/package/stocks_options.py
  openbb_platform/platform/core/openbb_core/api/dependency/coverage.py
  openbb_platform/platform/core/openbb_core/api/router/coverage.py
  openbb_platform/platform/core/openbb_core/app/static/coverage.py
  openbb_platform/platform/core/tests/api/test_router/test_router_coverage.py
Labels: enhancement, feat XL, platform, v4

#5708 Rename ta qa
  openbb_platform/dev_install.py
  openbb_platform/extensions/charting/integration/test_charting_python.py
  openbb_platform/extensions/charting/openbb_charting/core/plotly_ta/plugins/custom_indicators_plugin.py
  openbb_platform/extensions/charting/openbb_charting/core/plotly_ta/plugins/momentum_plugin.py
  openbb_platform/extensions/qa/poetry.lock
  openbb_platform/extensions/quantitative/README.md
  openbb_platform/extensions/quantitative/integration/test_quantitative_api.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
  openbb_platform/extensions/quantitative/openbb_quantitative/__init__.py
  openbb_platform/extensions/quantitative/openbb_quantitative/helpers.py
  openbb_platform/extensions/quantitative/openbb_quantitative/models.py
  openbb_platform/extensions/quantitative/openbb_quantitative/py.typed
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/quantitative/pyproject.toml
  openbb_platform/extensions/quantitative/tests/.gitkeep
  openbb_platform/extensions/ta/openbb_ta/py.typed
  openbb_platform/extensions/ta/poetry.lock
  openbb_platform/extensions/ta/tests/.gitkeep
  openbb_platform/extensions/technical/README.md
  openbb_platform/extensions/technical/integration/test_technical_api.py
  openbb_platform/extensions/technical/integration/test_technical_python.py
  openbb_platform/extensions/technical/openbb_technical/__init__.py
  openbb_platform/extensions/technical/openbb_technical/helpers.py
  openbb_platform/extensions/technical/openbb_technical/py.typed
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/extensions/technical/pyproject.toml
  openbb_platform/extensions/technical/tests/.gitkeep
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/pyproject.toml
Labels: refactor, feat XL, v4

#5715 Rename etf discovery
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/disc/__init__.py
  openbb_platform/extensions/etf/openbb_etf/discovery/__init__.py
  openbb_platform/extensions/etf/openbb_etf/discovery/discovery_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
Labels: refactor, feat XS, v4

#5701 Platform publishing procedure
  build/pypi/openbb_platform/PUBLISH.md
  build/pypi/openbb_platform/publish.py
  openbb_platform/platform/core/openbb_core/api/rest_api.py
  openbb_platform/platform/core/openbb_core/app/constants.py
  openbb_platform/platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/platform/core/openbb_core/app/version.py
Labels: feat XS

#5719 Hotfix/pypi openbb terminal
  pyproject.toml
  website/content/platform/installation.md
  website/content/terminal/installation/pypi.md
  website/pypi.md
Labels: docs, feat XS, v4

#5728 Finishing touches to the publishing procedure
  build/pypi/openbb_platform/PUBLISH.md
  build/pypi/openbb_platform/publish.py
Labels: docs, feat S, platform

#5725 Run tests on develop
  .github/workflows/platform-core.yml
  noxfile.py
Labels: feat XS

#5723 Seprate Intrinio financials data tags into a different command
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/balance_sheet.py
  openbb_platform/platform/provider/openbb_provider/standard_models/cash_flow.py
  openbb_platform/platform/provider/openbb_provider/standard_models/financial_attributes.py
  openbb_platform/platform/provider/openbb_provider/standard_models/income_statement.py
  openbb_platform/platform/provider/openbb_provider/standard_models/search_financial_attributes.py
  openbb_platform/platform/provider/openbb_provider/utils/descriptions.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_attributes.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/search_financial_attributes.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_financial_attributes.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_search_financial_attributes.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: feat M, platform, v4

#5734 Fix threadpool test error
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_cash_flow_statement_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_income_statement_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: tests, platform, v4

#5736 Remove ultima from deps
  openbb_platform/dev_install.py
  openbb_platform/providers/ultima/tests/test_ultima_fetchers.py
  openbb_platform/pyproject.toml
Labels: dependencies, platform

#5724 feature/new-currency-reference-rates: Replacement PR for #5711
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/currency_reference_rates.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/models/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/models/currency_reference_rates.py
  openbb_platform/providers/ecb/openbb_ecb/utils/__init__.py
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/ecb/pyproject.toml
  openbb_platform/providers/ecb/tests/record/http/test_ecb_fetchers/test_ecb_currency_reference_rates_fetcher.yaml
  openbb_platform/providers/ecb/tests/test_ecb_fetchers.py
Labels: feat M, platform, v4

#5739 Lint python package folder
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
Labels: bug, v4

#5741 Remove `news` from `equity`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
Labels: platform, v4

#5740 Add tiingo provider
  openbb_platform/dev_install.py
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/platform/provider/openbb_provider/standard_models/currency_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/trailing_dividend_yield.py
  openbb_platform/providers/tests/utils/credentials_schema.py
  openbb_platform/providers/tiingo/README.md
  openbb_platform/providers/tiingo/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/global_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/trailing_dividend_yield.py
  openbb_platform/providers/tiingo/openbb_tiingo/utils/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/utils/helpers.py
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tiingo/pyproject.toml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_company_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_crypto_historical_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_currency_historical_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_equity_historical_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_global_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_trailing_div_yield_fetcher.yaml
  openbb_platform/providers/tiingo/tests/test_tiingo_fetchers.py
  openbb_platform/pyproject.toml
Labels: feat XL, platform, v4

#5742 Add `derivatives` extension for `futures` and `options`
  openbb_platform/dev_install.py
  openbb_platform/extensions/derivatives/README.md
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/__init__.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/futures/__init__.py
  openbb_platform/extensions/derivatives/openbb_derivatives/futures/futures_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/__init__.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/derivatives/pyproject.toml
  openbb_platform/extensions/derivatives/tests/.gitkeep
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/futures/README.md
  openbb_platform/extensions/futures/integration/test_futures_api.py
  openbb_platform/extensions/futures/openbb_futures/py.typed
  openbb_platform/extensions/futures/tests/.gitkeep
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Labels: feat XL, platform, v4

#5722 bug #5649
  openbb_terminal/stocks/government/quiverquant_model.py
  openbb_terminal/stocks/government/quiverquant_view.py
Labels: bug, feat XS

#5744 Rename the fmp search -> screener
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/equity_screener.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_screener.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_screener_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: feat XS, platform, v4

#5745 Stock leftover cleanup
  openbb_platform/CONTRIBUTING.md
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/platform/core/README.md
  openbb_platform/platform/core/tests/app/static/test_package_builder.py
  openbb_platform/platform/provider/README.md
  openbb_platform/platform/provider/openbb_provider/standard_models/equity_ftd.py
  openbb_platform/platform/provider/openbb_provider/standard_models/equity_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/equity_nbbo.py
  openbb_platform/platform/provider/openbb_provider/standard_models/historical_splits.py
  openbb_platform/platform/provider/openbb_provider/standard_models/insider_trading.py
  openbb_platform/providers/README.md
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/european_index_constituents.py
  openbb_platform/providers/cboe/openbb_cboe/models/european_indices.py
  openbb_platform/providers/cboe/openbb_cboe/models/market_indices.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/calendar_splits.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/historical_splits.py
  openbb_platform/providers/fmp/openbb_fmp/models/insider_trading.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_insider_trading_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_stock_insider_trading_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Labels: feat S, platform, v4

#5732 Hotfix/urllib to dev group
  openbb_platform/platform/core/openbb_core/app/static/decorators.py
  openbb_platform/platform/core/openbb_core/app/version.py
  openbb_platform/platform/provider/pyproject.toml
Labels: feat XS

#5718 feature/earnings-calendar-v4: Nasdaq calendar earnings and fix FMP calendar earnings
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/platform/provider/openbb_provider/standard_models/calendar_earnings.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/calendar_earnings.py
  openbb_platform/providers/fmp/openbb_fmp/models/historical_eps.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_calendar_earnings_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_historical_eps_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_calendar_dividend_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_calendar_earnings_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: feat XL, platform, v4

#5749 Update hub<>platform credentials map
  openbb_platform/platform/core/openbb_core/app/model/credentials.py
  openbb_platform/platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_platform/platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/platform/core/tests/app/service/test_hub_service.py
Labels: bug, v4

#5743 Add API settings schema to system settings
  openbb_platform/platform/core/openbb_core/api/rest_api.py
  openbb_platform/platform/core/openbb_core/app/model/rest_api_settings.py
  openbb_platform/platform/core/openbb_core/app/model/system_settings.py
Labels: feat S, v4

#5737 Skip checking creds
  openbb_platform/CONTRIBUTING.md
  openbb_platform/platform/core/README.md
  openbb_platform/platform/core/openbb_core/app/model/credentials.py
  openbb_platform/platform/core/openbb_core/app/model/extension.py
  openbb_platform/platform/core/openbb_core/app/provider_interface.py
  openbb_platform/platform/core/tests/app/model/test_credentials.py
  openbb_platform/platform/core/tests/app/test_provider_interface.py
  openbb_platform/platform/provider/openbb_provider/abstract/fetcher.py
  openbb_platform/platform/provider/openbb_provider/abstract/provider.py
  openbb_platform/platform/provider/openbb_provider/query_executor.py
  openbb_platform/platform/provider/openbb_provider/registry_map.py
  openbb_platform/platform/provider/tests/abstract/test_provider.py
  openbb_platform/platform/provider/tests/test_query_executor.py
  openbb_platform/platform/provider/tests/test_registry_map.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_dividend.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_ipo.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot_search.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  website/content/platform/contributing/developer-guidelines/add_data_point.md
Labels: enhancement, v4

#5752 Fix Quote
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_equity_quote_fetcher.yaml
Labels: bug, platform, v4

#5750 Wrap up renaming global news to world news on a model level
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/platform/core/tests/app/static/test_package_builder.py
  openbb_platform/platform/provider/openbb_provider/standard_models/world_news.py
  openbb_platform/platform/provider/poetry.lock
  openbb_platform/platform/provider/pyproject.toml
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/world_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/py.typed
  openbb_platform/providers/benzinga/tests/record/http/test_benzinga_fetchers/test_benzinga_world_news_fetcher.yaml
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/biztoc/tests/record/http/test_biztoc_fetchers/test_biztoc_world_news_fetcher.yaml
  openbb_platform/providers/biztoc/tests/test_biztoc_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/world_news.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_world_news_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_world_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/world_news.py
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_world_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/test_tiingo_fetchers.py
Labels: feat M, v4

#5751 Remove eod from docstrings
  openbb_platform/platform/provider/openbb_provider/standard_models/crypto_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/etf_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/european_indices.py
  openbb_platform/platform/provider/openbb_provider/standard_models/futures_historical.py
  openbb_platform/platform/provider/openbb_provider/standard_models/world_news.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_historical.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_info.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/upcoming_release_days.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_curve.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Labels: feat S, v4

#5730 Update sdk-platform and v4-develop in urls
  openbb_platform/README.md
  openbb_platform/extensions/crypto/README.md
  openbb_platform/extensions/currency/README.md
  openbb_platform/extensions/econometrics/README.md
  openbb_platform/extensions/economy/README.md
  openbb_platform/extensions/equity/README.md
  openbb_platform/extensions/fixedincome/README.md
  openbb_platform/extensions/index/README.md
  openbb_platform/extensions/news/README.md
  openbb_platform/extensions/quantitative/README.md
  openbb_platform/extensions/regulators/README.md
  openbb_platform/extensions/technical/README.md
  openbb_platform/providers/alpha_vantage/README.md
  openbb_platform/providers/benzinga/README.md
  openbb_platform/providers/cboe/README.md
  openbb_platform/providers/ecb/README.md
  openbb_platform/providers/finra/README.md
  openbb_platform/providers/fmp/README.md
  openbb_platform/providers/fred/README.md
  openbb_platform/providers/intrinio/README.md
  openbb_platform/providers/nasdaq/README.md
  openbb_platform/providers/polygon/README.md
  openbb_platform/providers/sec/README.md
  openbb_platform/providers/seeking_alpha/README.md
  openbb_platform/providers/stockgrid/README.md
  openbb_platform/providers/tradingeconomics/README.md
  openbb_platform/providers/ultima/README.md
  openbb_platform/providers/wsj/README.md
  openbb_platform/providers/yfinance/README.md
  website/content/platform/installation.md
  website/pypi.md
Labels: feat S, v4

#5753 Updates system and api settings
  openbb_platform/platform/core/openbb_core/api/rest_api.py
  openbb_platform/platform/core/openbb_core/app/model/rest_api_settings.py
  openbb_platform/platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/platform/core/openbb_core/app/service/system_service.py
Labels: feat S, v4

#5756 Squeeze build time
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_options.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/platform/core/openbb_core/app/router.py
  openbb_platform/platform/core/openbb_core/app/static/build_utils.py
  openbb_platform/platform/core/openbb_core/app/static/coverage.py
  openbb_platform/platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/platform/core/tests/app/static/test_package_builder.py
  openbb_platform/platform/provider/openbb_provider/registry.py
Labels: feat L

#5747 docs/working-docs: Working V4 Docs PR
  openbb_platform/README.md
  openbb_platform/extensions/crypto/README.md
  openbb_platform/extensions/currency/README.md
  openbb_platform/extensions/econometrics/README.md
  openbb_platform/extensions/economy/README.md
  openbb_platform/extensions/equity/README.md
  openbb_platform/extensions/fixedincome/README.md
  openbb_platform/extensions/index/README.md
  openbb_platform/extensions/news/README.md
  openbb_platform/extensions/quantitative/README.md
  openbb_platform/extensions/regulators/README.md
  openbb_platform/extensions/technical/README.md
  openbb_platform/providers/alpha_vantage/README.md
  openbb_platform/providers/benzinga/README.md
  openbb_platform/providers/cboe/README.md
  openbb_platform/providers/ecb/README.md
  openbb_platform/providers/finra/README.md
  openbb_platform/providers/fmp/README.md
  openbb_platform/providers/fred/README.md
  openbb_platform/providers/intrinio/README.md
  openbb_platform/providers/nasdaq/README.md
  openbb_platform/providers/polygon/README.md
  openbb_platform/providers/sec/README.md
  openbb_platform/providers/seeking_alpha/README.md
  openbb_platform/providers/stockgrid/README.md
  openbb_platform/providers/tradingeconomics/README.md
  openbb_platform/providers/ultima/README.md
  openbb_platform/providers/wsj/README.md
  openbb_platform/providers/yfinance/README.md
  website/content/platform/contributing/_category_.json
  website/content/platform/contributing/contributor-guidelines/index.md
  website/content/platform/development/_category_.json
  website/content/platform/development/contributor-guidelines/_category_.json
  website/content/platform/development/contributor-guidelines/expecations_for_contributors.md
  website/content/platform/development/contributor-guidelines/index.md
  website/content/platform/development/contributor-guidelines/manage_extensions.md
  website/content/platform/development/contributor-guidelines/quality_assurance.md
  website/content/platform/development/contributor-guidelines/sharing_extensions.md
  website/content/platform/development/contributor-guidelines/write_code_commit.md
  website/content/platform/development/dependency_management.md
  website/content/platform/development/developer-guidelines/_category_.json
  website/content/platform/development/developer-guidelines/add_custom_data_sources.md
  website/content/platform/development/developer-guidelines/add_data_point.md
  website/content/platform/development/developer-guidelines/architectural_considerations.md
  website/content/platform/development/developer-guidelines/build_openbb_extensions.md
  website/content/platform/development/developer-guidelines/expecations_for_developers.md
  website/content/platform/development/index.md
  website/content/platform/extensions/data_extensions.md
  website/content/platform/extensions/toolkit_extensions.md
  website/content/platform/index.md
  website/content/platform/installation.md
  website/content/platform/usage/basic_syntax.md
  website/content/platform/usage/find_symbols.md
  website/content/platform/usage/market_calendars.md
  website/pypi.md
  website/src/pages/index.tsx
Labels: docs, feat L, platform, v4

#5765 Add Pro videos to docs + fix CI
  .github/workflows/gh-pages.yml
  website/content/pro/advanced-search.md
  website/content/pro/copilot.md
  website/content/pro/getting-started/index.md
  website/content/pro/main-menu/charting.md
  website/content/pro/main-menu/data-connectors/index.md
  website/content/pro/main-menu/homepage.md
  website/content/pro/main-menu/news.md
  website/content/pro/widgets/index.md
Labels: docs, feat XS

#5767 Generate widgets library
  .github/workflows/gh-pages.yml
  website/generate_widgets_library.py
  website/src/components/General/NewReferenceCard.tsx
Labels: docs, feat S

#5770 Add support for multiple ticker
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
Labels: bug, feat XS, platform, v4

#5772 Feature/fix platform unit test
  .github/workflows/platform-core.yml
Labels: feat XS

#5775 Docs/fix doc generations
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  tests/website/test_generate_docs.py
  website/controller_doc_classes.py
  website/generate_platform_v4_markdown.py
  website/generate_sdk_v3_markdown.py
  website/generate_terminal_v3_markdown.py
  website/generate_widgets_library.py
  website/metadata/platform_v4_seo_metadata.json
  website/metadata/sdk_v3_seo_metadata.json
  website/metadata/terminal_v3_examples.json
  website/metadata/terminal_v3_seo_metadata.json
  website/src/components/General/NewReferenceCard.tsx
Labels: docs, feat XL

#5777 Small fix to trigger docs workflow
  website/content/pro/widgets-library/index.md
Labels: docs, feat XS

#5771 Rename session file
  openbb_platform/README.md
  openbb_platform/platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/platform/core/openbb_core/app/static/account.py
  openbb_platform/platform/core/tests/app/service/test_hub_service.py
Labels: feat XS, v4

#5780 fix github pages deployment
  .github/workflows/gh-pages.yml
Labels: feat XS

#5781 small changes
  website/README.md
Labels: feat XS

#5779 Hotfix/fix int tests core merge
  openbb_platform/extensions/charting/integration/test_charting_api.py
  openbb_platform/extensions/charting/integration/test_charting_python.py
  openbb_platform/extensions/charting/openbb_charting/charting_router.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/openbb/package/equity_darkpool.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/upcoming_release_days.py
Labels: feat M

#5754 hotfix/fix-technical-output: Include Dates in Output
  openbb_platform/extensions/technical/integration/test_technical_api.py
  openbb_platform/extensions/technical/integration/test_technical_python.py
  openbb_platform/extensions/technical/openbb_technical/helpers.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Labels: bug, feat XS, platform, v4

#5785 hotfix/yfinance-download: Fix Intraday Helper
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: feat XS

#5792 docs/ fix `\n` in field descriptions breaks markdown table
  website/generate_platform_v4_markdown.py
Labels: docs, feat XS

#5796 Fix hqm
  openbb_platform/core/openbb_core/provider/standard_models/hqm.py
  openbb_platform/providers/fred/openbb_fred/models/hqm.py
Labels: bug, feat XS, platform, v4

#5797 Cleanup docs. with @the-praxs
  examples/README.md
  examples/financialStatements.ipynb
  examples/findSymbols.ipynb
  examples/loadHistoricalPriceData.ipynb
  examples/v3/README.md
  website/content/platform/development/contributor-guidelines/sharing_extensions.md
  website/content/platform/development/contributor-guidelines/write_code_commit.md
  website/content/platform/development/dependency_management.md
  website/content/platform/development/developer-guidelines/add_data_point.md
  website/content/platform/development/developer-guidelines/architectural_considerations.md
  website/content/platform/development/developer-guidelines/build_openbb_extensions.md
  website/content/platform/development/developer-guidelines/devtools.md
  website/content/platform/development/developer-guidelines/obbject.md
  website/content/platform/extensions/data_extensions.md
  website/content/platform/extensions/index.md
  website/content/platform/extensions/toolkit_extensions.md
  website/content/platform/installation.md
  website/content/platform/usage/basic_syntax.md
  website/content/platform/usage/commitment_of_traders.md
  website/content/platform/usage/financial_statements.md
  website/content/platform/usage/find_symbols.md
  website/content/platform/usage/historical_prices.md
  website/content/platform/usage/index.md
  website/content/platform/usage/market_calendars.md
Labels: docs, feat M, platform, v4

#5800 Equity multiples add symbol data field
  openbb_platform/core/openbb_core/provider/standard_models/equity_valuation_multiples.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_valuation_multiples.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_valuation_multiples_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_insider_trading_fetcher.yaml
Labels: feat XS

#5804 Fix the future dates not showing on split calendar on FMP
  openbb_platform/providers/fmp/openbb_fmp/models/calendar_splits.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_calendar_splits_fetcher.yaml
Labels: feat S

#5802 Add `symbols` field to standard model data
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_company_news_fetcher.yaml
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
Labels: feat M

#5793 Feature/fred-releases: Adds some FRED functionality to the economy router.
  .codespell.ignore
  openbb_platform/core/openbb_core/provider/standard_models/fred_search.py
  openbb_platform/core/openbb_core/provider/standard_models/fred_series.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_search_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_series_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/fred_series.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_fred_indices_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_fred_series_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: feat XL, platform, v4

#5810 User settings, small fix
  openbb_platform/core/openbb_core/app/model/user_settings.py
Labels: feat XS, platform

#5806 Remove finra, wsj and goventment-us from built ins
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Labels: build, feat XS, v4

#5795 Add sector news standard model
  openbb_platform/core/openbb_core/provider/standard_models/sector_news.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Labels: feat XS, v4

#5812 Replace provider error by openbb error
  openbb_platform/core/openbb_core/provider/query_executor.py
  openbb_platform/core/openbb_core/provider/utils/errors.py
  openbb_platform/core/tests/provider/test_query_executor.py
  openbb_platform/core/tests/provider/utils/test_errors.py
Labels: feat XS

#5814 `equity.calendar.split` -> `equity.calendar.splits`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
Labels: feat XS

#5813 Add Historical Dividends to Intrinio inplace of Calendar Dividends
  openbb_platform/core/openbb_core/provider/standard_models/historical_dividends.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/historical_dividends.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_dividends.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_historical_dividends_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: feat S

#5818 Warn loading error instead of raising
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/registry.py
Labels: feat XS, platform

#5817 hotfix/fmp-insider-trading - Fix FMP Insider Trading
  openbb_platform/core/openbb_core/provider/standard_models/insider_trading.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/insider_trading.py
  openbb_platform/providers/fmp/openbb_fmp/utils/definitions.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_insider_trading_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_insider_trading_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: bug, feat M, platform, v4

#5811 Fix nasdaq top retail working without a key resulting in an error
  openbb_platform/core/openbb_core/provider/query_executor.py
  openbb_platform/core/tests/provider/test_query_executor.py
Labels: feat XS

#5801 Set `level` as default `tag` value for `index.market` in Intrinio
  openbb_platform/providers/intrinio/openbb_intrinio/models/market_indices.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_market_indices_fetcher.yaml
Labels: feat S

#5819 Fix tests
  .github/workflows/platform-api-integration-test.yml
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_insider_trading_fetcher.yaml
  openbb_platform/providers/ultima/openbb_ultima/models/company_news.py
Labels: feat S

#5823 debuggint int tests
  .github/workflows/platform-api-integration-test.yml
  openbb_platform/extensions/charting/integration/test_charting_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/news/integration/test_news_api.py
Labels: feat XS

#5809 Standardize balance, income, cash for Intrinio
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Labels: feat S, v4

#5831 Attempt to fix search button
  website/src/theme/SearchBar/index.js
Labels: feat XS

#5830 Revamp `openbb-core` README
  openbb_platform/core/README.md
Labels: feat M

#5832 Second attempt to fix search on docs
  website/src/theme/SearchBar/index.js
Labels: docs

#5829 Move pytest dependencies from openbb level to to core dev deps level
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/dev_install.py
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
Labels: feat M, dependencies, v4

#5835 Prevent gh-actions from publishing v3 unless explicitly asked to
  .github/workflows/build-release.yml
  .github/workflows/labels-PR.yml
  .github/workflows/pypi.yml
Labels: build, feat XS

#5836 Fix the nightly script
  build/pypi/openbb_platform/nightly.py
Labels: feat XS
