Repository OpenBB-finance/OpenBB, pull requests merged in 2023-08, with the labels that each got.

#5268 Adds details/image for installing C++ Build Tools
  website/content/sdk/faqs/installation_updates.md
  website/content/terminal/faqs/installation_updates.md
  website/content/terminal/installation/source.md
Labels: feat XS

#5267 Move hub api keys ts
  CONTRIBUTING.md
  openbb_terminal/miscellaneous/models/all_api_keys.json
Labels: feat S

#5279 Hotfix/sdk py38
  openbb_sdk/sdk/core/openbb_core/api/dependency/user.py
  openbb_sdk/sdk/core/openbb_core/api/router/account.py
  openbb_sdk/sdk/core/openbb_core/api/router/commands.py
  openbb_sdk/sdk/core/openbb_core/api/router/settings.py
  openbb_sdk/sdk/core/openbb_core/api/router/system.py
  openbb_sdk/sdk/core/openbb_core/app/router.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/__extensions__.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/crypto.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/economy.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/fixedincome.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/forex.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/news.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/qa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_ca.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dd.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_fa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/ta.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
Labels: feat XL

#5277 Update all_api_keys.json
  .github/release-drafter.yml
  .github/workflows/linting.yml
  CONTRIBUTING.md
  json_validate_exclude.txt
  openbb_terminal/miscellaneous/models/all_api_keys.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_8.json
  website/tsconfig.json
Labels: feat XS

#5222 Feature/options_views: Add a Variety of Views/Charts to Extend the OptionsChains Class
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/stream/pages/Options.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/options/cboe_model.py
  openbb_terminal/stocks/options/intrinio_model.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/options_chains_model.py
  openbb_terminal/stocks/options/options_chains_view.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  openbb_terminal/stocks/options/tmx_model.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/options/yfinance_model.py
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[CL].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[YI].yaml
  tests/openbb_terminal/futures/test_yfinance_view.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[CL].txt
  tests/openbb_terminal/stocks/options/cassettes/test_options_chains_view/test_options_chains_view.yaml
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_10.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_11.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_12.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_8.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_model/test_OptionsChains_9.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_view/test_chains.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_view/test_expirations.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_view/test_last_price.json
  tests/openbb_terminal/stocks/options/json/test_options_chains_view/test_strikes.json
  tests/openbb_terminal/stocks/options/test_options_chains_model.py
  tests/openbb_terminal/stocks/options/test_options_chains_view.py
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_skew[options0-None-None-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_skew[options1-None-20-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_skew[options2-None-None-450-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_skew[options3-2023-07-18-None-None-True-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_skew[options4-None-None-None-False-True-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options0-None--False-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options1-None--False-True-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options2-None--True-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options3-None--True-True-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options4-strike--True-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options5-strike--True-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options5-strike-2023-07-18-True-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options6-strike--True-True-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_stats[options7-None--False-False-True-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_surface[options0-otm-None-None-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_surface[options1-itm-None-None-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_surface[options2-calls-None-None-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_surface[options3-puts-None-None-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_surface[options4-otm-dte_range4-strike_range4-None-True-True-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_surface[options5-otm-dte_range5-None-10-True-True-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options0-None-None-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options1-None-10-None-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options2-None-None-450-False-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options3-None-None-None-True-False-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options4-None-None-None-False-True-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options5-None-None-None-True-True-True].txt
  tests/openbb_terminal/stocks/options/txt/test_options_chains_view/test_display_volatility[options6-2023-07-18-None-None-False-False-True].txt
  website/content/sdk/usage/intros/stocks/options-chains.md
Labels: enhancement, feat XL, SDK

#5282 Custom package builder paths
  openbb_sdk/openbb/__init__.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
Labels: feat XS, v4

#5281 add `--india` flag to `stocks/load`
  openbb_terminal/parent_classes.py
Labels: feat XS

#5287 Actually fix databento this time
  openbb_terminal/stocks/databento_model.py
  tests/openbb_terminal/stocks/cassettes/test_databento_model/test_stock_load.yaml
  tests/openbb_terminal/stocks/csv/test_databento_model/test_stock_load.csv
  tests/openbb_terminal/stocks/test_databento_model.py
Labels: feat S

#5271 Fixed the get routines to meet the new backend standard
  openbb_terminal/account/account_controller.py
  openbb_terminal/account/account_view.py
  openbb_terminal/core/session/hub_model.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_list.txt
  tests/openbb_terminal/session/test_hub_model.py
Labels: feat S

#5293 hotfix/ conflict docstrings
  openbb_terminal/common/behavioural_analysis/reddit_view.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/forecast/brnn_view.py
  openbb_terminal/forecast/expo_view.py
Labels: feat S

#5274 Feature/news sentiment
  openbb_terminal/stocks/behavioural_analysis/news_sentiment_model.py
Labels: feat XS

#5303 Argparse custom params
  openbb_sdk/providers/fmp/openbb_fmp/models/crypto_eod.py
  openbb_sdk/sdk/core/openbb_core/app/model/custom_parameter.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/__extensions__.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/crypto.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/economy.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/fixedincome.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/forex.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/module_map.json
  openbb_sdk/sdk/core/openbb_core/app/static/package/news.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_ca.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dd.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_fa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/ta.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/balance_sheet.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/institutional_ownership.py
Labels: feat XL

#5295 Allow the exe command to run URLs
  openbb_terminal/terminal_controller.py
Labels: feat XS

#5304 hotfix/options-hist: Fixes `options/hist` to display date column when raw is True
  openbb_terminal/stocks/options/chartexchange_model.py
  openbb_terminal/stocks/options/chartexchange_view.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/tradier_view.py
  tests/openbb_terminal/stocks/options/test_chartexchange_view.py
  tests/openbb_terminal/stocks/options/txt/test_chartexchange_view/test_display_raw[False].txt
Labels: bug, feat XS

#5305 hotfix/ `/stocks/fa/pt` show all price targets on hover
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
Labels: feat XS

#5313 Silly
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
  openbb_terminal/terminal_controller.py
Labels: feat M

#5317 few more updates
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/parent_classes.py
Labels: feat XS

#5318 small fixy
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/hub_model.py
Labels: feat XS

#5319 Creates a "--dev" flag that points to dev backend for testing with hub
  openbb_terminal/account/account_controller.py
  openbb_terminal/common/ultima_newsmonitor_model.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/portfolio_engine.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  terminal.py
  tests/openbb_terminal/session/test_hub_model.py
Labels: feat S

#5322 Add pydocstyle to v4 pre-commit hook
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: docs, feat XS, dependencies, SDK, v4

#5312 Fix routines creation from the Terminal to Hub
  README.md
  openbb_terminal/account/account_controller.py
  openbb_terminal/common/ultima_newsmonitor_model.py
  openbb_terminal/core/completer/choices.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/economy/quantitative_analysis/qa_controller.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/keys_controller.py
  openbb_terminal/parent_classes.py
  openbb_terminal/portfolio/brokers/degiro/degiro_controller.py
  openbb_terminal/portfolio/portfolio_engine.py
  openbb_terminal/portfolio/portfolio_optimization/parameters/params_controller.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  terminal.py
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/test_terminal_controller.py
Labels: feat M

#5324 hotfix/simplify-regex
  openbb_terminal/parent_classes.py
Labels: enhancement, feat XS

#5309 Fix existing tests and add new ones
  .gitignore
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_sdk/sdk/core/tests/app/logs/test_handlers_manager.py
  openbb_sdk/sdk/core/tests/app/logs/test_logging_manager.py
  openbb_sdk/sdk/core/tests/app/logs/utils/test_expired_files.py
  openbb_sdk/sdk/core/tests/app/model/charts/test_chart_settings.py
  openbb_sdk/sdk/core/tests/app/model/test_obbject.py
  openbb_sdk/sdk/core/tests/app/static/test_package_builder.py
Labels: feat S

#5326 Feature/gen docstring
  openbb_sdk/openbb/__init__.py
  openbb_sdk/providers/benzinga/openbb_benzinga/models/global_news.py
  openbb_sdk/sdk/core/openbb_core/app/provider_interface.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/__extensions__.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/crypto.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/economy.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/fixedincome.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/forex.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/futures.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/news.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/qa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_ca.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dd.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_disc.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dps.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_fa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_gov.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_ins.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_options.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/ta.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/core/tests/app/static/test_package_builder.py
Labels: feat XL

#5336 Fixed the request function
  openbb_terminal/helper_funcs.py
Labels: feat XS

#5340 Fixed URL for uploading to the hub
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/settings_controller.py
Labels: feat XS

#5329 hotfix/fix-stocks-search-sdk3: Fixes the stocks search so that it doesn't `print_rich_table()` for SDK.
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_helper.py
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_search[False].txt
  tests/openbb_terminal/stocks/txt/test_stocks_helper/test_search[True].txt
Labels: feat S

#5344 Fixes #5332
  openbb_terminal/economy/econdb_model.py
Labels: feat XS

#5345 Improve documentation
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/terminal_controller.py
Labels: feat XS

#5348 move get_branch request to logging_settings
  openbb_sdk/sdk/core/openbb_core/app/logs/models/logging_settings.py
  openbb_sdk/sdk/core/openbb_core/app/logs/utils/system_utils.py
  openbb_sdk/sdk/core/openbb_core/app/model/system_settings.py
Labels: feat XS

#5333 Adds example notebook for installing in Google Colab
  examples/README.md
  examples/googleColabInstallation.ipynb
Labels: docs, feat XL

#5349 Thegraph totally changed, I removed the endpoints
  openbb_terminal/core/sdk/models/crypto_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/defi/graph_model.py
  openbb_terminal/cryptocurrency/defi/graph_view.py
  tests/openbb_terminal/cryptocurrency/defi/test_defi_controller.py
  tests/openbb_terminal/cryptocurrency/defi/test_graph_model.py
  tests/openbb_terminal/cryptocurrency/defi/test_graph_view.py
  tests/openbb_terminal/cryptocurrency/defi/txt/test_defi_controller/test_print_help.txt
  website/content/sdk/reference/crypto/defi/pairs.md
  website/content/sdk/reference/crypto/defi/pools.md
  website/content/sdk/reference/crypto/defi/stats.md
  website/content/sdk/reference/crypto/defi/swaps.md
  website/content/sdk/reference/crypto/defi/tokens.md
Labels: feat L

#5353 hotfix / Allow routine args inside lists
  openbb_terminal/routine_functions.py
  openbb_terminal/terminal_controller.py
Labels: feat XS

#5307 Convert all return fields to snake_case
  openbb_sdk/providers/fmp/openbb_fmp/models/analyst_estimates.py
  openbb_sdk/providers/fmp/openbb_fmp/models/available_indices.py
  openbb_sdk/providers/fmp/openbb_fmp/models/balance_sheet_growth.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_eod.py
  openbb_sdk/providers/fred/openbb_fred/models/cpi.py
  openbb_sdk/sdk/core/openbb_core/app/provider_interface.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/crypto.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/economy.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/fixedincome.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/forex.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/news.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dd.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_fa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_options.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/provider/openbb_provider/abstract/data.py
  openbb_sdk/sdk/provider/openbb_provider/abstract/query_params.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/company_overview.py
  openbb_sdk/sdk/provider/openbb_provider/utils/helpers.py
Labels: enhancement, feat L, SDK, v4

#5358 Hotfix/squeeze import
  openbb_sdk/extensions/charting/openbb_charting/core/openbb_figure.py
  openbb_sdk/extensions/qa/openbb_qa/qa_router.py
  openbb_sdk/extensions/ta/openbb_ta/ta_helpers.py
  openbb_sdk/sdk/core/openbb_core/app/logs/formatters/formatter_with_exceptions.py
  openbb_sdk/sdk/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_sdk/sdk/core/openbb_core/app/logs/models/logging_settings.py
  openbb_sdk/sdk/core/openbb_core/app/logs/utils/system_utils.py
  openbb_sdk/sdk/core/openbb_core/app/model/system_settings.py
  openbb_sdk/sdk/core/tests/app/logs/formatters/test_formatter_with_exceptions.py
  openbb_sdk/sdk/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_sdk/sdk/core/tests/app/logs/utils/test_system_utils.py
  openbb_sdk/sdk/core/tests/app/model/test_system_settings.py
Labels: feat S

#5351 bye bye shroom
  openbb_terminal/core/sdk/controllers/crypto_sdk_controller.py
  openbb_terminal/core/sdk/models/crypto_sdk_model.py
  openbb_terminal/core/sdk/models/keys_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/onchain/shroom_model.py
  openbb_terminal/cryptocurrency/onchain/shroom_view.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/documentation_scripts/documentation_commands_sdk.csv
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/sdk.py
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_onchain_controller/test_print_help.txt
  tests/openbb_terminal/test_keys_controller.py
  tests/openbb_terminal/test_keys_model.py
  website/content/sdk/reference/keys/index.md
  website/content/sdk/reference/keys/shroom.md
  website/content/sdk/usage/guides/api-keys.md
  website/content/terminal/usage/guides/api-keys.md
Labels: feat M

#5360 Fix URL in SDK Stock Screener Intro
  website/content/sdk/usage/intros/stocks/stocks-screener.md
Labels: docs, feat XS, guides, SDK

#5338 Small v4 cboe refactor
  openbb_sdk/providers/cboe/openbb_cboe/utils/helpers.py
  openbb_sdk/providers/cboe/poetry.lock
  openbb_sdk/providers/cboe/pyproject.toml
Labels: feat M, v4

#5352 Adding to sdk v4
  openbb_sdk/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_sdk/providers/fred/openbb_fred/__init__.py
  openbb_sdk/providers/fred/openbb_fred/models/ameribor_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/estr_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/fed_projections.py
  openbb_sdk/providers/fred/openbb_fred/models/fed_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/iorb_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/sofr_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/sonia_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/us_yield_curve.py
  openbb_sdk/providers/fred/openbb_fred/utils/cpi.csv
  openbb_sdk/providers/fred/openbb_fred/utils/fred_helpers.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/__extensions__.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/crypto.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/economy.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/fixedincome.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/forex.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/futures.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/news.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/qa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_ca.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dd.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_disc.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_dps.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_fa.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_gov.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_ins.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/stocks_options.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/ta.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/ameribor_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/estr_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/fed_projections.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/fed_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/iorb_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/sofr_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/sonia_rates.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/us_yield_curve.py
Labels: feat XL, v4

#5366 move debug_mode out of system settings
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
  openbb_sdk/sdk/core/openbb_core/app/env.py
  openbb_sdk/sdk/core/openbb_core/app/model/charts/charting_settings.py
  openbb_sdk/sdk/core/openbb_core/app/model/system_settings.py
  openbb_sdk/sdk/core/openbb_core/app/router.py
  openbb_sdk/sdk/core/openbb_core/app/service/system_service.py
  openbb_sdk/sdk/core/tests/app/model/charts/test_chart_settings.py
Labels: feat XS

#5367 Removed prints
  custom_pre_commit/check_doc.py
  custom_pre_commit/check_reserved_args.py
  openbb_terminal/account/account_view.py
  openbb_terminal/common/behavioural_analysis/finnhub_view.py
  openbb_terminal/common/technical_analysis/volatility_model.py
  openbb_terminal/core/models/sources_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/scripts/sdk_audit.py
  openbb_terminal/core/session/sources_handler.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
  openbb_terminal/cryptocurrency/defi/coindix_view.py
  openbb_terminal/cryptocurrency/defi/llama_view.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/pyth_view.py
  openbb_terminal/econometrics/econometrics_view.py
  openbb_terminal/economy/finviz_model.py
  openbb_terminal/economy/fred_model.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/whisper_model.py
  openbb_terminal/futures/sdk_helper.py
  openbb_terminal/loggers.py
  openbb_terminal/menu.py
  openbb_terminal/portfolio/portfolio_controller.py
  openbb_terminal/portfolio/portfolio_helper.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_view.py
  openbb_terminal/portfolio/portfolio_optimization/yahoo_finance_model.py
  openbb_terminal/reports/widget_helpers.py
  openbb_terminal/rich_config.py
  openbb_terminal/stocks/fundamental_analysis/sdk_helpers.py
  openbb_terminal/stocks/options/cboe_model.py
  openbb_terminal/stocks/options/intrinio_model.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/options_chains_model.py
  openbb_terminal/stocks/options/options_chains_view.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  openbb_terminal/stocks/options/tmx_model.py
  openbb_terminal/stocks/options/tradier_model.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/terminal_controller.py
  pyproject.toml
  tests/conftest.py
  tests/openbb_terminal/cryptocurrency/due_diligence/test_pycoingecko_view.py
  tests/openbb_terminal/etf/technical_analysis/test_ta_controller.py
  tests/openbb_terminal/forecast/test_forecast_controller.py
Labels: feat M

#5371 Add @classproperty to fetcher for nested return types
  openbb_sdk/providers/fred/openbb_fred/models/ameribor_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/cpi.py
  openbb_sdk/providers/fred/openbb_fred/models/estr_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/fed_projections.py
  openbb_sdk/providers/fred/openbb_fred/models/fed_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/iorb_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/sofr_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/sonia_rates.py
  openbb_sdk/providers/fred/openbb_fred/models/us_yield_curve.py
  openbb_sdk/providers/fred/openbb_fred/utils/fred_helpers.py
  openbb_sdk/sdk/core/openbb_core/app/static/package/economy.py
  openbb_sdk/sdk/provider/openbb_provider/abstract/fetcher.py
  openbb_sdk/sdk/provider/openbb_provider/registry_map.py
Labels: feat S

#5372 use singleton for provider interface: same functionality
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
  openbb_sdk/sdk/core/openbb_core/app/model/credentials.py
  openbb_sdk/sdk/core/openbb_core/app/model/obbject.py
  openbb_sdk/sdk/core/openbb_core/app/provider_interface.py
  openbb_sdk/sdk/core/openbb_core/app/query.py
  openbb_sdk/sdk/core/openbb_core/app/router.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/core/tests/app/model/test_credentials.py
  openbb_sdk/sdk/core/tests/app/test_provider_interface.py
  openbb_sdk/sdk/core/tests/app/test_query.py
  openbb_sdk/sdk/core/tests/test_query.py
Labels: feat XS

#5374 Feature/move package
  openbb_sdk/README.md
  openbb_sdk/openbb/__init__.py
  openbb_sdk/openbb/package/__extensions__.py
  openbb_sdk/openbb/package/__init__.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/fixedincome.py
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/futures.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/news.py
  openbb_sdk/openbb/package/qa.py
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/openbb/package/stocks_ca.py
  openbb_sdk/openbb/package/stocks_dd.py
  openbb_sdk/openbb/package/stocks_disc.py
  openbb_sdk/openbb/package/stocks_dps.py
  openbb_sdk/openbb/package/stocks_fa.py
  openbb_sdk/openbb/package/stocks_gov.py
  openbb_sdk/openbb/package/stocks_ins.py
  openbb_sdk/openbb/package/stocks_options.py
  openbb_sdk/openbb/package/ta.py
  openbb_sdk/sdk/core/openbb_core/app/static/app_factory.py
  openbb_sdk/sdk/core/openbb_core/app/static/package_builder.py
  openbb_sdk/sdk/core/tests/app/logs/handlers/test_path_tracking_file_handler.py
  openbb_sdk/sdk/core/tests/app/static/test_package_builder.py
Labels: feat M

#5292 1st integration with TimeGPT-1 (Beta), from Nixtla
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/forecast/helpers.py
  openbb_terminal/forecast/timegpt_model.py
  openbb_terminal/forecast/timegpt_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/models/all_api_keys.json
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/stocks_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat M

#5373 Fix foreach on routine where the inputs provided are not valid
  openbb_terminal/routine_functions.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#5370 Add example notebook for building volume-at-price chart.
  examples/README.md
  examples/volumeAtPrice.ipynb
Labels: docs, feat XL

#5383 Fix SDKv4 autocomplete
  openbb_sdk/openbb/__init__.py
  openbb_sdk/sdk/core/openbb_core/app/static/account.py
  openbb_sdk/sdk/core/openbb_core/app/static/app_factory.py
Labels: feat S, v4

#5375 Core tests
  openbb_sdk/sdk/core/openbb_core/app/charting_manager.py
  openbb_sdk/sdk/core/openbb_core/app/command_runner.py
  openbb_sdk/sdk/core/tests/app/test_charting_manager.py
  openbb_sdk/sdk/core/tests/app/test_command_runner.py
Labels: feat M

#5378 Change bootup message
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
Labels: feat XS

#5385 Allow to execute reports url from reports menu
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/reports/reports_controller.py
  tests/openbb_terminal/reports/txt/test_reports_controller/test_print_help.txt
Labels: feat S

#5380 update defillama_dapps json file
  openbb_terminal/cryptocurrency/data/defillama_dapps.json
Labels: feat XL

#5388 Feature/sdk usage basics webpage tidy
  website/content/sdk/usage/basics/index.md
Labels: feat XS

#5395 Rename EOD to Historical in code and files
  openbb_sdk/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_sdk/extensions/economy/openbb_economy/economy_router.py
  openbb_sdk/extensions/forex/openbb_forex/forex_router.py
  openbb_sdk/extensions/futures/openbb_futures/futures_router.py
  openbb_sdk/extensions/stocks/openbb_stocks/stocks_router.py
  openbb_sdk/openbb/package/crypto.py
  openbb_sdk/openbb/package/economy.py
  openbb_sdk/openbb/package/forex.py
  openbb_sdk/openbb/package/futures.py
  openbb_sdk/openbb/package/module_map.json
  openbb_sdk/openbb/package/stocks.py
  openbb_sdk/providers/cboe/openbb_cboe/__init__.py
  openbb_sdk/providers/cboe/openbb_cboe/models/stock_historical.py
  openbb_sdk/providers/cboe/openbb_cboe/utils/helpers.py
  openbb_sdk/providers/fmp/openbb_fmp/__init__.py
  openbb_sdk/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/forex_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/major_indices_historical.py
  openbb_sdk/providers/fmp/openbb_fmp/models/stock_historical.py
  openbb_sdk/providers/intrinio/openbb_intrinio/__init__.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/global_news.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_historical.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_news.py
  openbb_sdk/providers/intrinio/openbb_intrinio/models/stock_quote.py
  openbb_sdk/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_sdk/providers/polygon/openbb_polygon/__init__.py
  openbb_sdk/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/forex_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/major_indices_historical.py
  openbb_sdk/providers/polygon/openbb_polygon/models/stock_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/__init__.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/forex_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/income_statement.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/major_indices_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/stock_historical.py
  openbb_sdk/providers/yfinance/openbb_yfinance/models/stock_news.py
  openbb_sdk/sdk/provider/openbb_provider/query_executor.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/crypto_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/forex_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/futures_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/major_indices_historical.py
  openbb_sdk/sdk/provider/openbb_provider/standard_models/stock_historical.py
Labels: feat M
