Repository OpenBB-finance/OpenBB, pull requests merged in 2023-04, with the labels that each got.

#4643 Hotfix/disc upcoming
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/seeking_alpha_model.py
  openbb_terminal/stocks/discovery/seeking_alpha_view.py
  tests/openbb_terminal/stocks/discovery/cassettes/test_seeking_alpha_model/test_get_next_earnings.yaml
  tests/openbb_terminal/stocks/discovery/cassettes/test_seeking_alpha_view/test_upcoming_earning_release_dates.yaml
  tests/openbb_terminal/stocks/discovery/csv/test_seeking_alpha_model/test_get_next_earnings.csv
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/discovery/test_seeking_alpha_model.py
  tests/openbb_terminal/stocks/discovery/test_seeking_alpha_view.py
  tests/openbb_terminal/stocks/discovery/txt/test_seeking_alpha_view/test_upcoming_earning_release_dates.txt
Labels: bug, feat S

#4656 Re-record unit tests
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[ES].yaml
  tests/openbb_terminal/futures/cassettes/test_yfinance_view/test_display_curve[YI].yaml
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/mutual_funds/record/http/test_avanza_view/test_display_info[LU0424681269].yaml
  tests/openbb_terminal/mutual_funds/record/screen/test_avanza_view/test_display_info[LU0424681269].json
  tests/openbb_terminal/mutual_funds/test_avanza_view.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
Labels: bug, feat XL

#4652 Started the switch
  .github/workflows/macos_build.yml
Labels: feat XS

#4653 Fix stocks/news command
  openbb_terminal/common/feedparser_model.py
  openbb_terminal/common/feedparser_view.py
  openbb_terminal/common/newsapi_model.py
  openbb_terminal/common/newsapi_view.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[-].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[Apple-].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[TSLA-bloomberg].csv
  tests/openbb_terminal/common/csv/test_feedparser_model/test_get_news[asdf$#-].csv
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Apple].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Coal].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[asdf&%$].txt
Labels: bug, feat M

#4609 Filter icebofa file by title
  openbb_terminal/fixedincome/fred_view.py
Labels: feat XS

#4525 Add --sheet-name to load on econometrics and forecast
  openbb_terminal/common/common_model.py
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/forecast/forecast_controller.py
Labels: enhancement, feat XS

#4663 Filter system credentials from logs
  openbb_terminal/core/log/generation/settings_logger.py
  openbb_terminal/core/models/system_model.py
Labels: feat XS

#4640 Hub | sync, pull, sources and other updates
  .gitignore
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/sdk/models/__init__.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/sdk_session.py
  openbb_terminal/core/session/sources_handler.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/miscellaneous/sources/user_default.json
  openbb_terminal/parent_classes.py
  openbb_terminal/rich_config.py
  openbb_terminal/sdk.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  openbb_terminal/terminal_helper.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/session/conftest.py
  tests/openbb_terminal/session/test_local_model.py
  tests/openbb_terminal/session/test_sdk_session.py
  tests/openbb_terminal/session/test_session_model.py
  tests/openbb_terminal/session/txt/test_local_model/test_remove_cli_history_file_exception.txt
  tests/openbb_terminal/session/txt/test_local_model/test_remove_session_file_exception.txt
  tests/openbb_terminal/session/txt/test_sdk_session/test_whoami_guest.txt
Labels: feat XL, account

#4658 hotfix/ Avoid starting plots_backend twice on boot
  openbb_terminal/config_terminal.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/intro.json
  openbb_terminal/sdk.py
  openbb_terminal/terminal_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  website/content/bot/reference/generate_index.py
Labels: feat M

#4665 Enable auth by default
  openbb_terminal/terminal_helper.py
Labels: feat XS, account

#4633 Remove references to environment variables
  generate_sdk.py
  openbb_terminal/base_helpers.py
  openbb_terminal/config_terminal.py
  openbb_terminal/core/integration_tests/integration_controller.py
  openbb_terminal/core/log/collection/log_sender.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/core/session/current_system.py
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/stream/Forecasting.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/dashboards/voila/forecast.ipynb
  openbb_terminal/decorators.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/reports/templates/crypto.ipynb
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/reports/templates/forecast.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/reports/templates/portfolio.ipynb
  openbb_terminal/rich_config.py
  openbb_terminal/sdk.py
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  tests/conftest.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_download.txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_list.txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args0-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args1-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args2-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args3-False].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_call_sync[other_args4-True].txt
  tests/openbb_terminal/account/txt/test_account_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/discovery/test_coinmarketcap_view.py
  tests/openbb_terminal/test_debug_mode.py
Labels: feat S

#4568 Fixed income unit tests
  openbb_terminal/fixedincome/yfinance_view.py
  poetry.lock
  requirements-full.txt
  tests/openbb_terminal/fixedincome/__init__.py
  tests/openbb_terminal/fixedincome/record/http/test_econdb_model/test_get_treasuries[monthly-2019-01-01-2022-01-01-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_ameribor[overnight-2020-01-01-2020-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_cp[30d-financial-aa-2020-01-01-2023-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_dwpcr[daily_excl_weekend-2020-01-01-2020-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_ecb.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_fed[monthly-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_ffrmc[10_year-2020-01-01-2021-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_hqm[2023-03-30-False].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_icespread[all-us-non_sovereign-False-2020-01-01-2021-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_iorb[2023-01-01-2023-03-30].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_moody[baa-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_projection.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_series_data[DGS10-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_sofr[overnight-2020-01-01-2020-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_sonia[rate-2020-01-01-2020-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_spot[maturity0-category0-2020-01-01-2023-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_tbffr[3_month-2020-01-01-2021-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_tmc[3_month-2020-01-01-2021-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_model/test_get_usrates[tbill-4_week-2020-01-01-2023-02-01].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_display_yield_curve[2021-01-01-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_ameribor.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_cp.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_dwcpcr[daily_excl_weekend-2020-01-01-2020-02-01-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_ecb.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_fed.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_ffrmc.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_fftr.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_hqm[2023-03-30-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_icebofa.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_iorb.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_moody.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_projection.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_sofr.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_sonia.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_spot.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_tbffr[3_month-2020-01-01-2021-02-01-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_tmc.yaml
  tests/openbb_terminal/fixedincome/record/http/test_fred_view/test_plot_usrates[tbill-4_week-2020-01-01-2023-02-01-kwargs0].yaml
  tests/openbb_terminal/fixedincome/record/http/test_yfinance_model/test_get_series[^GSPC-1d-2021-01-01-2022-01-01-Adj Close].yaml
  tests/openbb_terminal/fixedincome/test_econdb_model.py
  tests/openbb_terminal/fixedincome/test_econdb_view.py
  tests/openbb_terminal/fixedincome/test_fred_model.py
  tests/openbb_terminal/fixedincome/test_fred_view.py
  tests/openbb_terminal/fixedincome/test_oecd_model.py
  tests/openbb_terminal/fixedincome/test_yfinance_model.py
  tests/openbb_terminal/fixedincome/test_yfinance_view.py
  tests/openbb_terminal/futures/__init__.py
Labels: tests, feat XL

#4667 Change returning dict to Dict (from typing)
  openbb_terminal/core/models/base_model.py
  openbb_terminal/core/session/session_model.py
Labels: feat XS

#4672 Hotfix/etf ca
  openbb_terminal/etf/etf_controller.py
Labels: bug, feat XS

#4673 Removes `exchange` option from `stocks/load`
  openbb_terminal/parent_classes.py
  website/content/terminal/usage/intros/stocks/index.md
Labels: feat XS

#4661 chore: add Reviewpad workflow to verify EOF
  reviewpad.yaml
Labels: feat XS

#4670 hotfix/ `stocks/options/chains` - Single Window/`to_display` columns
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/options_view.py
Labels: feat XS

#4628 hotfix/fixing some links
  website/content/bot/installation/installation.md
  website/content/sdk/index.md
  website/content/terminal/index.md
  website/content/terminal/installation/index.md
  website/src/components/General/LinkCard.tsx
  website/src/theme/Footer/index.js
Labels: feat XS

#4666 table fixes
  frontend-components/tables/src/components/Table/Pagination.tsx
  frontend-components/tables/src/components/Table/Timestamp.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/utils/useLocalStorage.tsx
  openbb_terminal/core/plots/table.html
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_model.py
Labels: feat S

#4681 🐛 as default flair
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/helper_funcs.py
Labels: feat XS

#4678 Terminal/hub QA
  openbb_terminal/core/models/base_model.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/decorators.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/session/test_session_model.py
Labels: feat XS, account

#4668 Refactor sources menu
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/config/paths_helper.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/models/sources_model.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/core/session/sources_handler.py
  openbb_terminal/core/sources/utils.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/sources/user_default.json
  openbb_terminal/rich_config.py
  openbb_terminal/settings_controller.py
  openbb_terminal/sources_controller.py
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/test_sources.py
  website/content/terminal/usage/guides/changing-sources.md
Labels: refactor, feat XL

#4700 Move tradier from hub to local
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/miscellaneous/models/local_credentials.json
  openbb_terminal/stocks/stocks_helper.py
Labels: feat XS, account

#4701 hotfix/ Fixes #4690 #4688 #4687 #4686 #4696
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/plots/web/helpers.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/portfolio/portfolio_optimization/optimizer_model.py
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/government/quiverquant_view.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[TSLA].json
  website/generate_sdk_markdown.py
  website/generate_terminal_markdown.py
Labels: feat S

#4699 Hotfix/keys menu improvements
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/i18n/en.yml
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[AAPL-response0].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[AAPL].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[FCX-response2].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[FCX].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[TSLA-response1].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[TSLA].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_get_company_info[asdf$#-response3].json
  tests/openbb_terminal/common/json/test_ultima_newsmonitor_model/test_supported_terms.json
  tests/openbb_terminal/common/test_ultima_newsmonitor_model.py
Labels: feat S

#4676 Feature/economy unit tests
  openbb_terminal/economy/commodity_model.py
  openbb_terminal/economy/datasets/NASDAQ_CountryCodes.csv
  openbb_terminal/economy/nasdaq_model.py
  tests/openbb_terminal/economy/quantitative_analysis/__init__.py
  tests/openbb_terminal/economy/quantitative_analysis/record/screen/test_qa_controller/test_call_raw.json
  tests/openbb_terminal/economy/quantitative_analysis/record/screen/test_qa_controller/test_call_summary.json
  tests/openbb_terminal/economy/quantitative_analysis/record/screen/test_qa_controller/test_call_unitroot.json
  tests/openbb_terminal/economy/quantitative_analysis/record/screen/test_qa_controller/test_print_help.json
  tests/openbb_terminal/economy/quantitative_analysis/test_qa_controller.py
  tests/openbb_terminal/economy/record/http/test_commodity_model/test_get_debt.yaml
  tests/openbb_terminal/economy/record/http/test_commodity_view/test_display_debt.yaml
  tests/openbb_terminal/economy/record/http/test_fred_view/test_display_fred_series[series_ids0-2019-01-01-2020-01-01-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_fred_view/test_notes[GDP-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_nasdaq_model/test_get_big_mac_indices.yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_balance[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_cpi[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_debt[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_gdp[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_gdp_forecast[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_real_gdp[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_revenue[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_spending[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_oecd_view/test_plot_trust[countries0-kwargs0].yaml
  tests/openbb_terminal/economy/record/http/test_sdk_helpers/test_futures[Finviz-Metals].yaml
  tests/openbb_terminal/economy/record/http/test_sdk_helpers/test_futures[WSJ-Indices].yaml
  tests/openbb_terminal/economy/test_commodity_model.py
  tests/openbb_terminal/economy/test_commodity_view.py
  tests/openbb_terminal/economy/test_econdb_model.py
  tests/openbb_terminal/economy/test_finviz_model.py
  tests/openbb_terminal/economy/test_fred_view.py
  tests/openbb_terminal/economy/test_nasdaq_model.py
  tests/openbb_terminal/economy/test_oecd_view.py
  tests/openbb_terminal/economy/test_plot_view.py
  tests/openbb_terminal/economy/test_sdk_helpers.py
  tests/openbb_terminal/economy/test_yfinance_view.py
  website/content/bot/installation/discord.md
  website/content/bot/installation/telegram.md
Labels: tests, feat XL

#4712 Hotfix/ Pywry Linux Docs
  openbb_terminal/core/plots/no_import.py
  website/content/bot/Installation/discord.md
  website/content/bot/Installation/telegram.md
  website/content/bot/installation/discord.md
  website/content/bot/installation/index.md
  website/content/bot/installation/telegram.md
  website/content/terminal/installation/pypi.md
  website/content/terminal/installation/source.md
Labels: feat XS

#4703 Hotfix ultima news improvements
  openbb_terminal/common/ultima_newsmonitor_model.py
  openbb_terminal/common/ultima_newsmonitor_view.py
  openbb_terminal/core/sdk/models/keys_sdk_model.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/models/hub_credentials.json
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/sdk.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/terminal_controller.py
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_company_info[AAPL].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_company_info[FCX].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_company_info[TSLA].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_company_info[asdf$#].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[AAPL].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[FCX].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[TSLA].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_get_news[asdf$#].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_model/test_supported_terms.yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[AAPL].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[FCX].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[TSLA].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[].yaml
  tests/openbb_terminal/common/cassettes/test_ultima_newsmonitor_view/test_display_news[asdf&-$].yaml
  tests/openbb_terminal/common/csv/test_ultima_newsmonitor_model/test_get_news[AAPL].csv
  tests/openbb_terminal/common/csv/test_ultima_newsmonitor_model/test_get_news[FCX].csv
  tests/openbb_terminal/common/csv/test_ultima_newsmonitor_model/test_get_news[TSLA].csv
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[AAPL].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[FCX].txt
  tests/openbb_terminal/common/txt/test_ultima_newsmonitor_view/test_display_news[TSLA].txt
  tests/openbb_terminal/stocks/cassettes/test_stocks_controller/test_call_load.yaml
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
  website/content/terminal/usage/guides/api-keys.md
Labels: feat XL

#4705 Add a note on GC and Kaggle
  website/content/terminal/installation/pypi.md
  website/pypi.md
Labels: enhancement, feat XS

#4698 Allow special characters in autocompletion and improve sources controller
  openbb_terminal/custom_prompt_toolkit.py
  openbb_terminal/sources_controller.py
  openbb_terminal/stocks/stocks_helper.py
Labels: bug, feat XS

#4674 Hotfix/stock screener - Stock Screener Fixes
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/stocks/screener/all_parameters.txt
  openbb_terminal/miscellaneous/stocks/screener/djia_components.ini
  openbb_terminal/miscellaneous/stocks/screener/sdk_guide_preset.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_basic_materials_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_communication_services_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_consumer_cyclical_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_consumer_defensive_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_energy_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_financial_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_healthcare_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_industrials_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_real_estate_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_technology_sector.ini
  openbb_terminal/miscellaneous/stocks/screener/sp500_utilities_sector.ini
  openbb_terminal/stocks/screener/ark_model.py
  openbb_terminal/stocks/screener/ark_view.py
  openbb_terminal/stocks/screener/finviz_model.py
  openbb_terminal/stocks/screener/finviz_view.py
  openbb_terminal/stocks/screener/screener_controller.py
  openbb_terminal/stocks/screener/yahoofinance_model.py
  openbb_terminal/stocks/screener/yahoofinance_view.py
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_model/test_get_ark_trades_by_ticker_INVALID_TICKER.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_model/test_get_ark_trades_by_ticker_TSLA.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_view/test_display_ark_trades_INVALID_TICKER.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_view/test_display_ark_trades_default.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_view/test_display_ark_trades_export.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_ark_view/test_display_ark_trades_no_tab.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_yahoofinance_view/test_historical.yaml
  tests/openbb_terminal/stocks/screener/cassettes/test_yahoofinance_view/test_historical_no_d_signals.yaml
  tests/openbb_terminal/stocks/screener/csv/test_ark_model/test_get_ark_trades_by_ticker.csv
  tests/openbb_terminal/stocks/screener/test_ark_model.py
  tests/openbb_terminal/stocks/screener/test_ark_view.py
  tests/openbb_terminal/stocks/screener/test_screener_controller.py
  tests/openbb_terminal/stocks/screener/test_yahoofinance_view.py
  tests/openbb_terminal/stocks/screener/txt/test_ark_view/test_display_ark_trades_default.txt
  tests/openbb_terminal/stocks/screener/txt/test_ark_view/test_display_ark_trades_invalid_ticker.txt
  tests/openbb_terminal/stocks/screener/txt/test_ark_view/test_display_ark_trades_no_tab.txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[False].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener[True].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[MOCK_SORT].txt
  tests/openbb_terminal/stocks/screener/txt/test_finviz_view/test_screener_sort_matches[Ticker].txt
  tests/openbb_terminal/stocks/screener/txt/test_screener_controller/test_print_help.txt
  tests/openbb_terminal/stocks/screener/txt/test_yahoofinance_view/test_historical.txt
  tests/openbb_terminal/stocks/screener/txt/test_yahoofinance_view/test_historical_no_d_signals.txt
  website/content/sdk/usage/intros/stocks/stocks-screener.md
  website/content/terminal/usage/intros/stocks/screener.md
Labels: bug, feat XL

#4711 Keep hub sources updated and allow only available sources in the terminal
  openbb_terminal/core/models/sources_model.py
  openbb_terminal/core/session/current_user.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/core/session/sources_handler.py
  openbb_terminal/core/session/utils.py
  openbb_terminal/rich_config.py
  openbb_terminal/sources_controller.py
  tests/openbb_terminal/session/test_session_model.py
Labels: bug, feat S

#4718 Added fix
  openbb_terminal/core/plots/web/css/style.css
  openbb_terminal/core/plots/web/helpers.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/reports/reports_model.py
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/forex.ipynb
  openbb_terminal/stocks/options/options_sdk_helper.py
Labels: feat S

#4710 Added fix
  openbb_terminal/cryptocurrency/crypto_controller.py
  openbb_terminal/parent_classes.py
Labels: feat XS

#4709 Added fix
  openbb_terminal/stocks/options/options_controller.py
Labels: feat XS

#4719 hotfix/fix the lack of commit hash in pypi logs
  pyproject.toml
Labels: feat XS, analytics

#4693 Fix issue with holder
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: feat XS

#4725 Warn user when there is no personal access token
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/settings_controller.py
Labels: bug, feat XS, account

#4723 Update source.md
  website/content/terminal/installation/source.md
Labels: feat XS

#4732 Fix filings analysis
  openbb_terminal/stocks/fundamental_analysis/eclect_us_model.py
Labels: bug, feat XS

#4645 About cmd to match hub
  openbb_terminal/terminal_helper.py
  website/src/theme/NotFound.js
Labels: bug, docs, feat XS

#4738 URL(404) fixes for multiple locations
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/forecast/forecast_controller.py
  openbb_terminal/reports/reports_controller.py
  website/content/sdk/faqs/general_operation.md
  website/content/sdk/usage/intros/stocks/fundamental-analysis.md
  website/content/terminal/faqs/general_operation.md
  website/content/terminal/usage/guides/data.md
  website/content/terminal/usage/intros/common/ba.md
  website/content/terminal/usage/intros/fixedincome.md
  website/content/terminal/usage/intros/stocks/index.md
Labels: bug, feat XS

#4734 Workflow improvements
  .github/release-drafter.yml
  .github/workflows/README.md
  .github/workflows/build-release.yml
  .github/workflows/code-coverage.yml
  .github/workflows/docker-build.yml
  .github/workflows/draft-release.yml
  .github/workflows/labels-PR.yml
  .github/workflows/labels-issue.yml
  .github/workflows/macos-build.yml
  .github/workflows/macos-ml.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pypi-nightly.yml
  .github/workflows/windows_ml.yml
Labels: feat S

#4728 Identify documentation function based on guides
  documentation/documentation_commands.csv
  documentation/documentation_commands.json
  documentation/documentation_commands_sdk.csv
  documentation/documentation_commands_sdk.json
  documentation/generate_documentation_commands.py
  openbb_terminal/core/config/paths.py
  openbb_terminal/core/scripts/sdk_audit.py
  openbb_terminal/core/sdk/trailmap.py
Labels: docs, feat XL

#4682 Hotfix/4526
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/marketwatch_model.py
  openbb_terminal/stocks/fundamental_analysis/marketwatch_view.py
  tests/openbb_terminal/stocks/discovery/test_fmp_view.py
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_marketwatch_model/test_get_rating_over_time.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_marketwatch_view/test_analyst.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_marketwatch_model/test_get_rating_over_time.csv
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fmp_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fmp_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_marketwatch_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_marketwatch_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_marketwatch_view/test_analyst.txt
Labels: enhancement, feat XL

#4748 Fixed Polygon API key authentication URL
  openbb_terminal/keys_model.py
Labels: feat XS

#4694 Separate Macos Build to different Jobs
  .github/workflows/macos-build.yml
Labels: feat S

#4731 Change installation from pip to poetry
  .github/workflows/build-release.yml
  .github/workflows/nightly-build.yml
  .github/workflows/windows10_build.yml
  .github/workflows/windows_ml.yml
  build/nsis/setup.nsi
  build/pyinstaller/terminal.spec
  build/pyinstaller/version.rc
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: build, feat XS

#4744 Changing default data source for `crypto.load`
  openbb_terminal/cryptocurrency/cryptocurrency_helpers.py
Labels: feat XS

#4753 Fix regex parsing file paths
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#4749 Removed source from exp
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/stocks/options/options_controller.py
  tests/openbb_terminal/stocks/options/txt/test_options_controller/test_print_help.txt
Labels: feat XS

#4726 Feature/contributing guidelines
  CONTRIBUTING.md
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/economy/finnhub_model.py
  openbb_terminal/economy/finnhub_view.py
  openbb_terminal/miscellaneous/integration_tests_scripts/README.MD
  openbb_terminal/sdk.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  tests/FIXTURES.md
  tests/README.md
  tests/openbb_terminal/economy/test_finnhub_model.py
  tests/openbb_terminal/economy/test_finnhub_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_business_insider_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
Labels: docs, feat L

#4750 Added a workaround for the pytrends API limited requests
  openbb_terminal/common/behavioural_analysis/google_model.py
Labels: feat XS

#4743 Hide splashscreen on Win installer
  openbb_terminal/core/session/session_controller.py
Labels: feat XS, installer

#4758 Feature/help didier
  .gitignore
  openbb_terminal/intro.json
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/technical_analysis/ta_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_fa_controller/test_print_help.txt
  tests/openbb_terminal/stocks/txt/test_stocks_controller/test_print_help.txt
Labels: feat S

#4755 Feature/ Voila to Streamlit Dashboards
  .github/workflows/windows10_build.yml
  build/pyinstaller/hooks/hook-pytrends.py
  build/pyinstaller/hooks/hook-streamlit.py
  build/pyinstaller/terminal.spec
  frontend-components/tables/src/components/Table/index.tsx
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
  openbb_terminal/core/plots/table.html
  openbb_terminal/core/plots/web/css/style.css
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/dashboards/dashboards_controller.py
  openbb_terminal/dashboards/stream/Forecasting.py
  openbb_terminal/dashboards/stream/common_vars.py
  openbb_terminal/dashboards/stream/pages/Chains.py
  openbb_terminal/dashboards/stream/pages/Correlation.py
  openbb_terminal/dashboards/stream/pages/Futures.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/dashboards/stream/pages/Short_Data.py
  openbb_terminal/dashboards/stream/pages/Stocks.py
  openbb_terminal/dashboards/stream/streamlit_helpers.py
  openbb_terminal/dashboards/streamlit.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/settings_controller.py
  openbb_terminal/stocks/fundamental_analysis/business_insider_model.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/stocks_helper.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  terminal.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_model/test_get_management.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_display_management[False].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_display_management[True].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_business_insider_view/test_display_management_nodata.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_fa_controller/test_call_func[call_sec-marketwatch_view.sec_filings-other_args37-called_with37].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_business_insider_model/test_get_management.csv
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_display_management[False].txt
  tests/openbb_terminal/stocks/fundamental_analysis/txt/test_business_insider_view/test_display_management[True].txt
  tests/openbb_terminal/test_settings_controller.py
  website/controller_doc_classes.py
Labels: feat XL

#4761 hotfix / MacOS `about:` popup windows
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4756 Hub | Fallback to .env + don't upload keys + update support link
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/session/constants.py
  openbb_terminal/core/session/env_handler.py
  openbb_terminal/core/session/hub_model.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  tests/openbb_terminal/session/test_hub_model.py
  tests/openbb_terminal/session/txt/test_session_controller/test_display_welcome_message.txt
Labels: feat XS, account

#4762 Small improvements on Docusaurus - found from Hub testing
  website/content/bot/installation/index.md
Labels: bug, docs, enhancement, feat XS

#4770 Release/3.0.0rc2
  .github/workflows/nightly-build.yml
  CONTRIBUTING.md
  build/docker/compose.env
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/sdk.py
  pyproject.toml
Labels: feat XS

#4771 Feature/ Interactive Chart Save As
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/core/plots/web/popups.js
Labels: feat S

#4777 Hotfix/docs - Some Intros Updates.
  website/content/sdk/usage/intros/economy.md
  website/content/sdk/usage/intros/stocks/stocks-screener.md
  website/content/terminal/usage/intros/stocks/index.md
Labels: docs, feat M, SDK

#4767 Split table and chart theme
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/session/local_model.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/settings_controller.py
Labels: feat S

#4780 Fix import statement for nightly PyPI readme page
  .github/workflows/pypi-nightly.yml
Labels: feat XS

#4784 Speed up integration tests workflow
  .github/workflows/integration-test.yml
  .github/workflows/macos-build.yml
  .github/workflows/windows10_build.yml
  openbb_terminal/core/integration_tests/README.md
  openbb_terminal/core/integration_tests/integration_controller.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/models/user_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/miscellaneous/integration_tests_scripts/account/test_account.openbb
Labels: feat S, tests

#4788 hotfix/ `options_sdk_helper.py`
  openbb_terminal/stocks/options/options_sdk_helper.py
Labels: feat XS

#4751 Improve DCF error handling
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
Labels: feat XS

#4739 Updated support url
  openbb_terminal/helper_funcs.py
Labels: feat XS

#4806 Adds min height to all docs pages
  website/src/css/custom.css
Labels: docs, feat XS

#4810 fix: docs min
  website/src/css/custom.css
Labels: docs, feat XS

#4799 Fix `exe --file` choices on login
  openbb_terminal/core/session/session_model.py
  website/src/css/custom.css
Labels: bug, feat XS

#4809 hotfix / no window if raw/export
  openbb_terminal/common/behavioural_analysis/finbrain_view.py
  openbb_terminal/cryptocurrency/due_diligence/finbrain_crypto_view.py
  openbb_terminal/cryptocurrency/nft/nftpricefloor_view.py
  openbb_terminal/cryptocurrency/onchain/shroom_view.py
  openbb_terminal/cryptocurrency/overview/blockchaincenter_view.py
  openbb_terminal/dashboards/streamlit.py
  openbb_terminal/economy/alphavantage_view.py
  openbb_terminal/economy/econdb_view.py
  openbb_terminal/economy/fred_view.py
  openbb_terminal/economy/nasdaq_view.py
  openbb_terminal/economy/oecd_view.py
  openbb_terminal/economy/yfinance_view.py
  openbb_terminal/fixedincome/ecb_view.py
  openbb_terminal/fixedincome/fred_view.py
  openbb_terminal/fixedincome/oecd_view.py
  openbb_terminal/futures/databento_view.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/portfolio/portfolio_view.py
  openbb_terminal/stocks/comparison_analysis/finbrain_view.py
  openbb_terminal/stocks/comparison_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/dark_pool_shorts/quandl_view.py
  openbb_terminal/stocks/dark_pool_shorts/sec_view.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_view.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  openbb_terminal/stocks/government/quiverquant_view.py
  openbb_terminal/stocks/options/intrinio_view.py
  openbb_terminal/stocks/options/options_view.py
  openbb_terminal/stocks/options/screen/syncretism_view.py
  openbb_terminal/stocks/options/tradier_view.py
  openbb_terminal/stocks/options/yfinance_view.py
  tests/openbb_terminal/common/quantitative_analysis/test_qa_view.py
  tests/openbb_terminal/mutual_funds/test_mstrapy_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_finnhub_view.py
Labels: feat S

#4792 Fixed `/fixedincome/ecb --export` functionality
  openbb_terminal/fixedincome/fred_view.py
Labels: feat XS

#4813 Keep session on reset
  openbb_terminal/core/session/session_model.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_helper.py
Labels: feat XS

#4793 Improve options menu slightly + close some bugs
  openbb_terminal/core/models/system_model.py
  openbb_terminal/forex/av_model.py
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/dark_pool_shorts/finra_model.py
  openbb_terminal/stocks/databento_model.py
  openbb_terminal/stocks/fundamental_analysis/av_model.py
  openbb_terminal/stocks/fundamental_analysis/dcf_model.py
  openbb_terminal/stocks/fundamental_analysis/dcf_view.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  openbb_terminal/stocks/options/intrinio_model.py
  openbb_terminal/stocks/options/nasdaq_model.py
  openbb_terminal/stocks/options/op_helpers.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/stocks/options/options_sdk_helper.py
  openbb_terminal/stocks/options/options_view.py
  openbb_terminal/stocks/options/yfinance_model.py
  openbb_terminal/stocks/stock_statics.py
  tests/openbb_terminal/stocks/cassettes/test_databento_model/test_stock_load.yaml
  tests/openbb_terminal/stocks/options/csv/test_intrinio_model/test_get_full_chain_eod.csv
  tests/openbb_terminal/stocks/options/test_intrinio_model.py
Labels: feat XL

#4818 Update License Year
  LICENSE
Labels: feat XS

#4814 reports fixing - equity / etf
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/reports/templates/etf.ipynb
  openbb_terminal/stocks/fundamental_analysis/fmp_model.py
Labels: feat S

#4765 Chart/Table fixes
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
  frontend-components/tables/src/App.tsx
  frontend-components/tables/src/components/Select.tsx
  frontend-components/tables/src/components/Table/ColumnHeader.tsx
  frontend-components/tables/src/components/Table/Export.tsx
  frontend-components/tables/src/components/Table/FilterColumns.tsx
  frontend-components/tables/src/components/Table/Pagination.tsx
  frontend-components/tables/src/components/Table/Timestamp.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  frontend-components/tables/tailwind.config.cjs
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/table.html
  openbb_terminal/core/plots/web/helpers.js
  openbb_terminal/core/plots/web/main.js
Labels: feat L

#4820 Get rid of twitter news bar
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/settings_controller.py
  openbb_terminal/terminal_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/test_helper_funcs.py
  website/content/terminal/usage/guides/customizing-the-terminal.md
Labels: bug, feat M

#4772 Feature/hub guide
  website/content/terminal/usage/guides/hub.md
Labels: feat S

#4823 Update macos.md
  website/content/terminal/installation/macos.md
Labels: feat XS

#4822 Feature/featflags destroy
  .github/workflows/build-release.yml
  .github/workflows/linting.yml
  .github/workflows/macos-build.yml
  .github/workflows/macos-ml.yml
  .github/workflows/nightly-build.yml
  .github/workflows/unit-test.yml
  .github/workflows/windows10_build.yml
  .github/workflows/windows_ml.yml
  openbb_terminal/core/integration_tests/integration_controller.py
  openbb_terminal/core/models/preferences_model.py
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/featflags_controller.py
  openbb_terminal/helper_classes.py
  openbb_terminal/helper_funcs.py
  tests/openbb_terminal/account/test_account_controller.py
  tests/openbb_terminal/common/behavioural_analysis/test_finbrain_view.py
  tests/openbb_terminal/economy/test_finviz_view.py
  tests/openbb_terminal/session/test_session_model.py
  tests/openbb_terminal/test_featflags_controller.py
  tests/openbb_terminal/test_terminal_controller.py
Labels: feat S

#4824 Hotfix/merge main
  website/content/terminal/installation/macos.md
Labels: feat XS

#4798 Fixed default routines message and evident display
  openbb_terminal/account/account_controller.py
  tests/openbb_terminal/account/txt/test_account_controller/test_call_list.txt
Labels: feat XS

#4825 About cmd + table fixes
  frontend-components/tables/index.html
  frontend-components/tables/src/components/Table/ColumnHeader.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  openbb_terminal/core/plots/table.html
  openbb_terminal/terminal_helper.py
Labels: feat XS

#4727 Update fundamental analysis sdk endpoints
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/stocks/discovery/fidelity_view.py
  openbb_terminal/stocks/fundamental_analysis/fa_controller.py
  openbb_terminal/stocks/fundamental_analysis/marketwatch_model.py
  openbb_terminal/stocks/fundamental_analysis/marketwatch_view.py
  openbb_terminal/stocks/fundamental_analysis/nasdaq_model.py
  openbb_terminal/stocks/fundamental_analysis/nasdaq_view.py
  openbb_terminal/stocks/fundamental_analysis/sdk_helpers.py
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_nasdaq_model/test_get_rating_over_time.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/cassettes/test_nasdaq_view/test_sec_filings[TSLA-5-2020-annual].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/csv/test_nasdaq_model/test_get_rating_over_time.csv
  tests/openbb_terminal/stocks/fundamental_analysis/record/http/test_marketwatch_model/test_get_sec_filings.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/record/http/test_marketwatch_view/test_sec_filings.yaml
  tests/openbb_terminal/stocks/fundamental_analysis/record/http/test_nasdaq_model/test_get_sec_filings[TSLA-5-2020-annual].yaml
  tests/openbb_terminal/stocks/fundamental_analysis/test_fa_controller.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_marketwatch_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_marketwatch_view.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_nasdaq_model.py
  tests/openbb_terminal/stocks/fundamental_analysis/test_nasdaq_view.py
Labels: bug, feat XL

#4801 Added `exchange` filter in `stocks\search`
  openbb_terminal/stocks/stocks_controller.py
  openbb_terminal/stocks/stocks_helper.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
Labels: feat XS

#4829 hotfix / Plots Performance
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/web/bar_menus.js
  openbb_terminal/core/plots/web/css/style.css
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/core/plots/web/popups.js
Labels: feat XS

#4842 Sync with hub on reset + routines fixes
  openbb_terminal/core/log/generation/custom_logger.py
  openbb_terminal/core/session/session_controller.py
  openbb_terminal/core/session/session_model.py
  openbb_terminal/menu.py
  openbb_terminal/parent_classes.py
  openbb_terminal/terminal_helper.py
  terminal.py
  tests/openbb_terminal/session/test_session_model.py
Labels: feat XS, account

#4848 Hotfix/ table fixes
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
  frontend-components/tables/src/components/Table/ColumnHeader.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  frontend-components/tables/src/utils/utils.ts
  openbb_terminal/alternative/covid/covid_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/table.html
  openbb_terminal/econometrics/econometrics_controller.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/stocks/comparison_analysis/marketwatch_view.py
  tests/openbb_terminal/stocks/comparison_analysis/txt/test_marketwatch_view/test_display_cashflow_comparison.txt
Labels: feat M

#4843 Replaces cloudflare bacon with posthog for docs + docs fixes
  website/content/sdk/faqs/general_operation.md
  website/content/terminal/faqs/general_operation.md
  website/content/terminal/usage/guides/hub.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/src/theme/Footer/index.js
  website/src/theme/Root.tsx
  website/yarn.lock
Labels: docs, feat XL

#4827 Fix pt command when no splits are found
  openbb_terminal/stocks/fundamental_analysis/business_insider_view.py
Labels: bug, feat XS

#4870 fixes #4869 intro dupe header numbering
  openbb_terminal/intro.json
Labels: feat XS

#4861 Anonymize logged in users flair in logs
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
Labels: feat XS

#4875 Fix stocks/ta/fib datetime plotting
  openbb_terminal/common/technical_analysis/custom_indicators_model.py
  openbb_terminal/core/plots/plotly_ta/plugins/custom_indicators_plugin.py
Labels: feat XS

#4874 Docs: posthog send event false + some ui fixes
  website/src/pages/index.tsx
  website/src/theme/Root.tsx
  website/src/theme/SearchBar/index.js
  website/tailwind.config.js
  website/yarn.lock
Labels: feat XL

#4447 Add X11 support for docker to display charts
  build/docker/docker-compose.x11.yaml
  website/content/terminal/installation/docker.md
Labels: feat XS, docker

#4878 Update default routines url
  openbb_terminal/core/session/constants.py
Labels: feat XS, account

#4876 Update installation docs for release
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  website/content/terminal/installation/docker.md
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/pypi.md
Labels: docs, feat XS

#4860 Feature/ pywry posthog
  frontend-components/tables/index.html
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
  frontend-components/tables/src/App.tsx
  frontend-components/tables/src/index.css
  openbb_terminal/common/technical_analysis/volatility_view.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/core/plots/backend.py
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/plotly_helper.py
  openbb_terminal/core/plots/table.html
  openbb_terminal/core/plots/web/helpers.js
  openbb_terminal/core/plots/web/main.js
  openbb_terminal/core/plots/web/popups.js
  openbb_terminal/helper_funcs.py
  openbb_terminal/loggers.py
Labels: feat M

#4882 Handle bad results from default routines
  openbb_terminal/account/account_controller.py
  openbb_terminal/core/session/routines_handler.py
  openbb_terminal/core/session/session_model.py
Labels: bug, feat XS, account

#4884 hotfix / Post-Tables
  frontend-components/tables/index.html
  openbb_terminal/core/plots/table.html
Labels: feat XS

#4881 Convert timestamp to string for news function
  openbb_terminal/common/feedparser_view.py
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Apple].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[Coal].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[].txt
  tests/openbb_terminal/common/txt/test_feedparser_view/test_display_news[asdf&%$].txt
Labels: bug, feat XS

#4885 Last minutes enhancements
  openbb_terminal/featflags_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/stocks/fundamental_analysis/av_view.py
  openbb_terminal/stocks/fundamental_analysis/eodhd_view.py
  openbb_terminal/stocks/fundamental_analysis/fmp_view.py
  openbb_terminal/stocks/fundamental_analysis/polygon_view.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_view.py
  tests/openbb_terminal/test_featflags_controller.py
Labels: enhancement, feat XS

#4891 Dont show edit page on reference
  website/src/theme/EditThisPage/index.js
Labels: docs, feat XS

#4894 Fix `stocks/ta/vwap`
  openbb_terminal/common/technical_analysis/overlap_view.py
Labels: bug, feat XS

#4888 Handle inf. values inside `lambda_long_number_format`
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#4889 Table issues
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  openbb_terminal/core/plots/table.html
Labels: feat S

#4900 Docs error build
  website/src/theme/Root.tsx
Labels: docs, feat XS

#4906 hotfix / pywry bump
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat XS

#4890 Fix `crypto/dd/rm` command
  openbb_terminal/cryptocurrency/due_diligence/messari_view.py
  openbb_terminal/helper_funcs.py
Labels: bug, feat XS

#4892 Fix `crypto/defi/anchor`
  openbb_terminal/cryptocurrency/defi/cryptosaurio_model.py
  openbb_terminal/cryptocurrency/defi/cryptosaurio_view.py
Labels: bug, feat XS

#4909 Release/3.0.0
  .github/release-drafter.yml
  build/docker/compose.env
  build/nsis/setup.nsi
  build/pyinstaller/.env
  openbb_terminal/core/models/system_model.py
  pyproject.toml
  website/content/sdk/showcase.md
  website/content/terminal/changelog/version2_0_0.mdx
  website/content/terminal/changelog/version2_1_0.mdx
  website/content/terminal/changelog/version2_2_0.mdx
  website/content/terminal/changelog/version2_3_0.mdx
  website/content/terminal/changelog/version2_3_1.mdx
  website/content/terminal/changelog/version2_4_0.mdx
  website/content/terminal/changelog/version2_4_1.mdx
  website/content/terminal/changelog/version2_5_0.mdx
  website/content/terminal/changelog/version2_5_1.mdx
  website/content/terminal/changelog/version3_0_0.mdx
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/windows.md
Labels: feat M

#4910 hotfix/ fix windows pyinstaller subprocess fail if space in path
  openbb_terminal/miscellaneous/models/hub_credentials.json
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/test_keys_controller.py
Labels: feat XS

#4911 hofix / sync with main post
  openbb_terminal/miscellaneous/models/hub_credentials.json
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
  tests/openbb_terminal/test_keys_controller.py
Labels: feat XS

#4905 Hotfix/ Improve setting/loading Streamlit session state variables
  openbb_terminal/dashboards/stream/Forecasting.py
  openbb_terminal/dashboards/stream/pages/Chains.py
  openbb_terminal/dashboards/stream/pages/Correlation.py
  openbb_terminal/dashboards/stream/pages/Futures.py
  openbb_terminal/dashboards/stream/pages/Indicators.py
  openbb_terminal/dashboards/stream/pages/Short_Data.py
  openbb_terminal/dashboards/stream/pages/Stocks.py
  openbb_terminal/dashboards/stream/streamlit_helpers.py
  openbb_terminal/forecast/autoselect_model.py
  openbb_terminal/forecast/helpers.py
Labels: feat XS

#4920 Remove stocks/disc/cnews command
  openbb_terminal/core/sdk/controllers/stocks_sdk_controller.py
  openbb_terminal/core/sdk/models/stocks_sdk_model.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/stocks/discovery/disc_controller.py
  openbb_terminal/stocks/discovery/seeking_alpha_model.py
  openbb_terminal/stocks/discovery/seeking_alpha_view.py
  pyproject.toml
  tests/openbb_terminal/stocks/discovery/test_disc_controller.py
  tests/openbb_terminal/stocks/discovery/test_seeking_alpha_model.py
  tests/openbb_terminal/stocks/discovery/test_seeking_alpha_view.py
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_menu_quick_exit.txt
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_menu_system_exit.txt
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_print_help.txt
  tests/openbb_terminal/stocks/discovery/txt/test_disc_controller/test_switch_help.txt
  tests/openbb_terminal/stocks/discovery/txt/test_seeking_alpha_view/test_display_news.txt
  website/content/sdk/usage/intros/stocks/discovery.md
Labels: bug, feat M

#4901 Futures Curve: minor cosmetic improvements
  openbb_terminal/futures/yfinance_model.py
  openbb_terminal/futures/yfinance_view.py
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[ES].txt
  tests/openbb_terminal/futures/txt/test_yfinance_view/test_display_curve[YI].txt
Labels: feat XS

#4923 Feature / Logging
  frontend-components/tables/index.html
  openbb_terminal/base_helpers.py
  openbb_terminal/core/log/generation/formatter_with_exceptions.py
  openbb_terminal/core/models/profile_model.py
  openbb_terminal/core/plots/plotly.html
  openbb_terminal/core/plots/table.html
  openbb_terminal/loggers.py
  openbb_terminal/parent_classes.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: feat S

#4924 Hotfix/ tables export
  frontend-components/tables/src/App.tsx
  frontend-components/tables/src/utils/utils.ts
  frontend-components/tables/tsconfig.json
  openbb_terminal/core/plots/table.html
Labels: feat S

#4246 Adds shroom command and removes old ones
  openbb_terminal/core/sdk/controllers/crypto_sdk_controller.py
  openbb_terminal/core/sdk/models/crypto_sdk_model.py
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/models/portfolio_sdk_model.py
  openbb_terminal/core/sdk/sdk_helpers.py
  openbb_terminal/core/sdk/sdk_init.py
  openbb_terminal/core/sdk/trail_map.csv
  openbb_terminal/core/sdk/trailmap.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/cryptocurrency/onchain/shroom_model.py
  openbb_terminal/cryptocurrency/onchain/shroom_view.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/miscellaneous/sources/openbb_default.json
  openbb_terminal/reports/templates/economy.ipynb
  openbb_terminal/sdk.py
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_model/test_get_daily_transactions[USDC].yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_model/test_get_daily_transactions[symbols0].yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_model/test_get_dapp_stats.yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_model/test_get_dapp_stats[uniswap-v3].yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_model/test_get_total_value_locked[0x0000000000000000000000000000000000000000-].yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_view/test_display_daily_transactions.yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_view/test_display_dapp_stats.yaml
  tests/openbb_terminal/cryptocurrency/onchain/cassettes/test_shroom_view/test_display_total_value_locked.yaml
  tests/openbb_terminal/cryptocurrency/onchain/csv/test_shroom_model/test_get_daily_transactions[symbols0].csv
  tests/openbb_terminal/cryptocurrency/onchain/csv/test_shroom_model/test_get_dapp_stats.csv
  tests/openbb_terminal/cryptocurrency/onchain/csv/test_shroom_model/test_get_total_value_locked[0x0000000000000000000000000000000000000000-].csv
  tests/openbb_terminal/cryptocurrency/onchain/test_onchain_controller.py
  tests/openbb_terminal/cryptocurrency/onchain/test_shroom_model.py
  tests/openbb_terminal/cryptocurrency/onchain/test_shroom_view.py
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_onchain_controller/test_print_help.txt
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_shroom_view/test_display_daily_transactions.txt
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_shroom_view/test_display_dapp_stats.txt
  tests/openbb_terminal/cryptocurrency/onchain/txt/test_shroom_view/test_display_total_value_locked.txt
Labels: feat XL
