Repository OpenBB-finance/OpenBB, pull requests merged in 2024-05, with the labels that each got.

#6357 [BugFix] Intrinio EquityPriceHistorical - Return Error Message When Invalid Key
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
Labels: bug, platform, v4

#6355 [Feature] - Display command providers
  cli/openbb_cli/config/console.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/feature_flags_controller.py
  cli/openbb_cli/controllers/hub_service.py
  cli/openbb_cli/controllers/script_parser.py
Labels: enhancement

#6360 [BugFix]
  cli/openbb_cli/controllers/cli_controller.py
Labels: bug, cli

#6361 [Enhancement] - Sanitize sensitive data from `.cli.his`
  cli/openbb_cli/config/completer.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/session.py
Labels: enhancement, security, P0, cli

#6363 [BugFix] - Remove multiple .envs
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/models/settings.py
  cli/pyproject.toml
Labels: bug

#6364 [Feature] Improve `OBBject` Registry
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/models/settings.py
  cli/openbb_cli/session.py
Labels: enhancement, cli

#6368 [HotFix] Fix broken URLs in docs page.
  website/content/platform/development/standardization.md
Labels: bug, docs

#6371 [BugFix] Remove `Literal[None,...]`
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
Labels: bug, platform, v4

#6367 [BugFix] Set Chart Style Before Output
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
Labels: bug, platform, v4

#6342 [BugFix] - Fix lowercase symbols
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
Labels: bug, platform, v4, breaking_change

#6366 [Feature] Handle repeated non standard arguments
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/controllers/base_controller.py
Labels: enhancement, cli

#6373 Sync main and develop
  website/content/platform/development/standardization.md
  website/content/pro/data-connectors/native-integrations.md
Labels: enhancement

#6372 [BugFix] - Fix tests for release
  .pre-commit-config.yaml
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_prices.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__init__.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_prices.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/sec/openbb_sec/models/form_13FHR.py
  openbb_platform/providers/sec/openbb_sec/models/rss_litigation.py
  openbb_platform/providers/sec/pyproject.toml
  openbb_platform/providers/tmx/openbb_tmx/models/treasury_prices.py
Labels: bug, platform, v4, breaking_change

#6374 Bugfix/cli max rows
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Labels: bug

#6375 [BugFix] Treasury Rates Pandas Warnings
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
Labels: bug, platform, v4

#6376 [BugFix] Ad 'x-' to json_schema_extra in Fields with unit_measurement
  openbb_platform/core/openbb_core/provider/standard_models/treasury_rates.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
  openbb_platform/providers/finviz/openbb_finviz/models/compare_groups.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/bond_prices.py
  openbb_platform/providers/tmx/openbb_tmx/models/calendar_earnings.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_historical.py
  openbb_platform/providers/tmx/openbb_tmx/models/equity_quote.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_holdings.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_info.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_search.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_snapshots.py
  openbb_platform/providers/tmx/openbb_tmx/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_metrics.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
Labels: bug, platform, v4, breaking_change

#6380 [BugFix] Fix Currency Search
  openbb_platform/core/openbb_core/provider/standard_models/currency_pairs.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_pairs.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/currency_pairs.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_pairs_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Labels: bug, platform, v4, breaking_change

#6379 [BugFix] Update SEC pyproject.toml
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
Labels: bug, platform, v4

#6383 [BugFix] Fix FMP Currency/Crypto Historical Prices
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_crypto_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_historical_fetcher.yaml
Labels: bug, platform, v4

#6382 [Feature] Update chart creation so it doesn't break the command execution
  openbb_platform/core/openbb_core/app/command_runner.py
Labels: enhancement, platform, v4

#6370 [Feature] Misc improvements on the Platform CLI
  cli/CONTRIBUTING.md
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
  cli/openbb_cli/session.py
Labels: enhancement

#6388 [Feature] Fallback to to_df() method when results are a string
  openbb_platform/core/openbb_core/app/model/obbject.py
Labels: enhancement, platform, v4

#6384 [Feature] - Create repo assets directory
  assets/README.md
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/EXTENSIONS.md
  openbb_platform/PROVIDERS.md
  openbb_platform/assets/providers.json
  openbb_platform/core/openbb_core/app/model/extension.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Labels: enhancement, platform, v4

#6387 Security updates
  frontend-components/plotly/package-lock.json
  frontend-components/plotly/package.json
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/cboe/pyproject.toml
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/econdb/pyproject.toml
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/sec/pyproject.toml
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tmx/pyproject.toml
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Labels: enhancement, platform, v4, security, P2

#6390 [Feature] Remove i18n
  cli/openbb_cli/assets/i18n/en.yml
  cli/openbb_cli/config/constants.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/poetry.lock
  cli/pyproject.toml
Labels: enhancement, cli

#6389 [Feature] Update CLI dependencies
  cli/poetry.lock
  cli/pyproject.toml
Labels: enhancement, cli

#6395 [BugFix] - Remove unused old code
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Labels: bug, cli

#6399 remove hold command and its references
  cli/openbb_cli/config/setup.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Labels: enhancement, platform, v4, cli

#6400 [BugFix] - Case insensitive credentials
  assets/extensions/provider.json
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
Labels: bug, platform, v4

#6396 [BugFix] - Fix Excel Data Slicer page.
  website/content/excel/data-slicer.md
Labels: bug, docs, excel

#6404 [BugFix] - Remove logos
  assets/extensions/obbject.json
  assets/extensions/provider.json
  assets/extensions/router.json
  assets/scripts/generate_extension_data.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/providers/benzinga/openbb_benzinga/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/ecb/openbb_ecb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/finra/openbb_finra/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/government_us/openbb_government_us/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/stockgrid/openbb_stockgrid/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/__init__.py
  openbb_platform/providers/tmx/openbb_tmx/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/__init__.py
  openbb_platform/providers/wsj/openbb_wsj/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
Labels: bug, platform, v4

#6402 [Feature] CLI README
  cli/CONTRIBUTING.md
  cli/README.md
  openbb_platform/README.md
Labels: enhancement, platform, v4

#6394 [BugFix] - Explicit error message when return type is not an OBBject
  openbb_platform/core/openbb_core/app/static/package_builder.py
Labels: bug, platform, v4

#6401 [BugFix] Fix broken `--sheet-name` argument
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
Labels: enhancement

#6385 [BugFix] Make `paper_bgcolor` transparent in PyWry backend
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Labels: bug, platform, v4

#6392 [BugFix] Econ Calendar
  openbb_platform/core/openbb_core/provider/standard_models/economic_calendar.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_economic_calendar_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
Labels: bug, platform, v4, breaking_change

#6398 [Feature] Add Forward PE Estimates
  openbb_platform/core/openbb_core/provider/standard_models/forward_pe_estimates.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_pe_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6409 [Feature] Custom Provider choices available on the `reference.json`
  cli/openbb_cli/argparse_translator/argparse_translator.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Labels: enhancement, platform, v4, cli

#6407 [BugFix] - Replace python-jose by PyJWT
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/app/service/test_hub_service.py
Labels: bug, platform, v4, security, P1

#6408 [Feature] Styling adjustments
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/config/menu_text.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
Labels: enhancement, cli

#6403 [Feature] Main README
  README.md
  images/openbb-logo-dark.svg
  images/openbb-logo-light.svg
Labels: enhancement

#6397 [Feature] - OpenBB Platform CLI Unit tests
  .github/scripts/noxfile.py
  .github/workflows/README.md
  .github/workflows/deploy-pypi-nightly.yml
  .github/workflows/deploy-test-pypi.yml
  .github/workflows/draft-release.yml
  .github/workflows/general-linting.yml
  .github/workflows/gh-pr-labels.yml
  .github/workflows/labels-issue.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pypi.yml
  .github/workflows/test-integration-platform.yml
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
  .github/workflows/unit-test.yml
  .pre-commit-config.yaml
  cli/openbb_cli/config/menu_text.py
  cli/tests/test_argparse_translator.py
  cli/tests/test_argparse_translator_obbject_registry.py
  cli/tests/test_cli.py
  cli/tests/test_config_completer.py
  cli/tests/test_config_console.py
  cli/tests/test_config_menu_text.py
  cli/tests/test_config_setup.py
  cli/tests/test_config_style.py
  cli/tests/test_controllers_base_controller.py
  cli/tests/test_controllers_base_platform_controller.py
  cli/tests/test_controllers_choices.py
  cli/tests/test_controllers_cli_controller.py
  cli/tests/test_controllers_controller_factory.py
  cli/tests/test_controllers_script_parser.py
  cli/tests/test_controllers_settings_controller.py
  cli/tests/test_controllers_utils.py
  cli/tests/test_models_settings.py
  cli/tests/test_session.py
  openbb_platform/dev_install.py
Labels: enhancement, platform, v4, cli

#6362 [Feature] CLI docs
  cli/openbb_cli/controllers/settings_controller.py
  website/content/cli/_category_.json
  website/content/cli/commands-and-arguments.md
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/hub.md
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/interactive-charts.md
  website/content/cli/interactive-tables.md
  website/content/cli/openbbuserdata.md
  website/content/cli/quickstart.md
  website/content/cli/routines/_category_.json
  website/content/cli/routines/advanced-routines.md
  website/content/cli/routines/community-routines.md
  website/content/cli/routines/index.mdx
  website/content/cli/routines/introduction-to-routines.md
  website/content/cli/routines/routine-macro-recorder.md
  website/content/cli/structure-and-navigation.md
  website/content/platform/installation.md
  website/package-lock.json
  website/sidebars.js
  website/src/components/General/NewReferenceCard.tsx
  website/src/theme/CodeBlock/Content/styles.module.css
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/Navbar/Layout/index.js
Labels: docs, enhancement, cli

#6405 Improve web security
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: enhancement, platform, v4, security, P2

#6415 Update the license of the code in this repo to AGPL
  LICENSE
  README.md
  website/content/platform/licensing/_category_.json
  website/content/platform/licensing/index.mdx
Labels: docs, enhancement, platform, v4

#6418 [BugFix] - Update GitHub workflows
  .github/workflows/README.md
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/general-linting.yml
  .github/workflows/gh-branch-name-check.yml
  .github/workflows/gh-pr-labels.yml
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  website/package-lock.json
  website/yarn.lock
Labels: bug, platform, v4

#6424 [BugFix] - `dev_install.py` updates
  cli/openbb_cli/cli.py
  cli/poetry.lock
  cli/pyproject.toml
  cli/tests/test_cli.py
  openbb_platform/dev_install.py
Labels: bug, platform, v4

#6423 [BugFix] Clear Linting Items
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/historical_eps.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_snapshots.py
  openbb_platform/providers/cboe/openbb_cboe/utils/helpers.py
  openbb_platform/providers/econdb/openbb_econdb/utils/main_indicators.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  openbb_platform/providers/sec/openbb_sec/models/sic_search.py
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
Labels: bug, platform, v4

#6427 [BugFix] Do Intrinio News TO-DOs -> Remove workaround because they fixed it.
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_world_news_fetcher.yaml
Labels: bug, platform, v4

#6429 [Feature] Small CLI docs style improvements
  cli/README.md
  cli/openbb_cli/cli.py
  cli/tests/test_controllers_script_parser.py
  website/content/cli/_category_.json
  website/content/cli/commands-and-arguments.md
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/hub.md
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/interactive-charts.md
  website/content/cli/interactive-tables.md
  website/content/cli/openbbuserdata.md
  website/content/cli/quickstart.md
  website/content/cli/routines/advanced-routines.md
  website/content/cli/routines/community-routines.md
  website/content/cli/routines/index.mdx
  website/content/cli/routines/introduction-to-routines.md
  website/content/cli/routines/routine-macro-recorder.md
  website/content/cli/structure-and-navigation.md
  website/pypi.md
  website/sidebars.js
  website/src/components/General/NewReferenceCard.tsx
  website/src/components/General/ReferenceCard.tsx
  website/src/theme/DocSidebarItem/Category/index.js
  website/src/theme/Navbar/Layout/index.js
Labels: docs, enhancement, cli

#6426 [Feature] OpenBB Platform DevContainer
  .devcontainer/devcontainer.json
  README.md
  website/content/platform/installation.md
Labels: enhancement

#6428 [BugFix] FMP Key Metrics
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
Labels: bug, platform, v4

#6432 [BugFix] FMP Screener - Convert sector param choices to lower_snake_case
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_screener.py
  openbb_platform/providers/fmp/openbb_fmp/models/insider_trading.py
  openbb_platform/providers/fmp/openbb_fmp/utils/definitions.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_screener_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/utils/definitions.py
Labels: bug, platform, v4

#6431 [Feature] Balance Of Payments For FRED
  openbb_platform/core/openbb_core/provider/standard_models/balance_of_payments.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/balance_of_payments.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_balance_of_payments_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6430 [Feature] Improve Exception handlers
  openbb_platform/CONTRIBUTING.md
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/exception_handlers.py
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/utils/errors.py
  website/content/excel/index.md
Labels: enhancement, platform, v4, excel

#6437 [BugFix] Only update credentials on login
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/service/user_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/tests/app/service/test_user_service.py
Labels: bug, platform, v4

#6438 [BugFix] Remove space from literals
  openbb_platform/providers/sec/openbb_sec/utils/definitions.py
Labels: bug, platform, v4

#6441 [Feature] Deprecate `etf.holdings_performance` endpoint
  .gitignore
  cli/README.md
  openbb_platform/core/openbb_core/provider/standard_models/etf_holdings_performance.py
  openbb_platform/core/tests/app/test_charting_manager.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings_performance.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_holdings_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6433 [Feature] Forward EBITDA
  openbb_platform/core/openbb_core/provider/standard_models/forward_ebitda_estimates.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/forward_ebitda_estimates.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_forward_ebitda_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_ebitda_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_ebitda_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6444 [Feature] Compare Company Facts (SEC)
  openbb_platform/core/openbb_core/provider/standard_models/compare_company_facts.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/compare_company_facts.py
  openbb_platform/providers/sec/openbb_sec/utils/frames.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_compare_company_facts_fetcher.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6439 Remove xlsx export from CLI's interactive tables
  frontend-components/plotly/package.json
  frontend-components/tables/index.html
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
  frontend-components/tables/src/components/Table/Export.tsx
  frontend-components/tables/src/components/Table/index.tsx
  frontend-components/tables/src/index.css
  frontend-components/tables/src/utils/utils.ts
  openbb_platform/obbject_extensions/charting/openbb_charting/core/table.html
Labels: bug, dependencies, platform, v4, security, cli, P1

#6445 [DOCS] Reorganize and edit. Fix sidebar navigation
  website/content/platform/developer_guide/command_coverage.mdx
  website/content/platform/developer_guide/contributing.mdx
  website/content/platform/developer_guide/deprecating_endpoints.mdx
  website/content/platform/developer_guide/documentation_development.mdx
  website/content/platform/developer_guide/index.mdx
  website/content/platform/getting_started/api_keys.mdx
  website/content/platform/getting_started/api_requests.mdx
  website/content/platform/getting_started/create_new_provider_extension.mdx
  website/content/platform/getting_started/create_new_router_extension.mdx
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/financial_statements.mdx
  website/content/platform/getting_started/find_symbols.mdx
  website/content/platform/getting_started/historical_prices.mdx
  website/content/platform/getting_started/index.mdx
  website/content/platform/getting_started/map_a_provider_to_a_route.mdx
  website/content/platform/getting_started/market_calendars.mdx
  website/content/platform/getting_started/quickstart.mdx
  website/content/platform/getting_started/settings_and_environment_variables.mdx
  website/content/platform/index.mdx
  website/content/platform/installation.mdx
  website/content/platform/user_guides/add_data_provider_extension.mdx
  website/content/platform/user_guides/add_data_to_existing_endpoint.mdx
  website/content/platform/user_guides/add_endpoint_to_existing_provider.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_response.mdx
  website/content/platform/user_guides/basic_syntax.mdx
  website/content/platform/user_guides/dynamic_command_execution.mdx
  website/content/platform/user_guides/index.mdx
  website/content/platform/user_guides/llm_mode.mdx
  website/content/platform/user_guides/settings_and_environment_variables.mdx
Labels: docs

#6449 [BugFix] Add back api.dockerfile
  build/pypi/docker/api.dockerfile
Labels: bug

#6448 Update requests and idna to patched versions
  cli/poetry.lock
  cli/pyproject.toml
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Labels: bug, dependencies, platform, v4, security, P1

#6450 [BugFix] Revamp the usage of list syntax on routines
  cli/openbb_cli/argparse_translator/argparse_class_processor.py
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/tests/test_controllers_settings_controller.py
  ruff.toml
Labels: bug, cli

#6454 [BugFix] Move api.dockerfile
  build/docker/api.dockerfile
Labels: bug

#6457 [Docs] Guides for Metadata and AnnotatedResult
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  website/content/platform/developer_guide/metadata.mdx
  website/content/platform/user_guides/metadata.mdx
Labels: docs, platform, v4

#6458 Run linters on changed files only
  .github/workflows/general-linting.yml
  .pre-commit-config.yaml
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Labels: bug, platform, v4

#6460 [Docs] Redirect contributing URL
  website/docusaurus.config.ts
Labels: docs

#6461 [BugFix] Fix Seeking Alpha
  openbb_platform/core/openbb_core/provider/standard_models/upcoming_release_days.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/__init__.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/calendar_earnings.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_eps_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_sales_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/upcoming_release_days.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/utils/helpers.py
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_calendar_earnings_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_eps_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_forward_sales_estimates.yaml
  openbb_platform/providers/seeking_alpha/tests/record/http/test_seeking_alpha_fetchers/test_sa_upcoming_release_days_fetcher.yaml
  openbb_platform/providers/seeking_alpha/tests/test_seeking_alpha_fetchers.py
Labels: bug, platform, v4, breaking_change

#6451 [BugFix] Add `json_schema_extra` With Choices To Provider 'period' Field
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement_growth.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet_growth.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow_growth.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement_growth.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_balance_sheet_growth_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_cash_flow_statement_growth_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/balance_sheet.py
  openbb_platform/providers/polygon/openbb_polygon/models/cash_flow.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Labels: bug, platform, v4, breaking_change

#6466 [BugFix] Default API Settings
  openbb_platform/core/openbb_core/app/model/api_settings.py
Labels: bug, platform, v4

#6465 [BugFix] Fix Intrinio Balance Sheet Q4 Labeling
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
Labels: bug, platform, v4

#6468 [Feature] Options Chains From YFinance
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_options_chains_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: enhancement, platform, v4

#6462 [BugFix] Fix Empty Build Fail
  openbb_platform/core/openbb_core/app/static/package_builder.py
Labels: bug, platform, v4

#6472 [Docs] Make Same PR as the to Main
  openbb_platform/obbject_extensions/charting/examples.md
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/quickstart.mdx
Labels: bug, docs, platform, v4

#6446 [Feature] Set provider fallback based on credentials
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/credentials.py
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/core/tests/app/model/test_defaults.py
  openbb_platform/core/tests/app/static/test_container.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_provider_interface.py
  openbb_platform/core/tests/provider/test_registry_map.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  website/content/cli/data-sources.md
  website/content/platform/user_guides/settings_and_environment_variables.mdx
Labels: enhancement, feat M, platform, v4

#6469 [Feature] Add Central Bank Holdings (Federal Reserve)
  openbb_platform/core/openbb_core/provider/standard_models/central_bank_holdings.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/central_bank_holdings.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/ny_fed_api.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_central_bank_holdings_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fed_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_money_measures_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_treasury_rates_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_yield_curve_fetcher.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6157 Adding OECD Endpoints (CPI + Share Price Index)
  openbb_platform/core/openbb_core/provider/standard_models/consumer_price_index.py
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/core/openbb_core/provider/standard_models/share_price_index.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/consumer_price_index.py
  openbb_platform/providers/fred/openbb_fred/models/cpi.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fredcpi_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/consumer_price_index.py
  openbb_platform/providers/oecd/openbb_oecd/models/long_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/share_price_index.py
  openbb_platform/providers/oecd/openbb_oecd/models/short_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/utils/constants.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_cpi_fetcher.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_share_price_index_fetcher.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Labels: enhancement, platform, v4, breaking_change
