Repository OpenBB-finance/OpenBB, pull requests merged in 2024-07, with the labels that each got.

#6542 [Feature] Improve PyPi publishing tool
  build/pypi/openbb_platform/PUBLISH.md
  build/pypi/openbb_platform/publish.py
  openbb_platform/core/openbb_core/app/static/utils/linters.py
Labels: enhancement, platform, v4

#6556 Bump supported python version in toml files
  cli/pyproject.toml
  openbb_platform/dev_install.py
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/econometrics/pyproject.toml
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/extensions/technical/pyproject.toml
  openbb_platform/pyproject.toml
Labels: bug, dependencies, platform, extensions, v4

#6547 [Feature] - Add Futures Curve Chart
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_curve.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/providers/cboe/openbb_cboe/models/futures_curve.py
  openbb_platform/providers/cboe/openbb_cboe/utils/vix.py
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_futures_curve_fetcher_urllib3_v1.yaml
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_futures_curve_fetcher_urllib3_v2.yaml
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_curve.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: enhancement, platform, v4, breaking_change

#6560 [BugFix] Release fixes
  .github/scripts/noxfile.py
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/futures/futures_router.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_snapshots.py
Labels: bug, platform, v4

#6562 [BugFix] Update openbb-charting With Numpy Dependency.
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/quantitative/pyproject.toml
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
Labels: bug, platform, v4

#6563 [BugFix] Fix OECD Unemployment Age Brackets & Fix `No module named 'pkg_resources'`
  openbb_platform/core/openbb_core/app/version.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
Labels: bug, platform, v4

#6561 [BugFix] Fix Provider Interface Body Assignment Of Dict-Like Parameters
  openbb_platform/core/openbb_core/app/provider_interface.py
Labels: bug, platform, v4

#6568 Fix gh stars chart history + mention pro at the top
  README.md
Labels: bug, docs

#6566 [Feature] Add Primary Dealer Positioning To Economy
  openbb_platform/core/openbb_core/provider/standard_models/primary_dealer_positioning.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/primary_dealer_positioning.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/primary_dealer_statistics.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_primary_dealer_positioning_fetcher_urllib3_v1.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_primary_dealer_positioning_fetcher_urllib3_v2.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6569 [BugFix] Charting Integration Tests
  openbb_platform/core/openbb_core/app/model/charts/chart.py
  openbb_platform/core/tests/app/model/charts/test_chart.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
Labels: bug, platform, v4

#6565 [Feature] Extract provider to logs
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Labels: enhancement, platform, v4

#6575 [Release] `openbb-devtools`
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Labels: platform, v4

#6576 [Release] `openbb-devtools `
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Labels: platform, v4

#6571 [Feature] Add Nonfarm Payrolls To `economy.survey`
  openbb_platform/core/openbb_core/provider/standard_models/non_farm_payrolls.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/survey/survey_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/non_farm_payrolls.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_non_farm_payrolls_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_non_farm_payrolls_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6579 [BugFix] Fix GitHub Actions Branch Check URL that 404s
  .github/workflows/gh-branch-name-check.yml
Labels: bug

#6578 [Feature] Add PCE (Personal Consumption Expenditures) reports to Economy
  openbb_platform/core/openbb_core/provider/standard_models/personal_consumption_expenditures.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/personal_consumption_expenditures.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_personal_consumption_expenditures_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_personal_consumption_expenditures_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6580 [BugFix] Update Extension `lock` Files For `certifi 2024.7.4`
  cli/poetry.lock
  openbb_platform/core/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Labels: bug, platform, v4, security, P3

#6581 [BugFix] Clean Up Nominal GDP & Add EconDB As Provider
  openbb_platform/core/openbb_core/provider/standard_models/gdp_nominal.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/gdp_nominal.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_gdp_nominal_fetcher_urllib3_v1.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_gdp_nominal_fetcher_urllib3_v2.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdp_nominal.py
  openbb_platform/providers/oecd/openbb_oecd/utils/constants.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_nominal_gdp_fetcher_urllib3_v1.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_nominal_gdp_fetcher_urllib3_v2.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Labels: bug, enhancement, platform, v4, breaking_change

#6582 [BugFix] Delete Dev Container
  .devcontainer/devcontainer.json
Labels: bug, platform

#6583 [BugFix] Update Missed Lock Files for `certifi 2024.7.4`
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
Labels: bug, platform, v4, P3

#6584 [Feature] Cleanup OECD CLI Endpoint.
  openbb_platform/core/openbb_core/provider/standard_models/composite_leading_indicator.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_composite_leading_indicator_fetcher_urllib3_v1.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_composite_leading_indicator_fetcher_urllib3_v2.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdcli_fetcher_urllib3_v1.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecdcli_fetcher_urllib3_v2.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6585 [BugFix] Fix `gdp.forecast`
  openbb_platform/core/openbb_core/provider/standard_models/gdp_forecast.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/gdp/gdp_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdp_forecast.py
  openbb_platform/providers/oecd/openbb_oecd/models/gdp_nominal.py
  openbb_platform/providers/oecd/openbb_oecd/utils/constants.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_forecast_gdp_fetcher_urllib3_v1.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_forecast_gdp_fetcher_urllib3_v2.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_gdp_forecast_fetcher_urllib3_v1.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_gdp_forecast_fetcher_urllib3_v2.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Labels: bug, platform, v4, breaking_change

#6588 [BugFix] Fix CLI Interactive Tables Not Opening
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/session.py
Labels: bug, cli

#6591 [BugFix] Yield Curve Chart: Fix Syntax Where Pandas Drops Column Name After `reset_index()`
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
Labels: bug, platform, v4

#6592 [BugFix] Raise EmptyDataError When No Results Returned From `obb.economy.fred_search()`
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
Labels: bug, platform, v4

#6594 [BugFix] CLI: /technical/sma --chart
  openbb_platform/core/openbb_core/app/model/obbject.py
Labels: bug, platform, v4, cli

#6595 [Feature] Add Fred Release Tables
  openbb_platform/core/openbb_core/provider/standard_models/fred_release_table.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/release_table.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_release_table_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_release_table_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6597 [Feature] Add TIPS Yields (to maturity)
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/provider/standard_models/tips_yields.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/tips_yields.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_tips_yields_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_tips_yields_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6596 Highlight agents repo on README
  README.md
Labels: docs

#6598 [Feature] Remove Deprecated Fields From Equity Historical
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Labels: enhancement, platform, v4

#6600 [BugFix] Bump `linearmodels` and `arch` Version
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/econometrics/pyproject.toml
  openbb_platform/poetry.lock
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher_urllib3_v2.yaml
Labels: bug, platform, v4

#6590 [Feature] PyWry Optional With Charting
  cli/poetry.lock
  cli/pyproject.toml
  openbb_platform/core/openbb_core/app/model/charts/charting_settings.py
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/dummy_backend.py
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
Labels: enhancement, platform, v4, cli

#6601 [Feature] Add Finviz Screener Presets (V3 Compatible)
  cli/openbb_cli/argparse_translator/argparse_translator.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_screener.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/finviz/README.md
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_screener.py
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/all_stocks.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/analyst_strong_buy.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/buffet_like.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/bull_runs_over_10pct.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/cheap_dividend.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/cheap_oversold.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/continued_momentum.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/death_cross.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/golden_cross.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/growth_stocks.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/heavy_inst_ins.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/large_cap_rsi20.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/large_cap_rsi80.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/modified_dreman.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/modified_neff.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/profitable_low_price_sales.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/recent_growth_support.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/screener_template.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/short_squeeze.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/undervalue.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/presets/weak_support_top_performers.ini
  openbb_platform/providers/finviz/openbb_finviz/utils/screener_helper.py
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_equity_screener_fetcher_urllib3_v1.yaml
  openbb_platform/providers/finviz/tests/record/http/test_finviz_fetchers/test_finviz_equity_screener_fetcher_urllib3_v2.yaml
  openbb_platform/providers/finviz/tests/test_finviz_fetchers.py
Labels: enhancement, platform, v4, breaking_change
