Repository OpenBB-finance/OpenBB, pull requests merged in 2024-02, with the labels that each got.

#6005 [Feature] - Custom deprecation
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/core/openbb_core/app/deprecation.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  website/content/platform/development/contributor-guidelines/deprecating_endpoints.md
  website/content/platform/development/contributor-guidelines/write_code_commit.md
  website/generate_platform_v4_markdown.py
Labels: enhancement, feat S, platform, v4

#6022 [BugFix] Fix package builder
  openbb_platform/core/openbb_core/app/deprecation.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/version.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
Labels: bug, platform, v4

#6013 [Feature] Add support for multiple tags in `historical_attributes` and `latest_attributes`
  openbb_platform/core/openbb_core/provider/standard_models/historical_attributes.py
  openbb_platform/core/openbb_core/provider/standard_models/latest_attributes.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_attributes.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/latest_attributes.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, feat M, platform, v4

#6011 [feature]: feature/overview-to-profile: Deprecate `equity.fundamental.overview()` and move to `equity.profile()`
  openbb_platform/core/openbb_core/provider/standard_models/equity_info.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_profile_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: bug, enhancement, feat S, platform, v4

#6025 [BugFix] - Remove duplicate code
  openbb_platform/core/openbb_core/app/command_runner.py
Labels: bug, platform, v4

#6026 [Hotfix] Remove `SectorNews` from news router and standard models
  openbb_platform/core/openbb_core/provider/standard_models/sector_news.py
  openbb_platform/extensions/news/openbb_news/news_router.py
Labels: bug, platform, v4

#5979 feature/more-yfinance: Adds some more to openbb-yfinance
  openbb_platform/core/openbb_core/provider/standard_models/etf_info.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/key_metrics.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/historical_dividends.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_executives.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_metrics.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_info_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_historical_dividends_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_key_executives_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_key_metrics_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_price_target_consensus_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_share_statistics_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: enhancement, feat XL, platform, v4

#5760 feature/commodities-lbma-fixing: Adds Commodity Extension and LBMA Gold/Silver daily fixing levels
  openbb_platform/core/openbb_core/provider/standard_models/lbma_fixing.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/commodity/README.md
  openbb_platform/extensions/commodity/integration/test_commodity_api.py
  openbb_platform/extensions/commodity/integration/test_commodity_python.py
  openbb_platform/extensions/commodity/openbb_commodity/__init__.py
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/commodity/pyproject.toml
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/module_map.json
  openbb_platform/poetry.lock
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/lbma_fixing.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/query_params.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_cot_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_lbma_fixing_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_sp500_multiples_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
  openbb_platform/pyproject.toml
Labels: enhancement, feat XL, platform, extensions, v4

#6029 Feature/api response by provider
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/abstract/data.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/core/openbb_core/provider/standard_models/reported_financials.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_auctions.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/insider_trading.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_unusual.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Labels: enhancement, platform, v4

#5986 Improve UX for `obb.news`
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/core/openbb_core/provider/standard_models/world_news.py
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/world_news.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/world_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/world_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
Labels: enhancement, feat M, platform, v4

#6030 [BugFix] - Improve Standardization - `IndexHistorical`
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/tests/test_provider_field_dupes.py
Labels: bug, platform, v4

#6024 [Feature] - Refactor Response Model
  openbb_platform/CONTRIBUTING.md
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/abstract/data.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/core/openbb_core/provider/standard_models/reported_financials.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_auctions.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/crypto/openbb_crypto/price/price_router.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/currency/openbb_currency/price/price_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/futures/futures_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/economy/openbb_economy/gdp/gdp_router.py
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/extensions/equity/openbb_equity/darkpool/darkpool_router.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/extensions/equity/openbb_equity/shorts/shorts_router.py
  openbb_platform/extensions/etf/openbb_etf/discovery/discovery_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/spreads/spreads_router.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/extensions/regulators/openbb_regulators/cftc/cftc_router.py
  openbb_platform/extensions/regulators/openbb_regulators/sec/sec_router.py
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/insider_trading.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_unusual.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
  website/content/platform/development/contributor-guidelines/deprecating_endpoints.md
  website/content/platform/development/contributor-guidelines/http_requests.md
  website/content/platform/development/developer-guidelines/add_data_point.md
Labels: enhancement, platform, v4

#5996 Docs/byod
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  website/content/excel/data-conectors.md
  website/content/excel/functions.json
  website/content/excel/getting-started/basics.md
  website/content/excel/getting-started/installation.md
  website/content/excel/openapi.json
  website/content/excel/templates.mdx
  website/content/pro/main-menu/data-connectors/integrate-your-own-backend.md
  website/generate_excel_markdown.py
  website/src/pages/index.tsx
Labels: docs, feat S, excel

#6036 fix openapi schema fields `to_snake`, tag for empty list/dict
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Labels: bug, platform, v4

#6038 Fix data connectors link typo
  website/content/excel/data-connectors.md
Labels: docs, excel

#6017 Docs / only display results for current platform
  openbb_terminal/stocks/options/yfinance_model.py
  poetry.lock
  tests/conftest.py
  website/src/theme/SearchBar/index.js
Labels: docs

#6040 [Enhancement] - Improve the TA docstrings
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Labels: enhancement, platform, v4

#6041 [Enhancement] - Improve the QA docstrings
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Labels: enhancement, platform, v4

#6046 Dont run base tests with v4 label
  .github/workflows/unit-test.yml
Labels: bug

#6039 Sync excel reference
  website/content/excel/data-connectors.md
  website/content/excel/functions.json
  website/content/excel/getting-started/basics.md
  website/generate_excel_markdown.py
Labels: docs, v4, excel

#6047 [Enhancement] - Improve `news` router docs and examples
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
Labels: enhancement, platform, v4

#6049 Feature/platform standardization notebook
  examples/platform_standardization.ipynb
  openbb_platform/providers/fred/py.typed
Labels: enhancement, platform, v4

#6045 [Enhancement] - Improve `currency` router docs and examples
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/currency/openbb_currency/price/price_router.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
Labels: enhancement, platform, v4

#6051 [Feature] - Display warnings based on user preference
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/preferences.py
  website/content/platform/usage/index.md
Labels: enhancement, platform, v4

#6048 [Enhancement] - Improve `crypto` router docs and examples
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/crypto/openbb_crypto/price/price_router.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_search.py
Labels: enhancement, platform, v4

#6053 Add LLM tools example notebook
  examples/README.md
  examples/openbbPlatformAsLLMTools.ipynb
Labels: enhancement, platform, v4

#6055 [Feature Removal] - Remove the field_order preference
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/preferences.py
  website/content/platform/usage/index.md
Labels: enhancement, platform, v4

#6056 [Feature] - Standardise multiple symbols input
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/standard_models/bond_prices.py
  openbb_platform/core/openbb_core/provider/standard_models/bond_reference.py
  openbb_platform/core/openbb_core/provider/standard_models/bond_trades.py
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/core/openbb_core/provider/utils/descriptions.py
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/fred/openbb_fred/models/cpi.py
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4

#6057 [Enhancement] - Improve the econometrics router docstrings
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
Labels: enhancement, platform, v4

#6058 [Enhancement] Improve the Economy Router docstrings
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/package/economy.py
Labels: enhancement, platform, v4

#6060 [BugFix] Fix OECD Long Term Interest Rate
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/providers/oecd/openbb_oecd/models/long_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/short_term_interest_rate.py
Labels: bug, platform, v4

#6059 [Bugfix] - Fix economic calendar country
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/countries.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
Labels: bug, platform, v4

#6063 [HotFix] Index Router Docstrings & `sp500_multiples()` Cleanup
  openbb_platform/core/openbb_core/provider/standard_models/sp500_multiples.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
  openbb_platform/openbb/package/index.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/series_ids.py
Labels: bug, enhancement, platform, v4

#6061 [Feature] - Replace symbols in company/news
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/tests/test_tiingo_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
  website/generate_excel_markdown.py
Labels: enhancement, platform, v4

#6042 [Enhancement] Add function examples to router.
  openbb_platform/extensions/derivatives/openbb_derivatives/futures/futures_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/government/government_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/rate/rate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/spreads/spreads_router.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
Labels: docs, enhancement, platform, v4

#6064 [BugFix] Fix World News
  openbb_platform/core/openbb_core/provider/standard_models/world_news.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/world_news.py
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/world_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_world_news_fetcher.yaml
  openbb_platform/providers/tiingo/openbb_tiingo/models/world_news.py
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_world_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/test_tiingo_fetchers.py
Labels: bug, platform, v4

#6067 [Feature] - remove unused validators from standard models
  openbb_platform/core/openbb_core/provider/standard_models/analyst_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet.py
  openbb_platform/core/openbb_core/provider/standard_models/balance_sheet_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow.py
  openbb_platform/core/openbb_core/provider/standard_models/cash_flow_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/company_overview.py
  openbb_platform/core/openbb_core/provider/standard_models/earnings_call_transcript.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_info.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_ownership.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_peers.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_quote.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_valuation_multiples.py
  openbb_platform/core/openbb_core/provider/standard_models/esg_risk_rating.py
  openbb_platform/core/openbb_core/provider/standard_models/esg_score.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_countries.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_historical_nav.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_info.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_sectors.py
  openbb_platform/core/openbb_core/provider/standard_models/executive_compensation.py
  openbb_platform/core/openbb_core/provider/standard_models/financial_ratios.py
  openbb_platform/core/openbb_core/provider/standard_models/fred_series.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_curve.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_attributes.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_dividends.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_employees.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_eps.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_splits.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement.py
  openbb_platform/core/openbb_core/provider/standard_models/income_statement_growth.py
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/index_info.py
  openbb_platform/core/openbb_core/provider/standard_models/index_sectors.py
  openbb_platform/core/openbb_core/provider/standard_models/insider_trading.py
  openbb_platform/core/openbb_core/provider/standard_models/institutional_ownership.py
  openbb_platform/core/openbb_core/provider/standard_models/key_executives.py
  openbb_platform/core/openbb_core/provider/standard_models/key_metrics.py
  openbb_platform/core/openbb_core/provider/standard_models/latest_attributes.py
  openbb_platform/core/openbb_core/provider/standard_models/market_indices.py
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/core/openbb_core/provider/standard_models/otc_aggregate.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target_consensus.py
  openbb_platform/core/openbb_core/provider/standard_models/recent_performance.py
  openbb_platform/core/openbb_core/provider/standard_models/reported_financials.py
  openbb_platform/core/openbb_core/provider/standard_models/revenue_business_line.py
  openbb_platform/core/openbb_core/provider/standard_models/revenue_geographic.py
  openbb_platform/core/openbb_core/provider/standard_models/share_statistics.py
Labels: enhancement, platform, v4

#5902 Update USD Liquidity Example Notebook for V4
  examples/README.md
  examples/content.json
  examples/copperToGoldRatio.ipynb
  examples/financialStatements.webp
  examples/findSymbols.webp
  examples/googleColab.webp
  examples/usdLiquidityIndex.ipynb
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_model.py
Labels: docs, feat XL

#6072 [BugFix] - Fix QA Examples
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Labels: bug, platform, v4

#6073 [Feature] - Ensure Bugfix branches can only do PRs to `develop` branches
  .github/workflows/branch-name-check.yml
  .github/workflows/linting.yml
  CONTRIBUTING.md
Labels: enhancement

#6075 [BugFix] - Fix CAPM example
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
Labels: bug, platform, v4

#6070 Start removing dead v3 commands for deprecation
  .github/workflows/linting.yml
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  openbb_terminal/alternative/alt_controller.py
  openbb_terminal/alternative/covid/__init__.py
  openbb_terminal/alternative/covid/countries.txt
  openbb_terminal/alternative/covid/covid_controller.py
  openbb_terminal/alternative/covid/covid_model.py
  openbb_terminal/alternative/covid/covid_view.py
  openbb_terminal/cryptocurrency/defi/defi_controller.py
  openbb_terminal/cryptocurrency/due_diligence/dd_controller.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_model.py
  openbb_terminal/cryptocurrency/due_diligence/tokenterminal_view.py
  openbb_terminal/cryptocurrency/onchain/onchain_controller.py
  openbb_terminal/miscellaneous/i18n/en.yml
  openbb_terminal/parent_classes.py
  openbb_terminal/stocks/behavioural_analysis/ba_controller.py
  openbb_terminal/stocks/dark_pool_shorts/dps_controller.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_model.py
  openbb_terminal/stocks/dark_pool_shorts/stocksera_view.py
  openbb_terminal/stocks/options/hedge/hedge_controller.py
  openbb_terminal/stocks/options/hedge/hedge_model.py
  openbb_terminal/stocks/options/hedge/hedge_view.py
  openbb_terminal/stocks/options/options_controller.py
  openbb_terminal/terminal_controller.py
  terminal.py
Labels: bug, platform, v4

#6074 [Feature] - Mark multiple item fetchers
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_quote.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/finviz/openbb_finviz/models/equity_profile.py
  openbb_platform/providers/finviz/openbb_finviz/models/key_metrics.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_valuation_multiples.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/fred/openbb_fred/models/cpi.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_attributes.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/latest_attributes.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/market_indices.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
Labels: enhancement, platform, v4

#6071 [Feature] Add Regional Data Endpoint from FRED
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/module_map.json
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_regional_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4

#6082 [BugFix] - Fix most integration tests
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/tests/conftest.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_attributes.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/latest_attributes.py
Labels: bug, platform, v4

#6083 [BugFix] - Fix `analyst` column for Benzinga
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
Labels: bug, platform, v4

#6095 [BugFix] - Fix POST docstring examples
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
Labels: bug, platform, v4

#6092 [BugFix] Fix `treasury_rates()`
  openbb_platform/core/openbb_core/provider/standard_models/treasury_rates.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/treasury_rates.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_treasury_rates_fetcher.yaml
  openbb_platform/providers/fmp/openbb_fmp/models/treasury_rates.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_treasury_rates_fetcher.yaml
Labels: bug, platform, v4

#6100 [BugFix] Fix integration tests
  .github/workflows/platform-api-integration-test.yml
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
Labels: bug, platform, v4

#6097 [Feature] - OBB.GET
  website/content/excel/data-connectors.md
  website/content/excel/data-slicer.md
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Labels: docs, v4, excel

#6096 [Docs] Remove Reference to `to_chart` in OBBject.
  website/content/platform/development/developer-guidelines/architectural_considerations.md
Labels: docs

#6101 [Feature] - Create openbb assets folder
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/openbb/assets/extension_map.json
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/tests/test_extension_map.py
Labels: enhancement, platform, v4

#6099 [BugFix] Fixes to_df() where the date series contains multiple TZ-offsets.
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/standard_models/crypto_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/currency_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/etf_historical.py
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/core/tests/app/model/test_obbject.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/currency_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
Labels: bug, platform, v4

#6087 Update the quantitative extension to make more sense
  openbb_platform/extensions/quantitative/integration/test_quantitative_api.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_python.py
  openbb_platform/extensions/quantitative/openbb_quantitative/performance/performance_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/statistics.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/quantitative/tests/test_statistics.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/router_testers.py
Labels: enhancement, platform, v4

#6109 Update unit-test workflow to check for changes to openbb_platform
  .github/workflows/unit-test.yml
Labels: bug

#6110 [Bug fix] - Fix package mypy
  openbb_platform/core/openbb_core/app/model/abstract/tagged.py
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/provider/standard_models/trailing_dividend_yield.py
  openbb_platform/openbb/package/equity_fundamental.py
Labels: bug, platform, v4

#6103 [Feature] - Equity router descriptions & examples
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/equity/openbb_equity/calendar/calendar_router.py
  openbb_platform/extensions/equity/openbb_equity/compare/compare_router.py
  openbb_platform/extensions/equity/openbb_equity/darkpool/darkpool_router.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/extensions/equity/openbb_equity/price/price_router.py
  openbb_platform/extensions/equity/openbb_equity/shorts/shorts_router.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/top_retail.py
Labels: docs, enhancement, platform, v4

#6112 [Feature] - Add `exception_handler` decorator to static
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Labels: enhancement, feat S, platform, v4

#6114 [Docs] Update Extensions List
  website/content/platform/extensions/data_extensions.md
  website/content/platform/extensions/toolkit_extensions.md
Labels: docs, platform, v4

#6116 [BugFix] Add Missing Field Descriptions to yFinance EquityHistorical Model
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
Labels: bug, platform, v4

#6118 [BugFix] Remove charting extension env var
  openbb_platform/core/openbb_core/env.py
Labels: bug, platform, v4

#6111 [BugFix] Fix Company News
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/benzinga/tests/record/http/test_benzinga_fetchers/test_benzinga_company_news_fetcher.yaml
  openbb_platform/providers/benzinga/tests/test_benzinga_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_company_news_fetcher.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_company_news_fetcher.yaml
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/world_news.py
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_company_news_fetcher.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_world_news_fetcher.yaml
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_company_news_fetcher.yaml
Labels: bug, platform, v4

#6124 [BugFix] Allow Multiple Symbols in `equity.fundamental.metrics()` from `yfinance`
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_metrics.py
Labels: bug, platform, v4

#6106 [Docs] Update OpenBB Copilot docs
  website/content/pro/copilot.md
  website/content/pro/copilot/bring-your-own-copilot.md
  website/content/pro/copilot/index.md
  website/package-lock.json
  website/package.json
  website/yarn.lock
Labels: docs

#6120 [Enhancement] Add Previous Close to DATA_DESCRIPTIONS
  openbb_platform/core/openbb_core/provider/standard_models/market_snapshots.py
  openbb_platform/core/openbb_core/provider/utils/descriptions.py
Labels: enhancement, platform, v4

#6131 added australia as a country also
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/countries.py
Labels: platform, v4

#6129 [Bug fix] - Fix regulator cik map standard model
  openbb_platform/core/openbb_core/provider/standard_models/cik_map.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/sec/openbb_sec/models/cik_map.py
Labels: bug, platform, v4

#6115 [BugFix] Increase OECD request timeout to 30 seconds
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
Labels: bug, platform, v4

#6105 clean up some v3 deps
  openbb_terminal/core/sdk/models/forecast_sdk_model.py
  openbb_terminal/core/sdk/models/portfolio_sdk_model.py
  openbb_terminal/helper_funcs.py
  openbb_terminal/mutual_funds/mutual_fund_controller.py
  poetry.lock
  pyproject.toml
  requirements-full.txt
  requirements.txt
Labels: bug

#6127 [Bug fix] - explicit multiple items docstring
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
Labels: bug, platform, v4

#6130 [Feature] Pretty Pydantic `ValidationError` exceptions
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Labels: enhancement, platform, v4

#6132 [BugFix] Multiple Symbols Allowed, `etf.info(provider="tmx")`
  openbb_platform/providers/tmx/openbb_tmx/models/etf_info.py
Labels: bug, platform, v4

#6094 [Feature] - Platform V4 Markdown Generator V2
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_pairs.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_nbbo.py
  openbb_platform/providers/sec/openbb_sec/models/schema_files.py
  website/content/platform/development/_category_.json
  website/generate_platform_v4_markdown.py
  website/tests/test_platform_docs.py
Labels: enhancement, feat XL, platform, v4

#6128 [Docs] Adds Example Notebook for the Implied Earnings Move
  examples/README.md
  examples/content.json
  examples/impliedEarningsMove.ipynb
  examples/impliedEarningsMove.webp
Labels: docs, platform, v4

#6137 [Feature] - Sync with new openapi.json
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Labels: docs, v4, excel

#6138 Fix the v3 markdown generation workflow
  .github/workflows/gh-pages.yml
  openbb_platform/core/openbb_core/app/model/hub/features_keys.py
  openbb_terminal/keys_controller.py
  openbb_terminal/keys_model.py
  openbb_terminal/miscellaneous/models/all_api_keys.json
  openbb_terminal/miscellaneous/models/hub_credentials.json
Labels: docs, platform, v4

#6140 Update functions.json
  website/content/excel/functions.json
Labels: docs, v4, excel

#6119 [BugFix] Fix Intraday Check in Charting `ta_class`
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
Labels: bug, platform, extensions, v4

#6142 [BugFix] Disable Intrinio `InstitutionalOwnership` model
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: bug, platform, v4

#6139 [Docs] Add More Examples To findSymbols
  examples/findSymbols.ipynb
  website/content/platform/usage/find_symbols.md
Labels: docs, platform, v4

#6145 Docs/update xl docs
  website/content/excel/data-slicer.md
  website/content/excel/functions.json
  website/generate_excel_markdown.py
Labels: docs, v4, excel

#6147 Fix get reference
  website/generate_excel_markdown.py
Labels: docs, v4, excel

#6144 [BugFix] Filter OECD data using `start_date` and `end_date` parameters
  openbb_platform/providers/oecd/openbb_oecd/models/composite_leading_indicator.py
  openbb_platform/providers/oecd/openbb_oecd/models/long_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/short_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/unemployment.py
  openbb_platform/providers/oecd/openbb_oecd/utils/constants.py
Labels: bug, platform, v4

#6153 [Enhancement] Show the source of error in exception traceback
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Labels: enhancement, platform, v4
