Repository OpenBB-finance/OpenBB, pull requests merged in 2024-11, with the labels that each got.

#6929 Remove ogg.ss folder
  examples/Ethereum Crypto Trend Analysis Notebook.ipynb
  examples/Risk-Return Analysis and Portfolio Management in OpenBB.ipynb
  oss.gg/README.md
  oss.gg/code_side_quests/1-openbb-integration.md
  oss.gg/code_side_quests/2-custom-backend.md
  oss.gg/code_side_quests/3-custom-copilot.md
  oss.gg/code_side_quests/4-agentic-agent.md
  oss.gg/no_code_side_quests/0-set-upper.md
  oss.gg/no_code_side_quests/1-pilot-copilot.md
  oss.gg/no_code_side_quests/2-fundamental-blog.md
  oss.gg/no_code_side_quests/3-reddit-legend.md
  oss.gg/no_code_side_quests/4-social-poster.md
  oss.gg/no_code_side_quests/5-financial-post.md
  oss.gg/no_code_side_quests/6-social-hero.md
Labels: enhancement, 🕹️ oss.gg

#6930 [BugFix] Fix OECD CPI Return Not Sorted By Date
  openbb_platform/providers/oecd/openbb_oecd/models/consumer_price_index.py
  openbb_platform/providers/oecd/openbb_oecd/models/long_term_interest_rate.py
  openbb_platform/providers/oecd/openbb_oecd/models/short_term_interest_rate.py
Labels: bug, platform, v4

#6931 Intrinio realtime (delayed) options
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher_urllib3_v1.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4

#6932 [Feature] Add Intrinio to `equity.historical_market_cap`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_market_cap.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_historical_market_cap_urllib3_v1.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_historical_market_cap_urllib3_v2.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4

#6935 [BugFix] Intrinio Historical Market Cap Daily Now Working
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_market_cap.py
Labels: bug, platform, v4

#6934 Cleanup example nb titles
  examples/BacktestingMomentumTrading.ipynb
  examples/EthereumTrendAnalysis.ipynb
  examples/mAndAImpact.ipynb
  examples/riskReturnAnalysis.ipynb
  examples/sectorRotationStrategy.ipynb
Labels: bug

#6937 Update README.md
  README.md
Labels: bug

#6936 [Feature] Add Endpoint For The Latest Financial Reports Filed With The SEC
  openbb_platform/core/openbb_core/provider/standard_models/latest_financial_reports.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/discovery/discovery_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/latest_financial_reports.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_latest_financial_reports_fetcher_urllib3_v1.yaml
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_latest_financial_reports_fetcher_urllib3_v2.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6933 [BugFix] Make "logging_suppress" in `SystemSettings` Mutable and Then Actually Suppress Logging Service
  openbb_platform/core/openbb_core/app/logs/handlers_manager.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/logs/models/logging_settings.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/tests/app/logs/handlers/test_path_tracking_file_handler.py
  openbb_platform/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_platform/core/tests/app/logs/test_handlers_manager.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Labels: bug, platform, v4

#6945 [BugFix] Fix `openbb-yfinance` for `equity.discovery` Functions
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/active.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/aggressive_small_caps.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/gainers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/growth_tech_equities.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/losers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/undervalued_growth_equities.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/undervalued_large_caps.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/references.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_active_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_active_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_aggressive_small_caps_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_aggressive_small_caps_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_balance_sheet_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_cash_flow_statement_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_company_news_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_crypto_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_currency_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_profile_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_quote_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_etf_info_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_futures_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_gainers_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_gainers_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_growth_tech_equities_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_growth_tech_equities_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_historical_dividends_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_income_statement_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_index_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_key_executives_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_key_metrics_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_losers_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_losers_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_market_indices_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_price_target_consensus_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_share_statistics_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_growth_equities_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_growth_equities_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_large_caps_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_large_caps_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: bug, platform, v4

#6951 [Security] Bump `aiohttp` To V3.10.11
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: bug, platform, v4, security, P2

#6953 [BugFix] Clean Out Files From Already Deprecated Endpoint
  openbb_platform/core/openbb_core/provider/standard_models/index_constituents.py
  openbb_platform/core/openbb_core/provider/standard_models/market_indices.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_market_indices_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_market_indices_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/market_indices.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_market_indices_fetcher_urllib3_v1.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_market_indices_fetcher_urllib3_v2.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_market_indices_fetcher_urllib3_v1.yaml
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_market_indices_fetcher_urllib3_v2.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/market_indices.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_market_indices_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_market_indices_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: bug, platform, v4, breaking_change

#6950 [BugFix] CFTC COT - Make All Columns All Lowercase
  openbb_platform/providers/cftc/openbb_cftc/assets/cot_ids.json
  openbb_platform/providers/cftc/openbb_cftc/models/cot.py
Labels: bug, platform, v4

#6946 [Enhancement] Add Multi-Country Support & ECB Yield Curves To `fixedincome.goverment.yield_curve(provider='econdb')`
  openbb_platform/core/openbb_core/provider/standard_models/yield_curve.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/providers/econdb/openbb_econdb/models/yield_curve.py
  openbb_platform/providers/econdb/openbb_econdb/utils/yield_curves.py
Labels: enhancement, platform, v4, breaking_change

#6961 [BugFix] Fix Parsing Error In SEC Form13F
  openbb_platform/core/openbb_core/provider/standard_models/form_13FHR.py
  openbb_platform/providers/sec/openbb_sec/models/form_13FHR.py
  openbb_platform/providers/sec/openbb_sec/utils/helpers.py
  openbb_platform/providers/sec/openbb_sec/utils/parse_13f.py
Labels: bug, platform, v4, breaking_change

#6949 [Feature] Add `yfinance` To `equity.screener`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_screener.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/references.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_screener_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_screener_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: enhancement, platform, v4

#6962 [BugFix] Fix Limit Param For yFinance Financials
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
Labels: bug, platform, v4

#5866 feature/econometrics: Added Variance Inflation Factor
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
Labels: feat XS

#6955 [BugFix] Handle ValidationError Better
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Labels: bug, platform, v4

#6947 [Feature] Add SEC As Provider To `equity.ownership.insider_trading`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/models/insider_trading.py
  openbb_platform/providers/sec/openbb_sec/utils/form4.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_insider_trading_fetcher_urllib3_v1.yaml
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_insider_trading_fetcher_urllib3_v2.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Labels: enhancement, platform, v4

#6964 [BugFix] Tests: Fix Some Bad Integration Test Params
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Labels: bug, platform, v4
