Repository OpenBB-finance/OpenBB, pull requests merged in 2024-12, with the labels that each got.

#6980 [Release] Version Bumps To `python-multipart` & `pyjwt`
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: platform, release, v4, security, P2

#6981 [Security] Update Repo `.lock` Files For `python-multipart` Bump
  cli/poetry.lock
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/platform_api/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/bls/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/cftc/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/eia/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/imf/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/multpl/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Labels: bug, platform, v4, security, P2

#6983 [BugFix] Update Lock File Making CI Fail
  openbb_platform/poetry.lock
Labels: bug, platform, v4

#6957 [Feature]try to add fmp senate trading data api
  openbb_platform/core/openbb_core/provider/standard_models/government_trades.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/government_trades.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_government_trades_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_government_trades_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: enhancement, platform, v4

#6986 [Enhancement] Improve Docstring For `obb.fixedincome.bond_indices`
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
Labels: enhancement, platform, v4

#6989 [Security] Update `package.json` In `frontend-components`
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
Labels: bug, platform, v4, security, P2

#6985 [Feature] Add Deribit Provider Extension For Crypto Options Data
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/core/openbb_core/provider/utils/options_chains_properties.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/poetry.lock
  openbb_platform/providers/deribit/README.md
  openbb_platform/providers/deribit/__init__.py
  openbb_platform/providers/deribit/openbb_deribit/__init__.py
  openbb_platform/providers/deribit/openbb_deribit/models/__init__.py
  openbb_platform/providers/deribit/openbb_deribit/models/options_chains.py
  openbb_platform/providers/deribit/openbb_deribit/utils/__init__.py
  openbb_platform/providers/deribit/openbb_deribit/utils/helpers.py
  openbb_platform/providers/deribit/poetry.lock
  openbb_platform/providers/deribit/pyproject.toml
  openbb_platform/providers/deribit/tests/__init__.py
  openbb_platform/providers/deribit/tests/record/http/test_deribit_fetchers/test_get_options_symbols_urllib3_v1.yaml
  openbb_platform/providers/deribit/tests/record/http/test_deribit_fetchers/test_get_options_symbols_urllib3_v2.yaml
  openbb_platform/providers/deribit/tests/test_deribit_fetchers.py
  openbb_platform/pyproject.toml
Labels: enhancement, platform, v4, breaking_change
