Repository OpenBB-finance/OpenBB, pull requests merged in 2024-09, with the labels that each got.

#6651 [BugFix] Improve Warning For Invalid Defaults Key In `user_settings.json`
  openbb_platform/core/openbb_core/app/model/defaults.py
Labels: bug, platform, v4

#6624 [Feature] Flatten Revenue By Geography and Business Line
  openbb_platform/core/openbb_core/provider/standard_models/revenue_business_line.py
  openbb_platform/core/openbb_core/provider/standard_models/revenue_geographic.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/revenue_business_line.py
  openbb_platform/providers/fmp/openbb_fmp/models/revenue_geographic.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_business_line_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_business_line_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_geographic_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_geographic_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6644 [Feature] Add Top Export Destinations By Country From UN Comtrade International Trade Statistics Database (EconDB)
  openbb_platform/core/openbb_core/provider/standard_models/export_destinations.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/export_destinations.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_export_destinations_fetcher_urllib3_v1.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_export_destinations_fetcher_urllib3_v2.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6657 [BugFix] Fix Tests & Related Bugs
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/providers/bls/tests/test_bls_fetchers.py
  openbb_platform/providers/cftc/tests/record/http/test_cftc_fetchers/test_cftc_cot_fetcher_urllib3_v1.yaml
  openbb_platform/providers/cftc/tests/record/http/test_cftc_fetchers/test_cftc_cot_fetcher_urllib3_v2.yaml
  openbb_platform/providers/cftc/tests/test_cftc_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/calendar_ipo.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/calendar_earnings.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_eps_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/models/forward_sales_estimates.py
  openbb_platform/providers/seeking_alpha/openbb_seeking_alpha/utils/helpers.py
Labels: bug, platform, v4

#6665 [BugFix] Fix BLS Error and API Exception Handling - Resolves #6661 and #6662
  openbb_platform/core/openbb_core/api/exception_handlers.py
  openbb_platform/providers/bls/openbb_bls/utils/helpers.py
Labels: bug, platform, v4

#6664 [BugFix] Enforce User Preference For Dark/Light Mode In Chart Output To API
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
  openbb_platform/extensions/economy/openbb_economy/economy_views.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_historical.py
Labels: bug, platform, v4

#6667 [BugFix] Bar Chart Fixes
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Labels: bug, platform, v4

#6670 [Feature] Adds Primary Dealer Fails Data From NY Federal Reserve
  openbb_platform/core/openbb_core/provider/standard_models/primary_dealer_fails.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/primary_dealer_fails.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/primary_dealer_statistics.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_primary_dealer_fails_fetcher_urllib3_v1.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_primary_dealer_fails_fetcher_urllib3_v2.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6656 Expose one endpoint per provider for each command
  .gitignore
  build/conda/installer/assets/openbb_platform_installer/pyproject.toml
  build/conda/installer/construct.yaml
  openbb_platform/dev_install.py
  openbb_platform/extensions/openbb_platform_api/openbb_platform_api/api.py
  openbb_platform/extensions/openbb_platform_api/openbb_platform_api/utils.py
  openbb_platform/extensions/platform_api/README.md
  openbb_platform/extensions/platform_api/integration/.gitkeep
  openbb_platform/extensions/platform_api/openbb_platform_api/__init__.py
  openbb_platform/extensions/platform_api/openbb_platform_api/main.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/__init__.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/api.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/openapi.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
  openbb_platform/extensions/platform_api/poetry.lock
  openbb_platform/extensions/platform_api/pyproject.toml
  openbb_platform/extensions/platform_api/tests/mock_openapi.json
  openbb_platform/extensions/platform_api/tests/mock_widgets.json
  openbb_platform/extensions/platform_api/tests/test_api.py
  openbb_platform/extensions/platform_api/tests/test_openapi_utils.py
  openbb_platform/extensions/platform_api/tests/test_widgets_utils.py
Labels: enhancement, platform, v4

#6671 [BugFix] Add Validators For `date` Fields For Multiple Items Allowed.
  openbb_platform/core/openbb_core/api/exception_handlers.py
  openbb_platform/core/openbb_core/provider/standard_models/fred_release_table.py
  openbb_platform/core/openbb_core/provider/standard_models/futures_curve.py
  openbb_platform/core/openbb_core/provider/standard_models/yield_curve.py
Labels: bug, platform, v4, breaking_change

#6669 [BugFix] Fix bad key in `__json_schema_extra__` of IntrinioEquityHistorical
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
Labels: bug, platform, v4

#6675 Refactor Widgets Builder For columnsDefs
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/openapi.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
Labels: enhancement, installer, platform, v4

#6678 [BugFix] Update vite in `package.json`
  frontend-components/plotly/package-lock.json
  frontend-components/plotly/package.json
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
Labels: bug, platform, P3

#6668 [Feature] Add Port Volume Data From EconDB
  openbb_platform/core/openbb_core/provider/standard_models/port_volume.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/port_volume.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_port_volume_fetcher_urllib3_v1.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_port_volume_fetcher_urllib3_v2.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6666 [Feature] Add IMF Provider Extension and Extend `obb.economic.indicators`
  assets/extensions/provider.json
  openbb_platform/core/openbb_core/provider/standard_models/economic_indicators.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/imf/README.md
  openbb_platform/providers/imf/openbb_imf/__init__.py
  openbb_platform/providers/imf/openbb_imf/assets/__init__.py
  openbb_platform/providers/imf/openbb_imf/assets/imf_country_map.json
  openbb_platform/providers/imf/openbb_imf/assets/imf_symbols.json
  openbb_platform/providers/imf/openbb_imf/models/__init__.py
  openbb_platform/providers/imf/openbb_imf/models/available_indicators.py
  openbb_platform/providers/imf/openbb_imf/models/economic_indicators.py
  openbb_platform/providers/imf/openbb_imf/utils/__init__.py
  openbb_platform/providers/imf/openbb_imf/utils/constants.py
  openbb_platform/providers/imf/openbb_imf/utils/irfcl_helpers.py
  openbb_platform/providers/imf/poetry.lock
  openbb_platform/providers/imf/pyproject.toml
  openbb_platform/providers/imf/tests/__init__.py
  openbb_platform/providers/imf/tests/record/http/test_imf_fetchers/test_imf_economic_indicators_fetcher_urllib3_v1.yaml
  openbb_platform/providers/imf/tests/record/http/test_imf_fetchers/test_imf_economic_indicators_fetcher_urllib3_v2.yaml
  openbb_platform/providers/imf/tests/test_imf_fetchers.py
  openbb_platform/pyproject.toml
Labels: enhancement, platform, v4, breaking_change

#6683 [Feature] Add Direction Of Trade Statistics From IMF
  openbb_platform/core/openbb_core/provider/standard_models/direction_of_trade.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/imf/README.md
  openbb_platform/providers/imf/openbb_imf/__init__.py
  openbb_platform/providers/imf/openbb_imf/assets/imf_country_map.json
  openbb_platform/providers/imf/openbb_imf/models/direction_of_trade.py
  openbb_platform/providers/imf/openbb_imf/utils/dot_helpers.py
  openbb_platform/providers/imf/openbb_imf/utils/irfcl_helpers.py
  openbb_platform/providers/imf/tests/record/http/test_imf_fetchers/test_imf_direction_of_trade_fetcher_urllib3_v1.yaml
  openbb_platform/providers/imf/tests/record/http/test_imf_fetchers/test_imf_direction_of_trade_fetcher_urllib3_v2.yaml
  openbb_platform/providers/imf/tests/test_imf_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6681 [BugFix] - LoggingService changing default logging configuration
  openbb_platform/core/openbb_core/app/logs/handlers_manager.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/tests/app/logs/test_handlers_manager.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Labels: bug, platform, v4

#6690 [BugFix] Fixes #6688 BLS Title String Concactenation
  openbb_platform/providers/bls/openbb_bls/utils/helpers.py
Labels: bug, platform, v4

#6695 [BugFix] Update missed URLs from repo name change.
  README.md
Labels: bug

#6701 [BugFix] Handle Options Skew Error From Zero/Empty IV Value
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/core/openbb_core/provider/utils/options_chains_properties.py
Labels: bug, platform, v4, breaking_change

#6692 [Feature] Add An `openbb-build` Script To `openbb-core` Package
  openbb_platform/core/openbb_core/build.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: enhancement, platform, v4

#6691 [BugFix] Update Frontend Components package.json and locks for Dependabot
  frontend-components/plotly/package-lock.json
  frontend-components/plotly/package.json
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
Labels: bug, platform, v4, security, P3

#6703 oss.gg | Hacktoberfest 2024
  .github/ISSUE_TEMPLATE/oss-gg-hack-submission.yml
  .github/workflows/gh-branch-name-check.yml
  examples/COMMUNITY_EXAMPLE_TEMPLATE.ipynb
  oss.gg/README.md
  oss.gg/code_side_quests/1-openbb-integration.md
  oss.gg/code_side_quests/2-custom-backend.md
  oss.gg/code_side_quests/3-custom-copilot.md
  oss.gg/code_side_quests/4-agentic-agent.md
  oss.gg/no_code_side_quests/0-set-upper.md
  oss.gg/no_code_side_quests/1-pilot-copilot.md
  oss.gg/no_code_side_quests/2-fundamental-blog.md
  oss.gg/no_code_side_quests/3-reddit-legend.md
  oss.gg/no_code_side_quests/4-social-poster.md
  oss.gg/no_code_side_quests/5-financial-post.md
  oss.gg/no_code_side_quests/6-social-hero.md
Labels: enhancement, HACKTOBERFEST
