Repository OpenBB-finance/OpenBB, pull requests merged in 2024-01, with the labels that each got.

#5907 hotfix/financials-field-maps: Updates A Couple FMP/Polygon Income Statement Fields
  openbb_platform/providers/fmp/openbb_fmp/models/balance_sheet.py
  openbb_platform/providers/fmp/openbb_fmp/models/cash_flow.py
  openbb_platform/providers/fmp/openbb_fmp/models/income_statement.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/polygon/openbb_polygon/models/income_statement.py
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
  tests/openbb_terminal/portfolio/csv/test_portfolio_model/test_tracking_error.csv
Labels: feat M, platform, v4

#5916 Fix test
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
Labels: tests, feat XS, platform, v4

#5918 hotfix/fmp-price-performance-zeros: Replace returned zero with None and normalize percent values.
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
Labels: bug, feat XS, platform

#5906 Update Terminal Pro demo video
  website/content/pro/index.md
Labels: docs, feat XS

#5919 Hotfix/terminal tests
  openbb_terminal/core/completer/choices.py
  openbb_terminal/stocks/stocks_controller.py
  tests/openbb_terminal/stocks/test_stocks_controller.py
Labels: feat XS

#5914 docs/platform-faq: Start Platform FAQ page with bullet points on Platform vs SDK
  website/content/platform/faqs/_category_.json
  website/content/platform/faqs/data_providers.md
  website/content/platform/faqs/index.mdx
  website/content/platform/faqs/platform_vs_sdk.md
Labels: docs, feat S, platform

#5912 hotfix/backend - Initialize OpenBBFigure
  openbb_platform/extensions/charting/openbb_charting/core/backend.py
  openbb_platform/extensions/charting/openbb_charting/core/openbb_figure.py
Labels: bug, feat XS, platform, v4

#5923 hotfix/yf-futures-historical: yfinance historical futures multi-ticker support and symbol parsing
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/futures.csv
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: bug, feat S, platform

#5926 Docs/bug fix
  website/content/excel/functions.json
  website/generate_excel_markdown.py
  website/src/pages/index.tsx
Labels: docs, feat S

#5925 Introduces a limit argument for the `equity.fundamental.trailing_dividend_yield` endpoint
  openbb_platform/core/openbb_core/provider/standard_models/trailing_dividend_yield.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/trailing_dividend_yield.py
Labels: feat XS

#5930 Add json_schema_extra to openapi.json
  openbb_platform/core/openbb_core/app/provider_interface.py
Labels: enhancement, feat XS, platform, v4

#5922 feature/standardize-quote: Proposal to Standardize EquityQuote
  openbb_platform/core/openbb_core/provider/standard_models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
Labels: bug, feat M, platform, v4

#5921 hotfix/fmp-rev-segments: Adds Fiscal Period to busines/geographic segments revenue.
  openbb_platform/core/openbb_core/provider/standard_models/revenue_business_line.py
  openbb_platform/core/openbb_core/provider/standard_models/revenue_geographic.py
  openbb_platform/providers/fmp/openbb_fmp/models/revenue_business_line.py
  openbb_platform/providers/fmp/openbb_fmp/models/revenue_geographic.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_business_line_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_revenue_geographic_fetcher.yaml
Labels: feat M

#5929 Allow multiple symbols `equity.profile`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_info.py
Labels: bug, feat XS, platform

#5928 Add filtering to AV historical price
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/utils/helpers.py
Labels: feat XS, platform, v4

#5936 Fix vwap FMP error
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
Labels: bug, feat XS, platform

#5931 Add date filter + symbols to comp
  openbb_platform/core/openbb_core/provider/standard_models/executive_compensation.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_executive_compensation_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: bug, feat M, platform

#5937 Disable auto_build on test run
  openbb_platform/tests/conftest.py
Labels: bug, feat XS, platform

#5940 Update excel docs
  website/content/excel/functions.json
  website/content/excel/usage/basics.md
  website/generate_excel_markdown.py
Labels: docs, feat M

#5942 Custom deprecation message in API endpoints and Python commands
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
Labels: enhancement, feat XS, platform, v4

#5945 Hotfix/remove unused workflow
  .github/workflows/platform-integration-test.yml
Labels: bug, feat XS

#5948 Hotfix/fix typo
  .github/release-drafter.yml
Labels: bug, feat XS

#5944 docs/data-models-url: Fix URLs on Development Page
  website/content/platform/development/index.md
Labels: docs, feat XS

#5932 `equity.fundamental.dividends`: allow filter by date
  openbb_platform/core/openbb_core/provider/standard_models/historical_dividends.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/historical_dividends.py
Labels: bug, feat S, platform, v4

#5951 hotfix/intrinio-dividends-limit: Fix Limit Param Alias
  openbb_platform/providers/intrinio/openbb_intrinio/models/historical_dividends.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_historical_dividends_fetcher.yaml
Labels: bug, feat XS, platform, v4

#5961 hotfix/float-values: Convert Intrinio balance sheet values to float type
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Labels: bug, feat S, platform, v4

#5965 Update naming to OpenBB Add-in for Excel
  website/content/excel/_category_.json
  website/content/excel/getting-started/installation.md
  website/content/excel/index.md
  website/sidebars.js
  website/src/theme/DocSidebarItem/Category/index.js
Labels: docs, feat XS

#5966 Log custom headers
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/model/fast_api_settings.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Labels: enhancement, feat XS, analytics, platform, v4

#5963 Move government-us to community in dev_install
  openbb_platform/dev_install.py
Labels: bug, feat XS, platform, v4

#5909 hotfix/fix-company-filings: Fixes too many mandatory fields.
  openbb_platform/core/openbb_core/provider/standard_models/company_filings.py
Labels: bug, feat XS, platform, v4

#5941 Hub login for docs
  website/src/theme/Root.tsx
Labels: docs, feat XS

#5962 [DEPRECATION] `index.market` renamed to `index.price.historical`
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/index/openbb_index/price/__init__.py
  openbb_platform/extensions/index/openbb_index/price/price_router.py
  openbb_platform/providers/cboe/openbb_cboe/__init__.py
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_index_historical_fetcher.yaml
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_index_historical_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_index_historical_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/index_historical.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_active_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_aggressive_small_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_gainers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_growth_tech_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_index_historical_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_losers_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_growth_equities_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_undervalued_large_caps_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: bug, feat XL, platform, v4

#5969 Fix docs crash
  website/src/theme/Root.tsx
Labels: docs, feat XS

#5970 Move Excel templates
  website/content/excel/templates.mdx
Labels: docs, feat XS, excel

#5910 hotfix/fix-discord-link: Fixes link to discord channel in CONTRIBUTING
  CONTRIBUTING.md
Labels: feat XS

#5968 Fixing Posthog handler for thread safety
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: bug, feat M, platform, v4

#5974 Change-log Automation V2
  .github/labeler.yml
  .github/workflows/labels-PR.yml
Labels: enhancement, feat XS

#5976 hotfix/ allow multiple `identify` calls
  openbb_platform/core/openbb_core/app/logs/handlers/posthog_handler.py
Labels: bug, feat XS, platform, v4

#5973 docs/http-requests: Contributor Guide For Building HTTP Requests
  website/content/platform/development/contributor-guidelines/http_requests.md
  website/content/platform/installation.md
Labels: docs, feat S, guides

#5977 hotfix/intrinio-strip-control-characters: regex out any invisible control character from sales_conditions field
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_quote.py
Labels: bug, feat XS, platform, v4

#5978 feature/add-yfinance-functions: Add equity.profile for yFinance
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/yfinance/openbb_yfinance/__init__.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_profile_fetcher.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_equity_quote_fetcher.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: enhancement, feat XL, platform, v4

#5982 Minor platform pyproject fix
  openbb_platform/pyproject.toml
Labels: bug, feat XS, platform, v4

#5983 Release OpenBB Platform v`4.1.3`
  openbb_platform/extensions/technical/pyproject.toml
  openbb_platform/pyproject.toml
  openbb_platform/tests/test_pyproject_toml.py
Labels: feat XS, platform, v4

#5980 Fix typo in website/README.md
  .github/workflows/linting.yml
  website/README.md
Labels: feat XS

#5985 docs/extensions-list: Update the Extension Descriptions Pages
  website/content/platform/extensions/data_extensions.md
  website/content/platform/extensions/toolkit_extensions.md
Labels: docs, feat XS, platform

#5991 Remove useless file
  tests/openbb_terminal/cassettes/test_terminal_helper/test_check_api_keys.yaml
Labels: bug, feat XL

#5992 Fixes linting for the logging service
  openbb_platform/core/openbb_core/app/logs/logging_service.py
Labels: bug, feat XS, platform, v4

#5981 Hotfix: Alpha Vantage metrics labels
  openbb_terminal/stocks/fundamental_analysis/av_view.py
Labels: feat XS

#5955 Fixing Docs Typos
  CONTRIBUTING.md
  website/content/terminal/usage/data/data-sources.md
Labels: feat XS

#5989 hotfix/fix-nasdaq-tests: Fix Nasdaq Test Cassettes
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_cot_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_sp500_multiples_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_top_retail_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: bug, feat XL, platform, v4

#5994 hotfix/ `custom_headers` as args in openapi schema
  openbb_platform/core/openbb_core/api/router/commands.py
Labels: bug, feat XS, platform, v4

#5987 hotfix/intrinio-index: Drop None Rows From intrinio Historical Index
  openbb_platform/core/openbb_core/provider/standard_models/index_historical.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/openbb/package/extension_map.json
  openbb_platform/openbb/package/module_map.json
  openbb_platform/providers/intrinio/openbb_intrinio/models/index_historical.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_index_historical_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: bug, feat S, platform, v4

#5990 hotfix/insider-trading: Fix #5988
  openbb_platform/core/openbb_core/provider/standard_models/insider_trading.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/insider_trading.py
Labels: bug, feat S, platform, v4

#6001 feat: add & fix examples
  openbb_platform/core/openbb_core/app/example_generator.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/provider/standard_models/crypto_search.py
  openbb_platform/core/tests/app/static/test_example_generator.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/regulators_sec.py
Labels: enhancement, feat M, platform, v4

#6000 Release `openbb-finviz` `1.0.0` to the public
  openbb_platform/README.md
  openbb_platform/providers/finviz/pyproject.toml
  openbb_platform/pyproject.toml
Labels: feat XS, platform, v4

#5998 Auto Labelling for OpenBB Excel Docs Changes
  .github/labeler.yml
  .github/workflows/labels-PR.yml
Labels: enhancement, feat XS

#5993 [Feature] - Support for custom examples in router commands
  openbb_platform/core/openbb_core/app/assets/parameter_pool.json
  openbb_platform/core/openbb_core/app/constants.py
  openbb_platform/core/openbb_core/app/example_generator.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/standard_models/crypto_search.py
  openbb_platform/core/tests/app/static/test_example_generator.py
  openbb_platform/core/tests/app/test_platform_router.py
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/regulators_sec.py
Labels: enhancement, feat M, platform, v4

#5997 hotfix/intrinio-options-date: Fix comparing values between str and datetime
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
Labels: bug, feat XS, platform, v4

#5999 [Feature] - Field order added to the OBBject extra as preference
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/preferences.py
  website/content/platform/usage/index.md
Labels: enhancement, feat XS, platform, v4

#6008 Update `openbb-devtools`
  .github/workflows/linting.yml
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_terminal/keys_model.py
  openbb_terminal/stocks/fundamental_analysis/yahoo_finance_model.py
  website/content/platform/extensions/toolkit_extensions.md
  website/content/terminal/menus/stocks/comparison.md
  website/content/terminal/usage/keyboard-hotkey-macros.md
Labels: enhancement, feat L, platform, v4

#6009 format w new black
  openbb_platform/providers/cboe/openbb_cboe/models/index_historical.py
  openbb_platform/providers/fred/openbb_fred/models/dwpcr_rates.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/sec/openbb_sec/models/etf_holdings.py
Labels: bug, feat XS, platform, v4

#6012 [Feature Removal] Remove Ultima provider
  openbb_platform/PROVIDERS.md
  openbb_platform/README.md
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/ultima/README.md
  openbb_platform/providers/ultima/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/models/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/models/company_news.py
  openbb_platform/providers/ultima/openbb_ultima/models/sector_news.py
  openbb_platform/providers/ultima/openbb_ultima/py.typed
  openbb_platform/providers/ultima/openbb_ultima/utils/__init__.py
  openbb_platform/providers/ultima/openbb_ultima/utils/helpers.py
  openbb_platform/providers/ultima/poetry.lock
  openbb_platform/providers/ultima/pyproject.toml
  openbb_platform/providers/ultima/tests/__init__.py
  openbb_platform/providers/ultima/tests/record/http/test_ultima_fetchers/test_ultima_company_news_fetcher.yaml
  openbb_platform/providers/ultima/tests/record/http/test_ultima_fetchers/test_ultima_sector_news_fetcher.yaml
  openbb_platform/providers/ultima/tests/test_ultima_fetchers.py
Labels: enhancement, platform, v4

#6014 Test for deprecated endpoints
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/core/tests/app/test_deprecation.py
Labels: enhancement, platform, v4

#6015 Deprecation warning on the reference docs
  openbb_platform/core/openbb_core/app/static/package_builder.py
  website/content/platform/development/contributor-guidelines/deprecating_endpoints.md
  website/content/platform/development/contributor-guidelines/write_code_commit.md
  website/generate_platform_v4_markdown.py
Labels: enhancement, platform, v4
