Repository OpenBB-finance/OpenBB, pull requests merged in 2024-10, with the labels that each got.

#6721 [BugFix] `obb.derivatives.futures.historical`: Fix Start/End Filters Not Being Applied.
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Labels: bug, platform, v4

#6722 [Enhancement] Add `x-unit_measurement` To A Few Items
  openbb_platform/core/openbb_core/provider/standard_models/bond_prices.py
  openbb_platform/core/openbb_core/provider/standard_models/bond_reference.py
  openbb_platform/core/openbb_core/provider/standard_models/bond_trades.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_auctions.py
  openbb_platform/core/openbb_core/provider/standard_models/treasury_prices.py
  openbb_platform/providers/government_us/openbb_government_us/models/treasury_auctions.py
  openbb_platform/providers/tmx/openbb_tmx/models/bond_prices.py
Labels: enhancement, platform, v4, breaking_change

#6724 Add implementation of widget filtering based on local json configuration
  openbb_platform/extensions/platform_api/openbb_platform_api/main.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/api.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
Labels: enhancement, platform, v4

#6682 [BugFix] API: Handle EmptyDataError As Status Code 204
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/exception_handlers.py
  openbb_platform/core/openbb_core/app/router.py
Labels: bug, platform, v4

#6687 [BugFix] Make User Preferences -> Defaults Work With Any Parameter
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/static/container.py
Labels: bug, platform, v4

#6677 [Feature] Add EIA Daily Spot Prices Data via FRED
  openbb_platform/core/openbb_core/provider/standard_models/commodity_spot_prices.py
  openbb_platform/extensions/commodity/integration/test_commodity_api.py
  openbb_platform/extensions/commodity/integration/test_commodity_python.py
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/commodity/openbb_commodity/price/__init__.py
  openbb_platform/extensions/commodity/openbb_commodity/price/price_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/commodity.py
  openbb_platform/poetry.lock
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/commodity_spot_prices.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_commodity_spot_prices_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_commodity_spot_prices_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
Labels: enhancement, platform, v4, breaking_change

#6736 [BugFix] Fix Some Tests
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/providers/sec/openbb_sec/models/rss_litigation.py
  openbb_platform/tests/test_auto_build.py
Labels: bug, platform, v4

#6738 Sharing a patch to test if shorter name is working
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
  openbb_platform/extensions/platform_api/tests/mock_widgets.json
  openbb_platform/extensions/platform_api/tests/test_widgets_utils.py
Labels: platform, v4

#6745 [BugFix] Fix Biztoc `term` Field Not Working & Fix Streamlit News Dashboard Example
  examples/streamlit/news.py
  examples/usdLiquidityIndex.ipynb
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
Labels: bug, platform, v4

#6733 [BugFix] Update `ruff.toml` To Use Python 3.9 As Minimum Supported Version
  ruff.toml
Labels: bug, platform, v4

#6747 [BugFix] Add Missing Percent Identifiers to Intrinio and FMP EtfHoldings
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_holdings.py
Labels: bug, platform, v4

#6740 docs: update CONTRIBUTING.md
  openbb_platform/CONTRIBUTING.md
Labels: bug, docs, platform

#6753 Add a Dockerfile for easy platform-api install
  build/docker/platformAPI.Dockerfile
Labels: enhancement

#6750 [Feature] Add Chart To `econometrics.correlation_matrix`
  openbb_platform/extensions/econometrics/integration/test_econometrics_api.py
  openbb_platform/extensions/econometrics/integration/test_econometrics_python.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_views.py
  openbb_platform/extensions/econometrics/pyproject.toml
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/correlation_matrix.py
Labels: enhancement, platform, v4

#6757 [Enhancement] Add Start/End Date Filters To SecCompanyFilingsFetcher
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/utils/definitions.py
Labels: enhancement, platform, v4

#6773 [BugFix] Remove Dead Endpoints From Nasdaq Data Link
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot_search.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/lbma_fixing.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/utils/series_ids.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_cot_fetcher_urllib3_v1.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_cot_fetcher_urllib3_v2.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_lbma_fixing_fetcher_urllib3_v1.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_lbma_fixing_fetcher_urllib3_v2.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_sp500_multiples_fetcher_urllib3_v1.yaml
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_sp500_multiples_fetcher_urllib3_v2.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: bug, platform, v4

#6785 [Enhancement] Improve FRED Search
  openbb_platform/core/openbb_core/provider/standard_models/fred_search.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/models/search.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_release_table_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_release_table_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_search_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_search_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_tips_yields_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_tips_yields_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6726 Added file : Created Notebook for Portfolio Optimization Using Modern Portfolio Theory (Hacktoberfest)
  examples/portfolioOptimizationUsingModernPortfolioTheory.ipynb
Labels: 🕹️ oss.gg

#6807 [BugFix] Handle Abusively Large Correlation Matrix.
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/correlation_matrix.py
Labels: bug, platform, v4

#6818 [Feature] Add `openbb-platform-api` To Main `pyproject.toml`
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/poetry.lock
  openbb_platform/pyproject.toml
  openbb_platform/tests/test_extension_map.py
Labels: enhancement, platform, v4

#6794 [BugFix] Bump `openbb-core` Dependencies In `pyproject.toml`
  openbb_platform/core/__init__.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Labels: bug, platform, v4, security, P3

#6846 [BugFix] SecCompanyFilings: Purge `nan` Values & Make `form_type` Match
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
Labels: bug, platform, v4

#6800 [BugFix] Add Exception Handling For Unauthorized API Key Error.
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/exception_handlers.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/provider/utils/errors.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/company_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/world_news.py
  openbb_platform/providers/benzinga/openbb_benzinga/utils/helpers.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/biztoc/tests/record/http/test_biztoc_fetchers/test_biztoc_world_news_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_ebitda_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_pe_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_sales_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/helpers.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/company_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/equity_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/trailing_dividend_yield.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/world_news.py
  openbb_platform/providers/tiingo/openbb_tiingo/utils/helpers.py
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_crypto_historical_fetcher_urllib3_v1.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_crypto_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_currency_historical_fetcher_urllib3_v1.yaml
  openbb_platform/providers/tiingo/tests/record/http/test_tiingo_fetchers/test_tiingo_currency_historical_fetcher_urllib3_v2.yaml
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/models/economic_calendar.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/helpers.py
Labels: bug, platform, v4

#6855 [Release] Patch openbb-core-1.3.5
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: platform, release, v4

#6869 [BugFix] Pre-Release Bug Fixes
  openbb_platform/providers/imf/__init__.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/crypto_historical.py
  openbb_platform/providers/tiingo/openbb_tiingo/models/currency_historical.py
Labels: bug, platform, v4

#6693 [Feature] Add EIA Provider & Weekly Petroleum Status Report
  openbb_platform/core/openbb_core/provider/standard_models/petroleum_status_report.py
  openbb_platform/core/openbb_core/provider/standard_models/short_term_energy_outlook.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/commodity/integration/test_commodity_api.py
  openbb_platform/extensions/commodity/integration/test_commodity_python.py
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/commodity.py
  openbb_platform/poetry.lock
  openbb_platform/providers/eia/README.md
  openbb_platform/providers/eia/__init__.py
  openbb_platform/providers/eia/openbb_us_eia/__init__.py
  openbb_platform/providers/eia/openbb_us_eia/models/__init__.py
  openbb_platform/providers/eia/openbb_us_eia/models/petroleum_status_report.py
  openbb_platform/providers/eia/openbb_us_eia/models/short_term_energy_outlook.py
  openbb_platform/providers/eia/openbb_us_eia/utils/__init__.py
  openbb_platform/providers/eia/openbb_us_eia/utils/constants.py
  openbb_platform/providers/eia/openbb_us_eia/utils/helpers.py
  openbb_platform/providers/eia/openbb_us_eia/utils/py.typed
  openbb_platform/providers/eia/openbb_us_eia/utils/total_energy_map.json
  openbb_platform/providers/eia/poetry.lock
  openbb_platform/providers/eia/pyproject.toml
  openbb_platform/providers/eia/tests/__init__.py
  openbb_platform/providers/eia/tests/record/http/test_eia_fetchers/test_eia_petroleum_status_report_fetcher_urllib3_v1.yaml
  openbb_platform/providers/eia/tests/record/http/test_eia_fetchers/test_eia_petroleum_status_report_fetcher_urllib3_v2.yaml
  openbb_platform/providers/eia/tests/record/http/test_eia_fetchers/test_eia_short_term_energy_outlook_fetcher_urllib3_v1.yaml
  openbb_platform/providers/eia/tests/record/http/test_eia_fetchers/test_eia_short_term_energy_outlook_fetcher_urllib3_v2.yaml
  openbb_platform/providers/eia/tests/test_eia_fetchers.py
  openbb_platform/pyproject.toml
Labels: enhancement, platform, v4, breaking_change
