Repository OpenBB-finance/OpenBB, pull requests merged in 2024-03, with the labels that each got.

#6155 [Feature] Add AlphaVantage to `historical_eps`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/historical_eps.py
  openbb_platform/providers/alpha_vantage/tests/record/http/test_alpha_vantage_fetchers/test_av_historical_eps_fetcher.yaml
  openbb_platform/providers/alpha_vantage/tests/test_alpha_vantage_fetchers.py
Labels: enhancement, platform, v4

#6160 [BugFix] Fix FMP Market Snapshots
  openbb_platform/core/openbb_core/provider/standard_models/market_snapshots.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_snapshots.py
  openbb_platform/providers/fmp/openbb_fmp/utils/definitions.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_market_snapshots_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: bug, platform, v4

#6165 [Feature] - Excel help page
  website/content/excel/data-connectors.md
  website/content/excel/data-slicer.md
  website/content/excel/getting-started/_category_.json
  website/content/excel/help.md
  website/controller_doc_classes.py
  website/generate_excel_markdown.py
Labels: docs, excel

#6162 [Feature] Add Currency Snapshots With Data From FMP
  openbb_platform/core/openbb_core/provider/standard_models/currency_snapshots.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_snapshots.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_currency_snapshots_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: enhancement, platform, v4

#6122 [Feature] Add `form_13f` Endpoint to `equity.ownership`
  openbb_platform/core/openbb_core/provider/standard_models/form_13FHR.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/ownership/ownership_router.py
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/sec/openbb_sec/__init__.py
  openbb_platform/providers/sec/openbb_sec/models/form_13FHR.py
  openbb_platform/providers/sec/openbb_sec/utils/parse_13f.py
  openbb_platform/providers/sec/tests/record/http/test_sec_fetchers/test_sec_form_13FHR_fetcher.yaml
  openbb_platform/providers/sec/tests/test_sec_fetchers.py
Labels: enhancement, platform, v4

#6167 [Bug fix] - Run charting tests again
  openbb_platform/core/tests/app/model/charts/test_chart.py
  openbb_platform/extensions/tests/conftest.py
  openbb_platform/extensions/tests/test_integration_tests_api.py
  openbb_platform/extensions/tests/test_integration_tests_python.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
Labels: bug, tests, platform, v4

#6168 [Enhancement] Slightly Change The Order of intrinio Cash Flow
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
Labels: enhancement, platform, v4

#6170 [Bug fix] - Fix integration tests
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/quantitative/integration/test_quantitative_api.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_historical.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
Labels: bug, platform, v4

#6171 [Bug fix] - Handle multiple items with arbitrary type
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/provider/standard_models/spot.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/fred/openbb_fred/models/spot.py
  openbb_platform/providers/fred/openbb_fred/utils/fred_helpers.py
Labels: bug, tests, platform, v4

#6169 [Feature] Custom choices
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/openbb/package/economy.py
Labels: enhancement, platform, v4

#6174 [BugFix] Fix incomplete argument display when debug mode is off for `ValidationError`
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Labels: bug, platform, v4

#6177 [Enhancement] Improve Intrinio Unusual Options
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_unusual.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_unusual_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4

#6181 [BugFix] Patch for refactored examples in platform markdown generator
  website/generate_platform_v4_markdown.py
Labels: bug, platform, v4

#6178 [Feature] Add Tradier Provider Extension
  openbb_platform/dev_install.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/poetry.lock
  openbb_platform/providers/tradier/README.md
  openbb_platform/providers/tradier/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/models/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/models/equity_historical.py
  openbb_platform/providers/tradier/openbb_tradier/models/equity_quote.py
  openbb_platform/providers/tradier/openbb_tradier/models/equity_search.py
  openbb_platform/providers/tradier/openbb_tradier/models/options_chains.py
  openbb_platform/providers/tradier/openbb_tradier/py.typed
  openbb_platform/providers/tradier/openbb_tradier/utils/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/utils/constants.py
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradier/pyproject.toml
  openbb_platform/providers/tradier/tests/__init__.py
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_derivatives_options_chains_fetcher.yaml
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_equity_historical_fetcher.yaml
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_equity_quote_fetcher.yaml
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_equity_search_fetcher.yaml
  openbb_platform/providers/tradier/tests/test_tradier_fetchers.py
  openbb_platform/pyproject.toml
  website/content/platform/extensions/data_extensions.md
Labels: enhancement, platform, extensions, v4

#6182 [Feature] - Create static asset tests
  openbb_platform/tests/test_extension_map.py
  openbb_platform/tests/test_pyproject_toml.py
Labels: enhancement, platform, v4

#6184 Add labels for `breaking_changes` tag
  .github/labeler.yml
  .github/release-drafter.yml
Labels: enhancement

#6183 [Bugfix] - Fix equity/price/historical w/ alphavantage
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
Labels: bug, platform, v4

#6185 [BugFix] Handle TMX Date Type
  openbb_platform/providers/tmx/openbb_tmx/models/equity_historical.py
Labels: bug, platform, v4

#6186 [Enhancement] Allow Multiple Symbols For Intrinio Key Metrics
  openbb_platform/core/openbb_core/provider/standard_models/key_metrics.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/key_metrics.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_key_metrics_fetcher.yaml
Labels: enhancement, platform, v4, breaking_change

#6189 [BugFix] Update `README` for Platform
  build/pypi/openbb_platform/publish.py
  openbb_platform/README.md
  openbb_platform/providers/tmx/pyproject.toml
  openbb_platform/providers/tradier/pyproject.toml
  openbb_platform/pyproject.toml
Labels: bug, platform, v4

#6188 [BugFix] Raise Alpha Vantage API Error
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/models/equity_historical.py
Labels: bug, platform, v4

#6191 [BugFix] Update Nasdaq Econ Calendar Headers
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/economic_calendar.py
Labels: bug, platform, v4

#6193 [Bugfix] Update `PUBLISH.md` file
  build/pypi/openbb_platform/PUBLISH.md
Labels: bug, platform, v4

#6194 [BugFix] Remove charting extension preference from user settings
  openbb_platform/core/openbb_core/app/model/preferences.py
Labels: bug, platform, v4

#6196 [Bugfix] - Small update on PUBLISH.md
  build/pypi/openbb_platform/PUBLISH.md
Labels: bug, platform, v4

#6195 [HotFix] Fix obbject extensions not written to `extension_map.json`
  .github/workflows/manual-unit-test.yml
  .github/workflows/unit-test.yml
  openbb_platform/core/openbb_core/app/extension_loader.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Labels: bug, platform, v4

#6197 [Release] openbb-core-1.1.4
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: platform, v4

#6202 [Critical] Sync `main` with `develop`
  .pre-commit-config.yaml
  build/pypi/openbb_platform/PUBLISH.md
  openbb_platform/core/openbb_core/app/model/preferences.py
Labels: platform, v4

#6203 [Enhancement] - Improve the example test
  openbb_platform/extensions/tests/test_routers.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/router_testers.py
Labels: enhancement, platform, v4

#6204 [Enhancement] - Improve fetcher test error messages
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
Labels: enhancement, platform, v4

#6198 [Feature] Add Intrinio ETF Info/Search
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_search.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_info_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_search_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4

#6205 Final v3 touches
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#6206 [BugFix] Fix empty docstring in data processing functions
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
Labels: bug, platform, v4

#6210 Hotfix/docs workflow
  .github/workflows/branch-name-check.yml
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
Labels: bug, platform, v4

#6214 Release/3.2.5
  .github/workflows/build-release.yml
  build/docker/compose.env
  build/nsis/setup.nsi
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  build/pyinstaller/version.rc
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/extensions/tests/test_routers.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/router_testers.py
  openbb_platform/openbb/assets/extension_map.json
  openbb_platform/openbb/assets/module_map.json
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_info.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_search.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_info_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_search_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_terminal/core/models/system_model.py
  openbb_terminal/reports/templates/equity.ipynb
  openbb_terminal/terminal_controller.py
  openbb_terminal/terminal_helper.py
  poetry.lock
  pyproject.toml
  website/content/terminal/changelog/version2_0_0.mdx
  website/content/terminal/changelog/version2_1_0.mdx
  website/content/terminal/changelog/version2_2_0.mdx
  website/content/terminal/changelog/version2_3_0.mdx
  website/content/terminal/changelog/version2_3_1.mdx
  website/content/terminal/changelog/version2_4_0.mdx
  website/content/terminal/changelog/version2_4_1.mdx
  website/content/terminal/changelog/version2_5_0.mdx
  website/content/terminal/changelog/version2_5_1.mdx
  website/content/terminal/changelog/version3_0_0.mdx
  website/content/terminal/changelog/version3_0_1.mdx
  website/content/terminal/changelog/version3_1_0.mdx
  website/content/terminal/changelog/version3_2_0.mdx
  website/content/terminal/changelog/version3_2_1.mdx
  website/content/terminal/changelog/version3_2_2.mdx
  website/content/terminal/changelog/version3_2_3.mdx
  website/content/terminal/changelog/version3_2_4.mdx
  website/content/terminal/changelog/version3_2_5.mdx
  website/content/terminal/installation/macos.md
  website/content/terminal/installation/pypi.md
  website/content/terminal/installation/windows.md
  website/generate_platform_v4_markdown.py
  website/pypi.md
Labels: platform, v4

#6216 [Hotfix] - docs workflow
  .github/workflows/branch-name-check.yml
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
Labels: bug, platform, v4

#6207 [Docs] - Update BYOD page
  website/content/excel/data-connectors.md
  website/content/excel/functions.json
  website/content/excel/openapi.json
Labels: docs, excel

#6211 [Enhancement] Sync `reference.json` and Platform function docstring
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/calendar_ipo.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_nbbo.py
  website/generate_platform_v4_markdown.py
Labels: enhancement, platform, v4

#6217 [Docs] - Update BYOD page
  website/content/excel/data-connectors.md
  website/content/excel/functions.json
  website/content/excel/openapi.json
Labels: docs, platform, excel

#6221 Remove terminal CI actions
  .github/workflows/build-release.yml
  .github/workflows/gh-pages.yml
  .github/workflows/linting.yml
  .github/workflows/macos-build.yml
  .github/workflows/macos-ml.yml
  .github/workflows/manual-unit-test.yml
  .github/workflows/nightly-build.yml
  .github/workflows/pypi-nightly.yml
  .github/workflows/unit-test.yml
  .github/workflows/windows10_build.yml
  .github/workflows/windows_ml.yml
  website/generate_sdk_v3_markdown.py
  website/generate_terminal_v3_markdown.py
Labels: bug

#6220 [Feature] Intrinio ETF Price Performance
  openbb_platform/core/openbb_core/provider/standard_models/recent_performance.py
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/finviz/openbb_finviz/__init__.py
  openbb_platform/providers/finviz/openbb_finviz/models/price_performance.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_price_performance.py
  openbb_platform/providers/intrinio/openbb_intrinio/utils/references.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_price_performance_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6208 [Feature] Add Intrinio ETF Holdings
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_holdings.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_etf_holdings_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4

#6225 Update the main README
  README.md
Labels: enhancement

#6224 [Enhancement] Adding an interface to read the reference
  openbb_platform/core/openbb_core/app/constants.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/openbb_core/app/static/reference_loader.py
  openbb_platform/core/tests/app/static/test_coverage.py
  openbb_platform/core/tests/app/static/test_reference_loader.py
  openbb_platform/openbb/__init__.py
Labels: enhancement, platform, v4

#6226 [Feature] Volatility Cones Chart
  openbb_platform/extensions/technical/integration/test_technical_api.py
  openbb_platform/extensions/technical/integration/test_technical_python.py
  openbb_platform/extensions/technical/openbb_technical/helpers.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/extensions/technical/tests/test_technical_helpers.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
Labels: enhancement, platform, v4

#6173 [Docs] Refactor Contributing Section Of Docs
  examples/financialStatements.ipynb
  website/content/platform/development/architecture_overview.md
  website/content/platform/development/contributing/_category_.json
  website/content/platform/development/contributing/deprecating_endpoints.md
  website/content/platform/development/contributing/function_examples.md
  website/content/platform/development/contributing/github.md
  website/content/platform/development/contributing/http_requests.md
  website/content/platform/development/contributing/index.md
  website/content/platform/development/contributing/validators.md
  website/content/platform/development/contributor-guidelines/_category_.json
  website/content/platform/development/contributor-guidelines/index.md
  website/content/platform/development/contributor-guidelines/manage_extensions.md
  website/content/platform/development/contributor-guidelines/sharing_extensions.md
  website/content/platform/development/contributor-guidelines/write_code_commit.md
  website/content/platform/development/dependency_management.md
  website/content/platform/development/developer-guidelines/_category_.json
  website/content/platform/development/developer-guidelines/add_data_point.md
  website/content/platform/development/developer-guidelines/build_openbb_extensions.md
  website/content/platform/development/developer-guidelines/validators.md
  website/content/platform/development/devtools.md
  website/content/platform/development/how-to/_category_.json
  website/content/platform/development/how-to/add_data_provider_extension.md
  website/content/platform/development/how-to/add_data_to_existing_endpoint.md
  website/content/platform/development/how-to/add_endpoint_to_existing_provider.md
  website/content/platform/development/how-to/add_obbject_extension.md
  website/content/platform/development/how-to/add_toolkit_extension.md
  website/content/platform/development/how-to/index.md
  website/content/platform/development/index.md
  website/content/platform/development/obbject.md
  website/content/platform/development/standardization.md
  website/content/platform/development/tests.md
  website/content/platform/usage/basic_syntax.md
  website/content/platform/usage/financial_statements.md
  website/content/platform/usage/find_symbols.md
  website/content/platform/usage/historical_prices.md
  website/content/platform/usage/rest_api.md
Labels: docs, platform, v4

#6229 [HotFix] Fix FMP Intraday
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Labels: bug, platform, v4

#6158 [Docs] Add Streamlit News Dashboard To Examples
  examples/README.md
  examples/content.json
  examples/streamlit/news.py
  examples/streamlit/requirements.txt
  examples/streamlit_news.webp
Labels: docs, platform

#6234 [Feature] Add Charts For FRED Series
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
Labels: enhancement, platform, v4

#6232 [Feature] Add Intrinio to `obb.equity.market_snapshots()`
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/market_snapshots.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_market_snapshots_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: enhancement, platform, v4

#6235 [BugFix] Merge Fix FMP Intraday (#6229) From Main
  openbb_platform/extensions/crypto/integration/test_crypto_api.py
  openbb_platform/extensions/crypto/integration/test_crypto_python.py
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/providers/fmp/openbb_fmp/models/crypto_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_historical.py
  openbb_platform/providers/fmp/openbb_fmp/models/index_historical.py
Labels: bug, platform, v4

#6238 [BugFix] - @validate with args breaks autocompletion
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
Labels: bug, platform, v4

#6236 [Feature] - Warn if inexistent kwargs
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/user_settings.py
  openbb_platform/core/openbb_core/app/query.py
  openbb_platform/core/openbb_core/provider/query_executor.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_query.py
Labels: bug, platform, v4

#6240 [BugFix] - Allow kwargs on POST endpoints
  openbb_platform/core/openbb_core/app/static/package_builder.py
Labels: bug, platform, v4

#6237 [BugFix] Return FMP Error Messages
  openbb_platform/core/openbb_core/provider/standard_models/analyst_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/executive_compensation.py
  openbb_platform/core/openbb_core/provider/standard_models/historical_splits.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/providers/fmp/openbb_fmp/models/analyst_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_filings.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_profile.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_valuation_multiples.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_countries.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_equity_exposure.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
  openbb_platform/providers/fmp/openbb_fmp/models/executive_compensation.py
  openbb_platform/providers/fmp/openbb_fmp/models/financial_ratios.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_metrics.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target_consensus.py
  openbb_platform/providers/fmp/openbb_fmp/utils/helpers.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_valuation_multiples_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_key_metrics_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: bug, platform, v4, breaking_change

#6249 [BugFix] No event loop when exporting images
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
Labels: bug, platform, v4

#6242 [BugFix] - Bring back mypy
  .github/workflows/linting.yml
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/deprecation.py
  openbb_platform/core/openbb_core/app/model/abstract/singleton.py
  openbb_platform/core/openbb_core/app/model/example.py
  openbb_platform/core/openbb_core/app/model/metadata.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/utils/decorators.py
  openbb_platform/core/openbb_core/app/utils.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/core/openbb_core/provider/registry_map.py
  openbb_platform/core/openbb_core/provider/standard_models/cpi.py
  openbb_platform/core/openbb_core/provider/standard_models/spot.py
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/core/tests/api/test_auth/test_user_auth.py
  openbb_platform/core/tests/api/test_dependency/test_coverage.py
  openbb_platform/core/tests/api/test_dependency/test_system.py
  openbb_platform/core/tests/app/logs/formatters/test_formatter_with_exceptions.py
  openbb_platform/core/tests/app/logs/test_handlers_manager.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
  openbb_platform/core/tests/app/logs/utils/test_expired_files.py
  openbb_platform/core/tests/app/model/abstract/test_tagged.py
  openbb_platform/core/tests/app/model/abstract/test_warning.py
  openbb_platform/core/tests/app/model/charts/test_chart.py
  openbb_platform/core/tests/app/model/hub/test_hub_session.py
  openbb_platform/core/tests/app/model/test_command_context.py
  openbb_platform/core/tests/app/model/test_defaults.py
  openbb_platform/core/tests/app/model/test_metadata.py
  openbb_platform/core/tests/app/model/test_obbject.py
  openbb_platform/core/tests/app/model/test_system_settings.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/core/tests/app/static/test_filters.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_deprecation.py
  openbb_platform/core/tests/app/test_extension_loader.py
  openbb_platform/core/tests/app/test_platform_router.py
  openbb_platform/core/tests/app/test_utils.py
  openbb_platform/core/tests/provider/abstract/test_data.py
  openbb_platform/core/tests/provider/abstract/test_provider.py
  openbb_platform/core/tests/provider/abstract/test_query_params.py
  openbb_platform/core/tests/provider/standard_models/test_standard_models.py
  openbb_platform/core/tests/provider/utils/test_client.py
  openbb_platform/core/tests/provider/utils/test_helpers.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
Labels: bug, platform, v4, breaking_change

#6251 [BugFix] - Fix integration tests workflow file
  .github/workflows/platform-api-integration-test.yml
Labels: bug

#6250 [BugFix] - Untyped variadic keyword arguments break during execution
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/core/tests/app/test_command_runner.py
Labels: bug, platform, v4

#6255 [Docs] - Update contributing section
  CONTRIBUTING.md
Labels: docs

#6257 [BugFix] Docs: Build Static Assets Before Generating Markdown Files
  .github/workflows/gh-pages.yml
Labels: bug, docs, platform, v4

#6258 [Docs] Break Out Usage Section In Docs Pages
  website/content/platform/installation.md
  website/content/platform/usage/api_keys.md
  website/content/platform/usage/basic_response.md
  website/content/platform/usage/basic_syntax.md
  website/content/platform/usage/explanation/_category_.json
  website/content/platform/usage/explanation/commitment_of_traders.md
  website/content/platform/usage/explanation/financial_statements.md
  website/content/platform/usage/explanation/find_symbols.md
  website/content/platform/usage/explanation/historical_prices.md
  website/content/platform/usage/explanation/index.md
  website/content/platform/usage/explanation/market_calendars.md
  website/content/platform/usage/index.md
  website/content/platform/usage/rest_api.md
  website/content/platform/usage/settings_and_environment_variables.md
  website/content/terminal/installation/pypi.md
Labels: docs, platform, v4

#6259 [BugFix] - Move extra_params warning to query.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/query.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/core/tests/app/test_query.py
Labels: bug, platform, v4

#6256 [BugFix] - multiple items allowed in provider parameters
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/provider_interface.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/provider/standard_models/analyst_search.py
  openbb_platform/core/openbb_core/provider/standard_models/company_news.py
  openbb_platform/core/openbb_core/provider/standard_models/equity_quote.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/tests/conftest.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
Labels: bug, platform, v4, breaking_change

#6262 [BugFix] Fix tests for charting
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Labels: bug, platform, v4

#6264 [Bugfix] - Test parametrize skips charting tests
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  openbb_platform/extensions/tests/conftest.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/base.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/data_classes.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/ta_class.py
  openbb_terminal/core/plots/plotly_ta/ta_class.py
Labels: bug, platform, v4

#6265 [Bugfix] Removes Charting Integration Test For Chart That Doesn't Exist
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
Labels: bug, platform, v4

#6260 [BugFix] yFinance ETF Info: Try Different Field When Missing fundInceptionDate
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
Labels: bug, platform, v4

#6270 Make Excel templates downloadable from docs
  website/content/excel/templates.mdx
Labels: docs, excel
