Repository OpenBB-finance/OpenBB, pull requests merged in 2024-08, with the labels that each got.

#6564 [Feature] OptionsChains Properties
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/core/openbb_core/provider/utils/options_chains_properties.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_options_chains_fetcher_urllib3_v1.yaml
  openbb_platform/providers/cboe/tests/record/http/test_cboe_fetchers/test_cboe_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/cboe/tests/test_cboe_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher_urllib3_v1.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/tmx/openbb_tmx/models/options_chains.py
  openbb_platform/providers/tmx/tests/record/http/test_tmx_fetchers/test_tmx_options_chains_fetcher_urllib3_v1.yaml
  openbb_platform/providers/tmx/tests/record/http/test_tmx_fetchers/test_tmx_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/tmx/tests/test_tmx_fetchers.py
  openbb_platform/providers/tradier/openbb_tradier/models/options_chains.py
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_derivatives_options_chains_fetcher_urllib3_v1.yaml
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_derivatives_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/tradier/tests/test_tradier_fetchers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_options_chains_fetcher_urllib3_v1.yaml
  openbb_platform/providers/yfinance/tests/record/http/test_yfinance_fetchers/test_y_finance_options_chains_fetcher_urllib3_v2.yaml
  openbb_platform/providers/yfinance/tests/test_yfinance_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6605 Update econometrics package dependencies
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/econometrics/pyproject.toml
Labels: dependencies, platform, v4

#6606 Update develop with main
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/econometrics/pyproject.toml
Labels: enhancement, platform, v4

#6607 [BugFix] Fix Rogue Percent Value In FMP ETF Info
  openbb_platform/providers/fmp/openbb_fmp/models/etf_info.py
Labels: bug, platform, v4

#6602 [Enhancement] Consolidate OECD Interest Rate Endpoints as a Single Function
  openbb_platform/core/openbb_core/provider/standard_models/country_interest_rates.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/oecd/openbb_oecd/__init__.py
  openbb_platform/providers/oecd/openbb_oecd/models/country_interest_rates.py
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_country_interest_rates_fetcher_urllib3_v1.yaml
  openbb_platform/providers/oecd/tests/record/http/test_oecd_fetchers/test_oecd_country_interest_rates_fetcher_urllib3_v2.yaml
  openbb_platform/providers/oecd/tests/test_oecd_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6603 [Feature] Add Historical Market Cap
  openbb_platform/core/openbb_core/provider/standard_models/historical_market_cap.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_views.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/historical_market_cap.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_historical_market_cap_fetcher_urllib3_v1.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_historical_market_cap_fetcher_urllib3_v2.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6608 [BugFix] FRED Release Table: Fix Date Parsing For Format Variation
  openbb_platform/providers/fred/openbb_fred/models/release_table.py
Labels: bug, platform, v4

#6611 [BugFix] Fix Yfinance Discovery Percent Values
  openbb_platform/core/openbb_core/provider/standard_models/equity_performance.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/providers/tmx/openbb_tmx/models/gainers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/gainers.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/tests/test_yfinance_helpers.py
Labels: bug, platform, v4, breaking_change

#6609 [Feature] Replace Nasdaq SP500 Multiples With Direct Source
  openbb_platform/core/openbb_core/provider/standard_models/sp500_multiples.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/index/integration/test_index_api.py
  openbb_platform/extensions/index/integration/test_index_python.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/providers/multpl/README.md
  openbb_platform/providers/multpl/__init__.py
  openbb_platform/providers/multpl/openbb_multpl/__init__.py
  openbb_platform/providers/multpl/openbb_multpl/models/__init__.py
  openbb_platform/providers/multpl/openbb_multpl/models/sp500_multiples.py
  openbb_platform/providers/multpl/openbb_multpl/utils/__init__.py
  openbb_platform/providers/multpl/poetry.lock
  openbb_platform/providers/multpl/pyproject.toml
  openbb_platform/providers/multpl/tests/__init__.py
  openbb_platform/providers/multpl/tests/record/http/test_multpl_fetchers/test_multpl_sp500_multiples_fetcher_urllib3_v1.yaml
  openbb_platform/providers/multpl/tests/record/http/test_multpl_fetchers/test_multpl_sp500_multiples_fetcher_urllib3_v2.yaml
  openbb_platform/providers/multpl/tests/test_multpl_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/sp500_multiples.py
  openbb_platform/pyproject.toml
Labels: enhancement, platform, extensions, v4, breaking_change

#6616 [BugFix] Release Static Files
  assets/extensions/provider.json
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
Labels: bug, platform, v4

#6619 [BugFix] VIX Curve - fixes `reset_index` erasing the name of the field.
  openbb_platform/providers/cboe/openbb_cboe/utils/vix.py
Labels: bug, platform, v4

#6621 [BugFix] Update `aiohttp` for Dependabot
  cli/poetry.lock
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/multpl/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
  openbb_platform/providers/yfinance/poetry.lock
Labels: bug, platform, v4, cli, P3

#6626 [BugFix] Fix Pandas FutureWarning In `derivatives.futures.curve` Chart
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
Labels: bug, platform, v4

#6625 [BugFix] `obb.news.world` Add Validators To Providers Where Symbol Is Mandatory
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/news.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_news.py
  openbb_platform/providers/fmp/openbb_fmp/models/world_news.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_world_news_fetcher_urllib3_v1.yaml
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/polygon/openbb_polygon/models/company_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
Labels: bug, platform, v4

#6629 [BugFix] `__fields__` is deprecated, use `model_fields` instead
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
Labels: bug, platform, v4

#6633 [BugFix] Replace `Optional[bool]` with `bool` as type in Equity Search
  openbb_platform/core/openbb_core/provider/standard_models/equity_search.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity.py
  openbb_platform/providers/cboe/openbb_cboe/models/equity_search.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/equity_search.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_equity_search_fetcher_urllib3_v1.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_equity_search_fetcher_urllib3_v2.yaml
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_search.py
  openbb_platform/providers/sec/openbb_sec/models/equity_search.py
Labels: bug, platform, v4, breaking_change

#6639 [BugFix] Example Notebook Syntax Updates
  .github/pull_request_template.md
  examples/copperToGoldRatio.ipynb
  examples/financialStatements.ipynb
  examples/findSymbols.ipynb
  examples/impliedEarningsMove.ipynb
  examples/loadHistoricalPriceData.ipynb
  examples/openbbPlatformAsLLMTools.ipynb
  examples/platform_standardization.ipynb
  examples/usdLiquidityIndex.ipynb
Labels: bug, docs, platform

#6645 [BugFix] Fix Date In Output Of `yfinance.download` For Google Colab
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: bug, platform, v4

#6642 [BugFix] Allow lowercase `symbol` for EconDB EconomicIndicators
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
Labels: bug, platform, v4

#6643 [Feature] Add CFTC Provider and Replace Nasdaq Datalink For COT Reports
  openbb_platform/core/openbb_core/provider/standard_models/cot.py
  openbb_platform/core/openbb_core/provider/standard_models/cot_search.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/regulators/integration/test_regulators_api.py
  openbb_platform/extensions/regulators/integration/test_regulators_python.py
  openbb_platform/extensions/regulators/openbb_regulators/cftc/cftc_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/regulators.py
  openbb_platform/openbb/package/regulators_cftc.py
  openbb_platform/openbb/package/regulators_sec.py
  openbb_platform/providers/cftc/README.md
  openbb_platform/providers/cftc/__init__.py
  openbb_platform/providers/cftc/openbb_cftc/__init__.py
  openbb_platform/providers/cftc/openbb_cftc/assets/__init__.py
  openbb_platform/providers/cftc/openbb_cftc/assets/cot_ids.json
  openbb_platform/providers/cftc/openbb_cftc/models/__init__.py
  openbb_platform/providers/cftc/openbb_cftc/models/cot.py
  openbb_platform/providers/cftc/openbb_cftc/models/cot_search.py
  openbb_platform/providers/cftc/openbb_cftc/utils/__init__.py
  openbb_platform/providers/cftc/poetry.lock
  openbb_platform/providers/cftc/pyproject.toml
  openbb_platform/providers/cftc/tests/__init__.py
  openbb_platform/providers/cftc/tests/record/http/test_cftc_fetchers/test_cftc_cot_fetcher_urllib3_v1.yaml
  openbb_platform/providers/cftc/tests/record/http/test_cftc_fetchers/test_cftc_cot_fetcher_urllib3_v2.yaml
  openbb_platform/providers/cftc/tests/test_cftc_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/cot_search.py
  openbb_platform/providers/sec/openbb_sec/models/institutions_search.py
  openbb_platform/providers/sec/openbb_sec/models/schema_files.py
  openbb_platform/providers/sec/openbb_sec/models/sic_search.py
  openbb_platform/pyproject.toml
Labels: enhancement, platform, v4, breaking_change

#6640 [BugFix] Add `trust_env` to AIOHTTP ClientSession Initialization to Read `.env` for Proxy Mapping
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
Labels: bug, platform, v4

#6647 [Release] Patch: `openbb-yfinance-1.3.2`
  openbb_platform/providers/yfinance/poetry.lock
  openbb_platform/providers/yfinance/pyproject.toml
Labels: platform, release, v4
