Repository OpenBB-finance/OpenBB, pull requests merged in 2024-06, with the labels that each got.

#6474 [Feature] Add Retail Prices to Economy
  openbb_platform/core/openbb_core/provider/standard_models/retail_prices.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/consumer_price_index.py
  openbb_platform/providers/fred/openbb_fred/models/retail_prices.py
  openbb_platform/providers/fred/openbb_fred/utils/__init__.py
  openbb_platform/providers/fred/openbb_fred/utils/average_prices_city_average.json
  openbb_platform/providers/fred/openbb_fred/utils/average_prices_midwest_urban.json
  openbb_platform/providers/fred/openbb_fred/utils/average_prices_northeast_urban.json
  openbb_platform/providers/fred/openbb_fred/utils/average_prices_south_urban.json
  openbb_platform/providers/fred/openbb_fred/utils/average_prices_west_urban.json
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_retail_prices_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6476 [Bugfix] Remove svg export
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_models_settings.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/backend.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/openbb_figure.py
  website/content/cli/data-sources.md
  website/content/cli/quickstart.md
Labels: bug, platform, v4

#6463 [Feature] Optional choices
  cli/openbb_cli/argparse_translator/argparse_argument.py
  cli/openbb_cli/argparse_translator/argparse_class_processor.py
  cli/openbb_cli/argparse_translator/argparse_translator.py
  cli/openbb_cli/argparse_translator/reference_processor.py
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/tests/test_argparse_translator.py
Labels: enhancement, cli

#6478 [BugFix] Pre release fixes
  cli/tests/test_models_settings.py
  openbb_platform/core/integration/test_obbject.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
Labels: bug, platform, v4

#6479 Merge branch 'main' into develop
  website/content/platform/developer_guide/metadata.mdx
  website/content/platform/user_guides/metadata.mdx
  website/docusaurus.config.ts
Labels: enhancement

#6484 [BugFix] - Fix pylint possibly-used-before-assignment
  .pylintrc
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/session.py
  cli/tests/test_controllers_utils.py
  openbb_platform/core/openbb_core/provider/query_executor.py
  openbb_platform/extensions/tests/utils/helpers.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/extensions/tests/utils/router_testers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/plotly_ta/base.py
  openbb_platform/providers/ecb/openbb_ecb/models/yield_curve.py
  openbb_platform/providers/fred/openbb_fred/models/regional.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/cash_flow.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/financial_ratios.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/income_statement.py
  openbb_platform/providers/oecd/openbb_oecd/utils/helpers.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tradingeconomics/openbb_tradingeconomics/utils/url_generator.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/crypto_historical.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/futures_historical.py
Labels: bug, platform, v4

#6486 [Feature] ICE BofAML Bond Indices (FRED)
  openbb_platform/core/openbb_core/provider/standard_models/bond_indices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/corporate/corporate_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/bond_indices.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_bond_indices_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6487 [Feature] CLI logging
  cli/openbb_cli/cli.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/utils/utils.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
Labels: enhancement, platform, v4, cli

#6489 [Feature] Generate settings menu from pydantic model
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_controllers_settings_controller.py
  cli/tests/test_controllers_utils.py
Labels: enhancement, cli

#6494 [Docs] Fix Broken URLs
  .github/workflows/deploy-gh-pages.yml
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/installation.md
  website/content/platform/developer_guide/index.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_syntax.mdx
  website/content/platform/user_guides/extensions.mdx
Labels: bug, docs

#6485 [Feature] Create openbb-cli .dockerfile and update docs
  build/docker/platform.dockerfile
  website/content/platform/installation.mdx
Labels: enhancement

#6496 [Feature] Remove remember contexts setting
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/models/settings.py
  cli/tests/test_models_settings.py
Labels: enhancement, cli

#6497 [Feature] No prints when exporting
  cli/openbb_cli/controllers/base_platform_controller.py
Labels: enhancement

#6492 [Enhancement] Convert Params Models To Dictionary Before Assigning As Private Attribute In OBBject.
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/tests/test_argparse_translator_obbject_registry.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/tests/app/test_command_runner.py
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Labels: enhancement, platform, v4

#6435 chore: fix interval bug in the pynb
  examples/copperToGoldRatio.ipynb
Labels: bug, platform

#6500 Fix issue in earnings transcript not allowing FY 2025 to be retrieved
  openbb_platform/core/openbb_core/provider/standard_models/earnings_call_transcript.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/providers/fmp/openbb_fmp/models/earnings_call_transcript.py
Labels: bug, platform, v4, breaking_change

#6504 [Docs] Excel docs update
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/content/excel/openbb-functions.json
  website/generate_excel_markdown.py
Labels: docs, excel

#6501 [Feature] Add Mortgage Indices
  openbb_platform/core/openbb_core/provider/standard_models/mortgage_indices.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_api.py
  openbb_platform/extensions/fixedincome/integration/test_fixedincome_python.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/mortgage_indices.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_bond_mortgage_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6505 [Feature] Intrinio Delayed Options
  openbb_platform/core/openbb_core/provider/standard_models/options_chains.py
  openbb_platform/core/openbb_core/provider/standard_models/options_snapshots.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_api.py
  openbb_platform/extensions/derivatives/integration/test_derivatives_python.py
  openbb_platform/extensions/derivatives/openbb_derivatives/options/options_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/cboe/openbb_cboe/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_snapshots.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_options_chains_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/tmx/openbb_tmx/models/options_chains.py
  openbb_platform/providers/tmx/openbb_tmx/utils/helpers.py
  openbb_platform/providers/tmx/tests/record/http/test_tmx_fetchers/test_tmx_options_chains_fetcher.yaml
  openbb_platform/providers/tradier/openbb_tradier/models/options_chains.py
  openbb_platform/providers/tradier/tests/record/http/test_tradier_fetchers/test_tradier_derivatives_options_chains_fetcher.yaml
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
Labels: enhancement, platform, v4, breaking_change

#6498 [Feature] Adds Router Path For Economic Surveys
  openbb_platform/core/openbb_core/provider/standard_models/manufacturing_outlook_texas.py
  openbb_platform/core/openbb_core/provider/standard_models/senior_loan_officer_survey.py
  openbb_platform/core/openbb_core/provider/standard_models/survey_of_economic_conditions_chicago.py
  openbb_platform/core/openbb_core/provider/standard_models/university_of_michigan.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/economy/openbb_economy/survey/survey_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/fred/openbb_fred/models/manufacturing_outlook_texas.py
  openbb_platform/providers/fred/openbb_fred/models/senior_loan_officer_survey.py
  openbb_platform/providers/fred/openbb_fred/models/survey_of_economic_conditions_chicago.py
  openbb_platform/providers/fred/openbb_fred/models/university_of_michigan.py
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_manufacturing_outlook_texas_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_mortgage_indices_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_senior_loan_officer_survey_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_survey_of_economic_conditions_chicago_fetcher.yaml
  openbb_platform/providers/fred/tests/record/http/test_fred_fetchers/test_fred_university_of_michigan_fetcher.yaml
  openbb_platform/providers/fred/tests/test_fred_fetchers.py
Labels: enhancement, platform, v4, breaking_change

#6477 [Feature] Charting Modularity
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_views.py
  openbb_platform/extensions/crypto/pyproject.toml
  openbb_platform/extensions/currency/openbb_currency/currency_views.py
  openbb_platform/extensions/currency/pyproject.toml
  openbb_platform/extensions/economy/openbb_economy/economy_views.py
  openbb_platform/extensions/economy/pyproject.toml
  openbb_platform/extensions/equity/openbb_equity/equity_views.py
  openbb_platform/extensions/equity/pyproject.toml
  openbb_platform/extensions/etf/openbb_etf/etf_views.py
  openbb_platform/extensions/etf/pyproject.toml
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_views.py
  openbb_platform/extensions/fixedincome/pyproject.toml
  openbb_platform/extensions/index/openbb_index/index_views.py
  openbb_platform/extensions/index/pyproject.toml
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
  openbb_platform/extensions/technical/pyproject.toml
  openbb_platform/obbject_extensions/charting/README.md
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/builder.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/generic_charts.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_historical.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/price_performance.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/relative_rotation.py
  openbb_platform/obbject_extensions/charting/tests/test_charting.py
Labels: enhancement, platform, v4

#6506 [Feature] Improved cached results
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/argparse_translator/reference_processor.py
  cli/openbb_cli/argparse_translator/utils.py
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/base_platform_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/utils.py
  cli/poetry.lock
  cli/pyproject.toml
Labels: enhancement

#6491 [Feature] Store defaults in hub account
  assets/extensions/provider.json
  assets/scripts/generate_extension_data.py
  openbb_platform/core/openbb_core/app/model/defaults.py
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/openbb_core/provider/abstract/provider.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/core/tests/app/static/test_container.py
  openbb_platform/providers/alpha_vantage/openbb_alpha_vantage/__init__.py
  openbb_platform/providers/biztoc/openbb_biztoc/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fred/openbb_fred/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/tradier/openbb_tradier/__init__.py
Labels: enhancement, do not merge, platform, v4

#6515 Merge `main` with `develop`
  .pylintrc
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/installation.md
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/content/excel/openbb-functions.json
  website/content/platform/developer_guide/index.mdx
  website/content/platform/installation.mdx
  website/content/platform/user_guides/add_toolkit_extension.mdx
  website/content/platform/user_guides/basic_syntax.mdx
  website/content/platform/user_guides/extensions.mdx
  website/generate_excel_markdown.py
Labels: enhancement, excel

#6512 [BugFix] Econdb JSON loads context
  openbb_platform/providers/econdb/openbb_econdb/utils/helpers.py
  openbb_platform/providers/econdb/openbb_econdb/utils/indicator_countries.json
  openbb_platform/providers/econdb/openbb_econdb/utils/multipliers.json
  openbb_platform/providers/econdb/openbb_econdb/utils/scales.json
  openbb_platform/providers/econdb/openbb_econdb/utils/symbol_to_indicator.json
  openbb_platform/providers/econdb/openbb_econdb/utils/units.json
Labels: bug, platform, v4

#6521 [Feature] Add Nasdaq To Equity Screener
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/biztoc/openbb_biztoc/utils/helpers.py
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/biztoc/pyproject.toml
  openbb_platform/providers/biztoc/tests/record/http/test_biztoc_fetchers/test_biztoc_world_news_fetcher.yaml
  openbb_platform/providers/biztoc/tests/test_biztoc_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_screener.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_equity_screener_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: enhancement, platform, v4

#6525 [HotFix] Fix openapi.json bug
  .github/workflows/general-linting.yml
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/extensions/derivatives/pyproject.toml
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_sales_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/pyproject.toml
Labels: bug, platform, v4

#6523 [BugFix] - Patch test
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Labels: bug, platform, v4

#6518 [Enhancement] - Clarify how to run the action
  .github/workflows/draft-release.yml
Labels: enhancement

#6527 Merge 'main' into 'develop'
  .github/workflows/general-linting.yml
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/extensions/derivatives/pyproject.toml
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_sales_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/options_chains.py
  openbb_platform/providers/intrinio/pyproject.toml
Labels: enhancement, platform, v4

#6511 Hotfix/fix-chart - Fix data hand off.
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
Labels: bug, platform, v4

#6507 [Enhancement] Improve provider fallback message
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/tests/app/static/test_container.py
Labels: enhancement, platform, v4

#6516 [BugFix] Exclude default values when model dumping
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/openbb_core/app/service/user_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/core/tests/app/service/test_system_service.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/core/tests/app/static/test_container.py
Labels: bug, platform, v4

#6529 Release/openbb charting 2.1.3
  .github/workflows/draft-release.yml
  .github/workflows/gh-branch-name-check.yml
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/hub/hub_user_settings.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/service/hub_service.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/openbb_core/app/service/user_service.py
  openbb_platform/core/openbb_core/app/static/account.py
  openbb_platform/core/openbb_core/app/static/container.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/core/tests/app/service/test_hub_service.py
  openbb_platform/core/tests/app/service/test_system_service.py
  openbb_platform/core/tests/app/service/test_user_service.py
  openbb_platform/core/tests/app/static/test_container.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charts/helpers.py
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
  openbb_platform/openbb/assets/reference.json
  openbb_platform/providers/biztoc/openbb_biztoc/models/world_news.py
  openbb_platform/providers/biztoc/openbb_biztoc/utils/helpers.py
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/biztoc/pyproject.toml
  openbb_platform/providers/biztoc/tests/record/http/test_biztoc_fetchers/test_biztoc_world_news_fetcher.yaml
  openbb_platform/providers/biztoc/tests/test_biztoc_fetchers.py
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/equity_screener.py
  openbb_platform/providers/nasdaq/tests/record/http/test_nasdaq_fetchers/test_nasdaq_equity_screener_fetcher.yaml
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: platform, v4

#6528 Release/openbb charting 2.1.3
  .github/workflows/gh-branch-name-check.yml
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
Labels: platform, v4

#6530 [BugFix] test openapi.json
  openbb_platform/core/tests/api/test_rest_api.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Labels: bug, platform, v4

#6534 [BugFix] Raise on "Error Message" with FMP Econ Calendar
  openbb_platform/providers/fmp/openbb_fmp/models/economic_calendar.py
Labels: bug, platform, v4

#6537 [Docs] Fix provider description in parameter tables
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Labels: docs, platform, v4

#6538 Resolve bugs highlighted by the tests
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/utils/main_indicators.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_snapshots.py
Labels: bug, platform, v4

#6541 Delete website folder
  website/content/cli/_category_.json
  website/content/cli/commands-and-arguments.md
  website/content/cli/configuration.md
  website/content/cli/data-sources.md
  website/content/cli/hub.md
  website/content/cli/index.md
  website/content/cli/installation.md
  website/content/cli/interactive-charts.md
  website/content/cli/interactive-tables.md
  website/content/cli/openbbuserdata.md
  website/content/cli/quickstart.md
  website/content/cli/routines/_category_.json
  website/content/cli/routines/advanced-routines.md
  website/content/cli/routines/community-routines.md
  website/content/cli/routines/index.mdx
  website/content/cli/routines/introduction-to-routines.md
  website/content/cli/routines/routine-macro-recorder.md
  website/content/cli/structure-and-navigation.md
  website/content/excel/openbb-functions.json
  website/content/platform/data_models/_category_.json
  website/content/platform/developer_guide/_category_.json
  website/content/platform/developer_guide/command_coverage.mdx
  website/content/platform/developer_guide/documentation_development.mdx
  website/content/platform/developer_guide/extensions.mdx
  website/content/platform/developer_guide/github.mdx
  website/content/platform/developer_guide/index.mdx
  website/content/platform/developer_guide/metadata.mdx
  website/content/platform/developer_guide/standardization.mdx
  website/content/platform/getting_started/_category_.json
  website/content/platform/getting_started/api_requests.mdx
  website/content/platform/getting_started/create_new_provider_extension.mdx
  website/content/platform/getting_started/create_new_router_extension.mdx
  website/content/platform/getting_started/economic_indicators.mdx
  website/content/platform/getting_started/map_a_provider_to_a_route.mdx
  website/content/platform/getting_started/quickstart.mdx
  website/content/platform/index.mdx
  website/content/platform/licensing/_category_.json
  website/content/platform/licensing/index.mdx
  website/content/platform/reference/_category_.json
  website/content/platform/user_guides/_category_.json
  website/content/platform/user_guides/basic_response.mdx
  website/content/platform/user_guides/dynamic_command_execution.mdx
  website/content/platform/user_guides/extensions.mdx
  website/content/platform/user_guides/index.mdx
  website/content/platform/user_guides/llm_mode.mdx
  website/content/platform/user_guides/metadata.mdx
  website/content/platform/user_guides/settings_and_environment_variables.mdx
  website/content/sdk/reference/portfolio/po/hcp.mdx
  website/content/sdk/reference/portfolio/po/herc.mdx
  website/content/sdk/reference/portfolio/po/hrp.mdx
  website/content/sdk/reference/portfolio/po/nco.mdx
  website/docusaurus.config.ts
Labels: bug, excel

#6520 [Feature] - Add derivates historical chart
  openbb_platform/core/openbb_core/provider/standard_models/euro_short_term_rate.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_views.py
  openbb_platform/extensions/derivatives/pyproject.toml
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/__init__.py
Labels: enhancement, platform, v4, breaking_change

#6533 [Feature] - CLI integration tests
  cli/integration/test_commands.py
  cli/integration/test_integration_base_controller.py
  cli/integration/test_integration_base_platform_controller.py
  cli/integration/test_integration_cli_controller.py
  cli/integration/test_integration_hub_service.py
  cli/integration/test_integration_obbject_registry.py
Labels: enhancement, cli

#6544 [Feature] Improvements to handling charts on the CLI `results`
  cli/openbb_cli/controllers/base_controller.py
  cli/openbb_cli/controllers/choices.py
  cli/openbb_cli/controllers/cli_controller.py
  cli/openbb_cli/controllers/settings_controller.py
  cli/openbb_cli/controllers/utils.py
Labels: enhancement

#6546 [Hotfix] Fixing local variable 'export' referenced before assignment
  cli/openbb_cli/controllers/base_platform_controller.py
Labels: bug

#6545 [BugFix] Fixing local variable 'export' referenced before assignment
  cli/openbb_cli/controllers/base_platform_controller.py
Labels: bug

#6549 [HotFix] Fix Logging Service, Fix Posthog Handler Tests
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/logs/models/logging_settings.py
  openbb_platform/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
Labels: bug, platform, v4

#6552 [Feature] Merge main with dev
  build/pypi/openbb_platform/PUBLISH.md
  cli/pyproject.toml
  openbb_platform/core/openbb_core/app/logs/logging_service.py
  openbb_platform/core/openbb_core/app/logs/models/logging_settings.py
  openbb_platform/core/pyproject.toml
  openbb_platform/core/tests/app/logs/handlers/test_posthog_handler.py
  openbb_platform/core/tests/app/logs/test_logging_service.py
  openbb_platform/extensions/tests/utils/integration_tests_testers.py
Labels: enhancement, platform, v4
