Repository OpenBB-finance/OpenBB, pull requests merged in 2024-04, with the labels that each got.

#6276 [Git] - Merge main into develop
  website/content/pro/data-connectors/integrate-your-own-backend.md
Labels: bug

#6278 Add `pull_request` trigger for release branches in API Integration Test…
  .github/workflows/platform-api-integration-test.yml
Labels: enhancement

#6279 [BugFix] - Serialise response before FastAPI
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/provider/registry_map.py
Labels: bug, platform, v4

#6282 [Feature] - Annotated results
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/provider/abstract/annotated_result.py
  openbb_platform/core/openbb_core/provider/abstract/fetcher.py
  openbb_platform/providers/fred/openbb_fred/models/series.py
Labels: enhancement, platform, v4

#6268 [Feature] - Merge reference.json and extension_map.json, plus documentation generator fixes
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/static/app_factory.py
  openbb_platform/core/openbb_core/app/static/coverage.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/app/version.py
  openbb_platform/core/tests/app/static/test_app_factory.py
  openbb_platform/core/tests/app/static/test_coverage.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/openbb/assets/extension_map.json
  openbb_platform/openbb/assets/reference.json
  openbb_platform/tests/test_extension_map.py
  website/generate_platform_v4_markdown.py
Labels: enhancement, platform, v4

#6287 [Docs] Update Example Notebook Syntax For Metadata Change
  examples/usdLiquidityIndex.ipynb
Labels: docs, platform, v4

#6269 [Feature] Add Forward Sales and EPS Estimates
  openbb_platform/core/openbb_core/provider/standard_models/forward_eps_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/forward_sales_estimates.py
  openbb_platform/core/openbb_core/provider/standard_models/price_target_consensus.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/estimates/estimates_router.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/__init__.py
  openbb_platform/providers/fmp/openbb_fmp/models/forward_eps_estimates.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_target_consensus.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_equity_forward_eps_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
  openbb_platform/providers/intrinio/openbb_intrinio/__init__.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_eps_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/forward_sales_estimates.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/price_target_consensus.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_eps_estimates_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_forward_sales_estimates_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_price_target_consensus_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
  openbb_platform/providers/tmx/openbb_tmx/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
Labels: enhancement, platform, v4, breaking_change

#6288 [Feature] - Router descriptions
  openbb_platform/core/openbb_core/api/app_loader.py
  openbb_platform/core/openbb_core/api/rest_api.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/commodity/openbb_commodity/commodity_router.py
  openbb_platform/extensions/crypto/openbb_crypto/crypto_router.py
  openbb_platform/extensions/currency/openbb_currency/currency_router.py
  openbb_platform/extensions/derivatives/openbb_derivatives/derivatives_router.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/equity/openbb_equity/equity_router.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/extensions/fixedincome/openbb_fixedincome/fixedincome_router.py
  openbb_platform/extensions/index/openbb_index/index_router.py
  openbb_platform/extensions/news/openbb_news/news_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/regulators/openbb_regulators/regulators_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/openbb/assets/reference.json
Labels: enhancement, platform, v4

#6289 [Docs] - Pro native integrations
  website/content/pro/data-connectors/integrate-your-own-backend.md
  website/content/pro/data-connectors/native-integrations.md
Labels: docs

#6292 [BugFix] - Fix nested router descriptions
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/openbb/assets/reference.json
Labels: bug, platform, v4

#6290 [Feature] Adding interactive tables
  openbb_platform/obbject_extensions/charting/openbb_charting/__init__.py
  openbb_platform/obbject_extensions/charting/openbb_charting/core/table.html
Labels: enhancement, platform, extensions, v4

#6294 [BugFix] Fix the multiple items check
  openbb_platform/core/openbb_core/app/static/utils/filters.py
  openbb_platform/core/openbb_core/app/utils.py
Labels: bug, platform, v4

#6293 [HotFix] Add ETF holdings data param to Intrinio
  openbb_platform/extensions/etf/integration/test_etf_api.py
  openbb_platform/extensions/etf/integration/test_etf_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/etf_holdings.py
Labels: bug, platform, v4

#6298 [BugFix] Handling negative timestamps on Windows
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
Labels: bug, platform, v4

#6300 [BugFix] `json_schema_extra` getting overridden
  openbb_platform/core/openbb_core/app/provider_interface.py
Labels: bug, platform, v4

#6304 [BugFix] Undocumented Benzinga Fields In API Response
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
Labels: bug, platform, v4

#6302 [BugFix] Fix yFinance end_date filter when not intraday.
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: bug, platform, v4

#6306 [BugFix] Fix metadata creation
  openbb_platform/core/openbb_core/app/model/metadata.py
  openbb_platform/core/tests/app/model/test_metadata.py
  openbb_platform/core/tests/app/test_command_runner.py
Labels: bug, platform, v4

#6309 [BugFix] Fixes the API
  openbb_platform/core/openbb_core/app/model/metadata.py
Labels: bug, platform, v4

#6314 [Feature] - LLM settings
  openbb_platform/core/openbb_core/app/model/api_settings.py
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/model/python_settings.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/openbb_core/env.py
Labels: enhancement, platform, v4

#6312 Add single widgets public endpoints examples
  website/content/pro/advanced-search.md
  website/content/pro/architecture.md
  website/content/pro/copilot/index.md
  website/content/pro/dashboards/_category_.json
  website/content/pro/data-connectors/_category_.json
  website/content/pro/data-connectors/single-widget/examples.md
  website/content/pro/data-connectors/single-widget/index.md
  website/content/pro/getting-started/_category_.json
  website/content/pro/getting-started/free-trial.md
  website/content/pro/index.md
  website/content/pro/templates/_category_.json
  website/content/pro/templates/excel.md
  website/content/pro/templates/index.md
  website/content/pro/templates/pro.md
  website/content/pro/tutorials/_category_.json
  website/content/pro/tutorials/index.md
  website/content/pro/widgets/_category_.json
Labels: docs

#6317 [BugFix] Chunk FMP Price Performance URL For Large Lists
  openbb_platform/core/openbb_core/provider/standard_models/etf_holdings.py
  openbb_platform/extensions/etf/openbb_etf/etf_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings.py
  openbb_platform/providers/fmp/openbb_fmp/models/etf_holdings_performance.py
  openbb_platform/providers/fmp/openbb_fmp/models/price_performance.py
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_etf_holdings_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/record/http/test_fmp_fetchers/test_fmp_price_performance_fetcher.yaml
  openbb_platform/providers/fmp/tests/test_fmp_fetchers.py
Labels: bug, platform, v4, breaking_change

#6307 [Feature] Remove terminal related artifacts from build folder
  build/README.md
  build/docker/api.dockerfile
  build/docker/build.sh
  build/docker/compose.env
  build/docker/docker-compose.x11.yaml
  build/docker/docker-compose.yaml
  build/docker/openbb.dockerfile
  build/nsis/assets/Installer_horizontal.bmp
  build/nsis/assets/Installer_horizontal2.png
  build/nsis/assets/Installer_horizontall.png
  build/nsis/assets/Installer_vertical#2.png
  build/nsis/assets/Installer_vertical.png
  build/nsis/assets/Installer_vertical2.bmp
  build/nsis/assets/Splashscreen #2.png
  build/nsis/assets/Splashscreen.png
  build/nsis/assets/openbb_icon.ico
  build/nsis/license.txt
  build/nsis/setup.nsi
  build/pyinstaller/.env
  build/pyinstaller/build4mac.sh
  build/pyinstaller/entitlements.plist
  build/pyinstaller/hooks/hook-debugpy.py
  build/pyinstaller/hooks/hook-pytrends.py
  build/pyinstaller/hooks/hook-rich.py
  build/pyinstaller/hooks/hook-streamlit.py
  build/pyinstaller/hooks/hook-whisper.py
  build/pyinstaller/hooks/hook-xgboost.py
  build/pyinstaller/hooks/pyi_rth_inspect.py
  build/pyinstaller/macOS/.gitignore
  build/pyinstaller/macOS/build-macos.sh
  build/pyinstaller/macOS/darwin/Distribution
  build/pyinstaller/macOS/darwin/Resources/LICENSE.txt
  build/pyinstaller/macOS/darwin/Resources/background-light.png
  build/pyinstaller/macOS/darwin/Resources/background.png
  build/pyinstaller/macOS/darwin/Resources/banner.png
  build/pyinstaller/macOS/darwin/Resources/conclusion.html
  build/pyinstaller/macOS/darwin/Resources/uninstall.sh
  build/pyinstaller/macOS/darwin/Resources/welcome.html
  build/pyinstaller/macOS/darwin/scripts/postinstall
  build/pyinstaller/macOS_package_assets/OpenBB Terminal/OpenBB Terminal
  build/pyinstaller/macOS_package_assets/README.TXT
  build/pyinstaller/setup_icons.applescript
  build/pyinstaller/setup_icons_post.applescript
  build/pyinstaller/terminal.spec
  build/pyinstaller/version.rc
  build/pypi/openbb_terminal/build.sh
  build/pypi/openbb_terminal/test_publish.sh
Labels: enhancement, security

#6321 [BugFix] Replace Platform Docker File.
  build/docker/api.dockerfile
Labels: bug, platform

#6320 [BugFix] Add Missing require_credentials=False In Nasdaq Fetchers
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/calendar_earnings.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/historical_dividends.py
Labels: bug, platform, v4

#6299 [BugFix] Adding safe timestamp conversion everywhere
  openbb_platform/core/openbb_core/provider/utils/helpers.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/analyst_search.py
  openbb_platform/providers/benzinga/openbb_benzinga/models/price_target.py
  openbb_platform/providers/fmp/openbb_fmp/models/currency_snapshots.py
  openbb_platform/providers/fmp/openbb_fmp/models/equity_quote.py
  openbb_platform/providers/fmp/openbb_fmp/models/key_executives.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_indices.py
  openbb_platform/providers/fmp/openbb_fmp/models/market_snapshots.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/market_snapshots.py
  openbb_platform/providers/polygon/openbb_polygon/models/crypto_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/equity_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/index_historical.py
  openbb_platform/providers/polygon/openbb_polygon/models/market_indices.py
  openbb_platform/providers/tradier/openbb_tradier/models/equity_historical.py
  openbb_platform/providers/tradier/openbb_tradier/models/equity_quote.py
  openbb_platform/providers/tradier/openbb_tradier/models/options_chains.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
Labels: bug, platform, v4

#6303 [Docs] Charting Documentation
  website/content/platform/extensions/charting/_category_.json
  website/content/platform/extensions/charting/examples.md
  website/content/platform/extensions/charting/index.md
  website/content/platform/extensions/charting/indicators.md
  website/content/platform/extensions/charting/installation.md
  website/content/platform/extensions/toolkit_extensions.md
Labels: docs, platform

#6308 [Feature] - LLM mode
  openbb_platform/core/openbb_core/app/model/api_settings.py
  openbb_platform/core/openbb_core/app/model/custom_parameter.py
  openbb_platform/core/openbb_core/app/model/field.py
  openbb_platform/core/openbb_core/app/model/obbject.py
  openbb_platform/core/openbb_core/app/model/preferences.py
  openbb_platform/core/openbb_core/app/model/python_settings.py
  openbb_platform/core/openbb_core/app/model/system_settings.py
  openbb_platform/core/openbb_core/app/service/system_service.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/core/tests/app/static/test_package_builder.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/crypto.py
  openbb_platform/openbb/package/crypto_price.py
  openbb_platform/openbb/package/currency.py
  openbb_platform/openbb/package/currency_price.py
  openbb_platform/openbb/package/derivatives_options.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/openbb/package/economy_gdp.py
  openbb_platform/openbb/package/equity.py
  openbb_platform/openbb/package/equity_calendar.py
  openbb_platform/openbb/package/equity_compare.py
  openbb_platform/openbb/package/equity_discovery.py
  openbb_platform/openbb/package/equity_estimates.py
  openbb_platform/openbb/package/equity_fundamental.py
  openbb_platform/openbb/package/equity_ownership.py
  openbb_platform/openbb/package/equity_price.py
  openbb_platform/openbb/package/equity_shorts.py
  openbb_platform/openbb/package/etf.py
  openbb_platform/openbb/package/fixedincome.py
  openbb_platform/openbb/package/fixedincome_corporate.py
  openbb_platform/openbb/package/fixedincome_government.py
  openbb_platform/openbb/package/fixedincome_rate.py
  openbb_platform/openbb/package/fixedincome_spreads.py
  openbb_platform/openbb/package/index.py
  openbb_platform/openbb/package/news.py
  openbb_platform/openbb/package/regulators_sec.py
  website/content/platform/development/how-to/add_data_provider_extension.md
Labels: enhancement, platform, v4

#6277 [Feature] Add Relative Rotation To `openbb-technical` and `openbb-charting`
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/extensions/technical/integration/test_technical_api.py
  openbb_platform/extensions/technical/integration/test_technical_python.py
  openbb_platform/extensions/technical/openbb_technical/helpers.py
  openbb_platform/extensions/technical/openbb_technical/relative_rotation.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_api.py
  openbb_platform/obbject_extensions/charting/integration/test_charting_python.py
  openbb_platform/obbject_extensions/charting/openbb_charting/charting_router.py
  openbb_platform/obbject_extensions/charting/openbb_charting/query_params.py
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/default/dark.pltstyle.json
  openbb_platform/obbject_extensions/charting/openbb_charting/styles/default/light.pltstyle.json
  openbb_platform/obbject_extensions/charting/openbb_charting/utils/relative_rotation.py
Labels: enhancement, platform, v4

#6328 [Docs] - Update excel docs
  .gitignore
  website/.gitignore
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Labels: docs, excel

#6329 [Docs] - Update excel docs
  .gitignore
  website/.gitignore
  website/content/excel/functions.json
  website/content/excel/openapi.json
  website/generate_excel_markdown.py
Labels: docs, excel

#6313 [Feature] EconDB Provider Extension With New Economy Endpoints.
  .codespell.ignore
  openbb_platform/core/openbb_core/provider/standard_models/available_indicators.py
  openbb_platform/core/openbb_core/provider/standard_models/country_profile.py
  openbb_platform/core/openbb_core/provider/standard_models/economic_indicators.py
  openbb_platform/dev_install.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/__extensions__.py
  openbb_platform/openbb/package/economy.py
  openbb_platform/poetry.lock
  openbb_platform/providers/econdb/README.md
  openbb_platform/providers/econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/models/available_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/models/country_profile.py
  openbb_platform/providers/econdb/openbb_econdb/models/economic_indicators.py
  openbb_platform/providers/econdb/openbb_econdb/utils/__init__.py
  openbb_platform/providers/econdb/openbb_econdb/utils/helpers.py
  openbb_platform/providers/econdb/openbb_econdb/utils/indicator_countries.json
  openbb_platform/providers/econdb/openbb_econdb/utils/indicators_descriptions.json
  openbb_platform/providers/econdb/openbb_econdb/utils/multipliers.json
  openbb_platform/providers/econdb/openbb_econdb/utils/scales.json
  openbb_platform/providers/econdb/openbb_econdb/utils/symbol_to_indicator.json
  openbb_platform/providers/econdb/openbb_econdb/utils/units.json
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/econdb/pyproject.toml
  openbb_platform/providers/econdb/tests/__init__.py
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_available_indicators_fetcher.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_country_profile_fetcher.yaml
  openbb_platform/providers/econdb/tests/record/http/test_econdb_fetchers/test_econdb_economic_indicators_fetcher.yaml
  openbb_platform/providers/econdb/tests/test_econdb_fetchers.py
  openbb_platform/pyproject.toml
  website/content/platform/usage/economic_indicators.md
Labels: enhancement, platform, extensions, v4, breaking_change

#6331 [BugFix] - Sync ruff in dev_tools with openbb_core
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
Labels: bug, platform, v4

#6333 [Feature] Polygon Currency Snapshots
  openbb_platform/extensions/currency/integration/test_currency_api.py
  openbb_platform/extensions/currency/integration/test_currency_python.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/currency.py
  openbb_platform/providers/polygon/openbb_polygon/__init__.py
  openbb_platform/providers/polygon/openbb_polygon/models/currency_snapshots.py
  openbb_platform/providers/polygon/tests/record/http/test_polygon_fetchers/test_polygon_currency_snapshots_fetcher.yaml
  openbb_platform/providers/polygon/tests/test_polygon_fetchers.py
Labels: enhancement, platform, v4

#6336 [BugFix] Intrinio News
  openbb_platform/extensions/news/integration/test_news_api.py
  openbb_platform/extensions/news/integration/test_news_python.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_news.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/world_news.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_company_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_world_news_fetcher.yaml
  openbb_platform/providers/intrinio/tests/test_intrinio_fetchers.py
Labels: bug, platform, v4

#6335 [Feature] - Summarize Changelog
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
  summarize_chanelog.py
Labels: enhancement, platform

#6338 [BugFix] Correct the filename of the `summarize_changelog.py` file
  summarize_changelog.py
Labels: bug

#6339 [Docs] - Add snowflake integration tutorial
  website/content/pro/data-connectors/native-integrations.md
Labels: docs

#6341 [BugFix] - fix the dependencies issues on the changelog summary workflow
  .github/workflows/draft-release.yml
Labels: bug

#6343 [BugFix] Intrinio Balance Sheet Period
  openbb_platform/providers/intrinio/openbb_intrinio/models/balance_sheet.py
  openbb_platform/providers/intrinio/tests/record/http/test_intrinio_fetchers/test_intrinio_balance_sheet_fetcher.yaml
Labels: bug, platform, v4

#6346 Move files used in gh actions from root
  .github/scripts/noxfile.py
  .github/scripts/process_changelog.py
  .github/scripts/summarize_changelog.py
  .github/workflows/draft-release.yml
  .github/workflows/platform-core.yml
  noxfile.py
  openbb_platform/extensions/tests/utils/integration_tests_generator.py
  openbb_platform/tests/test_pyproject_toml.py
Labels: enhancement, platform, v4

#6347 Clean .gitignore
  .gitignore
Labels: bug

#6348 [BugFix] Filtered provider arguments
  openbb_terminal/openbb_terminal/argparse_translator/argparse_translator.py
Labels: bug, cli

#6351 [BugFix] Empty views on the CLI
  openbb_terminal/openbb_terminal/controllers/utils.py
Labels: bug, cli

#6350 Move linting rules from pyproject.toml to ruff.toml
  openbb_terminal/pyproject.toml
  ruff.toml
Labels: enhancement

#6353 [BugFix] Empty views on `econometrics` and `quantitative`
  openbb_terminal/openbb_terminal/controllers/base_platform_controller.py
Labels: bug, cli

#6354 [Docs] - Remove OpenBB Terminal from docs page
  website/sidebars.js
  website/src/pages/index.tsx
Labels: docs, platform, cli
