Repository OpenBB-finance/OpenBB, pull requests merged in 2025-09, with the labels that each got.

#7209 [Feature] Add Deprecation Warning For Account Module.
  openbb_platform/core/openbb_core/app/static/account.py
Labels: enhancement, platform, v4

#7201 [BugFix] `openbb-nasdaq` - Fix Field Definition In NasdaqCompanyFilingsQueryParams
  openbb_platform/providers/nasdaq/openbb_nasdaq/app.py
  openbb_platform/providers/nasdaq/openbb_nasdaq/models/company_filings.py
  openbb_platform/providers/nasdaq/tests/record/expected_apps.json
  openbb_platform/providers/nasdaq/tests/test_nasdaq_fetchers.py
Labels: bug, platform, v4

#7212 [Feature] Remove Static Assets For Distribution
  .pre-commit-config.yaml
  cli/poetry.lock
  openbb_platform/conftest.py
  openbb_platform/core/openbb/assets/reference.json
  openbb_platform/core/openbb/package/__extensions__.py
  openbb_platform/core/openbb/package/commodity.py
  openbb_platform/core/openbb/package/commodity_price.py
  openbb_platform/core/openbb/package/crypto.py
  openbb_platform/core/openbb/package/crypto_price.py
  openbb_platform/core/openbb/package/currency.py
  openbb_platform/core/openbb/package/currency_price.py
  openbb_platform/core/openbb/package/derivatives.py
  openbb_platform/core/openbb/package/derivatives_futures.py
  openbb_platform/core/openbb/package/derivatives_options.py
  openbb_platform/core/openbb/package/economy.py
  openbb_platform/core/openbb/package/economy_gdp.py
  openbb_platform/core/openbb/package/economy_shipping.py
  openbb_platform/core/openbb/package/economy_survey.py
  openbb_platform/core/openbb/package/equity.py
  openbb_platform/core/openbb/package/equity_calendar.py
  openbb_platform/core/openbb/package/equity_compare.py
  openbb_platform/core/openbb/package/equity_discovery.py
  openbb_platform/core/openbb/package/equity_estimates.py
  openbb_platform/core/openbb/package/equity_fundamental.py
  openbb_platform/core/openbb/package/equity_ownership.py
  openbb_platform/core/openbb/package/equity_price.py
  openbb_platform/core/openbb/package/equity_shorts.py
  openbb_platform/core/openbb/package/etf.py
  openbb_platform/core/openbb/package/fixedincome.py
  openbb_platform/core/openbb/package/fixedincome_corporate.py
  openbb_platform/core/openbb/package/fixedincome_government.py
  openbb_platform/core/openbb/package/fixedincome_rate.py
  openbb_platform/core/openbb/package/fixedincome_spreads.py
  openbb_platform/core/openbb/package/index.py
  openbb_platform/core/openbb/package/index_price.py
  openbb_platform/core/openbb/package/news.py
  openbb_platform/core/openbb/package/regulators.py
  openbb_platform/core/openbb/package/regulators_cftc.py
  openbb_platform/core/openbb/package/regulators_sec.py
  openbb_platform/core/openbb/package/uscongress.py
  openbb_platform/core/poetry.lock
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/devtools/pyproject.toml
  openbb_platform/extensions/platform_api/poetry.lock
  openbb_platform/extensions/platform_api/pyproject.toml
  openbb_platform/poetry.lock
  openbb_platform/providers/famafrench/__init__.py
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/nasdaq/pyproject.toml
  openbb_platform/providers/tests/test_provider_fetcher.py
  openbb_platform/pyproject.toml
  openbb_platform/tests/conftest.py
  openbb_platform/tests/test_extension_map.py
  openbb_platform/tests/test_pyproject_toml.py
Labels: enhancement, platform, v4, security, feature

#7206 docs: improve documentation for logging_service file
  openbb_platform/core/openbb_core/app/logs/logging_service.py
Labels: bug, platform, v4

#7202 [Feature] Expand MCP Server Configurability
  openbb_mcp_server/app/auth.py
  openbb_platform/extensions/mcp_server/README.md
  openbb_platform/extensions/mcp_server/openbb_mcp_server/app/__init__.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/app/app.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/app/auth.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/main.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/models/__init__.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/models/mcp_config.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/models/prompts.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/models/registry.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/models/settings.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/models/tools.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/py.typed
  openbb_platform/extensions/mcp_server/openbb_mcp_server/service/__init__.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/service/mcp_service.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/utils/app_import.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/utils/config.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/utils/fastapi.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/utils/route_filtering.py
  openbb_platform/extensions/mcp_server/openbb_mcp_server/utils/settings.py
  openbb_platform/extensions/mcp_server/poetry.lock
  openbb_platform/extensions/mcp_server/pyproject.toml
  openbb_platform/extensions/mcp_server/tests/app/test_app.py
  openbb_platform/extensions/mcp_server/tests/app/test_auth.py
  openbb_platform/extensions/mcp_server/tests/app/test_server_prompts.py
  openbb_platform/extensions/mcp_server/tests/models/test_mcp_config.py
  openbb_platform/extensions/mcp_server/tests/models/test_mcp_registry.py
  openbb_platform/extensions/mcp_server/tests/models/test_mcp_settings.py
  openbb_platform/extensions/mcp_server/tests/models/test_prompts.py
  openbb_platform/extensions/mcp_server/tests/models/test_tools.py
  openbb_platform/extensions/mcp_server/tests/service/test_mcp_service.py
  openbb_platform/extensions/mcp_server/tests/test_config.py
  openbb_platform/extensions/mcp_server/tests/test_main.py
  openbb_platform/extensions/mcp_server/tests/test_route_filtering.py
  openbb_platform/extensions/mcp_server/tests/test_schemas.py
  openbb_platform/extensions/mcp_server/tests/test_settings.py
  openbb_platform/extensions/mcp_server/tests/utils/test_app_import.py
  openbb_platform/extensions/mcp_server/tests/utils/test_compress_schema.py
  openbb_platform/extensions/mcp_server/tests/utils/test_fastapi.py
Labels: enhancement, platform, v4

#7222 [Feature] `openbb-platform-api`: Add MCP Tool ID To Autogenerated Widget Spec
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
  openbb_platform/extensions/platform_api/tests/mock_widgets.json
  openbb_platform/providers/nasdaq/tests/record/expected_widgets.json
Labels: enhancement, platform, v4

#7220 [Security] Resolve Dependabot #2261 and #2262
  cli/poetry.lock
  openbb_platform/extensions/mcp_server/poetry.lock
Labels: bug, dependencies, platform, v4, security, P2

#7223 [BugFix] Remove Unused Workflows & Add Permissions Block To Remaining Jobs
  .github/workflows/deploy-pypi-nightly.yml
  .github/workflows/deploy-test-pypi.yml
  .github/workflows/draft-release.yml
  .github/workflows/general-linting.yml
  .github/workflows/gh-branch-name-check.yml
  .github/workflows/gh-pr-labels.yml
  .github/workflows/macos-build.yml
  .github/workflows/test-integration-platform.yml
  .github/workflows/test-unit-cli.yml
  .github/workflows/test-unit-platform.yml
Labels: bug, security, P2
