Repository OpenBB-finance/OpenBB, pull requests merged in 2025-03, with the labels that each got.

#7049 upload-artifact?
  .github/workflows/macos-build.yml
Labels: bug, platform

#7046 [BugFix] `openbb-platform-api` - Fix `$.` References Being Deleted Outside Of Loop
  openbb_platform/extensions/platform_api/README.md
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/api.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/openapi.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
  openbb_platform/extensions/platform_api/pyproject.toml
Labels: bug, platform, v4

#7048 [BugFix] Downgrade Plotly To 5.24.1 For JSON Output Formatting
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/obbject_extensions/charting/pyproject.toml
Labels: bug, platform, v4

#7051 Release/openbb core 1.4.2
  openbb_platform/core/openbb_core/app/extension_loader.py
  openbb_platform/core/poetry.lock
  openbb_platform/core/pyproject.toml
Labels: platform, release, v4

#7057 [BugFix] `obb.regulators.sec.filing_headers` Fix Accessing Local Before Assignment
  openbb_platform/providers/sec/openbb_sec/models/sec_filing.py
Labels: bug, platform, v4

#7059 [BugFix] Fix yFinance Intraday "end_date" Filter
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
Labels: bug, platform, v4

#7060 Improve openbb api launcher
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/api.py
  openbb_platform/extensions/platform_api/tests/test_api.py
Labels: enhancement, platform, v4

#7058 [BugFix] Move `showwarning` To Outside `catch_warnings` Context Block
  openbb_platform/core/openbb_core/app/command_runner.py
  openbb_platform/core/openbb_core/app/model/preferences.py
Labels: bug, platform, v4

#7055 [Feature] `openbb-platform-api` - Create Entry In `widgets.json` For Forms
  openbb_platform/extensions/platform_api/README.md
  openbb_platform/extensions/platform_api/openbb_platform_api/query_models.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/openapi.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/widgets.py
  openbb_platform/extensions/platform_api/tests/mock_openapi.json
  openbb_platform/extensions/platform_api/tests/mock_widgets.json
  openbb_platform/extensions/platform_api/tests/test_openapi_utils.py
Labels: enhancement, platform, v4

#7069 [BugFix] Fixes Docstring Generator Broken By #7066
  cli/openbb_cli/argparse_translator/argparse_translator.py
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
  openbb_platform/extensions/econometrics/openbb_econometrics/econometrics_router.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/openapi.py
  openbb_platform/extensions/platform_api/tests/mock_openapi.json
  openbb_platform/extensions/platform_api/tests/mock_widgets.json
  openbb_platform/extensions/platform_api/tests/test_openapi_utils.py
  openbb_platform/extensions/quantitative/openbb_quantitative/performance/performance_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/quantitative_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/rolling/rolling_router.py
  openbb_platform/extensions/quantitative/openbb_quantitative/stats/stats_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_router.py
  openbb_platform/extensions/technical/openbb_technical/technical_views.py
Labels: bug, platform, v4

#7075 [BugFix] `etf.sectors(provider='tmx')` - Fix Key Error When No Info Found
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/openapi.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_countries.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_holdings.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_search.py
  openbb_platform/providers/tmx/openbb_tmx/models/etf_sectors.py
  openbb_platform/providers/tmx/openbb_tmx/models/index_sectors.py
Labels: bug, platform, v4

#7074 [Enhacement] Cleanup CompanyFilings
  openbb_platform/core/openbb_core/provider/standard_models/company_filings.py
  openbb_platform/extensions/equity/integration/test_equity_api.py
  openbb_platform/extensions/equity/integration/test_equity_python.py
  openbb_platform/extensions/equity/openbb_equity/fundamental/fundamental_router.py
  openbb_platform/providers/fmp/openbb_fmp/models/company_filings.py
  openbb_platform/providers/intrinio/openbb_intrinio/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/models/company_filings.py
  openbb_platform/providers/sec/openbb_sec/utils/form4.py
  openbb_platform/providers/tmx/openbb_tmx/models/company_filings.py
Labels: enhancement, platform, v4, breaking_change

#7077 [BugFix] Safely Access `openapi_extra` When None
  openbb_platform/core/openbb_core/api/router/commands.py
  openbb_platform/core/openbb_core/app/router.py
  openbb_platform/core/openbb_core/app/static/package_builder.py
Labels: bug, platform, v4

#7065 [Feature] FOMC Documents With Workspace Multi-File Viewer Widget
  cli/openbb_cli/argparse_translator/obbject_registry.py
  cli/openbb_cli/controllers/base_platform_controller.py
  openbb_platform/extensions/economy/integration/test_economy_api.py
  openbb_platform/extensions/economy/integration/test_economy_python.py
  openbb_platform/extensions/economy/openbb_economy/economy_router.py
  openbb_platform/extensions/platform_api/openbb_platform_api/assets/default_templates.json
  openbb_platform/extensions/tests/utils/router_testers.py
  openbb_platform/openbb/assets/reference.json
  openbb_platform/openbb/package/economy.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/assets/__init__.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/assets/historical_releases.json
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/models/fomc_documents.py
  openbb_platform/providers/federal_reserve/openbb_federal_reserve/utils/fomc_documents.py
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fomc_documents_fetcher_urllib3_v1.yaml
  openbb_platform/providers/federal_reserve/tests/record/http/test_federal_reserve_fetchers/test_federal_reserve_fomc_documents_fetcher_urllib3_v2.yaml
  openbb_platform/providers/federal_reserve/tests/test_federal_reserve_fetchers.py
Labels: enhancement, platform, v4, feature
