Repository OpenBB-finance/OpenBB, pull requests merged in 2025-05, with the labels that each got.

#7105 [Security] Bump Vite in `frontend-components`
  frontend-components/plotly/package-lock.json
  frontend-components/plotly/package.json
  frontend-components/tables/package-lock.json
  frontend-components/tables/package.json
Labels: bug, platform, v4, security

#7107 [BugFix] Patch yFinance For The Change To `curl-cffi`
  openbb_platform/providers/yfinance/openbb_yfinance/models/balance_sheet.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/cash_flow.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/company_news.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_profile.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/equity_quote.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/etf_info.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/historical_dividends.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/income_statement.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_executives.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/key_metrics.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/options_chains.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/price_target_consensus.py
  openbb_platform/providers/yfinance/openbb_yfinance/models/share_statistics.py
  openbb_platform/providers/yfinance/openbb_yfinance/utils/helpers.py
  openbb_platform/providers/yfinance/poetry.lock
  openbb_platform/providers/yfinance/pyproject.toml
Labels: bug, platform, v4

#7109 [BugFix] Fix `to_df` in `OptionsChainsData`
  openbb_platform/core/openbb_core/app/model/obbject.py
Labels: bug, platform, v4

#7116 [Security] Regenerate `poetry.lock` Files For Dependabot
  openbb_platform/extensions/commodity/poetry.lock
  openbb_platform/extensions/crypto/poetry.lock
  openbb_platform/extensions/currency/poetry.lock
  openbb_platform/extensions/derivatives/poetry.lock
  openbb_platform/extensions/devtools/poetry.lock
  openbb_platform/extensions/econometrics/poetry.lock
  openbb_platform/extensions/economy/poetry.lock
  openbb_platform/extensions/equity/poetry.lock
  openbb_platform/extensions/etf/poetry.lock
  openbb_platform/extensions/fixedincome/poetry.lock
  openbb_platform/extensions/index/poetry.lock
  openbb_platform/extensions/news/poetry.lock
  openbb_platform/extensions/platform_api/poetry.lock
  openbb_platform/extensions/quantitative/poetry.lock
  openbb_platform/extensions/regulators/poetry.lock
  openbb_platform/extensions/technical/poetry.lock
  openbb_platform/obbject_extensions/charting/poetry.lock
  openbb_platform/providers/alpha_vantage/poetry.lock
  openbb_platform/providers/benzinga/poetry.lock
  openbb_platform/providers/biztoc/poetry.lock
  openbb_platform/providers/bls/poetry.lock
  openbb_platform/providers/cboe/poetry.lock
  openbb_platform/providers/cftc/poetry.lock
  openbb_platform/providers/deribit/poetry.lock
  openbb_platform/providers/ecb/poetry.lock
  openbb_platform/providers/econdb/poetry.lock
  openbb_platform/providers/eia/poetry.lock
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/finra/poetry.lock
  openbb_platform/providers/finviz/poetry.lock
  openbb_platform/providers/fmp/poetry.lock
  openbb_platform/providers/fred/poetry.lock
  openbb_platform/providers/government_us/poetry.lock
  openbb_platform/providers/imf/poetry.lock
  openbb_platform/providers/intrinio/poetry.lock
  openbb_platform/providers/multpl/poetry.lock
  openbb_platform/providers/nasdaq/poetry.lock
  openbb_platform/providers/oecd/poetry.lock
  openbb_platform/providers/polygon/poetry.lock
  openbb_platform/providers/sec/poetry.lock
  openbb_platform/providers/seeking_alpha/poetry.lock
  openbb_platform/providers/stockgrid/poetry.lock
  openbb_platform/providers/tiingo/poetry.lock
  openbb_platform/providers/tmx/poetry.lock
  openbb_platform/providers/tradier/poetry.lock
  openbb_platform/providers/tradingeconomics/poetry.lock
  openbb_platform/providers/wsj/poetry.lock
Labels: bug, platform, v4, security, P2

#7120 Update Agents reference in README.md
  README.md
Labels: bug, platform, v4

#7122 Improve README with workspace integration
  README.md
Labels: docs

#7123 Improve README with workspace integration
  README.md
Labels: enhancement

#7125 Better landing page when running openbb-api
  openbb_platform/extensions/platform_api/openbb_platform_api/assets/landing_page.html
  openbb_platform/extensions/platform_api/openbb_platform_api/main.py
Labels: enhancement, platform, v4

#7126 Unpin tornado while keeping the latest version in the lock file
  openbb_platform/extensions/devtools/poetry.lock
Labels: bug, platform, v4

#7128 [Release] Patch `openbb-federal-reserve` With Missing Dependency
  openbb_platform/providers/federal_reserve/poetry.lock
  openbb_platform/providers/federal_reserve/pyproject.toml
Labels: platform, release, v4

#7127 [BugFix] `openbb-platform-api` - Fix `FileExistsError` when specifying `.json` in the `widgets-path`
  openbb_platform/extensions/platform_api/README.md
  openbb_platform/extensions/platform_api/openbb_platform_api/main.py
  openbb_platform/extensions/platform_api/openbb_platform_api/utils/api.py
  openbb_platform/extensions/platform_api/pyproject.toml
Labels: bug, platform, v4

#7129 [BugFix] `openbb-core`: Fix `UserSettings.preferences` Initialization
  openbb_platform/core/openbb_core/api/auth/user.py
  openbb_platform/core/openbb_core/app/model/user_settings.py
  openbb_platform/core/tests/api/test_auth/test_user_auth.py
Labels: bug, platform, v4
